[2020-05-13 11:53] mittachaitu opened #3034 "unable to delete the pools once the CSP are marked as DeletionFailed"
## Description

- Deleted the SPC and due to some failure in cleanup of pool on the disk CSP were marked as `DeletionFailed`
[code]
- Logs of cstor-pool-mgmt container says unable to destry the pool
[code]
- Logs of cstor-pool container:
[code]
- Due to above presence of CSP blockdeviceclaim were not released

## Expected Behavior

CSP should deleted.

## Current Behavior

CSP remains in cluster s

[2020-05-13 12:52] vishnuitta commented on #3028
That makes sense @sgielen .. one PR per issue is the preferred way.
For any discussion on the approaches for fixes, feel free to reach in slack or over here.
Thanks for being persistent on this one

[2020-05-13 12:55] vishnuitta commented on #3028
That's an interesting difference. Not sure how many such differences will be there.

[2020-05-13 16:05] Biswajitghosh98 commented on #2871
Hi @kmova !
I'd be excited to take up this issue for the CNCF mentoring program. Please provide me some details on where to start :)

[2020-05-13 16:24] alexjmbarton commented on #2719
Organization: Agnes Intelligence
Website: https://agnesintel.com
Stateful Applications: Apacha Kafa, Apache Solr, Microservices
Engine: cStor, Local PV, NFS RWM
Environment: Prod, Stage and Dev
UseCase: Business
Usage: Storage of apache Solr data, Transmission of microservice messages and shared storage for microservice.

[2020-05-13 19:38] sgielen commented on #3028
I've done some tests regarding `pthread_self()` alignment, which would cause the last bits to be zero always. I wrote a little tool that spawns 1000 threads, checks their `pthread_self() & 0xffff` and reports how many threads saw what outcome.

On an amd64 system running Debian Buster, glibc 2.28-10 and Linux 4.19.0-5 this came out:

[code]

In other words, the bit pattern of `pthread_self()` on t

[2020-05-14 05:39] xUnholy opened #3037 "cstor-pool container unable to start due to libjson-c.so.2"
# Description

I got some strange errors about the libjson library. Apologies if this is in the wrong repository.

❯ k logs cstor-sparse-pool-w39i-65b4d88bbf-f4mzd cstor-pool
Disabling dumping core
sleeping for 2 sec
/usr/local/bin/zrepl: error while loading shared libraries: libjson-c.so.2: cannot open shared object file: No such file or directory

**Environment:**
- OpenEBS version: 1.9.0 (Also

[2020-05-14 05:41] xUnholy commented on #3028
I'm currently also having issues on ARM64, might not be entirely related but did you face these issues at all?

[code]

Issue Ref: https://github.com/openebs/openebs/issues/3037

[2020-05-14 06:01] kmova commented on #3037
Hi @xUnholy -- this is the right repository. Thanks for reporting this issue. I don't think we tried to test with Ubuntu 20.04 out yet.

@mynktl - may need some further information to debug this issue.

[2020-05-14 06:38] mittachaitu commented on #3034
This is possible when the pool/volume deletion is triggered and zrepl(cstor-pool container) is holding long_hold i.e `dsl_dataset_long_hold()` then destruction commands will error out saying `pool is busy`

[2020-05-14 06:48] xUnholy commented on #3037
@mynktl all my other pods are starting as per normal.

I'm deploying with the helm approach, below is the values I'm using.

[code]

I'm running on a fresh Ubuntu 20.04 Focal OS, I followed the pre-reqs and confirmed iscsid is working fine.

[code]

Upon seeing the error I also `sudo apt install -y libjson-c-dev` but to no avail. I'm creating the StorPool WITHOUT specifying diskList and it appears

[2020-05-14 07:50] mittachaitu commented on #3034
Workaround for this fix is to remove the `openebs.io/pool-protection` finalizer on CSP which are DeletionFailed state using `kubectl edit csp <csp_name>`.

Ex: `kubectl edit csp test-cstor-provision-sparse-pool-auto-1589218403480892203-5k3n`

[2020-05-14 09:08] sgielen commented on #3037
I had this issue as well. It is caused by the fact that zrepl is built outside Docker, so it depends on the libraries available on the building host (in this case libjson-c.so.2), and then the binary is copied into a Docker image where other libraries are available (in this case libjson-c.so.3).

I fixed it using this Dockerfile, which takes cstor-pool-arm64:1.9.0 and installs libjson-c.so.2 on it

[2020-05-14 09:09] sgielen commented on #3028
I had that as well, and responded on your issue #3037 :)

[2020-05-14 10:13] xUnholy commented on #3037
Thanks for your input @sgielen - Did you manage to publish your image that could be reused rather than myself building it again? This should be good feedback to the upstream.

[2020-05-14 10:24] sgielen commented on #3037
I have it on a private repo, sorry, don't currently have a public repository running to make it available...

[2020-05-14 11:03] xUnholy commented on #3037
@sgielen I'm trying to build your Dockerfile although there appear to be some issues - https://github.com/raspbernetes/multi-arch-images/runs/674171607

[2020-05-14 11:32] sgielen commented on #3037
That one is successfully built just before in the earlier stage of the multistage build:

[code]

Since the workdir is `/root`, the `.deb` is correctly written according to the output and the `COPY --from=build` fails, is it possible that the build system you are using does not support multistage builds?

[2020-05-14 11:33] xUnholy commented on #3037
It supports it but your COPY is pulling arm64 whereas you're downloading amd64, was this intended?

[2020-05-14 11:37] sgielen commented on #3037
Ah, that's it: I don't specify the arch anywhere in the first stage of the build, but I run it on an arm64 node, therefore it buids arm64 libjson. For you, probably, the first stage ran on an amd64 machine, so it build amd64 libjson and therefore is unable to find the arm64 file.

Could you try replacing the `FROM` of the build stage with an image that is only available for an arm64 host, or in so

[2020-05-14 15:43] mynktl commented on #3037
Thanks @sgielen for helping @xUnholy .
@xUnholy Hope you are able to build the image successfully. As of now I don't have arm machine to verify the image, i'll test it tomorrow and push the fix.
Meanwhile, i'm posting the docker file here. I've done minor modification.
[code]

[2020-05-15 00:33] xUnholy commented on #3037
For anyone following this thread, I've compiled a temporary image until the upstream works appropriately.

docker.io/raspbernetes/cstor-pool-arm64:1.9.0

[2020-05-15 00:35] xUnholy commented on #3023
I'm also happy to pick up this task as I've been involved heavily in making many popular tools multi-arch platform supported.

https://github.com/raspbernetes/multi-arch-images

Just point me to the correct repository I can work with and I can raise a PR.

[2020-05-15 00:48] xUnholy opened #3038 "Unable to attach or mount volumes: timed out waiting for the condition"
I'm attempting to run Prometheus using my cstor-sparse-pool which is deployed by default with the helm chart.

Attempted to follow the guide here https://docs.openebs.io/docs/next/troubleshooting.html with the section:
"Application pod is stuck in ContainerCreating state after deployment".
However, to no avail, I'm obviously missing something?

[code]

[code]

[code]

[code]

[code]

[code]

[2020-05-15 01:25] xUnholy commented on #3038
Looking into the PVC pods I can also see the following errors

[code]

Again the node logs

[code]

[2020-05-15 04:28] kmova commented on #3023
That would be awesome @xUnholy!

Would you like to help with NDM ( https://github.com/openebs/node-disk-manager )

The builds are automated via travis: https://github.com/openebs/node-disk-manager/blob/master/.travis.yml

NDM pushes amd64, arm64 and ppc64le images.

NDM also builds three container images: https://github.com/openebs/node-disk-manager/blob/master/Makefile#L119

Dockerfiles are under

[2020-05-15 04:33] kmova commented on #3038
From the logs above, the cstor pools are not ready yet. CSPs are all in "Init". Also I am seeing the cstor pods `cstor-sparse-pool-42rr-7fd8d787c4-mcvgh` going through restarts. Can you please check on the cstor-pool-mgmt and the cstor-pool container logs.  Might indicate the reason why they are not able to create/initialize the pool on the provided disks.

[2020-05-15 05:04] xUnholy commented on #3038
Thanks @kmova for replying!

[code]

[code]

The cstor-pool-mgmt container is spamming that error continuously.

[2020-05-15 06:23] vishnuitta commented on #3038
@xUnholy can you share SPC, SC, BDC, BD yamls as well?
[code]
Would it be possible to join slack https://slack.openebs.io through which you can expect faster response

[2020-05-15 07:18] vishnuitta commented on #3028
Using images built with the change mentioned in PR, does your testcases passing @sgielen ?

[2020-05-15 21:06] sgielen commented on #3028
https://github.com/openebs/libcstor/pull/63 is filed for the user_io_getevents issue.

My cluster has been running stable for a few days now with these changes:

- The CPU_SEQID issue (https://github.com/openebs/cstor/pull/309)
- The removal of user_io_getevents (https://github.com/openebs/libcstor/pull/63)
- My own build scripts / Dockerfile.build that calls a part of `build_image.sh` with some c

[2020-05-18 08:36] briankmatheson opened #3039 "NDM Error Reporting: show reason for not allocating available BD"
## Description

reporting on error conditions / error states should bubble up to the 'describe' event logs.  Ideally we'd have a list of error conditions like

- disk not found
- disk is partitioned
- disk is mounted
- disk is "claimed" by ndm for "PVC"
- unknown failure
etc.

...such that we can document the complete list of error conditions.

## Context

Especially when experimenting with differ

[2020-05-18 08:45] briankmatheson commented on #3039
BTW, to successfully get out of this error condition, I did the following:

delete all the pvcs
delete all the bdcs
delete all the bds
wipefs all of the nvme drives
restart (delete all) ndm daemonset

Now it seems good.

[2020-05-19 04:01] vaniisgh opened #3040 "Refactor OpenEBS projects to use go-module"
## Description
Go has included support for versioned modules and users are encouraged to migrate to modules from other dependency management systems. It is a relatively easier system for package management and would be nice to have.

## Context
Here is the [wiki](https://github.com/golang/go/wiki/Modules) with the details on Go Modules
an official go [blog post](https://blog.golang.org/migrating-t

[2020-05-19 04:12] vaniisgh opened #3041 "Add detailed documentation on building mayactl"
## Description
It would be nice to have all information regarding building and testing mayactl under the same header in possibly in the [developers guide](https://github.com/openebs/maya/blob/master/docs/developer.md).

- It would be nice to have subsections in the documentation on mayactl, the control plane elements, and sidecars separately.
- This would make it clear that mayactl can be built an

[2020-05-19 04:16] kmova commented on #3040
The following projects need help with refactoring to use go modules.
- https://github.com/openebs/zfs-localpv
- https://github.com/openebs/node-disk-manager
- https://github.com/openebs/maya

Some of the projects that have already been refactored are:
- https://github.com/openebs/cstor-operators
- https://github.com/openebs/velero-plugin
- https://github.com/openebs/cstor-csi
- https://github.com/

[2020-05-19 07:28] kmova opened #3042 "NDM should detect if Block Device has ZFS Local PV and Mayastor"
ZFS Local PV and Mayastor are two new engines currently in alpha, that can be installed independently from OpenEBS/NDM.  There is work in progress to integrate ZFS Local PV and Maystor to make use of NDM to create pools.

Till that is done, this issue is created to make sure there are checks implemented in NDM to avoid cases like - modifying or claiming the devices that are already running Mayasto

[2020-05-19 07:52] kmova opened #3043 "Migrate existing BlockDevices to use new generated UUID format."
This mainly impacts the virtual devices that do not have any existing unique identifiers like serial number or WWN.

The old (legacy) UUID was based on the hostname and path of the block device. As it is susceptible to change on reboot or if the device is moved to a new node, the new UUID format makes use of information stored on the Block devices like Partition ID or Filesystem ID.

This issue is

[2020-05-19 08:13] pawanpraka1 commented on #2925
duplicate of https://github.com/openebs/openebs/issues/2960.

[2020-05-19 08:13] #2925 closed

[2020-05-19 09:41] mynktl commented on #3028
Hi @sgielen

This is no out of bounds read. While setting up a ring, kernel allocates events/buffer more than requested. So head/tail index doesn't need to be < `zfs_vdev_max_active`.

Sharing snippet to figure out the actual array length of event(aio_ring->nr).
[code]
AIO context can be used in userspace to reduce the context switching. So i don't think this should cause any issue to you. Please

[2020-05-19 09:42] vaniisgh commented on #3040
Can we mark this a good first issue & can I try to resolve this on the Maya repository :)

[2020-05-19 10:17] vishnuitta commented on #3028
based on above comments, @sgielen would it be worth to try one more time in your ARM cluster with the changes done for CPU_SEQID?

[2020-05-19 17:44] kmova commented on #288
There have been some enhancements to the OpenEBS release process in 1.9 and 1.10 to allow for a repository to automatically tag the downstream repo, once it is successfully built.

Tagging the https://github.com/openebs/linux-utils, will result in creating the tags and pushing the images from following repositories.
-  https://github.com/openebs/linux-utils
- https://github.com/openebs/libcstor
-

[2020-05-20 04:46] pawanpraka1 commented on #2928
Blog has been published : https://blog.mayadata.io/openebs/snapshot-and-clone-for-zfs-localpv

[2020-05-20 04:46] #2928 closed

[2020-05-20 19:42] sgielen commented on #3028
I've looked back on my notes from then, and according to Valgrind it was – not just an uninitialized read, but actual unaddressable memory, which would lead to a SEGV normally. According to my (admittedly cryptic) notes:

[code]

Since `zfs_vdev_max_active` is 128, you are right, it looks like more more memory than 128 objects is allocated, namely 256 (since events[255] is the last item). But, sin

[2020-05-20 20:29] sgielen commented on #3028
Am running a release build without the removal of user_io_getevents to confirm it is as stable without that patch...

[2020-05-21 06:22] prateekpandey14 opened #3046 "failed calling webhook "admission-webhook.openebs.io": Post https://admission-server-svc.openebs.svc:443/validate?timeout=5s: context deadline exceeded"
## Description
From 1.10.0 Openebs release onwards webhook failure policy has been updated to `Fail` which means any error calling webhook will block the user to perform PVC create/delete operations as accepted.

This error could be due happen below cases:

1. Webhook listen a service with port `:443` , check weather port is open and allowed in security groups settings.
2. Restart of the Node/Roll

[2020-05-21 07:28] utkarshmani1997 commented on #2978
Close via openebs/jiva#301

[2020-05-21 07:28] #2978 closed

[2020-05-21 11:25] sgielen commented on #3028
1 of 3 nodes is now running with `user_io_getevents` enabled again. To confirm this, I attached with GDB to check the stat values:

[code]

[2020-05-22 07:36] akhilerm commented on #1910
Alpha support for partitions has been added in openebs 1.10.  With this each separate partition is treated as separate block devices and can be used for different purposes. More details on enabling the feature can be found [here](https://github.com/openebs/openebs/wiki/Change-Summary-v1.10#alpha-feature-updates)

[2020-05-22 08:27] sgielen commented on #3028
No crashes in that node so far, so it's looking like that "Cannot access memory" error is a different thing... I'll move another node to the new version today so we can get some more testing coverage.

[2020-05-22 08:28] sgielen commented on #3028
That would mean https://github.com/openebs/cstor/pull/310 is the last remaining issue at this moment to ensure a stable arm64 release. Once that one's fixed and my cluster has been running stable for a couple days, I'll try to spend some more time looking at the unit test failures I've been seeing before.

[2020-05-22 11:07] sgielen opened #3049 "OpenEBS cStor provisioner stuck in "leader election lost""
## Description

I have a 4-node ARM64 cluster running OpenEBS 1.9.0 with some existing cStor volumes that are working well. I am running only a single instance of the OpenEBS cStor provisioner, but it looks like it got stuck in a "leader election lost" state and did not automatically recover.

(Side note: I have two changes with regards to 1.9.0 upstream. Both are related to the cStor disk pool an

[2020-05-22 12:36] vishnuitta commented on #3028
yes @sgielen .. that should be the last bit of fix required to get a stable build this time.

But, for ensuring stable one for every release, probably, we need a CI/CD for arm builds to catch these type of issues. Community seems to be building around this requirement.

Your contribution in finding / fixing CPU_SEQID issue with Valgrind is a very helpful one for OpenEBS ARM community.
While writin

[2020-05-23 07:06] aureq commented on #2694
Has anyone been able to fix this issue for themselves? And if yes, how?

I followed [this](https://docs.openebs.io/docs/next/troubleshooting.html#admission-server-ca) by deleting the admission-server pod, but without success.

[2020-05-23 07:10] prateekpandey14 commented on #2694
@aureq what version of openebs you are using , its has

[2020-05-23 07:11] aureq commented on #2694
@prateekpandey14 I'm using 1.10.0.

[2020-05-23 07:14] prateekpandey14 commented on #2694
If you are ok can you join the [openebs slack](https://openebs-community.slack.com/?redir=%2Fmessages%2Fopenebs-users%2F#/n) to continue the discussion there ?

[2020-05-23 07:23] aureq commented on #2694
@prateekpandey14 somehow your slack server is asking me for a login/pass. Is there any restriction?

[2020-05-23 07:25] prateekpandey14 commented on #2694
better to check this link https://openebs.io/community

[2020-05-23 16:39] sgielen commented on #3028
All three nodes are now running the same version, including just the fixes for the CPU_SEQID issue and the JSON build. I haven't had any instabilities or pod restarts. :)

[2020-05-24 20:16] sgielen commented on #3028
Closing, as there are no restarts over the past days after the `CPU_SEQID` issue.

I'm waiting for https://github.com/openebs/cstor/pull/310 to be landed, though – please don't forget that one as we're getting closer to end of May...

Regarding the Valgrind traps, if I or someone else ever want to continue troubleshooting using valgrind/gdb, I have the following changes to reduce traps that I cons

[2020-05-24 20:16] #3028 closed

[2020-05-26 08:36] aureq commented on #2694
To close down this issue. here is some extra information other people might find useful on how I solved this issue.

I run in a proxied environment which means to reach the internet, a proxy is required. since Kubernetes is API driven, administrators should be careful to set the right value for the environment variable `NO_PROXY`.

I have a mostly flat network structure, and the proxy is only requ

[2020-05-26 10:00] armandleopold commented on #1295
Hello, when taking  The updated YAML is here: https://openebs.github.io/charts/openebs-operator-arm-dev.yaml, on Raspberry Pi 4  k3s Cluster in aarch64 OS architecture, i am getting all good from the  openebs, except for the maya-apiserver

[code]

I get  a :
[code]

And description of the pod gives :
[code]

Can you help me ?
It seems that a sandbox pod is not able to run correctly, don't know wh

[2020-05-26 13:28] mynktl commented on #3028
Thank you @sgielen for the confirmation and trying valgrind on zrepl!

It seems changes in https://github.com/openebs/libcstor/pull/63 are not required anymore, I'll close https://github.com/openebs/libcstor/pull/63.

Thanks!

[2020-05-26 17:55] vielmetti commented on #1295
"exec format error" is usually a signal that the binary in a container is for the wrong architecture, which in turn is usually a signal that the container in the registry does not have multiarch support.

quay.io/openebs/m-apiserver:1.10.0

Looking at

https://github.com/openebs/maya/blob/master/buildscripts/apiserver/Makefile.mk

it appears that the arm64 binaries are in a separate container in t

[2020-05-26 17:59] vielmetti commented on #1295
the latest touch in that repo was from @kmova - are there any technical blockers to making a single multiarch image for m-apiserver  that would include both arm64 and amd64 files?

[2020-05-26 19:08] armandleopold commented on #1295
Thanks  it works !
Editing :
[code]
To
[code]

[2020-05-27 00:28] #2933 closed

[2020-05-27 05:49] kmova commented on #1295
@vielmetti @armandleopold - the multi-arch support is under development. One challenge we have currently is with managing the dependencies on the CGO / gcc for some components like NDM. The development is being tracked under: #3023

@xUnholy is currently helping to sort this out. https://github.com/openebs/node-disk-manager/pull/428

[2020-05-28 00:33] #2940 closed

[2020-05-28 05:38] prateekpandey14 commented on #3046
Findings:
Similar error has been found in RKE based cluster while helping a user in openebs slack,  Node where admission server pod were scheduled has been restarted due to some node configuration changes( increase node resources), and then user started getting this error, and later we tried to rescheduled the admission server pod in different node which resolved the issue.

[2020-05-28 06:27] mittachaitu commented on #3002
PR with the framework and test cases got merged in 1.11.0. More test cases will be added based on the requirement.

[2020-05-28 06:28] #3002 closed

[2020-05-30 13:51] akhilerm commented on #1295
@armandleopold The fix for maya apiserver arm image is taken in [this](https://github.com/openebs/charts/pull/108) PR

[2020-06-01 00:24] #2941 closed

[2020-06-02 03:36] wanfuuyu opened #3051 "Status for BD changes periodically"
## Description

Feature GPTBasedUUID: Enabled

Status for BD changes from active to inactive while a disk has no partitions but with a partitionTable after ndm restart

## Expected Behavior

Nothing

## Current Behavior

Status for other BlockDevices changes between active and  inactive  periodically

## Steps to Reproduce

1. Attach Two disk(sda, sdb) into Ubuntu(VM) and then we  got two Active B

[2020-06-02 03:53] akhilerm commented on #3051
NDM autocreate partitions on the disk, if it is unable to identify the disk uniquely. Therefore, in your case bdA, will be actually pointing to `/dev/sda1`. When the partition is deleted, bdA will become inactive.

Can you get the logs of the NDM pod ?

Also, a question: why was the partition created by NDM for sda deleted?

[2020-06-02 05:26] wanfuuyu commented on #3051
[node-disk-manager.log](https://github.com/openebs/openebs/files/4714905/node-disk-manager.log)
[code]
emmm,, sdd is kind like sda metioned above, and I just delete sdd1 manually。。。

[2020-06-02 05:46] akhilerm commented on #3051
`sdd1` was created by NDM, to uniquely identify the disk. If you delete the partition, the GPT partition table still exists and further NDM won't be able to create partitions
[code]
This error shows the above case I mentioned.

Why was the partition manually deleted on `sdd`?

[2020-06-02 06:08] wanfuuyu commented on #3051
I have no questions about sdd issue, but what happend to other BlockDevices actual confused me..There shouldn't be a status changing.

[2020-06-02 07:45] #2915 closed

[2020-06-02 10:10] surajssd opened #3052 "Latest chart fails to install CRD"
Latest chart fails to install CRD

## Description

I installed openebs using following commands:

[code]

And here are two pods in `CrashLoopBackOff`:

[code]

And logs from these pods:

[code]

[code]

The chart just exposes the flag to disable CRD installation by operator. But it does not provide any CRD configs in the chart itself. OTOH the operator still has permissions to manipulate `customre

[2020-06-03 03:04] Halytskyi commented on #1295
I have multi-arch k8s cluster.
2 nodes amd64 and 4 nodes arm64.
In deployment I can choose only one architecture, therefore, have issue with openebs on other arch.
For example, when I use "local pv hostpath" and "openebs-localpv-provisioner" deployed on amd64, it's not working on arm64 device as "linux-utils" defined for amd64:
[code]

Any way to deploy OpenEBS on multi-arch cluster now or need wa

[2020-06-03 10:45] kmova opened #3053 "Migrate OpenEBS Slack to Kubernetes/CNCF Slack"
CNCF requested that OpenEBS Slack instance should be migrated to the CNCF owned slack to keep it vendor-neutral.

- Kubernetes slack also has a [#openebs](https://kubernetes.slack.com/messages/openebs/) channel at slack.k8s.io

Some background [here](https://github.com/falcosecurity/falco/issues/983#issuecomment-625901549):

This is a disruptive change for the existing users, but in the interest o

[2020-06-03 10:52] kmova commented on #3053
In the last couple of months, we have observed that the users are more active on the [Kubernetes openebs slack channel](https://kubernetes.slack.com/messages/openebs/), which can be attributed to the fact that OpenEBS users are also active in related Kubernetes projects/communities like Velero, Litmus, K8s-sig-storage, and other sig-storage workgroup channels.

[2020-06-04 00:23] #2931 closed

[2020-06-04 00:34] Halytskyi commented on #3023
Have the similar issue described in https://github.com/openebs/openebs/issues/1295

[2020-06-04 02:16] kmova commented on #3023
@brandond - can you create a separate issue for:

The helm chart can be fixed easily.

We are in the process of getting the multi-arch support added in 1.11 release. Here is the initial PR from @xUnholy
- https://github.com/openebs/node-disk-manager/pull/428

[2020-06-04 05:25] akhilerm commented on #3051
yes, can you share the logs of the NDM daemonset pod from the node where `state` was changing?

[2020-06-04 06:07] prateekpandey14 opened #3054 "Update all OpenEBS CRDs to v1 api group"
## Description

We're currently generating and installing `apiextensions.k8s.io/v1beta1` CRDs for mainly for backwards compatibility. The apiextensions API group graduated to `v1` as of Kubernetes 1.16, and the v1beta1 version of the group is scheduled to be dropped in an upcoming Kubernetes release (~1.22.x).

At some point (before v1beta1 is dropped for good) we need to updated our generated CRD

[2020-06-04 14:20] kmova commented on #3052
Thanks @surajssd for bringing out these.  We are also in the process of migrating the helm from:
- https://github.com/helm/charts/tree/master/stable/openebs ( to )
- https://github.com/openebs/charts/tree/master/charts/openebs

Will take this up for 1.11

[2020-06-05 00:23] #2945 closed

[2020-06-07 00:24] #1910 closed

[2020-06-07 18:16] akhilerm commented on #3042
Fixed in [#430](https://github.com/openebs/node-disk-manager/pull/430)

[2020-06-07 18:16] #3042 closed

[2020-06-08 05:39] mittachaitu commented on #3034
This issue was observed in openebs.ci pipelines and it has been fixed via https://github.com/openebs/maya/pull/1695 and verifies the last 4 pipelines in openebs.ci all the CStor related BDDs were successful hence closing the issue.

[2020-06-08 05:39] #3034 closed

[2020-06-09 02:33] wanfuuyu commented on #3051
`device(/dev/sdc1) is a partition, using partition UUID: 13748513-01` shows in  [logs](https://github.com/openebs/openebs/files/4714905/node-disk-manager.log) again and again in quite short duration

Probably it's because of the `rescan`  from the `udevProbe` when  `addBlockDevice` for `sdd` failed

[2020-06-09 07:47] KhoaNPA opened #3056 "OpenEBS is unable to delete SPC, SCP, SP, BlockDevice"
## Description
I created EKS with Terraform.
I mounted some EBS to some EC2 instances, then use Terraform to increase the number of nodes (old EC2 instances were terminated and new EC2 instances were added to the EKS cluster ,then I also enabled iSCSI client manually on nodes). So, previous EBS were unattached, but theirs BlockDevices still existed with Status **Active**.

I try to remove above Bl

[2020-06-09 09:28] akhilerm opened #3057 "Display filesystem present on BlockDevice in kubectl output"
## Description

Currently the kubectl output for BlockDevice shows as:
[code]

and
[code]
It will be good to have filesystem also displayed in the `-o wide` output

## Context

Displaying filesystem also along with the default output helps users to check if the blockdevice can be used for storage engine like cstor (cstor requires blockdevice without filesystem). This removes the hassle of describi

[2020-06-09 09:45] akhilerm commented on #3051
Yes, everytime a rescan is performed, initially the state of all BlockDevices is marked as `Inactive`, and then they are marked as `Active` in the order in which they appear.

Now that we have found the root cause, we need to know why the partition creation failed on sdd.

[2020-06-09 10:58] wanfuuyu commented on #3051
As mentioned above, an existing partition table makes `CreateSinglePartition` failed.

So delete the partitions created by NDM manually can be a unrecoverable disaster for NDM ? ?

[2020-06-09 11:59] akhilerm commented on #3051
If you delete the partition and wipe the disk, then it won't be an issue, because the partition table labels also gets removed while wiping. Thus NDM will be able to create another partition on the disk.

But if partition table exists, but without any partitions on the disk, NDM will continously error out.

[2020-06-09 12:26] mittachaitu commented on #3057
@akhilerm It's great idea to display filesystem in `-o wide`. I am little worried about FS info in `Blockdevice -o yaml` might be outdated. Am I right on this?

[2020-06-09 12:30] akhilerm commented on #3057
Yes @mittachaitu , the filesystem field can be outdated in some cases, when the device is formatted with a filesystem after NDM installation and no udev events were generated by the system.

[2020-06-09 14:42] stevefan1999-personal commented on #2719
### Stateful Applications that you are running on OpenEBS
[Agones](https://agones.dev/site/)

### Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?
Local PV

### Are you evaluating or already using in development, CI/CD, production
Already in development

### Are you using for home use or for your organization
Personal

### A brief description of the use case

[2020-06-10 00:24] #2949 closed

[2020-06-10 06:22] KhoaNPA commented on #1896
same issue with EKS

[2020-06-11 10:06] gprasath commented on #3046
This issue is observed in konvoy distribution also more consistently.

[2020-06-11 10:30] prateekpandey14 commented on #3046
kube-apiserver logs  pointing out the error `Error proxying data from client to backend: tls: use of closed connection`
[code]

[2020-06-12 09:33] mynktl commented on #2990
Above PR is closed and raised a [new PR](https://github.com/openebs/charts/pull/113) in openebs/charts to _gh-pages_.

[2020-06-12 13:14] darias1986 commented on #2719
**Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?**
cStor
**Stateful Applications that you are running on OpenEBS**
Minio, DataStax, Greenplum, Gridgain, mongoDB, Qlickhouse, Posgtres
**Are you evaluating or already using in development, CI/CD, production**
Production & Development
**Are you using for home use or for your organization**
Organization local cl

[2020-06-14 14:23] sgielen opened #3062 "cStor SPC upgrade job fails because container does not start quickly enough"
## Description
I am running an upgrade job on an arm64 cluster. Because the nodes are slow, it typically takes about 10 minutes for a cStor disk pool pod to restart with a new image. Most of this is in image pull, and then some in container creation. On amd64, this probably always happens quickly enough, but it seems to time out even though the process is still ongoing.

## Expected Behavior
I wou

[2020-06-14 17:21] sgielen commented on #3062
The logs and command outputs of the issue description are from a cStor SPC upgrade -- but the same thing happened during a subsequent cStor volume upgrade:

[code]

Eventually, the job had three restarts. I did not capture logs for all runs, but the final one was:

[code]

[2020-06-15 07:43] mynktl commented on #2990
Script to raise a changelog PR  : https://raw.githubusercontent.com/openebs/charts/gh-pages/scripts/release/create_changelog_pr.sh

Steps to generate changelog:
- Checkout development(usually `master`) branch
- Run script with tag name and repo name like,
[code]

  Above command will update the root  changelog  file(`CHANGELOG.md`) and `changelogs/released/v1.11.0`.

  In above command if producti

[2020-06-15 07:43] #2990 closed

[2020-06-15 08:04] mittachaitu commented on #2905
The following are the PR's that incorporate `backup and restore` support for cStor CSI based volumes.
velero-plugin:
- https://github.com/openebs/velero-plugin/pull/91
- https://github.com/openebs/velero-plugin/pull/93

cstor-csi:
- https://github.com/openebs/cstor-csi/pull/90

cstor-operaters:
- https://github.com/openebs/cstor-operators/pull/89
- https://github.com/openebs/cstor-operators/pull/8

[2020-06-15 08:05] #2905 closed

[2020-06-15 20:27] smijolovic opened #3063 "Building openEBS from source"
I've been digging to find any documentation that describes the build process for creating the various containers that make up the openEBS stack.  Can I be pointed in the right direction? We build all of our cloud stack from source code because we control the compiler versions to eliminate zero-day vulnerabilities.

[2020-06-15 22:57] stuartpb opened #3064 "Failures with persistent volume"
## Description

I just installed OpenEBS, and I've been tracking down a bug in my cluster where pods aren't getting scheduled because their volumes aren't getting provisioned. The trail goes cold at the logs for openebs-apiserver:

[code]

## Your Environment

* `kubectl get nodes`:
[code]
* `kubectl get pods --all-namespaces`:
[code]
* `kubectl get services -A`:
[code]
* `kubectl get sc`:
[code]

[2020-06-15 23:10] stuartpb commented on #3064
It might be worth noting that I'd been running OpenEBS before this without having enabled iscsid on the host (it's enabled when this error happens) - could be something to do with artifacts created under that condition.

[2020-06-16 02:24] kmova commented on #3064
Checking on this.

[2020-06-16 02:41] stuartpb commented on #3064
Here are the YAML resources for the StorageClasses / StoragePoolClaims:

[code]

And here's the blocking PVC in question:

[code]

[2020-06-16 02:54] kmova commented on #3064
The are two issues:
- OpenEBS can't provision volumes if the name of the PVC is more than 63 chars long. https://github.com/openebs/openebs/issues/2630
- The error is causing a panic, due to a change that went in 1.11.0, which is trying to extract information from created volume object, even when the volume creation failed.

[2020-06-16 02:58] stuartpb commented on #3064
I tried deleting and re-creating the storage pools / classes, and now I'm seeing errors like this from the apiserver:

[code]

[2020-06-16 03:01] kmova commented on #3064
For the Prometheus chart, can you try to set the metadata.name to allow for < 63 chars. Related issue: https://github.com/helm/charts/issues/13170

[2020-06-16 03:03] kmova commented on #3064
Regarding the deletion and re-creation, are the block devices in unclaimed state. `kubectl get bd -n openebs` OR are there any csp's that were not properly deleted. `kubectl get csp -n openebs`

[2020-06-16 03:08] stuartpb commented on #3064
The block devices are in the "Released" state; how would I transition them to Unclaimed?

[2020-06-16 03:16] kmova commented on #3064
they should transition from Released to Unclaimed automatically. There is a job launched to clear any traces of older cstor pool prior to marking them as unclaimed. the ndm-operator logs should help to check why they are still in the "Released" state.

[2020-06-16 03:37] ranjithwingrider commented on #3064
In my case, I have assigned value of `fullnameOverride` to `new` in [values.yaml](https://raw.githubusercontent.com/helm/charts/master/stable/prometheus-operator/values.yaml). After this change my PVC looks like below.
[code]

My pod
[code]

[2020-06-16 08:39] stuartpb commented on #3064
I used a `fullnameOverride` of `pop`, and my pod still isn't working:

[code]

[2020-06-16 08:42] stuartpb commented on #3064
This looks a lot like https://github.com/openebs/openebs/issues/1688: I'll see if Kubic isn't missing the ext4 tools.

[2020-06-16 11:31] stuartpb commented on #3064
Okay, I installed e2fsprogs and rebooted, and for a brief, beautiful moment, I think I actually did see the pod get scheduled.

Then at 09:30Z, almost on the dot, the kube API server died. [Here are the kubelet logs from when that happened](https://0x0.st/iWfE.F2hEUkD): I can't tell if the time was a coincidence, or if there's something in here the suggests what might have gone wrong.

After reboo

[2020-06-17 00:22] stuartpb commented on #3064
Well, I've decided I'm going to try bringing the cluster back up again from scratch and see if that somehow fixes it. If not, I'll do more digging and see if I can trace where the problem's coming from.

For now, I'll go ahead and consider the original issue addressed - thanks!

[2020-06-17 00:22] #3064 closed

[2020-06-18 17:48] alek-p opened #3065 "port OpenZFS's ZVOL sync write performance boosting patch to cStor"
## Description

The upstream project for cStor has made some significant changes to how sync writes are processed. These changes lead to a 2-3x performance boost which would be a nice thing to see in cStor as well so we should port these changes to cStor:
https://github.com/openzfs/zfs/commit/0929c4de398606f8305057ca540c

## Context
Since ZVOL block devices are used in cStor the referenced patch s

[2020-06-19 04:03] ChandanSagar opened #3066 "Build on forked repo is failing due to go module updates"
Build in forked repo from openebs/maya repo is failing due to go module updates.

[2020-06-23 07:30] kaitaklam opened #3067 "Can claim more disk than the device block can support"
## Description
created 6 disks on 2 worker-nodes (3 per worker-node) and let NDM to discover.
 each disk has 1 GB, so in total disksize: 6 GB
created StoragePoolClass cstor-raidz-pool using the 6 disks
created StorageClass openebs-sc-statefulset using the StoragePoolclass Cstor-raidz-pool
created a PersistenVolumeClaim cstor-pvc-mysql-large and request 60Gi

## Expected Behavior
I expect it would

[2020-06-23 08:07] mittachaitu commented on #3067
Hi @kaitaklam, By default, cStor operates on the concept of **thin provisioning**(We can claim more than what we have and it will mark applications volume as Read-Only once existing space is exhausted).

If you want to error out if requested claim storage is greater than existing storage(thick provisioing) then we have to set **thickProvisiong** field to **true** in spec of SPC
[code]
In the above

[2020-06-23 12:28] akhilerm opened #3068 "Run integration tests for openebs components in github actions"
## Description

Currently all the tests (unit and integration) of openebs components are done in travis-ci. Slowly these need to be migrated to github actions. The integration tests for control plane components like maya-apiserver and node-disk-manager requires a minikube cluster at the moment for testing.

Therefore the integration tests which are run in minikube need to be migrated to github act

[2020-06-23 17:41] kmova commented on #3063
The various github projects that contribute to the openebs release are listed here. https://github.com/openebs/openebs/blob/master/contribute/process/release-management.md#release-branch

The builds instructions for each repo can be seen through the .travis.yml files available under each repo.

Keeping this issue open to add a BUILD.md file to provide information on how to build. (Note that this i

[2020-06-24 00:25] #2966 closed

[2020-06-24 00:25] #2932 closed

[2020-06-24 18:40] dstathos commented on #2719
**RPI Dramble Cluster For Home Use**

**Stateful Applications that you are running on OpenEBS**

NGINX
MariaDB
Homegrown Programs

**Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV**

LocalPV and Jiva (local ISCSI server)

**Are you evaluating or already using in development, CI/CD, production**

In development, but, soon to be in home-based production

**Are

[2020-06-25 05:10] akhilerm commented on #3039
Events are now added to BlockDevice and BlockDeviceClaim resources to show errors during claiming.
Fixed in [#425](https://github.com/openebs/node-disk-manager/pull/425)

[2020-06-25 05:10] #3039 closed

[2020-06-25 12:30] nsathyaseelan opened #3069 "After Successful upgrade of CSPC pool seeing that the pool pod got restarted"
### Description
- Created CSPC pool with 1.10.0 and upgraded the pool to 1.11.0 seeing that the pool pod's got restarted after the successful upgrade

## Expected Behavior
- Pool pods should not restart

## Current Behavior
- Pool pods got restarted after successful upgrade
[code]

## Your Environment

* `kubectl get nodes`:
* `kubectl get pods --all-namespaces`:
* `kubectl get services`:
* `kubec

[2020-06-26 00:27] #2944 closed

[2020-06-26 06:51] kaitaklam commented on #3067
Okay that works, thanks

[2020-06-26 06:51] #3067 closed

[2020-06-26 06:57] kaitaklam commented on #3067
problem fixed thickProvisiong field to true

[2020-06-26 07:23] kaitaklam opened #3070 "error Internal Server Error: failed to create volume"
## Description
// apply spc
apiVersion: openebs.io/v1alpha1
kind: StoragePoolClaim
metadata:
  name: cstor-raidz-pool1
  annotations:
    cas.openebs.io/config: |
      - name: PoolResourceRequests
        value: |-
            memory: 1Gi
      - name: PoolResourceLimits
        value: |-
            memory: 1Gi
spec:
  name: cstor-raidz-pool
  type: disk
  poolSpec:
    poolType: raidz
    thick

[2020-06-26 07:51] kmova commented on #3070
The error indicates: `not enough pools available to create replicas`

Can you please check if there are 3 healthy cstor pools?

[2020-06-26 14:33] kaitaklam commented on #3070
I believe it is in the issue description.

#kubectl get csp
NAME ALLOCATED FREE CAPACITY STATUS READONLY TYPE AGE
cstor-raidz-pool1-26gt 166K 2.95G 2.95G Healthy false raidz 7m47s
cstor-raidz-pool1-3f6m 166K 2.95G 2.95G Healthy false raidz 7m48s
cstor-raidz-pool1-tuv9 166K 2.95G 2.95G Healthy false raidz 7m48s

From: Kiran Mova <notifications@github.com>
Sent: Friday, June 26, 2020 9:52 AM
To: ope

[2020-06-26 14:57] prateekpandey14 commented on #3070
@kaitaklam i think you have used the wrong name  of `StoragePoolClaim` in StorageClass annotations , the name should be `cstor-raidz-pool1` , can you verify once.

[2020-06-26 15:12] kaitaklam commented on #3070
Your are absolutely right!
Thanks

From: Prateek Pandey <notifications@github.com>
Sent: Friday, June 26, 2020 4:58 PM
To: openebs/openebs <openebs@noreply.github.com>
Cc: Kai Lam <kai.lam@mavenir.com>; Mention <mention@noreply.github.com>
Subject: [E] Re: [openebs/openebs] error Internal Server Error: failed to create volume (#3070)

[EXTERNAL EMAIL] DO NOT CLICK links or attachments unless you r

[2020-06-26 15:12] #3070 closed

[2020-06-26 15:13] kaitaklam commented on #3070
typo error

[2020-06-28 08:15] akhilerm commented on #2976
Fixed in [#416](https://github.com/openebs/node-disk-manager/pull/416).

A finalizer is added to the BlockDevice resource while claiming to prevent accidental deletion of the resource.

[2020-06-28 08:15] #2976 closed

[2020-06-28 08:23] akhilerm commented on #2891
Closing this issue as the changes required for running openebs in gravity  has been released in [gravity 7.0.0](https://github.com/gravitational/gravity/releases/tag/7.0.0).

cc: @r0mant

[2020-06-28 08:23] #2891 closed

[2020-06-28 08:25] akhilerm commented on #1210
Support for partitions has been added via  a feature gate in NDM in [PR#386](https://github.com/openebs/node-disk-manager/pull/386)

[2020-06-28 08:25] #1210 closed

[2020-06-28 18:47] sgielen commented on #3037
This is fixed in OpenEBS 1.11 and can be closed.

[2020-06-29 06:47] akhilerm commented on #2823
@nike38rus The changes for uniquely identifying disks has been merged, It can be enabled via a feature flag. More details can be found here. [ReleaseNotes](https://github.com/openebs/openebs/wiki/Change-Summary-v1.10#alpha-feature-updates)->[NDM]

[2020-06-29 10:11] kaitaklam commented on #3067
Hi,

I have configured tickProvisionig: true and poolType: raidz.

I have 3 worker nodes, with each worker nodes 3 x 1G disk: 3 nodes x 3 disks x 1G = 9 G
The question that I want to answer is, what is the net disk available for the user?

The test-result:

  *   I can create a pvc up to 1.9 GB (more than 1.95 GB, openEBS gives error).
  *   But I am able to create 8 pvcs with 1.95 GB: 8 x 1.95 =

[2020-06-29 13:09] kaitaklam opened #3071 "After removing pvc ctsorevolumereplica's are still there or having error, how to remove them?"
I just want to have a way to remove them, so that the black-devices become Unclaimed.

## Description
run kubectl delete -f pvc.yaml to delete pvcs.

For some unknown reason, There are still cstorevolumereplicas:
# kubectl get cvr -A
NAMESPACE     NAME                                                             USED   ALLOCATED   STATUS     AGE
kube-system   pvc-0a024c2c-8924-4eb2-875a-dc6ec0f0b07

[2020-06-29 13:52] mittachaitu commented on #3071
Hi @kaitaklam, Looks like tearing down the order is not followed. Can you list the steps performed to Teardown pools and volumes? Basically we need to follow:
- Delete PVC and wait till all the CStorVolume related resources to teardown(delete entries from etcd).
- Delete the SPC(StoragePoolClaim).

[2020-06-29 13:57] kaitaklam commented on #3071
I thinks I made the mistake that I didn’t check CStorVolume was removed after delete pvc.
I was forgotten to wait for CStorVolume Were completely removed and started deleting StorageClass and StoragePoolClaim.

My question is more, how to recover from this situation …

From: sai chaithanya <notifications@github.com>
Sent: Monday, June 29, 2020 3:53 PM
To: openebs/openebs <openebs@noreply.github.co

[2020-06-29 14:01] mittachaitu commented on #3071
- We can edit the CVR(CStorVolumeReplica) and remove the finalizers under metadata and it will take care of deleting from etcd.

Can I know the use case that you are performing?

[2020-06-29 14:06] kaitaklam commented on #3071
Here is the use case – 3 worker-nodes with 3 disks:

# kubectl get bd -A
NAMESPACE     NAME                                           NODENAME       SIZE          CLAIMSTATE   STATUS   AGE
kube-system   blockdevice-21f0a80c8ac4319bcb33d5b5f0c28c2d   k8s-worker-0   1073741824    Claimed      Active   5d5h
kube-system   blockdevice-3036a92092f6669e43d8a1d47a228c22   k8s-worker-2   1073741824    Clai

[2020-06-29 14:20] #3071 closed

[2020-06-29 14:22] kaitaklam commented on #3071
Problem can be fixed
 kubectl -n kube-system edit cvr  pvc-b25bd863-dd7d-4d59-9e97-24c9d6a361f3-cstor-raidz-pool-yo22

remove the flinalizers under metadata

Some for  kubectl edit csp cstor-raidz-pool-s1hk
remove the flinalizers under metadata

[2020-06-29 14:32] mittachaitu commented on #3071
@kaitaklam, Can we give a try(provisioning) using CSPC(enhanced version of SPC) and CSI volumes. With CSPC and CSI support Day-2-operations(disk replacement, volume expansion, pool expansion) can be achieved easily.
- For creating CSPC based pools you can follow https://github.com/openebs/cstor-operators#project-status
- For creating CSI volumes you can follow https://github.com/openebs/cstor-csi

[2020-06-29 14:39] kaitaklam commented on #3071
Hi Sai,

I have 3 raidz pools:
NAME                    ALLOCATED   FREE    CAPACITY   STATUS    READONLY   TYPE    AGE
cstor-raidz-pool-a2jf   184K        2.95G   2.95G      Healthy   false      raidz   12m
cstor-raidz-pool-c0vy   184K        2.95G   2.95G      Healthy   false      raidz   12m
cstor-raidz-pool-hq8a   184K        2.95G   2.95G      Healthy   false      raidz   12m

According to htt

[2020-06-29 15:16] mittachaitu commented on #3071
cstor-raidz-pool-a2jf   184K               2.95G   2.95G           Healthy      false               raidz     12m
According to https://docs.openebs.io/docs/next/ugcstor.html#deleting-a-cStor-volume 1 disk for parity and 2 disks are used for data.
So I assume that it should allow me to claim 2 x 2.95 GB = 5.9 GB

Here, FREE represents available space without negotiating parity disk space(parity is

[2020-06-30 00:25] #2974 closed

[2020-06-30 00:25] #2898 closed

[2020-06-30 06:56] kaitaklam commented on #3071
Here, FREE represents available space without negotiating parity disk space(parity is distributed across all the disks). If we attach 3 1GB disks to the node then Total usable Capacity will be ~2GB because 1GB is for parity. So we can't provision volume having a capacity greater than 2G.
[KL] I agree that is per node, I get ~2G. But if I have 3 nodes. Wouldn’t the cStor pool adds up 3 node x ~2G =

[2020-06-30 07:59] mittachaitu commented on #3071
OpenEBS is NOT distributed filesystem like CEPH.. with the emergence of microservices, we don't see the need for the same and all the complexity in maintaining distributed fs.. but, openebs allows your apps to run anywhere in the cluster.

[2020-06-30 08:30] kaitaklam commented on #3071
Sai,

Thanks for the explanations!

Regards

Kai

From: sai chaithanya <notifications@github.com>
Sent: Tuesday, June 30, 2020 10:00 AM
To: openebs/openebs <openebs@noreply.github.com>
Cc: Kai Lam <kai.lam@mavenir.com>; Mention <mention@noreply.github.com>
Subject: [E] Re: [openebs/openebs] After removing pvc ctsorevolumereplica's are still there or having error, how to remove them? (#3071)

[EXTE

[2020-06-30 22:20] RobReus commented on #3049
I am running into the same issue. Let me know if you need any information or logs from my side.

@sgielen love the names of your nodes! :')

[2020-07-01 00:32] #2955 closed

[2020-07-01 08:07] nsathyaseelan opened #3074 "Need to handle pool migration when spc and cspc are created with duplicate names"
## Description
- Tried to migrate SPC which has the same duplicate name as CSPC and in Migration job getting successful Migration event. But actually the SPC was trying to migrate is deleted and the CSPC which has the duplicate name only exists

## Expected Behavior
- Pool Migration job could be error out or fail

## Current Behavior
- Getting the successful events while migrate

## Steps to Repro

[2020-07-01 09:12] LinQing2017 opened #3075 "Unable to attach or mount volumes, timed out waiting for the condition"
Pod fails to mount the volume , and cannot find any iscsi connection。

The status of cvr is as follows.

kubectl describe cvr -n openebs pvc-0baa6ee0-e063-46a5-8cad-8afe38c4403f-cstor-disk-pool-t3ts
[code]
kubectl describe pod centos7-ssh-65fcb47bcf-hjxjp -n openebs
[code]

[2020-07-01 10:06] prateekpandey14 commented on #3075
@LinQing2017 can you check if Cstor pools are in Healthy state ? cmd is to run

[code]

[2020-07-01 10:11] LinQing2017 commented on #3075
csp status is ok，and I can even use the iscsiadm command to manually connect to the volume。

kubectl get pods -n openebs, centos7-ssh-65fcb47bcf-hjxjp is my test pod

[code]

 kubectl get csp -n openebs
[code]
kubectl get cstorvolume  pvc-0baa6ee0-e063-46a5-8cad-8afe38c4403f -n openebs
[code]

[2020-07-01 10:15] prateekpandey14 commented on #3075
@LinQing2017 can you try to restart the centos pod once, and check.

Did you tried to execute the iscsiadm cmd from the node where the centos application pod is scheduled ?

[2020-07-01 10:25] LinQing2017 commented on #3075
@prateekpandey14 yes

 iscsiadm --mode discovery --type sendtargets --portal 10.102.3.226
[code]
iscsiadm -d2 -m node -T iqn.2016-09.com.openebs.cstor:pvc-0baa6ee0-e063-46a5-8cad-8afe38c4403 -p 10.102.3.226 --login
[code]
NAME            MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
sda               8:0    0   50G  0 disk
sdb               8:16   0   50G  0 disk
sdc               8:32   0   50G  0 disk
sdd

[2020-07-01 10:32] LinQing2017 commented on #3075
pool pod log

[code]
pvc log

[code]

[2020-07-01 11:03] prateekpandey14 commented on #3075
From the logs volume looks Healthy , can you run fsck on the disk `/dev/sdd`

[2020-07-01 11:05] prateekpandey14 commented on #3075
Can you also give some more info related to your k8s cluster , OS etc.

[2020-07-02 01:40] LinQing2017 commented on #3075
My k8s cluster runs on a centos 7.8 virtual machine and uses virtual disks to create the cStor pool。
When creating a cStor pool using the disk for the first time, everything is ok. But when I deleted the spc and reused these disks to create cStor poll, something went wrong.

[2020-07-02 06:53] riponbanik commented on #1688
Thanks guys who did all the troubleshooting. In my case, I have found that if iscsi tool is not pre installed on node, even after installing the tool, the controller pod fails to run on port 3260.

root@pvc-20149e4c-292e-4d8f-b9f3-139c2a03b2a3-ctrl-5bfb77ccf5-5gbjt:/# netstat -tulpn
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State

[2020-07-02 14:28] #3037 closed

[2020-07-05 15:51] utkudarilmaz opened #3076 "Failing upgrade Cstor Pool from v1.9.0 to v1.11.0"
## Description
Hello, i installed Openebs using Helm. When i upgrading the Openebs from v1.9.0 to v1.11.0 using Helm, upgrade is finished without error and i check all of my Openebs pods using `kubectl get pods -n openebs -l openebs.io/version=1.11.0`. Output of this command:

[code]

I also check the previous versioned pods running  `kubectl get pods -n openebs -l openebs.io/version=1.9.0`:

[cod

[2020-07-05 18:52] mikroskeem commented on #2719
**OpenEBS storage engine**:

Local PV

**Stateful applications**:

- [Concourse CI](https://concourse-ci.org/)
- [Mattermost](https://mattermost.org)
- [Minio](https://min.io)
- Few game servers

**Environment**:

Production & dev.

**Usage**:

Hosting hobby projects for me and my friends.

**Why OpenEBS**:

Nobody else provides decent ZFS provisioning (only alternative which uses NFS does not cou

[2020-07-06 00:32] #2982 closed

[2020-07-06 00:32] #2977 closed

[2020-07-06 04:57] shubham14bajpai commented on #3004
All the validations regarding CSPC have added via PRs
https://github.com/openebs/cstor-operators/pull/101
https://github.com/openebs/cstor-operators/pull/94
https://github.com/openebs/cstor-operators/pull/46
https://github.com/openebs/cstor-operators/pull/14

[2020-07-06 04:57] #3004 closed

[2020-07-06 14:03] shubham14bajpai commented on #3076
The upgrade job expects one replica of api server pod. As multiple pods are present the job is failing. We are considering the case of High Availability of api servers in current release. If you want upgrade to 1.11 you can scale down api-server to 1 and use the upgrade jobs.

[2020-07-06 14:22] utkudarilmaz commented on #3076
@shubham14bajpai thanks for quick reply Shubham. When scale in the openebs-apiserver to one replica, the update job finished its mission without error. So i closed the issue.

[2020-07-06 14:22] #3076 closed

[2020-07-06 14:26] ThomasLohmann opened #3078 "LVM support for Local PV (device and hostpath)"
Hi everyone,

please support LVM for Local PV (device and hostpath) in order to resize a Local PV dynamically. It would be a big benefit to use e.g. ext4 + LVM. Because ZFS is not yet supported by the Linux kernel like ext4 and probably it never will be as Linus Torvalds mentioned a couple of months ago. Please, see the following link:

https://www.phoronix.com/scan.php?page=news_item&px=Linus-Say

[2020-07-07 00:31] #2823 closed

[2020-07-07 17:25] prabhatkumarthakur opened #3079 "It took more than 30 minutes for cspi to come in online state"
## Description

This bug is about cspi took more than 30 minutes to come online.
## Expected Behavior

cspi should not take such a long time to come to online status.
## Current Behavior

## Possible Solution

## Steps to Reproduce

- OpenEBS(1.9.0) was installed using Rancher catalog.
 - created spc
 - Deployed couple of application.
 - Deleted application.
 - Deleted spc
 - Deleted openebs(1.9.0

[2020-07-08 16:20] #3079 closed

[2020-07-09 05:16] akhilerm commented on #2983
@SteelCrow , An alpha feature has been added in openebs to uniquely identify the disks in the cluster. More information on how to enable the feature can be found [here(NDM section)](https://github.com/openebs/openebs/wiki/Change-Summary-v1.10#alpha-feature-updates). Can you try with this feature-gate and let us know whether it solves your issue?

[2020-07-09 18:31] ChandanSagar opened #3080 "Separate NIC card support for OpenEBS."
The user has 2 NIC cards ( 10 Gig each, Bond-0, LACP) configured for the nodes.
Now the user wants to have another 2 NIC cards ( 10 Gig each, Bond-0, LACP) which will be used for OpenEBS, iSCSI, and storage communications. All other communication will happen through the 1st 2 NIC cards bond.

## Context
The user wants to have separate NIC cards for OpenEBS.

[2020-07-10 00:32] #2986 closed

[2020-07-12 00:33] #2969 closed

[2020-07-12 00:33] #2885 closed

[2020-07-13 00:33] #2987 closed

[2020-07-13 11:43] nsathyaseelan commented on #3069
fixed in https://github.com/openebs/upgrade/pull/11

[2020-07-13 11:43] #3069 closed

[2020-07-14 06:58] nsathyaseelan commented on #3074
This issue has been fixed in https://github.com/openebs/upgrade/pull/13, by providing cspc name as flag to migrate

[2020-07-14 06:58] #3074 closed

[2020-07-14 06:58] #3033 closed

[2020-07-15 05:09] kmova commented on #3053
In the interest of neutral governance, the OpenEBS community support via slack has moved from `openebs-community` slack (a free version of slack with limited support for message retention) to the following OpenEBS channels on [Kubernetes Slack](https://slack.k8s.io) owned by CNCF.

- [#openebs](https://kubernetes.slack.com/messages/openebs/) channel for user discussions
- [#openebs-dev](https://ku

[2020-07-15 05:09] #3053 closed

[2020-07-16 05:59] nsathyaseelan opened #3084 "[cstor-sparse]: cleanup job for sparse file is continuously restarting"
- If delete the pool created using sparse file the cleanup job is continuously restarting and  in `CrashLoopBackOff` state

[code]
Logs for the sparse file cleanup job
[code]

[2020-07-16 09:46] deveshk0 commented on #3078
@kmova Any plans to support this?

[2020-07-16 10:41] kmova commented on #3078
Hi @deveshk0 @ThomasLohmann Thanks for the issue. Will start looking into this for the august release.

Would you like to participate in the design, implementation stages of this feature?

[2020-07-16 12:43] deveshk0 commented on #3078
I kind of like the concept used in topoLVM Project, but dependency of running LVMd service on the nodes is an issue, Since openebs already runs the ndm on everyone to manage devices, It will be a good use if we can incorporate lvm groups topology in that and derive storage classes from that.

@kmova I will be happy to assist  in the design, implementation stages of this feature.

[2020-07-16 13:07] harshthakur9030 opened #3085 "docs for south bound provisioners"
## Description
It would be nice to have docs and workings of southbound provisioner docs.openebs.io
## Context
South-bound provisioners would bring significant ease of operations when using OpenEBS. There would be little to no need of managing and configuring block devices manually.

## Possible Solution
Add documentation and how it fits in with rest of the components for https://github.com/mayada

[2020-07-17 00:33] #2994 closed

[2020-07-17 07:59] research-sudo opened #3086 "Inquiry About the Microservice Architecture Employed by `openebs`"
I am a researcher investigating the open source projects that are designed by the microservice architectural style (https://martinfowler.com/microservices/). My preliminary investigation shows that the **_openebs_** project (https://github.com/openebs/openebs) is designed by the microservice architectural style.

Can you please **_confirm_** if my interpretation that this project is designed by fo

[2020-07-19 10:03] akhilerm opened #3087 "Support for custom block-device-tag label on blockdevices"
## Description

There can be use cases where a certain device on a node is always dedicated to an application in a cluter. In those cases, the users should be able to specify the `block-device-tag` label on those devices such that the disks are not used by other applications.

## Context

Consider a large cluster, with the first scsi disk always for the OS, 2nd for one application etc.
eg:
[code]

[2020-07-20 00:34] #2998 closed

[2020-07-22 12:30] akhilerm opened #3089 "Issue with using OpenEBS on CentOS 8 in GCP with local NVMe drives"
## Description

Steps followed to create a pool
1. Installed openebs using gravity on GCP VMs. All the control plane components came into running state.
2. Deployed a cstor pool on the cluster and pool creation failed.
[code]
3. Logs from the pool pod
[code]
4. The devices that are used does not have any filesystem or partition on them.

## Expected Behavior

Cstor Pool should be created

## Curre

[2020-07-22 18:24] SeMeKh commented on #3078
Hi @ThomasLohmann

I've been working on rawfile-localpv lately. It seems to me that it covers your requirements. Would you like to give it a try?

Let me know if you have any feedbacks too.

[2020-07-22 19:46] deveshk0 commented on #3078
@SeMeKh Nice project. Can we assign on which drive the file should be created?

[2020-07-23 14:54] nd2014-public commented on #2719
### Company
D-Rating

### Stateful Applications that we are running on OpenEBS
MongoDB
Elasticsearch
Postgresql

### Type of OpenEBS Storage Engines behind the above applications
cStor

### Are you evaluating or already using in development, CI/CD, production?
We are using a full CI/CD Rancher/Kubernetes stack.

### Are you using for home use or for your organization?
Organization

### A brief des

[2020-07-23 16:50] pzoxiuv opened #3090 "VolumeSnapshots not deleting"
## Description
`kubectl delete --all volumesnapshots` never finishes.  All VolumeSnapshot and VolumeSnapshotContent objects have finalizers on them that prevent them from being deleted.  The PVC the VolumeSnapshots were taken from has been successfully deleted.  All of the OpenEBS Pods are still running.  There aren't any volumes that were created from the snapshots.

## Expected Behavior
When the

[2020-07-23 17:47] HenryGP opened #3091 "Failed to create service: services "pvc-xxx-ctrl-svc" already exists when creating pvc in OKD 3.11"
## Description
After a default installation of OKD 3.11 I proceeded with the installation of OpenEBS following the [installation through kubectl method](https://docs.openebs.io/docs/next/installation.html#installation-through-kubectl).

When creating a sample pvc:
[code]

The provisioner fails with the following errors logged:
[code]

It seems like the main issue here is with maya:
[code]

Checkin

[2020-07-26 08:44] stevefan1999-personal opened #3092 "Support for geo-replication"
## Description
What if we can do geo-replication like Azure, Google and AWS?

This is an extremely hard feature to add. And before that we may also need to implement availability zone too which is also hard to begin with.

## Context
So I have a k3s network that spans from AP to US, connected into a private flannel overlay via Wireguard. And because the latency from Korea/Hong Kong to US is quite

[2020-07-27 12:13] SeMeKh commented on #3078
@deveshk0 Right now, it stores the file in `/var/csi/rawfile`, but I'm planning to make it configurable.

[2020-07-27 12:31] prateekpandey14 commented on #3091
@HenryGP for openshift based cluster follow the steps mentioned  https://docs.openebs.io/docs/next/kb.html#OpenEBS-install-openshift-4.1

[2020-07-27 21:29] muratkars commented on #3092
Hi @stevefan1999-personal thanks for the details and taking time to report a feature request.
Would one-to-many asynchronously restored backups work? We had similar requests and conversation with other users. One possible recommended solution was a streaming backup. As you may be aware of, there is product called [Kubera](https://mayadata.io/product) from MayaData, used by OpenEBS users to manage

[2020-07-28 05:25] akhilerm commented on #3084
Fixed in [#463](https://github.com/openebs/node-disk-manager/pull/463)

[2020-07-28 05:25] #3084 closed

[2020-07-29 00:34] #3011 closed

[2020-07-30 00:35] #3010 closed

[2020-07-30 07:44] vaniisgh commented on #3040
I think we can close this issue ?

[2020-07-30 13:28] kmova commented on #3040
yes! Thank you @vaniisgh

[2020-07-30 13:28] #3040 closed

[2020-07-31 00:36] #2947 closed

[2020-07-31 09:24] kaitaklam opened #3093 "follow Read-Write-Many PVC, got nsf mount failure"
follow the deployment steps from https://docs.openebs.io/docs/next/rwm.html#setting-up-multiple-nfs-servers.

got nfs-server-provisioner running!
nsf-server-provisioner   nsf-server-provisioner-nfs-server-provisioner-0                   1/1     Running             0          23m    172.16.140.25    k8s-worker-2   <none>           <none>

got nfs pvc bound
kubectl get pvc -A
NAMESPACE

[2020-07-31 09:27] kaitaklam commented on #3093
pod.yaml

     volumeMounts:
        - mountPath: /nfsdir
          name: nfsvolume
      volumes:
      - name: nfsvolume
        persistentVolumeClaim:
          claimName: test-dynamic-volume-claim

pvc.yaml:
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test-dynamic-volume-claim
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassNa

[2020-07-31 13:16] kaitaklam commented on #3093
found critical error log file /export/ganesha.log.
nfs-ganesha-21[main] claim_posix_filesystems :FSAL :CRIT :Could not stat directory for path /nonexistent

not sure if this is an issue.

 cat ganesha.log
31/07/2020 08:44:55 : epoch 5f23da07 : nsf-server-provisioner-nfs-server-provisioner-0 : nfs-ganesha-21[main] main :MAIN :EVENT :nfs-ganesha Starting: Ganesha Version 2.8.2
31/07/2020 08:44:55 :

[2020-07-31 13:27] kaitaklam commented on #3093
# cat /export/vfs.conf

###################################################
#
# EXPORT
#
# To function, all that is required is an EXPORT
#
# Define the absolute minimal export
#
###################################################

EXPORT
{
        # Export Id (mandatory, each EXPORT must have a unique Export_Id)
        Export_Id = 0;

        # Exported path (mandatory)
        Path = /nonexiste

[2020-08-04 09:17] ajeshbaby opened #3094 "Attach the disk used LocalPV Device from one Node to another."
OpenEBS Version - 1.10

**Usecase/STR**

1. Use a GPD disk on a Node in the GKE/physical node as OpenEBS Local PV Device. Populate data,
2. Scale down the node or Assume the physical node is having some infra issue and need to migrate to a new node.
3. Scale up the node. The new node will be having different hostname, Attach the disk to this node, and want to retrieve the data as the disk is intac

[2020-08-05 00:37] #3022 closed

[2020-08-05 08:30] Icedroid commented on #2989
Is bug be fixed?

[2020-08-05 08:58] kmova commented on #2989
Not yet, but I think I know how to get this fixed now. Looking for some help with contributions.

[2020-08-06 00:37] #2972 closed

[2020-08-06 10:20] baskinsy commented on #2719
### Company:

Stratus5

### Stateful Applications that you are running on OpenEBS

* Redis
* Ceryx
* MySQL, MariaDB
* Wordpress

### Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?

cStor

### Are you evaluating or already using in development, CI/CD, production

 Already using in dev and next release will be use in production

### Are you using for home use

[2020-08-06 13:56] boxofcrates commented on #3056
@KhoaNPA take a look at the `openebs-ndm-operator` logs. I had a similar issue: I don't think your issue is the same (I did not have an issue deleting any CRs other than `blockdevice`s), but wanted to point you to those logs.

OpenEBS installed via Helm. Block device manually created (with `ndm.io/managed: "false"`). Deleting the `blockdevice` CR with kubectl reported success, but the block device

[2020-08-07 06:04] akhilerm commented on #3043
Code changes has been merged in [#442](https://github.com/openebs/node-disk-manager/pull/442)

[2020-08-10 04:47] #3043 closed

[2020-08-11 04:59] ajeshbaby commented on #3094
How to attach LocalPV Device, The steps I followed in GKE and info taken from the below link
https://github.com/ranjithwingrider/solution-app/blob/master/Prometheus/day2-ops-scale-down.md

The steps I followed in GKE and info taken from the above link

- Find the mapping PV, BD, Diskname, Hostname

You can get the device name from get bd output, Also the old hostname which it was attached, this wo

[2020-08-11 08:00] nsathyaseelan opened #3098 "[upgrade]: Pool upgrade is failing with `failed to reconcile: invalid current version 1.12.0`"
## Description
 - while upgrade cspc pool from 1.12.0 to 2.0.0-RC1 getting the below error
 - deployed openebs operator 1.12.0 provisioned cstor operator and csi provisioner plugins 1.12.0
 - created the cspc pool and csi volume and dumbed data on it
 - upgraded control plane to 2.0.0-RC1
 - Trying to upgrade cspc pools to 2.0.0-RC1. Upgrade is failing.

 kubectl logs -f cstor-cspc-upgrade-7zjzb -

[2020-08-12 06:38] #3098 closed

[2020-08-12 07:51] kumar-mayadata opened #3099 "NDM block device cleanup Job failing"
After we installed OpenEBS it was found that the block devices were in  "Released" and "Active" state.
It was observed that block device cleanup jobs were failed with an error:
`invalid argument /dev/dm-0`

When checked further, the observation was this that, partprobe was getting failed for /dev/dm-0. However, the same command `partprobe /dev/dm-0` was working successfully when executed from the

[2020-08-12 09:37] calvinyv opened #3100 "Why openebs is shown under kubernetes-retired?"
## Description

openebs is found under kuberentes-retired, is this project going to retire?

https://github.com/kubernetes-retired/external-storage/tree/master/openebs

[2020-08-12 09:39] kmova commented on #3100
Hi @calvinyv - the repository kubernetes-incubator has been retired. All the provisioners have moved to CSI and new indepenent repositories.

for example cStor is now moved to: https://github.com/oenebs/cstor-operators

[2020-08-12 11:07] calvinyv commented on #3100
got it, thx.

[2020-08-12 11:07] #3100 closed

[2020-08-12 18:49] evertmulder commented on #2719
**Company**: KPN
**OpenEBS storage engine**: cStor
**Stateful applications**: ManageIQ, AWX, Harbor, Selenium Hub based automated UI testing, verdaccio, openshift monitoring (alert manager), openshift monitoring (cassandra)
**Environment**: Dedicated OKD clusters. Test and acceptance ,Production
**Usage**: Production for over a year
**Why OpenEBS**: Recommended by a colleague. Simplicity of instal

[2020-08-13 06:09] nsathyaseelan opened #3102 "[cspc pool]: After created pool seeing that capacity values are different for every pools"
- After created the cspc pool seeing that the capacity value of the pools are different to each pools. Getting the capacity in M for some pools and bytes in some pools.
- And one more observation under readonly status not getting any response message like 'TRUE`  or  `FALSE`
- In provisioned and health replicas section if we didn't have any replicas getting the response as empty.
[code]

[2020-08-14 05:08] nsathyaseelan opened #3104 "[NDM] After upgrade the openebs control plane blockdevices are in Inactive state"
- While upgrade the openebs control plane seeing that the older unclaimed blockdevices were in Inactive state and corresponding to this old bd's new devices are created and in Active state
[code]

[2020-08-14 13:29] briankmatheson opened #3105 "E2E for localpv-rawfile"
## Description
Need automated builds and e2e tests for localpv-rawfile

## Context
Because it's the fastest and most flexible version of LocalPV

## Possible Solution
Just do it :^)  start with smoke tests, work on cassandra

## Screenshots

[2020-08-14 15:34] Titof974 opened #3106 "Backup OpenEBS local PV Hostpath with Velero don't restore files"
Hello,

I followed this https://docs.openebs.io/docs/next/uglocalpv-hostpath.html, but when I restored my backup, I didn't get my greet.txt file back. Is it a bug or Velero doesn't support PV hostpath ?

My velero command:
[code]
I'm using restic.

Thanks,
Titof

[2020-08-14 16:55] kmova commented on #3106
Hi @Titof974 - can you help with the output of `velero backup get` and also the details of the backup to check if the volume was really backed-up.

[2020-08-14 17:28] kmova commented on #2243
From @atulabhi @avishnu == who hit a similar issue on AWS and had to do the following:

you have to run below two commands on nodes

[code]
and lsmod | grep iscsi should return below output

[code]

[2020-08-15 13:34] shashank855 opened #3107 "failed to migrate striped SPC with multiple disks into CSPC"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
- SPC to CSPC migration job failed saying:
[code]

**What you expected to happen**:

- Migration should have completed successfully.

**How to reproduce it (as minimally and precisely as possible)**:
- Provision SPC with the following spec:
[code]
- Then try migrating the above provisioned S

[2020-08-16 14:13] SeMeKh commented on #2719
*Company*: Hamravesh

*Stateful Applications that you are running on OpenEBS*
- Multiple minio instances with tens of million of files
- Multiple docker-in-docker instances with persisted caches to speed up builds

*Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?*
Rawfile LocalPV

*Are you evaluating or already using in development, CI/CD, production*
Using

[2020-08-17 13:02] #3106 closed

[2020-08-18 00:39] #290 closed

[2020-08-18 06:08] akhilerm commented on #2837
To change the capacity value to be human readable. (5Gi, 1960Mi etc) spec changes in the BlockDevice CRD are required. This will also require migrating from the current v1alpha1 to another version of the CR.
cc: @harshthakur9030

[2020-08-18 09:35] nsathyaseelan opened #3108 "[cstor-csi]: Application went to RO state on performing network loss on target container (istgt)"
## Description
- While performing the network loss on cstor target istgt container seeing that application pod continuously went into crashloopbackoff state after removed the network loss rule. Looking upon the application mount point it's in `RO` state.  Even if we restart the application pod still it went to crashloopbackoff because of mount point is still RO.

**Note**: When the application is

[2020-08-18 11:20] mittachaitu commented on #3108
**Explanation**:
This behavior is observed when the application pod is scheduled on the same node upon the deletion of the pod. When the application is scheduling on the same node `CSI CO` sends only `NodePublish` and `NodeUnpublish` request. To serve those requests CSI-Node plugin will perform `Unmount` and `bind mount` on target path not on the staging path. Since unmount and mount performed on

[2020-08-20 13:54] digger18 opened #3109 "[1.7.0] Unable to provision volume using Jiva CAS"
## Description
I am trying to create a volume using Jiva CAS on a single node cluster with the following PVC:
[code]
But OpenEBS fails to create the volume.

## Expected Behavior
OpenEBS to successfully provision the volume.

## Current Behavior
Errors in the logs below.

## My Environment

* `kubectl get nodes`:
[code]

* `kubectl get pods -n openebs`:
[code]

* `kubectl -n openebs logs maya-apis

[2020-08-20 15:13] wataruian opened #3110 "Unable to create cspc resource in openebs 2.0.0"
Hi, I was following this blog (which is openebs 1.6) https://blog.mayadata.io/openebs/cstor-pool-operations-via-cspc-in-openebs and I was able to do the examples without issues. But I want to implement it on version 2.0

Following the same method from the blog, I installed openebs 2.0 by:
`kubectl apply -f https://raw.githubusercontent.com/openebs/charts/gh-pages/2.0.0/openebs-operator.yaml`
`kube

[2020-08-20 15:25] shubham14bajpai commented on #3110
One small correction the apiVersion will be `cstor.openebs.io/v1` for CSPC.

[2020-08-20 15:40] wataruian commented on #3110
I also noticed there's a lot of unknown field and missing required field from the sample yaml after changing to apiVersion. I was able to fixed it. Thanks for pointing it out.

[2020-08-20 15:41] wataruian commented on #3110
Closing issue. Thanks!

[2020-08-20 15:41] #3110 closed

[2020-08-20 16:02] prateekpandey14 commented on #3110
@wataruian we are in the process to update the blogs with the latest changes, thanks for pointing them out.
Meanwhile you can checkout the latest [docs](https://github.com/openebs/cstor-operators/tree/master/docs/tutorial ) having different tutorials and quick guide

[2020-08-21 00:41] #3038 closed

[2020-08-21 20:35] PSTobiasMueller opened #3111 "openebs volume cannot be mounted to the Pod"
## Description

I cant deploy Workload with Volumes on OpenEBS

## Expected Behavior

The PV gets created and attached to the Pods

## Current Behavior

The Container generates a MountFailed with the error:
Unable to attach or mount volumes: unmounted volumes=[data],  unattached volumes=[default-token-q526d data]: timed out waiting for  the condition
I checked the logs of all the openebs pods and

[2020-08-24 05:43] mittachaitu commented on #3111
Hi @PSTobiasMueller, If I am not wrong you are trying to create two mongo-DB applications. One on cStor and other on jiva. From the above output looks like there is no application consuming cStor pools.

While coming to the application consuming `JIVA volume` application describes not able to mount secrets. Are secrets shown in the application describe present in the cluster? If secrets don't exis

[2020-08-24 07:04] PSTobiasMueller commented on #3111
Hello @mittachaitu

After the cStor Deployment of the mongo-db failed i tried to deploy a mongo db on the jiva volume. Thats why i've two
mongo-db applications. The application are not consuming the cStor pools because the pod can't mount the volume.

* describe of the MongoDB Deployment on JIVA
[code]
* describe of the MongoDB Deployment on CStor
[code]

Both Deployments are using Secrets to stor

[2020-08-24 07:27] mittachaitu commented on #3111
Can I know the underlying disk types used from jiva and cStor?

[2020-08-24 08:49] PSTobiasMueller commented on #3111
The Kubernetes Nodes are build from an ubuntu cloud image. The LVM Disk for the Node is 30GB (sda). For CStor we added an additional disk during deployment to each node. The Disk sdb was unformatted and was formatted during the openebs CStor deployment.

- lsblk output
[code]
* kubectl logs pvc-df79d45e-7f18-4fa4-97ce-32bdd91c284c-target-5dd6bf6d69fm7dr -n openebs -c cstor-istgt
[code]

In the Log

[2020-08-24 10:42] mittachaitu commented on #3111
@PSTobiasMueller Above logs looks good... But one thing very suspicious to me is there is no iscsi login request from the kubelet(Just to give overview actually when the pod is trying to mount jiva/cStor volume kubelet will perform iscsi login but in this case there are no such logs).

Can we try by restarting the kubelet service on the nodes where the application pod is scheduled? Can you also ke

[2020-08-24 11:01] PSTobiasMueller commented on #3111
@mittachaitu I've restartet the Kublet. Here's the log from the Kubelet:
[code]

The restart of the Kubelet Node didn't trigger anything on the pvc-df79d45e-7f18-4fa4-97ce-32bdd91c284c-target-5dd6bf6d69fm7dr. The Command kubectl logs pvc-df79d45e-7f18-4fa4-97ce-32bdd91c284c-target-5dd6bf6d69fm7dr -n openebs -c cstor-istgt has no new log entries.

When i try to join Slack via the URL i can only cre

[2020-08-24 11:59] mittachaitu commented on #3111
That links to kubernetes workspace(http://kubernetes.slack.com/) and Chanel is #openebs

I0824 10:53:02.050362  249648 reconciler.go:269] operationExecutor.MountVolume started for volume "pvc-df79d45e-7f18-4fa4-97ce-32bdd91c284c" (UniqueName: "kubernetes.io/iscsi/10.43.222.26:3260:iqn.2016-09.com.openebs.cstor:pvc-df79d45e-7f18-4fa4-97ce-32bdd91c284c:0") pod "mongodb-mtbgp-858779d87b-s7cf7" (UID:

[2020-08-24 14:03] digger18 commented on #3109
Applying the ClusterRole from the original OpenEBS manifest solved this problem for me.
Thanks for the support on Slack!

[2020-08-24 14:03] #3109 closed

[2020-08-25 00:41] #3041 closed

[2020-08-25 00:41] #2631 closed

[2020-08-25 00:41] #288 closed

[2020-08-26 06:03] shubham14bajpai commented on #3109
For gravity-based clusters, provisioning of `jiva` volumes is expected to fail with inbuilt OpenEBS configurations. To use jiva volume engine please apply the latest openebs-operator from https://github.com/openebs/openebs/releases

[2020-08-27 05:52] mittachaitu opened #3114 "bug(node-disk-manager): multiple blockdevices were created for same underlying disk"
## Description

Deployed 0.8.0 version of NDM with OpenEBS 2.0.0 version
then multiple blockdevices were created for the same underlying disk.

## Expected Behavior

Node disk manager shouldn't create multiple blockdevices for same underlying disk.

## Current Behavior

Currently, NDM creates multiple blockdevice for the same underlying disk.
## Possible Solution

## Steps to Reproduce

- Deploy a

[2020-08-27 11:02] mittachaitu commented on #3111
Able to reproduce in the lab cluster with the same configurations as mentioned in the issue details.

**Cause**:
Whenever application is deployed on cStor/jiva volume kubelt will perform iscsi login to attach and mount the cStorVolume into the application pod. In this setup, kubelet triggered iscsiadm command and command hung forever due to this application not able to mount the volume.

`ps -aux`

[2020-08-27 17:57] #3087 closed

[2020-08-28 11:34] markthebault opened #3115 "Use Existing storage class as backend (cloud provider disks)"
## Description

I recently took a look on OpenEBS, I think it is very good! I would like to be able to create a StoratePool for Jiva based on cloud provider disks and not having to mount the disks directly to the VMs or to use a host path.

Why? Because first is it not always easy to mount the disks to managed cloud k8s clusters. second, I don't want to have to create VMs with Big disks that might

[2020-08-31 07:51] mittachaitu commented on #3111
Cause: Since iscsi service running in kubelet as well as inside the container kubelet is not able to perform iscsi login due that application remains in container creating state.

Workaround: Uninstall ISCSI service from node since kubelet is starting the iscsid service will solve the issue or follow the prerequisites as mentioned in [doc](https://docs.openebs.io/docs/next/prerequisites.html#ranch

[2020-08-31 07:51] #3111 closed

[2020-09-01 00:46] #2694 closed

[2020-09-01 12:27] harridu opened #3117 "uninstalling openebs gets stuck"
To install openebs 2.0 I am trying to uninstall openebs 1.12, according to https://docs.openebs.io/v1120/docs/next/uninstall.html, but on running kubectl delete -f openebs-operator.yaml it got stuck. Why did it get stuck?
Last words:
[code]
"kubectl get ns" says "terminating" for openebs. But it sits there forever.

I understand that 1.12 is dead now, but maybe you can fix the documentation.

[2020-09-01 12:58] harridu commented on #3117
Apparently 3 of 5 block devices cannot be removed:
[code]

[2020-09-01 13:06] prateekpandey14 commented on #3117
@harridu can you edit the blockdevices and delete the finalizer entry , after that blockdevices should be deleted successfully.
the command you can use is `kubectl edit bd -n openebs` and remove the `finalizer` value .

[2020-09-01 13:20] harridu commented on #3117
It worked. Cool.
Thanx for the workaround.

[2020-09-01 13:22] prateekpandey14 commented on #3117
@harridu can you also add some more details about the k8s version and cluster information, mostly below error comes due to compatibility issue b/w k8s client and k8s apiserver.

[code]

[2020-09-01 13:30] harridu commented on #3117
Of course
[code]

[2020-09-01 13:31] harridu commented on #3117
[cluster-info.dump.gz](https://github.com/openebs/openebs/files/5156481/cluster-info.dump.gz)

[2020-09-01 13:35] harridu commented on #3117
I still see "openebs" in the cluster-info dump. Is this something to worry about?

[2020-09-01 13:38] prateekpandey14 commented on #3117
No , that's has just info about container images. if openebs namespace no-longer exists it means, cleanup is done successfully .

[2020-09-01 13:39] harridu commented on #3117
I mean
[code]

[2020-09-01 13:50] prateekpandey14 commented on #3117
Mostly its related to calico CNI https://github.com/rancher/rancher/issues/26816 .

[2020-09-01 13:53] harridu opened #3118 "Debian"
Would you mind to add Debian to https://docs.openebs.io/docs/next/prerequisites.html ?

I am not sure, why open-iscsi is needed on the host at all. Ain't this iscsi stuff supposed to happen in the containers? All you would need is the iscsi-tcp module.

[2020-09-01 14:51] harridu opened #3119 "what is meant by "it results into eviction"?"
About: https://docs.openebs.io/docs/next/installation.html: What is meant by "if any containers does not set its resource requests & limits values, it results into eviction"? This sounds like something bad, but is it? Please elaborate.

Maybe its just me, but this is extremely hard to understand, if English is not your mother's language.

[2020-09-01 15:11] harridu opened #3120 ""Set cluster-admin user context and RBAC" doesn't really tell"
https://docs.openebs.io/docs/next/installation.html#set-cluster-admin-user-context-and-rbac shows how to set a new context, but except for the headline it doesn't mention RBACs at all. Whats the story here?

[2020-09-01 17:07] prateekpandey14 commented on #3118
@harridu the installation  steps will be similar to Ubuntu.

I think you are using rancher based k8s cluster, where kubelet runs inside the container. Rancher suggest to install the iscsi in hosts instead of inside the container and bind mount inside the container, you can read more about here https://github.com/openebs/cstor-operators/blob/master/docs/troubleshooting/rancher_prerequisite.md

[2020-09-02 07:10] mittachaitu commented on #2372
I will rework on the design [doc](https://github.com/openebs/openebs/pull/3001) to address review comments.

[2020-09-02 08:31] harridu commented on #1436
This page does not exist.

[2020-09-02 09:52] harridu opened #3121 "please cleanup /var/openebs after kubectl delete pvc mypvc"
## Description
After removing a pvc I can still find a directory shared-pvc-69adec76-665e-46bc-b957-2b2f58338429-target in /var/openebs. Shouldn't this stuff be cleaned up automagically? Storage class:
[code]
PVC:
[code]
PV:
[code]

## Your Environment

* `kubectl get nodes`:
[code]
* `kubectl get pods --all-namespaces`:
[code]
* `kubectl get services`:
[code]
* `kubectl get sc`:
[code]
* `kubectl

[2020-09-02 14:33] prateekpandey14 commented on #3117
@harridu should we close this issue now ?

[2020-09-02 14:35] prateekpandey14 commented on #3120
@harridu thanks for pointing this. steps are only for set the context, will update the docs and remove the RBAC from the heading.

[2020-09-02 15:48] prateekpandey14 commented on #3119
When a node in a Kubernetes cluster is running out of memory or disk, it activates a flag signaling that it is under pressure. This blocks any new allocation in the node and starts the eviction process.

At that moment, kubelet starts to reclaim resources, killing containers and declaring pods as failed until the resource usage is under the eviction threshold again.

Guaranteed pods with QOS set (

[2020-09-02 17:15] vielmetti commented on #1295
Bumping this issue which has gone stale, but @kmova has some earlier work on e2e pipelines for testing at https://github.com/openebs/e2e-tests/issues/405 which should be of interest.

[2020-09-03 09:18] harridu commented on #3118
Where do I have to look for error messages indicating that the bind mounts are missing?

[2020-09-03 09:23] prateekpandey14 commented on #3118
if ISCSI installation is missing (or missed to bind mount) the application pod will struck in container creating state , complaining about iscsi bin is missing .

[2020-09-03 09:45] harridu commented on #3118
There are no pods stuck in "creating", even though there are no bind mounts. ???

[2020-09-03 09:49] harridu commented on #3118
Sample:
[code]

[2020-09-03 10:26] harridu commented on #3118
This looks weird:
[code]
Doesn't look like an iscsi volume to me.

[2020-09-03 10:50] harridu commented on #3118
Apparently Rancher 2.x clusters include iscsi initiator support: https://rancher.com/docs/rancher/v2.x/en/cluster-admin/volumes-and-storage/iscsi-volumes/. In case of incompatibilities between initiator and target on the node these bind mounts should be applied, AFAICS.

[2020-09-03 10:53] #3118 closed

[2020-09-03 11:19] saulmmendoza commented on #1117
any documentation I can read about how to code an implementation of openEBS within docker swarm?

[2020-09-03 15:04] supra08 commented on #2989
Hi @kmova, Is this open? I would like to give it a try.

[2020-09-03 15:18] mzur-hv opened #3122 "Cannot override the registry from where to pull 'linux-utils' helper image used"
## Description

Overriding the `helper.image` value of the openebs helm chart is not honored by the local host provisioner. The 'init-pvc' pod created is always using the `quay.io` registry, which ends up with a failure to pull the image on dark sites and/or from a non public registry (e.g. with auth).

`helper:
  image: "quay.io/openebs/linux-utils"`

## Expected Behavior
helper image (linux-util

[2020-09-03 16:23] kmova commented on #2989
Thanks @supra08. Yes this is still open. You can join our contributor channel on Kubernetes slack #openebs-dev and we can help you out with more details.

[2020-09-03 16:28] supra08 commented on #2989
Sure! thanks

[2020-09-03 16:35] kmova commented on #3122
@mzur-hv - which version of openebs are you using?

[2020-09-03 20:19] mzur-hv commented on #3122
Sorry - (human) operator error here... what I was observing on our build server was due to a for some reason some type of a caching issue in kubernetes. Recycling the cluster now all works as expected.
Of course, I did not read the code correctly .... learning go "on the go" 😉  Applogies 🙇‍♂️

[2020-09-03 20:19] #3122 closed

[2020-09-03 21:48] kmova commented on #3122
Awesome @mzur-hv! Thanks for updating the issue!

[2020-09-04 15:28] #3119 closed

[2020-09-04 15:52] prateekpandey14 commented on #3120
@harridu will you be able to raise a PR in openebs-docs repo to fix this, you have to just click on the `EDIT` button in top right corner of the [page link](https://docs.openebs.io/docs/next/installation.html#set-cluster-admin-user-context-and-rbac) , make the changes and raise a PR.

[2020-09-04 15:54] prateekpandey14 commented on #3117
Closing the issue, we can always reopen, if required.

[2020-09-04 15:54] #3117 closed

[2020-09-07 06:21] akhilerm commented on #3114
Logs from the NDM pod where the issue happened is attached below
[code]

**Observations:**
The cleanup job on the blockdevices  had an issue in 1.10.0, which was fixed by this [PR](https://github.com/openebs/node-disk-manager/pull/445). Due to this issue, the partitions created by zfs were not completely erased when the pool is deprovisioned. This will cause stale entries to remain in system after

[2020-09-08 15:10] galindro opened #3123 "TargetTolerations aren't added to target pool pods"
## Description
The pod tolerations aren't added to target pool pods when they are added in the StoragePoolClaim

This is the created StoragePoolClaim:

[code]

This is the target pool deployment that was dynamically created by openebs. As you can see, there is no tolerations.

[code]

## Steps to Reproduce
1. Taint a node with `dedicated=ict:NoExecute`
2. Deploy a StatefulSet with the above tolera

[2020-09-08 17:17] mittachaitu commented on #3123
Hi @galindro, thanks for trying out OpenEBS. To pass tolerations to target deployment we have to specify tolerations on StorageClass. We can find information on below [this](https://docs.openebs.io/docs/next/ugcstor.html#TargetTolerations) link.

FYI: OpenEBS supports new way of provisioning cStor pools and CSI volumes more information can be found on https://github.com/openebs/cstor-operators#pro

[2020-09-08 18:23] galindro commented on #3123
Oh, my bad @mittachaitu . You are right, the TargetTolerations is configured in StorageClass not in StoragePoolClaim. Anyway, I'll give a try on cstor-operator.

[2020-09-08 18:23] #3123 closed

[2020-09-09 00:47] #2917 closed

[2020-09-09 00:47] #2861 closed

[2020-09-09 03:57] BegoneRaven commented on #2767
What should I provide in the Rancher's cluster YAML's extra_binds section if the local physical hostpath is, for example /data/openebs/local ?
Would it be:
     -  /data/openebs/local:**/var/openebs/local**
OR
     -  /data/openebs/local:**/data/openebs/local**

I'm not exactly sure about what path is expected to be inside the kubelet

[2020-09-10 15:55] dobegor commented on #3023
@kmova is there any progress regarding ARM support?

[2020-09-10 17:24] akhilerm commented on #3023
@dobegor OpenEBS supports arm64.
To deploy openebs on arm, the operator yaml is available [here](https://openebs.github.io/charts/openebs-operator-arm-dev.yaml)

The discussions regarding CI pipelines for arm platform are mentioned [here](https://github.com/openebs/openebs/issues/1295).

[2020-09-11 10:51] dobegor commented on #3023
@akhilerm thanks!

[2020-09-12 04:33] windowsrefund opened #3126 "iscsid is not stable/dependable from within kubelet container created by rke"
## Description
Documentation does not cover iscsid setup related to rke.

## Steps to Reproduce
Install a k8s cluster via rke
Setup cStor storage
Start a pod that uses the storage

## My environment
rke v1.1.6
Kubernetes v1.18.6
Node OS: CentOS 7
Node Kernel:  Linux k8s-node1 3.10.0-1062.el7.x86_64 #1 SMP Wed Aug 7 18:08:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
OpenEBS components:

NAMESPACE   N

[2020-09-12 17:11] tobg opened #3127 "cstor volume missing, everything else is there"
openebs 2.0
kubernetes 1.18.6

All pods using cstor pvc are crashing after missing all cstor volumes. Everything else is available. I can se all zfs datasets on the node.

How can I restore all the cstor volumes or access my data by zfs?

[2020-09-15 04:24] akhilerm commented on #3051
@wanfuuyu Are there any updates on this issue? Were you able to resolve it?

[2020-09-15 09:12] allenhaozi opened #3128 "openebs storageclass cascading deletion"
I'm using openebs-localpv-provisioner to manage my local pv

openebs-localpv-provisioner support  cascading deletion pvc when I delete associated storageclass ?

[2020-09-15 09:39] tobg commented on #2719
OpenEBS storage engine: cStor, LocalPV
Stateful applications: Postgresql, Confluence, Gitlab, Bitcoin Full Node, Bitcoin Lightning Nodes, btcpay, Cardano Nodes and Pool, Docker Registry, prometheus, grafana, zabbix monitoring, elk
Environment: Production & Development
Usage: Dev and Production environment for DLT business
Why OpenEBS: Relativ simple installation, high flexibility, robust, outstand

[2020-09-15 13:37] kmova commented on #3128
Hi @allenhaozi, just to confirm - do you want to delete all the OpenEBS Local PVs - if the corresponding storage class is deleted?

Usually StorageClass is only used for creating the PV. After the PV is created, it doesn't care if the storageclass is changed or deleted.

[2020-09-15 13:49] allenhaozi commented on #3128
in my scenario, one application will create a StorageClass, one application include statefset,Ingress,storageclass
I set ownerReferences to the sub resource, such as Ingress, storageclass
but pvc and pv are created automatically,  so I can not set ownerReferences to them

[https://github.com/kubernetes/kubernetes/issues/55045](https://github.com/kubernetes/kubernetes/issues/55045)

I would  like t

[2020-09-15 14:18] kmova commented on #3128
Hi @allenhaozi - the support for auto-removing the PVCs as part of the Statefulset deletion is being worked on in Kubernetes. https://github.com/kubernetes/enhancements/pull/1915

Is there anyway that the operator can be enhanced to check for the PVCs created for a given storageclass and delete them before deleting the storageclass itself?

[2020-09-16 00:51] allenhaozi commented on #3128
thank u @kmova

a temporary scheme that in my operator I will watch the Deletion of StorageClass then trigger to delete pvc

I will close this issue

[2020-09-16 00:51] #3128 closed

[2020-09-16 06:49] kmova commented on #3062
@sgielen could you reopen this issue if you notice this issue again. The fix in 1.12 should have addressed this.

[2020-09-16 06:49] #3062 closed

[2020-09-18 14:31] mchan-b opened #3131 "PVC not binding (using Local PV/StorageClass openebs-hostpath) due to Error from server (BadRequest): previous terminated container "local-path-init" in pod "init-pvc-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx” not found"
## Description
Persistent Volume Claims remain in `pending` status due to pods in `openebs` namespace being terminated with `Error from server (BadRequest): previous terminated container "local-path-init" in pod "init-pvc-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx” not found`.

[code]
[code]
[code]
[code]
[code]

## Expected Behavior
Pod should launch and then PVC should then bind

## Current Behavior
H

[2020-09-18 14:41] pre commented on #2814
I can confirm that this is still an issue with AWS EKS 1.17 as of September 2020.

[2020-09-18 15:16] sonasingh46 commented on #2885
Hi @SVronskiy -- The compression feature has made into the CSPC.
Here are the relevant PRs:
https://github.com/openebs/cstor-operators/pull/26
https://github.com/openebs/cstor-operators/pull/27

Please reopen the issue if you still are facing any issues.

[2020-09-18 15:18] sonasingh46 commented on #2938
@payes -- Is this been done? If yes please close it by referencing the relevant PR.
If not, will keep the issue open to track it.

[2020-09-18 15:21] sonasingh46 commented on #2855
The overprovisioning feature has not yet made into the CSPC based pools. Reopening the issue to track that.

[2020-09-18 15:24] sonasingh46 commented on #2258
SPC based cStor does not support adding/removing disk but the support has gone in for the same in the CSPC based APIs.
Here is the link :
https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/intro.md

[2020-09-19 03:43] valdemarpavesi commented on #3046
thanks
k8s v1.19.1
openebs 2.1.0
helm openebs 2.1.0

# kubectl edit validatingwebhookconfigurations  openebs-validation-webhook-cfg
failurePolicy: Ignore

[2020-09-21 06:49] pre opened #3132 "Support for ReadWriteMany without using NFS"
I was very surprised that `ReadWriteMany` is not possible at all with cStor. All the nice keywords, such as HA and synchronous replication, are present. But the OpenEBS website has only a sidenote that cStor is great for "stateful workloads" and the mention about needing NFS for `ReadWriteMany` is at the very bottom of everything.

Are there plans for `ReadWriteMany` with cStor?

I'm wondering whe

[2020-09-21 07:05] pre commented on #3132
Discussion in Kubernetes Slack #openebs
https://kubernetes.slack.com/archives/CUAKPFU78/p1600670862024400

[2020-09-21 07:36] pre commented on #2719
Our use case https://github.com/openebs/openebs/issues/3132

[2020-09-21 17:30] akhilerm opened #3133 "Add support for partitions in NDM os disk filter"
## Description

Currently the NDM os disk filter excludes the complete disk even if one partition contains the mount point specified in the NDM config map.
eg: Consider the following case. A single disk is available on the host, with multiple partitions. One partition is used for `/` and one for the boot section.
[code]
With a configmap as follows:
[code]
currently the complete disk `/dev/sda` wil

[2020-09-21 17:55] akhilerm opened #3134 "Add support to fetch block size and drive type of partitions from parent device"
## Description

Currently, NDM fetches the logical / physical blocksize and hardware sector size of the disks from sysfs. But this is applicable only for parent disks as partitions does not have a `<syspath>/queue` directory with the block sizes and drive types. But for partitions this data will be equal to that of the parent disk. Therefore the [sysfs probe](https://github.com/openebs/node-disk-m

[2020-09-21 18:08] akhilerm opened #3135 "Add support for updating mountpoint and capacity of blockdevices without NDM pod restart"
## Description

BlockDevice resource have fields for mountPoint and capacity. These fields are updated either when the resource is created or the NDM pod is restarted. If the device is mounted while NDM pod is running, the blockdevice resource does not get updated with the new mounpoint.

Similar, is the case with device capacity. . Change in capacity is not reflected on the blockdevice resource u

[2020-09-22 06:27] akhilerm opened #3136 "Add meta information to openebs created partitions"
## Description

OpenEBS NDM, as part of unique identification creates a partition on the disk, if its virtual. But this partition does not contain any information about who created the partition.
A label or partition name should be added to the GPT Table while creating the partition so that it becomes easier to identify NDM created partitions.

## Context

For debugging purpose and to maintain som

[2020-09-22 06:32] pawanpraka1 commented on #2927
duplicate of https://github.com/openebs/openebs/issues/3025

[2020-09-22 06:32] #2927 closed

[2020-09-23 06:13] akhilerm commented on #3051
@wanfuuyu We have now made the new GPT based UUID method default starting from openebs 2.0.

[2020-09-23 19:19] sgielen commented on #3010
I'm encountering the same issue. I have some information to add to this issue. @mynktl perhaps you could consider to reopen this.

I have the same error in the maya-apiserver logs:

[code]

Around that time I have this error in the `cstor-istgt` container of the target pod for the relevant PV pvc-60c6a231-8b85-43c4-8031-32bd422f81f0:

[code]

[2020-09-26 00:49] #2939 closed

[2020-09-26 00:49] #3066 closed

[2020-09-26 00:49] #2930 closed

[2020-09-26 00:49] #2938 closed

[2020-09-27 12:52] harshthakur9030 commented on #3135
@akhilerm we cannot use inotify on procfs and sysfs. https://linux-fsdevel.vger.kernel.narkive.com/u0qmXPFK/inotify-sysfs .

Polling is the other way to do it.

[2020-09-27 20:56] muratkars commented on #2537
Reopening this issue

[2020-09-28 08:57] paulfermoreyes opened #3142 "Error running pod when ASG deletes all nodes and creates new nodes"
Hello!

We have a setup where we have to scale down our nodegroup to 0 everyday and up to 3 the next day to reduce cost. The issue is that the pods and PVCs work properly until the next day when new nodes are brought up by ASG.

All the pods mounted with PVC have the same error as below screenshot
![image](https://user-images.githubusercontent.com/12889617/94411222-e69c4080-01aa-11eb-8528-fa0fd024

[2020-09-28 09:16] akhilerm commented on #3135
@harshthakur9030  What about the dmesg parsing ?  There are no libraries that does it at the moment, but we have to check feasibility on all options.
Have to see the pros and cons for:
1. Polling procfs and sysfs
2. dmesg parsing

[2020-09-28 09:42] prateekpandey14 opened #3143 "Flaky Test: replace reflect.DeepEqual with "github.com/google/go-cmp/cmp""
## Description

The existing test in `cspc_generator_test.go`, try to replace `reflect.DeepEqual()` with "github.com/google/go-cmp/cmp" package to fix the flaky test.

Here on line number L187 tests uses the reflect.DeepEqual() which can be replaced with  `cmp.Equal(...)` to handle the comparison of interface types , once changes are done PR should be raised in https://github.com/openebs/upgrade r

[2020-09-28 09:43] markthebault commented on #3115
nobody has thoughts on this ?

[2020-09-28 09:56] prateekpandey14 opened #3144 "Add PULL REQUEST and ISSUE TEMPLATES for the "openebs/upgrade" repo"
## Description
Add PULL REQUEST and ISSUE TEMPLATES for the https://github.com/openebs/upgrade repo

## Possible Solution
Check templates https://github.com/openebs/cstor-csi/tree/master/.github for the idea for configuring the templates.

[2020-09-28 10:06] prateekpandey14 opened #3145 "Update the main README with info and link upgrade & migration docs"
## Description
Update the main README with info and link upgrade & migration docs in  https://github.com/openebs/upgrade repo.

Create links for the required Upgrade and Migrations docs from the [docs](https://github.com/openebs/upgrade/tree/master/docs) folder from the [Upgrade](https://github.com/openebs/upgrade) repo

## Possible Solution
Refer https://github.com/openebs/openebs/blob/master/k8s

[2020-09-28 10:14] prateekpandey14 opened #3146 "Support for multi-arch docker builds in openebs/jiva repo"
## Description
Support for muti-arch container images for https://github.com/openebs/jiva repo using docker [buildx docs](https://docs.docker.com/buildx/working-with-buildx/)
[buildx CLI](https://github.com/docker/buildx)

## Context
To support different arch

## Possible Solution
Refer PR https://github.com/openebs/upgrade/pull/32/files for more details.

[2020-09-28 11:19] akhilerm opened #3147 "NDM Seachest probe works only on SCSI devices"
## Description

OpenEBS NDM uses [openSeachest](https://github.com/seagate/openseachest) to get some disk information like disk temperature, total read/write bytes, percentage endurance etc. But this is working only for SCSI devices within NDM. The cgo implementation of getting the device information [here](https://github.com/openebs/node-disk-manager/blob/287edbe59a6a9a48d897799c204822aa79afe29d/

[2020-09-28 22:03] muratkars opened #3148 "OpenEBS plugin for Spotify Backstage"
[Backstage](https://backstage.io/docs/overview/what-is-backstage) is an open platform for building developer portals. Powered by a centralized service catalog, Backstage restores order to your microservices and infrastructure. So your product teams can ship high-quality code quickly — without compromising autonomy.

It allows portals to be built for managing any kind of underlying infra/components

[2020-09-28 22:09] kenotsolutions commented on #3132
workaround for this issue use StatefulSet instead of Deployment. Use volumeClaimTemplates for the StatefulSet so it would create many PVC for each node.

[2020-09-29 00:50] #3063 closed

[2020-09-29 06:03] prateekpandey14 commented on #3066
fixed in https://github.com/openebs/maya/pull/1722

[2020-09-29 06:09] prateekpandey14 commented on #3046
Keeping it open since the issue still exists in k8s, till then its a workaround to help others.

[2020-09-29 06:51] kmova commented on #2290
Now that we migrated the cStor to CSPC based schema, we will be revisiting the design that was started earlier with older schema.

[2020-09-29 06:52] pre commented on #3132
That is a solution for another problem, however, it is not a workaround to this issue.

This issue about having a *shared* writable volume mounted as `ReadWriteMany`  for multiple Pods. Given Pod A and Pod B, any write to the shared volume by Pod A must be immediately available to Pod B (and vice-versa).

Using a StatefulSet with multiple PersistentVolumeClaims means that each Pod has a volume of

[2020-09-29 06:52] kmova commented on #2814
@akhilerm is there any new information on this issue? Does the partition based UUID help here?

[2020-09-29 06:52] wataruian opened #3149 "Cannot create CSPC on private GKE cluster"
Hi All,

I was attempting to create a `CStorPoolCluster` in a private GKE cluster. I was able to create one with the public cluster. But when trying to create on private cluster I am getting:

[code]

Is private cluster not currently supported?

[2020-09-29 07:04] pre commented on #2814
@kmova From my testing (above) I can say that `/dev/disk/by-path` does not exist at all unless the given `999-custom-blockdevice.rules` is used.

Hence, if the cStor EBS block device (iscsi mount) is searched from `/dev/disk/by-path` it will not be found regardless of UUID being used.

[2020-09-29 07:10] pre commented on #2814
Here are instructions for a repro:

1) Use the following Terraform to create an EKS Cluster using https://github.com/terraform-aws-modules/terraform-aws-eks/tree/master/examples/basic

2) Edit main.tf and replace `worker_groups` with the following `worker_groups_launch_template`:

[code]

[2020-09-29 07:48] prateekpandey14 commented on #3149
@wataruian can you check if there need to add any firewall rules https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#add_firewall_rules

[2020-09-29 18:29] briankmatheson opened #3150 "stable/nfs-server-provisioner doesn't exist anymore"
stable repo is long gone.  Can we update this doc to point to the new nfs server we maintain?

bmath@timesink:~/maya/kops/test350.bob.bmath.nyc$ helm install nfs stable/nfs-server-provisioner
Error: failed to download "stable/nfs-server-provisioner" (hint: running `helm repo update` may help)

[2020-09-29 20:20] payes opened #3151 "Support for multi-arch docker builds in openebs/jiva-csi and openebs/jiva-operator repo"
## Description
Support for muti-arch container images for https://github.com/openebs/jiva-csi and https://github.com/openebs/jiva-operator repo using docker [buildx docs](https://docs.docker.com/buildx/working-with-buildx/)
[buildx CLI](https://github.com/docker/buildx)

## Context
To support different arch

## Possible Solution
Refer PR https://github.com/openebs/upgrade/pull/32/files for more de

[2020-09-30 06:23] prateekpandey14 opened #3152 "RawFile LocalPV: allow to change default mount path using an ENV"
## Description
Enhance [RawFile LocalPV repo](https://github.com/openebs/rawfile-localpv/)  CSI driver to change the default data-dir mount path using an ENV or chart template parameter to make it configurable.

The data directory used for creating the sparse file is hardcoded to "/var/csi/rawfile" in the task template.
https://github.com/openebs/rawfile-localpv/blob/master/templates/task.yaml#L14

[2020-09-30 07:38] akhilerm commented on #2917
The docs for configuring LocalPV with xfs have been updated [here](https://docs.openebs.io/docs/next/uglocalpv-device.html#create-storageclass).

[2020-09-30 07:40] akhilerm commented on #2895
@ranjithwingrider @ybnelson Are there any further steps required on this issue?

[2020-09-30 08:02] prateekpandey14 commented on #3041
docs has been added in PR https://github.com/openebs/openebsctl/pull/9

[2020-09-30 08:14] ranjithwingrider commented on #2895
I think the given steps will address OpenEBS installation on different helm version. @akhilerm

[2020-09-30 08:23] akhilerm commented on #2875
@kmova  Are there any updates on this issue?

[2020-09-30 08:30] akhilerm commented on #2823
The unique identification of virtual disks is available as a default feature starting from OpenEBS 2.0. More details are available  [here](https://github.com/openebs/openebs/wiki/Change-Summary-v2.0#new-capabilities).

[2020-09-30 09:16] prateekpandey14 commented on #3149
@wataruian does adding firewall rules helped you to run the admission webhook in Private GKE cluster ?

[2020-09-30 10:09] wataruian commented on #3149
Yes. I just finished doing what you suggested. It works. Thanks!

[2020-09-30 10:11] wataruian commented on #3149
Closing this now. Thank you very much @prateekpandey14

[2020-09-30 10:11] #3149 closed

[2020-09-30 10:38] Hard-Coder05 commented on #3144
@prateekpandey14 I would like to work on this issue!

[2020-09-30 12:10] prateekpandey14 commented on #3144
Great @Hard-Coder05 , assigned  :+1:

[2020-09-30 12:34] prateekpandey14 commented on #3010
@mynktl do we need to document this behavior ?

[2020-09-30 12:35] akhilerm commented on #2777
Events are added to BlockDeviceClaims as per [#3039](https://github.com/openebs/openebs/issues/3039) which shows the errors.
Also, instead of showing disk errors in BD, the additional NDM exporter component will be showing the blockdevice metrics.

[2020-09-30 12:37] prateekpandey14 commented on #2999
@payes do we have any update on this issue ?

[2020-09-30 12:38] Naveenkhasyap commented on #3145
Hi @prateekpandey14 , interested to take this up,
one query do we need to have all the info from upgrade & migration docs or can we give overview for them and give hyperlink which points to these docs readme.

[2020-09-30 12:46] prateekpandey14 commented on #2986
New CSPC based cstor pool APIs fixes  this and other day-2 operations seamlessly

[2020-09-30 12:48] prateekpandey14 commented on #2984
@mynktl the limitations still exists ? can we put some infomation about the issues we have with travis.

[2020-09-30 13:03] prateekpandey14 commented on #2630
The issue still exists, as we use the pvc name as a label in volume service and other components.

[2020-09-30 13:13] prateekpandey14 commented on #3145
We can given overview and give hyperlink

[2020-09-30 13:27] infiniteoverflow commented on #3143
I would like to work on this issue :)

[2020-09-30 13:30] prateekpandey14 commented on #2908
We are moving away from the mayactl and the older provisioning.
Once we fully migarated to CSPC/CSI based pools and volume provisioning, we can close this issue.

[2020-09-30 13:47] prateekpandey14 commented on #2772
This issue is fixed using self signed cert feature in admission webhook

[2020-09-30 13:51] mynktl commented on #2984
For `openebs/cstor` repo, we are validating code changes through script https://github.com/openebs/libcstor/blob/master/tests/cstor/script/test_uzfs.sh in [Travis build](https://github.com/openebs/cstor/blob/develop/.travis.yml).

In this script, test function [test_dup_zrepl](https://github.com/openebs/libcstor/blob/master/tests/cstor/script/test_uzfs.sh#L105) requires privileged access during ex

[2020-09-30 15:02] prateekpandey14 commented on #2949
This is fixed in CSPC based pool provisioning as part of new implmentation.

[2020-09-30 15:07] prateekpandey14 commented on #2944
fixed in https://github.com/openebs/cstor-operators/pull/101

[2020-09-30 15:12] prateekpandey14 commented on #2930
This issue is no longer valid for csi-driver related to delay binding, we have to revisit the case of snapshot, which is tracked as part of CSI sanity.

[2020-09-30 15:17] mittachaitu commented on #3021
CVC operator exists to solve this issue to some extent by following [these](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/volumes/migration.md) steps but having automation around this will be a good idea

[2020-09-30 15:26] mittachaitu commented on #2981
@prateekpandey14 Can we add this under issue Hactoberfest list? Changes need to be validated [here](https://github.com/openebs/cstor-operators/blob/96760c38fa07f97f3d7073361dbe1e821962d5d3/pkg/webhook/cvc.go#L79).

[2020-09-30 15:45] prateekpandey14 commented on #2981
Yes. admission webhook validation can be added as part of [replica scale validation](https://github.com/openebs/cstor-operators/blob/96760c38fa07f97f3d7073361dbe1e821962d5d3/pkg/webhook/cvc.go#L187)

[2020-09-30 15:49] prateekpandey14 commented on #2911
Adding validation while creating clone volume is not straight forwords in case of CSI CStor based volumes, have to find the alternate way to fix the issues.

[2020-09-30 17:11] ronaldyuwandika commented on #3152
i would try to fix this issue :)

[2020-09-30 18:13] avats-dev commented on #3136
@akhilerm I want to work on this. I'm still studying the codebase as much as I can get by. I might need some help along the way, thanks:tada:.

[2020-09-30 18:15] avats-dev commented on #3121
@harridu I'm not that familiar with k8s but I want to work on this. Can anyone guide me how to resolve this? Thanks :tada:

[2020-09-30 18:17] akhilerm commented on #3136
Sure @avats-dev . You can work on it.

[2020-10-01 01:43] Hard-Coder05 commented on #3144
@prateekpandey14 I have made the PR. Do review it once!

[2020-10-01 05:15] akhilerm commented on #2898
@utkarshmani1997 @payes  Is this a documentation update?

[2020-10-01 05:18] akhilerm commented on #2894
@muratkars are the airgapped installation scripts / docs available now.
cc: @ranjithwingrider Can we update it with latest information.

[2020-10-01 05:31] prateekpandey14 commented on #2851
CStor csi driver support the resize for xfs , ext4 filesystem based volumes.

[2020-10-01 06:48] akhilerm commented on #2884
The localPV metrics are made available using a separate monitoring service.
[Monitor-PV](https://github.com/openebs/monitor-pv) can be used for getting localPV metrics. Also [NDM exporter](https://github.com/openebs/node-disk-manager/blob/0baecdcae8929b6ddc6f850ca5c47eb9150af025/ndm-operator.yaml#L259) can be used for getting metrics of blockdevices used in localPV.

@stephenmoloney can you try ou

[2020-10-01 06:57] akhilerm commented on #2878
@payes @kmova Do we have an update for jiva in IPV6 only environment.

[2020-10-01 07:01] akhilerm commented on #2871
@kmova  Do we have a workaround from the provisioner side for capacity enforcement ? or is using liveness probe the recommended way?

[2020-10-01 07:53] prateekpandey14 commented on #3121
@avats-dev thanks,  basically its documentation fix needs to included as a  uninstalling the openebs steps.
the info has to be added [here](https://docs.openebs.io/docs/next/uninstall.html). The fix can be raised in the repo by clicking on the edit button of the [page](https://docs.openebs.io/docs/next/uninstall.html )

[2020-10-01 08:02] prateekpandey14 commented on #3121
[code]
@avats-dev you can add the above info as last step in `Uninstall OpenEBS Gracefully` section.

[2020-10-01 08:11] akhilerm commented on #2870
@prateekpandey14 @payes Does this issue still exist in jiva or is it fixed?

[2020-10-01 08:11] ShubhamSood1406 commented on #3143
@prateekpandey14 Can I contribute to it?

[2020-10-01 08:12] ShubhamSood1406 commented on #3145
@prateekpandey14 Can I also contribute to it?

[2020-10-01 08:21] prateekpandey14 commented on #3152
Sure thanks @ronaldyuwandika

[2020-10-01 08:22] akhilerm commented on #2867
@sonasingh46 Can it be concluded that the issue was caused due to network issue on the setup?

[2020-10-01 08:34] akhilerm commented on #3136
@avats-dev [This](https://github.com/openebs/node-disk-manager/blob/287edbe59a6a9a48d897799c204822aa79afe29d/pkg/partition/partition.go#L108) is the code block that deals with partition. The label for meta information can be added here

[2020-10-01 09:00] HarshalGoyal commented on #3145
@prateekpandey14 I would like to like to work on this .

[2020-10-01 09:06] Naveenkhasyap commented on #3145
working on it.

[2020-10-01 09:20] prateekpandey14 commented on #3143
@infiniteoverflow  are you still intrested to work in this issue.

[2020-10-01 09:24] infiniteoverflow commented on #3143
Yes i am interested. Thank you 💯

[2020-10-01 09:55] akhilerm commented on #2861
This will be implemented via kubernetes NFS provisioner.
cc: @kmova For updates on the k8s NFS Provisioner work.

[2020-10-01 10:16] shubham14bajpai opened #3158 "Add badges to the openebs/upgrade README"
## Description

Add the following badges to the https://github.com/openebs/upgrade  repo README.
- Build Status
- Go Report
- codecov
- Slack

## Possible Solution

You can take reference from the README of https://github.com/openebs/node-disk-manager/blob/master/README.md

[2020-10-01 10:17] shubham14bajpai commented on #3145
@ShubhamSood1406 if you are still interested you can take up this issue https://github.com/openebs/openebs/issues/3158

[2020-10-01 10:23] akhilerm commented on #2854
@kmova @vishnuitta Do we have an update or fix on this issue?

[2020-10-01 10:28] akhilerm commented on #2834
Trivy check has been added to [linux-utils](https://github.com/openebs/linux-utils) repository. As we are now slowly migrating from travis to github actions, may need to find a vulnerability scanner to be used with github actions.

[CodeScanning](https://github.blog/2020-09-30-code-scanning-is-now-available/) from github is one option.

[2020-10-01 10:37] akhilerm commented on #2824
@cjohn001 Does the issue still persist on latest openebs version?

@kmova Doesn't the helper container remove the data once the PV is deleted?

[2020-10-01 10:54] sparkingdark commented on #3158
Want to work assign this to me

[2020-10-01 10:56] akhilerm commented on #2799
@cjohn001 Can you check if the issue still exist with latest version of Openebs (v2.1)

[2020-10-01 11:04] ronaldyuwandika commented on #3151
Hello, @payes I would try to work on this :)

[2020-10-01 11:05] ronaldyuwandika commented on #3146
Hello, @prateekpandey14 I would try work on this issue :)

[2020-10-01 11:05] sparkingdark commented on #3158
Thanks for assigning this to me.

[2020-10-01 11:07] akhilerm commented on #2796
@WoodProgrammer  Can you check if this helps. https://blog.mayadata.io/recover-from-volume-multi-attach-error-in-on-prem-kubernetes-clusters

[2020-10-01 11:13] prateekpandey14 commented on #3151
Sure @ronaldyuwandika

[2020-10-01 11:16] sparkingdark commented on #3158
Hello I think the upgrade project has no codecov account link.So that's it is showing unknown.

[2020-10-01 11:17] shubham14bajpai commented on #3158
It is okay. The codecov is still not enabled it will get updated once we enable it. Thanks a lot for the PR.

[2020-10-01 11:18] akhilerm commented on #2817
@muratkars Was OpenEBS added to KUDO operator.? If yes, can you provide any reference links.

[2020-10-01 11:30] sparkingdark commented on #3158
Awesome love to collaborate.

[2020-10-01 11:37] ShubhamSood1406 commented on #3145
Yes I can do that, can you assign me that.

[2020-10-01 11:39] shubham14bajpai commented on #3145
@ShubhamSood1406 Another contributor has already raised a PR. I will try to find some other issue for you.

[2020-10-01 11:54] ShubhamSood1406 commented on #3145
Yes please consider me if you find some other issue.

[2020-10-01 12:22] akhilerm commented on #2790
@sonasingh46  Where these tests included as part of making CSPC beta?

[2020-10-01 12:24] divya144 commented on #3134
@akhilerm  I would like to work on this issue.

[2020-10-01 12:38] lambda2 opened #3161 "Add french translation"
## Description
As a native French speaker, I would like to add a french translation of the README and the contributing guide.

## Context
I think it would be great for french speakers to have at least a README in their native language. Also, several translation in other languages already exists.

## Possible Solution
If it's okay, I can open a PR for french translations of the README and the contr

[2020-10-01 12:44] prateekpandey14 commented on #2649
@akhilerm any update on this issue, is it fixed with latest changes ?

[2020-10-01 12:45] akhilerm commented on #3134
Thanks @divya144 for taking this up.

[This](https://github.com/openebs/node-disk-manager/blob/0baecdcae8929b6ddc6f850ca5c47eb9150af025/cmd/ndm_daemonset/probe/sysfsprobe.go#L85) is the method that need to be changed to get the relevant information.

[2020-10-01 12:47] akhilerm commented on #2649
No @prateekpandey14 . We have added the partition support and LVM support is in the works. After that SoftRAID will be added.

[2020-10-01 12:58] prateekpandey14 commented on #2536
Issue still not fixed in upstream kubernetes, as this issue contains some imp discussion arounf the issue.
Meanwhile we have a workaround to recover from this state, mentioned in this [blog](https://openebs.io/blog/recover-from-volume-multi-attach-error-in-on-prem-kubernetes-clusters/)

[2020-10-01 13:04] prateekpandey14 commented on #2474
Automated Openebs upgrade specfic tests has been added in https://github.com/openebs/upgrade

[2020-10-01 13:06] prateekpandey14 commented on #2473
Automated openebs upgrade specific tests has been added in https://github.com/openebs/upgrade repo.

[2020-10-01 13:06] akhilerm commented on #2781
@prateekpandey14 @sonasingh46 Is this issue present in latest release also? I think CSPC has better logging options present.

[2020-10-01 13:08] akhilerm commented on #2764
@vishnuitta , @mynktl Keeping the issue open so that the refactoring can be tracked.

[2020-10-01 13:10] prateekpandey14 commented on #2781
Yes CstorVolumeConfig(CVC) resource will have all the failure events for any failure while provisioning the volumes.

[2020-10-01 13:15] akhilerm commented on #2832
@utkarshmani1997 Was this fixed in m-exporter?

[2020-10-01 13:15] prateekpandey14 commented on #2561
mayactl is going to deprecated in upcoming releases, so this issue is no longer valida in case of local PV.
We are working on kubectl plugin called `openebsctl` to support all types of volumes in coming future

[2020-10-01 13:24] prateekpandey14 commented on #2470
This is fixed in https://github.com/openebs/maya/pull/1027

[2020-10-01 13:36] prateekpandey14 commented on #1673
Fixed in later openebs version

[2020-10-01 13:38] prateekpandey14 commented on #1347
fixed in 1.3 openebs version

[2020-10-01 13:53] iamrajiv opened #3163 "Adding Hindi translation"

[2020-10-01 14:50] Someshbose commented on #3120
I want to work on this. Should I raise a PR for the same @prateekpandey14 ?

[2020-10-01 15:01] Someshbose commented on #3120
please review the PR https://github.com/openebs/openebs/issues/3120

[2020-10-01 15:37] harshthakur9030 commented on #3054
Seems to deprecate in 1.19 . https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals

[2020-10-01 15:52] panos commented on #2834
Can I take this? @akhilerm

[2020-10-01 15:56] panos commented on #2834
Additionally, when should the workflow be triggered?

e.g. should it be triggered by a cronjob periodically (if so, how often?), or when someone pushes a new commit instead?

[2020-10-01 16:09] prateekpandey14 commented on #3120
@Someshbose thanks for the PR . it will be great if you can go through the [contributing guidelines PR details](https://github.com/openebs/openebs/blob/master/contribute/git-commit-message.md) and change the PR commit and description according to that.

[2020-10-01 16:36] adithyaakrishna commented on #3158
@prateekpandey14 Would love to work on this!

[2020-10-01 16:41] akhilerm commented on #3134
@divya144 I have assigned the issue to you.

[2020-10-01 16:44] akhilerm commented on #3136
@avats-dev I have assigned this issue to you.

[2020-10-01 18:00] ShubhamSood1406 commented on #3163
@iamrajiv Can you explain what I have to do I this issue?

[2020-10-01 20:01] siddhi523 commented on #3148
**Proposal here is to build a plugin for OpenEBS plugin for Backstage** What's the meaning of this line? Can you elaborate a bit I researched about Backstage but that wasn't enough to get started.

[2020-10-01 21:03] aryanrawlani28 opened #3171 "DOCS: Add gujarati translations"
## Description
Add translations for the Gujarati language.

## Context
There are several translations already available. Gujarati has 50M+ users, so I think this is a good language to get translations to support.

## Possible Solution
PR: https://github.com/openebs/openebs/pull/3172

[2020-10-02 01:13] Aarush-Goyal commented on #3163
@iamrajiv Hi can I work on this?

[2020-10-02 01:34] avats-dev commented on #3136
Thanks @akhilerm , will open a PR with changes soon. :tada:

[2020-10-02 02:23] avats-dev commented on #3121
Thanks @prateekpandey14 for the help, will update soon with a PR.

[2020-10-02 03:37] iamrajiv commented on #3163
@ShubhamSood1406 @Aarush-Goyal I am working on it and have already made PR #3165 on this.

[2020-10-02 05:08] akhilerm commented on #2834
Sure @panos. I have assigned the issue to you.

The workflow should be triggered for the following cases:
1. On every pull request to the repo.
2. Every commit to the default/master branch on the repo.

[2020-10-02 07:06] KarenEfereyan commented on #3161
I'd love to see what you end up with. Maybe I can add a Yoruba translation

[2020-10-02 09:38] panos commented on #2834
I'm presuming that [this workflow](https://github.com/marketplace/actions/gp-security-scan) is fine? @akhilerm

[2020-10-02 16:51] divyhshah commented on #3171
Hey can you please assign this to me

[2020-10-02 19:19] Parikshit-Hooda opened #3192 "place openebs logo in README"
Place openebs logo to top of README file, just like [litmus](https://github.com/litmuschaos/litmus).
Logo can be taken from [the website](openebs.io) or someone can supply the logo of right dimension.
I'd like to do it under hacktoberfest.
Thanks.

[2020-10-03 03:44] Someshbose commented on #3120
@prateekpandey14  have done the changes, please review again.

[2020-10-03 04:49] AshishMhrzn10 opened #3198 "Adding Nepali language"
## Description
I want to add Nepali language .
I added files CONTRIBUTING.np.md and README.np.md where I added the Nepali language translations for both CONTRIBUTING.md and README.md.

[2020-10-03 04:52] AshishMhrzn10 commented on #3198
#3185

[2020-10-03 04:53] AshishMhrzn10 commented on #3198
I already created a pull request on this issue. Please check #3185

[2020-10-03 05:14] yash0501 commented on #3192
Can I help you with this issue?

[2020-10-03 05:50] infiniteoverflow commented on #3143
@prateekpandey14 I have raised a PR for the same : https://github.com/openebs/upgrade/pull/58

[2020-10-03 12:14] 3scava1i3r commented on #3158
is this issue completed or can i work on this one?

[2020-10-03 14:52] vijay5158 opened #3201 "ADDING ITALIAN TRANSLATION"
## Description
ADDING ITALIAN TRANSLATION , It would be great for Italian people.

[2020-10-03 14:55] vijay5158 commented on #3201
Please assign this to me.

[2020-10-03 16:57] Aryankpoor opened #3202 "Sri - Lankan Malay language support"
## Description
Hi. If the sri - lankan translation of readme is not there I might be of help. If there is already a translation for malay, pls comment so I can close the PR.

## Context

This is the malay translation of readme for sri-lankan users-
OpenEBS
Melancarkan saluran Slack #openebs Twitter PR Selamat Datang FOSSA Status CII Amalan Terbaik

https://openebs.io/

OpenEBS adalah penyelesaian

[2020-10-03 17:52] lucasqueiroz opened #3203 "Add Brazilian Portuguese translations"
## Description

There's no Brazilian Portuguese translation of the README and CONTRIBUTING guides.

## Context

Many Brazilians don't speak English, mostly because they have no access to the courses as they're expensive and could take a long time to complete.
Adding the translation opens up the access to the Brazilian developers to use and contribute to this project.

[2020-10-03 22:18] Akshay-Nagle commented on #3203
I want to work on this issue. Please kindly assign me.

[2020-10-04 00:20] lucasqueiroz commented on #3203
Hi @Akshay-Nagle I actually already opened a pull-request but forgot to mention this issue. The pr is the https://github.com/openebs/openebs/pull/3205

[2020-10-04 04:09] Akshay-Nagle opened #3208 "Spanish Translation needed"

[2020-10-04 04:10] Akshay-Nagle commented on #3208
I want to work on this issue. Please kindly assign me.

[2020-10-04 09:25] panos commented on #2834
Excuse me, but what is the code analyzer specifically meant to analyze, considering that there's basically no source code or basically anything that can be directly compiled in this repository?

[2020-10-04 10:25] mittachaitu commented on #2302
@prateekpandey14 Do we really need Point In Time snapshots? Does CSI provide this kind of feature?

[2020-10-04 10:27] mittachaitu commented on #2308
@gprasath @payes Is it still happening in the latest version of OpenEBS?

[2020-10-04 10:33] mittachaitu commented on #2309
Hi @slpcat, OpenEBS implemented kernel-mode zfs with storage engine **[zfs-localpv](https://github.com/openebs/zfs-localpv)** as name itself describe local. This issue can be re-open at any time for further discussions.

[2020-10-04 10:33] #2309 closed

[2020-10-04 10:37] mittachaitu commented on #2321
@payes is this issue still valid with the latest versions of OpenEBS? Can **[openebs/jiva-csi](https://github.com/openebs/jiva-csi)** solves this problem?

[2020-10-04 10:41] mittachaitu commented on #2323
OpenEBS supports volume expansion by editing the PVC size via CSI(for both cStor and jiva volumes).
For more information on how to expand volumes backed by cStor [click here](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/volumes/resize.md).

[2020-10-04 10:44] mittachaitu commented on #2329
Rancher provides iscsi service inside the kubelet container so no need for iscsi service to be running on the nodes. OpenEBS [docs](https://docs.openebs.io/docs/next/prerequisites.html#rancher) have been updated with relative information.

[2020-10-04 10:47] mittachaitu commented on #2333
@payes is this issue still valid with the latest versions of OpenEBS?

[2020-10-04 10:56] mittachaitu commented on #2335
@nsathyaseelan Can you verify this issue with the latest version(s) OpenEBS? I think it has been incorporated via [PR](https://github.com/openebs/openebs/pull/2739).

[2020-10-04 11:00] mittachaitu commented on #2337
@vishnuitta is this happen due to the slowness of disks? Do you have any further information? Btw AFAIK was not happening with the latest versions of cStor. @nsathyaseelan can you help in validating this issue with the latest releases?

[2020-10-04 11:18] mittachaitu commented on #2343
@prateekpandey14 do we need to look/enhance this issue?

[2020-10-04 11:45] mittachaitu commented on #2354
This issue has been addressed via PR https://github.com/openebs/maya/pull/1577 for Non-CSI volumes and for CSI volumes tracked via [PR](https://github.com/openebs/openebs/issues/2855)

[2020-10-04 11:46] mittachaitu commented on #2355
@payes @gprasath Are we hitting this error with the latest versions of OpenEBS? Do we need to re-open this issue?

[2020-10-04 11:50] mittachaitu commented on #2356
Hi @kasim457, This has been addressed via https://github.com/openebs/charts/pull/57. Can you verify and re-open this issue if that doesn't fit the use case?

[2020-10-04 11:51] romain325 commented on #3161
Can I be assigned on this on ?
I can do it as a native french speaker :)

[2020-10-04 11:53] mittachaitu commented on #2359
This has been addressed via day-2-operations on cStor and related documents can be found [here](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/cspc/mirror/mirror.md#disk-replacement-by-removing-disk).

[2020-10-04 11:55] mittachaitu commented on #2363
@vishnuitta will this happen with the latest versions of OpenEBS? @nsathyaseelan Can you help to validate this? Once the validation is done issue can be closed.

[2020-10-04 11:57] mittachaitu commented on #2366
This has been addressed via cstor-operators and further information can be found [here](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/cspc/mirror/mirror.md#disk-replacement-by-removing-disk).

[2020-10-04 11:57] #2366 closed

[2020-10-04 11:59] mittachaitu commented on #2365
@muratkars Do we need to update the charts in NKS with the latest release artifacts?

[2020-10-04 12:03] mittachaitu commented on #2369
This has been addressed via CSI-Volumes and user can increase and decrease the replication factor for cStor by following [scale-up-doc](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/volumes/migration.md#1-scale-the-cstorvolumereplicas-to-desired-node) and [scale-down-doc](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/volumes/migration.md#2-scale-down-t

[2020-10-04 12:05] mittachaitu commented on #2378
@prateekpandey14 We need to do the same in the [cstor-operators](https://github.com/openebs/cstor-operators) repo.

[2020-10-04 12:07] mittachaitu commented on #2384
@prateekpandey14 Is this issue is still valid with the latest versions of OpenEBS?

[2020-10-04 12:11] mittachaitu commented on #2393
This has been addressed via a new way of provisioning [cStor pools](https://github.com/openebs/cstor-operators/pull/141).

[2020-10-04 12:14] mittachaitu commented on #2395
Horizontal scale down of the pool is supported via new way-of provisioning cStor pools. More information can be found [here](https://github.com/openebs/cstor-operators#project-status-beta).

[2020-10-04 12:17] mittachaitu commented on #2396
This can be addressed via a new way of provisioning cStor pools. This issue can be closed once this [PR](https://github.com/openebs/cstor-operators/pull/167) merged.

[2020-10-04 12:19] sarthakvdev opened #3213 "Hindi translation needed"
As we know, people from all over the world come here, see your documentation and gain benefit from your service.

Hence, as an Indian, I wanted Hindi translations for README to be added in your project, So much more people from India could gain benefit from it.

I want to add those translated files, please check my further added pull request and merge it.

[2020-10-04 12:46] SahilSayani commented on #3158
HI I AM STARTING OUT ON OPEN SOURCE AND ID LIKE TO TRY THIS ISSUE , can I please work on it?

[2020-10-04 13:02] akhilerm commented on #2834
In the [linux-utils](https://github.com/openebs/linux-utils) repo we are using trivy to scan for any vulnerabilities in the image that is built. So we need to get that behaviour in github actions.

[2020-10-04 13:13] shubham14bajpai commented on #3158
This issue was addressed by the PR https://github.com/openebs/upgrade/pull/55

[2020-10-04 13:13] #3158 closed

[2020-10-04 13:30] #3161 closed

[2020-10-04 13:37] shubham14bajpai commented on #3143
This issue was addressed in the PR https://github.com/openebs/upgrade/pull/58

[2020-10-04 13:37] #3143 closed

[2020-10-04 13:38] shubham14bajpai commented on #3144
This issue was addressed in the PR https://github.com/openebs/upgrade/pull/54

[2020-10-04 13:38] #3144 closed

[2020-10-04 16:21] panos commented on #2834
Well, I guess there's [Kubetrivy](https://github.com/masahiro331/kube-trivy)...?

I'd (or someone else, in case this seems to go beyond my current skillset) have to come up with an entirely new GitHub Action for that. I'll see.

[2020-10-05 03:20] AdityaJ7 commented on #3213
@sarthakvdev you should close this issue as someone else has made a similar issue before you and have also made a submission .

Thanks

[2020-10-05 04:36] sarthakvdev commented on #3213
Hey Aditya, I think his PR didn't got merged. Can I work on it and add a PR because I was already working on it?

[2020-10-05 04:56] AdityaJ7 commented on #3213
It will get merged, I would suggest that you should not continue working on it

[2020-10-05 04:57] sarthakvdev commented on #3213
Ok, thanks.

[2020-10-05 04:58] #3213 closed

[2020-10-05 05:19] akhilerm commented on #2834
cc: @kmova , what is the current scope of this issue? Should we stick with just trivy or search for alternatives?

[2020-10-05 07:33] jayeshmann commented on #3145
this is still open?

[2020-10-05 07:34] shubham14bajpai commented on #3145
The PR is already raised by another contributor.

[2020-10-05 13:59] prateekpandey14 commented on #1911
This issue fixed in later releases via admission webhook validations

[2020-10-05 14:58] #3136 closed

[2020-10-06 05:07] shubham14bajpai commented on #3145
This issue was addressed by the PR openebs/upgrade#57

[2020-10-06 05:07] #3145 closed

[2020-10-06 05:40] sonasingh46 commented on #2396
Pool movement is supported after the PR ( https://github.com/openebs/cstor-operators/pull/167 ) gets merged.
The PR adds pool movement support in the CSPC based cStor only and not the SPC.
Pool movement will not be supported in SPC-based cStor and going forward CSPC will replace SPC.

[2020-10-06 06:01] #2396 closed

[2020-10-06 11:16] sharur7 opened #3219 "Indonesian Translation of Readme.md and Contributing.md"
## Description
Adding Indonesian translation of Readme.md and contributing.md

## Context
The Indonesian language is among the Top 10 spoken languages in the world. As many of the translations of Readme.md and Contributing.md are available in different languages in repo, Indonesian is missing. This translation would help people who speak Indonesian language better to understand.

## Possible Solut

[2020-10-06 11:25] sharur7 commented on #3219
Hey, @prateekpandey14 Can you please check this issue and add appropriate labels to it?

[2020-10-06 14:15] prakhargurunani commented on #2834
@akhilerm I can easily accomplish this. Can you please assign it to me ?

[2020-10-06 14:22] panos commented on #2834
@prakhargurunani I'm good, thanks.

[2020-10-06 14:36] #3192 closed

[2020-10-06 14:38] prateekpandey14 commented on #3202
Not a valid issue , closing this.

[2020-10-06 14:38] #3202 closed

[2020-10-06 14:39] prateekpandey14 commented on #3201
Not an valid  issue , clsoing this

[2020-10-06 14:39] #3201 closed

[2020-10-06 14:39] prateekpandey14 commented on #3198
Not an valid issue , closing this

[2020-10-06 14:39] #3198 closed

[2020-10-06 14:40] prateekpandey14 commented on #3219
Not an valid issue @sharur7 , closing this. Please pick the issue having `Hactoberfest` label on it.

[2020-10-06 14:41] prateekpandey14 commented on #3171
Not an valid issue, closing this

[2020-10-06 14:41] prateekpandey14 commented on #3208
Not an valid issue, closing the issue.

[2020-10-06 14:42] prateekpandey14 commented on #3163
Not an valid issue, closing this

[2020-10-06 14:42] prateekpandey14 commented on #3203
Not an valid issue, closing this

[2020-10-06 15:43] akhilerm commented on #2834
For repos like [linux-utils](https://github.com/openebs/linux-utils), which do not have any code, only the container image scanning is required. For other repos like [maya](https://github.com/openebs/maya), [node-disk-manager](https://github.com/openebs/node-disk-manager)  . .etc, both image scanning and code scanning for vulnerabilities is needed.

@panos Will you be able to work on this?

[2020-10-06 15:52] aryanrawlani28 commented on #3171
@prateekpandey14 I saw a contribution being made for the french language, so I followed. That was merged too. Any particular reason why localisations are not "valid"?

[2020-10-06 16:16] prateekpandey14 commented on #3171
@aryanrawlani28 there is no particular reason, adding all the local languages is bit of overwhelming for the user to read.
Hacktoberfest is all about making a valid contribution, so i will suggest please pick the issue from the [List](https://github.com/openebs/openebs/issues?q=is%3Aopen+is%3Aissue+label%3AHacktoberfest+label%3A%22good+first+issue%22) for a good contribution.
For any help you can

[2020-10-06 16:51] aryanrawlani28 commented on #3171
@prateekpandey14 Overwhelming for the user to read? The inverse is actually true, a user who is overwhelmed by the project size can find the introductory docs in their native language. Well, not really up to me to decide. If you didn't want localizations, you should've mentioned it earlier so everyone wouldn't have wasted time, including me. And you did accept french, so I don't know what to say.

[2020-10-06 17:22] kmova commented on #3171
I tend to agree with @aryanrawlani28 on adding missing translations.

[2020-10-06 18:05] akhilerm opened #3221 "NDM partitioned a cstor volume resulting in data corruption"
## Description

NDM created a partition on  a cstor volume that was being used by an application resulting in data corruption and thus application pod was not able to mount the volume.

## Expected Behavior

OpenEBS created iSCSI disks should be ignored by NDM, while creating partitions.

## Current Behavior

Have a multi-node cluster with application pod running on `master-01`
[code]

#### What a

[2020-10-06 18:06] akhilerm commented on #3221
@xUnholy , can you update the issue with more info on your cluster setup, like type of machines used , OS and kernel version.

[2020-10-06 18:10] akhilerm commented on #3221
A fix to prevent partitions from being created, by doing an additional filesystem check has been merged in openebs/node-disk-manager#496

[2020-10-06 18:44] prateekpandey14 commented on #3219
As we decided to consider the translation PR , re-opening the issue

[2020-10-07 00:26] panos commented on #2834
Will seek to it, just wasn't sure of what to do because I thought that the scope was limited within this repository itself.

Well, that makes much more sense now.

[2020-10-07 05:56] sam-2200 commented on #3219
@prateekpandey14  I am a beginner I want to take up this issue

[2020-10-07 06:14] sam-2200 opened #3222 "Hindi Translation on Readme.md and Contribution.md"
# **Description**
Adding HINDI translation of Readme.md and contributing.md

# **Possible Solution**
I can Add documentation of Readme.md and Contributing.md in the HINDI language.

[2020-10-07 06:21] prateekpandey14 commented on #3222
The issue and PR already exists to add Hindi translation, closing this. Thanks

[2020-10-07 06:21] #3222 closed

[2020-10-07 13:53] payes commented on #2854
A litmus test is required for this issue.

[2020-10-07 14:40] panos commented on #2834
Hi, I'm just giving notice that I know how to go around with this and am currently working on this, but I am currently a bit busier than usual. I'm trying my best.

[2020-10-08 03:39] darioneto commented on #2719
**•	Stateful Applications that you are running on OpenEBS**
Multiple Postgres flavors, Influxdb, Airflow, Prometheus, Grafana, R/Pyton apps, CI/CD integration

**•	Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?**
Currently running on cStor, exploring Maya for comparison

**•	Are you evaluating or already using in development, CI/CD, production**
Continue wi

[2020-10-08 04:49] Sumindar commented on #3163
Is this issue valid?

[2020-10-08 08:44] ifalex commented on #3132
Interested also in the same use case scenario. In order to be a good alternative for ceph/rook ReadWriteMany is a necessity.

[2020-10-08 09:17] gargeesuresh commented on #3163
Can I work on this?

[2020-10-08 11:17] prateekpandey14 commented on #3163
@gargeesuresh PR has been raised by the Rajiv and its under review.

[2020-10-08 11:27] akhilerm commented on #2983
@SteelCrow , With openebs 2.0, the unique identification algorithm has been changed. Can you try with openebs2.0 version, and check if your issue is resolved.

[2020-10-09 05:54] mynktl commented on #3010
Hi @sgielen,
Thanks for reporting this behavior.
If cstorVolume is having a healthy replica count lesser than the consistency factor then snapshot creation will fail. Due to this, the backup will also fail. Are you seeing a stale snapshot after a failed backup?

I see that [document](https://docs.openebs.io/docs/next/ugcstor.html#backup-and-restore) is not having troubleshooting steps. I'll create

[2020-10-09 07:05] akhilerm commented on #3134
@divya144 Did you get a chance to look into this issue.

If you need any help on this, you can find the developers in the openebs-dev channel in [kubernetes workspace](https://openebs.io/community/).

[2020-10-09 13:04] ssytnikov18 opened #3226 "Add ability to override nodeAffinity for Jiva replicas"
## Description
The latest openebs adds `nodeAffinity` section to the Jiva replica deployments.
By default it uses `key: kubernetes.io/hostname`.
It should be configurable in StorageClass Jiva.

## Context
Here is the example how it looks like:

[code]
If the node `ip-10-80-0-135.ec2.internal` removes from the cluster the pod won't be rescheduled to another node until I fix deployment manually.

`n

[2020-10-09 13:47] #3171 closed

[2020-10-09 16:04] archit041198 opened #3227 "Punjabi Translation of Readme.md and Contributing.md"
## Description
Adding Punjabi translation of Readme.md and contributing.md

## Context
The Punjabi language is an Indo-Aryan language with more than 125 million native speakers in the Indian subcontinent and around the world. This is native to India and Pakistan. As many of the translations of Readme.md and Contributing.md are available in different languages in the repo, Punjabi is missing. This

[2020-10-09 16:04] archit041198 commented on #3227
I would like to take up this issue

[2020-10-09 16:06] archit041198 commented on #3227
@prateekpandey14 Can you please add relevant labels to this issue? I will open a PR soon.

[2020-10-10 04:31] avinashdhinwa commented on #3147
@akhilerm I would like to pick this issue

[2020-10-10 07:54] akhilerm commented on #3147
Thanks @avinashdhinwa for taking this up. I will assign this issue to you.

If you have any queries or doubts regarding the implementation of this or in general, you can get in touch with the developers in the [`#openebs-dev`](https://kubernetes.slack.com/archives/C015124PVTL) in [kuberentes slack](https://openebs.io/community)

[2020-10-10 09:37] georgettica commented on #3052
is there something I can help with on this issue? seems like it's in the works but I don't see a PR related to that

[2020-10-10 12:00] vijay5158 opened #3230 "Arabic Language Translations of Readme and Contributing file"
## Description

Adding Arabic Translations of README and CONTRIBUTING file.

## Context

Arabic language is spoken by around 422M people (native /non-native) in the Arab world making it one of the five most spoken language of the world.

## Possible Solution

#3231

## Screenshots

[2020-10-10 12:01] vijay5158 commented on #3230
Please assign this to me

[2020-10-10 12:56] hnifmaghfur commented on #3219
bro @prateekpandey14 can you review my PR about this issue and also add appropriate labels on it ?

[2020-10-10 17:10] manpreetrathore commented on #3227
Can you please assign me this issue. Punjabi is my mother tongue and i'm very fluent in it. I can do it more efficiently and at the earliest possible.

[2020-10-10 19:43] #3208 closed

[2020-10-11 06:12] Solomon98 commented on #3219
@hnifmaghfur are you working on this issue? I can't see this issue assigned to anyone.

[2020-10-11 09:47] vijay5158 opened #3238 "Reference to deleted files"
## Description

Two deleted files are referenced in -  k8s/demo/scripts/README.md    -
- [Configure a Hello-World App](../../dedicated/run-k8s-hello-world.md)
- [Configure MySQL Pod with OpenEBS Storage](../../dedicated/run-mysql-openebs.md)
## Expected Behavior

## Current Behavior

Error

## Possible Solution

Should remove reference to these files .
## Steps to Reproduce

## Screenshots

## You

[2020-10-11 10:01] #3238 closed

[2020-10-11 11:47] Sonichigo opened #3240 "Adding Korean Language and the alternate color for homepage"
## Description
- Adding Korean and Japanese Language on README.md and CONTRIBUTING.md
- Finding the color combination for homepage
## Context

## Possible Solution

## Screenshots

[2020-10-11 13:59] #3240 closed

[2020-10-11 14:00] Sonichigo commented on #3240
Sorry it was created by mistake

[2020-10-11 15:29] archit041198 commented on #3227
@manpreetrathore currently, I have worked on Punjabi translation, I would be great if you try for any other language.

[2020-10-12 01:35] panos commented on #2834
May still contribute some workflows if any of them are still missing by the time my schedule is clear, but I'm freeing this assignment in order to not prevent others from working on it.

[2020-10-12 06:00] akhilerm commented on #2834
@prakhargurunani, Do you want to take up this issue?

[2020-10-12 06:35] prakhargurunani commented on #2834
Yes...I would like to take up this issue.

[2020-10-12 06:36] akhilerm commented on #2834
@prakhargurunani I have assigned the issue to you.

[2020-10-12 08:28] hnifmaghfur commented on #3219
@Solomon98 i think this issue open for all, so i work in this issue.

[2020-10-12 08:31] sharur7 commented on #3219
I actually opened this issue for myself and I have already created a PR #3224 😅

[2020-10-12 10:45] akhilerm opened #3251 "migrate github action workflows to use official docker buildx"
## Description

Openebs builds multiarch images for its components using docker buildx. As part of CI and release, the images are built in github actions.
The [github action](https://github.com/crazy-max/ghaction-docker-buildx) used to setup docker-buildx in openebs has been archived and the project is now moved to the [official docker organization](https://github.com/docker/setup-buildx-action).

[2020-10-12 14:29] Someshbose commented on #3120
Hi @prateekpandey14 can you please look into it

[2020-10-12 16:36] prakhargurunani commented on #2834
@akhilerm My PR is ready...But I have removed codespell from it. Codespell was not initialising in Docker and was giving errors. I googled a lot, but none of the solutions worked. But we can use codespell through GitHub Actions. What do you think ?

[2020-10-12 17:26] akhilerm commented on #2834
Thanks @prakhargurunani .

Sure, we can use it via github actions. 2 checks might not be required. Lets focus on gh actions for now.
Also, can you tag me once you have raised the PR.

[2020-10-14 06:00] #3203 closed

[2020-10-15 02:06] kmova commented on #3120
Thanks @Someshbose . Merged!

[2020-10-15 02:06] #3120 closed

[2020-10-15 02:08] #3121 closed

[2020-10-15 05:34] #3163 closed

[2020-10-15 05:50] #3230 closed

[2020-10-15 05:52] #3227 closed

[2020-10-15 11:39] akhilerm commented on #3134
@divya144 Are there any updates on this issue?

[2020-10-15 13:30] prabhatkumarthakur commented on #3051
@akhilerm  In case I am having 10 disks and only 1 disk is having a partition then the rest 9 disks should be detected and shown by ndm.
Currently if in a node 1 partition disk is present logs are getting flooded about that partitioned disk and the rest of the unused disks are not detected by ndm.

[2020-10-15 13:38] kmova commented on #3132
Working on a prototype to provide a provisioner that helps with RWX volumes on top of OpenEBS RWO volumes. Will be sharing the details shortly.

[2020-10-15 16:38] prateekpandey14 opened #3260 "Openebs Helm chart delete failed due to namespace delete admission webhook validation error"
## Description
Openebs Helm chart delete failed, due to race condition while helm delete the openebs namespace , kicks in webhook validation to validate the namespace delete request, to verify if there is Blockdevices are in use by any pools etc, to save it from any data loss scenarios.

## Expected Behavior
Openebs Helm chart should remove successfully without any error

## Current Behavior
Opene

[2020-10-16 06:12] sonasingh46 commented on #3260
The uninstall order from the helm is :
https://github.com/helm/helm/blob/d3b049759d2376b8a81da1f5e96ff2387b2cdc45/pkg/releaseutil/kind_sorter.go#L71

[2020-10-16 06:18] sonasingh46 commented on #3260
I am looking into this.

[2020-10-16 10:13] hnifmaghfur commented on #3219
no one assigned for this issue so i think this issue free for all 😅

[2020-10-17 19:58] 15bcs019 commented on #2764
is this issue still open?

[2020-10-18 09:04] jnsrikanth commented on #3132
Hi  Kiran @kmova do you have any further updates with regards to the ReadWriteMany for OpenEBS + cStor ? Is there an option for doing RWM using OpenEBS + Local Persistent Volumes?
What other options do we have to do ReadWriteMany (RWM) under the OpenEBS basket especially for a single Node K8S Cluster? Any inputs will be highly appreciated.

Let me know.

-Srikanth

[2020-10-18 15:34] jnsrikanth opened #3263 "PersistentVolumeClaim local-device-pvc failed to provision volume with StorageClass "openebs-device": unable to find BD"
## Description
Step 1: Installed OpenEBS in a Single Node MicroK8S Cluster.
Step 2: Installed the below PVC and Pod to make use of the default storage class "openebs-device" as part of the OpenEBS installation
kubectl apply -f https://openebs.github.io/charts/examples/local-device/local-device-pvc.yaml
kubectl apply -f https://openebs.github.io/charts/examples/local-device/local-device-pod.yaml

#

[2020-10-19 11:21] ng29 opened #3265 "Adding Table of Content to Readme.md"
## Description
Missing table of contents in readme.

## Possible Solution
The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.
A clear and concise description of the improvement.

[2020-10-19 15:53] rafael-rosseto opened #3267 "Missing link to translations in openebs/translations/README.md"
## Description

File is missing links to README.pt-BR.md and README.hi.md

[2020-10-20 05:27] mynktl commented on #2764
yes @15bcs019 , issue is in open state. Thanks for showing interest.

In `openebs/libcstor`, We have one function `uzfs_zvol_rebuild_dw_replica` to rebuild degraded replica. This function is too long, containing whole rebuild flow. This issue it to fragment this function into multiple functions.
As of now this function contains,
- connecting to remote replica https://github.com/openebs/libcstor/bl

[2020-10-21 06:02] prateekpandey14 commented on #3089
@akhilerm do we any new findings for this issue ?

[2020-10-21 06:14] AndiDog commented on #3263
When `kubectl describe`ng the BlockDeviceClaim, you should see something like

[code]

OpenEBS requires you to [have a block device created](https://docs.openebs.io/docs/next/uglocalpv-device.html#prerequisites) in order to use storage class `openebs-device`. See also "Specify the list of block devices for which BlockDevice CRs must not be created" [here](https://docs.openebs.io/docs/next/uglocalp

[2020-10-21 06:53] akhilerm commented on #3089
The issue happens because the udev rules in GCP generates same devlink for multiple nvme devices. To fix this issue , we need to modify the udev rules. This is a workaround for this issue.

1. Edit `/lib/udev/rules.d/60-persistent-storage.rules` . Comment out the following line, in the GCP instance, its line 25 and 26.
[code]
2. Save the file
3. Run the following command as root
[code]
Now the lin

[2020-10-21 15:12] akhilerm commented on #3147
Hi @avinashdhinwa , is there an update on this issue?

[2020-10-22 10:52] harridu opened #3273 "iscsi: failed to attach disk: Error: iscsiadm: Could not login"
## Description

Using openebs 2.0.0 I've got a problem to access a persistent volume:
[code]

Apparently the iscsi volume got lost somehow.
## Your Environment
[code]
* Install tools:
rancher 2.5.1, rke 1.19.3, docker 19.3.13
* Others:

[2020-10-22 11:49] harridu commented on #3273
PS:
[code]
Apparently there is no IP address 10.43.215.81, only 10.42.0.0/16 and 172.19.0.0/16, so I wonder how this IP address could have sneaked in?

[2020-10-22 12:24] prateekpandey14 commented on #3273
@harridu did you followed the prerequisites from the docs https://docs.openebs.io/docs/next/prerequisites.html#rancher-ubuntu-centos

[2020-10-22 15:49] kuja53 commented on #2719
-  ### Stateful Applications that you are running on OpenEBS

Gitlab
Prometheus
Grafana
Nexus
Elasticsearch
RabbitMQ

- ### Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?

LocalPV and in some cases cStor

- ### Are you evaluating or already using in development, CI/CD, production
development and production clusters

- ### Are you using for home use or for y

[2020-10-23 08:15] harridu opened #3274 "weird text on https://docs.openebs.io/docs/next/uninstall.html"
There is some weird text on https://docs.openebs.io/docs/next/uninstall.html in the text block above "kubectl get ns".

[2020-10-24 12:50] zlymeda opened #3275 "microk8s : cstor-operators iSCSI does not mount PV onto the pod"
## Description

- install microk8s version : 1.19/stable
- symlink kubelet to point to snap kubelet

[code]

- install cstor-operators 2.2.0

[code]

[code]

- creating CSPC, SC

[code]
[code]

[code]

- create PVC
[code]

[code]

- deploy sample app
[code]

[code]

## Current Behavior

The volume was attached as per the event message: AttachVolume.Attach succeeded for volume "pvc-371814a5-d35d-4b

[2020-10-25 19:52] sgielen opened #3277 "Cannot drain a node running istgt because of attached local storage"
## Description
I wanted to drain a node so I could safely reboot it afterwards. However, I got an error that the node could not be drained because of attached local storage in, among others, the istgt target Pods.

## Expected Behavior
The istgt targets can run on any node, so they are not bound to a particular node. Indeed, when a target Pod is deleted, it is restarted on another node, where it f

[2020-10-27 22:29] ch1771dr0b0 commented on #3267
I'll take this.

[2020-10-28 06:50] akhilerm commented on #2834
Trivy scanner has been added to [openebs/linux-utils](https://github.com/openebs/linux-utils) repo via https://github.com/openebs/linux-utils/pull/8

[2020-10-28 07:02] akhilerm commented on #3251
@xUnholy Can you take a look at the multiarch build in `openebs/linux-utils` repo.

[2020-10-28 07:06] akhilerm commented on #3134
@divya144 Will it be possible for you to work on this issue. If not, I can unassign and free up the issue for others to take up.

[2020-10-28 10:04] pavankumarkatakam opened #3280 "hostpath provisioner makes PVC pending if volumeName is specified"
## Description
Im using the openebs and customer storage class is used as below yaml
[code]
using this storageclass, pvc are stuck at pending and there is no logs at all if volumeName is mentioned. as below yaml

[code]

if remove the volumeName, it status is bound but generating the unpredictable uid for that name, i need to specify the custom volume name so that i can rebind to that particular f

[2020-10-29 16:57] akhilerm commented on #2704
This issue has been fixed with openebs 2.0, where a new UUID algorithm for blockdevices is used. Ref : [Change-summary](https://github.com/openebs/openebs/wiki/Change-Summary-v2.0#new-capabilities)

[2020-10-30 20:28] AndiDog commented on #3052
I have the same issue: want to use only the dynamic Local PV provisioner of OpenEBS, and since it's another component (ndm / maya API server) installing the CRDs dynamically, the chart installation doesn't become healthy. Therefore, I have to install the full chart with all components enabled, which wastes resources with pods I don't use. Totally agree on the solution to install the CRDs from the

[2020-10-30 20:44] AndiDog commented on #3052
I thought there was a workaround: install CRDs first with `kubectl apply -f "https://raw.githubusercontent.com/openebs/api/master/config/crds/all-crds.yaml"` and then `helm install --set "crd.enableInstall=false" [...]`. But that doesn't work since the file `all-crds.yaml` in fact does not include _all_ CRDs ([Makefile only generated cstor CRDs](https://github.com/openebs/api/blob/9488ac7a34840a3c

[2020-10-31 06:28] prateekpandey14 commented on #3052
@AndiDog we are yet to refactor and add openebs CRDs as templates in [openebs helm-charts](https://github.com/openebs/charts/tree/master/charts/openebs).

The `all-crds.yamls` contains new CRDs APIs, not part of official openebs charts yet, and they are going to be part of new charts as mentioned below listed PRs.

Here are couple of PRs under review to add CStor and NDM helm charts to add CRDs as

[2020-10-31 08:09] AndiDog commented on #3052
@prateekpandey14 Then https://github.com/openebs/api/pull/73 may be invalid and you might want to close it. Can you tell me if my wish of running only `localprovisioner.enabled=true`, but everything else disabled, would work? Or is the API server required? The API server can be disabled in the Helm chart, so I guessed it's not essential.

[2020-10-31 18:16] Taranzz25 opened #3291 "CONTRIBUTING.hi.md has an incorrect git command listed"
## Description

The CONTRIBUTING.hi.md file has many git commands to explain how one can contribute to this repo in Hindi language. But while translating it to Hindi, somewhere in the file the git commands have also been translated. Since we can't enter hindi text in git, it needs to be corrected as the command as of now stands incorrect.

## Context

All the people reading this file will be unabl

[2020-11-02 15:25] prateekpandey14 commented on #3052
@AndiDog yes, in case of only localPV you can skip the installation of maya API server. The minimal yaml only for localpv is [here](https://github.com/openebs/charts/blob/gh-pages/2.2.0/openebs-operator-lite-2.2.0.yaml) for better understanding

[2020-11-02 18:05] #3291 closed

[2020-11-03 07:44] AndiDog commented on #3052
That should be documented in the Helm chart, i.e. which `<xyz>.enabled=true` setting is needed for LocalPV-only installation. But then I can't make use of that minimal installation because the default StorageClass `openebs-hostpath` (and others) are created only if you run with `provisioner.enabled=true` (it seems), which in turn requires `apiserver.enabled=true`. You see where this is going: the

[2020-11-03 08:09] kmova commented on #3052
@AndiDog - just been working on pulling the localpv related code into its own repo, which will help us to create a chart only for hostpath.

https://github.com/openebs/dynamic-localpv-provisioner

[2020-11-03 14:24] stevefan1999-personal opened #3294 "NDM keeps failing to query disk info with OpenZFS ZVOL"
## Expected Behavior
NDM should just ignore OpenZFS volumes unless manually registered

## Current Behavior
NDM keeps scanning the drives and seated itself into a "deadloop", which means the there's an infinite re-querying of disk information, and spams dmesg with disk info, with potentials to starve system resources.
[code]
The log content is synonymous with the content shown in NDM log, so I hig

[2020-11-03 15:44] zach-robinson opened #3295 "Jiva Volumes on OpenShift 4.x Cannot be Provisioned Without Manual Intervention"
## Description

When using OpenEBS on OpenShift 4 (installed via the operator), when Jiva PVCs are provisioned in non-system (user-created) namespaces, the pvc-*-rep pods will fail to be created causing the provisioning to fail. These pods seem to be assigned to the default serviceaccount of whatever namespace they are running in (the same namespace as the PVC that they are assigned to). By defaul

[2020-11-04 08:51] tscswcn opened #3296 "could we use openebs for virtual machine?"
could we use openebs for virtual machine?
## Description

## Context

We have  use KVM in our env and we have no share storages for kvm hosts,  but we need migrate vms sometimes, so we need share stroages.

## Possible Solution

other share storages also ok.

[2020-11-06 00:40] #3092 closed

[2020-11-06 00:40] #3091 closed

[2020-11-06 00:40] #3065 closed

[2020-11-06 00:40] #3090 closed

[2020-11-06 06:32] akhilerm commented on #3054
@sonasingh46 BlockDevice and BlockDeviceClaims are not yet migrated to `apiextensions.k8s.io/v1`. So i think we should keep this issue open.

[2020-11-06 18:55] survivant commented on #3056
I have a similar issue.  I'm not able to remove few ressources

[code]

they won't die.  I'm waiting for hours and nothing change.

[code]

[2020-11-07 00:40] #2965 closed

[2020-11-09 14:40] invidian commented on #3046
@prateekpandey14 I suppose this issue should be re-opened?

[2020-11-10 10:01] Sabarish41 opened #3300 "Openebs For Windows support"
Hello Team,

Could you please help me on whether Openebs can support windows environments.
If not let me know if I can atleast do a PVC claim from windows node to linux master.

Regards,
Sabarish S S

[2020-11-11 00:23] yydzhou commented on #2719
- Stateful applications that you are using OpenEBS
elastic search

- Type of OpenEBS Storage Engines behind the above application
LOcalPV

- Are you evaluating or already using in development, CI/CD, production
Have being using it in elastic search cluster, and evaluating wider usage.

- Are you using for home use or for your organization
In company environment.

- A brief description of the use c

[2020-11-11 06:16] akhilerm commented on #3099
Support for DM devices has been added to NDM in https://github.com/openebs/node-disk-manager/pull/495. This includes support for LVM, Luks device etc. Cleanup is also now supported for DM devices.

[2020-11-11 06:16] #3099 closed

[2020-11-13 08:28] foldingbeauty commented on #3078
@kmova Any news on the progress of this feature, would love to test it out.

[2020-11-14 00:38] #3056 closed

[2020-11-17 03:22] akhilerm commented on #2272
Support for LVM and DM devices has been added in release 2.3.0, Ref:https://github.com/openebs/node-disk-manager/pull/495

[2020-11-17 22:04] asoltesz commented on #3133
I also need this functionality.

I am using Hetzner Cloud machines. I can partition the disk (sda1 for the OS, sda2 for OpenEBS). I cannot have the free space as a separate, standalone device (sdb)

Currently, I cannot utilize sda2 because OpenEBS always ignores it due to os-disk-exclude.

[2020-11-18 18:29] kmova commented on #3132
@jnsrikanth -- for single node k8s, you can use the RWO volume and it works with all the pods. RWO actually means access from a single node.

[2020-11-18 20:00] mpartel opened #3303 ""admission-webhook.openebs.io" does not support dry run"
## Description
When running `kubectl diff` or `kubectl apply --dry-run` I get this error:
`admission webhook "admission-webhook.openebs.io" does not support dry run`

## Possible Solution
You can mark the [ValidatingWebhook](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#validatingwebhook-v1beta1-admissionregistration-k8s-io) resource that OpenEBS installs in `webhook/configu

[2020-11-18 20:03] kmova commented on #3303
@mpartel -- just in case you want to take this up for making the change. The charts are here: https://github.com/openebs/charts

[2020-11-18 20:16] mpartel commented on #3303
Ah, sorry, I filed this in the wrong repo :man_facepalming:
The `webhook/configuration.go` I mentioned was in openebs/maya.
Refiled as https://github.com/openebs/maya/issues/1771

[2020-11-18 20:16] #3303 closed

[2020-11-19 00:41] #3102 closed

[2020-11-19 05:07] kmova commented on #3132
Still developing the dynamic provisioner. The draft code I am working on is at : https://github.com/kmova/dynamic-nfs-provisioner

[2020-11-20 00:42] #3104 closed

[2020-11-20 06:36] akhilerm commented on #3104
This is an expected behaviour.  The Unclaimed and Inactive blockdevices will be cleaned up in a later release of OpenEBS NDM.

[2020-11-20 16:36] akhilerm commented on #3078
Support to use DM devices (LVM, LUKS etc) as blockdevices has been merged and is available in openebs version 2.3.0

[2020-11-21 08:11] foldingbeauty commented on #3078
@akhilerm thanks. will try out soon. great work.

[2020-11-23 05:48] shubham14bajpai commented on #3107
The issue got fixed with the PR https://github.com/openebs/upgrade/pull/38

[2020-11-23 05:48] #3107 closed

[2020-11-23 21:50] KevinWhalen opened #3304 "Unable to mount jiva volumes (maybe from libcrypto.so.10 not found in kubelet)"
## Description

Host-path bind-mounting works and jiva did initially. When I told it to redeploy to a different node, it never managed to mount the volume. Has never mounted a jiva volume since then.

At first, I thought it was from the mistake of using a deployment workload, instead of being a stateful set (have mostly ever only used deployments before this). I threw that away and created a state

[2020-11-23 21:59] KevinWhalen commented on #3304
brings the main error to the "current behavior" section.

[2020-11-24 03:47] akhilerm commented on #2837
Keeping the issue open as this will be addressed as part of upgrading the BlockDevice custom resource. This is because the capacity fields need to be changed to [`resource.Quantity`](https://github.com/kubernetes/apimachinery/blob/2456ebdaba229616fab2161a615148884b46644b/pkg/api/resource/quantity.go#L89) from the current `int64` type.

[2020-11-24 07:34] akhilerm commented on #3133
[code]

When having the following disk configuration on the nodes(kubernetes volumes on a partition on a different disk other than root disk), NDM is excluding both `sda` and `sdb`, making the partitions on `sda` unusable. NDM should be able to only exclude the partitions specified with the mountpoint instead of the complete disk.

[2020-11-24 22:34] alexppg opened #3305 "Deployments created by jiva don't have a lot of its attributes"
## Description

The PVC deployments that the Jiva provisioner creates, do not have tolerations, nodeSelector nor service account (so no PSP).

What I've done so far is:
- Install openebs using the helm chart
- Create StoragePool
- Create SC using the storage pool and configuration with nodeSelectors and targetTolerations
- Create PVC
- Create deploy that uses PVC

When the deploy is created, the J

[2020-11-25 14:11] caiconkhicon commented on #3226
@prateekpandey14 : May I ask when will this feature be implemented? We are really struggling with it.

[2020-11-25 14:46] kmova commented on #3226
@ssytnikov18 - just a couple of more queries:
- How many nodes do you have in the cluster?
- When the nodes go offline? can they be controlled to go out one at a time?

If you have 3 nodes in the cluster that are running the jiva volumes and you have PDB or other rules setup to ensure only one node goes out at a time, there is a quick solution that we can provide.

[2020-11-25 15:02] ssytnikov18 commented on #3226
@kmova

we have 30 worker nodes.

usually only one node at a time go offline.

we have a few Jiva PVCs for different applications.
ReplicaCount = 3

[2020-11-25 15:06] ssytnikov18 commented on #3226
for now my solution is manual:
after cluster recreation or deploying new app with Jiva PVC I'm editing deployments for Jiva replicas to remove ** nodeAffinity** section.
After that the replicas automatically rescheduling to the new nodes if necessary.

I just want to have this configurable during new Jiva PVC deployment (in storage class for example)

[2020-11-25 16:09] FeynmanZhou commented on #2719
## Company

KubeSphere (QingCloud)

## Stateful Applications that you are running on OpenEBS

[KubeSphere](https://github.com/kubesphere/kubesphere), there are some stateful components including Redis, MySQL, Elasticsearch, Prometheus, etc.

## Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?

Local PV

## Are you evaluating or already using in development, C

[2020-11-26 07:18] #3274 closed

[2020-11-27 03:29] laimison commented on #2719
**Stateful Applications on OpenEBS:** Ruby on Rails with ActiveStorage, Redmine, Docker registry, ownCloud, Mattermost, Bitbucket, Jira and Blynk

**Type of OpenEBS Storage Engines:** cStor

**Environments:** test & will be production

**Usage:** home and organization

**OpenEBS use case:** it solves failover issue out of the box when having a new product without time consumers, nodes are in diffe

[2020-11-28 05:38] lenko-d opened #3307 "Support for downgrading of OpenEBS"
## Description

Please implement the ability to downgrade OpenEBS to a previous version.

## Context

There is a need for a rollback because in a complex cluster with multiple upgrade steps something may fail and we should be able to restore the cluster to the same state that it was before the upgrade.

Example rollback scenario:
Task: upgrade application X running in a Kubernetes cluster that is

[2020-12-01 09:10] kim0 commented on #3295
Just to be clear, this is how to apply the workaround
[code]

Can someone from openebs please fix this annoying bug. Thanks!

[2020-12-01 11:10] alonsocamaro opened #3309 "[DOC] Comments on https://docs.openebs.io/docs/next/ugcstor.html"
Hi

I hope the following helps

The doc in the link above is about using Unmanaged block devices, but what if the existing Unmanaged block devices are not large enough? I didn't find docs on creating Blockdevice Kind but maybe i didn't search well enough.

I find it would be more interesting to write the doc not assuming that there suitable block devices.

Thanks for this project.

[2020-12-01 18:59] alexppg commented on #3305
Just to update, @prateekpandey14 has commented on the [slack thread](https://app.slack.com/client/T09NY5SBT/CUAKPFU78/thread/CUAKPFU78-1606150752.413800) that he can't reproduce the problem. I'm not sure how to continue debugging, any hint on how to do so, will be welcomed.

[2020-12-01 22:56] maxisam commented on #3263
I have the same problem. I have a blockdevice created beforehand. But It seems like it only can be claim by one pvc. So if I have 2 pods needs 2 pvc on one node but I only have 1 block device. It seems like it won't work even the block device has sufficient space.

[2020-12-02 10:42] Mosibi opened #3310 "LVM: Disk filtering on /dev/mapper/<vg>-<lv> or /dev/<vg>/<lv> should be possible"
**Describe the problem/challenge you have**
I would like to use LVM backed disks and filter them on the name of the volume group and the logical volume name. If I use a filter like this `includePaths: "/dev/mapper/vg_storage-lv_storage_01,/dev/dm-10"`, I only get a blockdevice bound to /dev/dm-10 and not the blockdevice /dev/dm-6, which in this case is bound to /dev/mapper/vg_storage-lv_storage_01

[2020-12-02 15:59] maxisam commented on #2989
well, I removed the finalizer and bdc is gone now but bd is still on claimed status

[2020-12-02 16:11] kmova commented on #2989
@maxisam - Is that BD associated with the BDC that was just deleted. If yes, as a workaround, you could delete the BD itself and restart the NDM pod on that node and the BD will be recreated.

Also, can you describe what steps were performed to get into this state.

[2020-12-02 17:17] maxisam commented on #2989
The whole thing was from a misunderstanding. I thought one bd can serve more than 1 bdc. so I created multiple pods asking for storages. And that is how things started.

I realized most pc and pvc can't bind properly. I decided to remove them. And that parts works.

Both bind and unbind are removed. I removed the deployment as well.

and then the bdc is still there. one of them is bound with bd.

[2020-12-02 17:24] kmova commented on #2989
As part of this fix, the following case also needs to be solved:
- Let the BD be bound to the BDC
- Delete the BDC after manually removing the finalizers
- Check if the BD is still pointing to the deleted BDC
- Delete BD and make sure it is getting deleted

[2020-12-03 10:08] kmova commented on #3307
As per the [slack conversation](https://kubernetes.slack.com/archives/CUAKPFU78/p1605241340243900), this feature may be required in the future and is not a blocker at the moment. Will revisit this later.

[2020-12-05 14:44] kmova commented on #3094
One of the ways we can solve this is using the following solution:
- Setup the Local Pv with a custom node affinity label - managed by NDM
- NDM can do the following:
  * NDM can add a label to the node whenever a BDC is bound to a BD ( BD=BDC )
  * NDM when moving a BD from one node to another node - should move the label ( BD=BDC) to new node (remove from old node and add to new node)
  * NDM ca

[2020-12-07 10:26] #3310 closed

[2020-12-07 13:21] akhilerm commented on #3114
The issue is still being tracked, but not actively worked upon.

[2020-12-08 17:48] ATalkingHead commented on #3304
@KevinWhalen

We just encountered this issue with the same setup - Jiva on RKE.

By adding the following to the extra_binds section in cluster.yml specified in the OpenEBS docs for RKE installations we managed to get it working.

[code]

Hope this helps!

[2020-12-08 22:29] KevinWhalen commented on #3304
@ATalkingHead, adding those seems to have done it. I will report back after more testing and if, kicking off from there, I find a more generic solution.

For CentOS, those lib files are in package... TODO.

[2020-12-09 21:30] KevinWhalen commented on #3304
Continues to have issues.

The application with the volume claim ran alright as a stateful set and as a deployment. The S3 MinIO instance it needs does not. I will need some time to step through debugging that. It was working with LocalPV and since it does its own replication will be LocalPV in the end, but I wanting to try a second application. The jiva replicas for MinIO seem to start fine and e

[2020-12-09 22:18] asoltesz opened #3311 "Local volumes not provisioned after Velero restore"
Local volumes (openebs-hostpath) are not provisioned for PVCs restored with Velero.

## Expected Behavior
OpenEBS should provison a volume for the PVC

## Current Behavior
The PVC definition gets restored by Velero but it never gets bound.
The log on the OpenEBS local-provisoner pod shows no sign of trying to provision a volume

## Steps to Reproduce

I am using openebs-hostpath volumes on my sing

[2020-12-10 04:03] akhilerm commented on #1295
@kmova @nsathyaseelan Are there updates on the e2e pipelines for ARM.?

[2020-12-11 04:40] akhilerm commented on #3023
All the openebs components has multiarch images available now,

cc: @dobegor A separate operator.yaml file for different architecture wont be necessary now. You can use [this](https://openebs.github.io/charts/openebs-operator.yaml)

@brandond You can use the offical openebs helm charts available [here](https://openebs.github.io/charts/). Since the images specified in the charts are multiarch, you

[2020-12-11 07:31] svua opened #3312 "Pod has unbound immediate PersistentVolumeClaims"
Openebs version: 1.12.0

I attached new NVMe drives to servers. I want to use disks as Local PV Device.
Unfortunately, this cannot be done using the official documentation - https://docs.openebs.io/docs/next/uglocalpv-device.html#optional-block-device-tagging
To avoid making a mistake, I just copy-paste from the official documentation and it does not work

1. Block Device Tagging
[code]
[code]
[co

[2020-12-11 07:40] kmova commented on #3312
@svua - can you share the following outputs as well:

[code]

The bdc that is in pending state actually has the match label configured as `openebs.io/block-device-tag:  nvme-local`

[2020-12-11 07:52] surajssd commented on #3304
The documentation for `iscsi` is kinda confusing to me here:

[Source](https://docs.openebs.io/v100/docs/next/prerequisites.html_

What should the initiator file look like? What should I expect in the file?

[2020-12-11 08:11] svua commented on #3312
Yes, I ran it many times and nothing worked. I decided to do it through copy-paste.

There is nothing interesting there (I removed volumes from the output for applications that run in the cluster)
[code]

How can I delete a claim?
[code]

[code]
Delete is stuck and nothing happens

[code]

[2020-12-11 10:16] prateekpandey14 commented on #3304
@surajssd i will just contains the Initiator Name

[code]

[2020-12-11 12:54] alexppg commented on #3305
If somebody reads this, there's two things to comment.

First one, pvc-##-rep-## didn't work because of a configuration problem. It seems that `TargetTolerations` and `TargetNodeSelector` only work for pvc-##-ctrl-##. So to configure the replicas, you must use `ReplicaNodeSelector` and `ReplicaTolerations`.

And the second, it seems there was indeed a bug that only affected the controller deploy.

[2020-12-11 20:04] asoltesz commented on #3311
This turns out not to be an issue with OpenEBS, but comes from a Velero peculiarity.

If a namespace backup is requested from Velero with --include-cluster-resources=false, the backup will not contain the PersistentVolume object definitions.

When Velero restores a backup like this, it will not request new volumes from Kubernetes (and consequently from OpenEBS) but simply restore the PersistentVol

[2020-12-11 20:04] #3311 closed

[2020-12-13 21:58] rm3l opened #3314 "PersistentVolumeClaim remains Pending in latest Kubernetes v1.20.0"
## Description
Hi there.
I recently upgraded a bare-metal Kubernetes cluster to the latest v1.20.0. But since then, I am no longer able to provision additional PersistentVolumes. Existing PVCs which were already bound prior to the upgrade still work flawlessly.
I am using OpenEBS 2.3.1.

For reference, here is a simple PVC I requested for testing :
[code]

All Persistent Volumes Claims I requested

[2020-12-14 05:50] kmova commented on #3314
Thanks @rm3l for reporting this. I will take this up.

[2020-12-15 06:23] james-d-elliott commented on #3314
I am not super familiar with the OpenEBS suite however updating k8s.io modules to v0.16.x+ should fix it, which means you need to use sig-storage-lib-external-provisioner v5 or higher (you're using 4.1.0 mostly).

[2020-12-15 12:36] svua commented on #3312
I have solved for this issue.

Firstly, There is a mistake in the documentation
https://docs.openebs.io/docs/next/uglocalpv-device.html#create-a-persistentvolumeclaim

In local-device-sc.yaml
`name: local-device`

In local-device-pvc.yaml
`storageClassName: openebs-device`

Therefore the copy-paste method does not work.

Secondly, We need use nodeSelector for pods if we have disks only on the diff

[2020-12-15 12:36] #3312 closed

[2020-12-15 15:48] kmova commented on #3300
cc: @nconnolly1 - who is helping with some of the activities around enabling CAS for windows.

[2020-12-15 16:14] Mohkam commented on #3300
maybe something like CSIProxy would be great since windows worker nodes do not support `privileged containers`.  I hope OpenEBS will address windows containers sooner.

[2020-12-16 03:31] kmova commented on #2875
With 2.4.0, OpenEBS Local Hostpath storage class can specify a custom node affinity label like (openebs.io/custom-node-id) as follows:

[code]

[2020-12-16 03:33] kmova commented on #2875
Keep this issue open to seek feedback from the community on the feature and check if further enhancements are required.

[2020-12-16 07:54] cumirror opened #3315 "[openebs-hostpath] cloned PersistentVolumeClaim remains Pending because of WaitForFirstConsumer mode"
## Description
Hi there.
I recently use openEBS's localPV: hostpath(provisioner-localpv:2.3.0).
I want do a clone from a bound PVC, but cloned pvc remains Pending because of WaitForFirstConsumer mode.
[code]

## Expected Behavior
when clone pvc, should bind pv Immediate not WaitForFirstConsumer.

## Current Behavior
cloned PersistentVolumeClaim remains Pending because of WaitForFirstConsumer.

##

[2020-12-16 10:48] cchanning commented on #3314
Hey folks, I'm also seeing this issue on a freshly installed K8's v1.20.0 cluster:

I1215 23:15:27.132409       1 controller.go:991] provision "default/data-pg-postgresql-0" class "openebs-cstor": started
E1215 23:15:27.143808       1 controller.go:1008] provision "default/data-pg-postgresql-0" class "openebs-cstor": unexpected error getting claim reference: selfLink was empty, can't make referenc

[2020-12-16 13:14] james-d-elliott commented on #3314
Yeah, current workaround linked above: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25#issuecomment-742616668

[2020-12-16 15:29] kmova commented on #3314
Just a quick update on this one.

I am still working through refactoring the https://github.com/openebs/external-storage repo to move towards latest K8s. These provisioners are currently dependent on 1.12.

To do this, the following steps are involved and I should be able to complete them by Friday:
- migrate the openebs provisioners to their own repo to make it easier to fix the current issue and

[2020-12-16 15:51] rm3l commented on #3314
Great — thanks for the update @kmova !

[2020-12-16 19:22] geeksterio commented on #3056
I'm having the same issue:
`kubectl delete spc,csp --all
storagepoolclaim.openebs.io "cstor-disk-pool" deleted
storagepoolclaim.openebs.io "cstor-sparse-pool" deleted
cstorpool.openebs.io "cstor-disk-pool-fhj0" deleted
`
I've uninstalled the helm chart and i'm stuck with the spc, csp, bd, bdc..
Any recommendation ?
I uninstalled the

[2020-12-16 19:33] survivant commented on #3056
I created a guide
https://github.com/openebs/openebs-docs/issues/900

tell us if it works

[2020-12-16 20:53] kmova commented on #3314
Extracted the openebs-provisioner code to this repo. https://github.com/openebs/openebs-k8s-provisioner

Updated it to make use of 1.17.3 Kubernetes at the moment - inline with the dependencies used by other openebs provisioners. We can bump this higher for all the provisioner if required.

Development images for the provisioner with kubernetes dependency upgraded is available at: `openebs/openebs

[2020-12-16 22:28] rm3l commented on #3314
@kmova I just upgraded my OpenEBS Helm Release to use the provisioner image you mentioned:
[code]

I can confirm this fixes the issue on my side in my K8s v1.20.0 cluster, at least for a Jiva deployment. 👍🏿
I do not use cStor, so unfortunately cannot confirm if it is fixed for it.

Provisioner logs:
[code]

[code]

Thanks.

[2020-12-17 07:10] prateekpandey14 commented on #3305
Fixed in https://github.com/openebs/maya/pull/1773, thanks @alexppg for raising an issue

[2020-12-17 07:10] #3305 closed

[2020-12-17 14:31] geeksterio opened #3317 "Apiserver in CrashLoopBackOff status"
Hi,
On a new setup using kubeadm for ARM64 I can't get it up and running.
The apiserver is in CrashLoopBackOff status and I can see only one blockdevice.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Install tools:
[code]
- Others:
k describe po

[2020-12-17 15:21] prateekpandey14 commented on #3317
@geeksterio looks like liveness check is getting failed for `openebs-apiserver` ( see the describe output) pod , can you try to exec into the pod and run the command `/usr/local/bin/mayactl version` to verify ( you may need to disable the liveness probe to give you some time to exec into the pod)

[2020-12-17 16:51] geeksterio commented on #3317
Hi @prateekpandey14 ,
It seems that the m-apiserver is not reachable .. any idea what can I do about it?
[code]

[2020-12-17 17:00] kmova commented on #3317
@geeksterio can you try to get the full logs from openebs-apiserver

`k logs --previous openebs-apiserver-8bfcc9b79-wln4q -n openebs`

We should see some messages in this server to contact the kube-apiserver to get BD initialization information.

Also the NDM pod logs from worker nodes other than `test-worker0` can help determine why BDs are not created.

Could be an network issue connecting to th

[2020-12-17 17:08] geeksterio commented on #3317
[code]
With each install only one node can communicate with the api server as only one bd is created ..
I've checked and the firewall is disabled on all nodes ..

[2020-12-17 17:44] kmova commented on #3317
the API server is getting the signal to shutdown - via the liveness probe, while it is waiting for the response from the kube-apiserver.

What could be causing the throttle. What is the OS? I wonder if there are any more settings like firewall that needs to be verified.

[2020-12-17 20:24] gimstein commented on #3314
@kmova I just updated my OpenEBS installation (via Operatorhub) to use the Development Image.

I can confirm this fixes the issue on my side in my new K8s cluster (v1.20.0) with a cStor deployment. 👍

[code]

Provisioner Log:
[code]

[2020-12-18 09:14] gimstein commented on #3315
Hi! It's possible that this incident is similar to the  #3314 issue.

Do you have your K8s cluster in 1.2.0 release?

[2020-12-18 10:43] kmova commented on #3315
@cumirror .. what is the usecase for cloning the local pv?

[2020-12-18 11:41] kmova commented on #3314
Thanks you @rm3l @gimstein for verifying the fix on cStor and Jiva.

The new image `openebs/openebs-k8s-provisioner:2.4.1` has been created and the latest helm chart and https://github.com/openebs/charts/blob/gh-pages/openebs-operator.yaml have been updated with this new version.

[2020-12-18 11:45] kmova commented on #3315
`openebs-hostpath` is setup with `waitForFirstConsumer` and without an application pod using it, the PV will not be created. This is the reason for the PVC to remain in pending state.

However, `openebs-hostpath` doesn't support clone operation. But it does support launching two Pods to use the same PVC/PV on a given node.

@cumirror - if you could describe your usecase for using the clone a bit m

[2020-12-18 11:48] kmova commented on #3314
As an aside - if you are already using OpenEBS in production, you can help the project reach the incubation stage by updating your usage details in https://github.com/openebs/openebs/blob/master/ADOPTERS.md or by commenting here: https://github.com/openebs/openebs/issues/2719

[2020-12-18 18:18] survivant opened #3318 "kubelet : scheme "" not registered, fallback to default scheme"
Here the logs from journalctl -u kubelet

[code]

There seem to have a fix in that issue :
https://github.com/kubernetes/cloud-provider-openstack/issues/1009

[code]

OpenEBS : 2.3.0

[2020-12-19 00:54] #3127 closed

[2020-12-19 00:54] #3126 closed

[2020-12-19 09:38] mittachaitu commented on #3126
- If SPC version of cStor is installed then it is recommended to bind extra mounts from node to inside iSCSI container https://docs.openebs.io/docs/next/prerequisites.html#rancher-rke
- For CSPC version of follow https://github.com/openebs/cstor-operators/blob/master/docs/troubleshooting/rancher_prerequisite.md#prerequisites-to-run-cstor-csi-in-rancher-based-clusters

[2020-12-22 17:34] kmova commented on #3078
Just a quick update. We have started actively working on adding LVM support and we are trying to make an alpha version available by Jan 15th 2021.

[2020-12-24 10:22] cumirror commented on #3315
I am doing CSI selection, and do some functional test such as clone or snapshot.
This issue is mainly about doubts during the testing process, because I did not find feature description of openebs-hostpath.

Thank you for your reply, @kmova

[2020-12-24 14:19] pawanpraka1 commented on #3078
Initial implementaion(alpha) of LVM driver has been done https://github.com/openebs/lvm-localpv/pull/1 and it is being actively developed.

[2020-12-28 01:04] #3131 closed

[2020-12-29 07:29] akhilerm commented on #2814
The above given workaround is still the way if the issue is encountered during provisioning.

[2020-12-30 19:03] nderraugh commented on #1295
Will this work also cover multi-arch for https://github.com/openebs/cstor-operators as well?  Currently seeing the `exec format error` messages for `openebs-cstor-csi-controller`, and `openebs-csi-node` after installing with `kubectl apply -f https://openebs.github.io/charts/cstor-operator.yaml` on an ARM64 cluster.

[2021-01-02 18:57] niladrih commented on #3304
I'm able to recreate this issue.

Cluster hosts:
3 CentOS 7.9.2009 VMs
[code]
1 CentOS 8.3.2011 VM
[code]
Installed iscsi-initiator-utils-6.2.0.874-20.el7_9.x86_64 on the CentOS 7 VMs
Installed iscsi-initiator-utils-6.2.0.878-5.gitd791ce0.el8.x86_64 on the CentOS 8 VM

**kubectl describe pod demo-0**
[code]

**docker exec kubelet iscsiadm --version** on the node where the pod is scheduled
[code]
*

[2021-01-02 21:47] asoltesz opened #3319 "Quota and resizing support on openebs-hostpath volumes (local pv hostpath)"
## Description

The openebs-hostpath storage class would be even more useful if it provided enforcement of the requested PV size (and resizing when it becomes necessary).

## Context

I am using a containerized PostgreSQL database with openebs-hostpath for fast local disk access.

WAL archiving is active on the PostgreSQL instance, and I use pgBackrest to push the WAL archive files to S3. Normally

[2021-01-04 01:11] #3142 closed

[2021-01-04 01:11] #3115 closed

[2021-01-05 01:10] #2290 closed

[2021-01-05 06:01] akhilerm commented on #3068
Need to use a github action to setup minikube using none driver (for NDM testing) and with docker driver for other repos.
https://github.com/marketplace/actions/setup-minikube-kubernetes-cluster

[2021-01-05 06:29] akhilerm commented on #2649
LVM support has also been added to Openebs NDM. SoftRAID (md devices) support will be added next. UUID generation using MD-UUID need to be identified.

[2021-01-06 01:10] #3025 closed

[2021-01-06 01:10] #3027 closed

[2021-01-06 01:10] #2999 closed

[2021-01-06 01:10] #3021 closed

[2021-01-06 01:10] #2984 closed

[2021-01-06 01:10] #2988 closed

[2021-01-06 01:10] #2975 closed

[2021-01-06 01:10] #2981 closed

[2021-01-06 01:10] #2903 closed

[2021-01-06 01:10] #2890 closed

[2021-01-06 01:10] #2718 closed

[2021-01-06 01:10] #2630 closed

[2021-01-06 01:50] allenhaozi opened #3320 "openebs-localpv-provisioner pull linux-utils no basic auth credentials"
is there a way to pass docker secret into init-pvc pod ?

[2021-01-06 05:50] #3133 closed

[2021-01-06 08:38] niladrih commented on #3304
Faced the issue in for the follow versions as well.
Rancher Server v2.5.2, v2.3.5
k8s v1.18.12 (Rancher v2.5.2), v1.16 (Rancher v2.5.2), v1.15 (Rancher v2.3.5)
Docker-ce v19.03.13
openebs-operator v2.4.0, v2.3.0, v2.2.0, v2.1.0

[2021-01-07 01:14] #3152 closed

[2021-01-07 01:14] #3146 closed

[2021-01-07 01:14] #3148 closed

[2021-01-07 01:14] #3151 closed

[2021-01-07 01:14] #3075 closed

[2021-01-07 01:14] #3049 closed

[2021-01-07 01:14] #2870 closed

[2021-01-07 05:29] kmova commented on #3320
Not at the moment. Will add this fix. Thanks @allenhaozi for bringing this up.

[2021-01-07 06:22] allenhaozi commented on #3320
I can send a pr for this

[2021-01-07 06:56] kmova commented on #3320
@allenhaozi .. that would be awesome!!

[2021-01-07 12:58] survivant opened #3321 "block device Inactives if partitions on the same OS disk"
OpenEBS 2.4.0

[code]

[code]

here my configmap
[code]

possible explaination

If a disk is excluded by a filter,  and if any of its partitions are included, the code hits an error.
i.e for eg: /dev/sda  is filtered by path filter, and `/dev/sda1` need to be used, it causes an error in creating blockdevices.
This bug gets fixed by a feature in  the coming release (enabled via feature flag UseOSDi

[2021-01-08 01:14] #2479 closed

[2021-01-08 03:21] allenhaozi commented on #3320
已merge `https://github.com/openebs/dynamic-localpv-provisioner/pull/22`

[2021-01-08 03:21] #3320 closed

[2021-01-08 15:36] KevinWhalen commented on #3304
Looks like you are narrowing in on Docker CE v19.03 being a source of issue. CentOS 7 has 19.03, 18.09, 18.06, and 18.03. CentOS 8 has 20.10 and then the same as CentOS 7. Off-hand, I am not sure why most of my nodes with 19.03 and one is 18.09. I will roll them all  back to 18.09, test that, then bring them all back to 19.03 and try again.

Hopefully, I can do that today and report back.

[2021-01-08 15:40] niladrih commented on #3304
@KevinWhalen Not the case. Testing with other docker versions as well. Docker version seems to not be an issue.

[2021-01-08 16:53] KevinWhalen commented on #3304
@niladrih, alright. Thanks.

I did find why the CentOS 8 instances was using docker-ce v18.09.1 instead of the latest of v18 (18.09.9) or even v19. The module defaults were blocking the containerd version from changing.

    sudo dnf module disable container-tools
    sudo dnf install docker-ce-18.09.9 docker-ce-cli-18.09.9

Either way, I have all instances at Docker v18.09.9 now. Let me know if y

[2021-01-10 01:18] #2363 closed

[2021-01-10 01:18] #2378 closed

[2021-01-10 01:18] #2337 closed

[2021-01-11 01:17] #1977 closed