[2021-01-11 12:11] niladrih commented on #3304
The mount succeeds with the bind
[code]

[2021-01-11 14:09] KevinWhalen commented on #3304
Interesting. ~~It has been a few months now, but I thought I had tried that (or similar) at one point.~~ I might have tried it as lib64 -> lib64. Instead going lib64 -> **lib** for this make sense.

However, going back to it today and I see that the `containerd.io` upgrade allowed the most recent test workload, that had been sitting as failed for weeks, to finish mounting. Maybe the newer `contain

[2021-01-11 16:29] KevinWhalen commented on #3304
No, it was not specifically the containerd.io upgrade. Maybe something with the versions was holding it back, but I did already have the following in kubelet extra_binds. I had been restarting the docker daemon on the nodes when testing, but maybe I did not after making the change. The cluster edit should have forced kubelet to deploy again.

        - '/etc/iscsi:/etc/iscsi'
        - '/sbin/iscs

[2021-01-11 16:29] #3304 closed

[2021-01-11 23:02] payes opened #3323 "Jiva Controller gets stuck when leader replica is recreated while registering"
## Description

NodeSelectors are added to the jiva replicas which leads to a restart of the replica pods.
When the pod is restarted the IPs change. If during this time, registration is going on and controller has selected a replica as leader and the replica is recreated, replica pod's IP will change while controller will keep on waiting for replica with the old IP address.

## Current Behavior

C

[2021-01-12 01:57] misteruly opened #3324 "Velero migration OpenEBS error reported"
###  This is my operation record

[root@master-restore ~]# velero restore create --from-backup  kube-system-bak
Restore request "kube-system-bak-20210112095525" submitted successfully.
Run `velero restore describe kube-system-bak-20210112095525` or `velero restore logs kube-system-bak-20210112095525` for more details.

[root@master-restore ~]# kubectl get pod -n  kube-system
NAME

[2021-01-12 06:24] #3315 closed

[2021-01-12 15:44] KevinWhalen commented on #3304
I also had to add `"/usr/lib64/libopeniscsiusr.so.0.2.0:/usr/lib/libopeniscsiusr.so.0.2.0"` when deploying a testing, standalone instance of MinIO with Jiva.

    docker exec kubelet iscsiadm --version

MinIO (RELEASE.2020-12-03T05-49-24Z) installed as a Rancher app with Helm chart (8.0.9) from https://helm.min.io/.

    accessKey=test
    ingress.enabled=true
    ingress.hosts={map-store.test.loc

[2021-01-13 01:25] #2854 closed

[2021-01-13 01:25] #3221 closed

[2021-01-13 04:49] ananbas opened #3325 "cstore: cannot open 'cstor-50e6cc24-3905-467f-a6f3-fabbc38d5b6e': dataset does not exist"
Context:

I have 3 nodes k8s, each with 2x1TB disk already running cstore. and I want to add another node with same specs to the cluster.

using following guide here: https://docs.openebs.io/v180/docs/next/ugcstor.html#expanding-cStor-pool-to-a-new-node

I'm stuck in csp PoolCreationFailed

OpenEBS version: 1.8.0
NDM version: 0.4.8

[code]

log

[code]
can you help?

[2021-01-13 05:22] shubham14bajpai commented on #3325
Hi @ananbas Can you paste the output `kubectl get cvr -n openebs` and the logs for `kubectl -n openebs logs cstor-disk-pool-ouc6-7754dc8894-5s245 -c cstor-pool-mgmt`? Also you can join the #openebs channel on Kubernetes slack.

[2021-01-14 01:34] #2983 closed

[2021-01-14 09:45] ananbas commented on #3325
Hi @shubham14bajpai ,

thank you for responding, here is the output:

[code]

this give timeout
[code]

[2021-01-14 11:41] Z0Marlin commented on #3134
@akhilerm is anyone currently working on this? If not, I would like to give this issue a try.

[2021-01-14 13:01] akhilerm commented on #3134
Sure @Z0Marlin . you can take it up. I will assign this issue to you.

[2021-01-15 01:31] #2832 closed

[2021-01-15 05:30] dhcn opened #3326 "cstor pool can't claim blockdevice"
## Description

disk status
[code]
The blockdevice status
[code]
spc yaml
[code]
csp status
[code]
bdc status
[code]
describe bdc ststus
[code]
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

## Screenshots

## Your Environment

* `kubectl get nodes`:
* `kubectl get pods --all-namespaces`:
* `kubectl get services`:
* `kubectl get sc`:
* `kubectl get pv`:
* `

[2021-01-15 08:40] Sabarish41 commented on #3300
Hello Team,

Hope you guys are doing well.
Please let me know if the latest release has Windows acceptance policy so that we can go ahead and use the solution.

Regards,
Sabarish S S

[2021-01-15 10:34] shubham14bajpai commented on #3325
Hi @ananbas there must be a pod whose name must be starting with `cstor-disk-pool-ouc6` and will be in crashloop. Can you provide the logs for that pod's `cstor-pool-mgmt` container. Also, can you share the output of `lsblk -fa` for the newly added node? Were these disked wiped before adding to the pool or do they have any filesystem on them?

[2021-01-15 11:07] ananbas commented on #3325
Hi @shubham14bajpai ,

thank you for replying, this is the lsblk  output, openebs using sdb and sdc

[code]
apparently there are partition in sdb, let me erase that partition.

Yes, pod cstor-disk-pool-ouc6-7754dc8894-5s245 is on crassloop

[code]

[2021-01-15 11:15] ananbas commented on #3325
Hi @shubham14bajpai,

after erase the partition on sdb, and kill pod cstor-disk-pool-ouc6-7754dc8894-5s245.

now the pod name change to: cstor-disk-pool-ouc6-7754dc8894-874ls

[code]

but csp PoolCreation still failed

[code]

[2021-01-15 11:17] ananbas commented on #3325
this give me timeout

[code]

[2021-01-15 13:55] kmova commented on #3325
@ananbas - curious what made you select the 1.8.0 version of openebs instead of the latest version? For cStor, we have a new CSI driver that comes with additional features that help
- with automatic remount in cases of intermittent network loss and
- a fix for on-prem clusters that can hit volume multi-attach error on abrupt node-loss.

[2021-01-15 13:58] ananbas commented on #3325
Hi @kmova ,

We are using openebs since version 0.8.x and I'm tired updating it too often since we must update the pvc manually one by one and risking downtime. So far we have no issue, except this one.

[2021-01-15 14:57] allenhaozi opened #3327 "Pod stuck ContainerCreating when using Cstor CSPC"
[code]

k describe pods/web-cp-0
[code]
[code]

[2021-01-15 15:00] kmova commented on #3327
@allenhaozi - what is the version of cstor-operators and csi drivers used?

[2021-01-15 15:04] allenhaozi commented on #3327
install by this yaml `https://github.com/openebs/charts/blob/gh-pages/2.4.0/cstor-operator.yaml`

but I upgrade image to `2.4.1`

[2021-01-15 15:07] allenhaozi commented on #3327
Now I can't find which Pod where and when create `cstorvolumeattachments.cstor.openebs.io`  pvc-343ccf62-d2eb-44f3-8db8-68ea452aface-mh-k8s-04
[code]
it shoud be created by this function

[2021-01-15 15:10] akhilerm commented on #3326
@dhcn  The BDCs are not bound because of the `zfs_member` filesystem on the disk.

Can you share the output of `udevadm info /dev/vdb1` from node1.?

Also, was there a previous installation of cstor on this cluster ? or was this disk `vdb` used in a ZFS pool earlier?

[2021-01-15 15:12] kmova commented on #3327
@payes and @prateekpandey14 -- can probably give more info.

With 2.5, the dependency on the volume attachments was removed.
https://github.com/openebs/cstor-csi/pull/134

[2021-01-15 15:21] payes commented on #3327
@allenhaozi Can you please provide the logs for `openebs-cstor-csi-controller-0` and `openebs-cstor-csi-node-*` pods in openebs namespace.

[2021-01-16 05:43] wantdrink opened #3328 "Unable to mount volumes because only one work node can access port 3260 of the pvc-xxx-ctrl-svc"
## Description

Install OpenEBS 2.4.0 with helm chart 2.4.2, tested the 'Provision Sample Applications with Jiva Volume' in https://docs.openebs.io/v140/docs/next/jivaguide.html, the mount failed because of connecting to pvc-ctrl-svc timeout.

I have 3 worker nodes: app[1-3], tested and only app1 node can telnet the pvc-ctrl-svc 3260 with both service cluster-IP(10.108.59.153) and service endpoint

[2021-01-16 13:05] mittachaitu commented on #3325
Hi @ananbas , Could you try to get the logs of a cstor-pool pod in crashloopbackoff?  We can use the following command `kubectl logs -f deploy cstor-disk-pool-ouc6 -n openebs`?

[2021-01-17 02:33] allenhaozi commented on #3327
upgrade to 2.5.0 fixed this error thanks @payes @prateekpandey14

[2021-01-17 02:33] #3327 closed

[2021-01-18 12:09] shgattu commented on #2878
I am seeing same issue. Not able to create pvc with ipv6 address. What is the solution for this?

[2021-01-18 16:49] ananbas commented on #3325
Hi @mittachaitu,

sadly cannot. got `no route to hosts`. apparently container cstor-pool is not running, no container running for pod `cstor-disk-pool-ouc6-7754dc8894-874ls`

[code]

[2021-01-18 17:11] mittachaitu commented on #3325
Not sure to whom `kubectl` is making the request basically API server should make 443 but anyways can you provide the following outputs
1.  `lsblk -fa` from `bdprdsn0001`
2. udevadm info /dev/sdb from `bdprdsn0001`
3. kubectl get bd -o wide -n <openebs_ns>
4. kubectl get csp cstor-disk-pool-ouc6 -o yaml

[2021-01-18 17:37] ananbas commented on #3325
Hi @mittachaitu

Thank you for your help.

I'm sorry, thats my bad, please see the updated response above, basicly this is the error from cstore-management:

[code]

this is the output of `lsblk -fa`

[code]

output of `udevadm info /dev/sdb`

[code]

output of `udevadm info /dev/sdc`

[code]

[code]

[code]

[2021-01-18 17:39] ananbas commented on #3325
from this error `Unable to create pool: /dev/disk/by-id/scsi-3600508b1001c3f97b88f36c2b5456de9 is in use and contains a unknown filesystem.`

`scsi-3600508b1001c3f97b88f36c2b5456de9` is `/dev/sdc`
I'm already fdisk erase all the partition, but in lsblk still show these:
[code]

I dont know how to erase those docker stuff.

[2021-01-18 18:05] mittachaitu commented on #3325
Thanks for the response let me go through the above logs :)

[2021-01-18 18:28] mittachaitu commented on #3325
@ananbas Below are the findings from the above outputs

**Issue**: The disk(`/dev/sdc`) that was added in SPC contains some partitions and cStor was unable to create a pool on it(Once docker cleanup on that node is successful things of cStor will go smooth).

Some other process(docker) might be creating them back once we clean up(we can even use `wipefs <device>`)!! Maybe some docker documentation

[2021-01-19 04:39] ananbas commented on #3325
Hi @mittachaitu

awesome, after doing wipefs it is all good now

[code]

thank you guys for the support

[2021-01-19 04:39] #3325 closed

[2021-01-19 04:54] khanhngobackend commented on #3317
I also got the same halt, without clear error on the Maya API Server logs. @kmova , do you have any way I could do to increase Log Level for more useful information?
I'm using `image: openebs/m-apiserver-amd64:2.4.0`

[2021-01-19 20:19] zejar commented on #2878
I'd also like to know when a solution will be published. I'd like to use OpenEBS in my upcoming Kubernetes project.

[2021-01-20 08:12] akhilerm commented on #3147
@avinashdhinwa I have unassigned the issue due to inactivity.

The issue is now free to take up.

[2021-01-20 15:28] alekc opened #3329 "Can't create pvc due to webhook failure (invalid cert, unknown authority)"
## Description
After the fresh install of openebs I am unable to create a new pvc due to a failure in webhook communication.

[code]

## Attempted solutions
Following the docs https://docs.openebs.io/docs/next/t-volume-provisioning.html (`Unable to create persistentVolumeClaim due to certificate verification error`) I've delete the `admission-server` pod to force it to use the new cert, with no lu

[2021-01-21 01:34] #3051 closed

[2021-01-21 01:34] #3080 closed

[2021-01-21 01:34] #2183 closed

[2021-01-21 10:14] alekc commented on #3329
Finally solved by deleting webhook, followed by secrets, and recycling pods.

[code]

[2021-01-22 01:33] #3219 closed

[2021-01-22 01:33] #3260 closed

[2021-01-24 14:19] wantdrink commented on #3328
Uninstall and install with new verison 2.5.0 and it still failed with:
iscsi: failed to sendtargets to portal 10.97.242.223:3260 output: iscsiadm: cannot make connection to 10.97.242.223: Connection refused

Any one can help with this? Thanks.

[2021-01-25 01:33] #3265 closed

[2021-01-25 14:45] #3134 closed

[2021-01-25 20:19] alexppg opened #3331 "Cleanup jobs of jiva doesn't have serviceAccount"
## Description

The jobs like `sjr-pvc-#` can't be executed properly when the default psp is restrictive since the job doesn't have a `serviceAccount` and `serviceAccountName` with it's attached role to use a permissive psp.

## Expected Behavior

When the job is created to clean, it should work.

## Current Behavior

It doesn't work.

## Possible Solution

Around [here](https://github.com/openebs

[2021-01-27 00:55] #2764 closed

[2021-01-28 21:34] Dipanshu-Sehjal opened #3332 "IPv6 only and/or dual-stack support in cStor CSI"
## Description

### IPv6 use-case:
Add IPv6 support for environments running on IPv6.
### Dual-stack use-case:
Some of the apps in an environment doesn't support IPv6 but would like to have access to the storage component. If the storage is capable of dual-stack then we can support those apps with IPv4 while others can communicate over IPv6.

## Context

The primary function of IPv6 is to allow fo

[2021-01-29 00:56] #3273 closed

[2021-01-31 06:41] akhilerm commented on #3251
All repos which have multiarch builds have been migrated to the official docker-buildx action

[2021-01-31 06:41] #3251 closed

[2021-02-01 00:59] #3277 closed

[2021-02-02 01:12] kmova commented on #2946
As part of the 2020 Community Bridge program, there was progress made to providing initial repo for https://github.com/openebs/openebsctl.

This issue is being opened up again for the 2021 spring mentorship program to build this functionality.

[2021-02-02 01:23] kmova opened #3333 "Grafana dashboards for OpenEBS Storage Engines"
All the OpenEBS components are deployed as Kubernetes native objects and support scraping of metrics via Prometheus. This is a feature request to implement Grafana dashboards for different Storage Engines, Control Plane and a Consolidated overall status:

- Overall status of OpenEBS
- Volume Usage Dashboard
- Pool Usage Dashboard

Here are some sample dashboards that have been developed and used b

[2021-02-02 05:49] #3323 closed

[2021-02-02 16:22] davidkarlsen opened #3334 "special support for tmpfs mounted volumes"
## Description
I've done some experimental use of openebs localstorage on top of a tmpfs mounted volume. This is mainly useful for scratch-data where emptyDir won't cut it. My usecase is as follows:
1. deploy memcached with the warm-restart option: https://github.com/memcached/memcached/wiki/ReleaseNotes1518 it needs fast storage, as it syncs it cache content to a file and snapshots this on termin

[2021-02-03 00:49] #3267 closed

[2021-02-03 06:09] zlymeda commented on #3275
can we keep this issue open?
or is it microk8s bug?

[2021-02-03 13:44] #3321 closed

[2021-02-04 00:46] #3280 closed

[2021-02-04 00:46] #2834 closed

[2021-02-05 20:18] wjayesh commented on #2946
Hi @kmova! I'm interested in taking this up. I will refer to the documents linked above and get back to you with questions/ideas on slack?

[2021-02-07 04:26] rahul799 commented on #3333
Hey @kmova ,
I will like to take this issue up for LFX mentorship.
Should I start drafting my proposal?

[2021-02-07 23:38] laimison opened #3335 "Support two access modes ReadWriteOnce and ReadOnlyMany in PVC"
Hi,

Usually cStor PVC has ReadWriteOnce. Could it have ReadOnlyMany too?
I'm able to create PVC with ReadWriteOnce and after the fact patch PV with ReadOnlyMany so then it has two modes. Is it an issue or some limitation that I can't request in PVC using code below?

[code]

By patching, I meant:

[code]

So it works, but not directly in PVC.

OpenEBS 2.3.0

Many thanks

[2021-02-08 10:08] coboluxx commented on #2719
# Company: IDNT

# Stateful Applications that you are running on OpenEBS

Elasticsearch
RabbitMQ
Kubevirt
Prometheus
YugabyteDB
Couchbase
MySQL
... and many more

# Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?

ZFS LocalPV and cStor

# Are you evaluating or already using in development, CI/CD, production

development and production / bare-metal clusters a

[2021-02-09 02:39] renhuanyu commented on #2946
sign up

[2021-02-09 12:46] akhilerm opened #3337 "partitions created on zvol devices are not detected by NDM / udev"
## Description

I have a zvol on my system (`/dev/zd0`) that I need to use as blockdevice for cstor. But when NDM tries to create partitions on the `zd0` device, the partitions are written on to disk, but udev is not picking up the details. udev database is not reporting the partition UUID or other partition related information. This results in no blockdevices being created for the zvols.

## Expe

[2021-02-09 12:55] akhilerm commented on #3337
The issue happens because udev is ignoring the `/dev/zd*` devices.  This is a bug in the earlier versions (prior to v240) of systemd. Ref : https://github.com/openzfs/zfs/issues/7811
With newer versions of systemd, this does not happen as zfs devices are included and partition information is filled into the udev database. Ref: https://github.com/systemd/systemd/pull/9945

## Workaround
As a workar

[2021-02-09 18:39] si458 opened #3338 "uninstalling openebs doesnt remove ValidatingWebhookConfigurationList webhook"
## Description
after uninstalling openebs, the cluster then becomes unstable
and you cant remove namespaces because you get a webhook error

## Expected Behavior

to be able to use the cluster after uninstalling openebs without errors

## Current Behavior

the cluster is unusable and just generates the following error
`failed calling webhook "admission-webhook.openebs.io": Post "https://admission-

[2021-02-10 00:45] #3294 closed

[2021-02-10 00:45] #3052 closed

[2021-02-10 08:46] prateekpandey14 commented on #3338
Thanks @si458 for the issue , basically we using the Block owner references of admission pod deployment in validatingwebhookconfiguration to garbage collect it once the deployment is deleted, but there are some changes in k8s cross namespace owner references design in new releases (1.20+) https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

Cluster-scoped dependents can o

[2021-02-10 10:12] si458 commented on #3338
Hi @prakharshreyash15
glad i could help! from what ive read everywhere 1.20+ release of k8s has been a real pain for all sorts of applications!
just a shame its the default for most distros of k8s now (k3s,k3d,kubeadm,rancher,etc..)

below is the output after first installing openebs with helm, and the error u suggested is actually listed
[code]

[2021-02-10 14:47] kmova opened #3339 "validation and cleaning up resources during openebs uninstall."
OpenEBS uses CRDs to store the configuration of pools and volumes it creates. As part of the uninstall the user is expected to clean up the volumes, pools prior to uninstalling the openebs control plane.

The steps for deletion are documented here:
https://docs.openebs.io/docs/next/uninstall.html

However, users would really like to just uninstall openebs namespace and they expect that all related

[2021-02-11 00:46] #3296 closed

[2021-02-11 02:56] kmova commented on #3263
@maxisam = For sharing the block device here are some options that are supported via the latest versions:

Partition the block device. This will let NDM create multiple partitions. (If there is interest in this, we can actually work towards automating the creation of partition. Now one disadvantage with partitions is that it can create fragments on the disk that can't be easily re-used. This appro

[2021-02-12 00:47] #3054 closed

[2021-02-15 13:34] wataruian opened #3342 "openebs on GKE question"
Hi all,

I am running openebs on GKE cluster and I have created a cspc resource, blockdevices are attached to 3 nodes say (`node1` , `node2`, `node3`)

For GKE cluster node maintenance; cluster nodes will need to be upgraded once every three months or so.

Say `node1` is being upgraded, will I encounter data loss from `node1`?

Also for node failure, say `node1` fails/died and with cluster autosca

[2021-02-15 17:59] kmova commented on #3342
Hi @wataruian, are you planning to use the Local SSDs on the GKE node or GPDs? what application do you plan to run on top of openebs?

[2021-02-15 18:23] wataruian commented on #3342
Hi @kmova, I am planning to use `GPDs` and would like to run `Redis Cluster` and `Postgresql`

[2021-02-15 23:17] geeksterio commented on #3056
@survivant it works. thank you very much!

[2021-02-16 06:43] akhilerm commented on #2272
cStor works on LVM formatted disks with support from NDM.

[2021-02-16 06:43] #2272 closed

[2021-02-16 09:25] maagy opened #3343 "PVC with long name not getting initialized"
## Description

PVC with long name does not get provisioned. When I create pvc with name _short-name-pvc-0_, everything is OK - cstor creates volume, replicas and I can use it in workload. But name _prometheus-cluster-monitoring-db-prometheus-cluster-monitoring-0_ seems to be a problem. PVC is in _bound_ state, but openebs doesn't create cstorvolume at all.

## Expected Behavior

I would expect th

[2021-02-16 23:32] yydzhou opened #3344 "Support for scheduling pod based on the availability of blockdevice when using local PV"
Dynamic-localpv-provisioner support dynamically creation local pv and support the feature of wait for first consumer for the pv creation. This is great for local pv use case.

But there is still a big limitation: the kubernetes scheduler is not aware of the availability of blockdevice when scheduling pod that is using local pv. As a result, users has to use the node and pod affinit/anti-affinity t

[2021-02-17 05:35] nsathyaseelan commented on #2536
Have tried this node shutdown on  openebs (2.6.0) cstor csi based volumes. Once the node became NotReady due to the abrupt shutdown, application pod took ~230s to schedule on the another node and application pod is running  able to dump data successfully.

Before node shutdown
[code]
After node shutdown and node become NotReady
[code]
[code]

[2021-02-17 06:44] akhilerm commented on #3068
The components for migration to github actions are  discussed [here](https://github.com/openebs/openebs/discussions/3299)

[2021-02-17 11:58] artw commented on #2719
**Stateful Applications that you are running on OpenEBS**
Graylog, Zabbix, Authelia , Guacamole (Elastic, MySQL, MongoDB, Redis)
**Type of OpenEBS Storage Engines behind the above application**
ZFS Local PV?
**Are you evaluating or already using in development, CI/CD, production**
Non-critical production
**Are you using for home use or for your organization**
Home, contractor work, potentially in

[2021-02-18 19:16] sgielen opened #3345 "SIGSEGV in uzfs_zvol_mgmt_get_handshake_info libcstor 2.1.0 arm64"
## Description
I am trying to import a failed ZFS pool and am encountering a reproducible crash. I'm in the middle of my investigation into what's causing the crash, and why it won't auto-repair, but this SIGSEGV seems ready for further followup already.

I have quite some patches applied to my local tree, so line numbers may be off. (Mostly, they are for explicit `bzero`'ing of buffers to silence

[2021-02-18 19:47] sgielen commented on #3345
There are other issues ongoing at the same time, with `valgrind` still reporting invalid writes, so if `ds_dbuf` being NULL makes no sense, it could be that the issue is elsewhere. In that case, I'll open a new issue and close this one.

[2021-02-18 22:33] sgielen opened #3346 "zrepl crashing on arm64 due to invalid uzfs zc_nvlist_dst_size handling"
## Description
I am seeing crashes in zrepl that seem to boil down to invalid zc_nvlist_dst_size handling in some cases.

The code probably exhibits the same undefined behaviour on amd64, but it may not lead to crashes there.

In `uzfs_ioctl_init`, buffers are allocated to contain nvlist items:

- `zc->zc_nvlist_src` is set to `malloc(zc->zc_nvlist_src_size)` (i.e. the buffer is `zc_nvlist_src_siz

[2021-02-18 22:36] sgielen commented on #3346
I found this by running `zrepl` insize valgrind, which pretty quickly finds this invalid write (after silencing lots and lots of warnings of uninitialized memory by initializing all allocations to zero, just like I did for #3028).

If I let `uzfs_ioctl_init` always malloc `zc_nvlist_dist_size * 32` bytes, it may allocate too much in some cases, but the valgrind warning goes away, showing that this

[2021-02-18 22:37] sgielen commented on #3345
Closing this issue in favor of #3346, since that issue can easily cause memory issues like this one. If this one isn't resolved after resolving #3346, I'll reopen this.

[2021-02-18 22:37] #3345 closed

[2021-02-18 23:10] sgielen commented on #3346
Another relevant data point is in `zpool_get_errlog` in `lib/libzfs/libzfs_pool.c`, which performs the ioctl on the client side.

[code]

Here, `zc_nvlist_dst_size` is the amount of **objects**, just before the ioctl is sent (which, in cStor, means a UNIX domain socket message). However, on the server side, `dst_size` is always interpreted as the number of **bytes**, causing the issue.

[2021-02-19 03:50] pawanpraka1 commented on #3346
@sgielen this is great finding. ZFS_IOC_ERROR_LOG ioctl uses dst_size as count of (zbookmark_phys_t) object it can put. We should probably consider this while doing uzfs_ioctl_init.

[2021-02-19 08:30] sgielen commented on #3346
@pawanpraka1 are you aware of any other ioctls where the `dst_size` (or `src_size` or `conf_size`) don't refer to bytes? If you'd like I can submit a PR so that uzfs_ioctl_init takes this exception into account while allocating the buffers?

[2021-02-19 10:48] pawanpraka1 commented on #3346
@sgielen I searched and could not find any other IOCTL with such a logic. Please go ahead and raise the PR to fix this issue.

[2021-02-19 14:32] sgielen commented on #3346
@pawanpraka1 Please review openebs/libcstor#82. :-)

[2021-02-22 10:46] nconnolly1 commented on #3300
Supporting CSI on Windows requires CSI Proxy (https://github.com/kubernetes-csi/csi-proxy) which is currently in Alpha. The proxy provides a way for a CSI Node Plugin to perform privileged operations on Windows (where there is no support for privileged containers). It does this through a set of gRPC APIs implemented over named pipes, which means that existing CSI Node Plugins need to be refactored

[2021-02-22 22:04] sgielen commented on #3346
Once my cluster is repaired I'll update to the new `ci` builds including openebs/libcstor#82, to confirm the issue is fixed. Then I'll close this :)

[2021-02-23 04:20] shubham14bajpai commented on #3331
Hi @alexppg this issue was addressed by the PR https://github.com/openebs/maya/pull/1779 and it is available in the 2.6.0 release onwards. Thanks for bringing out this issue.

[2021-02-23 04:20] #3331 closed

[2021-02-23 10:20] akhilerm commented on #2837
Upgrading blockdevice custom resource will be done after upgrading NDM to the latest operator SDK version. cc: @realHarshThakur

[2021-02-23 10:23] akhilerm commented on #3135
kmesg parser used in node-problem-detector can be used for detecting mountpoint and capacity changes.

[2021-02-24 07:22] alexppg commented on #3331
Thanks for your work!

[2021-02-25 00:48] #2536 closed

[2021-02-25 12:08] ssytnikov18 commented on #3226
Implemented in release [v2.4.0](https://github.com/openebs/openebs/releases/tag/v2.4.0)

[2021-02-25 12:08] #3226 closed

[2021-02-25 13:36] survivant opened #3348 "inconsistency between Prometheus-Granafa docs"
there is lot of documentation about Prometheus and Grafana in the web site.  But the documentation is not consistent.  There are differences between them.  The information should be consolidated in one place and a little cleanup is required.

here some differences between the Grafana dashboard in https://github.com/openebs/charts/tree/gh-pages/grafana-charts and the older into : https://github.com

[2021-02-25 13:39] survivant commented on #3343
I did a PR that allow the stack to give shorter names for the PVC.   here : https://github.com/prometheus-community/helm-charts/pull/516  That allow us to have persistent volumes for that stack...

[2021-02-25 13:46] kmova commented on #3226
@ssytnikov18 - would it be possible to share details on how OpenEBS is helping you here. https://github.com/openebs/openebs/issues/2719

It would really help with pushing the OpenEBS through incubation and also making sure the listed use-cases are covered in the Release E2e test pipelines.

[2021-02-25 15:17] ssytnikov18 commented on #2719
**Company:** Verizon Media
**OpenEBS storage engine:** Jiva
**Stateful applications:** Jenkins, IDOL license server
**Environment:** Production & Development
**Usage:** Organization
**Why OpenEBS:** Easy to setup, stable, excellent support, active project

[2021-02-25 20:21] survivant commented on #3348
@kmova there are other places where that information is duplicate ?  (probably also in zfs , jiva ...)

could it be possible to regroup all that information into one section and for specific subject like ZFS.. a different section in the guide... something like that ?

[2021-02-26 00:48] #3105 closed

[2021-02-26 19:03] kmova commented on #3348
Sounds good @survivant. Will take this up.

[2021-03-02 11:58] akhilerm opened #3352 "Migrate OpenEBS downstream release tagging to Github actions"
## Description

Currently, OpenEBS uses a set of scripts in each repo which are executed on every release to perform the downstream release tagging. (i.e tagging the dependent repos). This scripts are currently executed in travis for release builds. As part of migrating to github actions and removing travis, this release tagging process also needs to be migrated.

## Context

Advantages of using g

[2021-03-02 18:38] sgielen commented on #3346
I haven't forgotten, by the way, the cluster is still repairing... :-)

[2021-03-03 14:54] shubham14bajpai opened #3353 "Clean up maya repo"
## Description
To deprecate the openebs/maya repo
- [x] cspc
- [x] cspi
- [x] cvc
- [x] localpv
- [x] exporter
- [x] m-upgrade(runtask)

## Context

## Possible Solution

## Screenshots

[2021-03-03 16:10] howardjones commented on #1335
2 years later, the docs still describe the "old" (kubelet container, no iscsi) situation...

[2021-03-03 16:13] kmova commented on #1335
Hi @howardjones, could you help me with docs that have outdated information and I will get them fixed.

Thank you for taking time to shout out though!

[2021-03-03 17:42] howardjones commented on #1335
Sure, the prerequisites page for AKS, here: https://docs.openebs.io/docs/next/prerequisites.html#aks
describes the situation that @yudaykiran above notes is no longer the case.
I just did my first install yesterday and found the same thing
(I also can't figure out how openebs would ever find storage in AKS, but that's a different question!)

[2021-03-05 15:15] howardjones opened #3354 "AKS/cstor: iscsid: "conn 0 login rejected: target error""
## Description

PVC provisioned on brand new cstor volume fails to attach.

## Expected Behavior

Pod with working storage.

## Current Behavior

I've set up a test AKS cluster, attached additional disks to each node, installed openebs 2.6.0 from helm chart 2.6.0. Created
a storage pool with the new blockdevices, and that shows as claimed and healthy. Created a simple PVC to test my new StorageCla

[2021-03-08 08:16] invidian commented on #3046
Not stale

[2021-03-09 00:50] #3295 closed

[2021-03-09 00:50] #3309 closed

[2021-03-10 03:03] grouchojeff commented on #2719
• Stateful Applications that you are running on OpenEBS
 Elasticsearch, MariaDB, minio, postgresql, prometheus, kafka, cassandra
• Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?
 ZFS localPV
• Are you evaluating or already using in development, CI/CD, production
 Using ZFS localPV in production and test
 Evaluating cStor.
 Plan to evaluate MayaStor soon.
•

[2021-03-11 00:51] #3307 closed

[2021-03-11 08:32] vildek opened #3355 "Unable to delete orphan jiva volume with mayactl"
Kubernetes version -  1.19.6
Node OS - Ubuntu 18.04

$ k get no
NAME   STATUS   ROLES    AGE   VERSION
km01   Ready    master   56d   v1.19.6
km02   Ready    master   56d   v1.19.6
km03   Ready    master   34d   v1.19.6
kw01   Ready    <none>   56d   v1.19.6
kw02   Ready    <none>   56d   v1.19.6
kw03   Ready    <none>   33d   v1.19.6

Openebs instalation config default - kubectl apply -f https://

[2021-03-12 05:43] akhilerm commented on #3023
Closing the issue as multiarch images for openebs components are available now and all operator and helm charts are also migrated to use multiarch images.

[2021-03-12 05:43] #3023 closed

[2021-03-15 00:52] #3114 closed

[2021-03-16 07:32] #3338 closed

[2021-03-18 16:13] tampler opened #3360 "NFS provisioner helm 3 setup documentation"
Hello

Could anyone pls update the NFS provisioner docs for Helm 3? I'm unable to execute that example from docs [here](https://docs.openebs.io/docs/next/rwm.html)

Thanks!

[2021-03-18 19:01] jayheinlein commented on #2719
### **Company**
Sharecare, Inc.
### **Stateful Applications that you are running on OpenEBS**
Prometheus, internal applications
### **Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?**
cStor
### **Are you evaluating or already using in development, CI/CD, production**
We are using OpenEBS in multiple production clusters
### **Are you using for home use or for

[2021-03-19 11:11] survivant commented on #3318
probably still valid

[2021-03-19 16:45] Z0Marlin commented on #3135
Seems like messages aren't generated in `dmesg` when mounts change (tried locally on Ubuntu 20.10, Linux 5.8.0-45-generic, x86_64) .
For monitoring changes to mounts, `epoll` on the mounts file in procfs can be used. Here is [ sample code](https://gist.github.com/Z0Marlin/b68bf83c15378afff585f7104ae7456e) to do the same.

[2021-03-19 17:04] RealHarshThakur commented on #3135
Weird about the `dmesg` . I think the polling method is easier and we should go with it provided :
* There are no other uses cases for which we need the `kmesg` library of node-problem-detector
* Polling interval should be made configurable and it should be able to poll on demand with CLI.
* Would also be useful to check resource consumption of polling with pprof

[2021-03-19 17:22] Z0Marlin commented on #3135
Wouldn't waiting for change events be better than continuously polling in a set interval?

Definitely agree with this. In fact, we should try this for the alternatives too and compare the results.

[2021-03-19 17:28] RealHarshThakur commented on #3135
@Z0Marlin I looked at the gist and the `EpollWait` function takes milliseconds as an arg, so we're still polling I guess?

[2021-03-19 17:33] Z0Marlin commented on #3135
The milliseconds arg is for the timeout. Basically how long we should wait for events to occur before continuing. It can be set to -1 if we want to block the thread till we recieve any event. Even if we do give a timeout, I would still not consider this as polling.
I also get a little bit clarity on how polling would work. Specifically, if we were polling in fixed intervals, how exactly would we k

[2021-03-19 19:41] maxisam commented on #3046
It is weird that it only happens in one of my cluster

[2021-03-20 05:18] maxisam commented on #2875
Quick question on this one. Can I use it to select certain node? like

It only can create local pv on the node with the special NodeAffinityLabel?

[2021-03-20 22:56] RealHarshThakur commented on #3135
Ah, thanks for clarifying that. I read more about [epoll](https://man7.org/linux/man-pages/man7/epoll.7.html) here and got a clear picture now. Definitely, picking event based over polling is the way to go so please discard that :smile:  . Also, it MIGHT be valuable to other storage engines if NDM produced a Kubernetes events about the change in block device size(or more cases). From implementatio

[2021-03-21 12:50] Z0Marlin commented on #3135
Leveraging Kubernetes events sounds interesting. But I'm still trying to find out how we can detect changes to blockdevice capacity. While using `epoll` on `/proc/mounts` works for detecting changes in mount points, it can't be used to detect disk capacity changes. One way to go about it, as mentioned in previous comments, is to parse messages in `dmesg`. Unfortunately, I haven't been able to find

[2021-03-21 13:08] RealHarshThakur commented on #3135
I think we can just check ` /proc/partitions` for size changes. But the bigger problem to solve might be, we would get an event back on any change in `/proc/mounts`, so how would we determine if it was  because of mount point change or filesystem change?
Maybe, we can do some sort of combination of all this, for instance: if there's a change in `/proc/partitions`, we get an event back, so we can n

[2021-03-23 08:39] akhilerm commented on #3135
@Z0Marlin If you think in terms of how NDM is coded currently, we have an internal cache kind of structure for each device. This struct contains all the information about the device in memory. May be you can compare the mountpoint and filesystem for the device with this struct and thus you will be able to identify what has changed, and update only those fields in the BlockDevice kubernetes resourc

[2021-03-23 08:48] RealHarshThakur commented on #3135
@akhilerm for size changes, we can use epoll on  `/proc/partitions` instead . If we use this, we'll only receive event if change in partitions or change in size. What we can do is : we check the size of block device  in sysfs only when we receive an event. This is better than us polling sysfs .

[2021-03-23 10:37] Z0Marlin commented on #3135
@RealHarshThakur  Is checking `/proc/partition` the correct way to look for changes to device capacity? IMO if we were only concerned with partitions it would work, but since we also have blockdevices for parent disks, `/proc/partition` wouldn't change if the disk size increases. Please do correct me here if I'm missing something.

[2021-03-23 10:44] Z0Marlin commented on #3135
I agree. For checking size changes, epoll on `/proc/partitions` would be a better approach.

[2021-03-23 18:49] sgielen commented on #3346
(Still repairing, still intend to confirm the issue is resolved in 2.7...)

[2021-03-23 21:45] etherealvisage opened #3362 "openebs-ndm crashing on restart after block device resize"
## Description

The NDM is crashing on startup after I gracefully brought down the cluster, resized a block device that Mayastor was using, and brought it back up again. This was discussed on the #openebs slack channel [here](https://kubernetes.slack.com/archives/CUAKPFU78/p1616114429114100).

## Expected Behavior

NDM doesn't crash :-)

## Current Behavior

NDM enters crashloop, with relevant log

[2021-03-24 03:39] akhilerm commented on #3135
@Z0Marlin Can you verify that `/proc/partitions` reflects size changes for all types of blockdevices  that are [supported](https://github.com/openebs/node-disk-manager/blob/master/blockdevice/blockdevice.go#L207-L225) by NDM.

[2021-03-24 18:22] ntdt opened #3363 "localpv provisioner crash if the old PVs are not cleaned up"
## Description
When the old PVs are not cleaned up and there are references to the `localpv` storage class, the provisioner crashes

[code]
There are no bdc `bdc-pvc-0c179a7a-bae1-4e16-8fa5-cbcf61c6d735` from the output of `kubectl get bdc -A`

Once all the old PVs are deleted, the `openebs-localpv-provisioner` pod started correctly.

## Expected Behavior
localpv provisioner should not crash

## Y

[2021-03-24 19:13] Z0Marlin commented on #3135
@akhilerm @RealHarshThakur So `/proc/partitions` did get updated when a changed the size of a disk on my machine. But before I could continue to check for the remaining supported devices, I found out that we cant use `epoll` on `/proc/partitions`. When polling the mounts file, [this function](https://elixir.bootlin.com/linux/latest/source/fs/proc_namespace.c#L21) is called at some point which retu

[2021-03-24 19:35] RealHarshThakur commented on #3135
Ah..that's sad. So in the above conversation, we were talking about this [library](https://github.com/kubernetes/node-problem-detector/tree/master/pkg/systemlogmonitor) . It seems to be standalone . I don't think you can pass `/dev/sdX` though.

[2021-03-25 05:43] kmova commented on #3355
@vildek - can you check there may be a deploments associated with the `53e5a8b3-d0ec-4998-845c-d1ec8051610d`?

When the PV was deleted, there may be a chance that apiserver failed to delete it and left this stale entry.

Check for `53e5a8b3-d0ec-4998-845c-d1ec8051610d` under:
- `kubectl get deployment -n openebs`
- `kubectl get jobs - n openebs`
- `kubectl get svc -n openebs`

[2021-03-25 07:23] vildek commented on #3355
@kmova Looks like it. I tried to delete the pods for it, but it recreates them. What is the correct procedure to delete them pernamently?

kubectl get deployment -n openebs
NAME                                              READY   UP-TO-DATE   AVAILABLE   AGE
cstor-disk-pool-7gkq                              1/1     1            1           42d
cstor-disk-pool-hat7                              1/1

[2021-03-25 07:43] prateekpandey14 commented on #3355
@vildek mostly statefulset specific volumes will not get deleted once you delete the PVC and PV ( its by k8s design), you have to manaully clean them up , here you can just delete the deployments to get rid off the pods .
[code]

[2021-03-25 07:49] vildek commented on #3355
@prabhatkumarthakur ok. Deleted the deployments and svc, but know mayactl doesn't work:
bash-5.0# mayactl volume list
Volume list error: failed to list volumes:
casvolumelist {items: null
metadata:
  creationTimestamp: null
metalist: {}
}: failed to execute volume engine for CAST=jiva-volume-list-default-2.5.0: failed to execute output task:: failed to generate output:
task executor {MetaExec: {}

[2021-03-25 07:50] prateekpandey14 commented on #3355
did you deleted the service as well `kubectl delete svc -n openebs pvc-53e5a8b3-d0ec-4998-845c-d1ec8051610d-ctrl-svc` ?

[2021-03-25 07:52] vildek commented on #3355
Yes,
kubectl delete svc -n openebs -f pvc-53e5a8b3-d0ec-4998-845c-d1ec8051610d-ctrl-svc

[2021-03-25 07:54] prateekpandey14 commented on #3355
@vildek in above command `-f` not required, did it deleted the service correctly ? can you get the `kubectl get svc -n openebs` o/p.

[2021-03-25 08:00] vildek commented on #3355
@prabhatkumarthakur yes, sorry, haven't got my coffee yet :D -f is specifying manifest file. Deleted the svc and the mayactl doesn't show the stale volume anymore. Thanks.
bash-5.0# mayactl volume list
Namespace  Name                                      Status   Type   Capacity  StorageClass            Access Mode
---------  ----                                      ------   ----   --------  ----

[2021-03-25 08:00] #3355 closed

[2021-03-25 11:37] weizenberg commented on #2719
Stateful Applications that you are running on OpenEBS
Prometheus
Grafana
Elasticsearch
PostgresDb
Redis

Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?
cStor

Are you evaluating or already using in development, CI/CD, production
I have OpenEBS on my production cluster (Openshift)

Are you using it for home use or for your organization
I'm using it for my or

[2021-03-27 00:18] #3314 closed

[2021-03-27 03:06] advancedwebdeveloper opened #3365 "make: *** [Makefile:9: spell] Error 234"
I tried to run Make - but got this error:

what is that all about?

[2021-03-30 05:21] akhilerm commented on #3135
@RealHarshThakur For the library in node-problem-detector, you dont need to pass the device path, it parses the complete dmesg.

[2021-03-30 05:24] RealHarshThakur commented on #3135
@akhilerm how would we know about a change in particular block device? I mean , how would we filter out the results ?

[2021-03-30 05:27] akhilerm commented on #3135
Based on the path, suppose the library will give all capacity changes for all devices, and whenever we get an event for capacity change, we will check if the device is something that we are interested in and process it. Similar in ways how to we check on device add/remove.

[2021-03-30 11:47] niladrih commented on #3348
Posting the monitoring docs/blogs we have on OpenEBS volumes:
1. https://docs.openebs.io/docs/next/prometheus.html#configuration-workflow
2. https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/volumes/prometheus-monitoring.md
3. https://blog.mayadata.io/openebs/how-to-monitor-cstor-pools

[2021-03-30 13:55] survivant commented on #3348
I could add this search :   https://github.com/search?l=Markdown&q=org%3Aopenebs+prometheus&type=Code

[2021-03-31 00:15] #2875 closed

[2021-04-01 15:12] DiptoChakrabarty opened #3367 "unable to provision pvc after openebs installation and deletion"
I installed the openebs  using the following command kubectl apply -f https://openebs.github.io/charts/openebs-operator.yaml to setup a pvc however later I am unable to delete open ebs due to the error

Error from server (InternalError): error when deleting "https://openebs.github.io/charts/openebs-operator.yaml": Internal error occurred: failed calling webhook "admission-webhook.openebs.io": Post

[2021-04-01 15:55] akhilerm commented on #3362
Sorry for the late reply @etherealvisage . I have raised a [fix](https://github.com/openebs/node-disk-manager/pull/560) for it.
The crash is happening because an empty devicename is getting detected, need to see why it happens.

For further debugging:
1.  can you share the complete logs of the NDM pod.
2. `fdisk -l`
3. `udevadm info <nvme-disks>`

Also, are you using NDM and mayastor together?

[2021-04-02 00:25] #3078 closed

[2021-04-05 10:12] niladrih commented on #3363
This error is generated when the provisioner fails to find BDCs for PVs while trying to add finalizers to BDCs of older (pre-v1.1) `local-device` volumes.

Orphaned PVs (with Retain `reclaimPolicy`) which do not have BDCs bound, are not usable, as the data may (or may not) have been corrupted.

Possible cause for the BDCs not being there could be manual removal of BDC resources.

These PVs may be

[2021-04-05 12:49] #3362 closed

[2021-04-05 16:47] RandomGHUser opened #3368 "Cstor Mounting failed - UnmountUnderProgress ( err11 listsnap )"
## Description
My pod crashed, cannot recreate or access volume, as it is stuck in "UnmountUnderProgress"

## Expected Behavior
Volume doesn't break.

## Current Behavior
I am running automated snapshot and backups of my pvcs, which have been working for a few days.  But now I cannot access a volume.  At first my pod kept crashing with messages like "cannot read filesystem".  I mounted the volume

[2021-04-06 16:03] #3363 closed

[2021-04-07 00:19] #1295 closed

[2021-04-07 03:18] t3hmrman opened #3371 "Documentation: Jiva replica-node StoragePools picking/negotiation methodology"
## Description
I'd like to know how Jiva decides which `StoragePool`s on other nodes

I was pretty surprised to find that [`StoragePool`s only allow one local disk](https://github.com/openebs/openebs/issues/2621). I installed Jiva on a different cluster back @ 0.8.0, and somehow I remembered it differently -- thinking back on it now, I think I may have picked Jiva because RAID was in place on the

[2021-04-08 06:16] rgangoni opened #3372 "Dynamically Provisioned PV and PVC , Scale Down-Deleted PVC's ,Scale Up -Retain the same PV's for newly Dynamically created PVC's"
In my Project we are using the storage file
[code]
Thsi is my yaml file for dynamically provisioning PV and PVC using OpenEBS

[code]

Here is my PV and PVC  got bound .
[code]

The PVC is
[code]

## The Problem comes here
when i **scale down**  shards to 1 and replicas to 1
the **PVC got deleted**  and  **PV is in Released State**

When i **Scale up**  the new PV and PVC created  and bounded

##

[2021-04-09 05:46] dapiaoke2021 opened #3373 "install on k8s on centos7, blockservice is empty"
What happened:
openesb install on k8s success, but no blockservice

What you expected to happen:
openesb install on k8s success and with blockservice

How to reproduce it (as minimally and precisely as possible):
Anything else we need to know?:
Environment:
Kubernetes version (use kubectl version):
1.20.5

iSCSI client(cat /etc/iscsi/initiatorname.iscsi):
InitiatorName=iqn.1994-05.com.redhat:7bb27

[2021-04-10 00:20] #3319 closed

[2021-04-10 02:33] kmova commented on #3319
This is being tracked at https://github.com/openebs/dynamic-localpv-provisioner/issues/13

[2021-04-10 04:19] dapiaoke2021 opened #3374 "mysql mount vloume failed"
What happened:
mysql mount vloume failed with error:
![image](https://user-images.githubusercontent.com/81280256/114257991-2794cd80-99f6-11eb-856b-e743fa9815ed.png)

What you expected to happen:
mysql mount vloume success

How to reproduce it (as minimally and precisely as possible):
Anything else we need to know?:

Openebs status:
blockdevice:
![image](https://user-images.githubusercontent.com/81

[2021-04-10 04:32] kmova commented on #3374
@dapiaoke2021  can you please share:

`kubectl get cstorvolume -n openebs -o yaml`

[2021-04-11 16:36] igorkatz opened #3375 "Dynamic Local PV provisioner doesn't work according to the documentation when you create your own StorageClass where StorageType is hostpath and NodeAffinityLabel is "openebs.io/custom-node-unique-id""
What happened:
PV provisioning failed with error:
![image](https://user-images.githubusercontent.com/16424945/114312052-f3a2d080-9af9-11eb-9ea2-75b44448f565.png)

What you expected to happen:
PV provisioned successfully

How to reproduce it:
Install OpenEBS **2.7.0** by helm 3 on k8s cluster and follow instruction how to create and use your own StorageClass on:  (https://docs.openebs.io/docs/next/

[2021-04-11 16:57] kmova commented on #3375
Thanks @igorkatz - Just updated the docs with removing the above options of custom node from the default class. Please let me know if this helps.

https://docs.openebs.io/docs/next/uglocalpv-hostpath.html#create-storageclass

[2021-04-12 00:20] #2537 closed

[2021-04-12 00:20] #3150 closed

[2021-04-12 00:20] #439 closed

[2021-04-12 00:20] #711 closed

[2021-04-12 05:15] niladrih opened #3376 "GitHub Actions build/release criteria modifications"
Multiple GitHub actions (workflows) are setup on repository - like a release, build, pr. Update the Github actions to trigger the right workflows.  Example:
  - Release Tag - is triggering release and build. Need to only run release workflow
  - Branch Creation - is triggering release and build. Need to only trigger build
  - Modifications to code were triggering both helm and code builds. Based o

[2021-04-12 05:25] akhilerm commented on #3376
@niladrih For node-disk-manager, its not yet complete as still we are facing troubles with build workflow getting triggered along with release.

[2021-04-12 06:12] igorkatz commented on #3375
Yes, This works w/o above options, but it will be great to have an explanation how to use these options

[2021-04-12 06:49] igorkatz commented on #3375
Yes, much better

[2021-04-12 15:09] RandomGHUser commented on #3368
I've been running cstor operators and kubernetes versions ~ 2 months old.  I've since upgraded to the latest versions and have not ran into this issue yet.  Closing unless it happens again.

[2021-04-13 00:21] #2871 closed

[2021-04-13 00:21] #2884 closed

[2021-04-13 00:21] #2894 closed

[2021-04-13 00:21] #2649 closed

[2021-04-13 00:21] #2817 closed

[2021-04-14 06:20] jj-2020 opened #3377 "Openebs volume allows to write data of size more then the available physical capacity of pools."
### **Description**
We were trying out openebs to utilize kubenode disks as kubernetes storage, however while creating PVC, we observed that openebs was allowing provisioning of storage beyond the capacity of underlying nodes. Also, we were able to fill it up using fallocate.

### **Current Behaviour**
_kubectl get bd_
NAME                  NODENAME     SIZE         CLAIMSTATE   STATUS     AGE
blo

[2021-04-14 07:56] kevinzs2048 commented on #3317
/assign

[2021-04-16 13:47] jj-2020 commented on #3377
Thank you @mittachaitu for guiding us to the thickprovisioning parameter.
Below is the data as requested (we had to reproduce the above scenario in a new cluster). We have divided it into 2 sections, first one with data of sparse files and another one with non-sparse files-

Section-1

**Is load really generated the load? (Or) Do you create the sparse files?**
Yes, we are using the below commands

[2021-04-16 14:06] nsathyaseelan opened #3379 "cStor-operator provision failed with `no matches for kind "CSIDriver" in version "storage.k8s.io/v1"`"
kubernetes version - 1.17
openebs version 2.8.0

[code]

[2021-04-16 14:17] nsathyaseelan commented on #3379
- The Minimum Kubernetes version required to provision 2.8.0 operator is 1.18

[2021-04-16 15:32] mittachaitu commented on #3377
Thanks @jj-2020, For sharing the output by testing on **sparse** & **non-sparse** files. I will interpret the above output(so if someone hits this issue it will be helpful).

**Sparse file**:

- fallocate will do preallocation quickly by allocating blocks and marking them as uninitialized. It will not push any IO to the data block due to this even if the underlying storage capacity is **15GB** we

[2021-04-19 06:36] pawanpraka1 commented on #3346
@sgielen what is the status of this issue? Can we close this one?

[2021-04-19 10:22] pranav-shah294 commented on #3377
@mittachaitu
From your last reply, I see CSPC is still into beta stage.
It would be helpful if you could let me know when will be the stable version released?

[2021-04-19 12:33] jj-2020 commented on #3377
Thanks a lot @mittachaitu for the explanations/links, it cleared a lot our doubts. Currently, we too have the same concern regarding CSPC that was raised by @pranav-shah294, that being the reason why we explored spc instead of cspc.

[2021-04-19 12:41] prateekpandey14 commented on #3377
@pranav-shah294 @jj-2020 thanks for trying openebs. CSPC is already stable, already used in production clusters by the openebs community users, we are working on the docs specific changes to update it as GA/Stable in coming releases, and deprecate the SPC from the 3.x release onwards.

[2021-04-19 13:36] jj-2020 opened #3380 "Inconsistent behaviour of cvr in case of node shutdown."
## Description
Kubernetes version used- 1.19.9
We are trying to understand what happens in case of node failures/ node shutdown.
We have updated the storage class to create 3 cstor replicas-
[code]
The above config ensures that there are 3 cstorvolumereplica created, when the below pvc is applied-
[code]
After creating a test deployment application, and copying few data files in it, below is the o

[2021-04-19 15:44] sgielen commented on #3346
I'm still waiting for the cluster rebuild to finish. Unfortunately, I can't see how far it is, only that one CVR is still in Rebuilding and its Used/Allocated is sometimes growing by one GB. Perhaps it would be best to just close this one, and I'll reopen if the issue comes back after I upgrade to the 2.7 release.

[2021-04-20 05:04] abhiTamrakar commented on #3377
@prateekpandey14 my question may not be related to this but might be important to consider, do we have a version of kubernetes where openebs stable is last tested?

[2021-04-20 06:10] kmova commented on #3344
Capacity-based scheduling is introduced in CSI. there is some early work towards this direction in the Local PV - Device CSI Driver. https://github.com/openebs/device-localpv

[2021-04-20 06:16] prateekpandey14 commented on #3377
@abhiTamrakar OpenEBS latest release v2.8.0 (released on 16th April) has a minimum k8s requirement of 1.18+ k8s version ,  since the k8s has deprecated various beta apis and suggested to migrate to k8s V1 apis for all the CRDs and in-tree APIs.

| Openebs Version | Minimum K8s Version |
------------------------ | ------------------------------
| v2.7.0 | 1.17+|
v2.8.0 | 1.18+|

We recommend to use

[2021-04-20 06:24] prateekpandey14 commented on #3380
We have updated the storage class to create 3 cstor replicas-

@jj-2020 we would recommend to use CSPC and CSI based provisioning of cstor, with new APIs we have handle the senarios of **Non Graceful Node failure/shutdown** , here is the [quick start guide](https://github.com/openebs/cstor-operators/blob/master/docs/quick.md) to start.

[2021-04-20 06:35] prateekpandey14 commented on #3380
Yes your understanding is correct,  due to shutdown of the node if target pod scheduled on the same node, it need to be scheduled to other node and then all 3 replicas needs to be connected back to target to become healthy again.

[2021-04-20 06:37] #3346 closed

[2021-04-20 12:21] jj-2020 commented on #3380
Thanks @prateekpandey14 , as suggested we implemented the CSI based provisioning of cstor. But again we are observing similar behavior, i.e In case of node shutdown, cvrs are  getting into offline state irrespective of the nodes they are present on.
Is there any document to understand how the scenarios of Non Graceful Node failure/shutdown are handled?
Is there any way to find the node to which th

[2021-04-20 12:47] prateekpandey14 commented on #3380
Do you have volume target pod running on the same node which is going to be shutdown ? , Did cvr recover from the offline state ?

You can correlate the pool name suffix  (CSPI name) in CVR names to correlate the nodes, (`kubectl get cspi -n openebs`) b/c replicas are created on top of pools instances (CSPI) running on different nodes. Ideally for example, if you shutdown the `Node1` , the pool an

[2021-04-20 13:47] jj-2020 commented on #3380
Do you have volume target pod running on the same node which is going to be shutdown ?
Yes, the volume target pod too was running on the same node that was shutdown, but it got rescheduled to another node.

Did cvr recover from the offline state ?
Yes, in case of the operator implementation, it did recover from the offline state to healthy.  Also, the mount inside the container was in r/w state.

[2021-04-21 00:19] #3324 closed

[2021-04-21 06:30] akhilerm commented on #3147
This issue is still open and need to include non--SCSI devices also while fetching information

[2021-04-22 07:18] Ab-hishek commented on #3333
We have drafted a raw document stating the high-level goals and requirements for the OpenEBS monitoring add-on. Here is the document link for the same: https://docs.google.com/document/d/1vPB7u2TrdCr8UfERG8G_M5sVNIUWJtkFcB-ZWq0cJB8/edit#

[2021-04-26 05:17] abhiTamrakar opened #3383 "webhook-cleanup Job in helm chart uses deprecated hyper-kube image with an older version of kubernetes"
## Description

webhook-cleanup Job in helm chart uses hyper-kube image with an older version of kubernetes (May contain lot of vulnerabilities as well) to run kubectl delete on validation webhook configuration, while it is already deprecated https://github.com/kubernetes/kubernetes/pull/85094.
This was also discussed here https://kubernetes.slack.com/archives/CUAKPFU78/p1619181692086800

## Expec

[2021-04-26 06:22] Ab-hishek opened #3384 "NEW REPO: openebs/openebs-monitoring"
# Description
The `openebs-monitoring` repository will contain the monitoring-related tools (Prometheus, grafana, etc,), packaging them with charts and code for OpenEBS component monitoring. The goal of this repository is to provide easy to install monitoring artifacts or provide a single repository from which users can pick up the monitoring artifacts and integrate them into their observability s

[2021-04-27 14:57] jj-2020 commented on #3380
@prateekpandey14 , below are logs of few components after shutting down one of the worker node-
**pvc-target pod**
[code]

Below are the logs of **cstor-pool pod**-
[code]

[2021-04-28 00:19] #2878 closed

[2021-04-28 07:30] zejar commented on #2878
Is there any update on this issue?

[2021-04-28 11:49] ccww552017 commented on #3317
i also go the same problem.my kubernetes  version:1.20.6.

[2021-04-28 12:55] kmova commented on #3384
Repo is available at https://github.com/openebs/monitoring

Related to #3333

[2021-04-28 12:55] #3384 closed

[2021-04-29 21:55] RandomGHUser commented on #3368
So I am having the same issue again, after ~10 days of proper snapshotting and backing up, the volumes are failing again.  I've found that eventually the process fails and the volumes get changed to readonly.

Log:
[code]
I don't know how to switch readonly off, as the troubleshooting article doesn't explain how to do this (Application complaining ReadOnly filesystem, https://docs.openebs.io/docs/

[2021-05-01 20:36] achichenin commented on #3317
Just faced a very similar issue, as well as some other similar issues in 1.20 (Centos 8, with Calico).

Current hypothesis - [harpin issue preventing containers to interact inside of the pod](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#pods-are-not-accessible-via-their-service-ip)

[2021-05-02 01:11] #3328 closed

[2021-05-04 07:47] kmova opened #3385 "Default Kyverno policies for OpenEBS"
OpenEBS cStor and Jiva projects involve managing K8s custom resources via the engine operators.

OpenEBS currently uses:
- webhook admission controller for performing custom validations
- PSP for setting some default security policies.

PSP is getting deprecated in the upcoming K8s releases and webhook admission controller has a number of gotchas w.r.t certificate and policy management.

This feat

[2021-05-04 14:32] jj-2020 opened #3386 "Few openebs components still using ubuntu:16.04 as base image"
## Description
Few components like cstor-volume-manager and cstor-csi-plugin seem to be using ubuntu:16.04 as base image.  According to below document, ubuntu 16.04 has reached it's EOL-
https://wiki.ubuntu.com/Releases

## Possible Solution
Update the base images

## Steps to Reproduce
https://github.com/openebs/cstor-operators/blob/master/build/volume-manager/Dockerfile#L17
https://github.com/op

[2021-05-05 05:18] abhiTamrakar commented on #3386
+1 since we are evaluating openebs as well.
can we use debian images instead of ubuntu, they have lesser EOL kindof problems?

[2021-05-05 08:20] kmova commented on #3386
We are in the process of upgrading the images to latest ubuntu as part of 2.9.

Will follow-up on this issue with the status after the next community sync-up with the contributors.

[2021-05-05 12:19] abhiTamrakar commented on #3386
@kmova these are EOL images, would produce N number of un-patchable vulnerabilities, would it be possible to have the fix made available ASAP? may be backported to 2.8 as well. Just a request.

[2021-05-05 15:08] niladrih commented on #3376
The relevant PRs are included in the hyperlinks in the opening post of this issue.

[2021-05-06 00:58] #3089 closed

[2021-05-06 00:58] #3332 closed

[2021-05-06 10:46] akhilerm commented on #3068
Integration tests for all components has been now migrated to github actions.

List of repositories and associated PRs in which migration changes are added:

- cstor-operators: openebs/cstor-operators#223
- cstor-csi: openebs/cstor-csi#140
- jiva-operators: openebs/jiva-operator#28
- upgrade: openebs/upgrade#90
- node-disk-manager : openebs/node-disk-manager#548
- LVM Local PV: openebs/lvm-localpv

[2021-05-06 10:46] #3068 closed

[2021-05-06 12:20] akhilerm commented on #3352
Automated release tagging has been added to all the repos in the release hierarchy

[2021-05-06 12:21] #3352 closed

[2021-05-07 07:15] ranjithwingrider commented on #3064
The following workaround is working for me.. My changes are below.
[code]
Added `fullnameOverride` as `app`.

In AlertManager  PVC spec.
[code]
In above snippet, added below entries
[code]

In Prometheus PVC spec.
[code]
In above snippet, added below entries
[code]

After executing with above modification, able to provision both pods.

**Output**
Pods:
[code]
PVC:
[code]

The above entries will he

[2021-05-07 21:29] RealHarshThakur commented on #3385
Another policy engine to consider is [KubeWarden](https://www.kubewarden.io/) . There is already a policy[ hub](https://hub.kubewarden.io/) which has most PSPs implemented. Writing the policy is fairly simple too: https://docs.kubewarden.io/writing-policies/go/04-validation.html

[2021-05-10 07:24] jj-2020 commented on #3377
@mittachaitu , is there a way to disable compression and de-duplication of data in cstor?
Currently trying out the cstor-operator.

[2021-05-10 09:25] prateekpandey14 commented on #3377
@jj-2020 you can update the [compression field](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/cspc/tuning/tune.md#compression) in CSPC object  as `compression: off` and apply it, to disable the compression on pool.

[2021-05-11 01:02] #3334 closed

[2021-05-11 09:36] mynktl opened #3388 "cstor rebuild continues on checksum error"
## Description
Cstor replica rebuilds from its clone in AFS mode. To rebuild from the clone, the degraded replica will start a scanner on the clone to read the data. If there is an error while reading the data then the rebuild scanner will report the error and marked the rebuild as failed. Since the replica is in a degraded state, it will again start rebuilding and this cycle will continue.

logs:

[2021-05-12 17:49] vagdevik commented on #2412
In my case, I have changed the (in the PVC yaml file)

[code]
 to

[code]
and the error has gone.

[2021-05-13 04:11] nsathyaseelan opened #3389 "cspi went to offline state when the ndm got rebooted several times"
CSPI pools went to offline state upon the reboot of the worker nodes. which restarted the operator NDM pods several times  cause
1. NDM was not able to identify cstor was installed on the disks /dev/sdb
2. NDM proceeded with creating blockdevices. But since the partition table UUID was already present on the disk (/dev/sdb1) and it was having type zfs_member, NDM updated the devlinks for the block

[2021-05-13 04:51] nsathyaseelan opened #3390 "[cstor-csi] After resize of cStor volume application pod stuck into `init` state"
## Description
-  After Upgrade the cstor csi volume application pod stuck into init state
[code]
Application pod shows the below events
[code]

[code]
## Expected Behavior
- After successful resize the volume application pod has to be running successfully

## Possible Solution
 - Removed the cva  `pvc-14ce5cac-2ba3-4ef4-974e-2fdef07fef6b` manually and rescheduled the application to the another no

[2021-05-13 15:33] abhiTamrakar commented on #3386
@kmova any updates, when do we get the new images? We cannot use vulnerable images.

[2021-05-13 16:31] kmova commented on #3386
The following images are available now @abhiTamrakar. The 2.9.0 images will be generated on 15th.

[code]

[2021-05-14 09:22] sgielen commented on #3388
I had a call with @mynktl about this issue. This is what I took from the call, please correct me if necessary @mynktl :-)

The first topic we discussed was how to resolve the issue in the cluster. We went for a different solution than described above. The issue occurs when rebuilding from the local on-disk data, which has a checksum error. ZFS uses the on-disk data for rebuilding, because it consi

[2021-05-14 19:50] sgielen commented on #3388
After the steps in the previous comment, the ±1.5 TB volume successfully finished its rebuild just now :-)

[2021-05-14 19:58] kmova commented on #3388
@sgielen - would it be possible for you to push in a comment to #2719 with information on how you are using cStor or raise a PR to this page (https://github.com/openebs/openebs/blob/master/ADOPTERS.md) with details.

[2021-05-15 11:15] sgielen opened #3392 "Failed to upgrade cStor SPC from 2.1.0 to 2.8.0"
## Description
I just performed an upgrade from OpenEBS 2.1.0 to 2.8.0. It mostly went by without a hiccup, but eventually, upgrading the SPC failed with the following error:

[code]

I have only a single spc in the cluster called `cstor-disk-pool`, this is its YAML:

[code]

At this point;
- all control plane Pods were running 2.8.0
- 2 out of 3 cStor disk pool pods were running and one was still

[2021-05-15 11:31] sgielen commented on #3346
For historical purposes: eventually, it turned out that the repair was failing at the same point, causing it to never succeed, hence taking forever. This was investigated and fixed as a part of #3388.

Since then, the cluster has repaired and I have upgraded to OpenEBS 2.8.0, and can confirm that the issue is indeed resolved in that release.

[2021-05-15 11:51] sgielen commented on #3392
Apparently, panic is occurring on this line:
https://github.com/openebs/maya/blob/v2.8.0/pkg/upgrade/upgrader/helper.go#L213

If I look at the parameters correctly, first parameter `uTask` is `0x0` causing null ptr dereference.

Value is coming from here: https://github.com/openebs/maya/blob/v2.8.0/pkg/upgrade/upgrader/spc_upgrade.go#L68-L76

[2021-05-15 12:14] shubham14bajpai commented on #3392
An easy way to fix this would be to delete all the `utasks` in openebs namespace. The job will create a new one when it is launched again. The log was disabled as this is an experimental way of upgrading all the components automatically and provide status via external controllers which we are working on.

[2021-05-15 12:15] sgielen commented on #3392
Gotcha! The upgrade tasks did not contain an entry for this upgrade yet. However, I restarted the job **after** the last cStor disk pool was fully Running (no longer ContainerCreating) and now the log says:

[code]

[2021-05-15 12:16] sgielen commented on #3392
I think the error occurred because `cstor-disk-pool-eiq0` took too long to start again. Remember that this is running on a couple of Raspberry Pi 4's, so pulling the three large cstor-disk-pool images and starting the container can take ~30 minutes.

[2021-05-15 12:17] shubham14bajpai commented on #3392
Nice the job is meant to correct itself on restarts. Still the nil pointer errors should not happen. I will try to reproduce and handle those in the code.

[2021-05-15 12:18] sgielen commented on #3392
It did, but it failed four times in pretty rapid succession so the Job had given up before the cStor pool was fully healthy again.

[2021-05-15 12:19] sgielen commented on #3392
Interestingly, even now the `upgradetasks` in the cluster don't contain any information on the `2.8.0` upgrade. Is that what you meant with the log being disabled?

[2021-05-15 12:20] shubham14bajpai commented on #3392
Can you paste the -oyaml of any one of the CR

[2021-05-16 01:15] #3335 closed

[2021-05-16 02:21] kmova commented on #3385
Pushing this from slack thread.

Jim Bugwadia  27 minutes ago @kiranmova - thanks for asking!
Is PSP replacement the only use case? There was a mention of synchronizing secrets as well (https://kyverno.io/policies/other/sync_secrets/?policytypes=generate).
I would suggest list requirements and the key criteria to help decide on the best solution. Some of the relevant items may be:

- CNCF project,

[2021-05-16 07:33] kmova commented on #3383
The above fixes involve directly pulling in the latest image. for air-gapped environments, we need a mechanism to override from a custom repository.

[2021-05-16 08:34] kmova commented on #3260
Fixed by https://github.com/openebs/openebs/issues/3338

[2021-05-16 08:37] kmova commented on #3108
Can the remount feature be enabled by default though kubectl and helm charts.

[2021-05-16 08:40] kmova commented on #2913
Verify if this is still an issue.

[2021-05-16 08:44] kmova commented on #2855
Groom and take a call on this issue.

[2021-05-16 13:53] dhcn commented on #3326
seems it is, I clean that disk
[code]

[2021-05-16 21:40] yelhouti opened #3395 "Jiva PV is marked as created before the volume is fully initialized"
## Description

When I use jiva, my pod sporadically emits an event with the following error on startup:
[code]
After that, it seems like it worked.
## Expected Behavior
Do not show erroe

[2021-05-17 07:02] mittachaitu commented on #3108
In recent releases(2.4 I think), `REMOUNT` feature is enabled in both the installation process via [Helm charts](https://github.com/openebs/cstor-operators/blob/e4eed0d2764823746cc7021c641b9e81f8d8ed76/deploy/helm/charts/values.yaml#L162) as well as [operator](https://github.com/openebs/charts/blob/gh-pages/2.9.0/cstor-operator.yaml#L1393-L1394) way.

[2021-05-17 09:27] kmova commented on #3395
There are a couple of options we should explore on this one:
- Setup wait during the creation time to create PV - only when volumes is ready.
- Check if using the volume health CSI api will resolve this for both create and re-mount cases.

[2021-05-17 09:42] sonasingh46 commented on #2855
The initial idea on this was to have a delayed binding for CVR by a new cvr controller that is basically a constraint-based storage scheduler :
We need to have a separate controller(let us say this as cvr-scheduler as of now) that watches for CVR. Once the CVR is created, it is unassigned, meaning it does not belong to any CSPI. Now, this cvr-scheduler enforces policies and requirements e.g. overp

[2021-05-17 10:07] shubham14bajpai commented on #3395
I was trying to reproduce the error but was not successful

[code]
I halted the jiva replica sts scheduling by deleting the `openebs-hostpath` storageclass. Then applied the storageclass again after 5 minutes.
As we can see from the  events and its timestamps that jiva-csi already has the checks for non ready volumes.

Another way I think it may occur is that the volume becomes ready and goes down

[2021-05-17 13:36] survivant commented on #2719
Stateful Applications that you are running on OpenEBS

Databases (influxdb, mariadb, elasticsearch, neo4j)
Monitoring stack (Prometheus, Grafana, AlertManager)
All our company stateful applications

Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?

cstor (with and without mirror)

Are you evaluating or already using in development, CI/CD, production

We are c

[2021-05-17 17:17] mittachaitu commented on #3108
REMOUNT feature was enabled by default in the following versions and PRs
- 2.4.0 version of cStor-operator in [openebs/charts#191](https://github.com/openebs/charts/pull/191) PR.
- 2.5.0 version of helm charts in [openebs/cstor-operators#180](https://github.com/openebs/cstor-operators/pull/180/files) PR

[2021-05-17 18:28] yelhouti commented on #3395
@shubham14bajpai thanks for investigation I am using k8s 19.X installed using kubespray, a soon as I encoutner the issue again I will post here (I didn't manage to reproduce myself)

[2021-05-18 02:14] kmova commented on #2946
This is an epic issue with ongoing implementation tracked at https://github.com/openebs/openebsctl

[2021-05-18 05:28] #3108 closed

[2021-05-18 06:45] akhilerm commented on #3326
@dhcn Does the BlockDevice get claimed after wiping the disk?

[2021-05-18 08:07] shubham14bajpai commented on #3353
All the above redundant code has been cleaned up from the repo

[2021-05-18 08:07] #3353 closed

[2021-05-18 08:16] tho861998 opened #3396 "Cstorvolume stuck in Offline state"
## Description

## Expected Behavior
 cstorvolume  Warning  Offline  17m   pvc-bbf02b86-e7b9-407c-98cd-26668e01031f-target-7c84ff9d6f7nbft, kworker2  Volume is in Offline state.
cvr failed to sync CVR error: unable to update snapshot list details in CVR: failed to get the list of snapshots: Output: failed listsnap command for cstor-1d008afb-21ea-4160-a971-d4cda2786160/pvc-bbf02b86-e7b9-407c-98cd-2

[2021-05-18 10:53] prateekpandey14 commented on #3396
@tho861998 can you share the following details as well.

- `kubectl get pods -n openebs`
- `kubectl get cspc,cspi -n openebs`

[2021-05-18 10:57] tho861998 commented on #3396
I work on centos 7 cluster
but doesn’t work on ubuntu 20.04
On Tue, 18 May 2021 at 5:26 PM thaung htike ***@***.***>
wrote:

[2021-05-18 11:07] prateekpandey14 commented on #3396
Never mind , i can see the screenshot attached to the issue, but somehow not visible in github issue.

I can see you have 2 cspi instance with 2 replicas , out of which one replica is in `offline` state and other is in `Degraded` state, hence the quorum is not met and `CstorVolume` ended up in `Offline` state.

 Also verify the network is reachable across the nodes , looks like this is the case he

[2021-05-18 11:07] niladrih commented on #3380
This issue may be due to:
1. Lack of volume capacity in the pool
2. The target pod not being able schedule to another node after the node gets killed.

Testing in a 3 node Kubernetes cluster where all of the nodes have a volume replica. The k8s version is 1.19.9. Base OS is CentOS 7.9.

Testing revealed that when the node, along with the target pod and the pool pod is lost due to abrupt shutdown,

[2021-05-18 12:35] tho861998 commented on #3396
hello ,sorry for late reply. I am on my way back to home.
here is how i deployed cstor with ss

On Tue, May 18, 2021 at 5:37 PM Prateek Pandey ***@***.***>
wrote:

[2021-05-18 12:36] tho861998 commented on #3396
can you help me? previously, i used glusterfs/heketi dynamic provision as
storage solution, Now, I want to try OpenEbs cstor. But I am in trouble ,
Help me

On Tue, May 18, 2021 at 7:05 PM thaung htike ***@***.***>
wrote:

[2021-05-18 12:43] tho861998 commented on #3396
here is logs file

On Tue, May 18, 2021 at 7:06 PM thaung htike ***@***.***>
wrote:

[2021-05-18 12:54] tho861998 commented on #3396
another pods logs file

On Tue, May 18, 2021 at 7:13 PM thaung htike ***@***.***>
wrote:

[2021-05-18 15:00] nsathyaseelan commented on #2913
Verified this with openebs 2.9.0 and kubernetes version 1.20 Followed the below scenarios

- Scale down the two cspi deployment to `0` cstor opertaor brought up this deployments again to `1`
- Scale down the cstor operator deployment to `0` and scaled down the cspi deployment to `0` cvr's are in Healthy state.
- Restarted the application pod, Application pod is Scheduled on the same node and runni

[2021-05-19 01:07] #3339 closed

[2021-05-19 10:10] Nivedita-coder commented on #2989
Hi, @kmova is this still open? I would like to work on this issue.

[2021-05-20 06:15] akhilerm commented on #3344
Capacity based scheduling is available in [device-localpv](https://github.com/openebs/device-localpv).  This is a CSI drver for directly using the local devices. The volumes will be created as partitions on the local device. cc:@yydzhou

[2021-05-21 01:09] #3263 closed

[2021-05-21 15:10] niladrih commented on #2989
@kmova -- Proposing a solution to this:
1. Error while trying to find a BD bound to a BDC ([link](https://github.com/openebs/dynamic-localpv-provisioner/blob/e57d0171280f6625528519d830c5a530c93a9281/cmd/provisioner-localpv/app/helper_blockdevice.go#L202))
2. Delete BDC
3. Return errors upwards to Provision method.
4. Control loop/sync handler invokes Provision again
5. Retry with a new BDC

[2021-05-21 17:00] niladrih commented on #2989
Alternatively, please also consider this solution:
1. Error while trying to find a BD bound to a BDC ([link](https://github.com/openebs/dynamic-localpv-provisioner/blob/e57d0171280f6625528519d830c5a530c93a9281/cmd/provisioner-localpv/app/helper_blockdevice.go#L202))
2. Run a PVC watcher sidecar container
3. Return error upwards to Provision method after container probe reports healthy status.
4. W

[2021-05-23 19:05] niladrih commented on #2989
Proposal (as discussed with @kmova):
1. Error while trying to find a BD bound to a BDC ([link](https://github.com/openebs/dynamic-localpv-provisioner/blob/e57d0171280f6625528519d830c5a530c93a9281/cmd/provisioner-localpv/app/helper_blockdevice.go#L202))
2. Increment counter for the number of tries
3. Check for BDC age
4. Continue to retry for DefaultFailedProvisionThreshold times.
5. Check for numb

[2021-05-24 12:34] prateekpandey14 commented on #3396
Closing this issue, resolved in [slack discussion](https://kubernetes.slack.com/archives/CUAKPFU78/p1621441829035700) , related to cluster networking issue across the nodes.

[2021-05-24 12:34] #3396 closed

[2021-05-24 12:40] prateekpandey14 commented on #3390
Not able to reproduce the issue , tested in multi node cluster with STS and deployment based clusters. Although STS needs to have some manual steps, since resize is not support seemlessly in k8s yet.

@nsathyaseelan can you confirm if the workload is StatefulSet or deployment based. If STS did we follow any other steps to resize other then just editing the PVC ?.

[2021-05-24 13:04] nsathyaseelan commented on #3390
@prateekpandey14  it's a deployment. We have followed only editing the pvc to resize the volume.

[2021-05-25 14:47] prateekpandey14 commented on #2536
The issue has been fixed as part of [v2.5.0 openebs release](https://github.com/openebs/openebs/releases/tag/v2.5.0)

[2021-05-27 15:52] prateekpandey14 commented on #3386
@abhiTamrakar thanks for pointing out, issue has been fixed as part of v2.9.0 openebs release.

[2021-05-27 15:52] #3386 closed

[2021-05-27 20:45] Nurza commented on #3329
To be more precise:

[code]

did the trick, thank you

[2021-05-31 02:31] #3300 closed

[2021-05-31 22:25] voarsh2 commented on #3329
Thanks. Bye bye OpenEBS.

[2021-06-01 01:50] kmova commented on #3329
@voarsh2 - do you have feedback that you can provide. The above comment isn't helpful to improve the product.

[2021-06-01 06:24] prateekpandey14 commented on #3383
fixed in linked PR , closing this now.

[2021-06-01 06:24] #3383 closed

[2021-06-01 09:07] yonatankahana commented on #3109
just to clearify, here's what worked for me:

[code]

[2021-06-01 10:25] woloss commented on #3329
`k delete cspc cspc-stripe -n openebs`
Gives me
`Error from server (InternalError): Internal error occurred: failed calling webhook "admission-webhook.cstor.openebs.io": Post "https://openebs-cstor-admission-server.openebs.svc:443/validate?timeout=5s": x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority cert

[2021-06-02 07:55] mittachaitu opened #3398 "bug(rebuild): cStor replica remains in rebuilding state infinitely"
## Description

cStor replica remains in rebuild state infinitely due to helper replicas failovers.

## Expected Behavior

cStor replica rebuilding should get succeeded.

## Current Behavior

cStor replicas remain in `Rebuild state` infinitely due to misbehavior of helper replicas.

## Possible Solution

Before getting into workaround I would like to give very high details on how rebuild happens i

[2021-06-03 02:33] #3343 closed

[2021-06-03 09:16] kmova commented on #2908
Keeping this open to support jiva volumes created via the jiva csi driver.

[2021-06-04 08:07] cospotato commented on #3080
Dose the team have any support?

[2021-06-04 10:16] davidphayanouvong opened #3399 "pvc stuck pending because no devices found matching the criteria"
## Description
I try to setup minio with openebs storage with this following setup https://docs.openebs.io/docs/next/minio.html#install-the-minio-operator-deployment

but when minio try to reclaim persistent volume i have some trouble.
only 1/16 pvc are created and all other stuck in pending.

k3s cluster with 1 master and 4 worker, an additional 50GB disk is attached on all worker (/dev/sdc)

##

[2021-06-04 10:31] ranjithwingrider commented on #3399
Hello @davidphayanouvong. Let me try to understand a little bit on this problem. Can you get me the command used to install MinIO cluster?
Also can you provide the following output as well.
- kubectl get bdc -n openebs

[2021-06-04 10:44] davidphayanouvong commented on #3399
Hello @ranjithwingrider  I use the official helm chart https://github.com/minio/operator/tree/master/helm/minio-operator

and I customize the tenant like this:
[code]

* kubectl get bdc -n openebs
[code]

[2021-06-04 11:20] ranjithwingrider commented on #3399
Thanks for sharing the YAML spec. I think this will be useful to understand the context. So I have a confusion that you have mentioned volumesperserver is 4. In that case, you might need 4 disks per node.
OpenEBS device is working like this way. If you mention openebs device in the spec, one disk will be fully utilised for an application replica.
Can you set `volumesPerServer` to `1` and try out o

[2021-06-04 12:05] davidphayanouvong commented on #3399
same error as before,

tenant.yaml
[code]
* k get pvc -n minio
[code]
* k get bd
[code]
* k get bdc
[code]

[2021-06-04 12:12] davidphayanouvong commented on #3399
i made a small change and for 2 pvc it's ok.

I change the size from 50Gi to 40Gi my volume was created with 50Gi but in fact it's a little bit less...

but for 2 other pvc same error
`failed to provision volume with StorageClass "openebs-device": unable to find BD: for BDC:bdc-pvc-ed5a2f0c-93f3-46f7-b335-f2848722ff1e associated with PV:pvc-ed5a2f0c-93f3-46f7-b335-f2848722ff1e`

* k get bdc
[code]

[2021-06-04 12:14] ranjithwingrider commented on #3399
ok. Can you describe one of the BDC and pods which is in `pending` state to understand the problem?

[2021-06-04 12:17] davidphayanouvong commented on #3399
k get bdc bdc-pvc-b4601928-eb8a-417f-b96c-d59f5fbf71a3 -o yaml
[code]

k describe bdc "bdc-pvc-b4601928-eb8a-417f-b96c-d59f5fbf71a3"
[code]

[2021-06-04 12:19] davidphayanouvong commented on #3399
based on the following output, seems the block device on the worker02 is already used
k get bd
[code]

[2021-06-04 12:22] ranjithwingrider commented on #3399
Yes. I am also thinking the same. I was going through old results and initially PV was created with the disk in worker node 2. I think if you can delete the old entries and verify no stale entries are present in PV,PVC, BDC, app pods, and check ensure all BDs are in unclaimed state before redeploy.

[2021-06-04 12:38] davidphayanouvong commented on #3399
i remove minio and openebs ans start again

but still same problem, 2 pvc bound and 2 pending

[code]

[2021-06-04 12:41] ranjithwingrider commented on #3399
Can you get me the application pod details?
`kubectl get pod -n <app_namespace> -o wide`
Also the other outputs
- kubectl get bdc -n openebs
- kubectl get bd -n openebs -o wide
- kubectl get pod -n openebs
- kubectl get pvc -n <app_namespace>
- kubectl get pv

[2021-06-04 12:45] davidphayanouvong commented on #3399
kubectl get pod -n openebs -o wide
[code]
kubectl get pod -n minio -o wide
[code]
kubectl get bdc -n openebs
[code]
kubectl get bd -n openebs -o wide
[code]
kubectl get pvc -n minio
[code]
kubectl get pv
[code]

[2021-06-04 12:54] ranjithwingrider commented on #3399
Thanks for sharing the output.
One question, Do the disks are created and attached to all nodes in the same way?
Can you describe one of the claimed and unclaimed disk to understand the difference?
[code]

[2021-06-04 12:59] davidphayanouvong commented on #3399
yes all disk are created in the same way except for worker04 that I created a little bit later directly with all disks, but I think its not the problem because worker04 I claim like the worker02

* kubectl describe bd -n openebs blockdevice-3f0d12f727fe742cc8ff39b8c6883391
[code]

* kubectl describe bd -n openebs blockdevice-b7334551ccf029034d96714b91957637
[code]

[2021-06-04 13:10] ranjithwingrider commented on #3399
Thanks. I couldn't find more info from the OpenEBS side. What are the modifications done on MinIO deployment YAML spec?

[2021-06-04 13:23] davidphayanouvong commented on #3399
* k describe statefulsets.apps minio1-ss-0
[code]
* k describe deployments.apps minio-operator
[code]
 do you want something else ?

[2021-06-04 13:30] ranjithwingrider commented on #3399
ok. In the meanwhile, can you try the following one in your new cluster?
[code]
In the tenant.yaml, change the storage class to `openebs-device` and then apply the modified YAML.
And, can you send me the helm command that you have used to generate the tenant yaml spec in the past and what are the modification that has been done on the tenant.yaml spec.

[2021-06-04 19:26] davidphayanouvong commented on #3399
Ok i finally found the problem...

the helm chart doesn't have anti affinity rule by default...

the following config with helm works:
[code]

Thanks for the help!

[2021-06-04 19:26] #3399 closed

[2021-06-04 20:31] bob-gray opened #3400 "FailedMount cStor Volume - RKE - Kubernetes 1.19"
I'm upgrading/replacing clusters which have been working well running cStor volumes using OpenEBS v1.6 on RKE - Kubernetes v1.17.2. All nodes are Rancher OS v1.5.8.  I've tried several combinations of OpenEBS and Kubernetes - all combinations up to OpenEBS v1.12 and Kubernetes greater than v1.18, fail with the below error. Thank you in advance for helping troubleshoot.

## Expected Behavior
Provis

[2021-06-10 01:05] #1335 closed

[2021-06-12 00:55] #3354 closed

[2021-06-12 12:02] kmova commented on #2537
OpenEBS has started to support NFS natively via the Dynamic NFS provisioner. For trying it out and providing feedback please visit - https://github.com/openebs/dynamic-nfs-provisioner

[2021-06-12 12:12] kmova commented on #3132
In the recent releases, the https://github.com/openebs/dynamic-nfs-provisioner has gained traction as a simplified way of setting up NFS over any type of OpenEBS block volumes.

However, as mentioned in the issue description above, there may be need for supporting RWX without NFS.

Keep this issue open to be considered for the Mayastor engine for future.

[2021-06-12 12:14] kmova commented on #3150
The earlier stable/nfs-server-provisioner has moved to: https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner

Also, there is an option now within OpenEBS to use NFS via: https://github.com/openebs/dynamic-nfs-provisioner

[2021-06-12 12:17] kmova commented on #3093
Could be related to: https://github.com/openebs/dynamic-nfs-provisioner/issues/46

[2021-06-12 12:20] kmova commented on #711
We currently support using NFS on top of OpenEBS block volumes
- NFS ganesha using https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner
- NFS (via kernel nfs) using https://github.com/openebs/dynamic-nfs-provisioner

[2021-06-15 12:13] kthommandra opened #3403 "Ability to use a volume restored from a cStor snapshot without any application storage reconfiguration"
## Description

Consider following sequence of events

1. application is using a volume
2. prior to upgrade1, snapshot1 created
3. upgrade1 successful
4. snapshot1 can be deleted since its of no use
5. app continues to use original volume
6. prior to upgrade2, snapshot2 created
7. upgrade application runs for sometime
8. upgrade2 deemed a failure and the intent is to go back to the storage state a

[2021-06-15 12:48] mittachaitu commented on #3093
missing codepage or helper program, or other error
(for several filesystems (e.g. nfs, cifs) you might
need a /sbin/mount. helper program)

Hi @kaitaklam , Sorry for delayed response.. Mostly above error looks like `nfs-utils` are not installed on the node. To export volume over NFS `nfs-utils` are required on the node. Can you install [prerequisites](https://github.com/openebs/dynamic-nfs-provisi

[2021-06-16 00:37] #2908 closed

[2021-06-16 00:37] #3392 closed

[2021-06-16 17:31] #2913 closed

[2021-06-17 09:52] akhilerm commented on #3376
The release criteria has one bug:

release workflows are getting triggered for helm chart releases.

The tags section in

https://github.com/openebs/node-disk-manager/blob/e8d7bfd4d4c37066d494405e2933fd94858e70a1/.github/workflows/release.yml#L16-L21

is not working. Release workflow is getting triggered for helm chart releases also. Ref. [ndm](https://github.com/openebs/node-disk-manager/actions/

[2021-06-17 12:41] kindrajeet opened #3404 "Getting Input/output error when trying to access the volume-mount from an application pod"
## Description

- Getting Input/output error when trying to access the volume mount across the PODS of a Deployment.
`$ kubectl  exec nginx-deployment-695f8d5d5d-p7zbg -- ls -lh /etc/nginx/conf.d`
`total 0`
`ls: reading directory '/etc/nginx/conf.d': Input/output error`
`command terminated with exit code 2`
  `$ kubectl  exec nginx-deployment-695f8d5d5d-dcfwb -- ls -lh /etc/nginx/conf.d`
   `total

[2021-06-19 01:05] kmova commented on #3263
https://github.com/openebs/device-localpv is not available for use-cases where OpenEBS can provide the PVs by partitioning the block devices on demand.

[2021-06-20 01:02] #3094 closed

[2021-06-22 03:14] Nivedita-coder commented on #3385
Here is the screenshot of the policies testing.
![1st](https://user-images.githubusercontent.com/56059682/122857214-bf3b6400-d335-11eb-866d-52e42e2b0619.png)

![2](https://user-images.githubusercontent.com/56059682/122857239-cbbfbc80-d335-11eb-92a7-749087e12ef8.png)

[2021-06-22 09:26] akhilerm opened #3407 "Add support to detect disks used by LVM localpv in NDM."
Currently NDM detects disks that are used by zfs-localpv and mayastor using the [used-by](https://github.com/openebs/node-disk-manager/blob/master/cmd/ndm_daemonset/probe/usedbyprobe.go) probe.

This check should be extended to LVM localpv also, so that disks used by LVM localpv for volume group creation are either tagged with `block-device-tag=lvm-localpv` or ignored during blockdevice resource c

[2021-06-22 11:24] akhilerm commented on #3407
cc: @Ab-hishek

[2021-06-22 11:38] shubham14bajpai commented on #3376
The above bug can be fixed by using a simple if condition mentioned in this issue : https://github.com/actions/create-release/issues/14#issuecomment-555379810
Will be verifying and fixing the release in following repos:
- [ ] jiva-operator https://github.com/openebs/jiva-operator/pull/106
- [ ] cstor-operator
- [ ] ndm
- [ ] zfs-localpv
- [ ] lvm-localpv
- [ ] dynamic-localpv
- [ ] nfs

[2021-06-22 11:58] Ab-hishek commented on #3407
Great! I start working on this.

[2021-06-22 13:03] akhilerm commented on #3407
@Ab-hishek Before starting implementation, can you explore on how to detect if a disk is being used by a volume group and comment your findings here.

[2021-06-22 13:06] Ab-hishek commented on #3407
Sure @akhilerm .

[2021-06-24 05:14] akhilerm commented on #3389
Cause of issue:

When the node gets rebooted and the NDM pod comes up, the ndm pod fetches information before udev database is updated. This causes NDM failing to detect that cstor is installed on the parent disk (say `/dev/sdb`) and goes onto create blockdevice resource for the cstor partition. But during scanning the details of partition device(`/dev/sdb1`), it finds the zfs signature on the dev

[2021-06-24 06:48] akhilerm commented on #3376
Closing issue as all PRs in repositories with helm charts have been merged. cc: @shubham14bajpai

[2021-06-24 06:48] #3376 closed

[2021-06-26 14:14] vishnuitta commented on #3404
when did the regression started? And, the testcase should be in E2E suite.
And, why the EIO error is coming? Is this the ext4 behavior?

[2021-06-29 03:50] #3379 closed

[2021-06-29 07:08] prateekpandey14 commented on #3377
Closing this , please feel free to reopen if required.

[2021-06-29 07:08] #3377 closed

[2021-07-03 00:58] #2372 closed

[2021-07-03 00:58] #3365 closed

[2021-07-05 05:41] mittachaitu commented on #3093
Closing this issue as there is no response from as well as assuming installing `nfs-util` will fix the issue. Please feel free to re-open if the suggestion didn't work.

[2021-07-05 05:41] #3093 closed

[2021-07-06 01:03] #3348 closed

[2021-07-08 00:59] #2814 closed

[2021-07-08 11:12] z0marlin opened #3412 "Fix flaky integration tests in NDM"
The integration tests for [node-disk-manager]() are flaky and fail frequently. Often, a couple of re-runs of the pipeline are required for the tests to pass. These tests need to be fixed.
Here are the links to some of the flaky test runs:
- https://github.com/openebs/node-disk-manager/runs/3015365349?check_suite_focus=true, https://github.com/openebs/node-disk-manager/runs/3015625720?check_suite_f

[2021-07-08 13:45] NinekoTheCat commented on #3046
Not quite, it happened to me too.

[2021-07-09 01:00] #3367 closed

[2021-07-13 06:41] nsathyaseelan opened #3413 "[ndm]: BlockDevice stuck into `Released` state upon deleting the pools"
## Description
- Created the CSPC/SPC pool with blockdevice once the pools became healthy. deleted the pool and the blockdevicesx which used to create the pool stuck into `Released` state.

## Expected Behavior
- Blockdevices has to became `Unclaimed` state

## Current Behavior
- Blockdevice stuck into `Released` state

## Possible Solution
- Upon restarting the ndm-operator manually fixes the iss

[2021-07-13 10:57] #3413 closed

[2021-07-14 08:57] javiku opened #3414 "Update installation instructions after openebs-operator.yaml deprecation"
## Description

Tweaking and applying the `openebs-operator.yaml` file is the documented way for installing OpenEBS control plane and provisioners without using Helm. The current YAML file includes this deprecation warning in the header comments:

[code]

The problem is that all installation instructions rely on that file, and the steps for installing the OpenEBS control plane (NDM, Maya ApiServer

[2021-07-15 01:01] #3372 closed

[2021-07-15 01:01] #3371 closed

[2021-07-15 14:16] colussim opened #3416 "Cannot create CSPC on Kubernetes Cluster 1.21.1"
## Description
Hi All,
I was attempting to create a CStorPoolCluster in my cluster (4 VMs OpenSuse Tumbleweed in AWS).  when trying to create  I am getting:

Error from server (InternalError): error when creating "csp-stripe.yaml": Internal error occurred: failed calling webhook "admission-webhook.cstor.openebs.io": Post "https://openebs-cstor-admission-server.openebs.svc:443/validate?timeout=5s":

[2021-07-15 14:30] prateekpandey14 commented on #3416
@colussim can you check if there are any settings needs to allowed to use 443 port, or any AWS specific settings for webhooks.

Meanwhile just to unblock,  you can edit the webhook configuration using the command
[code]
and change the `failurePolicy: Fail`  to  `failurePolicy: Ignore`

[2021-07-16 01:01] #3373 closed

[2021-07-16 08:51] colussim commented on #3416
prateekpandey14 thank you for your feedback, at AWS level everything is ok, AWS settings for webhooks are only applied if you use the AWS EKS offer.
I'll have a closer look at the CNI configuration (I'm using Weave Net pluguin), I've never encountered this problem on my bar metal configurations, the only thing that is different is that in this configuration I'm using cri-o instead of docker.

[2021-07-16 22:53] colussim commented on #3416
Closing this now. Thank you very much @prateekpandey14

[2021-07-16 22:53] #3416 closed

[2021-07-18 01:02] #3374 closed

[2021-07-19 06:57] kmova opened #3417 "Fix analytics issues on the new csi drivers"
Send install/ping events from csi controllers or provisioners - which was earlier sent through maya-apiserver.

this needs to be resolved before deprecating maya-apiserver which is currently sending these events.

[2021-07-19 13:05] turowicz opened #3418 "Deleting a dynamic PVC of openebs-jiva-default class does not empty the pods in openebs namespace."
I have originally asked this question on microk8s repo (https://github.com/ubuntu/microk8s/issues/2434), as it is what I'm using, but they claim I should ask you guys here.

When I create a pod with an OpenEbs storage requirement, except for the PVCs, microk8s also spins up pods on each node. These pods remain even after the deployment has been deleted and I need to go through them and delete them

[2021-07-19 13:07] turowicz commented on #3418
cc @kmova @Ab-hishek @vishnuitta @shubham14bajpai

[2021-07-19 13:12] shubham14bajpai commented on #3418
Hi @turowicz These volume related deployments should get deleted when the PVC is deleted.

Are you deleting the PVC as well when the deployment is deleted?

[2021-07-19 13:20] turowicz commented on #3418
Yes because I `helm uninstall` a release, so everything should be gone.

[2021-07-19 13:21] shubham14bajpai commented on #3418
Can you please once try uninstall and check if the PVC gets deleted or not

[2021-07-19 13:24] prateekpandey14 commented on #3418
@turowicz is it StatefulSet based volumes ?.

[2021-07-19 14:37] akhilerm commented on #3407
@Ab-hishek any updates on this item or should I reassign?

[2021-07-19 14:54] turowicz commented on #3418
@shubham14bajpai yes the PVC are deleted on `helm uninstall`, only openebs pods remain for each node.

@prateekpandey14 yes this is connected to stateful sets. `Delete` is the reclaim policy.

[2021-07-19 15:19] prateekpandey14 commented on #3418
@turowicz can you share the `openebs-apiserver` pods logs here, wanted to check if there are any errors , also what is the k8s version ?

[2021-07-19 15:23] turowicz commented on #3418
K8S: microk8s 1.21

openebs-apiserver:
[code]

[2021-07-19 15:41] turowicz commented on #3418
[openebs-provisioner-855f4d7598-4zdlr.log](https://github.com/openebs/openebs/files/6842234/openebs-provisioner-855f4d7598-4zdlr.log)

[2021-07-19 15:57] prateekpandey14 commented on #3418
In the provisioner logs there are no PVC Delete request for the newly provisioned PVCs. for example `pvc-09ce295b-ce5a-4db0-b45f-5f4384f241f4` only have provisioned logs, no delete request have been made. what is the pvc status, are they deleted from the cluster ? what `kubectl get pvc --all-namespace` says ?

[2021-07-19 17:39] turowicz commented on #3418
Yes, the PVCs from uninstalled releases are gone.

[2021-07-19 20:30] Ab-hishek commented on #3407
No update as of now. Been busy with other repos. But will update my findings in 2-3 days.

[2021-07-20 06:44] #3404 closed

[2021-07-20 11:22] turowicz commented on #3418
@prateekpandey14 @shubham14bajpai can you send me an example helm template that should have this working correctly? Perhaps I am missing something in my definitions.

[2021-07-20 16:22] prateekpandey14 commented on #3418
@turowicz you can install any application helm charts like prometheus, mongo etc from their stable charts repo, or you can check out some example statefulset example [here](https://docs.openebs.io/docs/next/mongo.html) in openebs docs.

[2021-07-21 06:12] turowicz commented on #3418
@prateekpandey14 I am using these charts:
[code]
cql.openebs.yaml:
[code]

So as you can see nothing out of the ordinary. Deleting that release keeps the pods in openebs namespace.

[2021-07-21 07:08] prateekpandey14 commented on #3418
@turowicz i just tried installing the bitnami/cassandra chart in my local cluster, since its a Statefulset, uninstalling a chart, will not delete the PVC automatically [its by design in k8s](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#limitations), and you have to delete the pvc using a kubectl command.

Deleting and/or scaling a StatefulSet down will not delete the volu

[2021-07-21 07:35] turowicz commented on #3418
@prateekpandey14  Well that is not what I am experiencing:

PVCs:

![image](https://user-images.githubusercontent.com/1055391/126449780-4f053298-382a-49b2-ba26-da0dc371d0c9.png)

134 pods in openbs namespace:

![image](https://user-images.githubusercontent.com/1055391/126449824-5e74e6ca-2fb3-43a4-b5f5-140b716b4d7b.png)

[2021-07-21 07:36] turowicz commented on #3418
also PVs:

![image](https://user-images.githubusercontent.com/1055391/126449969-8c118e01-de08-4356-b2b5-544d07dc0013.png)

[2021-07-21 07:37] turowicz commented on #3418
On cassandra example:

1. Deployment creates a PVC that automatically gets a PV with a GUID.
2. OpenEbs creates a pod for that GUID PV.
3. Uninstalling removes the PVC and PV, but the pod remains.

[2021-07-21 07:58] prateekpandey14 commented on #3418
But PVC/PV exists in above screenshot, is that they are not the deleted one ?

So basically just to see the behavior, i tried below steps
1. install charts with  1 Replica count in SC
[code]
2. pod and pvc
[code]
3. Uninstall charts will remove the charts only not the PVC (as expected)
[code]
4. Delete the PVC to delete the Jiva pods
[code]

[2021-07-21 08:25] turowicz commented on #3418
I will test the above.

There are 27 PVs and 134 pods in openebs namespace. For 3 nodes there should be 27x3 pods. This means there are phantom pods for PVs/PVCs that no longer exist.

[2021-07-21 08:43] turowicz commented on #3418
There is a difference here, on microk8s the storage class is called `openebs-jiva-default`

So I need to deploy with:

[code]
After `helm uninstall` and deleting the PVC I still have **deployments** and **pods** remaining.

[code]
[code]

[2021-07-21 08:46] turowicz commented on #3418
Steps to reproduce:

1. `sudo snap install microk8s --channel 1.21/latest --classic`
2. sudo microk8s enable openebs
3. `helm install cassandra --set persistence.storageClass=openebs-jiva-default bitnami/cassandra`
4. `helm uninstall cassandra`
5. `kubectl delete pvc ...` (drop all cassandra pvcs)

[2021-07-21 10:22] niladrih commented on #3418
@turowicz -- Able to reproduce the issue.

This seems to happen only when all of the replicas (in this case replicass =3, and 1/3 are available) are not available and the PVC is not bound. This might be because you have insufficient nodes in the cluster. You'll need at least 3 to schedule all 3 replicas.

When all the replicas are available, and the PVC is bound, the volume is made available to th

[2021-07-21 10:53] turowicz commented on #3418
My cluster has 3 nodes, all available:

![image](https://user-images.githubusercontent.com/1055391/126477589-a5d2d091-a11c-4660-98bd-b455f3fd950c.png)

[2021-07-21 10:54] turowicz commented on #3418
Each node has 48 cores and 128GB RAM

[2021-07-21 14:27] mynktl opened #3419 "Enable coredump for cstor pods"
## Description
By default, core dump for cstor pool pods are disabled. To enable them, one needs to set `ENABLE_COREDUMP` environment variable in all relevant cstor pool pod deployment spec. This issue is to optimize the enabling core dump for cstor pool pods.

## Possible Solution
- Enable core dump through k8s resource
- Document the steps on how to enable the core dump.

[2021-07-22 01:28] kmova commented on #3333
With OpenEBS 2.10 and OpenEBS 2.11 - we have default dashboards for Jiva, cStor and LVM Local PV. More are being added. The progress is tracked under https://github.com/orgs/openebs/projects/41

[2021-07-22 01:28] #3333 closed

[2021-07-22 05:34] niladrih commented on #3418
For the case where all of the replica controller are scheduled, and not pending, the cleanup seems to work as expected, for me.

@turowicz -- Can we jump into a meeting so I may be able to take a closer look at your system over a screen-share? For a meeting, it will be convenient if you joined the Kubernetes workspace. You can use these links to join:
- Join Kubernetes workspace -- https://slack.k

[2021-07-22 15:02] turowicz commented on #3418
@niladrih how about just a Google Meet? We use Discord at work instead of Slack.

[2021-07-22 15:49] niladrih commented on #3418
Sure @turowicz. A Google Meet is good for me. I am at +5:30 UTC (IST). When is a good time for you?

[2021-07-22 15:55] niladrih commented on #3418
@turowicz -- 11:30 - 12:30 (CEST) tomorrow? Drop me your email address, I'll send you an invite.

[2021-07-22 18:39] turowicz commented on #3418
Sounds good. info@surveily.com

[2021-07-23 09:53] niladrih commented on #3418
ADOPTERS.md over at [openebs/openebs](https://github.com/openebs/openebs) --> https://github.com/openebs/openebs/blob/master/ADOPTERS.md

You can add your Adopters' entry by dropping comment here --> https://github.com/openebs/openebs/issues/2719

[2021-07-23 09:59] turowicz commented on #3418
Thank you for the call, it helped me a lot.

The solution is to never delete PV manually and just remove the PVC. The framework will automatically handle the deletion of PV and the pods.

[2021-07-23 09:59] #3418 closed

[2021-07-23 10:02] turowicz commented on #2719
Company
Surveily

Stateful Applications that you are running on OpenEBS
CVAT
Bitwarden
Elasticsearch
PostgresDb
Cassandra

Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?
Jiva

We are using microk8s in production and OpenEBS allows us to create multi-node clusters with high availability at minimum time investment. We were looking for a seamless transparent t

[2021-07-25 15:49] #3414 closed

[2021-07-26 02:37] KeithTt commented on #3318
Same problem here, @survivant have you solved this issue?

[2021-07-26 02:45] kmova commented on #3318
@KeithTt - on which environment are you noticing the issue:
- openebs version
- openebs engine
- kubernetes version

[2021-07-26 10:34] turowicz opened #3420 "Restore deleted deployment"
Dear @niladrih @prateekpandey14

Unfortunately during my attempt to remove the unused openebs pods (https://github.com/openebs/openebs/issues/3418) I have accidentally removed ALL pvc-* deployments from openebs namespace.

Now, the PVCs and PVs have remained and have not been deleted. Is it possible to somehow tell OpenEBS to recreate missing deployments?

[2021-07-26 10:35] turowicz commented on #3420
cc shubham14bajpai

[2021-07-26 10:37] turowicz commented on #3420
Or should I delete everything and start over?

[2021-07-26 11:02] turowicz commented on #3420
We are happy to pay for help on this

[2021-07-26 11:12] turowicz commented on #3418
You can use the following script to get rid of the clutter pods. USE AT OWN RISK.

[code]

[2021-07-26 11:26] turowicz commented on #3420
![image](https://user-images.githubusercontent.com/1055391/126981510-37c0fd8e-fe7d-4674-92e7-a89e9c2bd798.png)

![image](https://user-images.githubusercontent.com/1055391/126981552-f2732431-f545-4c26-99d8-d62304c7024e.png)

[2021-07-26 11:27] turowicz commented on #3420
I need a way of recreating the `pvc-*` deployments.

[2021-07-26 13:40] turowicz commented on #3420
The solution:

1. Go to your cluster and deploy an example PVC from the script below.
[code]
2. `kubectl apply -f pvc.yaml`
3. In the `openebs` namespace new deployments will appear.
4. Export all new deployments (ctrl and replicas) to yaml files.
5. Delete the `status` section of each yaml file.
6. Find the first PVC you want to fix, copy it's `uuid` and look for it in the services by appending `

[2021-07-26 13:40] #3420 closed

[2021-07-28 01:04] #3147 closed

[2021-08-03 13:20] moshey1 commented on #3046
I just encountered this issue with EKS v1.21 cluster
`Error from server (InternalError): error when creating "cspc.yaml": Internal error occurred: failed calling webhook "admission-webhook.cstor.openebs.io": Post "https://openebs-cstor-admission-server.openebs.svc:443/validate?timeout=5s": context deadline exceeded`

changing failurePolicy to Ignore didn't fix the issue.

still haven't found a sol

[2021-08-03 15:46] prateekpandey14 commented on #3046
@moshey1 can you verify once that the `failurePolicy` is set to `Ignore` in validatingwebhookconfiguration .

[2021-08-04 06:47] moshey1 commented on #3046
Yes, it is set to Ignore.
see `kubectl edit validatingwebhookconfigurations  openebs-validation-webhook-cfg` output

`# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving this file will be
# reopened with the relevant failures.
#
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfigu

[2021-08-04 06:54] prateekpandey14 commented on #3046
@moshey1  there will be another validating webhookconfiguration named as `openebs-cstor-validation-webhook` specific to cstor validation. To disable it you can run
[code]
and set the `FailurePolicy: Ignore`

[2021-08-04 07:45] moshey1 commented on #3046
cstor pool cluster was created successfully
Kudos!

[2021-08-05 01:01] #3368 closed

[2021-08-07 02:38] WillyRL commented on #2719
**Stateful Applications that you are running on OpenEBS**
We're running Minio S3 compatible object storage

Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?
cStor with CSPC

Are you evaluating or already using in development, CI/CD, production
We're implement OpenEBS on all kubernetes cluster that we have.

Are you using for home use or for your organization

[2021-08-08 15:31] FridayRU commented on #2989
"To recover from this the BDC needs to be manually edited and then deleted."

What should I do after editing the BDC to delete it? Or will it be deleted of itself?
Which fields can be edited?

[2021-08-12 05:37] noyessie opened #3423 "Support of cifs mounted network device"
## Description
I have an hard drive with multiple partition that I share as network device using my router. I mount one partition on each node using the following fstab line:

But it looks like openebs doesn't support CIFS mounted devices yet.
`Writing superblocks and filesystem accounting information: mkfs.ext4: Input/output error while writing out and closing file system`

I can see the pv folde

[2021-08-12 06:57] #3423 closed

[2021-08-12 07:11] noyessie opened #3424 "Unable to mount volume when pod in different namespace"
## Description
Trying to run the Jiva busy box example found in the documentation. When I run the pod in the default namespace, everything works well, but when I try to run it in different namespace (`jiva-test` for my case) I got the following error :

[code]

## Expected Behavior
busy box pods should run normally regardless of the namespace

## Current Behavior
run only in the default namespace

[2021-08-12 07:22] shubham14bajpai commented on #3424
Hi @noyessie what is the openebs version used? Also can you share the output for pods in openebs namespace.

[2021-08-12 07:36] noyessie commented on #3424
sure

[code]

[2021-08-12 07:39] noyessie commented on #3424
`ubectl describe pod -n openebs pvc-061eebed-fc73-4592-a737-578809fc4bc9-rep-1-74b45bc44-56ghz`

result
[code]

[2021-08-12 07:46] noyessie commented on #3424
More details:

kubectl logs -n openebs pvc-e652078d-7c9c-49e3-81ab-33cbe216ce5a-rep-2-c7d45b7fc-5nkj4
time="2021-08-12T07:38:52Z" level=info msg="MAX_CHAIN_LENGTH env not set, default value is 512"
time="2021-08-12T07:38:52Z" level=info msg="Read log info"
time="2021-08-12T07:38:52Z" level=info msg="Configured logging with retentionPeriod: 180, maxLogFileSize: 100, maxBackups: 5"
time="2021-08-12T

[2021-08-12 07:57] shubham14bajpai commented on #3424
The volume
[code]
 unable to mount have resources
[code]

Can we check the logs for these two?

Also before proceeding I want to mention that this jiva is provisioned via external provisioner and is marked for deprecation in coming months. I see you are already using cstor-operator there is another csi version of jiva https://github.com/openebs/jiva-operator

[2021-08-15 16:07] kmova commented on #3395
@yelhouti - will close this for now. We can re-open if the issue re-appears.

[2021-08-15 16:07] #3395 closed

[2021-08-16 09:02] Somsubhra1 commented on #2719
### Stateful Applications that you are running on OpenEBS
PostgreSQL, MariaDB, Prometheus
### Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?
cStor
### Are you evaluating or already using in development, CI/CD, production
Development & Staging environments
### Are you using for home use or for your organization
Home mostly
### A brief description of the use

[2021-08-17 06:34] #3385 closed

[2021-08-17 10:23] 1121437613 opened #3425 "How do I need to set up so that the Local PV Hostpath is only created on the Node I specify?"
How do I need to set up so that the Local PV Hostpath is only created on the Node I specify?

There are many nodes in my k8s cluster, I hope openebs only provides Local PV Hostpath on some nodes, because not all nodes have enough storage space

[2021-08-17 12:11] kmova commented on #3425
@1121437613 - is there a common node label available on the nodes that have storage.

For example, if you have hostpath as `/mnt/hostpath` and all the storage nodes where `/mnt/hostpath` is available is labeled as `openebs.io/node-role=storage`, you can use the following topology settings in the Local PV Storage class.

[code]

[2021-08-18 05:01] vharsh commented on #2946
More information on this issue is listed on issues @ https://github.com/openebs/openebsctl/issues/36 & https://github.com/openebs/openebsctl/issues/83

[2021-08-18 08:39] 1121437613 commented on #3425
Thank you very much, I solved my problem according to the method you provided

[2021-08-18 08:39] #3425 closed

[2021-08-18 08:41] 1121437613 commented on #3425
The problem has been solved, thanks kmova

[2021-08-19 01:53] kmova commented on #3132
https://github.com/openebs/dynamic-nfs-provisioner has been tested with Mayastor as well.

[2021-08-19 01:53] #3132 closed

[2021-08-19 09:00] kbegiedza opened #3427 "Failed to add replica to controller after node restart"
After node restart pvc pods cannot run properly.

## Your Environment
[code]

each node at: `5.4.0-81-generic #91-Ubuntu SMP Thu Jul 15 19:09:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

ctrl logs:
[code]

replica logs:
[code]

iscsiadm -m node -u:
[code]

[2021-08-19 13:10] kmova commented on #3427
@Ursanon - this is related to https://github.com/openebs/jiva-operator/issues/125.

Can you share the openebs version you are using or share the details of `kubectl get pods -n openebs`?

[2021-08-19 13:21] Ursanon commented on #3427
Thanks for resply @kmova,

I use `2.10.0`.
Managed to solve it by restarting node and then pods manually.

[2021-08-19 17:57] Amishakumari544 commented on #3403
hi @kmova just small observation in the project that it uses the outdated version of react. Kindly, Update this.
Thanks.
![image](https://user-images.githubusercontent.com/49230384/130119991-50a7bc3a-5ef0-4b43-8b10-40c9cd2dd76d.png)

[2021-08-20 04:27] kmova commented on #3403
@Amishakumari544 - can you please create a new issue for above under openebs/website repo. I will delete the comment from this thread once you have had a chance to create there as this comment is not helping this issue.

[2021-08-21 00:57] #3388 closed

[2021-08-21 07:33] Amishakumari544 opened #3428 "Outdated React Version"
## The website is outdated and it should be updated

![Screenshot (306)](https://user-images.githubusercontent.com/49230384/130314605-e70b2c02-75b2-4439-8813-f0b94697576d.png)

[2021-08-21 18:40] kmova commented on #2946
With release 2.12.0, `kubectl openebs ...` has a lot of functionality to help with jiva, cstor and zfs local pv volumes. For more information checkout: https://github.com/openebs/openebsctl

[2021-08-21 18:40] #2946 closed

[2021-08-23 00:55] #2979 closed

[2021-08-23 00:55] #2911 closed

[2021-08-24 00:58] #3342 closed

[2021-08-24 00:58] #2855 closed

[2021-08-24 00:58] #644 closed

[2021-08-24 05:50] Ab-hishek commented on #3407
We can detect disks that are used by LVM with the help of blkid pkg and checking the fsType of the disk. A disk that is used by LVM2 has the fsType set as `LVM2_member`. And then we can fill the blockdevice in used field representing that the disk is used by LVM. cc: @akhilerm

[2021-08-24 11:42] juliohm1978 opened #3429 "Jiva - Can't delete snapshot, checkpoint not set at controller"
## Description
After creating Jiva volumes and successfully creating _VolumeSnapshots_, I am unable to delete snapshot contents. I gathered from [internal docs](https://github.com/openebs/openebs/blob/master/contribute/design/openebs-jiva-snapshot-design.md#assumptionslimitations) that I can only delete _VolumeSnapshots_ and _VolumeSnapshotData_ from Kubernetes, and the actual Jiva snapshots conte

[2021-08-24 14:04] reggie-k opened #3430 "Admission controller to auto create or patch CStorPoolCluster upon addition of new cluster nodes"
## Description
Currently, the CStorPoolCluster needs to be created and patched manually upon addition of new nodes/block devices.

Does some admission controller to automate this process exist / is being planned?

[2021-08-24 14:34] mittachaitu commented on #3430
Hi @reggie-k, Thanks for opening an issue. Since a single cluster can accumulate multiple CStorPoolClusters a use case where users can create different type of CStorPoolClusters based on the type of the disk HDD/SSD and lot of other various factors. Waiting for new nodes/bd's and acting upon them is a good one to have but the admission server is not the right place.

We can achieve the same via [o

[2021-08-25 00:59] #3337 closed

[2021-08-25 00:59] #3380 closed

[2021-08-25 00:59] #3326 closed

[2021-08-25 15:48] nsathyaseelan opened #3431 "Application pod not scheduled to new node when forcefully moved after the node reboot"
- After did the poweroff and power on the nodes forcefully moved the application pod to the new node application pod says volume still mount on old node.
- Nodes where powered off
- Powered on the nodes.
- seeing that all application pods are imagepullbackoff state and some of the pods openebs namespace
- scaled down the application pods still it's in imagepullbackoff state
- Force deleted all the

[2021-08-26 01:01] kirans18 opened #3432 "Status of CSPI & CVR not been changing after node failure."
## Description
Deployed cstor-operator.yaml 2.12.0 successfully in k8s v.1.20.1.
cspc ,cspi ,pv,cvr & application pod all showing healthy and running fine.To test the node failure scenario one of the nodes in the cluster has powered-off,then the status of the bdc,cspi,cvr of that lost node has to be change but its not been changing.
## Expected Behavior

Status of cspi,bdc,cvr has to be change aft

[2021-08-30 00:59] #3390 closed

[2021-08-31 01:01] #2837 closed

[2021-08-31 03:51] jj-2020 opened #3433 "OpenEBS csi-node component restarts with error- "fatal error: concurrent map writes""
## Description

While performing load tests using https://github.com/kubernetes/perf-tests, we observed that the openEBS pod- "openebs-cstor-csi-node" restarts few times. When checking the logs of the container "cstor-csi-plugin", we saw the below error-

fatal error: concurrent map writes

The above load test tries to create few statefulset objects (20-25 pvc at once). The size of the PVC created

[2021-08-31 04:38] prateekpandey14 commented on #3433
@jj-2020 can you share the full logs of `cstor-csi-plugin` container.  Any specific use case to create a 100Mi size volume ?

[2021-08-31 09:43] jj-2020 commented on #3433
The logs generated is huge. Adding a part of it-

`fatal error: concurrent map writes

goroutine 134 [running]:
runtime.throw(0x17d1867, 0x15)
	/usr/local/go/src/runtime/panic.go:1116 +0x72 fp=0xc0000215f8 sp=0xc0000215c8 pc=0x4356b2
runtime.mapassign_faststr(0x15b8960, 0xc0002a2210, 0xc000132210, 0x28, 0x0)
	/usr/local/go/src/runtime/map_faststr.go:211 +0x3f7 fp=0xc000021660 sp=0xc0000215f8 pc=0x

[2021-08-31 14:57] jj-2020 commented on #3433
@prateekpandey14 , the pvc of 100Mi were created as part of the perf-tests.

[2021-09-01 09:56] camilamacedo86 opened #3434 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-03 01:27] bob-gray commented on #3400
Anyone have luck running OpenEBS v1.12, RKE v1.18, and ROS v1.5.8?

[2021-09-03 01:36] kmova commented on #3400
@bob-gray - just double-checking.

From the above logs, it appears that you have a single node where the cstor pool is running. Have you configured the `openebs-cstor` storage class to deploy only single replica.

Can you check the output of `kubectl get cstorvolumes -n openebs -o yaml` ?

[2021-09-03 02:36] bob-gray commented on #3400
The output above is from a test cluster with only a single worker. I get the same error on clusters with more nodes participating. Here is the output from `kubectl get cstorvolumes -n openebs -o yaml`:

[code]
Thanks! Any help is greatly appreciated.

[2021-09-03 02:44] kmova commented on #3400
And one more please - `kubectl get sc openebs-cstor -o yaml`

[2021-09-03 02:47] bob-gray commented on #3400
[code]

[2021-09-03 03:32] kmova commented on #3400
Everything in order w.r.t openebs config and provisioning. Points to the iSCSI setup issue on Rancher OS. Could you please check if this will help:

https://github.com/rancher/os/issues/2636#issuecomment-610033494

[2021-09-03 08:32] turowicz commented on #3427
Same issue here. Any updates on this?

[2021-09-03 08:55] turowicz opened #3435 "'fsck' found errors on device"
I get the following error after restarting the node. Any ideas why its not able to mount jiva default volume?

Describe Pod:

[code]

[2021-09-03 08:59] turowicz commented on #3435
cc @shubham14bajpai @prateekpandey14 @niladrih

[2021-09-03 14:27] bob-gray commented on #3400
I tried it and I got the same error. I'm not certain I've done it correctly. When I run `which system-docker` on the worker node I get `/bin/system-docker`. I added this in the cluster.yml (below) and the cluster updated. I also tried rebooting the worker.

[code]

[2021-09-03 22:04] tayloreisman16 opened #3436 "CustomResourceDefinition Issue"
Hey,

I'm trying to run this command: `kubectl apply -f https://openebs.github.io/charts/openebs-operator.yaml` However, it throws an error for CustomResourceDefinitions related to the apiextension for k8s.io.

Is there a version of kubernetes that works? This issue didn't happen at the start of the week.

[2021-09-04 01:10] kmova commented on #3436
@tayloreisman16 - what is the version your K8s cluster?  The latest operator requires K8s 1.18 or above.

Older operators are available at: https://github.com/openebs/charts/tree/gh-pages/versioned

[2021-09-04 19:02] tayloreisman16 commented on #3436
I am using 1.15.12. I'll try 1.18.

[2021-09-04 19:42] tayloreisman16 commented on #3436
@kmova I am getting this error still.

![image](https://user-images.githubusercontent.com/18565850/132106216-9183584a-1005-48b8-915d-4c86236eb811.png)

[2021-09-05 04:47] kmova commented on #3436
@tayloreisman16 - what is the URL you are using to download the required yaml.

For example to download 2.11.0 operator yaml, you have to either use:
* https://raw.githubusercontent.com/openebs/charts/gh-pages/versioned/2.11.0/openebs-operator.yaml (or)
* https://openebs.github.io/charts/versioned/2.11.0/openebs-operator.yaml

[2021-09-06 08:15] liuminjian opened #3437 "partprobe not work, maybe udev cache problem"
## Description

sometimes when i delete a workload with block device , the cleanup job will wipefs the block device filesystem. but i still can see the filesystem in the host. after i execute partprobe command , the disk filesystem info will be reloaded.i think this is a udev problem and cleanup job also execute the partprobe command but not work.

## Screenshots

![image](https://user-images.gith

[2021-09-06 11:27] #3135 closed

[2021-09-09 08:59] #3437 closed

[2021-09-10 16:00] radtraveller1 opened #3439 "provie the list of containers required for cstor csi operator"
Is there anyway to install openebs/cstor in air gap environment?

ie, which particular container images to pull and how to redirect openebs and csi-operator yamls to local repository where I store the needed images?

Thank you,

[2021-09-10 17:40] kmova commented on #3439
Hi @radtraveller1 - the images used by cstor can be seen from this: https://openebs.github.io/charts/cstor-operator.yaml

You need to make a copy of the above YAML and change the location of the following:

[code]

[2021-09-11 08:20] radtraveller1 commented on #3439
Hi Kiran.
Thank you for the response

So,  I can pull all those images to a local podman, then push to local registry.  I get that.
Then edit yaml to point to the images on local registry.

From what I can tell from the install instructions, I need to use both csi-operator.yaml and openebs-operator.yaml?

Is this the same process I would use for the openebs-operator? (image lines from openebs-oper

[2021-09-11 12:28] kmova commented on #3439
@radtraveller1 - the images listed under `image:` and `value:` are required.

For example, we can use the following:
[code]

Also with Local PV there are different variants - hostpath, device, zfs and lvm. Which Local PV are you interested in?

[2021-09-14 08:06] liangchao88 commented on #71
I am facing the same issue on windows 10.  I am using latest versions.
virtualbox version 6.1.26r14595
vagrant version 2.2.18
who can help me??

[2021-09-16 07:31] turowicz commented on #3435
Data went to hell due to system crash.

[2021-09-16 07:33] turowicz opened #3440 "Single node k8s with OpenEBS"
I know OpenEBS requires 3 replicas to operate but can they all reside on a single node? The reason I'm asking is because I really like the data backup workflow with OpenEBS and Velero. Some of our clients are running single node k8s and we would need that to work in that scenario too.

[2021-09-16 07:36] turowicz commented on #3440
If I select storageclass `openebs-device` or `openebs-hostpath` would that work?

![image](https://user-images.githubusercontent.com/1055391/133570333-9a6e8c39-cd62-4b75-8d0f-e32a4cb087df.png)

[2021-09-16 07:41] kmova commented on #3440
Yes, it is a good usecase to work with openebs-device and openebs-hostpath.

In case you want to run more than one workload on the same node - please use openebs-hostpath.

[2021-09-16 07:41] kmova commented on #3440
Backup / restore docs with openebs-hostpath and device are here: https://github.com/openebs/dynamic-localpv-provisioner/tree/develop/docs/tutorials/backup_and_restore

[2021-09-16 07:42] kmova commented on #3435
@turowicz - were there 3 replica's / nodes in this case?

[2021-09-16 08:12] turowicz commented on #3440
@kmova thanks for the answers. What is the overall advantage of this setup in contrast with VolumeSnapshot (GA since 1.20)?

[2021-09-16 08:13] turowicz commented on #3435
@kmova yes 3 nodes with 3 replicas. I don't understand why data got corrupted since only 2 of 3 servers went down. I thought the whole purpose of 3 replica is to survive crashes like this?

[2021-09-16 08:13] turowicz commented on #3435
also running the "fix" command only deleted all postgres database files :D

[2021-09-16 08:21] turowicz commented on #3440
Actually this post gives some insight: https://github.com/ubuntu/microk8s/issues/1686#issuecomment-822061383

[2021-09-16 08:39] turowicz commented on #3440
@kmova can we put snapshots on network disks? I see MinIO, G3 and AWS options only.

[2021-09-16 08:59] turowicz commented on #3440
and Azure: https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure

[2021-09-16 11:27] kmova commented on #3440
`VolumeSnapshot` is a feature that is enabled at the per PVC object and is available on storages that support CSI drivers. Depending on the storage provider the implementation details vary on how the snapshots are taken and where they are stored.

By using velero backup and restore - you actually take the backup of the application yamls, pvc and corresponding data into a S3 compatible storage.

ve

[2021-09-16 11:29] kmova commented on #3435
are these virtual or physical nodes? when the nodes came back - do they come with the old storage.

[2021-09-16 11:30] turowicz commented on #3440
Thanks for the info @kmova!

[2021-09-16 11:30] #3440 closed

[2021-09-16 11:45] turowicz commented on #3435
They are physical nodes, rack servers. The OpenEBS pods wouldn't start due to errors you see above.

[2021-09-16 11:46] turowicz commented on #3435
Reopening as such a crash shouldn't happen according to @kmova

[2021-09-17 18:28] MikaelSmith commented on #3131
I've run into this as well. Seems to happen when creating a lot of PVCs at once.

[2021-09-19 03:52] t3hmrman commented on #2719
# Stateful Applications that you are running on OpenEBS

- Postgres
- KubeVirt (`qemu`)
- Grafana

# Type of OpenEBS Storage Engines behind the above application - cStor, Jiva or Local PV?

- Jiva
- ZFS LocalPV

# Are you evaluating or already using in development, CI/CD, production

- Evaluation (over the years I don't think there's an offering I haven't evaluated except for NFS provisioner)
- Pr

[2021-09-20 01:52] kmova commented on #3417
Fixed by:
* https://github.com/openebs/jiva-operator/pull/154
* https://github.com/openebs/cstor-csi/pull/164
* https://github.com/openebs/zfs-localpv/pull/386
* https://github.com/openebs/lvm-localpv/pull/154
* https://github.com/openebs/dynamic-localpv-provisioner/pull/108
* https://github.com/openebs/dynamic-nfs-provisioner/pull/109

[2021-09-20 01:52] #3417 closed

[2021-09-22 08:51] andyjeffries opened #3442 "Snapshot support in Mayastor"
## Description
Provide some method of snapshotting a volume (without requiring the workload to be shutdown) as well as creating a new volume from the snapshot and rolling back the volume to the snapshot.

## Context
We require this for entire cluster backups without stopping customer workloads as well as features for our users.

[2021-09-22 16:13] nareshdesh opened #3443 "Kyverno policies for OpenEBS"
## Description
On a Kubernetes clusters with kyverno policies(baseline or restricted) enabled, openebs deployment is failing

### Restricted policy
Kyverno installation
[code]

OpenEBS deployment
[code]
### Baseline policy
kyverno deployment
[code]
OpenEBS deployment
[code]

## Expected Behavior
OpenEBS deployment with the `rbac.kyverno` enabled, it should have set the policies, which would have d

[2021-09-22 16:24] kmova commented on #3443
@Nivedita-coder can you please check on this one?

[2021-09-22 18:05] Nivedita-coder commented on #3443
Hey @nareshdesh,
You had installed the kyverno with a restricted and baseline flag, that's why it has blocked the deployment of OpenEBS. Baseline and Restricted come under  Pod Security Standards. For more details, regarding this, you can check this [blog](https://dev.to/niveditacoder/default-kyverno-policies-for-openebs-4abf).

Here are the steps:
1. Install the kyverno in the Kubernetes cluster

[2021-09-23 13:20] nareshdesh commented on #3443
@Nivedita-coder,  what if an administrator has set these policies i.e Baseline or Restricted at a cluster scope. What additional policies does OpenEBS needs to set, in order for the openebs deployment to work.

As per the steps mentioned above, the OpenEBS deployment works even if we do not set  `rbac.kyvernoEnabled=true`
i.e
1. Install the kyverno in the Kubernetes cluster using YAMLs
`kubectl cr

[2021-09-26 18:17] torongu opened #3447 "CStor mount volume failed"
## Description

I'm installing openebs following the [docs](https://docs.openebs.io/docs/next/ugcstor-csi.html#prerequisites). I stuck in the section Deploying a sample application.

## Expected Behavior

The pod busybox is created successfully.

## Current Behavior

busybox is stuck in **ContainerCreating** status

[code]

cstor pool logs

[code]

[2021-09-27 05:35] mittachaitu commented on #3447
2021-09-27/02:57:48.679 ERROR Failed to connect to 10.43.60.64:6060 fd(14)

Hi @torongu ,
           Looks like there is an n/w issue between cStor target and replicas, To cross verify the network issue can you share the following outputs?
- kubectl get pods -n <openebs_namespace> -o wide
- kubectl get nodes -o wide
- kubectl get cvr -n <openebs_namespace>

To verify the same we have to exec into

[2021-09-27 09:13] torongu commented on #3447
@mittachaitu
This is output, is it normal?

[code]

[code]

When I ping pvc

[code]

[2021-09-27 09:25] mittachaitu commented on #3447
@torongu , Looks like it is definitely a network issue,
- What is the network used in the cluster?
- Are core-dns related pods in `kube-system` namespace are stable?
- Are network pods in `kube-system` namespace stable?
- Can you share output of `kubectl get po -n kube-system -o wide`?

If everything is good from network side, can you restart `cstor-disk-pool-vs5c-78cc7dc677-p449k` pod and check i

[2021-09-27 09:46] torongu commented on #3447
@mittachaitu
I use default CNI from k3s, flannel as the CNI, using VXLAN as the default backend.

This is `kube-system` namespace

[code]

After restart `cstor-disk-pool`, CVR change to `Recreate` and then `Offline` again

[code]

[2021-09-27 10:21] mittachaitu commented on #3447
[code]

From the above outputs... If we look at `InternalIP` of nodes they are altogether different(something like public & private n/w address combination)... I am suspecting there is something wrong with the cluster setup but not 100% sure about it(just thinking in those lines by looking at internal IP).

[2021-09-30 07:24] #3447 closed

[2021-10-01 03:36] prateekpandey14 commented on #3447
@torongu can you please summarize the solution or steps you have followed to resolve this issue, it will helpful for other user as well. Even we can add to the docs as well if required ?

[2021-10-03 08:59] torongu commented on #3447
Oh sure. I have recreated the k3s cluster today and realize I'm open the wrong port **8472/tcp**, the right one is **8472/udp**. And then it works normally.

So, it's a network issue. I missed the network requirement when setup the cluster. See See https://rancher.com/docs/k3s/latest/en/installation/installation-requirements/#networking

[2021-10-04 11:15] andyjeffries commented on #3442
@kmova here's the issue you requested. This is super important for us.

[2021-10-04 13:17] kmova commented on #3442
Thank you @andyjeffries got it. Added to the upcoming release.

[2021-10-05 14:44] TechSpiritSS opened #3451 "Grammar Mistakes"
## Description
I checked Roadmap.md file and it contains some grammatical errors. I would like to fix those.

## Expected Behavior
I expected near perfect grammar in repo maintain by so many people

## Current Behavior
There are many grammatical mistakes I found in the markdown file

## Possible Solution
I would like to fix all those grammatical errors, if you like my work I can help with other fi

[2021-10-05 23:39] askalik commented on #3451
I would like to work on this.

Is this part of hacktoberfest 2021 efforts?

[2021-10-06 07:03] kambojshalabh35 commented on #3451
May I work on this issue?

[2021-10-06 07:07] TechSpiritSS commented on #3451
Should I start working on the issue or wait for assign?

[2021-10-06 08:25] Nivedita-coder commented on #3443
Hey @nareshdesh,
If an administrator will set the policies either baseline or restricted at cluster or namespace level. Then deployment of OpennEBS will not be possible because it blocks the creation of NDM and NDM is an important component in OpenEBS architecture. For that reason, we have written our custom policies with some additional features.

1. Installed Kyverno in the cluster
`kubectl crea

[2021-10-06 10:59] davidkarlsen opened #3456 "metrics for lvm does not work"
## Description

[code]

## Expected Behavior
Should expose prometheus style metrics

## Current Behavior
fails as describe

## Possible Solution
Haven't looked at code

## Steps to Reproduce

`kubectl port-forward svc/openebs-lvm-localpv-node-service 9500:9500` then open localhost:9500/metrics

## Screenshots

## Your Environment

* `kubectl get nodes`:
* `kubectl get pods --all-namespaces`:
* `ku

[2021-10-07 06:39] djm-1 opened #3458 "Contributors in README.md"
## Description
I would like to add a contributors section in the README.md file.

## Context
People can check the GitHub users who have contributed to this repository. Hence, contributors are recognised and it helps to connect people as well.

## Possible Solution
I would track the profile pictures of contributors using https://contrib.rocks/ and edit the README file.

## Screenshots
While buildin

[2021-10-07 08:25] davidkarlsen opened #3459 "Upgrade from 2.x to 3.x does not remove the webhookconfiguration"
## Description
When upgrading - using helm - from 2.x to 3.x the webhook service will be removed, but not the webhookconfiguration.

## Expected Behavior
Remove the webhook too.

## Current Behavior
service and deployment is removed, but webhook remains

## Possible Solution
manual fix is to:
`k delete validatingwebhookconfiguration openebs-validation-webhook-cfg`

Install 2.x upgrade to 3.x

## S

[2021-10-11 07:14] luharuka commented on #3451
@TechSpiritSS can you assign it to me

[2021-10-11 09:34] divshacker opened #3463 "Update issue templates to latest one"
## Description

## Context

GitHub have rolled out new issue forms for public repository.
https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/
Please check this out.

## Possible Solution

If maintainers can give some suggestions then I can make some templates for opening issues for this repository.
## Screenshots

[2021-10-11 12:41] Ab-hishek commented on #3456
Do you have multiple instances of lvm-node DS pods running in the same node? Can you provide the output of
[code]
Can you describe all the steps you followed to collect metrics?

[2021-10-13 01:09] flying-kestrel opened #3469 "Repeated data loss with cStor due to volumes going RO"
## Description

I have a small cluster that's currently being used as a staging cluster for my organization that is suffering from repeated data loss due to pod volumes becoming R/O and (apparently) not reaching the upstream iSCSI server.

The cluster is set up as follows, with an external `etcd`:
- 1 dedicated control-plane node
- 1 worker node also running the control plane
- 2 worker nodes

All

[2021-10-13 14:19] buble-gum opened #3470 "OpenEBS apiserver CrashLoopBackOff"
## Description

Status of OpenEBS apiserver is CrashLoopBackOff constantly.
kubectl logs openebs-apiserver-64df4fb57c-876kn -n openebs show error bellow:
+ MAYA_API_SERVER_NETWORK=eth0
+ ip -4 addr show scope global dev eth0
+ grep inet
+ awk '{print $2}'
+ cut -d / -f 1
+ CONTAINER_IP_ADDR=192.168.58.217
+ exec /usr/local/bin/maya-apiserver start '--bind=192.168.58.217'
I1013 14:15:42.305078

[2021-10-14 19:53] flying-kestrel commented on #3469
Tentatively, it appears to be related to the fact that we're using an `ipvs`-based CNI plugin, which caused TCP timeouts after 15m of inactivity by default, with our kernels configured for a 2h timer for initial keepalives. Since changing that yesterday no new CV's have become RO.

I'm curious as to why this is an issue in the first place, however, as my understanding is that the iSCSI client shou

[2021-10-15 11:56] idivyanshbansal opened #3472 "Grammatical correction in documentation file"

[2021-10-15 20:24] flying-kestrel commented on #3469
Scratch that, several PVCs became RO last night despite the TCP timeout changes.

[2021-10-19 02:10] luharuka commented on #3472
hey @idivyanshbansal can you assign it to me under hacktoberfest tag

[2021-10-20 02:15] flying-kestrel commented on #3469
Fixed! Turns out that due to a misunderstanding, we had two service proxies running at once (`kube-proxy` and `kube-router`), which was causing services to be unreachable in certain `(pod-node,service-node,service)` configurations.

[2021-10-20 02:15] #3469 closed

[2021-10-23 09:26] #3463 closed, assigned to nobody

[2021-11-01 16:53] rwxrob opened #3480 "Apply Basic Progressive Enhancement Principles to Web Site and Documentation"
The web site requires JavaScript to view even though it is largely just documentation. The case for progressive enhancement (the principle behind PWAs, for example) has already been well made. Documentation sites that require JavaScript are a well-established anti-pattern. The site should not fundamentally require JavaScript to view but enhancing it when available is fine. This may also be affecti

[2021-11-02 11:17] andyjeffries commented on #3442
Hey @kmova just checking in on this one, as it doesn't seem to have moved status and it's likely our biggest feature needed for our full migration.

[2021-11-05 10:05] loliklol opened #3481 "Duplicate data LPV"

[2021-11-08 06:00] Ab-hishek commented on #3456
Does your `lvs` command show unique LVs or does it show redundant entries for the same LV?

[2021-11-08 22:12] #3481 closed

[2021-11-08 22:12] loliklol commented on #3481
tmpfs

[2021-11-09 16:11] zach-robinson opened #3482 "Provisioner Broken In K8S 1.21+ Due to SelfLink Removal"
## Description
Provisioner is broken from k8s versions 1.21 onward when clusters are configured with default settings.

## Expected Behavior
Provisioner should be able to provision volumes.

## Current Behavior
In clusters running k8s 1.21 and above, the `metadata.selfLink` field that used to be present in all k8s resource [has been removed](https://github.com/kubernetes/enhancements/tree/master/k

[2021-11-12 04:56] xigifty opened #3484 "openebs cstor csi driver: volumeMode: Block (PVC) is not mounting to pod"
### Discussed in https://github.com/openebs/openebs/discussions/3483

<div type='discussions-op-text'>

<sup>Originally posted by **xigifty** November 11, 2021</sup>
Hi All, need some quick help, as teams are waiting on me.

I have deployed the cstor openebs type and able to follow all the steps in the read me and everything is working fine. I was able to create snapshots, restore snapshots, a bun

[2021-11-12 06:05] mittachaitu commented on #3484
Hi @xigifty, Can you share the following output?
- Logs of pod which starts with `openebs-cstor-csi-controller`?
- Block mode PVC yaml(kubectl get PVC -o yaml)?
- Application using above block mode deployment YAML?

[2021-11-12 06:18] xigifty commented on #3484
Hi Chaitu, thanks for the quick response, please find the logs

1: opener's-cstor-csi-controller

$ kubectl describe pod openebs-cstor-csi-controller-0 -n openebs
Name:                 openebs-cstor-csi-controller-0
Namespace:            openebs
Priority:             900000000
Priority Class Name:  openebs-cstor-csi-controller-critical
Node:                 k8sworkernode02
Start Time:           Th

[2021-11-12 06:26] mittachaitu commented on #3484
@xigifty, above configuration looks good, Can you share few other output to debug further from openebs perspective?
- kubectl describe po pod-gke-initial -n abcd1
- kubectl logs openebs-cstor-csi-controller-0 -n openebs -c csi-provisioner
- kubectl get cvr -n openebs
- kubectl get cv -n openebs
- kubectl describe cvc -n openebs

[2021-11-12 06:41] xigifty commented on #3484
Thanks Chaitu,

`kubectl describe po pod-gke-initial -n abcd1
Name:         pod-gke-initial
Namespace:    abcd1
Priority:     0
Node:
Start Time:   Thu, 11 Nov 2021 21:39:24 -0800
Labels:       <none>
Annotations:  cni.projectcalico.org/containerID: 2b93ff118a08fe3a47bd545888b35584fdb4f8cc71441179529e1d4c587c78f5
              cni.projectcalico.org/podIP:
              cni.projectcalico.org/podIPs

[2021-11-12 07:01] xigifty commented on #3484
[code]
Also all the pods status

[2021-11-12 07:17] xigifty commented on #3484
@mittachaitu Thanks in advance and when I have created the pod with pvc, it has created a pvc **pod pvc-caa6a851-81a6-4686-9c28-9de10934bb6d** for block device pvc. Attaching the block device pod pvc logs too

pvc-caa6a851-81a6-4686-9c28-9de10934bb6d" volumeMapPath "/var/lib/kubelet/pods/58ee83de-d411-440f-9193-36cb33d0240f/volumeDevices/kubernetes.io~csi"
  Normal  Pulled                 15m   ku

[2021-11-12 07:26] mittachaitu commented on #3484
Type Reason Age From Message
Normal Scheduled 47m default-scheduler Successfully assigned abcd1/pod-gke-initial to
Normal SuccessfulMountVolume 47m kubelet MapVolume.MapPodDevice succeeded for volume "pvc-caa6a851-81a6-4686-9c28-9de10934bb6d" globalMapPath "/var/lib/kubelet/plugins/kubernetes.io/csi/volumeDevices/pvc-caa6a851-81a6-4686-9c28-9de10934bb6d/dev"
Normal SuccessfulMountVolume 47m kubele

[2021-11-12 07:34] xigifty commented on #3484
@mittachaitu   if you see the pod configuration,
volumes:
- name: pod-gke-block-vol
persistentVolumeClaim:
claimName: pvc-gke-block
containers:

name: nbu-client
image: nginx
command:
"/bin/bash"
"-c"
"sleep infinity"
securityContext:
privileged: true
imagePullPolicy: IfNotPresent
volumeDevices:
devicePath: /mnt/blockMount
name: pod-gke-block-vol

The pod came up, but I cannot see **blockMount** i

[2021-11-12 08:03] xigifty commented on #3484
@mittachaitu  I have tried on 3 different setups, yet the result is same.. I can see the Filesystem based volume is working correctly but not the **Raw Block volume:** for Openebs cstor csi, not sure what I have been missing. please advice.

The logs all says good, but the /mnt is not showing me any **blockMount**

[2021-11-12 08:12] mittachaitu commented on #3484
I quickly verified the by deploying below YAML in local cluster and here is the output
[code]
and when I exec into the pod I am able to see the blockMount
[code]

What is you Kubernetes version? I am tried on `1.22.0` version of K8s

[2021-11-12 08:15] xigifty commented on #3484
kubectl get nodes -o wide
NAME            STATUS   ROLES                  AGE   VERSION   INTERNAL-IP    EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION                CONTAINER-RUNTIME
vramaster2637   Ready    control-plane,master   11h   v1.22.3   x  <none>        CentOS Linux 7 (Core)   3.10.0-1160.45.1.el7.x86_64   containerd://1.4.11
vraworker2639   Ready    <none>                 11h

[2021-11-12 08:23] xigifty commented on #3484
@mittachaitu this is the configuration files I had. is there anything any annotation or something else need to be added, even the iscsi status is running,
---
apiVersion: cstor.openebs.io/v1
kind: CStorPoolCluster
metadata:
  name: cstor-pool-cluster-x1
  namespace: openebs
spec:
  pools:
   - nodeSelector:
       kubernetes.io/hostname: "k8sworkernode02.x"
     dataRaidGroups:
       - blockDevic

[2021-11-12 08:29] mittachaitu commented on #3484
From OpenEBS's perspective everything looks good strange thing is in describe of a pod, it is shown that the device is mounted but inside the container, it didn't show up...
[code]
Can you try by applying above YAML?

[2021-11-12 10:10] xigifty commented on #3484
@mittachaitu Thank You,

After some detailed troubleshooting,
- name: nbu-client
    image:
    command:
      - "/bin/bash"
      - "-c"
      - "sleep infinity"
    **securityContext:
      privileged: true**

I had that above attribute, if its set to true, the blockMount is not visible.. if its false, I can see the block mount mounted. but please keep this ticket on hold, I just need one more d

[2021-11-12 11:18] mittachaitu commented on #3484
Not sure, I am observing the same behavior with or without privileged...

### Privileged container output
[code]
As you can see existing /dev/sd* on the host machine can be accessed from container if it is privileged(I could see `/mnt/blockMount` path visibility).

### Non-privileged container output
[code]
In non privileged container we can't access /dev/ dir of host machine but in both cases, I

[2021-11-12 17:51] xigifty commented on #3484
@mittachaitu Please find the config file I had, if the securityContext Enabled I **cannot see the BlockMount,** any prerequisites  or annotations I need to add, I have shared my Storage class and custerpool file and pvc with block mount and file system and the pod.yaml below.

[code]

[2021-11-12 22:01] xigifty commented on #3484
@mittachaitu Pod Logs Where **securityContext: privileged: false**

/mnt
# ls -la
total 4
drwxr-xr-x. 1 root root    41 Nov 12 21:27 .
drwxr-xr-x. 1 root root    28 Nov 12 21:27 ..
brw-rw-rw-. 1 root disk 8, 32 Nov 12 21:27 blockMount
drwxr-xr-x. 3 root root  4096 Nov 12 21:27 fileMount

[code]

Pod Logs Where **securityContext: privileged: true**

kubectl exec -it pod-gke-initial -n abcd1 /bin/sh

[2021-11-16 07:43] mittachaitu commented on #3360
Hi tampler, This issue has been fixed via PR [#20](https://github.com/openebs/dynamic-nfs-provisioner/pull/20) in `openebs/dynamic-nfs-provisioner` repo.

**Installation**:
- For detailed instructions about installation of OpenEBS NFS provisioner please refer this [doc](https://github.com/openebs/dynamic-nfs-provisioner/tree/develop/deploy/helm/charts#openebs-nfs-provisioner)

[2021-11-16 07:44] mittachaitu commented on #3360
Closing this issue since it has been addressed via [#20](https://github.com/openebs/dynamic-nfs-provisioner/pull/20). Please feel free to re-open if there are any issues.

[2021-11-16 07:44] #3360 closed

[2021-11-16 08:15] xigifty commented on #3484
@mittachaitu Just to reiterate, what is the Container Runtime Engine were you using in your setup.
blockMount was not working if I use the containerd runtime engine with security context enabled.

blockMount is working, if I use the docker runtime engine with security context enabled.

[2021-11-16 08:26] mittachaitu commented on #3484
I used docker as a runtime engine and I have seen that you also commented on issue [Kubernetes issue](https://github.com/kubernetes/kubernetes/issues/85624).

[2021-11-16 21:41] RomanKisilenko opened #3485 "pvc fails to mount for openebs-jiva-csi-default"
## Description
1. I installed drivers on my worker node as instructed here: https://docs.openebs.io/docs/next/prerequisites.html
2. I installed latest openebs via helm chart on my kubernetes 1.18 cluster as following:
[code]
3. Then I created a PV using openebs-jiva-csi-default storage class as following:
[code]
## Expected Behavior
The pvc successfully provisioned

## Current Behavior
The volume

[2021-11-16 22:10] RomanKisilenko commented on #3485
OK, it seems like I figured it out. Jiva provides RWO only so that pvc with RWX option can not be created in Jiva.

[2021-11-16 22:10] #3485 closed

[2021-11-17 06:52] xigifty commented on #3484
@mittachaitu Yes, its the issue with the ContainerD Runtime Engine. No Issues With Docker and Calico Networks. We can close this ticket, unless if we want to troubleshoot for ContainerD. Again Thanks a Lot for your responses, it was really helpful.

[2021-11-19 14:05] javiku opened #3486 "Where can I find documentation for v3.0.0"
## Description

I can't seem to find documentation for v3.0.0 (only up to 2.21.x), even in the website mentioned in the v3.0.0 release notes (https://openebs.io/docs).

Any hints?

[2021-11-19 14:18] kmova commented on #3486
Hi @javiku, the docs are being worked on in the engine-specific repositories, to keep the documentation closer to the engines.

Any specific engine you are looking at?

[2021-11-22 07:20] javiku commented on #3486
Hi  @kmova , we are integrating several engines in our PaaS: **cStor** for persistence and **local LVM/Hostpath** (depending on the scenarios) for ephemeral storage.

We have been experiencing problems using cStor v2.11.x with what seem to be race conditions that end up blocking a Pod creation/deletion, so we decided to test v3.0.0, but couldn't find any documentation on the website for v3. Follow

[2021-11-25 07:41] mynktl commented on #3442
Hi @andyjeffries
snapshot support in mayastor is currently in the roadmap.
For now, you can use [velero-restic](https://velero.io/docs/v1.7/) to backup/restore mayastor volumes.

We have verified the backup/restore of mayastor volumes with the new mayastor-control-plane using velero v1.7.
Restore in the same cluster(in a different namespace) and the different cluster is working fine.

We will keep

[2021-11-25 07:43] andyjeffries commented on #3442
The problem as I understand it is that Velero requires suspending of writes in order to perform the backups if there is no snapshot support. This causes our Kubevirt VMs to pause and requires manual intervention to restore. Obviously we can't do that across thousands of customer VMs ;-)

I look forward to updates and hope it's released soon.

[2021-11-25 08:53] Alceatraz commented on #3026
Hi, And I try follow those steps but I ran into some issue:

I config the iSCSI server and make sure k8s-master server connect the iscsi, Now I can mount it.

[code]

But
[code]

There is no SAN block device automatic show in kubectl bd, What did I missed ?

I'm using k8s 1.22.4 and openebs 3.0.0 by guide `kubectl apply -f https://openebs.github.io/charts/openebs-operator.yaml`

[2021-11-25 14:57] Ab-hishek commented on #3456
@davidkarlsen Currently closing this issue as it is not re-producible. If this issue comes up again feel free to raise a new issue.

[2021-11-25 14:57] #3456 closed

[2021-11-26 16:50] pukanszkypeter opened #3487 "NDM stuck in container creating mode on WSL2"
Hey, i am really new to this, so can somebody help me?

I am trying to use OpenEBS on my WSL2 on Windows 10, but it is stuck in container creating mode.
The error it gives: "MountVolume.SetUp failed for volume "udev" : hostPath type check failed: /run/udev is not a directory".
And here are my values for it: `https://github.com/pukanszkypeter/progressive-architecture/blob/main/clusters/my-cluster/o

[2021-11-26 21:02] TrAnn3l commented on #2983
Hey, i'm currently in a similiar situation.
I'm running k3s in 3 node cluster, all 3 with ssd attached with an USB to Sata Adapter.
I installed openebs via helm, release 2.12.
It seems like the ndm is only seeing the adapter and all three adapters have the same id which results in only one block device created.

This is the block device crd generated by ndm:
[code]

[2021-11-27 14:58] DanielSmrecnik opened #3489 "OpenEBS-NDM got stuck in "ContainerCreating" mode on local k8s cluster with docker desktop"
Hey  I am new to this stuff, can someone help me resolving the issue I am facing?

So I am trying to use the openebs-local pv provisioner on my local k8s cluster, running with docker desktop. I installled the openebs provisioner according to the documentation with helm v3, but the openebs-ndm container got stuck in the "ContainerCreating" mode.

It gives me the following error message:
[code]

The

[2021-11-30 11:39] trathborne commented on #2719
Stateful applications: Strimzi operator Kafka, Spilo operator Postgres ... and possibly more on the way.
OpenEBS storage engine: hostpath local PV
Environment: Production & Development
Usage: Moving all operations to Kubernetes
Why OpenEBS:

- NFS semantics are not safe with Kafka or Postgres;
- NFS performance sucks for busy data stores
- CSI standard
- Ease of use
- Ability to install only the r

[2021-12-02 10:08] #3489 closed

[2021-12-03 07:30] odidev commented on #3489
Hi team,

I’m working on openebs on AWS instances for both Linux and Ubuntu platforms. I’m facing an issue with the complete installation of openebs using kubectl and helm. There is an `ndm` pod that couldn’t come in a “running” state. Its status remains `creating container`. I'm using [minikube multi-nod](https://minikube.sigs.k8s.io/docs/tutorials/multi_node/)e cluster here.

[code]

 I have als

[2021-12-03 09:32] DanielSmrecnik commented on #3489
Hi odidev,
I guess the issue is related to the instance that there is no `/run/udev` directory found, if you take a look at your logs:
`MountVolume.SetUp failed for volume "udev" : hostPath type check failed: /run/udev is not a directory`

Please check if this directory exists on your machine. In order for openebs to function properly, access to the /run/udev directory is needed.

[2021-12-07 06:33] niladrih commented on #3317
The liveness probe is fixed. Closing this issue.

[2021-12-07 06:33] #3317 closed

[2021-12-07 06:53] akhilerm commented on #3487
NDM uses udev for fetching the devices connected to the machine. I think WSL2 does not support udev. May be you can try it on a linux VM on your machine.

[2021-12-09 08:48] namnp081296 opened #3490 "Cannot find any block devices when running command "kubectl get bd -n openebs""
Hi Guys,

I'm currently being deployed OpenEBS using cStor as a Data Engine, but after I run **"kubectl apply -f https://openebs.github.io/charts/cstor-operator.yaml"**, I check all the pod in openebs namespace is running, but when I run "kubectl get bd -n openebs" to check the output of Block Device, the output is "No resources found in openebs namespace".

![problem_about_blockdevice](https://us

[2021-12-09 10:01] mittachaitu commented on #3490
Hi @namnp081296, Blockdevices will be listed only if the node has external devices attached to them. Can you share logs of ndm-daemon pod(Pod name starts with openebs-ndm-XYZA? Ex: `kubectl logs  openebs-ndm-vs4mn -n openebs`?

[2021-12-09 10:37] namnp081296 commented on #3490
Hi @mittachaitu! Thank you for your response, here is my ndm daemon pod log.

![1log](https://user-images.githubusercontent.com/52060668/145380831-d921fba7-1d81-427b-97f2-7ef49325fb29.png)
![2log](https://user-images.githubusercontent.com/52060668/145380856-baa22510-1d87-4c44-9016-4e9b253811fd.png)
![3log](https://user-images.githubusercontent.com/52060668/145380869-19b6ca3b-2db2-4fa6-89ac-15f71c7

[2021-12-09 17:45] akhilerm commented on #3490
@namnp081296 Can you also share the output of the following commands
[code]

It seems like NDM is not able to detect the UUID of the newly created partition.

[2021-12-10 01:42] namnp081296 commented on #3490
@akhilerm . Sure! Here you go.
![1log](https://user-images.githubusercontent.com/52060668/145502907-b4f25ea9-3ce0-4b9c-99e3-e127fe51512f.png)
![2log](https://user-images.githubusercontent.com/52060668/145502914-1b489ce9-b2d2-49ce-98c9-2349e852b96c.png)

[2021-12-10 04:36] akhilerm commented on #3490
Is the host machine CentOS 7, I think you are hitting the issue mentioned [here](https://github.com/openebs/node-disk-manager/blob/develop/cmd/ndm_daemonset/probe/blkidprobe.go#L66-L70). i.e udev not being able to identify `ID_PART_TABLE_UUID` and `ID_PART_ENTRY_UUID`

[2021-12-10 07:27] namnp081296 commented on #3490
@akhilerm. Thank you for your help, so what should I do next now?

[2021-12-13 05:00] odidev commented on #3489
Hi @DanielSmrecnik
I have checked that `/run/udev` directory is available in my system, but ndm pod is not able to mount that directory.

[2021-12-13 05:30] DanielSmrecnik commented on #3489
I think I know what the problem is with openebs not being able to mount the `/run/udev` directory in your case. I guess it is related to your minikube cluster, because minikube is running inside docker containers, the `/run/udev` directory is not mounted into the cluster by default. Try mounting the directory with the `minikube mount` command into the cluster and re-deploy your openebs pods.

In m

[2021-12-13 06:27] akhilerm commented on #3490
@namnp081296 Raised  a [PR](https://github.com/openebs/node-disk-manager/pull/657) to fix this issue in CentOS 7

[2021-12-14 05:39] jj-2020 opened #3491 "OpenEBS NDM path filter for custom udev rules."
## Description

We have created a udev rule similar to below on few nodes, where ndm is running-
KERNEL=="sde",ATTRS{wwid}==<>,SYMLINK+="openebs_storage_01".
This results in /dev/openebs_storage_01 pointing to sde, once the rules are loaded. But adding the path "/dev/openebs_storage_01" in include filter of ndm (configmap), does not recognize this. So, the blockdevice CR are never created.

## Con

[2021-12-14 15:30] #3490 closed

[2021-12-20 00:18] akulpillai opened #3492 "[Security] Workflow stale.yml is using vulnerable action actions/stale"
The workflow stale.yml is referencing action actions/stale using references v1. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrad

[2021-12-20 08:19] kmova commented on #3492
Hi @akulpillai -- would you like to go ahead and contribute the fix?

[2021-12-20 15:04] vharsh commented on #3492
@akulpillai Thanks for creating an issue regarding the same, the OpenEBS community takes security very seriously, do let us know how you keep yourself abreast with all things security(viz some scanners, or just a loose set of channels like mailing-lists, Reddit, HackerNews, etc)

👋🏼 Aside, we hang out in [#openebs-dev](https://kubernetes.slack.com/archives/CUAKPFU78/) in the K8s Slack, where we ge

[2021-12-20 15:40] vharsh opened #3493 "Security vulnerability scanning of code & dependencies"
## Description

Suggestions to add periodic vulnerability scanning for package, container, scripts etc dependencies to pro-actively mitigate any security issues which might impact OpenEBS users or community and (preferably) keep the community updated about dependency upgrades via GitHub PRs or group-emails. E.g. `alpine container bump from a.b.c to a.b.d`.

## Context

- Writing software is no lon

[2021-12-20 16:05] vharsh commented on #3470
@buble-gum You are installing a component which has reached it's end of life, we are in the middle of moving our docs from https://docs.openebs.io/ to https://openebs.io/docs/ do share your storage requirements so that we can suggest some other way to install & use OpenEBS.

👋🏼 Aside, we hang out in #openebs-dev & #openebs in the K8s Slack, where we get deep and discuss, do drop in to say hi.

[2021-12-21 07:07] lixiaopengy opened #3495 "create jiva storagepool faild"
The service version is as follows：
kubernetes v1.18.0
Openebs 2.12

I follow the official link https://openebs.io/docs/user-guides/jiva-guide#create-a-pool create storagepool faild
[code]

If only the default policy is used，Failed to create PVC display
[code]

PVC error reports are as follows：
[code]
For other component service logs, please contact me。Thank you for your help

[2021-12-21 14:26] jggc commented on #2719
### Company : NationTech
We manage our clients infrastructure and do consulting and development over the full IT and Stoftware Stack

### Stateful Applications that you are running on OpenEBS
Anything our clients require but at the moment
 - ElasticSearch
 - Kibana
 - Prometheus
 - Alertmanager
 - Postgresql
 - Docker registry
 - Odoo
 - NextCloud
 - Grafana
 - Django
 - FluentD
 - And some more

[2021-12-22 17:23] xigifty opened #3496 "OpenEBS Pods CrashLoopBackOff/Error State after VM Reboot"
`Hi` Team,

First of all thanks for providing a great product with many use cases and add its adding a lot of value.

We have installed OpenEBS a few months back and we are able to take VolumeSnapshots, restore snapshots, and all things are working fine.

Recently we have to bring down our Virtual Machines to a powered of state for some maintenance and POWERED ON the VMS back on in next 5 mins. Bu

[2021-12-22 18:54] akhilerm commented on #3496
@xigifty  Can you provide the logs from the crashing pods, so that we can debug the issue.

[2021-12-22 19:05] xigifty commented on #3496
Thanks @akhilerm, Please find the below pod logs

-bash-4.2$ **kubectl describe pod openebs-cstor-admission-server-7fbd9b48d-4wkmm -n openebs**
Name:         openebs-cstor-admission-server-7fbd9b48d-4wkmm
Namespace:    openebs
Priority:     0
Node:         iackube-01vm2/10.81.92.229
Start Time:   Tue, 21 Dec 2021 02:31:19 -0600
Labels:       app=cstor-admission-webhook
              openebs.io/com

[2021-12-22 19:07] xigifty commented on #3496
Thanks @akhilerm, Please find the below pod logs

-bash-4.2$ **kubectl describe pod openebs-cstor-admission-server-7fbd9b48d-4wkmm -n openebs**
Name:         openebs-cstor-admission-server-7fbd9b48d-4wkmm
Namespace:    openebs
Priority:     0
Node:         iackube-01vm2/x
Start Time:   Tue, 21 Dec 2021 02:31:19 -0600
Labels:       app=cstor-admission-webhook
              openebs.io/component-name

[2021-12-22 19:11] akhilerm commented on #3496
These are the `kubectl describe` output right. This helps with the events on the pods.

The `kubectl logs` would be more useful as we can see why the pod actually crashed.

[2021-12-22 19:16] xigifty commented on #3496
Thanks @akhilerm
-bash-4.2$ kubectl logs pod openebs-cstor-admission-server-7fbd9b48d-4wkmm  -n openebs
Error from server (NotFound): pods "pod" not found

-bash-4.2$ kubectl logs openebs-cstor-admission-server-7fbd9b48d-4wkmm  -n openebs
F1222 19:11:48.771244       1 main.go:80] failed to list admission deployment: Get "https://10.96.0.1:443/apis/apps/v1/namespaces/openebs/deployments?labelSelect

[2021-12-22 19:26] xigifty commented on #3496
@akhilerm its weird but, I have just ran these commands

**on Master**
              sudo systemctl restart firewalld
              sudo systemctl enable firewalld
              sudo systemctl status firewalld
              sudo firewall-cmd --add-port={6443,2379-2380,10250,10251,10252,5473,179,5473,443}/tcp --permanent
              sudo firewall-cmd --add-port={4789,8285,8472}/udp --permanent

[2021-12-22 21:15] joeldeteves opened #3497 "Mount failed error using Dynamic NFS Provisioner + Digital Ocean Block Storage"
## Description
I am trying to set up Dynamic NFS Provisioner with do-block-storage as the BackendStorageClass (we use Digital Ocean Kubernetes Service).

When I go to create a deployment with a PVC, the PVC gets created, however the pods in the deployment are unable to connect to it. The provisioner does not throw any errors, however the nfs pod gets stuck in 'Creating' with the following error di

[2021-12-23 06:47] akhilerm commented on #3496
@xigifty This is a networking issue, The pods are not able to contact API server and list the resources.

[2021-12-24 08:17] odidev opened #3498 "Failing to Create cStor storage pools"
Hi Team,

I am facing issues while creating cStor storage pools for both AMD64 platform on the AWS instance. I used this [document](https://openebs.io/docs/user-guides/cstor) to install cStor and create cStor pool storage. I am getting error in [this](https://openebs.io/docs/user-guides/cstor#creating-cstor-storage-pools) step while implementing `cspi.yaml` file. I have also tried to troubleshoot

[2021-12-24 08:31] mittachaitu commented on #3498
use '-f' to override the following errors:
/dev/xvda1 contains a filesystem of type 'ext4'
 .. exit status 1'

For cStor pool to create it shouldn't contain any filesystem... `blockdevice-064a6195a45b32f2f075f88a7e0e2178` contains ext4 filesystem. Can you delete the CSPC and wipe the filesystem and then create a pool again?

[2021-12-27 10:50] pranav-shah294 opened #3499 "OpenEBS NDM LUKS encrypted volume toggles between Active/Inactive state"
## Description
We have setup LUKS encryption for openebs on our kubernetes cluster
however we noticed that the status of the encrypted BD status toggled  between Active and Inactive state every second.
Hence, our application was not able to claim the BD and create pvc's.

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-**Architecture**
[code]

[2021-12-27 23:30] joeldeteves commented on #3497
Hi there, we never figured this out so we switched to an NFS server instead and the NFS client provisioner instead.

I understand the dynamic NFS provisioner is not recommended for production.

Thank you,

[2021-12-27 23:30] #3497 closed

[2021-12-28 04:42] akhilerm commented on #3499
This can be solved in 2 ways,
- either make os-disk-exclude filter support regex, so all the unwanted docker mountpoints can be excluded
- see why the `dm/uuid` is not empty on the docker volumes which are given as device mappers, causing NDM to fail to detect the device type.

cc: @z0marlin @RealHarshThakur @kmova

[2021-12-28 04:56] Ericra95 opened #3500 "stateful pod on the openebs sc don't auto migrate to other k8snode"
shutdown loki stateful pod in the k8snode node1 server

the k8snode node1 server status is noready

but the loki stateful pod status always Terminating
don't auto migrate to other k8snode ,other k8snode already mount openebs sc

## Your Environment

* `kubectl get nodes`:
NAME      STATUS     ROLES                  AGE   VERSION
master1   Ready      control-plane,master   85d   v1.20.5
master2   R

[2021-12-28 06:57] #3499 closed

[2021-12-28 08:10] akhilerm commented on #3496
@xigifty. Were you able to resolve this issue?

[2021-12-28 10:23] mynktl commented on #3497
Hi @joeldeteves,
From the logs, It seems, the backing volume for nfs-provisioner failed to mount.
[code]
Are you able to create volume using storageclass `do-block-storage`?

No, It can be used in production as the project is in [Beta status](https://github.com/openebs/dynamic-nfs-provisioner/#project-status-beta).

[2021-12-29 06:29] #3500 closed

[2021-12-29 08:25] Ericra95 opened #3501 "How do I view the SC/PV data synchronization status"
I want to see SC/PV different disk data sync status,

Now I don't know where I can see SC/PV disk data synchronization status

can I see openebs-cstor-csi-node-xxxx pod log?

kubectl describe cspc -n openebs

Spec:
  Pools:
    Data Raid Groups:
      Block Devices:
        Block Device Name:  blockdevice-cbda52e04a23ff12860d113abb45d93e
    Node Selector:
      kubernetes.io/hostname:  node1

[2021-12-29 08:45] mittachaitu commented on #3501
Hi @Ericra95, You can see data sync status via following kubectl command
- kubectl get cspi -n <openebs_namespace> (Per pool level health, disk usage stats & no.of replicas)
- kubectl get cvr -n <openebs_namespace> (Per volume level health, data occupied on pool)

You can refer to the [blog ](https://blog.mayadata.io/demystifying-disk-usage-in-cstor-pools) for more information about various fields

[2021-12-29 19:21] xigifty commented on #3496
@akhilerm Sorry for the delayed response. Things are working fine. The OpenEBS  pods will not come up even after n number of pod restarts after the VMS are powered On and Off and On.
This is because of some stale entries in the firewall related rules.
**sudo iptables --flush** has to run on all the Master Node and Worker Node and the OpenEBS pods were automatically  back online in the immediate ne

[2021-12-30 05:09] Ericra95 commented on #3501
Thanks, I don't want see data occupied
I want see SC Disk replication progress of different servers

For example, cstor-csi-disk SC replica is 3，I can see different server disk replication percentages，Avoid disk data inconsistency on different servers

kubectl describe sc cstor-csi-disk  -n openebs
Name:            cstor-csi-disk
IsDefaultClass:  No
Annotations:     kubectl.kubernetes.io/last-appl

[2021-12-30 06:25] mittachaitu commented on #3501
@Ericra95, cStor only supports **synchronous replication** i.e if there is an IO from the application cStor will make sure that IO has been successfully replicated in quorum no.of replicas(here quorum is (3/2)+1 i.e 2) then only it will respond success to application. Currently, we don't have any mechanism to visualize the replication process but it can easily understand by looking at CVR capacity

[2021-12-30 13:57] akhilerm commented on #3496
Closing this issue as it is not related to openebs, but due to an issue in firewall rules.

[2021-12-30 13:57] #3496 closed

[2021-12-31 09:11] w3aman opened #3502 "Release Pipeline checklist 3.1.0-RC2"
Run OpenEBS E2e pipeline for 3.1.0-RC2

- OpenShift Pipeline
    - [x] cStor-csi
    - [x] Jiva-csi
    - [x] LocalPV
- Konvoy Pipeline
    - [x] cStor-csi
    - [x] Jiva-csi
    - [x] LocalPV
- [x] Native K8s Pipeline  [zfs-localpv: 2.0.0-RC2 , lvm-localpv: 0.8.3-RC2]
 - cspc/cstor csi volume upgrade
     - [x] 2.1.0 to 3.1.0-RC2
     - [x] 2.2.0 to 3.1.0-RC2
     - [x] 2.3.0 to 3.1.0-RC2
     -

[2021-12-31 09:16] w3aman opened #3503 "Release Pipeline checklist 3.1.0-RC1"
Run OpenEBS E2e pipeline for 3.1.0-RC1

- OpenShift Pipeline
    - [x] cStor-csi
    - [x] Jiva-csi
    - [x] LocalPV
- Konvoy Pipeline
    - [x] cStor-csi
    - [x] Jiva-csi
    - [x] LocalPV
- [x] Native K8s Pipeline  [zfs-localpv: 2.0.0-RC1 , lvm-localpv: 0.8.3-RC1]
 - cspc/cstor csi volume upgrade
     - [x] 2.1.0 to 3.1.0-RC1
     - [x] 2.2.0 to 3.1.0-RC1
     - [x] 2.3.0 to 3.1.0-RC1
     -

[2022-01-01 05:37] Ericra95 commented on #3501
@mittachaitu thanks，happy new year

I understand that it is similar to the ratf protocol election, the  cstor-csi-disk SC replica is 3, and the data write is （3/2+1=2）, which means that the data is successfully written.

[2022-01-03 05:01] mittachaitu commented on #3501
Yes, Not exactly as RAFT algorithm but you can assume in similar lines, here we have target in place of leader to decide success.

[2022-01-03 05:07] #3501 closed

[2022-01-03 14:07] MBcom commented on #3431
We have the same problem after a node is lost. Is there a way to reset this wrong entry?
[code]

[2022-01-03 14:42] mittachaitu commented on #3431
Hi @MBcom , Is kube-node-14 still marked as Ready? Can you share the following output `kubectl get cva -n openebs -l Volname=pvc-4806a88c-b866-41b2-8a85-689604b9ad1e -o yaml`

[2022-01-05 12:23] w3aman opened #3504 "Release Pipeline checklist 3.1.0"
Run OpenEBS E2e pipeline for 3.1.0

- OpenShift Pipeline
    - [x] cStor-csi
    - [x] Jiva-csi
    - [x] LocalPV
- Konvoy Pipeline
    - [x] cStor-csi
    - [x] Jiva-csi
    - [x] LocalPV
- [x] Native K8s Pipeline  [zfs-localpv: 2.0.0 , lvm-localpv: 0.8.3, device-localpv: 0.6.0]
 - cspc/cstor csi volume upgrade
     - [x] 2.1.0 to 3.1.0
     - [x] 2.2.0 to 3.1.0
     - [x] 2.3.0 to 3.1.0
     - [

[2022-01-07 04:28] albertkohl-monotek opened #3505 "orphaned pvc keeps spawning"
hello, i HOPE this is a simple issue, i have a jiva PV i setup in a namespace (tds)
i created a deployment (registry specifically) eventually blew it up due to testing. when i blew it up, i just deleted the namespace tds

that caused a bunch of pods to hang terminating, eventually i force deleted it. now the pvs that were being created by it keep lunching as pods in the openebs namespace, and i ca

[2022-01-07 11:32] pawanpraka1 commented on #3504
@w3aman if everything done for this issue?

[2022-01-07 11:34] w3aman commented on #3504
yes, we have run all the pipelines

[2022-01-10 05:21] #3486 closed

[2022-01-10 05:22] #3484 closed

[2022-01-10 05:30] pawanpraka1 commented on #3443
Closing this issue, Please reopen it if you are still facing the issue.

[2022-01-10 05:30] #3443 closed

[2022-01-10 06:56] #3504 closed

[2022-01-10 06:56] #3503 closed

[2022-01-10 06:56] #3502 closed

[2022-01-10 11:35] pawanpraka1 commented on #3436
@tayloreisman16 closing this issue. Please reopen if you are still facing the issue.

[2022-01-10 11:35] #3436 closed

[2022-01-10 12:05] pawanpraka1 commented on #3398
@mittachaitu do we need to do something here?

[2022-01-10 12:07] pawanpraka1 commented on #3375
Closing this issue.

[2022-01-10 12:07] #3375 closed

[2022-01-10 12:09] pawanpraka1 commented on #3275
Closing this issue, Pease reopen it if issue still persist.

[2022-01-10 12:09] #3275 closed

[2022-01-10 13:38] lixiaopengxiya opened #3508 "Cstor Unable to save data"
**Service version：**
[code]

I refer to this link https://github.com/openebs/cstor-operators/blob/develop/docs/quick.md Service deployment，But I found that the data written to the mount disk is temporary

[code]
It is obvious that there is no data in Mount directory。

[code]
Please let me know if you need other service logs，Thank you for your help！

[2022-01-10 13:44] lixiaopengxiya commented on #3508
After the service is restarted, the data is not saved
[code]

[2022-01-10 13:51] mittachaitu commented on #3398
@pawanpraka1 We didn't see this type of issues with releases >= `1.0.0`(and not able to reproduce). So for now we can close this issue and re-open when we observe issue either in user setup/pipelines.

[2022-01-10 14:24] mittachaitu commented on #3508
Hi @lixiaopengxiya, Can you check by restarting `busybox1` pod(i.e deleting `busybox1` and creating again)?

[2022-01-10 14:34] #3398 closed

[2022-01-10 14:43] mittachaitu commented on #3508
Can you also share the output of `sudo mount | grep pvc` from the node where the pod is scheduled? by the way two pods mounting the same volume is not recommended since chances of overwrites/corruption will be high.

[2022-01-11 02:02] lixiaopengxiya commented on #3508
I created the service again and the same result occurred

[2022-01-11 02:34] lixiaopengxiya commented on #3508
[code]
What other logs do you need to read，You can contact me

In addition, you can see the second example I sent. The data will also disappear after the service is restarted.

[2022-01-11 05:37] mittachaitu commented on #3508
After going through the above outputs once again, I just noticed a discrepancy with mounts.

apiVersion: v1
metadata:
  name: cstor-pvc
spec:
  storageClassName: cstor-csi-disk
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

Actual PVC size: 5G and volume is also obtained with same size 5GB([cvr, cv output](https://github.com/openebs/openebs/issues/3508#issue-1097

[2022-01-11 05:37] mittachaitu commented on #3508
After going through the above outputs once again, I just noticed a discrepancy with mounts.

apiVersion: v1
metadata:
  name: cstor-pvc
spec:
  storageClassName: cstor-csi-disk
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

Actual PVC size: 5G and volume is also obtained with same size 5GB([cvr, cv output](https://github.com/openebs/openebs/issues/3508#issue-1097

[2022-01-11 09:15] Ericra95 opened #3509 "delete rpm and minio data,”kubectl get cvr“ and ”kubectl get cspi -n openebs “ Display disk data BUG"
testing。。。。。

download and write data to openebs pvc

wget http://192.168.1.254/BaseOS/Packages/python3-samba-4.11.2-13.el8.x86_64.rpm -O aaaa.rpm

Then delete all openebs pvc data

rm -f *.rpm

Check it again  ”kubectl get cvr“  and  ”kubectl get cspi  -n openebs “
The disk usage displayed is unchanged， before the RPM operation is deleted.
The disk space data cannot be correctly viewed， Dare not

[2022-01-11 10:15] lixiaopengxiya commented on #3508
I didn't install multipathd service。 I installed iscsid service。I can't repeat this problem now. I've met a new problem. The service cannot be mounted at this time
[code]

My service cannot be mounted now
[code]

[2022-01-11 10:31] mittachaitu commented on #3508
time="2022-01-11T10:10:26Z" level=error msg="GRPC error: rpc error: code = Internal desc = failed to find device path: [], last error seen: failed to sendtargets to portal 10.96.188.168:3260, err: iscsiadm error: iscsiadm: connect to 10.96.188.168 timed outiscsiadm: connect to 10.96.188.168 timed outiscsiadm: connect to 10.96.188.168 timed outiscsiadm: connect to 10.96.188.168 timed outiscsiadm: c

[2022-01-11 11:12] lixiaopengxiya commented on #3508
The unsuccessful mount appears to be a network problem. I can mount the service and reproduce the error

[code]
What other logs do you need to view

[2022-01-11 11:23] mittachaitu commented on #3508
Looks like sdc is the volume:
- Can you try now by writing data into the pod and verifying persistency?
- Can you provide output of:
   - sudo iscsiadm -m session -P 3
   - sudo mount | grep pvc

[2022-01-11 11:30] lixiaopengxiya commented on #3508
[code]
It seems that the data is still not persistent

[2022-01-11 11:56] lixiaopengxiya commented on #3508
[code]
After I restart the service, I find that the CSI plugin swipes the error message that the mount is empty

[2022-01-11 11:58] mittachaitu commented on #3508
Filesystem                       Type            Size      Used Available Use% Mounted on
/dev/mapper/centos-root  xfs            17.0G      4.4G     12.6G  26% /mnt/openebs-csi

Actually, It should be `/dev/sdc` I am still not getting how it come to root filesystem `/dev/mapper/centos-root`

[2022-01-11 11:59] lixiaopengxiya commented on #3508
Will it be caused by the low kernel version? Does openebs require the kernel version

[2022-01-11 12:07] lixiaopengxiya commented on #3508
[code]

[2022-01-11 12:23] mittachaitu commented on #3508
I used the same kernel version(moreover same kind of setup) and it worked fine without any issue. Not able to figure out who is unmounting the volume when it is mounted by `cstor-csi-plugin`.

[2022-01-11 12:27] lixiaopengxiya commented on #3508
Are you also using the kubernetes version kubeadm v1.18

[2022-01-11 12:29] lixiaopengxiya commented on #3508
Are you also using this version of iSCSIID

[code]

[2022-01-11 12:31] mittachaitu commented on #3508
[code]
My setup details but it is **no longer exist**.

[2022-01-11 12:32] lixiaopengxiya commented on #3508
My openebs version v3.0.0。Or do you have any recommended configurations for me to learn

[2022-01-11 12:32] lixiaopengxiya commented on #3508
Let me learn from your configuration first

[2022-01-11 12:34] mittachaitu commented on #3508
Is it possible for you to join [openebs channel K8s slack workspace](https://kubernetes.slack.com/)? In slack we can connect easily(via huddle) and sort out the issue.

[2022-01-11 12:36] lixiaopengxiya commented on #3508
OK, I'll update my kubernetes version to the same as you for testing. Thank you for your help. I'll tell you my test results tomorrow

[2022-01-11 12:40] mittachaitu commented on #3508
I am not pretty sure whether it will help or nor but you can give it a try.

[2022-01-12 06:19] lixiaopengxiya commented on #3508
[code]

[2022-01-12 06:38] mittachaitu commented on #3508
Hi @lixiaopengxiya , Can we get into some google meet/virtual call to closely observe the system and live debug the issue?

[2022-01-12 16:26] lixiaopengxiya commented on #3508
I created a slack account. Can you invite me to join in and analyze this problem

[2022-01-13 01:49] lixiaopengxiya commented on #3508
I have recorded a log of unloading / mounting the storage disk after the service is restarted. I hope this is helpful in positioning this problem
[code]

In the last log, I clearly saw that after the service was restarted, when the storage disk was remounted. There are brushes in the log to clean up the services PVC and CVA. Then the mount operation is performed.
[code]

[2022-01-13 04:15] mittachaitu commented on #3508
Awsome, Can you join the [#openebs](https://kubernetes.slack.com/messages/openebs/) channel? And say hi to @sai(mittachaitu is my ID), I will reach out for live debugging.

[2022-01-13 06:29] lixiaopengxiya commented on #3508
I've joined it and sent you a message

[2022-01-13 10:10] #3492 closed

[2022-01-14 03:23] Ericra95 commented on #3509
After today's verification, disk space data shows that there is indeed a problem

The busybox pod /mnt/openebs-csi  mount point disk space is displayed as follows

kubectl exec -it busybox-cstor-test -- df -hT
Filesystem           Type            Size      Used Available Use% Mounted on
overlay              overlay        10.0G      7.1G      2.9G  71% /
tmpfs                tmpfs          64.0M

[2022-01-15 13:26] adamcharnock opened #3510 "Documentation incorrect for creating Jiva backups"
## Description

The Jiva User Guide [states](https://openebs.io/docs/user-guides/jiva-guide#creating-and-managing-backups) the following command can be used to create a backup manually:

    velero backup create <backup_name> --selector '!openebs.io/controller,!openebs.io/replica'

However, the labels used by the `--selector` are not present on the Jiva replica or controller pods. These pods actua

[2022-01-17 07:00] w3aman opened #3511 "OpenEBS-e2e CI Pipelines migration to CNCF cloud infrastructure"
- This issue is to track migration of openebs-e2e ci pipelines to cncf cloud inftrastructure, currently hosted on physical servers in MayaData Lab, Bangalore.

[2022-01-18 06:48] pawanpraka1 commented on #3433
@mittachaitu Can we close this one?

[2022-01-18 12:20] pawanpraka1 commented on #3505
@albertkohl-monotek check this doc https://docs.openebs.io/v1120/docs/next/uninstall.html.

[2022-01-18 13:49] pawanpraka1 commented on #3482
@shubham14bajpai I think we have fixed this issue, can you confirm?

[2022-01-18 14:01] shubham14bajpai commented on #3482
@pawanpraka1  This seems to be an old external provisioned jiva engine which got deprecated in 3.0.0 release.
This should not occur in the latest version of jiva CSI provisioner.

@zach-robinson Can you please mention the version of Openebs deployed? Is this jiva same as https://github.com/openebs/jiva-operator?

[2022-01-18 14:33] mittachaitu commented on #3433
It has been fixed via [cstor-csi#168](https://github.com/openebs/cstor-csi/pull/168) and available in OpenEBS 3.1 release.

[2022-01-18 14:33] #3433 closed

[2022-01-18 14:42] mittachaitu commented on #3431
Hi all, In cStor, if we force delete application pod then there will be no chance to cleanup foorprints of the node where the application is previously mounted so it is expected behavior. If the node is no longer available or not part of a cluster deleting `cva` resource associated with the volume will be a workaround.

CMD: `kubectl delete cva -n openebs <volume-id>` (Where volume-id will be \<pv

[2022-01-20 11:47] mittachaitu commented on #3508
Hi @lixiaopengxiya , We were able to simulate the above behavior with manual **unexpected interventions**  after mounting cStor volume into the application(In this case some services running in the system doing the same).

**Steps Performed to simulate**:

1. Deployed same busybox application using cStor volume and below output from node and container
   sudo mount output of volume from node
[code

[2022-01-20 11:59] lixiaopengxiya commented on #3508
I just simulated this problem. It appears that the mounted volume did not mount successfully at all. What I don't quite understand is why the directory in the container should also be changed to the same directory in the host. When I do not change this address, the above problems will occur in the service with "default: / var / lib / kubelet". I modified the pods mount dir parameter of volumemount

[2022-01-20 13:12] mittachaitu commented on #3508
This difference happens because of visibility of container filesystem is limited to within the container(i.e host will not be aware of container filesystem). If process performs mount operation inside the container filesystem it is limited only within the container filesystem. Once kubelet receives success for mount request then kubelet will just move the process further this discloses why volume

[2022-01-21 02:07] lixiaopengxiya commented on #3508
Yes, thank you for your help

[2022-01-21 05:06] #3508 closed

[2022-01-21 12:57] kvaps opened #3512 "Connection refused"
## Description

Hi, I just followed quickstart guide to installed mayastor to test.
And stuck on place to start using plugin, for some reason it does not working:

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution
Implement verbose log for get command, to understand what exactly is it trying to do.

## Steps to Reproduce

## Screenshots

## Your Environment

* `kubect

[2022-01-21 15:30] kvaps commented on #3512
Moved to mayastor
https://github.com/openebs/mayastor/issues/1075

[2022-01-23 09:57] harridu opened #3513 "cstor-volume-upgrade: "error converting YAML to JSON: yaml: line 26: did not find expected key""
Trying to upgrade the cstor csi volumes from version 3.0.0 to 3.1.0 (as described on https://github.com/openebs/upgrade/blob/develop/docs/upgrade.md#cstor-csi-volumes) the job cannot be created:
[code]
I don't see an error in line 26:
[code]
Especially the service account in line 25 is correct:
[code]

[2022-01-24 07:06] odidev commented on #3498
@mittachaitu I've tried formatting the block device and tried to use it again, but I'm getting a different error this time saying "must be a block device or a regular file". Please find the logs below.

[code]

[code]

Can you please provide some pointers on the same?

[2022-01-24 08:16] harridu commented on #3513
The line numbers reported by kubectl are misleading. The incorrect line was #32. My bad.

I would strongly recommend to check the template yaml files in the upgrade guide using yamllint. It complains about the indentation, unwanted space characters and line length:
[code]
This ballast makes it difficult to find "real" problems using yamllint.

[2022-01-25 04:23] akhilerm commented on #3389
Closing this issue, as this is a timing issue after the node gets rebooted. A restart of the NDM pod fixes the issue.

[2022-01-25 04:23] #3389 closed

[2022-01-26 01:06] #3424 closed

[2022-01-30 01:01] #3419 closed

[2022-02-01 06:17] w3aman opened #3515 "Refactor flaky e2e-tests in pipelines"
- fix timing related issues in pipeline, where sometimes pods take time to get into running state, here we can increase the delay timeouts.

-

[2022-02-01 07:05] akhilerm commented on #3407
The initial set of changes are implement in PR https://github.com/openebs/node-disk-manager/pull/619, but the approach for finding LVM devices need to be further clarified.

[2022-02-01 12:06] jsalatiel opened #3516 "openebs-cstor-csi-controller as a deployment"
## Description
Currently openebs-cstor-csi-controller is a statefulset. Is this really required?
If so I think I have a mis configuration because there is no persistent storage set to that statefulset on my setup.
Anyways, as a stateful set if the node running the openebs-cstor-csi-controller dies for any reason, k8s will not start a new instance without manual intervention. Couldn't that be chang

[2022-02-02 01:02] #3318 closed

[2022-02-03 00:04] xigifty opened #3517 "(x5 over 3m36s) kubelet MountVolume.MountDevice failed for volume "pvc-f" : rpc error: code = Internal desc = Volume pvc-2f is not ready: Replicas yet to connect to controller"
Hi Team @mittachaitu/ Or,

Basically once I create the pods with pvcs with VolumeSnapshots and StorageClassess configured. I get the below error

[code]
**So this issues comes every time for me but basically lasts for 2 mins, for every new setup and resolved automatically.** but we have an other process which will create pods with pvc for every 1 hour or so automatically, in such continous running

[2022-02-03 00:59] #2989 closed

[2022-02-03 13:24] Ericra95 commented on #3509
After upgrading to openebs version 3.1, the pod still cannot accurately display the pvc disk space

The pvc size is set to 50m and it shows as 1017.5M

cat /tmp/busybox.yaml mount 50Mi PVC
apiVersion: v1
kind: Pod
metadata:
  name: busybox-cstor-test
  namespace: default
spec:
  containers:
  - command:
       - sh
       - -c
       - 'date >> /mnt/openebs-csi/date.txt; hostname >> /mnt/openebs-c

[2022-02-04 08:16] #3513 closed

[2022-02-08 22:09] maxisam commented on #2767
In my case, reboot fix it.

[2022-02-09 19:09] manjo-git opened #3518 "Please update documentation to include erase SSDs and Nvme drives before creating cstore SC,PV,PVC."
I am using microk8s on ubuntu to deploy openebs on a single node. I tried to configure cstor using 4 block devices ( Nvme ), and ran into problems were the applications were failing to mount to the pvc.

What I found was. If you start out with what appears as raw disks ( SSDs, Nvmes etc), and deploy and configure cstor, you will find that you will make progress all the way to creating a PVC etc. B

[2022-02-11 11:41] mohkoma commented on #71
I had this issue after upgrading to macOS Monterey

The solution was:
Create a `/etc/vbox/networks.conf` (on your host computer, not in the vm) to let you go back to the original IP default range:

(I had to create the vbox folder and the conf file)

I put in the following contents:

`* 0.0.0.0/0 ::/0`

After that I did:

[code]

And everything started working finally!

thanks to [rtpHarry](https:

[2022-02-15 11:25] mohkoma commented on #71
@deepakgl

I would advice you if you're using mac to check this:
`Go to System Preferences > Security & Privacy Then hit the "Allow" button to let Oracle (VirtualBox) load.`

Reason is that after the update, macOs reset the permission for the VirtualBox
if you find that access request there and allow it you might solve that problem 👆

[2022-02-15 12:01] deepakgl commented on #71
Yes, Its working now

Thankyou

[2022-02-20 12:21] bjornbouetsmith opened #3520 "openebs-localpv-provisioner only running on single node"
## Description
I am running openebs on a kubernetest cluster of 5 physical machines.
Since I want to be in control of most - I did not want to ndm running, because it seems to be using a lot of CPU.
But that is besides the point.

So far its working as expected kind of - I can provision a volume claim - and when I start a pod that uses that volume claim I get a Persistent volume created.
So far so

[2022-03-07 14:57] hilbertglm opened #3521 "Duplicate Active Unclaimed Block Devices after parted"
## Description
When I went to provision a disk pool for minio, I saw duplicate entries for Unclaimed, Active block devices:

glm@hargrove:Minio-Argo (master)$ kubectl get blockdevices.openebs.io --namespace=openebs
NAME                                           NODENAME     SIZE           CLAIMSTATE   STATUS   AGE
blockdevice-1d304c7d24811248b57c347339cf138f   cluster-97   11810094592    Unclaimed

[2022-03-10 07:06] vharsh opened #3522 "Reorganise CONTRIBUTING.md in a hierarchical fashion to convey more qualitative information"
## Description

Help increase external contributors by quantity & by quality & reduce their time-to-PR by conveying qualitative information in lesser time. The openebs/openebs repo's CONTRIBUTING.md should include general guidelines which apply to all the OpenEBS repositories like code-of-conduct, unit testing policy, security policy, eligibility to become a maintainer, code-quality guidelines, et

[2022-03-11 12:28] odidev commented on #3495
Hi Team,

I am also experiencing the same problem to create a Jiva storage pool. Can you please provide some pointers?

[2022-03-13 17:38] CiftciCagatay opened #3523 "Space reclamation on CStorPoolInstance and CStorVolumeReplica"
## Description

After removing files to reclaim some of the disk space, "Allocated" space of CSPIs doesn't change. After reaching readonly threshold CSPIs switches to readonly mode. At this point we can't remove any files to reclaim disk space.

## Expected Behavior

Even if CSPIs allocated space doesn't goes down after file deletions we expected to use that created disk space in the future. Alloc

[2022-03-14 16:00] CiftciCagatay commented on #3523
We can close this issue, on Slack channel community explained this to me as follows;

(Workaround steps to re-use deleted blocks)
We can provision volumes  (where Sum of Provisioned size of all volumes  <= 85% pool capacity).
Now even all volumes are filled up, pool will not go into ReadOnly mode so we were allowed to do delete operation on files.
When we write after deleting files then applicatio

[2022-04-04 18:33] RytisLT commented on #2719
I'm running True NAS Scale with OpenEBS (Local PV) + FluxCD

- owncloud
- jellyfin
- photoprism
- filebrowser
- pyload

 Local PV

 evaluating for Home NAS

I'm using True NAS Scale with Flux CD to fully describe the desired state of my NAS. OpenEBS + Flux CD allows me to define my applications, their configs and storage needs (ZPool Datasets) in git without needing to interact with True NAS Scale

[2022-04-06 02:35] markqiu commented on #3495
I installed the latest version, and get this error: no matches for kind "StoragePool" in version "openebs.io/v1alpha1"

[2022-04-07 01:24] #3493 closed

[2022-04-11 04:27] #3472 closed

[2022-04-11 19:44] rajeshvijayarajan opened #3526 "Best Practice when working with openebs-localpath"
Hello,

Am running Splunk (handles the replication on our behalf) on a k8s cluster using openebs-hostpath as the default storage class. My question is around the best practices for handling the necessary cleanup of PVCs and PVs, when a pod is rescheduled to a different worker node.

For example:
One of the worker nodes running a Splunk indexer pod goes down. The indexer pod was provisioned a PV wh