[2019-01-09 16:50] #1605 closed

[2019-01-09 16:52] #1521 closed

[2019-01-09 16:52] #541 closed

[2019-01-09 16:53] prateekpandey14 commented on #1509
issue has been fixed

[2019-01-09 16:53] #1509 closed

[2019-01-09 16:56] prateekpandey14 commented on #1555
Travis CI pushes the ci taged images for `master branch` and `<branch-name>-ci` tag images for branch specific builds

[2019-01-09 16:56] #1555 closed

[2019-01-09 17:03] #421 closed

[2019-01-09 17:09] prateekpandey14 commented on #731
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 17:09] #731 closed

[2019-01-09 21:37] davidnewhall commented on #71
Getting this error on a brand new mac (10.13.6) with a fresh install of vagrant 2.2.2 and virtual box 6.0.0. Have not yet identified a solution, but "removing the second copy of virtual box with apt" isn't going to fly here.

[2019-01-11 04:56] prateekpandey14 opened #2342 "(Feature) Support for custom additional column for Openebs CR(D)"
## Description

Add custom column for openebs cstorvolume, cstorvolumereplica, disk, cstorpool custom resources.
After adding this feature we can able to list down the required specific info like status, size etc using
kubectl get command.

for example:
[code]

[2019-01-11 05:34] vishnuitta commented on #2271
@BalaBalaYi apologies in responding late to your query. Got to see this message just now.
Error that you mentioned `Error: iscsiadm: default: 1 session requested, but 1 already present.
iscsiadm: Could not log into all portals` is related to iscsi login. This is a timing issue when a login is successful, and IOs are yet to start on the iSCSI disk. In 0.8 openebs, symptom that you mentioned is fixe

[2019-01-11 07:05] #2342 closed

[2019-01-11 07:43] AmitKumarDas opened #2343 "OpenEBS operator && Monitoring by running applications on openebs"
## What is OpenEBS operator?
A helper/tool for human operator. This operator manages the lifecycle of OpenEBS on a Kubernetes cluster.

It will automate the process of Install, Update, Upgrade, Probe / Checks, Self Healing, and more with respect to OpenEBS. It will work continuously to put the system into the desired state. A desired state is typically a list of desired specification(s) declared b

[2019-01-11 07:46] AmitKumarDas commented on #2343
### Use Case -- Resource Monitoring
As part of helping the human operator, openebs operator should notify if any component has been experiencing any issues. For example: Is volume provisioner component unable to provision volume, are there any errors experienced in api server, are openebs volumes getting into ReadOnly state, does the cluster nodes have required installations for openebs volume pro

[2019-01-11 13:51] ashishranjan738 commented on #1994
added this feature

[2019-01-11 13:51] #1994 closed

[2019-01-11 13:54] ashishranjan738 commented on #1981
added this

[2019-01-11 13:54] #1981 closed

[2019-01-11 14:39] jbrongtr opened #2344 "Change Scrub job image location"
## Description
When I delete a PVC, the scrub job launches as expected. The issue is that our environment is air-gaped and we need to load images beforehand into a docker repo. The pod job hangs waiting to pull the image from the internet.

## Expected Behavior
The ability to change the openebs-tools image location

## Current Behavior
Image is pulled from internet

## Possible Solution
Possibly a

[2019-01-11 17:22] vishnuitta commented on #2282
Below are observations after doing pod delete with 'dd' running:
- mysqld, which is with PID 1, goes into defunct state (probably after 30 seconds. If not, atleast much before the old pod gets terminated)
- 'dd if=/dev/urandom of=/var/lib/mysql/file1 bs=4k count=500k' command will be running and `ps` output shows its status as 'D', which means, its waiting on disk.
- Running 'dd' in a loop with co

[2019-01-14 03:12] Yaxian commented on #1090
Dear, @kmova ,
Unfortunately, I met this problem.
After  I run `kubeadm reset`,  I lost my openebs's deployment, pv and pvc. But I have some <pvc-name> folders in disk.
And I had googled some docs about recovering data from <pvc-name>. But They could not help me.
Could you help me about **how to manually launch a OpenEBS PV using an existing data directory**

[2019-01-14 05:12] t3hmrman opened #2345 "Don't automatically email people who star OpenEBS on Github"
## Description
[Someone on HN reported being emailed (at their personal email) immediately after starring the repository](https://news.ycombinator.com/item?id=18900439), in [a thread](https://news.ycombinator.com/threads?id=hardwaresofton#18900439) where I mentioned the benefits of using OpenEBS.

## Expected Behavior
Emails should not have been used.

## Current Behavior
Email is sent to people w

[2019-01-14 06:06] AmitKumarDas commented on #2345
@t3hmrman We are looking into this. Sorry for all the trouble you have faced so far.

[2019-01-14 06:07] umamukkara commented on #2345
Thank you @t3hmrman for the alert. We have disabled the email trigger.

[2019-01-14 06:31] t3hmrman commented on #2345
Hey absolutely no problem guys -- I [am really happy with openebs](https://vadosware.io/post/kicking-the-tires-on-openebs-for-cluster-storage/) thanks so much for the hard work you're putting in, hate to see someone dismiss it out of hand because of something silly like a misplaced email.

I wonder if moving the newsletter signup above the community page on https://openebs.io would help? If the la

[2019-01-14 06:35] t3hmrman commented on #2345
Closing since the email trigger is removed!

[2019-01-14 06:35] #2345 closed

[2019-01-14 11:41] sonasingh46 opened #2346 "Only 1 disk in case of striped and 2 disks in case of mirrored are used in cstor pool provisioning"
Following issue description is with the current master branch of OpenEBS.
## Description

Currently cstor pools can be provisioned via following two methods :
1. Auto
2. Manual

Before https://github.com/openebs/maya/pull/867 PR -- Manual provisioned pool was able to use all disks attached to node for provisioning pool whether it be mirrored or striped. **(Desired)**

With auto provisioning -- tha

[2019-01-14 18:56] #1380 closed

[2019-01-14 18:56] #1381 closed

[2019-01-14 19:01] #1390 closed

[2019-01-14 19:04] #1404 closed

[2019-01-14 19:21] muratkars commented on #1429
Is the solution merged @gkGaneshR? Can we close this?

[2019-01-14 19:40] muratkars commented on #1444
[PR](https://github.com/openebs/external-storage/pull/37) Merged

[2019-01-14 19:40] #1444 closed

[2019-01-14 19:43] muratkars commented on #1445
Instructions are updated with 0.6 release and original PR closed.

[2019-01-14 19:43] #1445 closed

[2019-01-14 20:34] muratkars commented on #1463
@sonasingh46 @ksatchit looks like `apiserver` flag solution wasn't merged. Is there another way to access mayactl? [Docs](https://docs.openebs.io/mayactl.html) still refer to locally accessing to maya-apiserver.

[2019-01-14 20:40] muratkars commented on #1465
Merged

[2019-01-14 20:40] #1465 closed

[2019-01-14 20:41] muratkars commented on #1466
Merged

[2019-01-14 20:41] #1466 closed

[2019-01-14 20:46] muratkars commented on #1487
Looks like issue in [docs](https://docs.openebs.io/docs/next/installation.html) was resolved.

[2019-01-14 20:46] #1487 closed

[2019-01-14 21:05] #1502 closed

[2019-01-14 21:08] muratkars commented on #1557
This issue is fixed in 0.7.0

[2019-01-14 21:08] #1557 closed

[2019-01-14 21:16] muratkars commented on #1569
Merged [here](https://github.com/openebs/openebs/tree/master/e2e/ansible/roles/k8s-openebs-uninstall-helm)

[2019-01-14 21:16] #1569 closed

[2019-01-14 21:17] muratkars commented on #1571
Diagram is fixed and issue resolved

[2019-01-14 21:17] #1571 closed

[2019-01-14 21:20] muratkars commented on #1573
Latest OpenEBS Helm charts are now available under [Helm/stable repo](https://github.com/helm/charts/tree/master/stable/openebs)

[2019-01-14 21:20] #1573 closed

[2019-01-14 21:23] muratkars commented on #1577
Moved under [https://github.com/openebs/openebs-docs](https://github.com/openebs/openebs-docs)

[2019-01-14 21:23] #1577 closed

[2019-01-14 21:55] #1638 closed

[2019-01-14 21:58] muratkars commented on #1642
Fixed

[2019-01-14 21:58] #1642 closed

[2019-01-14 22:41] muratkars commented on #1661
pinging @kmova for update on the issue.

[2019-01-14 22:50] #1708 closed

[2019-01-15 05:41] prateekpandey14 opened #2348 "Add source volume info in clone workflow while creating volume"
## Description
While creating a clone volume we have to add source volume info/label in cloned volumes CVR/CV's,  this will help once we make a delete request , first we will check/ list the CVR/CV's objects using above `source-volume`  label , if present then admission webhook will fail the deletion of a `source-volume` PVC object

Parent issue: https://github.com/openebs/openebs/issues/2316
## C

[2019-01-15 17:52] kmova opened #2349 "CStorVolumeReplica CRD was missing from a freshly installed cluster"
Reported on the OpenEBS users slack by @mleklund:

- Installed and Uninstalled OpenEBS a couple of times.
- When a new cStor PVC was added, it was not getting bound to a PV.
- The error from provisioner and apiserver showed that:
   CStorVolumeReplica CRD was not installed.
- Manually installed it and provisioning went through fine.

[2019-01-16 09:15] vishnuitta commented on #2336
@pawanpraka1 .. can you please provide the findings with file/disk based vdev_ops compared to libaio vdev_ops?

[2019-01-16 09:39] prateekpandey14 opened #2350 "Handle source PVC deletion in case of clone volume exists using validation Webhook"
## Description

Refer https://github.com/openebs/openebs/issues/2316

[2019-01-16 13:09] ashishranjan738 opened #2351 "Add new annotations to volumes provisioned on or before 0.8.0"
## Description

-> The update script has to be modified with new storage class annotations added in this PR https://github.com/openebs/maya/pull/886

[2019-01-17 03:42] AmitKumarDas commented on #2348
@ashishranjan738 @prateekpandey14 which resource should get updated? Is it the CV or CVR?

[2019-01-17 04:44] kmova opened #2354 "SPC should limit PVC capacity requests to be within the available capacity, when overProvisioning is false"
## Description
As of 0.8.0, the cStor Storage Pool don't have a automated mechanism to expand the pool. This puts the limitation that the PVCs - total capacity should be within the available capacity of the pool. Currently, there is an option `overProvisioning` set to `false` (default value), however the user is allowed to create PVCs that cross the available capacity of the pools.

## Expected Be

[2019-01-17 04:48] AmitKumarDas commented on #2349
CstorVolumeReplica aliased CVR has finalizers that prohibits deletion unless the volume gets deleted. This is a check to ensure proper cleanup. However, this issue & other observations point to the fact that when the namespace (that contains these volumes) as well when the operator (that contains the CRD schema definitions) are deleted, CVR finalizers pose a significant problem to the overall dele

[2019-01-17 06:00] pawanpraka1 commented on #2336
in the aio pipeline, vdev_disk_zio_done does not do anything, the device removal part is supposed to be handled there.
        /*
         * If the device returned EIO, we revalidate the media.  If it is
         * determined the media has changed this triggers the asynchronous
         * removal of the device from the configuration.
         */

[2019-01-17 08:44] utkarshmani1997 opened #2355 "newly created volume fails with fsck errors on centos 7.5"
As per the issue #1276 , there were some instances of fsck errors on centos 7.0 with jiva version < 0.7.0 , we have added support for SYNC_CACHE in jiva after that this issue was not observed on centos 7.0 . But since centos 7.5 is not available yet on GKE or AMAZON platforms, we were unable to test the same. So once its get available on these platforms we can test and verify whether volume is sti

[2019-01-17 12:02] kasim457 opened #2356 "Need steps for configuring OpenEBS in offline mode ( without internete access on Kubernetes Cluster)"
Hi Team,

I request you to provide detailed steps of how to configure openEBS in offline mode.

Thanks,
Kasim -/-

[2019-01-17 12:14] kmova commented on #2344
@jbrongtr Thanks for raising this issue. Will bring this up in the upcoming contributor weekly meeting and schedule this for fixing.

[2019-01-17 14:20] #2313 closed

[2019-01-17 14:24] Yaxian commented on #2078
same issue.
kubernetes version 1.13.0
openebs v0.8

pod mongodb log:
[code]
Pod ctrl log
[code]
Pod rep

[code]

[2019-01-17 14:41] kmova commented on #2299
Merged 0.8.0 into rancher. https://github.com/rancher/charts/pull/82

[2019-01-17 14:41] #2299 closed

[2019-01-17 17:39] vishnuitta commented on #1276
- Honoring fsType is fixed
- 0.8 have fixes for SYNC_CACHE support which fixes various variants of fsck errors
- Created a new issue to try 0.8 on CentOS7.5
Hence closing this issue.

[2019-01-17 18:12] vishnuitta opened #2357 "Upgrade to 0.8.1 involves setting a quorum property to true"
As part of supporting ephemeral disks with cStor volumes (related to bug https://github.com/openebs/openebs/issues/2271), there is need to take care of upgrade scenario to 0.8.1.

'quorum' property of existing volumes need to be set to 'true' after upgrading cstor-pool pods to 0.8.1

[2019-01-17 18:19] vishnuitta opened #2358 "Setting 'quorum' property to off for newly created volumes in replaced nodes"
As part of ephemeral support in cStor volumes (regarding to issue - https://github.com/openebs/openebs/issues/2271), 'quorum' property is added to ZFS volumes.
This property need to be set to 'false' when volumes are created on the nodes that are replacing existing ones.

[2019-01-18 09:59] #2346 closed

[2019-01-18 12:38] ksatchit commented on #1387
Detaching the external disk upon which the jiva replica is created causes the following logs:

[code]

[2019-01-20 02:55] utkarshmani1997 commented on #1276
@PeterGrace can you also help with providing kubelet logs ?

[2019-01-21 09:19] dargasudarshan commented on #2312
This issue seems to be seen because of the k8s bug https://github.com/kubernetes/kubernetes/issues/42889. The state is closed due to inactivty.

[2019-01-22 06:30] gprasath opened #2359 "Support for zpool clear command."
Upon attaching the disk again to a pool, resilvering should be triggered. Restarting pool pod doesn't trigger resilvering.  zpool clear command should be executed for clearing the errors and start resilvering. Currently, this command is not supported.

zpool online command triggered resilvering but the errors are not getting cleared.

[2019-01-22 10:01] pawanpraka1 commented on #2336
we need to have fma(fault management agent)  agent for this. Which keeps monitoring the disk stats and take the action accordingly. Disks stats will be updated by NDM, this agent will monitor that and when disk is reattached to the node, it'll trigger the "zpool clear" command which will trigger the resilvering.

[2019-01-22 14:13] kmova commented on #1365
With 0.7.0, NDM has been integrated with OpenEBS and cstor pools are created using the Disks discovered by NDM.

Jiva will continue to use the current approach.

[2019-01-22 14:13] #1365 closed

[2019-01-23 17:18] #2358 closed

[2019-01-24 03:58] kmova commented on #1090
@Yaxian - I apologize for the very late response. I used the following steps to launch a OpenEBS PV using an existing directory: https://github.com/kmova/bootstrap/tree/master/gke-openebs/jiva-recovery

[2019-01-25 01:45] rcoh commented on #1688
I got into this state when I lost a node in my cluster...I'm confused -- I thought this was the exact problem OpenEBS was supposed to solve?

[2019-01-25 05:13] Yaxian commented on #1090
@kmova Look great to me，Thank you very much！

[2019-01-25 09:39] AmitKumarDas commented on #1688
@rcoh Will it be possible to paste the details of `kubectl describe application-pod-name` and perhaps other details like Kubernetes version, platform (cloud provider, etc). We have seen some issues due to node lost which results into `MultiAttach` error. However, would like to know the details before we can try to propose something.

[2019-01-25 09:57] kmova opened #2361 "Need ability to tune the cStor target for sequential workloads."
## Description
I ran some quick dbench tests comparing the sequential vs random read/write workloads. While the Random workloads perform better compared against the hostPath volumes, the sequential workloads show lower numbers. The slowness in case of sequential workloads are caused by the default setting in the cstor target to use 6 parallel IO threads.  When I reduce this to single threads, the

[2019-01-25 18:34] rcoh commented on #1688
I can send it the next time I test losing a node -- it actually eventually
resolved itself ~ 20-30 minutes later.

On Fri, Jan 25, 2019 at 1:39 AM Amit Kumar Das <notifications@github.com>
wrote:

[2019-01-25 22:13] cjyar commented on #346
It'd be great to see a glossary entry for every CustomResourceDefinition.

[2019-01-26 01:41] kmova commented on #346
Thanks @cjyar. Thats a great idea. @umamukkara

[2019-01-26 01:46] kmova commented on #1661
@fgimenezm -- The above has been implemented for cStor Volumes. The cStor target and the pool/replica pods are installed in "openebs" namespace. The example of using the pod-security-policies for cStor volumes is available here: https://github.com/openebs/openebs-docs/issues/484

[2019-01-28 01:31] umamukkara commented on #346
Yes. Thanks for suggesting @cjyar . Will add this.

[2019-01-28 09:09] vishnuitta opened #2363 "Automatic resilver in case of disk detach/attach in mirror/raid pools"
From 0.8.1, with this bug https://github.com/openebs/openebs/issues/2336 being fixed, resilvering can be triggered manually by doing 'zpool clear <poolname>' once the disks are attached back.

This feature request is to trigger pool resilvering automatically once the disks are attached back.

[2019-01-28 09:10] vishnuitta commented on #2336
'zpool clear' is supported in 0.8.1 in manual way. This allows to trigger resilver of pool manually.
Created another issue for automatic resilvering. Hence, this can be closed.

[2019-01-28 09:14] AmitKumarDas commented on #2294
/doc needs to be updated

[2019-01-28 09:16] vishnuitta commented on #2262
Available in 0.8.1 with this PR: https://github.com/openebs/maya/pull/894. hence, closing

[2019-01-28 09:16] #2262 closed

[2019-01-28 09:16] #1460 closed

[2019-01-28 09:21] vishnuitta commented on #2315
This issue is debugged even though things works for cstor disk-based pools. As part of this issue, decided to add logs for better debugability if issue happens in disk-based pools as well for any info related to disks.
Logs are added for delayed IOs with these PRs:
For istgt - https://github.com/openebs/istgt/pull/209
for zfs - https://github.com/openebs/zfs/pull/184
Hence, closing.

[2019-01-28 09:21] #2315 closed

[2019-01-28 15:24] vishnuitta commented on #1387
When the disk on which jiva replicas are created gets detached, any subsequent IOs on the disk returns EIO. PR#175 in jiva handles this by doing fatal of the replica, so that, when the disk gets attached, replica starts serving IOs.
This simulation of disk detach, by removing or truncating sparse files, will not help. File descriptor due to open by jiva replica will NOT allow to remove or truncate

[2019-01-28 17:22] vishnuitta commented on #1387
re-opening this to cherry-pick the fix to v0.8.x branch and assigning to @utkarshmani1997

[2019-01-28 17:32] ashishranjan738 opened #2364 "Travis test script for upgrade"
There should be a travis test to check for volume and pool upgrades of jiva and cstor

[2019-01-28 22:17] muratkars opened #2365 "Upgrade OpenEBS charts in NKS"
Update OpenEBS trusted charts listing for NetApp Kubernetes Service (NKS) to the latest.

[2019-01-28 23:00] muratkars commented on #2328
Logo is updated with a [square image](https://raw.githubusercontent.com/openebs/chitrakala/master/OpenEBS%20logo/logo-square.png) on the latest [charts](https://raw.githubusercontent.com/helm/charts/master/stable/openebs/Chart.yaml)

[2019-01-28 23:00] #2328 closed

[2019-01-29 05:32] utkarshmani1997 commented on #1276
@PeterGrace the issue is with your storage class, you should specify annotation `FSType` instead of `FStype` that's why it was not honoring `xfs`.
We have also tried to simulate the node-drain scenario multiple times on three node cluster with 3 replicas using following storage class but we were unable to reproduce it.
[code]
`kubectl describe pvc:`
[code]

If you find this issue again please get

[2019-01-29 06:13] ajeshbaby opened #2366 "Day2 Operations -- Disk Replacement"
## Description

Disk Replacement Support is required in case of the following
-- For failed disks in a RAID group (Faulted)
-- Proactive replacement for disks which can get failed (Based on error count / latency factors etc .. manual)

## Context

Disks replacement for a pool is must as part of Day2 Operations.
Disks would go bad in a pool, the disk replacement is required for the pool  type as me

[2019-01-29 09:24] AmitKumarDas opened #2367 "OpenEBS operator && CAS Config management use case"
### What is OpenEBS operator?
A helper/tool for human operator. This operator manages the lifecycle of OpenEBS on a Kubernetes cluster.

It will automate the process of Install, Update, Upgrade, Probe / Checks, Self Healing, and more with respect to OpenEBS. It will work continuously to put the system into the desired state. A desired state is typically a list of desired specification(s) declared

[2019-01-29 09:33] AmitKumarDas commented on #2367
### Use Case - Config Management
As part of helping the human operator, OpenEBS Operator should be able to determine if the cluster is running OpenEBS components with valid configurations.

The complete/advanced solution will try to answer questions like:

- Verify if resources are running with valid configurations
- Verify if resources are only running configurations that these resources have acc

[2019-01-30 07:19] ajeshbaby opened #2369 "Support for increase or decrease volume replication count"
## Usecase
Work flow to increase or decrease of volume replica count
This would be useful in scenarios where user will configure volume replica with less replica count say count=1 and increase number of replica in production to count-=3.
Other case wrongly configured higher replica can be reduced to lower number with out bringing down the application.

[2019-01-30 08:19] ashishranjan738 commented on #2364
we will add it to litmus

[2019-01-30 08:19] #2364 closed

[2019-01-31 16:34] wildapt01 commented on #71
@davidnewhall
I'm pretty new at it, so plz bear with me.
My config: Ubuntu 18.04 on MSFT SB2 (dual boot) w/ custom kernel 4.19.19 - vagrant 2.2.3
Error: could not boot the VM after 'vagrant up', kept poping error 1(....
My solution:
1 - Uninstall VirtualBox with the commands mentioned above by Satyamz.
2 - Restart then 'sudo apt update' then 'sudo apt upgrade -y' in CLI
3 - Install Virtual Box wit

[2019-02-01 03:55] AmitKumarDas commented on #2357
Done

[2019-02-01 03:55] #2357 closed

[2019-02-01 06:59] ibreakthecloud opened #2372 "Ability to expand cStor pool when the underlying disk capacity is increased"
## Description

When the uderlying GPD was resized to increase the capacity, cStor pool was not able to detect the changes.

## Context

I had an GPD of 10 GiB attached to one of the nodes in GKE cluster, spc pool was created. After expanding my GPD from 10GiB to 15GiB the new changes were not reflected in SPC pool capacity, although upon restarting NDM pods the disk value was updated but not the

[2019-02-01 07:20] vishnuitta commented on #2271
Fixes are available in 0.8.1(211) and master(206). Hence closing.

[2019-02-01 07:20] #2271 closed

[2019-02-01 08:39] ishantanu opened #2373 "Unable to mount pvc to pods after the bare-metal cluster's nodes were restarted"
## Description
The scenario is:
1. The nodes of k8s cluster were restarted and so was the k8s cluster.
2. Since the restart happened, its been 18 hours and I am not able to mount any pvc to any pod. All I am seeing is:
[code]

3. In `kubectl get events`, I am seeing:

[code]

## Expected Behavior
1. In case of node restart/k8s cluster restart, openebs should be able to reclaim the pvc's without an

[2019-02-01 10:14] prateekpandey14 commented on #2373
@ishantanu we have similar issue https://github.com/openebs/openebs/issues/1121 which provides some workaround , so basically the iscsi_tcp module either not available or loaded after restart, and have to load it manually.

[2019-02-01 11:12] ishantanu commented on #2373
@prateekpandey14 That seems to have resolved the issue. Thanks. However, I'd prefer to add `iscsi_tcp` in `/etc/modules` so that I don't have to manually load it after a node restarts.

[2019-02-01 11:12] #2373 closed

[2019-02-01 11:15] #2351 closed

[2019-02-01 12:34] vishnuitta commented on #1387
cherry-pick is also done.. hence, closing

[2019-02-01 12:34] #1387 closed

[2019-02-01 12:38] #1358 closed

[2019-02-01 14:44] #1973 closed

[2019-02-04 21:05] cjyar opened #2374 "Unable to remove cstorVolumeReplicas after uninstall"
## Description
After uninstalling OpenEBS according to the instructions at https://docs.openebs.io/docs/next/uninstall.html, the openebs namespace still contains 3 undeletable CVRs.

## Expected Behavior
Removing the openebs namespace should have removed all the resources in it, including these CVRs.

## Current Behavior
[code]

Detail on one of those CVRs:
[code]

## Steps to Reproduce
Hard to sa

[2019-02-05 03:27] gprasath opened #2375 "maya-apiserver restarted after installing openebs."
## Description
Installed openebs ci on GKE based cluster. There is a restart observed in maya-apiserver after installing openebs.I have used maya-apiserver:ci image for the container.

Here is the pod description:

[code]

Here is the snippet of maya-apiserver log.

[code]

[2019-02-05 08:55] #2375 closed

[2019-02-05 10:12] sonasingh46 commented on #2374
Hi @cjyar
Did you delete PVC first before deleting OpenEBS namespace as pointed in docs?

[2019-02-05 15:53] sonasingh46 commented on #2374
To get out of this --
`kubectl edit cvr -n openebs`

And remove finalizers.

[2019-02-05 16:22] cjyar commented on #2374
@sonasingh46 Thanks for the help. After deleting the finalizers, the CVRs went away, and so did the namespace and the CRD.

Yes, I deleted the PVC before deleting the OpenEBS namespace. It's possible that the PVC was never fully created, since it took me a while to get all the settings right. So the PVC may have been in a weird state when I deleted it.

[2019-02-06 05:33] AmitKumarDas commented on #2374
Thanks @cjyar for further explanations.
Meanwhile, I have labelled this issue under `docs` to have the docs tuned further.

[2019-02-06 10:18] ashishranjan738 opened #2376 "Add storageclass info in volumes provisioned by openebs"
The openebs provisioned volume components should have storage class information related to it.

[2019-02-06 10:20] ashishranjan738 commented on #2376
Fix merged

[2019-02-06 10:20] #2376 closed

[2019-02-06 10:30] ashishranjan738 opened #2377 "Add target node selector policy in cstor volumes"
cstor volumes should have target node selector policy.

[2019-02-06 10:33] ashishranjan738 commented on #2377
Fix has been merged

[2019-02-06 10:33] #2377 closed

[2019-02-07 10:05] ashishranjan738 opened #2378 "Add BDD test to replace the travis bash test"
There is a need to replace the travis test with new BDD test for better handling of E2E in travis

[2019-02-07 14:39] sourabh1031 commented on #760
@nsathyaseelan @kmova i will work on this

[2019-02-07 21:50] jayunit100 commented on #357
any progress on this ?  kube 1.13 makes CSI GA,

[2019-02-08 08:40] sourabh1031 commented on #1967
@qiell i will work on this

[2019-02-08 08:44] sourabh1031 commented on #774
@nsathyaseelan i will work on this

[2019-02-08 10:04] ashishranjan738 opened #2380 "Removing hardcoding on jiva volume delete scrub image"
Currently, the image of the jiva volume delete scrub image is hardcode in runtask which can cause a problem in case of image upgrade. This hardcoding of image should be removed and the image name should be taken from env variable of m-apiserver.

[2019-02-08 10:20] ashishranjan738 commented on #2380
Deuplicate https://github.com/openebs/openebs/issues/2344

[2019-02-08 10:20] #2380 closed

[2019-02-08 15:17] AmitKumarDas commented on #774
This issue is no longer valid

[2019-02-08 15:17] #774 closed

[2019-02-08 17:34] muratkars commented on #357
Hi @jayunit100 CSI is priorities in the roadmap and it's planned for the OpenEBS 0.9 release, which is the next big release.

[2019-02-11 11:32] vishnuitta opened #2382 "kubelet seen consuming high RAM during iSCSI connection establishment."
kubelet triggers iscsiadm command to discover LUNs and reads the output of the command until it exists.
Due to the issue mentioned here https://github.com/open-iscsi/open-iscsi/issues/155, kubelet ends up consuming high CPU and RAM.

[2019-02-11 18:28] muratkars commented on #2365
Merged

[2019-02-12 06:07] ranjithwingrider opened #2384 "PVC dynamic provisioning failed due to provisioner hung and not responding for any request"
## Description
Issue raised by rampreet in community channel.

New volume provisioning failed due to provisioner were not responding for any request ( no new logs were coming for new volume create) and even not able to communicate with kube-apiserver for registration.

While debugging find out provisioner hung ,exec into the pod was failing with error ```rpc error: code = 2 desc = containerd: cont

[2019-02-12 10:07] bhaskarhc opened #2385 "After updating to 0.8.1-RC1 Elastic search turned into `init` state ."
## Description

### upgrading of my openebs-0.8.0 cluster to 0.8.1-RC1 facing error :
pod status after updating volume :
[code]
## Current Behavior

- After Cstor_volume_Upgrade every volume and workloads are working fine expect elestic search .

pod Describe :
[code]

[2019-02-13 10:26] AmitKumarDas commented on #2382
Below is one of the user's setup that has this error:
[code]

[2019-02-13 10:33] AmitKumarDas commented on #2382
These are the details from another user w.r.t this issue:

### UseCase:
We attach 1 elastic block storage disk to each of the worker nodes in the cluster (3 in this case). We utilize Kubespray to deploy our clusters and helm to install OpenEBS (v0.8.0) after the clusters are up. I can deploy a few applications with PVC's that utilize the OpenEBS storage. We run into issues sometimes when we re-dep

[2019-02-14 03:21] AmitKumarDas commented on #1216
This is currently  a WIP item & will be solved via this [issue#2343](https://github.com/openebs/openebs/issues/2343)

[2019-02-14 03:24] AmitKumarDas commented on #290
This is currently a WIP and can be tracked via following issue(s):
- https://github.com/openebs/openebs/issues/2343

[2019-02-14 04:09] AmitKumarDas opened #2389 "[volume distribution] Ability to distribute single replica volumes across nodes when deployed using StatefulSet"
## Description
Ability to distribute single replica volumes across nodes, when deployed using StatefulSet.

## Context / Why is this important

Users want to deploy applications using StatefulSet with application replication factor **"> 1"** and volume replication factor **"= 1"**; provided this application has the ability to replicate data across nodes in a given cluster. Some examples of such ap

[2019-02-14 05:03] AmitKumarDas commented on #2389
### Possible Solutions

[2019-02-14 05:28] vishnuitta opened #2390 "test_login program hangs with istgt"
When the program here https://github.com/gila/login-test is compiled and run against istgt, test_login binary just hangs in first iteration, where as, same binary runs fine against jiva/lio/spdk_target.

Steps to compile are:
- build and install https://github.com/sahlberg/libiscsi/
- do ldconfig
- Modify makefile in gila/login-test repo with appropriate header files

Expectation: binary should wo

[2019-02-14 08:35] vishnuitta opened #2391 "failing handshake between zrepl and istgt due to internal snapshots on rebuild clone"
zrepl connects and does handshake to istgt to start serving IOs.
In degraded mode, zrepl writes IOs to internally created rebuild clone of main volume. As part of rebuild process, it takes internal snapshot (lets say snap1) on rebuild clone, and syncs the data to main volume.
After the entire rebuild is done, zrepl takes care of deleting rebuild clone and the snapshots created on it.

But, When th

[2019-02-14 08:35] vishnuitta commented on #2391
This PR https://github.com/openebs/zfs/pull/199 fixes the above issue.

[2019-02-14 08:35] #2391 closed

[2019-02-14 08:36] vishnuitta commented on #2391
cc: @kmova

[2019-02-14 09:23] #2338 closed

[2019-02-14 09:48] kmova commented on #2294
Ephemeral storage requests can be used only with 1.13 (where the feature has moved to beta) or in earlier versions if the feature-gate flag is enabled. As suggested above, it will be good for OpenEBS to automatically determine the version and update the ephemeral requests for the pods it is generating.

When using the automated setup, we will need to audit the logs of all the containers to make su

[2019-02-14 09:50] kmova commented on #2294
Leaving this issue to be in open-state till we get the automated configuration working via the OpenEBS operator workflow - that will help with launching and managing the other openebs pods. ( cc: @AmitKumarDas )

[2019-02-14 09:51] sonasingh46 opened #2392 "Use owner reference to delete cStor pool."
## Description
Until 0.8.1 cStor pool deletion happens via CAS templates.
Owner references can be used to handle this deletion without the CAS template code and it will be easier to maintain as well help to incorporate cStor day 2 operations more easily.

[2019-02-14 09:57] sonasingh46 opened #2393 "Stale status in CSP"
## Description
The CSP status ( status.phase field of CVR object) was `Online .
But actually the pool pod was in pending state.
Similar, behaviour can be observed for other resources e.g. CVR.
## Expected Behavior
The status on CSP should not be `Online`

## Possible Solution
Cstor-Operator should put node or pod statuses on the CSP and other relevant CRs related to cStor pool.

[2019-02-14 10:23] sonasingh46 opened #2394 "[Pool Expansion]Adding disks on SPC should expand the existing cStor pool vertically."
## Description
If I attach disks on a node where a cStor pool is already created , and put this disk to disk list in SPC the cStor pool should get expanded.

[2019-02-14 10:24] sonasingh46 opened #2395 "Support for horizontal downscale of cStor in manual provisioned pool."
## Description

Removing all the disks of a node from the SPC should delete the cStor pool on that node.

[2019-02-14 10:26] kmova commented on #2363
With  0.8.1, the following can occur when disks are detached and re-attached.
(a) A liveness check has been added to the cstor pool pods. If the cstor pool is of type stripe and if the disk is unattached, the pool pod will continuously be restarted. The user will need to re-attach the disk.
(b) In case of mirror and a single disk has failed, the IO will continue. After the disk is re-attached, the

[2019-02-14 10:30] sonasingh46 opened #2396 "[Pool Movement]Attaching the same disk from a old node to a new node should move the volumes."
## Description
I have a cStor pool configured properly on one of the node and for some reason if this node goes bad , I should be able to put these disks on new functional nodes so that my volume also gets migrated successfully.

[2019-02-14 17:08] vishnuitta commented on #2385
this scenario tracked through #2391 .. hence closing this

[2019-02-14 17:08] #2385 closed

[2019-02-14 20:39] heppstux commented on #1910
it would be great, if it was possible to just use the remaining free space for the pool - any chance?

[2019-02-15 04:41] kmova commented on #2272
This issue can occur on any Managed Kubernetes (like GKE) setups where cStor is running on external disks attached to the K8s nodes (like GPD). Typically after the upgrade of the K8s node, the node can come up with following behavior:
(a) Node comes with new K8s version and existing host-name label.
(b) Node comes with new K8s version and new host-name label.

In both the cases, the external disks

[2019-02-15 05:46] #2392 closed

[2019-02-15 05:48] kmova commented on #2342
The docs will have to add a note that this feature is available on K8s clusters above version 1.11

[2019-02-15 07:11] payes opened #2398 "Add logs at replica for IOs taking more than Read/Write I/O timeouts"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST:

**What happened**:
Currently there is no way in jiva to recognize the reason for late response of IOs from replica.
There could be a network error or an IO delay on filesystem.

**What you expected to happen**:
Although logs at controller show that there was no response from replica for particular IO, but similar log should be printed i

[2019-02-15 07:42] utkarshmani1997 opened #2399 "Replica get blocked on monitorChan if controller go down in registration/sync process"
## Description

Replica in autoregistration/sync process get blocked on monitorChannel if controller goes down in this process.

## Expected Behavior

Replica should immediately be informed about controller disconnection and restart auto registration process.

## Current Behavior

Replica was waiting indefinately on monitorChannel but due to best effort policy in replica if no one waits on monitor

[2019-02-16 07:09] atulabhi commented on #2396
**Steps to move the pool to new node**

Step 1. Attach the disk to the new node.
Step 2. Get the new node name.
Step 3. Edit the CSP and update with the new node name in `kubernetes.io/hostname`.
Step 4. Edit the the cstor deployment which was for that node and update the `nodeSelector` with new node name.

[2019-02-16 07:46] utkarshmani1997 opened #2401 "Parallelize travis ci in all the repositories to reduce build time."
## Description

- Builds in travis take time if we push a new commit and we have to wait for it to pass so that we can make progress on any fix, which impacts our productivity.

## Context

- If we parallelize it across several VM's we can reduce our build time to < 10 minute, which will help in improving our productivity since we will get the details of failed test cases asap and we don't have to

[2019-02-20 07:58] AmitKumarDas commented on #2321
https://github.com/openebs/openebs/issues/2389

[2019-02-21 05:22] kmova commented on #2382
There is work to be done in K8s  (kubelet) from hogging the RAM/CPU of the node when the commands it executes results in generating too many logs. This is being tracked by: https://github.com/kubernetes/kubernetes/issues/70890

[2019-02-21 05:34] kmova commented on #2382
The timeout of `iscsiadm discovery` command was being caused by cstor target, failing to read the discovery packet that arrived few ms later after the initial connection. This was tracked down to the socket readv call being made with LOWAT set to 48. After setting the value to default `1`, the readv calls are not blocked.

This was a very hard issue to reproduce and many many thanks to @proegssilb

[2019-02-21 08:11] AmitKumarDas commented on #2389
#### Low Level Implementation
##### [cstor only] - find eligible node(s) to place the replica
  - `pkg/cstorpool/v1alpha1/cstorpool.go`
[code]

  - `pkg/cstorvolumereplica/v1alpha1/kubernetes.go`
[code]

  - `pkg/cstorvolumereplica/v1alpha1/cstorvolumereplica.go`
[code]

  - `pkg/algorithm/cstorpoolselect/v1alpha1/doc.go`
[code]

  - `pkg/algorithm/cstorpoolselect/v1alpha1/select.go`
[code]
  - te

[2019-02-21 13:25] kmova commented on #2382
The test program used to check how the OS handles delayed packets when SO_RCVLOWAT is set is available here. https://github.com/pawanpraka1/gist

When running this program by simulating the network condition of delayed packet arrivals - the read calls are getting blocked. A issue for this is raised on Fedora at: https://bugzilla.redhat.com/show_bug.cgi?id=1679565

We have verified that the issue d

[2019-02-21 17:21] kmova commented on #2325
@runningman84 - Apologize for the delay in responding and thank you for resurfacing it today with @epowell101!

cstor-sparse (pool-mgmt) pod needs to access the custom resources. The configuration / RBAC seems be appropriate since maya-apiserver uses the same service account and is able to interact with the K8s to provision the pools and volumes.

Couple of questions:
(a) Was the K8s upgraded afte

[2019-02-21 17:48] runningman84 commented on #2325
The k8s version was not updated back then. Just the openebs helm chart was updated. But uninstalling and reinstalling the chart did not help either.
I was not aware how to update the tokens. If this is a common problem you might want to add this to your faq.

[2019-02-21 18:04] kmova commented on #2325
@runningman84 - one more question. what do you mean by update - openebs helm chart? were you running 0.7.x and updated to 0.8.0?

[2019-02-22 06:49] runningman84 commented on #2325
Yes I updated the helm chart which also contains the 0.8 openebs image

[2019-02-22 08:09] utkarshmani1997 opened #2403 "Replica is not removed after rpc connection break"
## Description

We have observed race condition in controller if rpc connection breaks while testing by injecting delays at critical points.

## Expected Behavior

Controller should remove replica just after rpc connection breaks.

## Current Behavior

Replica was not removed.

## Possible Solution

Do one of the following and it should work fine.
1. Restart controller or
2. Remove replica manuall

[2019-02-22 09:03] gprasath opened #2405 "Application and its namespace not getting displayed in mayactl volume describe command."
## Description
 `mayactl volume describe --volname <PV> has to describe the volume information, status and its usage.
It is observed that the application and its namespace are not displayed when it is deployed on different namespace.

[code]

[2019-02-22 09:22] gprasath opened #2406 "mayactl volume describe command presents controller status as 'running,running,running'"
`mayactl volume describe --volname <PV name>` has to present the volume information, status and its usage. It is observed that the controller status is getting displayed as 'running,running,running` . This needs to be meaningful by conveying the actual status of the volume/target. Pasting the command output snippet below.

[code]

mayactl version -

[code]

[2019-02-22 14:17] kmova commented on #2311
Merged to 0.8.x for 0.8.1 release.

[2019-02-22 14:17] #2311 closed

[2019-02-22 14:33] kmova commented on #2374
From @gila, if there are multiple CVRs to be deleted:

[code]

[2019-02-22 16:19] kmova commented on #2325
Thanks @runningman84. I will try those steps and check I can reproduce it.

[2019-02-23 16:59] kmova commented on #2382
The cstor target has been updated to work with slow receiving iscsi PDUs.

[2019-02-23 16:59] #2382 closed

[2019-02-23 17:01] kmova commented on #1910
There is some ongoing work on this one for 0.9 - @heppstux. It will great, if you can provide more information about your use case/deployment.

[2019-02-23 17:05] Yaxian commented on #1688
same issue
[code]

[2019-02-24 03:16] kmova commented on #1688
@Yaxian

Can you please check if your OS is listed in this documentation https://docs.openebs.io/docs/next/prerequisites.html and if iSCSI initiator is properly installed as per the steps outlined there.

`executable file not found in $PATH` usually indicates issue with the iscsi-initiator setup. Can you provide the following details from the node - iZ2zegckpmdcwq51bxc71vZ.
[code]

[2019-02-24 16:07] nvoskuilen commented on #2243
I suspect it has to do with the jiva.replicas which is default set to 3. In this case a cluster must have at least 3 nodes.

My setup is one cluster and one node (1x bare metal machine)
- Rancher 2.1.5
- Ubuntu 16.04

Here is what I did to make OpenEBS working:

[Cleanup]
- Remove openebs catalog app, and remove openebs from namespaces
- remove the extra_binds from kubelet (if exists)
- remove ope

[2019-02-25 01:38] Yaxian commented on #1688
Hi @kmova,  thanks very much for replying!
The node `iZ2zegckpmdcwq51bxc71vZ` is `master`.
The app `mongo` was scheduled at `node2 iz2ze9ockjuosa8l5k8aydz`, and `pv` was scheduled at `node1`.

[code]

[code]

- Is kubelet running in container?

---
- node1 iZ2zef6lmymbaovo4qdl84Z
[code]

[code]
---

node2 iZ2ze9ockjuosa8l5k8aydZ

[code]

[code]

BTW, how to check the  logs of `iscsid`?

Thanks ver

[2019-02-25 16:58] muratkars opened #2411 "Upgrade OpenEBS charts in Rancher Catalog"
OpenEBS is part of the [Rancher Catalog](https://github.com/rancher/charts) where a curated collection of Rancher 2.0 enhanced Helm charts are stored.
Different from the Helm/Stable charts, a Rancher chart has two additional files an app-readme.md file that provides a high-level overview display in the Rancher 2.0 UI and a questions.yml file defining questions to prompt the user with.

Current cha

[2019-02-25 16:58] #2178 closed

[2019-02-25 18:29] kmova commented on #2411
Rancher openebs chart is located at : https://github.com/rancher/charts/tree/master/proposed/openebs/latest

[2019-02-25 18:31] kmova commented on #2406
It will be good to fetch the details that are available on cstorvolume and cstorvolume replica - that provide details on whether the cstor controller (target) is healthy or degraded etc.,

[2019-02-25 18:54] kmova commented on #1688
@Yaxian .. from the above, I can confirm that the iSCSI is installed and the required kernel modules are loaded on the host.

In the iscsid logs, I am still missing `pvc-d9810127-378b-11e9-a3ee-00163e0ec7ac`

From the logs provided, above - I see that some of the volumes are logged in. Did this mount error start occurring recently? Were there any recent changes/upgrades done to cluster? How is the

[2019-02-26 01:02] Yaxian commented on #1688
@kmova Thanks！I don't know how to check the logs of `pvc-d9810127-378b-11e9-a3ee-00163e0ec7ac`. Would you tell me how to do it if you free？
Thanks, again!

[2019-02-26 05:15] utkarshmani1997 commented on #1688
@Yaxian you can run `kubectl logs -f  <pod name>` to get the logs

[2019-02-26 06:18] kmova commented on #2325
@runningman84  I have setup with pools and volumes created. And followed the helm upgrade step.
[code]

I see that the `cstor-pool-mgmt` is able to access and update the required CRs:

[code]

Would it possible for you to reproduce the issue again @runningman84?

[2019-02-26 06:38] Yaxian commented on #1688
@utkarshmani1997 Thanks very much. Here is the pv logs

[code]

[code]

[code]

[2019-02-26 06:49] utkarshmani1997 commented on #1688
@Yaxian is it possible to get complete logs since above logs are not helping us.

[2019-02-26 07:04] prateekpandey14 commented on #2411
PR to update OpenEBS charts in Rancher catalog https://github.com/rancher/charts/pull/133

[2019-02-26 07:34] Yaxian commented on #1688
Here is the [pvc-d9810127-378b-11e9-a3ee-00163e0ec7ac-ctrl.log](https://drive.google.com/file/d/1s9EE1ONB2ClJScf9jpktm7T-TddI7EVa/view?usp=sharing)

[2019-02-26 08:24] kmova commented on #359
Provisioner is being deprecated in favor of CSI. No further activity planned on the external-storage provisioner.

[2019-02-26 08:24] #359 closed

[2019-02-26 08:26] kmova commented on #372
No further changes planned with the external storage provisioner.

[2019-02-26 08:26] #372 closed

[2019-02-26 08:28] kmova commented on #737
The operator yaml can be modified to provide these details.

[2019-02-26 08:28] #737 closed

[2019-02-26 08:29] #2089 closed

[2019-02-26 08:29] #2097 closed

[2019-02-26 08:30] #2098 closed

[2019-02-26 08:30] #2109 closed

[2019-02-26 09:37] chandankumar4 commented on #2325
I'm trying to reproduce this issue but didn't see any issue related to **cstor-spare-pool** in kube-apiserver log
[code]
[code]
[code]
[code]

[2019-02-26 09:59] gentios opened #2412 "Provisioning Failed - Failed to provision volume with StorageClass"
## Description
I am following the docs for launching a PostgreSQL stateful application using the official docs:
https://docs.openebs.io/docs/next/postgres.html

but it's failing with the error logs as below in the PVC:

[code]

PostgreSQL Pod logs:

[code]
## Expected Behavior
Should launch the PostgreSQL POD

I am running the helm command for installing PostgreSQL as follows:

[code]

## Your Env

[2019-02-26 10:06] ranjithwingrider commented on #2412
@gentios Thank you for explaining the problem with sufficient logs. So what is the replica count of StorageClass of openebs-cstor-disk.
Also I could not find cStor disk pool pods are not created.
Can i get output of following commands
[code]

[2019-02-26 10:08] gentios commented on #2412
@ranjithwingrider thank you for your fast response.

Please find the logs as below:

[code]

[2019-02-26 10:12] AmitKumarDas commented on #2412
@gentios Can you change those commands slightly into following:
[code]

[2019-02-26 10:18] gentios commented on #2412
@AmitKumarDas thank you, please find the additional logs below:

[code]

[code]

[code]

I do not have maya api server at the moment.

[2019-02-26 10:25] ranjithwingrider commented on #2412
Thank you for the requested logs. So just wanted to know whether you have any disks attached to this worker node?
`kubectl get disk` will give the details.
Also it will be helpful if you can share the SPC(pool configuration) YAML.
Also maya-api-server logs can be get from running below command
`kubectl logs openebs-apiserver-5fb96d6cdb-6sj2z -n openebs`

[2019-02-26 10:28] gentios commented on #2412
Yes I have a disk in the worker node:

[code]
[code]
Maya logs;

[code]

[2019-02-26 10:34] ranjithwingrider commented on #2412
So this sparse disk is created by OpenEBS during the OpenEBS installation and created a default cStor pool `cstor-sparse-pool-kk4o` using this disk. So you can ignore to create new SC(openebs-cstor-disk) and new pool(cstor-disk).
You can choose default StorageClass `openebs-cstor-sparse` for deploying the application. Can you try with this and let me know how it goes. Before doing this, you can de

[2019-02-26 10:45] gentios commented on #2412
It is still the same here are logs from the POD:

[code]
[code]

[2019-02-26 10:50] gentios commented on #2412
I think I have done a mistake by deleting the openebs, I will have to reinstall and I will get back to this thread.

[2019-02-26 10:52] ranjithwingrider commented on #2412
Its Okay. Can you follow the steps mentioned in the doc to delete OpenEBS gracefully.
https://docs.openebs.io/docs/next/uninstall.html
After the verification, you can install new OpenEBS cluster.

[2019-02-26 12:16] gentios commented on #2412
@ranjithwingrider thank you, I uninstalled and installed again and i get the following error in the PVC:

[code]

[2019-02-26 12:29] ranjithwingrider commented on #2412
ok. So you are using single node right? The logs saying that no enough pools.
The default OpenEBS StorageClass `openebs-cstor-sparse` uses 3 replica of PVC. Since you have single Node, volume Provision will fail.
So you can create a new StorageClass which will include the default cStor pool name.  Following is the new StorageClass and you can use this StorageClass in your application deployment.
A

[2019-02-26 12:46] gentios commented on #2412
@ranjithwingrider thank you very much, I could deploy it successfully.

You have done a great job guys

[2019-02-26 12:46] #2412 closed

[2019-02-27 04:02] utkarshmani1997 commented on #1688
@Yaxian logs are looking fine, first few attempts were failed since required no of replicas were not connected but as all the replicas got connected, iscsi connection established. Kernel logs are also reporting that iscsi connection initiated. Are you still facing this issue:
[code]

[2019-02-27 04:52] utkarshmani1997 commented on #1688
@Yaxian Thank you for the logs, just looked at the controller logs, replica got disconnected but controller could not remove it. This is a known issue: https://github.com/openebs/openebs/issues/2403 . BTW which version of openebs you are using, recently we have made few improvements in `0.8.1` related to rpc connection.

[2019-02-27 05:41] Yaxian commented on #1688
@utkarshmani1997 Thank you for replying.

The version is 'openebs-0.8.1', installed by helm.

Here is the [goroutine.log](https://drive.google.com/file/d/1ROGKf-RWp77LuEXWh4l77TdOiG4sEGyz/view?usp=sharing).

Thank you again.

[2019-02-27 06:31] utkarshmani1997 commented on #1688
@Yaxian did you try restarting controller, just let me know if that is helping you.

[2019-02-27 07:12] Yaxian commented on #1688
Sorry, I made a mistake. The version is `0.8.0`. Here is the images.

[code]

[2019-02-27 07:40] vishnuitta opened #2413 "performance tunings through casconfig variables"
Allow users to set available performance tunings in storage class or PVC based on their workload.
Below are the tunings that are required:
- cStor target queue depth
- cStor target worker threads
- cStor volume replica worker threads

[2019-02-27 07:50] utkarshmani1997 commented on #1688
No problem @Yaxian

[2019-02-27 09:12] dargasudarshan opened #2414 "NuoDB SM is crashing post rescheduled, observed that zrepl is consuming > 200% CPU."
NuoDB SM is crashing post rescheduled, observed that zrepl is consuming > 200% CPU.

Steps Performed:

1. Deployed NuoDB with 3 Admin, 2 SM (consuming cstor volume of size 800G) and 3 TE configuration on OpenShift 3.10 EE.
2. Ran YCSB load for 8 days.
3. Performed SM-0 pod kill, observed that the rescheduled application pod took around 12 minutes to come to running state.
4. After that SM-0 starte

[2019-02-27 09:14] dargasudarshan opened #2415 "NuoDB storage manager rescheduled pod is taking ~12 minutes to come to running state."
NuoDB storage manager rescheduled pod is taking ~12 minutes to come to running state.

Steps Performed:

1. Deployed NuoDB with 3 Admin, 2 SM (consuming cstor volume of size 800G) and 3 TE configuration on OpenShift 3.10 EE.
2. Ran YCSB load for 8 days.
3. Performed Storage Manager pod kill, observed that the rescheduled application pod took around 12 minutes to come to running state.

Please find

[2019-02-27 09:15] dargasudarshan commented on #2415
[target.log](https://github.com/openebs/openebs/files/2909395/target.log)
[sm.log](https://github.com/openebs/openebs/files/2909396/sm.log)

[2019-02-27 09:15] dargasudarshan commented on #2414
[sm.log](https://github.com/openebs/openebs/files/2909403/sm.log)
[target.log](https://github.com/openebs/openebs/files/2909406/target.log)

[2019-02-28 05:06] utkarshmani1997 opened #2416 "Add pool metrics for better observability"
## Description

Integrate pool metrics with maya-exporter

## Context

Pool is very basic prerequisit to create a cstor volume, deep visibility in this layer will help us in analyzing what could gone wrong. zfs and zfs binaries are already there in the pool containers which provides us many stats, but user needs to exec into these containers and run these commands to get the stats. Integrating it

[2019-02-28 05:14] #2374 closed

[2019-02-28 05:28] ranjithwingrider commented on #2374
This is documented. https://docs.openebs.io/docs/next/troubleshooting.html#cvr-deletion-unsuccessful

[2019-02-28 08:12] utkarshmani1997 opened #2417 "Add more metrics for the deep visibility into istgt target"
## Description

Add metrics for the deep visibility into istgt target for the critical parts

## Context

Please refer to the proposal [doc](https://docs.google.com/document/d/13KhVCtTBuXbuXQ-O11qdjeCSXfbbdMLU0w8O0sTfNr0/edit?usp=sharing) for the details.

## Possible Solution

Add framework in istgt for various counters, histograms as mentioned in the proposal doc which will be fetched by maya-ex

[2019-02-28 23:23] Yaxian commented on #1688
Hi @utkarshmani1997 ,

I have updated the ctrl verion to `0.8.1`

[code]
and delete the ctrl pod.

Here is the [goroutine.log](https://drive.google.com/file/d/1ROGKf-RWp77LuEXWh4l77TdOiG4sEGyz/view).

Thank you.

[2019-03-01 05:38] AmitKumarDas opened #2418 "Better implementation to cleanup the orphaned cstor volume replicas"
This issue is supposed to be a side effect of https://github.com/openebs/maya/pull/955.
Since, openebs cstor volume replicas no more makes use of `finalizers`, there are chances of actual data not getting deleted from respective cstor pools.

Below are some scenarios of missing out deleting the actual data:
- Runtime error in delete handler
- Controller/Watcher was down during delete event

While

[2019-03-01 06:03] kmova commented on #1688
@Yaxian - Did you upgrade using the steps mentioned here: https://docs.openebs.io/docs/next/upgrade.html

[2019-03-01 10:47] utkarshmani1997 opened #2419 "Add pool exporter sidecar template in pool deployment runTask"
## Description

Add sidecar template for pool-exporter in cstor-pool-deployment runTask

## Context

A new feature (pool exporter) is to be introduced which needs to deployed using runTasks.

[2019-03-01 11:21] utkarshmani1997 opened #2420 "exporter is showing 0 output for healthy and degraded replica count"
## Description

In the recent testing locally we have found that output of `openebs_healthy_replica_count` and `openebs_degraded_replica_count` was 0 in 0.8.1.

## Expected Behavior

This should show the exact no of respective replica count.

## Current Behavior

Displays 0 values

## Possible Solution

This is happening due to the change in the values of two constants from `HEALTHY` , `DEGRADED`

[2019-03-01 20:29] bryanlarsen opened #2422 "helm chart should have ndm.filters.includePaths"
I'm trying out OpenEBS and it's very scary.   For example, it appears that the default behaviour would overwrite my backup EFI System Partition, since it's not mounted!!

I would love to see documentation on how to install OpenEBS in a mode that does *not* scan for disks, and then corresponding instructions on how to manually add disks to the cstor pool.

Second best would be to have an exclude fi

[2019-03-01 20:38] bryanlarsen commented on #1910
@kmova I'm not sure that this is the same request as @heppstux, but it would be nice if openebs could use unused space in LVM volume groups.   For instance, here is what we see when we do `vgdisplay` on a node:

[code]

[2019-03-01 20:42] kmova commented on #2422
@bryanlarsen Thanks for this request - adding the includePaths makes sense.

The following is probably a lengthy work-around, but just thought of sounding it out.
- You can setup the openebs install to run *without ndm*, by either deleting the NDM DS after it is installed or by setting the node-selector of NDM in a way that it doesn't get launched. (As we move to an operator based setup, it will b

[2019-03-02 07:21] heppstux commented on #1910
Hi @kmova, hi @bryanlarsen,
I hope, I can shed some light into this:

I have a couple of servers with two large SSDs that are mainly used to boot the OS and hold the root-fs (as mirrored MD) from some smaller partitions. The rest of the disks is "unpartitioned" – so to say "free" ;)
I tried building a cStor pool from these SSDs in the hope, that it would just use the remaining free space and creat

[2019-03-02 11:38] AmitKumarDas commented on #1910
@heppstux Its great to know you have trying to make it work with all options possible. Working with partitions has been in our radar for sometime now. This data will certainly help us to implement a proper solution. cc @akhilerm @satbirchhikara

[2019-03-02 21:47] andrei-dascalu commented on #1295
@muratkars Hello!

I see this is still open and the issue also interests me a lot as I'm working on a k8s cluster on Rock64 boards.
I've tried the instructions at https://blog.openebs.io/arming-kubernetes-with-openebs-1-b450f41e0c1f but it looks like the yml provided aren't available anymore.
Is there something I can do to help with this?

Cheers!

[2019-03-02 22:36] muratkars commented on #1295
Thanks @andrei-dascalu . Team is working to get automation of multi-architecture images up soon. In the meantime, I'll try to get the v0.8.1 arm64 built this week and update the issue here. cc @harshvkarn

[2019-03-02 22:48] runningman84 commented on #2325
ok I could not reproduce the error with the latest 0.8.1 release

[2019-03-03 15:14] Yaxian commented on #1688
Yes.

[code]

[2019-03-03 22:10] heppstux opened #2424 "Update Scripts from 0.8.0 to 0.8.1 not working on MacOS due to unsupported command line switch -u for sed."
## Description
update scripts `cstor_pool_upgrade.sh` and `cstor_volume_upgrade.sh` are not compatible with mac os version of sed.

## Expected Behavior
should work

## Current Behavior
[code]

## Possible Solution
remove `-u` from sed command.

## Your Environment
* MacOS Mojave 10.14.3

[2019-03-04 15:12] #2424 closed

[2019-03-05 00:37] silasb commented on #2305
I landed here from Google via "not enough pools available to create replicas".  My issue is very similar and I have 3 node setup 1 master + 2 workers.  I ended up changing both my storage classes (openebs-jiva-default and openebs-cstor-sparse) to use 2 replicas instead of 3.

[2019-03-05 03:20] AmitKumarDas commented on #2305
thanks @silasb ... this is expected. However, was the error message clear enough?

[2019-03-05 03:56] silasb commented on #2305
Yes, but it took me a second to realize that my storage class determined the number of replicas present.  Maybe the default should be 2 nodes as I'm sure a lot of people, including me, are testing EBS on their homelab.

[2019-03-05 04:11] AmitKumarDas commented on #2305
@silasb OpenEBS recommends 3 nodes as high availability of storage is considered important. In case of 2 nodes, if one node experiences any problem, data will be available as ReadOnly. I am cc-ing @kmova @ranjithwingrider to see if something can be done in this regard.

[2019-03-05 10:37] vishnuitta opened #2429 "placement of target and replica related pods, custom resources in case of STS applications"
## Description
In case of STS applications using OpenEBS volumes, target and replica related resources need to have affinity with application. This means, for a given OpenEBS volume, target and replica related resources should be on the same node where application resides.
Also, this should be configurable, which means, user should be able to enable/disable affinity feature.

## Context
In a K8s c

[2019-03-05 10:55] AmitKumarDas commented on #2429
@vishnuitta Can we make use of `WaitForConsumer` for both target as well as replica pod affinity for both cstor as well as jiva? Do we need to consider labels at all?

[2019-03-05 11:09] vishnuitta commented on #2429
That makes sense @AmitKumarDas . Affinity can be developed based on the priority of labels.
All users may not use `WaitForFirstConsumer` as `volumeBindingMode`.

[2019-03-05 11:16] vharsh commented on #1129
wontfix ?

[2019-03-05 11:49] vishnuitta commented on #2429
cc: @kmova

[2019-03-05 12:54] utkarshmani1997 commented on #1129
cc: @kmova

[2019-03-06 01:47] kmova commented on #2325
Thanks for trying this out @runningman84 . Will close this issue for now as not reproducible in 0.8.1

[2019-03-06 01:47] #2325 closed

[2019-03-06 15:21] kmova commented on #64
We are no longer supporting the Vagrant based setup after minikube has become popular. The last supported version was with K8s 1.8.

[2019-03-06 15:21] #64 closed

[2019-03-06 15:22] kmova commented on #68
We are moving from shell script to Go or Python.

[2019-03-06 15:22] #68 closed

[2019-03-06 15:22] dargasudarshan commented on #2415
Application pod describe events showed
mount/umount stuck around 8 minutes

[2019-03-06 15:22] muratkars commented on #41
Moved to marketing backlog

[2019-03-06 15:22] #41 closed

[2019-03-06 15:23] kmova commented on #87
Add a terminology section in the contributor docs.

[2019-03-06 15:25] kmova commented on #98
This is being worked on by writing OpenEBS plugin to Ark (Valero)  https://github.com/heptio/velero

[2019-03-06 15:30] kmova commented on #209
The current process is being documented in https://docs.google.com/document/d/1yUqps_Yvg5i1fmu0QOXSAJeK1-H2kkTNaN524y3ko8g/edit.

After the reviews, will need to upload the above into contributor section.

[2019-03-06 15:32] muratkars commented on #1011
We are no longer supporting the Vagrant based setup after minikube has become popular. The last supported version was with K8s 1.8.

[2019-03-06 15:32] #1011 closed

[2019-03-06 15:32] muratkars commented on #573
We are no longer supporting the Vagrant based setup after minikube has become popular. The last supported version was with K8s 1.8.

[2019-03-06 15:32] #573 closed

[2019-03-06 17:28] kmova commented on #237
No separate documentation is required for running OpenEBS as long as the common prerequisites are met.

(This issue was created earlier, when the K8s install also was being documented as part of the OpenEBS installation.)

[2019-03-06 17:28] #237 closed

[2019-03-06 17:31] kmova commented on #269
Snapshots are supported via the K8s snapshots API. The schedules etc., will be triggered via the K8s Jobs. Currently there is no plan to support this via mayactl.

[2019-03-06 17:31] #269 closed

[2019-03-06 17:40] kmova commented on #315
Enumerating all the labels doesn't sound like a great idea. Instead we should focus on the main categories.

[2019-03-06 17:44] kmova commented on #330
Closing this for now, as the only usecase is to consume the iSCSI volumes via Kubernetes as iSCSI PVs. Besides, the commands for consuming the iSCSI volumes for each platforms can be found in the respective docs.

[2019-03-06 17:44] #330 closed

[2019-03-06 17:45] kmova commented on #331
The commands are available at : https://github.com/openebs/jiva/wiki/Curl-commands

[2019-03-06 17:46] kmova commented on #339
The docs are maintained in a different repo openebs/openebs-docs.

[2019-03-06 17:46] #339 closed

[2019-03-06 17:51] kmova commented on #352
Tracked under: https://github.com/openebs/openebs-docs/issues/550

[2019-03-06 17:51] #352 closed

[2019-03-07 10:40] gprasath opened #2431 "Unable to delete namespace in presence of openebs-admission-server."
## Description
During namespace deletion, k8s checks for the resources including pvc and attempts deleting those resources too. Here, openebs admission server should permit the deletion of namespace if there is no pvc.

- Deployed openebs with ci image.
- Observed that openebs-admission-server pod (Admission-webhook) running.
- Tried to delete a namespace. It stuck in terminating state.

## Expect

[2019-03-07 11:29] ajeshbaby opened #2432 "Latency for a volume shows very high in order 150+ms"
## Description
Prometheus volume running on cstor, Continuous alerts getting generated stating the latency is very high in the order of 200ms. The graphs are showing very high value on the latency part.
[code]

## Expected Behavior
Latency of SSD should be in order of 2ms or less

## Current Behavior
Latency showing higher value

## Possible Solution
Validate the metrics are correct, else we need

[2019-03-07 11:47] ajeshbaby opened #2433 "cStor pool pod unable to connect to outside of the hostmachine/apiserver."
## Description
cStor pool unable to communicate to outside , where as other pods are able to communicate to outside. This is second time i had hit with issue, i have left the pod at this state for debugging. If we restart the pool-pod it would work fine.
## Setup Details
Openshift -- 3.10
K8S Version -- 1.10
OS Version -- RHEL 7.6
[code]

## Expected Behavior
Communication should happen form pod t

[2019-03-07 12:02] vishnuitta commented on #2432
Need other stats as well like cpu/ram/iscsi disks/disks/network latencies for that time period.

[2019-03-07 12:45] ajeshbaby commented on #2432
System is attached to MayaOnline, the latency is happening continuously.  User details provided on the slack.
Didn't see much deviation on RAM/CPU utlilization except scope agent using 50% on one of the CPU.

[2019-03-07 13:18] prateekpandey14 opened #2434 "Creating bunch of cstor volumes not getting healthy due to quorum mismatch"
## Description

While creating a bunch of cstor volumes in a single shot some of the volume are not getting Healthy due to quorum mismatch with 3 `replicacount`.

Getting the below error in `cstor-istgt` containers
[code]
### Quorum info from the `istgtcontrol -q replica` command in target pod
[code]
#### Istgt container logs
[code]

#### zfs get quorum for all replicas

[code]
[code]
[code]
## Ex

[2019-03-07 18:06] kmova commented on #354
The replicas are made configurable via the StorageClass - ReplicaCount policy. There are currently no plans to auto detect and configure  the replica count.

[2019-03-07 18:06] #354 closed

[2019-03-07 18:15] kmova commented on #378
Thanks @itaditya for the above suggestions!

[2019-03-07 18:23] kmova commented on #384
@utkarshmani1997 - this could be useful for getting details on the latency and iops histograms. Is this being considered as part of the monitoring revamp work that is going on?

[2019-03-07 18:26] kmova commented on #386
As part of implementing the openebs.ci, the logs are now stored in ElasticSearch and visualized through Kibana.

[2019-03-07 18:26] #386 closed

[2019-03-08 06:38] bwolf commented on #1295
@muratkars Anything new for us waiting for arm64? I'm curious to give OpenEBS a try on my cluster!

[2019-03-08 07:37] litaxc commented on #2272
Having the same problem on bare-metal.
Follow along the instruction on [https://docs.openebs.io/docs/next/configurepools.html](https://docs.openebs.io/docs/next/configurepools.html) without specifying diskList
We are using LVM, could this be a problem?

[code]

[2019-03-08 08:04] kmova commented on #2272
@litaxc - it says that `/dev/disk/by-id/ata-Samsung_SSD_860_EVO_500GB_S3Z3NB0K809564D is in use and contains a unknown filesystem`

Can you provide the output of:
`kubectl get spc -o yaml`
`kubectl get sp -o yaml`
`lsblk`  and `mount` from the node where the cstor pool pod is launched.

[2019-03-08 08:34] #2431 closed

[2019-03-08 09:55] vishnuitta commented on #1688
hi @Yaxian .. sorry for delayed response. I notice that this got missed.
We do have a slack channel https://openebs-community.slack.com/messages where community helps, and, also response would be faster than this. Would you like to join there?

[2019-03-08 13:26] kmova commented on #423
Closing this as stale for now. A new design doc or note can be updated when the details are available.

[2019-03-08 13:26] #423 closed

[2019-03-08 13:27] kmova commented on #436
The e2e has moved to openebs.ci. This is no longer required.

[2019-03-08 13:27] #436 closed

[2019-03-08 13:30] kmova commented on #438
With the movement to CAS templates for launching the volume and pool deployments, the K8s parameters can be easily configured. The comments/notes provided in this issue can be helpful to set the default values. However, closing this issue as stale for now and will revisit with new issues for specific aspects that need to be modified.

[2019-03-08 13:30] #438 closed

[2019-03-08 13:32] kmova commented on #439
@josdotso @clkao - Went ahead with the approach of supporting RWM via the use of nfs provisioner on top of iSCSI block volume. More details can be found at: https://docs.openebs.io/docs/next/rwm.html

[2019-03-08 13:34] kmova commented on #1899
@ronakpandya7, You can use RWM now by running nfs provisioner on top of iSCSI block volume. More details can be found at: https://docs.openebs.io/docs/next/rwm.html

Would love to hear from you if the above solution works for you.

[2019-03-08 14:07] kmova commented on #449
The idea was to get this into a spec that will help writing orchestration of openebs volumes in non-K8s environments.

The spec is now recorded as part of the CAS templates under: https://github.com/openebs/maya/tree/master/pkg/install/v1alpha1

Also closing this issue as currently there are no active plans to orchestrate outside of K8s.

[2019-03-08 14:07] #449 closed

[2019-03-08 14:12] ismail0077 opened #2435 "[cStor] mysql sts went to Read-Only when mysql-cstor-disk pod got evicted"
<h2>Description</h2>
Mysql sts application went into Read-only state as cstor pod got evicted.

<h2>Details</h2>

**Cluster Details**

- Application running on 4 node cluster - 1.10.11-gke.1
- Openebs version 0.8.1

**Resource Limit of Mysql pod**

- cpu: 500m
-    memory: 1Gi

**Storage Class**

- Request Storage - 80G
- Replica Count - 1

<hr>

Pods list
[code]
kubectl logs -f mysql-0
[code]

ku

[2019-03-08 14:35] kmova commented on #502
We have been observing this issue in the recent K8s versions. Closing this as being stale for more than 6 months.

[2019-03-08 14:35] #502 closed

[2019-03-09 04:09] litaxc commented on #2272
I delete the whole openebs namespace and can successfully reproduce the same error with the following command:

[code]
the yaml is exactly the same as the [doc](https://docs.openebs.io/docs/next/configurepools.html#auto-mode)

and the output of lsblk:
[code]

and the output of mount
[code]

[2019-03-09 13:11] kmova commented on #2272
@litaxc - sda and sdb both are part of the lvm-root.

Can you share the `kubectl get disks -o yaml` also from the above setup. It appears that NDM was not able to detect that both sda and sdb are used by lvm and mounted as `/` - and it will probably show up `sdb` as available. But then an additional check within the pool management, will block from creating a pool on a disk that is already mounted

[2019-03-10 02:16] litaxc commented on #2272
Here's the output of kubectl get disks.

[code]

I also tried specifying disks that only from /dev/sda or /dev/sdb, but encounter the same error.
I'll report back after we remove lvm on some of the nodes.

[2019-03-10 09:47] Yaxian commented on #1688
@vishnuitta . Sure, That's great. Would you send me an invitation, please? My email is `yaxian.gu@gmail.com`. Thank you!

[2019-03-10 09:58] AmitKumarDas commented on #1688
@Yaxian can you try this link
https://openebs-community.slack.com/join/

[2019-03-10 10:02] AmitKumarDas commented on #1688
@Yaxian can you please join the slack by following below

https://github.com/openebs/openebs/blob/master/community/README.md

[2019-03-11 04:12] kmova commented on #510
Closing as stale issue.

[2019-03-11 04:12] #510 closed

[2019-03-11 09:28] ajeshbaby commented on #2433
Attached the logs  `kubectl logs cstor-pool1-br9f-77fd9cff5-lp65b -n openebs -c cstor-pool-mgmt > fulllog.out`

[2019-03-11 13:15] #2420 closed

[2019-03-11 13:25] #2419 closed

[2019-03-12 07:13] payes opened #2436 "Add an event with failure message in cvr if the volume creation fails at replica"
## Description
When a volume creation fails cstor-pool-mgmt doesn't create an event for CVR showing the same. Volume creation failed at replica due to incorrect size provided. Although, pod messages pointed out the issue (volume size must be a multiple of volume block size) but the same should have been visible when a cvr describe was done.

kubectl describe cvr -n openebs pvc-781233ff-448e-11e9-9

[2019-03-13 08:12] #2416 closed

[2019-03-13 11:27] dargasudarshan opened #2437 "Rebuild is triggered even with single replica cstor volume."
## Description
Rebuild is triggered even with single replica cstor volume.

## Expected Behavior
Rebuild should not happen on single replica cstor volume

## Current Behavior
Rebuild is triggered even with single replica cstor volume.

## Your Environment

* `kubectl get pv`:
pvc under test: ```pvc-45fe1751-3fee-11e9-a23b-0050569331ce```

Please find the attached cstor-pool pod logs.

[cstor-pool.

[2019-03-13 14:16] prateekpandey14 commented on #2316
fixed in #https://github.com/openebs/maya/pull/919

[2019-03-13 14:16] #2316 closed

[2019-03-13 15:24] kmova commented on #1295
Thanks @bwolf for checking back on this. Added this for 0.9.

[2019-03-13 16:34] vishnuitta opened #2438 "NDM creating disk CR for OpenEBS cStor volumes"
[code]

[2019-03-13 22:29] muratkars commented on #1146
We will update the instructions to address [RancherOS not persisting user volume](https://github.com/rancher/os/issues/2188).
New instructions will be available [here](https://docs.openebs.io/prerequisites.html#rancher)

In the meantime here are the steps to run OpenEBS on RancherOS.
1) Install rancheros
2) Install open-iscsi support
  - `ros s enable open-iscsi`
  - `ros s up open-iscsi`
       -

[2019-03-14 11:10] ismail0077 opened #2440 "[jiva] Mysql sts with openebs jiva struck into Init State as failed to mount volume"
<h2>Description</h2>
<p>Mysql sts with OpenEBS jiva struck into <b>inti state</b> as failed to mount the volumes. Volumes were in a healthy state checked exec into maya-api-server. Restarting Mysql got on schedule with the same node. </p>

<p>Worked around with cluster node with session logging out and loggin in <b>iscsiadm -m session -P 3</b> But volume mount failed to schedule on cluster node ev

[2019-03-15 08:18] kmova commented on #1688
Thanks @Yaxian for helping resolve this issue.

The issue got resolved after installing `xfsprogs` on the application node.
[code]

The kubelet had the following errors during the mount process:
[code]
And dmesg was showing errors like:
[code]

[2019-03-15 23:35] Yaxian commented on #1688
It may happen when the value of `FSType` is `xfs` provided in the `StorageClass`.

[2019-03-18 05:04] mittachaitu opened #2441 "cloned volume will never be healthy if the volume is created with different capacity(greater than snapshot size)"
## Description

If the clone volume is created with more capacity than the snapshot size due to inconsistency at the client side and zfs side, istgt will disconnect the replicas hence volume will never become the healthy state.
## Expected Behavior

cloned volumes shouldn't be created if the volume capacity other than snapshot size.
## Current Behavior

cloned volumes are created even if specify d

[2019-03-19 05:21] ajeshbaby opened #2442 "Stale entries get remained in cStor pool even after deletion."
## Description
Logs getting flooded, the below entries and looking further into it, found these are stale entries. We need to clean this as part of deletion of volumes/clones.

[code]
[code]
[code]
Check the pv,pvc,cvr for entries shown in log , we can see that entries are removed as part of pv,pvc,cvr but it remains in cStorpool.

[code]
## Expected Behavior

Deleted volume entries should be clea

[2019-03-19 05:51] prateekpandey14 commented on #2413
Performance tunnables has been added in above reference PR's, user can mentioned these tunnables in there respective `StorageClasses` to tune these config variables.
[code]

[2019-03-19 05:51] #2413 closed

[2019-03-19 09:14] #2320 closed

[2019-03-19 18:45] ashishranjan738 opened #2443 "Refactor/Redesign artifact package based on review comments of PR 957"
Currently, the artifact package is not scalable and manageable so a redesign is required based on idiomatic maya thought process.

[2019-03-20 06:38] ashishranjan738 commented on #2429
closing this issue as PR has been merged

[2019-03-20 06:57] prateekpandey14 commented on #2350
Fixed in https://github.com/openebs/maya/pull/919

[2019-03-20 06:57] #2350 closed

[2019-03-20 07:00] prateekpandey14 commented on #937
fixed in https://github.com/openebs/maya/pull/230

[2019-03-20 07:00] #937 closed

[2019-03-20 07:06] vishnuitta commented on #2429
Required merges are done. Closing the issue.

[2019-03-20 07:06] #2429 closed

[2019-03-20 13:20] kmova commented on #512
Fixed in 0.8.1 https://github.com/openebs/maya/pull/921

[2019-03-20 13:20] #512 closed

[2019-03-20 13:26] kmova commented on #526
The e2e has been moved to openebs/litmus, where the dependencies are handled by the litmus container.

[2019-03-20 13:26] #526 closed

[2019-03-20 13:27] kmova commented on #527
The ARA way of reporting the CI results has been depricated. The CI results are not available at https://openebs.ci

[2019-03-20 13:27] #527 closed

[2019-03-20 13:30] kmova commented on #535
Currently, the preferred approach to Backup/Restore of Jiva Volumes to S3 is via Velero. https://github.com/heptio/velero

The documentation is available at : https://docs.openebs.io/docs/next/backup.html

This issue is kept open in case there is interest in trying to use a direct approach for Backup and Restore from Jiva itself.

[2019-03-20 13:32] kmova commented on #547
Fixed with https://github.com/openebs/openebs/pull/2218

[2019-03-20 13:32] #547 closed

[2019-03-20 13:33] kmova commented on #548
The travis integration tests use the Minikube. The tasks of setup and tear down of K8s clusters is now handled via the https://github.com/openebs/litmus.

[2019-03-20 13:33] #548 closed

[2019-03-20 13:35] kmova commented on #549
e2e tests for openebs/maya repo are being added here: https://github.com/openebs/maya/tree/master/integration-tests

[2019-03-20 13:35] #549 closed

[2019-03-20 13:36] kmova commented on #550
The e2e approach mentioned in this issue has been deprecated.

[2019-03-20 13:36] #550 closed

[2019-03-20 13:36] kmova commented on #551
The e2e approach mentioned in this issue has been deprecated.

[2019-03-20 13:36] #551 closed

[2019-03-20 13:44] kmova commented on #591
`mayactl` in 0.8.1 has been refactored to interact with K8s and maya-apiserver for getting all the details. (The dependency on jiva controller has been removed).

However, this needs further improvement to interact with maya-apiserver via the K8s API extensions.

The latest on running the mayactl and the information it provides is available here:
https://docs.openebs.io/docs/next/mayactl.html

[2019-03-20 13:47] kmova commented on #592
the image size of the maya-apiserver has been optimized, after shifting from ubuntu to alpine. The dependencies on the tools still remain as they are helpful for running `mayactl` commands and for troubleshooting.

Adding this to the GA milestone to check for one final round of cleanup.

[2019-03-20 13:49] kmova commented on #594
The code for e2e has been deprecated. For latest please check https://github.com/openebs/litmus

[2019-03-20 13:49] #594 closed

[2019-03-20 13:50] kmova commented on #600
The documentation is available at : https://docs.openebs.io/docs/next/configuresc.html

[2019-03-20 13:50] #600 closed

[2019-03-20 13:55] kmova commented on #658
Thanks @iamkfred for this suggestion! Will be good to have a Verification Step in the install guide.

[2019-03-20 14:42] kmova opened #2445 "Explore running cstor pool pods without privileged access."
## Description

cStor Pools need access to the `/dev` folder to access the disks. This requires cStor Pools to be run in privileged mode. Explore ways in which this can be eliminated.

## Context

Some enterprise environments have policies where pods can't be granted any OS privileges.

## Possible Solution

* Use the cStor Pool with Local PVs of the specific devices.

[2019-03-20 18:48] kmova commented on #2396
I used the following steps to migrate volume replica to a new pool. My pool was created using "auto" mode with maxPools set to 3.

- Edited the SPC to increase the count to 4.
- Waited for the new Pool to be created. `kubectl get csp`  showed the new pool.
[code]
- Run `kubectl get csp cstor-sparse-pool-f5bn -o yaml` on new pool and get the pool uuid and hostname:
[code]
- Identify the cvr (volume

[2019-03-21 02:51] ranjithwingrider commented on #1688
@Yaxian The resolution step is also documented. https://docs.openebs.io/docs/next/troubleshooting.html#unable-to-mount-xfs-volume

[2019-03-21 02:53] #1688 closed

[2019-03-21 12:56] kmova commented on #802
several common known issues are tracked under https://docs.openebs.io/docs/next/troubleshooting.html along with their resolutions.

[2019-03-21 13:20] ajeshbaby opened #2447 "CVR gets recreate state on deleting pool pod."
## Description
Minio with 4 statefulset replica (OpenEBS replica of 1 for each Minio pod)
I could see a strange behavior once the cvr status going into `recreate` tried the scenario again and again its working fine(not hitting the `recreate` state). This should not happen when you have  persistent disks.
Could hit this scenario on 2 out of 8 times.

[code]

[2019-03-21 13:21] ajeshbaby commented on #2447
[recreate_logs_previous.zip](https://github.com/openebs/openebs/files/2992183/recreate_logs_previous.zip)

[2019-03-21 15:30] useltmann commented on #2287
does it mean i have to disable selinux in order to run openebs?

[2019-03-21 16:14] akhilerm commented on #2287
@useltmann. Yes, currently you will have to disable selinux, since openebs-ndm need to run in  privileged mode for accessing `/dev` and `/sys` directories.
We are tracking this issue under [NDM privilege issue](https://github.com/openebs/node-disk-manager/issues/203)

[2019-03-21 18:12] kmova commented on #760
Thanks @sourabh1031 - Please let us know if you need any help.

[2019-03-22 03:59] AmitKumarDas opened #2451 "set any openebs pod containers with resource requests & limits"
### Why is this required?
Since Kubernetes 1.12, if any pod containers does not have its resource requests & limits set, it results into eviction.

### What needs to be done?
All openebs component should have resource requests & limits set against each of its pod containers.

_Refer: https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace/_
_NOTE: User has e

[2019-03-22 06:59] ashishranjan738 opened #2453 "Add node package to perform node related operations in idiomatic maya fashion"
Currently, there is no node related package to performs operations for maya, so new package in `pkg/kubernetes/node/v1alpha1` is required and movement of node related logic from https://github.com/openebs/maya/pull/957 to node package has to be done.

[2019-03-22 07:02] ashishranjan738 opened #2454 "Add check for CVR health in STS BDD"
Currently, there is no check for CVR health in STS BDD during STS deployment, which means the test can give false positive results for some corner cases. So a CVR health check has to be added
along with the pod running state for PR https://github.com/openebs/maya/pull/957

[2019-03-22 11:10] ashishranjan738 commented on #2326
I think the PR for this has been merged https://github.com/openebs/maya/pull/966.

[2019-03-22 11:12] ashishranjan738 commented on #2321
PR for this has been merged https://github.com/openebs/maya/pull/966.

[2019-03-22 12:48] kmova commented on #2326
@runningman84 - what is your version of K8s?

[2019-03-23 07:09] mittachaitu opened #2455 "Implement predicates for cstor-pool-mgmt that can be used by cstor operator"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST
What you expected to happen:
Implement predicate for cstor-pool-mgmt in package `pkg/cstorpool/v1alpha2/`

[2019-03-23 10:27] #2324 closed

[2019-03-24 11:57] #2434 closed

[2019-03-25 04:59] inyee786 opened #2456 "NDM is not getting deploy in SUSE CaaS Platform"
## Description

-  NDM is not getting deployed in suse caas platform due to security context and
-  NDM pod is not able to mount on the `var` path
[code]

## Expected Behavior

The NDM pod should be up and running

## Current Behavior

- NDM pod is not coming up

## Steps to Reproduce

Deploy OpenEBS in SUSE cass platform in microOS

## Screenshots

## Your Environment

* `kubectl get node -owide`

[2019-03-25 05:58] inyee786 commented on #2456
# Solution

# Run NDM Daemonset as a  PRIVILEGED DAEMONSET
## method 1:
Add a role in an existing in `ClusterRole` yaml

[code]
## method 2:
create a separate `clusterrole`, `cluserrolebinding` and `serviceaccount`
[code]
use the service account in NDM Daemonset

ref : https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#ex.admin.security.pod_policies.d

[2019-03-25 11:32] #2454 closed

[2019-03-25 11:39] nsathyaseelan opened #2459 "cStor pool pods are not getting created upon deploying OpenEBS 0.8.2 on OpenShift cluster"
## Description
- Deployed OpenEBS (0.8.2-RC1) on OpenShift 3.10 cluster.
- It is  observed that cstor sparse pool pods are not getting created

Maya exporter logs:
[code]
## Expected Behavior

- cStor sparse pool pods should be created without any issues
## Current Behavior
- pool pods are not getting created

## Your Environment

* `kubectl get nodes`:
[code]
* `kubectl get pods --all-namespaces`

[2019-03-26 05:06] muratkars commented on #1111
As an alternative, would using Weave Scope to check volume health status work? You can visualize volume and replica health through Scope.

[2019-03-26 05:29] #1203 closed

[2019-03-26 05:46] muratkars commented on #1435
This will be done through kubectl commands and currently targeted in the 0.9 release

[2019-03-26 07:29] #2456 closed

[2019-03-27 02:45] muratkars commented on #2286
Closing this since there is no action needed at this time.
Here are some references and links to design considerations:
https://docs.openebs.io/k8supgrades.html#volume-replica-quorum-requirement
https://docs.openebs.io/docs/next/casengines.html

[2019-03-27 02:45] #2286 closed

[2019-03-27 03:12] kmova commented on #1680
This isssue is fixed in the latest release. @utkarsh2102 - can you link to this issue the PRs that handle this errors in Jiva.

[2019-03-27 03:36] AmitKumarDas commented on #2183
I would love to see this feature as well. This might get into what openebs calls as automated pool provisioning _(i.e. knowledge of selecting disks versus forcing users to specify exact disk names)_.

[2019-03-27 05:22] utkarshmani1997 commented on #2440
@ismail0077 this issue was observed on 0.8.0 where replica got stuck after read/write timeout, due to which replica never get reconnected with controller so in this case volume went into RO since quorum is not met and the other replicas never connected back. This issue has been fixed in 0.8.1.
Ref: https://github.com/openebs/jiva/pull/168

[2019-03-27 05:36] utkarshmani1997 commented on #2440
@ismail0077 this issue was observed on 0.8.0 where replica got stuck after read/write timeout, due to which replica never get reconnected with controller so in this case volume went into RO since quorum is not met and the other replicas never connected back. This issue has been fixed in 0.8.1.
Ref: https://github.com/openebs/jiva/pull/168

[2019-03-27 10:17] #2441 closed

[2019-03-27 11:15] Pradeepkumarbk opened #2464 "Container inside cStor Pool Pod went into bad state."
## Description

```Had 3 cStor pools on which i was performing some test by running some load and suddenly one of the pool got disappeared from grafana my dashboard .```
## Expected Behavior

## Current Behavior

I execed inside particular pool pod and  found this.
[code]
[code]

## Possible Solution

## Steps to Reproduce

## Screenshots

## Your Environment

Openshift:-3.10
openebs:- v0.8.x-ci
n

[2019-03-27 12:25] nsathyaseelan opened #2465 "cStor pool pods doesn't have the label openebs.io/storage-pool-claim=<spc_name>"
## Description
 - While creating cStor disk pool pods the label openebs.io/storage-pool-claim=<spc_name> is not there in 0.8.2-RC2. As an impact, our litmus tests specific to pool validation is failing.

## Expected Behavior
- The specified label (openebs.io/storage-pool-claim=<spc_name>) have to be there for the pool pods in order to determine the pods specific to a storage pool

[2019-03-28 06:43] muratkars commented on #2411
Merged (0.8.1)

[2019-03-28 06:43] #2411 closed

[2019-03-28 12:02] gprasath opened #2467 "Unable to scale up cassandra statefulset application."
## Description

The below litmus book scales up the statefulset cassandra application replica.

https://github.com/openebs/litmus/tree/master/apps/cassandra/functional/scale_replicas.

It deploys an application replica with 3 CVRs. Then it tries to scale the application replica to 2, thereby creating 6 CVRs.

This is observed to be failed in 0.8.2-RC2. This was working till 0.8.1.

As we distribut

[2019-03-28 19:45] vishnuitta commented on #2467
In this case, 'replica-anti-affinity' is honored for cstor-volumes only from 0.8.2. Functionality is made similar to that jiva replicas.
User should start using preferred-replica-anti-affinity instead of replica-anit-affinity if number of nodes is less than (application_replica_count)*(# of pvcs in that appliation)*(replication_factor of each pvc of that application).
Here, things are working as e

[2019-03-28 19:45] #2467 closed

[2019-03-29 05:59] utkarshmani1997 opened #2469 "bug(jiva): Failed to find metadata for volume-snap* during open"
## Description

Recently an user has reported that jiva replicas are not getting connected with the controller due to `Error Failed to find metadata for volume-snap-6b2a3d92-91a8-4d6d-941d-b7736d1254bb.img during open` error.

Due to this volume is not able to mount again (if rescheduling of application happens to another node) to the node and application stays in `init` state since quorum is not

[2019-03-29 10:50] ashishranjan738 opened #2470 "remove application pod name feature from mayactl"
Currently mayactl is having an alpha feature to show application pod that is using the PV. This feature is making volume read request quite cpu consuming and also it is not working a pod is having multiple claims. So this feature needs to be removed for now.

[2019-03-29 12:28] gprasath opened #2472 "The objects volumesnapshot and volumesnapshotdata should not be allowed to delete if it was used to create clone."
## Description
- Though the snapshot was used to create clone, the objects volumesnapshot and volumesnapshotdata are allowed to delete.

## Expected Behavior
- Should validate if the snapshot was used to create clone.

## Current Behavior
- These objects are getting deleted. But the actual snapshot is available.

## Steps to Reproduce
- Create a PVC
- Create a snapshot for PVC.
- Using openebs-sna

[2019-03-29 13:02] AmitKumarDas opened #2473 "implement BDD test case that verifies openebs install via helm"
Most openebs users consider using helm to install openebs.
It is good to have test code that tests if helm based openebs install works

[2019-03-29 13:04] AmitKumarDas opened #2474 "implement BDD test case that verifies openebs upgrade via helm"
Most openebs users consider using helm to upgrade openebs.
It is good to have test code that tests if helm based openebs upgrade works

[2019-03-29 15:14] joshuacox opened #2475 "PoolResourceLimits is specified to be 2Gi but then listed as 1Gi"
PoolResourceLimits is specified to be: `and PoolResourceLimits value is set to 2Gi.` on both:

https://docs.openebs.io/docs/next/configurepools.html#manual-mode

https://docs.openebs.io/docs/next/configurepools.html#auto-mode

But then in the example yaml it is set to 1Gi:

[code]

This should probably be set to 2Gi to maintain consistency and eliminate any confusion.

[2019-03-29 15:17] joshuacox commented on #2475
nevermind this appears to be fixed on master, closing

[2019-03-29 15:17] #2475 closed

[2019-03-30 12:33] kmova opened #2476 "Upgrade for 0.6.0 to 0.7.0 to 0.8.0 created two maya-apiserver instances"
## Description

OpenEBS setup was upgraded from OpenEBS 0.6.0 to OpenEBS 0.7.0 and then to OpenEBS 0.8.0

There were two instances of openebs apiserver running:
[code]

I also noticed that there were 5 instances of cstor-sparse pools running.

## Expected Behavior

The upgrades should be seamless.

## Current Behavior

Two instances of maya-apiserver were running as shown above. However, the provi

[2019-03-30 13:13] joshuacox opened #2477 "pool fails to create"
## Description

pool fails to create upon applying the yaml file

## Expected Behavior

a pool should be created and be readily available for pvc

## Current Behavior

[code]

[code]

[code]

## Steps to Reproduce

`kubectl config set-context admin-ctx --user=cluster-admin`

`kubectl config use-context admin-ctx`

`helm install --namespace openebs --name openebs stable/openebs`

`kubectl apply -f

[2019-03-30 13:15] kmova opened #2478 "How do I reuse an existing PV - after re-creating Kubernetes StatefulSet and its PVC"
## Description

Due to some application issue I had to delete the StatefulSet and re-install a new StatefulSet. In the process I also deleted the PVCs used by the StatefulSet. However, before deleting the PVCs I patched the PVs to be retained.

However when I recreated the STS, a PVC object got created with same name as previous time, but it was bound to a new PV.

## Expected Behavior

I wanted t

[2019-03-30 13:23] kmova opened #2479 "Unable to persist Kubernetes node labels after a reboot."
## Description

OpenEBS Storage Policies expect that labels are created on the node. And then these labels can be used under the ReplicaNodeSelector and TargetNodeSelector policies. However, after I reboot the node, the labels are lost and any volumes - replica and target pods that were using the label will be in pending state.

## Expected Behavior

Procedure for making sure the node labels persi

[2019-03-30 13:37] kmova commented on #2477
@joshuacox -- Can you also provide the `k get sp` from the above setup?

[2019-03-30 13:48] joshuacox commented on #2477
@kmova, you bet:

[code]

[2019-03-30 14:14] kmova commented on #2477
`kubectl get disks`

[2019-03-30 14:28] joshuacox commented on #2477
[code]

[2019-03-30 20:55] joshuacox commented on #2477
@kmova I kind of feel like I missed a step by following:

https://docs.openebs.io/docs/next/configurepools.html#auto-mode

after the install.

Or perhaps the disk are full or something, but checking on all the nodes they all have over 50 gigs free.

[2019-03-31 18:18] proegssilb opened #2480 "Incorrect link in "Kubernetes Upgrades" docs"
The page [Advanced Topics > Kubernetes Upgrades](https://docs.openebs.io/docs/next/k8supgrades.html) has a link to "localhost:3000" with the text "detailed status of all the replicas". I don't think this is intended.

[2019-03-31 18:21] kmova commented on #2477
@joshuacox --  the above `kubectl get disks` indicate that the nodes don't have any additional block devices attached to the node, other than the OS disk. The 50G free, is that on the OS mount?

(or) do have additional block devices attached to the kubernetes nodes, that are not getting detected by NDM?  Checkout the `lsblk` on the node.

When cStor SPC is configured with `type: disk`, it waits fo

[2019-03-31 18:45] joshuacox commented on #2477
@kmova indeed, I was assuming that under the #auto instructions that more sparse volumes were created.

But some documentation on some different production setups would be very interesting, perhaps with something simple setups with another linux host as iscsi target, to something more complicated like freeNAS, or even a hardware SAN like a dull compellent.

[2019-03-31 18:48] kmova commented on #2477
I will re-open and move this issue to the docs, so we can fix this with examples. As always thank you @joshuacox for helping with making the product better!

[2019-04-01 03:03] ranjithwingrider commented on #2480
@proegssilb Thank you for the pointing out the incorrect link issue. This has been already updated in staging branch. It will be reflected once it is merged with main branch.
Please find the exact location: https://docs.openebs.io/docs/next/mayaonline.html#cstor-custom-resources-view

[2019-04-02 10:48] utkarshmani1997 opened #2482 "Bug(jiva): replica is not able to register again if already get start signal"
## Description

- Replica is not able to register again if already get start signal.

## Expected Behavior

- Replica should be registered again and shouldn't log error.

## Current Behavior

- ```Can signal only to  ,can't signal to 10.11.1.83, no of registered replicas are 1 and replica count is 2```
It doesn't mention about the replica which can't be signalled.

## Possible Solution

- This is

[2019-04-02 11:06] utkarshmani1997 opened #2483 "Bug(jiva controller): observed panic in gotgt on receiving spc_senddiagnostic command"
## Description

A user has reported that jiva controller is restarting multiple times due to the panic observed in gotgt.

## Expected Behavior

Controller should not panic and handle this situation gracefully.
## Current Behavior

- controller panic
[code]

## Possible Solution

- Restart will happen automatically if it is running in kubernetes cluster else restart of controller is required.
-  W

[2019-04-03 06:42] gprasath opened #2485 "ndm pod experienced panic after deploying openebs using helm chart"
## Description
After installing openebs using stable helm chart , observed panic in one of the ndm pods.

[code]

## Expected behavior

- Pod should not panic

## Current behavior

- Observed panic in one of the ndm pods.

## Your Environment

* `kubectl get nodes`:
[code]

*`kubectl describe pod`:
[code]

*`Previous pod logs`:
[code]

Attaching the complete pod logs in the below file

[ndm.txt](h

[2019-04-03 06:51] #2483 closed

[2019-04-03 09:29] #2482 closed

[2019-04-03 20:35] elishemer opened #2488 "change ReplicaCount in-flight"
hey

I have a storage class using cstor cas-type with ReplicaCount of 1 by default on a one node cluster.
I would like to be able to increase the storage class ReplicaCount by one every time a new node is added to the cluster.
It workes perfectly fine if I re-create the stoageclass and the pvc from scratch - but then i lose all of my data.

[code]

I have one PVC bound to this storage class
[code]

[2019-04-04 02:36] kmova commented on #479
The retain policy can be used for a given PVC using the following manual steps.

(a) Create a StorageClass with retain policy.
[code]

(b) Create a PVC

[code]

(c) A PV will be created with retain policy.

[code]

(d) Delete PVC, check that PV still exists in Released state.

[code]

(e) To reuse the above PV, modify the PVC YAML spec to include `volumeName` pointing to above PVC.
[code]

(f) The

[2019-04-04 02:40] kmova commented on #2488
Thanks @elishemer - It is indeed a good feature to increase the replica count in flight. ( cc: @muratkars )

The retain policy needs to be automated, but for now it can be achieved via set of manual steps. Let me know if the manual steps listed in the below issue work for you: https://github.com/openebs/openebs/issues/479#issuecomment-479727345

[2019-04-04 03:34] utkarshmani1997 opened #2489 "Bug(jiva controller): controller stuck in "Waiting for replica to update CloneStatus to Completed/NA, retry after 2s""
## Description

I was trying different P & C of stopping and starting replicas and controller gets stuck after sometime and was not able to register the replicas. Although this is very rare case and reproducing is very difficult on k8s setup.

## Expected Behavior

Controller should accept the new connections from replica.

## Current Behavior

Controller throw log "Waiting for replica to update C

[2019-04-04 09:44] harshshekhar15 commented on #2394
I have a 3 node GKE cluster having k8s version v1.11.7 and OpenEBS version 0.8.1. I created 3 disks and attached one to each node of the cluster. Then I created a cStor pool using the following SPC yaml
[code]
A cStor striped pool got created. Then I created 3 more disks of same size, and attached one to each node. Then I performed the following steps to attach the disks to the pool :
- Execed int

[2019-04-04 10:19] inyee786 commented on #2433
I am running CockraochDB and MINIO in my cluster, I am also facing the same error

Here are the logs

Application Error

[code]

Target Pod log

[code]

pool pod log

[code]

[2019-04-04 10:25] gprasath opened #2491 "maya-apiserver keeps crashing after recovering the cluster from failure."
## Description
 Maya-apiserver gets crashing after recovering the nodes from failure.
- The openshift nodes are installed on Vsphere.
- Installed Openebs-0.8.2.RC3  and deployed couple of applications too.
- The Vsphere server went down. As an impact, all the nodes were lost.
- After recovering the nodes from above failure, observing that the maya-apiserver gets into crashloopbackoff state.

- Mea

[2019-04-05 04:25] ashishranjan738 opened #2492 "OpenEBS fails to provision openebs volume due to internal server error"
OpenEBS 0.8.1 fails to provision volume on PVC request due to error in converting `volume-read-output` YAML to JSON.

Logs of maya api-server :
[code]
Logs of openebs provisioner:
[code]

[2019-04-05 04:38] ashishranjan738 commented on #2492
The cause of this error can be because the `read-list-targetpod` runtask failing to execute successfully.This runtask is responsible for fetching name of the pod who has claimed the PVC. This issue can be resolved if we disable this runtask for both jiva and cstor.

Steps for doing this:
#### Disabling for cstor:
Step 1: Kubectl edit runtask `cstor-volume-read-listpods-default-0.8.1 -n openebs`
St

[2019-04-05 04:58] utkarshmani1997 opened #2493 "enable nodeaffinity for jiva replica pods."
## Description

We are making use of  nodeAffinity for pinning the replicas on the same node, which is not being used by default, which has following policies:
- `requiredDuringSchedulingIgnoredDuringExecution`
- `preferredDuringSchedulingIgnoredDuringExecution`

Where `required` and `preferred` are just like hard and soft rules that has to be met while scheduling and execution. Role of scheduling

[2019-04-05 05:27] AmitKumarDas opened #2495 "Improve error handling in maya api server"
These are some of the points that should be considered in error handling:

### Immediate:
- Make use of `github.com/pkg/errors` versus using standard `errors` library or `fmt` library
  - `github.com/pkg/errors` enables logging the entire stacktrace
- Log whole error versus printing only `error.Error()`
- Implement `String()` and `GoString()` method for all structures and use them during logging

[2019-04-05 06:40] gprasath commented on #2433
We hit this issue in multiple clusters upon cluster failure.

[2019-04-05 09:42] AmitKumarDas opened #2497 "Improve cas config validation in maya api server"
Maya API server should be able to validate invalid/missing CASConfig.

This should be taken care at following paths:
- jiva volume create & delete
- jiva clone create & delete
- jiva snapshot create & delete
- cstor volume create & delete
- cstor clone create & delete
- cstor snapshot create & delete
- cstor pool create & delete
- cstor pool update

[2019-04-05 10:19] gprasath opened #2498 "ndm pod pod are getting restarted due to 'invalid memory address or nil pointer dereference'."
## Description

- In openebs deployment, ndm pods were observed to be crashed due to 'invalid memory address or nil pointer dereference'

[code]

## Steps to Reproduce

- Deployed openebs 0.8.2-RC4 with ndm-v0.3.3.  Used `quay.io/openebs/node-disk-manager-amd64:v0.3.3` image to create ndm containers.
- Deployed an application consuming jiva based volumes.
- In some time, two of the three ndm pods

[2019-04-05 16:47] muratkars commented on #2438
Not able to reproduce, closing for now.

[2019-04-05 16:47] #2438 closed

[2019-04-05 17:04] muratkars commented on #98
Minio and other S3 compatible storage can be used for backup and restore. Instructions are here under OpenEBS docs https://docs.openebs.io/docs/next/backup.html

[2019-04-05 17:04] #98 closed

[2019-04-06 13:50] utkarshmani1997 commented on #1970
This feature is now available into istgt via `istgtcontrol iostats` command. Closing via https://github.com/openebs/istgt/pull/85 and https://github.com/openebs/istgt/pull/175

[2019-04-06 13:50] #1970 closed

[2019-04-08 06:09] kmova commented on #2349
This is a different issue from removing the finalizer on CVR.

[2019-04-08 06:11] kmova commented on #2405
May need to revisit this issue. A fix was included and reverted between 0.8 and 0.8.2, as it was causing a regression with provisioning pods with multiple PVCs.

[2019-04-08 08:18] inyee786 opened #2500 "maya-apiserver shows openebs multiple time inside namespaces field"
## Description

while performing the get request to list the volume, openebs is repeated multiple time in `namespace` field
while performing the get info of the particular volume it show multiple node inside `openebs.io/controller-node-name` field

[code]

## Expected Behavior

inside the namespaces only one time `openebs` should be persent

## Current Behavior

openebs is coming multiple time

#

[2019-04-08 10:00] ajeshbaby opened #2502 "Debug utilities as part of cStor-pool/target pods"
## Description

Install debug utilities like ping, curl, netstat, tcpdump, nslookup by default with pool/target pods. Least we can have a debug image with all these utilities, so that it can be used for debugging network related issues like #2433

[2019-04-08 10:21] ksatchit commented on #2396
:+1:

[2019-04-09 12:55] davidq2q opened #2505 "Get available and remaining disk space"
How to get remaining and available disk space for jiva and cstor storagepools?

[2019-04-09 13:15] davidq2q opened #2506 "Use disks from master in jiva"
How to use disks from master nodes with openebs jiva storage? Do I have to run the ndm daemonset also on masters?

[2019-04-09 19:38] davidq2q commented on #2506
No thank you guys. You made a awesome piece of software.

Regarding my issue. I am using a bunch of harddrives in my server in raid-0 that I use for two openebs cstor storage pools (ssd, sas) But there are a couple of drives that require to be raid-1. Now I add a half the diskspace of those drives to a LVM pool. And want the other half to be used for openebs. So these drives have two partitions. O

[2019-04-10 04:28] AmitKumarDas opened #2508 "remove un-required dependencies from openebs/maya"
### Why is this required
This reduces dependencies that maya has on other/external projects. Maya can then follow dependencies of few important libraries. Among other things, it reduces maya's binary size & helps maya in adhering to its licensing policies.

**NOTE**: openebs/maya is the repository that hosts multiple binaries. Hence, it is essential for maya as a repository to be as much lightweig

[2019-04-10 05:22] prateekpandey14 opened #2509 "Proper error and warning logs in snapshot operator using 'pkg/errors'"
## Description
Snapshot controller and provisioner should log, warnings debug logs and errors properly using `pkg/errors` which helps us to get more info like error stack etc.

[2019-04-10 05:37] ranjithwingrider commented on #2505
From 0.8.1 OpenEBS version, we enhanced the command to get the detail of cStor pool.volume using `kubectl get` command. These command will output  similar to the following only if Kubernetes version of both client and server are above 1.11.
Command:
[code]
Output:
[code]
Please check more from [FAQ](https://docs.openebs.io/docs/next/faq.html#more-info-pool-cvr-cv-disk)

If Kubernetes version of cl

[2019-04-10 05:53] mittachaitu commented on #2500
@inyee786 with which version of OpenEBS you deployed?

[2019-04-10 05:59] akhilerm commented on #2498
Fixed in [PR 230](https://github.com/openebs/node-disk-manager/pull/230) in ndm repository.

[2019-04-10 05:59] #2498 closed

[2019-04-10 06:14] kmova opened #2510 "mayactl volume stats - missing some volume details"
## Description

`mayactl volume stats` works slightly differently for cstor and jiva volumes.

- For Jiva volumes that are in default names space, there is no need to specify the namespace arg. (mayactl volume stats --volname pvc-e6707a4f-5b52-11e9-955c-42010a800038)
- For cStor volumes the namespace arg has to be provided with namespace where openebs components are installed. The namespace where

[2019-04-10 06:39] utkarshmani1997 opened #2511 "maya-apiserver should display the name of runtask/cast which it failed to install in the logs"
## Description

maya-apiserver is logging the error `Install errors were found: [error converting YAML to JSON: yaml: line 5: mapping values are not allowed in this context
failed to create unstructured instance from yaml bytes`
It makes debugging little difficult because we don't know on which runtask it has failed and since there are many runtasks identifying the buggy one takes too much time.
#

[2019-04-10 11:39] rgembalik opened #2512 "Jiva replica pod frozen at "Waiting on MonitorChannel""
## Description

Few of my jiva pvc-s got stuck with logs ending on something like this:
[code]

In this case last messages are from two days ago. I have 2 replicas only, so one of them tried to register, but second didn't do anything, frozen at the message above.

Deleting pod (and therefore restarting replica) helped.

One important thing to note here is that, controller did crash 19 times due to

[2019-04-11 02:33] vishnuitta commented on #2437
As part of OPEN opcode, replication_factor will sent from target to replica. Based on this value, replica sets the state of volumereplica as healthy.

cstor pr#216, istgt pr#243 fixes this issue

[2019-04-11 02:33] #2437 closed

[2019-04-12 06:54] dargasudarshan opened #2514 "cStor should generate Warning/Critical events in the logs when the pool is filled with >80% capacity."
## Description

- cStor should generate Warning/Critical events in the logs when the pool is filled with >80% capacity.
- And also provide the possible next steps for the user.
- This will avoid issues such as Data unavailability for the user.

## Context

- If cstor generate alerts and provide precautionary steps for user, will benefit user for avoiding situations like DU.

## Possible Solution

[2019-04-12 09:22] dargasudarshan opened #2515 "Stale cstor volumes are still part of pool."
## Description

Stale cstor volumes are still part of pool.

## Expected Behavior

On deleting the cstor volumes, the volumes should be purged from the associated pool and space should be released.
## Current Behavior

Observed that on deleting the cstor volumes, they are still part of cstor pool.

[code]
## Possible Solution

## Steps to Reproduce

- Create few cstor volumes and delete them rando

[2019-04-12 09:35] dargasudarshan commented on #2515
[stalecstorvolumes.log](https://github.com/openebs/openebs/files/3072590/stalecstorvolumes.log)
Attached the logs.

[2019-04-12 12:43] AmitKumarDas opened #2516 "all openebs pods should have openebs.io/version label"
### Why we need this?
There are various features & requirements which would like to execute based on version information available in openebs pods. These pods can be either data plane or control plane based.

[2019-04-15 06:43] utkarshmani1997 opened #2518 "jiva pods should be deployed into openebs namespace"
## Description

Deploying jiva pods into openebs namespace

## Context

Having jiva-pods into openebs namespace makes the management of jiva volumes much easier. For example, user can directly search the jiva pods into openebs namespace rather than iterating into various namespace.

[2019-04-15 06:53] utkarshmani1997 opened #2519 "write upgrade runtasks to move from 0.8.2 to 0.9.0"
## Description

Write upgrade runtask to upgrade the openebs components from 0.8.2 to 0.9.0 via m-upgrade

## Context

It will be helpful for the users who are intersted to upgrade to latest stable releases seamlessly.
Following components needs to be upgraded
- Openebs control plane:
    * m-apiserver
    * openebs-provisioner
    * snapshot-controller
- Data plane:
    * cstor pool pods (patch i

[2019-04-15 06:58] utkarshmani1997 opened #2520 "Remove reconcilation logic in jiva replicas for autoregistration"
## Description

We are observing that autoregistration logic has many corner cases where controller or replicas get stuck at some point due to reconcilation logic. Remove this reconcilation instead fatal the replica, so that it will be restarted by k8s itself.

## Context

This change will ensure that replicas wouldn't go into such state where it's get stuck.

## Possible Solution

## Screenshots

[2019-04-15 07:03] utkarshmani1997 opened #2521 "optimize resync in jiva replicas"
## Description

Currently we start one replica and let other replicas to sync with the healthy replica, and due to this replicas take too much time for the sync which is unnecessary since jiva controller sends the io's if quorum is met. Due to this time consuming operation controller go into RO state.

## Context

Optimizing sync will ensure that there will be less rebuild time and controller woul

[2019-04-15 07:04] utkarshmani1997 opened #2522 "Add opcode metrics in jiva controller"
## Description

## Context

## Possible Solution

## Screenshots

[2019-04-15 07:12] utkarshmani1997 opened #2523 "Add a custom resource JivaVolume for managing jiva related resources"
## Description

We are finding the need of custom resource JivaVolume for managing jiva resources for various CRUD operations.Here is the schema of JivaVolume:
[code]
## Context

Having a CR for jiva will be helpful for various GET, PUT, POST, DELETE, PATCH operations on jiva resources.

Ref: https://github.com/AmitKumarDas/Decisions/blob/master/blogs/jiva_volume_as_custom_resource.md
cc: @AmitKum

[2019-04-16 05:00] vishnuitta commented on #2389
are we good to close this issue?

[2019-04-16 05:13] ajeshbaby opened #2525 "Nodes in the cluster reboots frequently almost daily -- Setup with MicroOS, Rancher and OpenEBS."
## Description
4 Node K8S cluster built with RKE on MicroOS and CNI Cilium.  Installed OpenEBS on the same. Ran few fio tests in a loop to check the reliability. Observed reboot of all/some nodes randomly almost daily.
Node1 -- Control Plane, ETCD, Worker
Node2 -- Control Plane, ETCD, Worker
Node3 -- ETCD, Worker
Node4 -- Worker

## Expected Behavior
System should not restart

## Current Behavior

[2019-04-16 05:23] ajeshbaby commented on #2525
On looking into journalctl found that reboot is happening due to tranasctional-update
Excerpts of the log
[code]
[code]
[code]

[2019-04-16 05:31] ajeshbaby commented on #2525
**One of the solution.**
-- You can do the following on each nodes to stop the transactional update.
[code]

Other possible solution
-- Set the reboot timer schedule at different time i.e  staggered  at various interval of the day, so that only one nodes get rebooted at a time. I have not tried this.

More details --
https://en.opensuse.org/Kubic:Update_and_Reboot
https://kubic.opensuse.org/blog/2

[2019-04-16 11:33] nsathyaseelan opened #2527 "Unable to create cStor storage pools in OpenShift cluster"
## Description
-  Downloaded openebs operator from 0.9.x branch.
-  Unable to create cStor pool pods, using ci image for openebs components.

## Expected Behavior
- cstor pool pods should be created successfully

## Current Behavior
- cstor pool pods are not getting created

## Steps to Reproduce
- Deploy openebs operator with a ci image tag in Openshift-3.10.

## Your Environment
[code]
Uploading

[2019-04-16 14:35] zebulon99x commented on #2396
As a note: I'm not sure if this is a bug or a minor mistake in moving a replica between pods but I have noticed that if I leave the "status" section in my new CVR then it fails to initialize properly.

Running OpenEBS 0.8.1 in k8s 1.10.11

[2019-04-16 14:44] kmova commented on #2396
You are probably right @zebulon99x. Can you mention the changes you did and also provide the reasons for you having to move the CVR into new node. Your inputs will help making the automation of this better.

[2019-04-16 17:47] elg0ch0 commented on #2329
@rhugga try removing iscsi from node host, take a look at [issue 1450](https://github.com/openebs/openebs/issues/1450) it worked for me.

[2019-04-17 07:34] prabhatkumarthakur commented on #2525
I have a setup with only MicroOs installed. External package installed is the only docker. It reboots on default schedule time.
Steps to avoid the reboot is to disable below two services.
systemctl disable --now rebootmgr.service
systemctl disable --now transactional-update.timer

[2019-04-17 08:53] kmova commented on #2326
An example of using Target Affinity feature with cStor volume has been merged with this PR: https://github.com/openebs/openebs/pull/2501

The openebs.io/target-affinity parameters needs to be specified in the metadata->labels  of the StatefulSet. Kubernetes will pass this as a label to the PVCs. Example:

[code]

[2019-04-17 08:53] #2326 closed

[2019-04-17 09:46] sonasingh46 commented on #2451
Need to update the pods with requests/limits on the ephemeral storage after moving to K8s version that enforces ephemeral storage limits. when no limits are specified, K8s will evict the openebs pods, even when only few KBs are used for logs.

[2019-04-17 12:28] sebastien-prudhomme commented on #2287
@akhilerm Mounting /proc inside the container works fine with Selinux.

If "/host/mounts" was not hardcoded in NDM, it should be possible to mount /proc in container /host/proc for instance and use /host/proc/1/mounts inside the container.

[2019-04-17 12:53] sonasingh46 commented on #2396
While placing the replica(CVR) to other pool the replica count should be greater than 1.

[2019-04-17 12:53] akhilerm commented on #2287
@sebastien-prudhomme  That's a good point. Thanks.  I will raise a PR to mount `/proc` as read only, and change the hard-coded path to `/host/proc/1/mounts`.

[2019-04-17 13:19] zebulon99x commented on #2396
I was moving CVRs around in order to decommission the CSP on one of kubernetes nodes. We were scaling down storage space to save money. I followed the instructions above exactly, aside from removing the "status" section entirely from my new CVR manifest.

More specifically, we're running a 12 worker node k8s cluster. On creation, each node was given a disk for OpenEBS storage, assigned to an SPC.

[2019-04-17 14:07] AmitKumarDas opened #2529 "huge amount of unnecessary logs are generated in maya"
2019/04/17 14:01:03.149036 [DEBUG] http: Request /latest/meta-data/instance-id (GET)
2019/04/17 14:01:03.149186 [DEBUG] http: Request /latest/meta-data/instance-id (150.046µs)
2019/04/17 14:01:56.250730 [DEBUG] http: Request /latest/meta-data/instance-id (GET)
2019/04/17 14:01:56.251105 [DEBUG] http: Request /latest/meta-data/instance-id (379.012µs)
2019/04/17 14:01:56.251734 [DEBUG] http: Request

[2019-04-17 17:54] joergkiesewetter opened #2530 "OpenEBS is using to much disc space"
Our kubernetes cluster crashed, because the openEBS storages were taking to much disc space. While I was trying to figure out where all the disc space went, I found out, that whole openEBS environment on our nodes is taking much more space than expected.

We created a new deployment for Cassandra. We have 3 Cassandra pods each using an openEBS storage of 50GB. Each Storage has 3 replicas. The whol

[2019-04-17 18:34] muratkars commented on #2530
Hi @jamesgeorge007
With the most recent release v0.8.2 we have the space reclaim for jiva volumes.
You can find the details on [release notes](https://github.com/openebs/openebs/releases) under Minor enhancements section.
The space reclaim is done by scheduling a Kubernetes Job. Therefore, 50G volumes really should take 50G (on each node) * n replicas after reclaim job is run.

[2019-04-18 06:14] elishemer commented on #2488
hey @kmova
After cautiously following the manual steps, I got the following error
waiting did not help.

[root@develi management]# kubectl describe pvc
Name:          cstor-datadir-claim
Namespace:     hexatier
StorageClass:  openebs-cstor-sparse-auto
Status:        Pending
Volume:        pvc-1c7a4d7f-6199-11e9-8f22-f29a675bd0f3
Labels:        <none>
Annotations:   <none>
Finalizers:    [kubernete

[2019-04-18 06:19] kmova commented on #2488
@elishemer -- can you provide the output of:

[code]

[2019-04-18 08:57] utkarshmani1997 opened #2532 "Error in creating hole: bad file descriptor in jiva replica"
## Description

Recently one user has reported that he is getting the error `ERROR in creating hole: bad file descriptor, Retry_Count: 0`. This is happening due to the race between two goroutines that is `CreateHoles` and `AutoConfigureReplica`. We punch holes for the duplicate data while preload and queue the file for creating holes into the HoleCreatorChan which is a buffered channel. So it is p

[2019-04-18 13:58] elishemer commented on #2488
@kmova my bad. I guess it was late at night when i did this.
my scripts had a bug in them where the UID was not patched correctly in the PV.
the "kubectl get pv <name> -o yaml" output helped me find that out.

now it's bound.
thanks

[root@develi management]# kubectl get pvc
NAME                  STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS

[2019-04-18 14:03] kmova commented on #2488
Thanks @elishemer for getting back!!

[2019-04-18 21:39] elishemer commented on #2488
hey @kmova

in your example, I see you have a label in the PV
pvc-name=jiva-vol1-retain-claim

interestingly enough, I don't have the pvc name as a label inside the PV
maybe it's a cstor limitation ? you used jiva in your examples

[root@develi ~]# kubectl get pv -o yaml
apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolume
  metadata:
    annotations:
      openEBSProvisionerIdentity: d

[2019-04-19 07:55] prateekpandey14 commented on #2372
Steps to upgrade the single disk pool can be found [here](https://gist.github.com/prateekpandey14/f2a30b3f246fd5b44fdfb545185f78b4 ) .
I will suggest to use first in your development setup to get familiar with the steps.

[2019-04-19 09:37] prateekpandey14 commented on #2527
Closing this as fixed in openebs/maya#1078 , #2528

[2019-04-19 09:37] #2527 closed

[2019-04-19 10:56] vharsh opened #2534 "[cmd/maya-exporter] The volume utilization metrics aren't representing the used capacity correctly"
## Description

The `maya-exporter` container is deployed as a side-car to the target/controller pods and are responsible for exposing volume metrics.
Example of such is `openebs_volume_status`, `openebs_actual_used`, `openebs_size_of_volume`, `openebs_volume_uptime`

## Expected Behavior

OpenEBS' storage engines viz Jiva and Cstor both have `maya-exporter` deployed as a sidecar container and it'

[2019-04-19 11:05] sushma1118 opened #2535 "Disk pressure in one of the nodes of OpenShift cluster"
# Description
When I was working on Elasticsearch, I found out that one of the cstor-pool pod was not getting scheduled on one of the nodes(node 2). The status of the pool pod was 'pending'. After describing the pod I got to know that the node has disk pressure.
[code]

## Expected Behavior
The cstor-pool pod should get scheduled in the respective node.

## Current Behavior
Because of the disk pre

[2019-04-19 11:10] utkarshmani1997 commented on #2534
@vharsh can you please post the output, which you've got.

[2019-04-19 13:16] mspyder commented on #2535
Please also give the output of `df -i`

[2019-04-19 13:17] vharsh commented on #2535
@sushma1118 Please also share the output of `df -i`

[2019-04-20 14:31] inyee786 commented on #2500
it was openebs 0.8.1, now i update it with 0.8.2

[2019-04-21 18:20] vitobotta commented on #552
As a follow up to our conversation on Slack about performance, here are for reference the results of some benchmarks done with volumes provisioned with OpenEBS Jiva engine, OpenEBS cStor engine, Longhorn and Rook (based on Ceph). As suggested, benchmarks have been run using [this YAML](https://github.com/kmova/openebs/blob/dbench-0.8.1/k8s/demo/dbench/dbench-cstor-sparse-1.yaml) template, adjusted

[2019-04-24 08:05] vishnuitta opened #2536 "multi-attach error during node reboot or shutdown"
Consider case where application node undergoes any of the following operations like node reboot or shutdown or termination.
Because of node unavailability kubernetes will schedule the application pod on different node without performing unmount of volume , logout from iscsi and deleting the session due to unavailability of kubelet service and node.
The rescheduled application remains in containerc

[2019-04-24 08:16] ksatchit commented on #2536
Refer following for similar issues based on node actions:

- https://github.com/openebs/openebs/issues/2265
- https://github.com/openebs/openebs/issues/2266
- https://github.com/openebs/openebs/issues/2281

[2019-04-24 09:28] payes commented on #2536
This issue arises since the kubelet is handling the mount/unmount operations for the volume.
This should be resolved by CSI plugin implementation where the control to mount/unmount the volume is with the storage vendor instead of kubelet.

**Why kubelet throws this error ?**
- if the volume is mounted at 2 places, data can easily be corrupted, so, kubelet throws this error.

**How will CSI avoid c

[2019-04-25 00:11] elishemer opened #2537 "RWX Native support"
hey,

Are there plans to support Read-Write-Many (RWX) natively in CSTOR or in JIVA ?

there's a blog post on how to enable RWX by leveraging NFS on top of OpenEBS
https://blog.openebs.io/setting-up-persistent-volumes-in-rwx-mode-using-openebs-142632244cb2

but this solution is very cumbersome
1. requires much more complicated configuration and setup
2. requires an additional provisioner
3. requir

[2019-04-26 17:30] #2532 closed

[2019-04-29 22:37] #2464 closed

[2019-04-30 12:23] nsathyaseelan opened #2542 "NDM pod getting restarted after deploying openebs"
## Description
- After installing OpenEBS observed that one of the ndm pod is restarted
- ndm version v0.3.4

## Expected Behavior
- The pod is not getting restarted

## Current Behavior
- Pod is getting restarted  twice
Observed below error in previous pod logs,
[code]

```kubectl get nodes```
[code]
``` kubectl get pods -n openebs | grep ndm```
[code]

ndm pod log
[ndm.txt](https://github.com/op

[2019-05-01 03:08] gilmararaujo commented on #2243
@BalaBalaYi, what is the file you set the iscsi configuration?
Thanks.

[2019-05-01 12:06] kratos81 opened #2543 "Unable to create Cstor storage pools"
## Description
I installed openEBS via helm and tried to create a Cstor storage pool based on the documentation and the pods keep crashing.

## Expected Behavior
The pods come up healthy so I can create a storageClass

## Current Behavior
The pods do not come up.

[code]

When I check the logs , this is what I see

[code]

I did the initial steps of installing the iscsi initiator on the worker nod

[2019-05-01 13:46] AmitKumarDas commented on #2543
The issue seems to be here:

Currently cstor pool is created only with `raw disks`. So if a disk is attached to a node which is unmounted and without any filesystem and without any partition; then it is a good candidate for cstor pool creation.

[2019-05-01 13:58] kratos81 commented on #2543
Hi , Thanks for the speedy response.

So , I created a new disk

[code]
xvdg is the new disk I created.

[code]

So I am wondering why it isn't picking the /dev/xvdg device but the logs show it trying to create with the ` /dev/xvdbw` disk  .  This happens even when I explicitly reference the disks in the yams file

[code]

Thanks

[2019-05-01 14:22] kratos81 commented on #2543
For additional context
 I created with this manifest again by adding the disks

[code]

Describing the disks

[code]
The second disk

[code]
third disk
[code]

I still get the error referencing another disk

[code]

Wondering why it is trying to create from `Unable to create pool: /dev/xvdbl is in use and contains a ext4 filesystem.`

Thanks

[2019-05-01 15:13] sonasingh46 commented on #2543
@kratos81
As said by @AmitKumarDas -- Pool is only created on wiped disk.

Now you created the manifest again by putting the newer disk names in the manifest and still it is failing.
1. How did you create the newer manifest? Did you just edited it? If you just edit the manifest (using `kubectl edit` it wont't work with the current version.
So the process should be -- Delete the older spc manifest

[2019-05-01 15:16] sonasingh46 commented on #2543
It would be great if you can also put
1. openebs version -- (`kubectl get deploy -n openebs maya-apiserver -o yaml | grep image`)
2. NDM version -- (`kubectl get ds -n openebs -o yaml | grep image`)

[2019-05-01 16:28] caniszczyk opened #2544 "Add MAINTAINERS file"
list maintainers, emails and affiliations

[2019-05-01 16:44] kmova commented on #2544
Thanks for this issue @caniszczyk .. on it!

[2019-05-01 16:47] caniszczyk opened #2545 "Add GOVERNANCE.md"
How is the project governed?

See examples:
https://prometheus.io/governance/
https://github.com/containernetworking/cni/blob/master/GOVERNANCE.md
https://github.com/containerd/project/blob/master/GOVERNANCE.md
https://github.com/envoyproxy/envoy/blob/master/OWNERS.md

[2019-05-01 19:57] sdelrio commented on #2529
Same here. With openebs 0.8.2, each minute generates 4 log lines in each apiserver pod.

Also entering into the container itself doesn't seems to have any option to reduce logs

[code]

[2019-05-01 22:36] kratos81 commented on #2543
Hi There

Thanks for your response.  Here are your answers

1. I deleted the resource `kubectl delete -f cstor.yaml`  where the definition is in the yaml file.  I did a kubectl apply and the result is the same.

2 .  I added 3 disks on 3 different (worker) nodes and two of them have `/dev/xvdf` and the other has `/dev/xvdg` . They're all new disks from EBS Volumes.

[code]

the image you requested

[2019-05-02 07:23] BalaBalaYi commented on #2243
@gilmararaujo
By rancher doc:
https://rancher.com/docs/rancher/v2.x/en/cluster-admin/volumes-and-storage/#iscsi-volumes-with-rancher-launched-kubernetes-clusters

[2019-05-02 18:20] sonasingh46 commented on #2543
@kratos81

The logs are saying that -- `/dev/xvdcd` is in use.
That means -- probably we are using wrong disk CR in manifest.
Try to put the correct disk CR  which have the path that you intend to use.

[2019-05-03 11:37] kratos81 commented on #2543
Hi , This is what I was trying to explain .  I chose the newly created disks and still it tried to use a disk that had data

You can follow the sequence here

[code]

Let me know if this requires more clarification , thanks

[2019-05-03 11:46] kratos81 commented on #2543
[code]

And this is the manifest file
[code]

[2019-05-03 11:47] akhilerm commented on #2543
Thanks for the detailed information @kratos81 .
Would it be possible to share the output of `lsblk` from these 3 nodes:
`ip-10-194-20-248.ec2.internal`, `ip-10-194-22-186.ec2.internal`, and  `ip-10-194-21-77.ec2.internal`

[2019-05-03 11:55] kratos81 commented on #2543
Sure @akhilerm

Listed in sequence
[code]

Second

[code]
Third

[code]

[2019-05-03 13:39] nsathyaseelan opened #2548 "Maya API server pod keeps crashing"
## Description
- While installing openebs, maya api server pod keeps crashing
- Openshift version 3.10
- k8s version 1.10
## Expected Behavior
- Maya API server has to be run successfully

## Current Behavior
[code]

maya api server log

[maya.log](https://github.com/openebs/openebs/files/3142111/maya.log)

[2019-05-06 13:13] kmova commented on #2488
Will have to check @elishemer I don't remember doing anything specific for this!

[2019-05-06 15:02] encodeflush commented on #2536
sorry for late update. I'm doing a small k8s node crash test on OpenEBS while following this deployment scenario: https://docs.openebs.io/docs/next/prometheus.html
[code]
[code]

[code]
[code]
[code]
What happens when a K8s node with a mounted OpenEBS volume goes offline? For example what happens when I force k8s04w02.dev to poweroff.

[code]

[code]
[code]

[2019-05-07 19:34] muratkars commented on #2545
[GOVERNANCE.md](https://github.com/openebs/openebs/blob/master/GOVERNANCE.md) merged

[2019-05-07 19:34] #2545 closed

[2019-05-08 03:29] utkarshmani1997 commented on #2521
Closing via openebs/jiva#204

[2019-05-08 03:29] #2521 closed

[2019-05-08 03:49] utkarshmani1997 commented on #2401
Closing this, since we can only run few builds parallely in an organization. So builds in other repos will be stalled, also build time has been reduced to ~ 35 min with the recent fixes which was around ~ 45-46 min earlier.

[2019-05-08 03:49] #2401 closed

[2019-05-08 03:53] utkarshmani1997 commented on #904
Closing this issue since `mayactl` does not support volume creation anymore.

[2019-05-08 03:53] #904 closed

[2019-05-08 04:36] utkarshmani1997 commented on #808
Closing this, you already get beautiful graphs and various alerts on [mayaonline](app.mayaonline.io).

[2019-05-08 04:36] #808 closed

[2019-05-08 04:37] utkarshmani1997 commented on #807
Closing this, since it's been managed by [mayaonline](app.mayaonline.io)

[2019-05-08 04:37] #807 closed

[2019-05-08 04:38] utkarshmani1997 commented on #805
Closing this, since it's being managed by [mayaonline](app.mayaonline.io)

[2019-05-08 04:38] #805 closed

[2019-05-08 04:39] utkarshmani1997 commented on #394
Closing this, since it's being managed by [mayaonline](app.mayaonline.io)

[2019-05-08 04:39] #394 closed

[2019-05-08 04:44] utkarshmani1997 commented on #1482
Closing this via openebs/istgt#36

[2019-05-08 04:44] #1482 closed

[2019-05-08 12:45] prabhatkumarthakur opened #2551 "[0.9.0-RC1] pvc(cstor) remains in pending state in AKS cluster"
## Description

In AKS cluster, applied OpenEBS operator yaml with image tag-0.9.0-RC1.
Created spc with 3 external disks.
Created sc using above spc.
Deployed percona application. The pvc  and percona app remains in pending state.
## Expected Behavior
The application should be in running state and pvc should be bonded to pv.

[mapiserver.log](https://github.com/openebs/openebs/files/3157323/mapis

[2019-05-09 17:35] kmova commented on #2544
Fixed this as part of the following PRs for this repo as well as other code repositories being submitted to CNCF.

https://github.com/openebs/openebs/pull/2547
https://github.com/openebs/maya/pull/1144
https://github.com/openebs/jiva/pull/215
https://github.com/openebs/istgt/pull/251
https://github.com/openebs/libcstor/pull/6
https://github.com/openebs/node-disk-manager/pull/247

[2019-05-09 17:35] #2544 closed

[2019-05-10 15:55] #2493 closed

[2019-05-10 17:32] kmova commented on #2349
The issue seems to occur, when m-apiserver can't connect to the k8s to load the CRD during its initialization. Further analysis and a fix are required.

[2019-05-10 17:38] kmova commented on #2389
This has been implemented and merged to 0.9 under the following and related cherrypick PRs
- https://github.com/openebs/maya/pull/950
- https://github.com/openebs/maya/pull/966

[2019-05-10 17:38] #2389 closed

[2019-05-10 17:40] kmova commented on #2516
Need to add this to the localpv provisioner.

[2019-05-10 17:42] #2459 closed

[2019-05-10 17:45] kmova commented on #1680
This need to be handled as part of the health checker for jiva replica pods.

[2019-05-10 17:53] kmova commented on #2321
The above PR helps achieve this for cStor volumes. Keeping this open to get this implemented for Jiva volumes.

[2019-05-11 02:43] kmova commented on #2516
https://github.com/openebs/openebs/pull/2557

[2019-05-11 02:43] #2516 closed

[2019-05-11 05:10] kmova commented on #2361
Refer:
* https://github.com/openebs/openebs/issues/2413
* https://github.com/openebs/istgt/pull/234
* https://github.com/openebs/maya/pull/993

The QueueDepth and Luworkers can be configured via the StorageClass as follows:

[code]

The new values will be passed an ENV to the target pod.

`kubectl get pods -n openebs -o yaml pvc-98375585-73a8-11e9-9805-42010
a80015c-target-6657df85f-hh8sj`

[code]

[2019-05-11 05:10] #2361 closed

[2019-05-12 16:44] bitfex opened #2560 "maya-exporter's openebs_actual_used value looks incorrect"
How I can correctly check remaining space using volume exporter with prometheus?

I have pvc:

[code]

When I check mounted volume data size:

[code]

[code]

I see that almost all space is used, but when I'm checking in prometheus:

[code]

I get usage `0.328641414642334` which is looking incorrect to me.

How I can correctly check my volumes data usage?

[2019-05-12 16:51] kmova commented on #2560
@bitfex - what is the output of the following command:
`mayactl volume stats --volname pvc-ce3bc37e-4e54-11e9-af28-5404a6b4a4b0 -n openebs`

The above command will have to run from within the m-apiserver pod. https://docs.openebs.io/docs/next/mayactl.html#accesssing-mayactl

[2019-05-12 17:08] bitfex commented on #2560
[code]

[2019-05-13 09:53] gprasath opened #2561 "mayactl doesn't work for local persistent volumes."
## Description
- mayactl utility doesn't work for local volumes. None of the mayactl functionality is applicable for local volumes.

## Expected Behavior
- mayactl volume and pool utility should be working for all type of volumes.

## Current Behavior
- It doesn't work for local pvs.

## Steps to Reproduce
- Created local pv based storage class.

[code]

- Created volumes using above storage class

[2019-05-13 11:23] gprasath opened #2562 "PVC remains in pending state if it is provisioned locally."
## Description
- Used openebs local pv provisioner to create volumes using the below storageclass.
[code]
- Upon using the above storage class while provisioning, pvc remains in pending state.
- Using K8s version 1.11

[2019-05-13 11:54] kmova commented on #2562
LocalPVProvisioner requires the support for `volumeBindingMode: WaitForFirstConsumer`  - where selected node is passed as parameters to the dynamic provisioner. The feature will work with K8s 1.12 and above.

[2019-05-13 11:55] #2562 closed

[2019-05-13 12:10] prateekpandey14 commented on #2361
Refer https://github.com/openebs/maya/pull/968 as well for the detailed information for config tunnables

[2019-05-13 12:13] prateekpandey14 commented on #2348
Required info has been added as part of PR https://github.com/openebs/maya/pull/919

[2019-05-13 12:13] #2348 closed

[2019-05-13 12:59] kmova commented on #2521
Merged into 0.9
https://github.com/openebs/jiva/pull/204

[2019-05-13 13:03] kmova commented on #2518
Fixed in 0.9:

https://github.com/openebs/maya/pull/1183
https://github.com/openebs/maya/pull/1187

[2019-05-13 13:25] #2518 closed

[2019-05-14 03:58] #1680 closed

[2019-05-14 04:18] kmova commented on #1901
0.9 removes the finalizers on the cStor Volume Replica resources, which should help with deletion of the openebs namespace.

[2019-05-14 05:40] #2349 closed

[2019-05-14 06:24] kmova commented on #1121
Thank you @till for helping with updating the issue.

[2019-05-14 06:24] #1121 closed

[2019-05-14 09:03] #2551 closed

[2019-05-15 07:01] AmitKumarDas opened #2567 "add label to persistent volume(s) created by openebs local-pv provisioner"
### Why is this required
This helps to identify/bookmark Kubernetes PersistentVolume(s) created by openebs local-pv provisioner from volumes created via other provisioners.

### Possible Solution
The PersistentVolume can have following label to achieve above objective

[code]

### Mentors
- @kmova

[2019-05-15 07:46] sachinmukherjee commented on #2567
I want to try this one

[2019-05-15 07:56] AmitKumarDas commented on #2567
ok @sachinmukherjee You can go ahead with this!!

Refer - `func (p *Provisioner) Provision(opts pvController.VolumeOptions) (*v1.PersistentVolume, error)` at `https://github.com/openebs/maya/blob/master/cmd/provisioner-localpv/app/provisioner.go`

[2019-05-16 03:49] AmitKumarDas commented on #2511
Closing this issue as various PRs has been merged tacking this issue.

https://github.com/openebs/maya/pull/1164
https://github.com/openebs/maya/pull/1175
https://github.com/openebs/maya/pull/1198

[2019-05-16 03:49] #2511 closed

[2019-05-17 05:29] #2502 closed

[2019-05-17 06:08] inyee786 opened #2570 "cstor snapshot claim is taking the space"
## Description

I have elasticsearch application which has 3 replica of cstor and 2 repilca of them in ofiline sate
due snapshot claim

## Current Behavior

The application is not able to start

## Steps to Reproduce

have thin provisioning for the application ie(pool size= 300GB but the application volume size=400GB)

## zfs command

[code]

[2019-05-17 06:12] inyee786 opened #2571 "Thin provisioning should not exceed the pool size"
## Description

Thin provisioning of the application should not exceed the pool size

log of the pool
https://mayadata-team.slack.com/files/U6X7NNVED/FJCL1C81G/cstor-disk-dlp1-logx.txt

[2019-05-17 06:16] vishnuitta commented on #2570
stale snapshots are deleted with this github.com/openebs/cstor/pull/227. So, space would be reclaimed.

[2019-05-17 06:16] #2570 closed

[2019-05-17 06:16] vishnuitta commented on #2571
Thin provisioning will exceed the pool size if volume size is greater than pool size. Hence, closing this issue.

[2019-05-17 06:16] #2571 closed

[2019-05-17 23:47] port22 commented on #1117
Since there are so much problems with Rexray, I was looking for a decent alternative for AWS EBS volumes on Docker Swarm. So, I second this Feature Request.

[2019-05-18 03:29] AmitKumarDas commented on #1117
@port22 will it be possible to collaborate here. Current team has no bandwidth to look at Docker Swarm.

[2019-05-18 10:36] port22 commented on #1117
@AmitKumarDas Oh I'm not that good in writing code, let alone to write a storage driver. If you mean that...

[2019-05-22 10:31] tbe commented on #2258
I just wonder why this is not a blocker or at least mentioned in the docs: "WARNING! You can not remove a broken disk from a custom pool"

Disks break. A "Leading Open Source" software should be able to handle this.

We lost one of your disks on one node yesterday. After replacing it the according pool was still fucked up, so restartet it. And at this point the whole thing broke ... many volumes i

[2019-05-22 13:57] vishnuitta commented on #2258
sorry for the issues you faced @tbe .. we can recover the data by recreating the pool on which disk gone bad.
Would you be able to join our slack channel http://openebs-community.slack.com/? and, we will fix it over a zoom session if that helps you.

[2019-05-22 14:01] tbe commented on #2258
Thx @vishnuitta for the offer, but we have decided to move along with rook as we know our way around ceph. But it would be great if you can document the process of restoring the broken pool, that may help others, that are not so lucky to have backed up everything twice

[2019-05-22 14:27] vishnuitta commented on #2258
sure @tbe . Thanks for feedback :+1: We will document it. cc: @ranjithwingrider

[2019-05-26 21:18] aijanai commented on #2536
Is there any ETA about when CSI support is coming? Any beta test program?

[2019-05-27 02:34] Riete opened #2592 "0.81->0.82 upgrade script cstor_volume_upgrade.sh: line 40: [: missing `]'"
## Description

0.81->0.82 upgrade script cstor_volume_upgrade.sh: line 40 `elif [ $cas_type == "cstor"]; then` --> `elif [ $cas_type == "cstor" ]; then`
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

## Screenshots

## Your Environment

* `kubectl get nodes`:
* `kubectl get pods --all-namespaces`:
* `kubectl get services`:
* `kubectl get sc`:
* `kubectl ge

[2019-05-29 15:32] kmova commented on #2344
Fixed in 0.8.2

https://github.com/openebs/maya/commit/74756cab5fef79feaf5cdad9d1af108ddd84a652

[2019-05-29 15:32] #2344 closed

[2019-05-29 18:35] #2592 closed

[2019-05-30 06:38] dingsongjie opened #2599 "aborting storagepool create operation as no node qualified: no disk object found"
**1 My custom Disk  yaml**

apiVersion: openebs.io/v1alpha1
kind: Disk
metadata:
  name: server01-device1
  labels:
    kubernetes.io/hostname: server01
    ndm.io/managed: "false" # for manual disk creation put false
    ndm.io/disk-type: partition
status:
  state: Active
spec:
  capacity:
    logicalSectorSize:  512
    storage:  406870912000
  devlinks:
  \- kind: by-id
    links:
    \- /dev/d

[2019-05-30 07:30] utkarshmani1997 opened #2600 "jiva controller pod is not accepting replicas after upgrade"
## Description

Controller is not accepting connections from replica after upgrade.

## Expected Behavior

controller should accept connection and run smoothly

## Current Behavior

it's getting into registration loop indefinitely with following logs
[code]

## Possible Solution

restart controller and everything will be fine.

## Steps to Reproduce

- Upgrade from older versions to 0.9.0 and you

[2019-05-30 07:44] kmova commented on #2599
`ndm.io/disk-type: partition` can you set this to : `ndm.io/disk-type: disk`

[2019-05-30 08:01] dingsongjie commented on #2599
it is works , thank you for help

[2019-05-30 08:09] #2599 closed

[2019-05-30 11:58] gprasath opened #2602 "ndm pod crashed twice in 0.3.5"
## Description
- In openshift cluster , installed openebs 0.9 along with ndm 0.3.5.
- It is observed that one of the ndm pods is observed to be restarted twice.
- It dumped core.

Attached the logs of ndm pod.

## Your Environment

* `kubectl get nodes`:
[code]
* `kubectl get pods -n openebs`:
[code]

[ndm_core.txt](https://github.com/openebs/openebs/files/3236858/ndm_core.txt)
ndm pod logs

[2019-05-30 12:52] jbrongtr commented on #2344
Thanks for your hard work guys!

[2019-06-02 14:10] #2600 closed

[2019-06-03 06:48] mittachaitu commented on #1047
Below are the manual steps to resize cStor volume:
**Prerequisite:**
Please make sure all the `cStorVolumeReplica` CR of the volume needs to be in *Healthy* state,          before proceeding with steps.

Steps to update cStor volume:
**Step 1:** Update the volume size in all the pool pods
                  ```zfs set volsize=<new size> <dataset name>```
Note: This has to be performed inside all th

[2019-06-04 09:30] harshita-sharma011 opened #2614 "cleanup-pvc-* getting created periodically when pvc not found"
I am using openebs:ci image for openebs and openebs/provisioner-localpv-ci:ci-local03 for local pv. In order to cleanup the setup I deleted all the pvc .
I noticed cleanup-pvc-* pods were getting launched again and again .
Also, pvs were released but not deleted
Here are the openebs-localpv-provisioner-* pod logs for your reference:
![localpv_pod_logs](https://user-images.githubusercontent.com/483

[2019-06-05 06:04] sushma1118 opened #2615 "MongoDB application pod is getting restarted again and again because of lack of permission"
## Description
When I was deploying MongoDB appliation using litmus framework, I faced this issue. The application pod was getting restarted again and again and finally it goes to CrashLoopBackOff state.

## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Describe the application pod
[code]
Describe pvc
[code]
Get the log of pod
[code]
Enter into one container
[code]
The

[2019-06-05 06:34] gprasath commented on #2615
In openshift platform, need to update the security context.

[2019-06-05 06:34] #2615 closed

[2019-06-06 04:32] utkarshmani1997 commented on #2520
closed via openebs/jiva#216

[2019-06-06 04:32] #2520 closed

[2019-06-06 04:34] utkarshmani1997 commented on #2519
closed via openebs/openebs#2569

[2019-06-06 04:35] #2519 closed

[2019-06-06 04:36] utkarshmani1997 commented on #2489
close via openebs/jiva#203

[2019-06-06 04:36] #2489 closed

[2019-06-06 04:37] utkarshmani1997 commented on #2399
close via openebs/jiva#216

[2019-06-06 04:37] #2399 closed

[2019-06-07 04:49] gprasath opened #2618 "Deleting application namespace doesn't delete all its corresponding cstor volumes."
## Description

Upon application namespace deletion, all the corresponding components such as pods, pvc, pv are to be deleted. If we have multiple PVCs created in the namespace, only the first one gets deleted in the corresponding cstor pool.

## Expected Behavior
- All cStor volumes created in the namespaces should get deleted.

## Current Behavior
- Only the first volume gets deleted.

## Steps

[2019-06-07 09:57] gprasath opened #2619 "Claimed blockDevice become unclaimed upon detaching and reattaching disk to the node"
## Description
Already claimed blockDevice becomes unclaimed after detaching and reattaching disk to the same node.

## Steps to Reproduce
- Attach a disk to node
- Claim the blockDevice
[code]
- Detach the disk from node. It becomes Inactive.
[code]
- Reattach the disk to node again.
[code]
- The blockDevice became unclaimed after attaching again.

[2019-06-07 20:00] vitobotta opened #2621 "Allow multiple paths for Jiva pool/class"
## Description
Currently Jiva supports one path only. My understanding is that in order to use other mounted disks I need to create separate pools and storage classes. It would be great if we could just use multiple paths with the same pool/storage class.

## Context

This would be useful to scale Jiva storage with multiple disks.

Thanks!

[2019-06-12 10:19] vharsh opened #2624 "Configure caching for openebs docs website"
## Description
HTTP is a popular protocol for sending structured data across various systems. As you are actively looking for cool issues on GitHub, your browser is performing requests for a set assets viz images, issues, etc. If you take a closer look, a few of them do not change as frequently, take your GitHub profile-picture for example. This is where caching proves to be helpful, while giving

[2019-06-18 13:15] kmova opened #2630 "PVC with name longer than 63 chars fails to provision."
When a PVC is created with name longer than 63 chars, it fails with the following error:

[code]

The above error is thrown by the m-apiserver, since as it tries to create a K8s service for Target and sets the metadata label `openebs.io/persistent-volume-claim=<pvc-name>`.

Need to explore if the above label is still required or if it could be moved to metadata annotations.

[2019-06-18 21:01] bodleytunes opened #2631 "Having some issues trying to get openebs to create storage pools where nodes are LXD containers (kubedee)"
A few issues where cstor is going crashloopbackoff.

Have a strange experimental setup which is a VM host, with LXD containers acting as the kubernetes nodes.
The VM host has spare virtual disks unformatted/unpartitioned that I wanted to pass into the nodes for them to use.

I'll paste the slack thread below for reference:

Topgun Kebab GTR  [24 hours ago]
Hi, I'm trying to see if I can get openeb

[2019-06-19 01:30] #2560 closed

[2019-06-19 06:23] bodleytunes commented on #2631
iscsi on host

![image](https://user-images.githubusercontent.com/619239/59741458-f7010400-9262-11e9-884c-848e8bacd57e.png)

iscsi on worker

![image](https://user-images.githubusercontent.com/619239/59741511-16982c80-9263-11e9-9666-1d0dce92c476.png)

[2019-06-19 06:29] bodleytunes commented on #2631
`root@kubedee-kube0-controller:~# kubectl  logs cstor-pool1-4oql-7b66bcd44d-8rtl2 -c cstor-pool-mgmt -n openebs --previous
+ rm /usr/local/bin/zrepl
+ exec /usr/local/bin/cstor-pool-mgmt start
I0619 06:21:35.463795      10 common.go:189] CStorPool CRD found
I0619 06:21:35.467317      10 common.go:207] CStorVolumeReplica CRD found
I0619 06:21:35.467576      10 new_pool_controller.go:99] Setting up

[2019-06-19 20:42] bodleytunes commented on #2631
Wondering if this mismatch in expected disk path name could be part of the problem

![image](https://user-images.githubusercontent.com/619239/59798920-26ebee00-92db-11e9-92ac-841a19ed9941.png)

[2019-06-20 01:25] kmova commented on #2631
@bodleytunes -- can you provide the `kubectl get disk -o yaml` : This should show the path and links discovered by NDM. The cstor pool picks up the path details from the disk CR.

[2019-06-20 03:43] kmova commented on #2614
@harshita-sharma011 - Is this issue reproducible and can we get the logs of the local pv provisioner when this issue is hit.

[2019-06-20 03:49] kmova commented on #2567
@sachinmukherjee  - had to get this done before 1.0, so went ahead and fixed this as part of : https://github.com/openebs/maya/pull/1266

[2019-06-20 03:49] #2567 closed

[2019-06-20 07:45] bodleytunes commented on #2631
I will check that when I get home tonight
Cheers!
Jon.

On Thu, 20 Jun 2019 at 02:25, Kiran Mova <notifications@github.com> wrote:

[2019-06-20 17:26] bodleytunes commented on #2631
[code]

[2019-06-20 17:32] bodleytunes commented on #2631
[code]

[2019-06-20 17:36] bodleytunes commented on #2631
the main host (lxd host)
[code]

[2019-06-22 10:40] quadeare opened #2644 "Recovery from /var/openebs/ after cluster crash"
# Description

I completely break my k8s cluster after node physical upgrade... Great !
My cluster is now fine but i would like to recover data from  /var/openebs/.

I tried to get informations about the recovery documentation, but I did not find anything that could solve my problem : https://docs.openebs.io/docs/next/troubleshooting.html#recovery-readonly-when-kubelet-is-container

# Possible Sol

[2019-06-22 10:57] kmova commented on #2644
@quadeare -- Can you try the following steps: https://github.com/kmova/bootstrap/blob/master/gke-openebs/jiva-recovery/README.md

[2019-06-23 15:12] quadeare commented on #2644
@kmova -- Thank you very much ! I retrieve my data with your guide. Have a nice day !

[2019-06-23 15:12] #2644 closed

[2019-06-24 05:28] vishnuitta commented on #2536
hi @aijanai .. got to see this now. We are planning this in 1.1 which is targeted in late july. I will share the docker images link here. can you join our slack for faster response from openebs teawm?

[2019-06-25 10:42] wzrdtales opened #2649 "Local Disk shows up as blockdevice even so it is already in use"
Hey there, I just noticed one unwanted behavior in the 1.0.0 version of openEBS. On this server all disks are mounted and completely partitioned. For some reason however, the nvme disks get listed as blockdevice and listed as `partitioned: no` and it finds no filesystem information as well. These disks however have partitions and the root partition is configured in a softraid. Still it shows up li

[2019-06-25 14:37] akhilerm commented on #2649
@wzrdtales Can you get the output of `lsblk` from the node?

[2019-06-25 14:59] wzrdtales commented on #2649
sure

[code]

[2019-06-27 08:55] akhilerm commented on #2649
@wzrdtales  Software RAID is not supported at the moment by NDM. This is the reason why `nvme1n1` is used to create BlockDevice CR. `nvme0n1` was excluded because NDM detected `/boot/efi` on a partition on that disk.
You can also exclude that nvme device by specifying it in the exclude section of `path-filter` in NDM ConfigMap.

[2019-06-27 10:49] wzrdtales commented on #2649
@akhilerm Yah did that as a work around already. I just wondered b/c on another system the software raid was filtered out completely and did not appear as blockdevice.

[2019-06-27 10:54] akhilerm commented on #2649
@wzrdtales  Cool.
Would it be possible to share the output of `lsblk` from the other system in which softRAID was filtered. I assume it will have a disk setup similar to `nvme0n1` from the above logs.

[2019-06-27 17:02] bryanlarsen opened #2655 "NDM holding device open even though ignored"
## Description

I cannot remove an LVM volume because ndm has it open.   /dev/dm- and /dev/mapper are in the ndm excludePaths

## Expected Behavior

lvremove should succeed.

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce

## Screenshots

## Your Environment

[code]

[code]

[code]

[code]

[code]

Ubuntu 18.04.2

[2019-06-27 17:38] akhilerm commented on #2655
@bryanlarsen  Thanks for reporting the issue.
Can you share the NDM pod logs and output of `lsblk` from the node where this issue happened.
Also,was the lvm created before the installation of OpenEBS or after.?

[2019-06-27 18:26] bryanlarsen commented on #2655
[entrypoint.sh] enabling core dump.
[entrypoint.sh] launching ndm process.
I0627 16:43:15.455233       8 controller.go:217] Disk CRD is available
I0627 16:43:15.461472       8 controller.go:233] BlockDevice CRD is available
I0627 16:43:15.461496       8 filter.go:58] registering filters
I0627 16:43:15.461512       8 filter.go:66] configured os disk exclude filter : state enable
E0627 16:43:15.4617

[2019-06-27 18:27] bryanlarsen commented on #2655
$ sudo lsblk
NAME                                    MAJ:MIN RM   SIZE RO TYPE  MOUNTPOINT
sda                                       8:0    0 447.1G  0 disk
├─sda1                                    8:1        487M  0 part  /boot/efi
├─sda2                                    8:2       74.5G  0 part
│ └─md0                                   9:0    0  74.5G  0 raid1 /oldroot
├─sda3

[2019-06-27 18:29] bryanlarsen commented on #2655
Most LVM partitions were created prior to openebs installation.   The snapshot we're trying to remove (green-redis-sentinel-backup) was created subsequent.

[2019-07-01 07:58] akhilerm commented on #2655
@bryanlarsen A PR has been raised for fixing this issue. https://github.com/openebs/node-disk-manager/pull/275. The issue happened because we were not closing devices after fetching the information using openSeachest library.

[2019-07-01 12:23] SoGooDFR opened #2658 "failed to parse capacity"
## Description
[code]

## Expected Behavior
Create pool storage

## Current Behavior
failed to build BDC object: failed to parse capacity

## Steps to Reproduce
Add volume via scaleway (host provider) console, and try to create storage pool.

## Your Environment
* `kubectl get nodes`:
[code]

* `kubectl get pods --all-namespaces`:
[code]
* `kubectl get services`:  kubernetes   ClusterIP   **.**.**

[2019-07-01 12:43] sonasingh46 commented on #2658
Can you please paste the SPC yaml that you used for pool provisioning

[2019-07-01 12:45] SoGooDFR commented on #2658
[code]

[2019-07-01 12:47] mittachaitu commented on #2658
@SoGooDFR Can you get the output of `kubectl get blockdevice blockdevice-05d486a97e2d36dcbc8e5af609fa0cf3 -n openebs -o yaml`
From the logs I am blockdevice is holding capacity verry less capacity

[2019-07-01 12:48] SoGooDFR commented on #2658
[code]

[2019-07-01 13:30] mittachaitu commented on #2658
@SoGooDFR From the `blockdevice` output, it is showing capacity of disk attached to the node as 0 `storage: 0`. To know the reason can you provide the output of below command
1. `kubectl logs <openebs-ndm pod schedule on the node euw-kube-node-2> -n openebs`
2. `kubectl get disk disk-05d486a97e2d36dcbc8e5af609fa0cf3 -o yaml`

What is the size of the disk attached to the node euw-kube-node-2?

[2019-07-01 13:35] #2655 closed

[2019-07-01 14:03] SoGooDFR commented on #2658
[code]

[code]

[2019-07-01 14:06] SoGooDFR commented on #2658
Main disk have 50G. I had external volume and his size is 25g.

[2019-07-01 14:07] mittachaitu commented on #2658
Thanks for details we will gothrough it.

[2019-07-01 14:37] AFKD98 commented on #71
I am facing the same issue on Ubuntu 16.04. I tried everything above. I am using latest versions.
virtualbox version 6.0.8
vagrant version 2.2.5
I think I need to downgrade my versions ?
Help ??

[2019-07-02 03:12] jp83 opened #2659 "jiva volume upgrade script sed fails"
## Description
I'm trying to upgrade from 0.9.0 to 1.0.0 following the instructions.  I cloned the repo and get to the ./jiva_volume_upgrade.sh step which fails due to sed option -u.  Seems like an obvious issue with the sed, but I can't find what the -u switch is supposed to do in the man.  I'm on MacOS, but didn't see anything different.

## Expected Behavior
Expected to upgrade jiva volume.

##

[2019-07-02 07:34] shubham14bajpai commented on #2659
Thanks for the issue. The fix is merged #2654 . Please verify the changes.

[2019-07-02 12:10] jp83 commented on #2659
The upgrade works now, but I think another similar issue with the verify script called within.

"pvc-6949cf81-9b6c-11e9-aaa1-000c297ba032-rep-5758c8db5f" deleted
Upgrading target Deployment to 1.0.0
deployment.extensions/pvc-6949cf81-9b6c-11e9-aaa1-000c297ba032-ctrl patched
replicaset.extensions "pvc-6949cf81-9b6c-11e9-aaa1-000c297ba032-ctrl-569b6dd995" deleted
Upgrading target service to 1.0.0
se

[2019-07-02 17:27] vharsh commented on #2480
/close

[2019-07-02 17:34] vharsh commented on #2405
This might end up getting removed, need to discuss with the team.
Ref: https://github.com/openebs/openebs/issues/2470

[2019-07-02 23:20] SoGooDFR commented on #2658
A little precision: no problem with 0.9 version.

[2019-07-03 05:29] ranjithwingrider commented on #2658
@SoGooDFR From the StoragePoolClaim configuration, one observation is that `blockdevices` need to be changed with `blockDevices`. You can use this page for the creation of cStor pool. https://docs.openebs.io/docs/next/ugcstor.html#creating-cStor-storage-pools.

[2019-07-03 11:40] SoGooDFR commented on #2658
@ranjithwingrider Amazing guy ! You fix my problem, I don't seen this mistake.

[2019-07-03 17:12] kmova commented on #2510
With 1.0, I see that portal details are no longer present in the stats command.

Keeping this issue open to get a resolution on the Local Size part.

[2019-07-03 17:32] kmova commented on #2500
Will need to take this up - with some pod eviction simulations. Under normal conditions the output is working as expected.

[2019-07-03 17:36] kmova commented on #2183
With the change in NDM 0.4 to use the BlockDeviceClaim and BlockDevices, there is a mechanism to add the filters. In the current phase, the cstor schema is being changed as well and the focus is on getting the manual cstor provisioning to work. This requirement can be implemented along with the auto-cstor-provisioning schema.

[2019-07-03 17:39] #2508 closed

[2019-07-04 07:41] wouterh commented on #2659
the `-P` option for `grep` is not supported by the default `grep` on mac os x:
[code]

Replacing `-P` with `-E` works.

Also, it would be better if the scripts have:
[code]

iso

[code]

`/bin/bash` on mac os x is old:
[code]
It doesn't support e.g. `declare -A`, which is used by `pre-upgrade.sh`. Changing the shebang allows to install a more recent bash (e.g. with homebrew) and have the scripts u

[2019-07-04 07:54] wouterh commented on #2659
On mac, I also run into the issue that `wc -l` prints spaces in front of the number:

[code]
results in leading spaces in `running_ctrl_pod_count`:
[code]
which causes the comparison with 1 to fail.

[2019-07-05 13:55] #2658 closed

[2019-07-07 03:44] bdchauvette opened #2664 "Auto StoragePoolClaim doesn't create cStorPools when type is blockdevice"
## Description
Creating an auto `StoragePoolClaim` (i.e. without specifying any `blockDevices`) on EC2 instances with attached gp2 EBS devices doesn't create cStor pools on nodes when using `type: blockdevice`

## Expected Behavior
Creating an auto `StoragePoolClaim` would create the required number of cStor pools to satisify the `maxSize` and `minSize` requirements.

## Current Behavior
No cStor

[2019-07-08 10:30] nike38rus opened #2665 "Allow to change default storage classes parameters"
## Description

Allow to tune parameters of default storage classes created by openebs-apiserver

## Context
After installing openebs into K8s cluster openebs-apiserver bootstraps the default SCs. If I want to change some of their parameters I have to duplicate them because apiserver will try to restore them on restart.

## Possible Solution
* Add env variables/helm chart values for changing param

[2019-07-11 04:43] AmitKumarDas commented on #2665
Thanks @nike38rus we are looking into it. I guess enabling or disabling of SC from apiserver seems doable for current release.

[2019-07-14 14:11] dewet22 commented on #1295
@muratkars worth asking about another update? This seems to be slipping without any resolution in sight. With the new RPi4 and other more powerful SBCs using arm64 being available now, this is quite a limitation to wider adoption.

[2019-07-15 07:59] harshvkarn commented on #1295
@dewet22 This wasn't on the highly active issue until now :) Builds will be coming soon. I'll keep this issue posted. Thanks.

[2019-07-15 10:40] naviat commented on #1117
Any update from OpenEBS for this?

[2019-07-16 06:56] siegfriedhoellrigl opened #2673 "How to deal with full Disks"
We have installed OpenEBS 0.9.0 in Rancher/Kubernetes Cluster.

It is running on 14 Nodes. 7 of them have a 200GB SSD, the other 7 have a 2TB Harddisk.

Choosing different Pools for that purpose works fine.

But as soon, as a Disks is getting full, the workload which is using it, freezes.

I guess, this is an expected behaviour, since "overprovisioning=false" is not working at the moment, right ?

[2019-07-16 12:01] Sakib37 opened #2674 ""OPENEBS_IO_INSTALL_DEFAULT_CSTOR_SPARSE_POOL" is ignored"
## Description

According to the docs, the env variable "OPENEBS_IO_INSTALL_DEFAULT_CSTOR_SPARSE_POOL" can be used to decide if openebs will create a default sparse pool or not. Tried both 'true' and 'false' for that env variable but it always create a cstor sparse pool.

I deploy openebs by using `kubectl apply -f operator-file.yaml`

After deploying the operator, I get the following output
[code

[2019-07-16 12:09] ranjithwingrider commented on #2674
Can you get the OpenEBS installed version?

[2019-07-16 12:16] Sakib37 commented on #2674
@ranjithwingrider  Thank you for such a quick reply. I am using the following images

[code]

[2019-07-16 12:25] ranjithwingrider commented on #2674
thanks for confirming the version.
Can you get me the customized operator YAML?

[2019-07-16 12:26] ranjithwingrider commented on #2674
Also can you get output of `kubectl get bd -n openebs`

[2019-07-16 12:39] Sakib37 commented on #2674
Please ignore. :/

I just deleted the whole namespace and deployed the customized opeartor from scratch and it seems there is no csp got created at this time.

You can find the customized operator in the following link.
https://gist.github.com/Sakib37/6677a675060cc10fcf6cc9425404ad12

[code]

[code]

[2019-07-16 12:39] #2674 closed

[2019-07-16 12:42] ranjithwingrider commented on #2674
Yes. This was due to ungraceful deletion of OpenEBS. If you are reinstalling on the same K8s cluster, follow the graceful uninstall procedure.

- Delete all the OpenEBS PVCs that were created. You can check the status of PVC using the following command.
[code]
  There should not have any entries of OpenEBS PVC.

- Delete all the SPCs (In case of cStor storage engine). You can check the status of S

[2019-07-16 13:06] rgembalik opened #2675 "[Jiva] Pods (both ctrls and replicas) stuck in terminating state"
## Description
If there ever happens any instability with the node or network, it happens every now and then, that one of the controller containers is stuck and cannot be terminated fully. Usually, it'll show like this one:
[code]

It happens with replicas as well, but replicas are a bit more serious, as unterminated pod will newe let its replacement to be scheduled on this node until finished.

N

[2019-07-16 16:06] ranjithwingrider commented on #2673
@siegfriedhoellrigl If the underlying disk can be expanded, then you can expand the cStor pool using the steps mentioned [here](https://docs.openebs.io/docs/next/ugcstor.html#expanding-size-of-a-cStor-pool-instance-on-a-node-add).
If you have some extra disks to be added to the Node, then cStor pool exapnsion can be done by the steps mentioned [here](https://docs.openebs.io/docs/next/ugcstor.html#

[2019-07-18 06:05] utkarshmani1997 commented on #2675
@rgembalik can we get the logs of controller as well, need to check where it's getting stuck while shutting down.

[2019-07-18 07:49] siegfriedhoellrigl commented on #2673
Ususally on newer (hardware-highdensity-) servers, there are only 2 or 3 Slots for harddrives.
You would normally equip everything with disks initially.
So no chance to increase any disk capacity afterwards.

Is there any Roadmap, when "overprovisioning=false" will be working correctly ?

What else can be done, when a disk is getting full ?
Is it possible to "move" a volume from one disk to anothe

[2019-07-18 07:55] rgembalik commented on #2675
@utkarshmani1997 I'll see what can I do about logs, but I think it was already turned off because there was no process on the node with PID given by docker inspect. The meaning process was already turned off and docker didn't see that change.

[2019-07-18 08:45] rgembalik commented on #2675
[ctrl-logs-pre-stop.log](https://github.com/openebs/openebs/files/3405605/ctrl-logs-pre-stop.log)

@utkarshmani1997 Here are the ctrl logs, one hour back, before it was stopped. Not much of it hough.

[2019-07-19 10:47] a2hksy commented on #802
Any solution to this issue? Actually, I am facing a similar issue.

[2019-07-23 19:43] sonasingh46 commented on #2394
Pool expansion support is intended to be delivered via CSPC i.e. CStorPoolCluster.
Just like SPC, CSPC can be be used to specify pool config to provision cStor pool with the added advantage of day 2 operations support.

[2019-07-24 06:31] harshita-sharma011 opened #2683 "BD not released after respective pv deletion"
## Description
Created a PVC with storage class: openebs-device, BDC was created which claimed the BD
Now patched the respective PV with reclaim policy as `Retain`. Now deleted the PVC and PV, but the BDC state is still bound to BD.

## Context
 BDC deletion is triggered after PVC deletion when PV's reclaim policy is `Delete`
 But in the cases where  PV's reclaim policy is `Retain`, BDC deletion s

[2019-07-25 06:48] pawanpraka1 opened #2686 "cstor-pool on K3OS is not working"
On K3OS we are not able to create the pool. The pool creation is failing mainly because K3Os does not support udev. When we use "zpool create" command, the zpool labels the disk and rely on udev to get the information about the devices (Specialy it checks if device is initialized by udev or not via udev_device_get_is_initialized library call). It creates a partition and waits for (via udev)
- it t

[2019-07-25 16:02] NeilW opened #2687 "Snapshot on Local PV volume doesn't fail properly"
## Description
If you attempt to do a snapshot on a hostpath or device local PV, the snapshot does not go into failure properly

## Expected Behavior
The snapshot operator should fail gracefully if it doesn't find the right sort of snapshot plugin and not repeat the snapshot as per the reported spec

"If the CSI driver fails to create the snapshot and returns error, the snapshot controller reports

[2019-07-26 07:24] mittachaitu opened #2696 "cstor-pool-mgmt in new pod is communicating with cstor-pool in old pod"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

 Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

**What happened**:
When `cstor-pool-pod` is deleted there are high chances that two cstor-pool-pods can present i.e old pod will be in terminating state(which means not all the containers completely terminated) and new pod is in Running state(might be few containers are in running state n

[2019-07-26 12:57] akhilerm commented on #2485
Fixed in [#276](https://github.com/openebs/node-disk-manager/pull/276) in NDM repo. The crash occurred because of a memory corruption issue from seachest.

[2019-07-26 12:57] akhilerm commented on #2542
Fixed in [#276](https://github.com/openebs/node-disk-manager/pull/276) in NDM repo. The crash occurred because of a memory corruption issue from seachest.

[2019-07-26 12:57] akhilerm commented on #2602
Fixed in [#276](https://github.com/openebs/node-disk-manager/pull/276) in NDM repo. The crash occurred because of a memory corruption issue from seachest.

[2019-07-29 03:28] vharsh commented on #2630
By what release are we planning to remove the PVC label? This label is useful and it has been used in various blogs, scripts and whatnot, we'd have to convey the alternative to end-users, and suggest an alternative jsonpath examples.

subscribe @vharsh

[2019-07-29 16:08] obeyler opened #2690 "custom ndm.sparse.path in helm chart"
## Description
When the default path for spare /var/openebs/spare is overrided by the `ndm.sparse.path` helm parameter, the pvc pod created in openebs namespace (when a new pvc arrive) crashs as it still pointing to old default spare path.

![image](https://user-images.githubusercontent.com/23224162/62065363-1c543b00-b22f-11e9-9fa8-19d9d398d023.png)

## Expected Behavior
no crash

## Current Behav

[2019-07-30 12:52] KiiLLzz78 commented on #2536
hi @vishnuitta,
I have exactly the same issue.
I have 3 deployment on Kubernetes that's need to using a storage to keep data generated by them.  So, I install OPENEBS, to create 3 pvc in High-availability. (openebs-jiva-default)

To be sure, that's working, I am going to shutdown the worker that's host one of them. The result is that's the pod stuck on "Container Creating' because of "Multi-Attach

[2019-07-31 08:27] KiiLLzz78 commented on #2536
Any advice on How to deploy a container with a storage with Kubernetes in real High-availability ?

-> With "Real High-Availability" I means, that when a worker will be down, the container will be deploy somewhere else with the same storage

Example: I have one ETCD, I would like that when the worker where the ETCD is running will be down, that the ETCD will be deploy on another node, with the sam

[2019-07-31 13:44] siegfriedhoellrigl commented on #1901
Hi !
We had installed OpenEBS 0.9.0 from helm chart, and would like to remove it completely.

We followed the instructions from https://docs.openebs.io/docs/next/uninstall.html.
It was almost successful, but

when executing "kubectl delete crd blockdeviceclaims.openebs.io"
customresourcedefinition.apiextensions.k8s.io
-> "blockdeviceclaims.openebs.io" deleted
looks ok, but there is no prompt after

[2019-07-31 14:21] kmova commented on #1901
@siegfriedhoellrigl .. can you check on the `kubectl get crd | grep -i openebs`. It is possible that the finalizers on some of the resources are still present.

[2019-07-31 15:02] siegfriedhoellrigl commented on #1901
blockdeviceclaims.openebs.io                      2019-07-29T16:15:39Z

customresourcedefinition.apiextensions.k8s.io "blockdeviceclaims.openebs.io" deleted
... and this command "hangs" forever....

[2019-07-31 15:44] kmova commented on #1901
Can you check if there are any finalizers on the block devices and remove them please.

`kubectl get bdc -n openebs`

[2019-07-31 15:51] siegfriedhoellrigl commented on #1901
kubectl get bdc -n openebs
NAME                                       BLOCKDEVICENAME                                PHASE   AGE
bdc-f1f6a563-8e95-11e9-a30c-0cc47a0e9cff   blockdevice-9eef5b8d91e602a27ef0d2e88ca4d66b   Bound   1d

kubectl delete bdc -n openebs bdc-f1f6a563-8e95-11e9-a30c-0cc47a0e9cff
blockdeviceclaim.openebs.io "bdc-f1f6a563-8e95-11e9-a30c-0cc47a0e9cff" deleted
... was this comman

[2019-07-31 15:54] kmova commented on #1901
`kubectl edit bdc -n openebs bdc-f1f6a563-8e95-11e9-a30c-0cc47a0e9cff` ( Remove the finalizer section)

[2019-07-31 16:00] siegfriedhoellrigl commented on #1901
Ah ! Perfect. openebs namespace has gone now.
Do you know why this happened ?
Is it fixed in openebs 1.0.0 ?

Thanks a lot !

[2019-07-31 16:05] kmova commented on #1901
Finalizers are removed by the respective controllers in this case the finalizers on BDC should be removed by m-apiserver and NDM. However as part of delete namespace, if the m-apiserver and ndm-operator pods are terminated before they got a chance to delete the finalizers, we get into this state. This issue should not happen if all the objects are deleted before deleting the namespace.

The fix fo

[2019-08-01 02:27] kmova commented on #2673
@siegfriedhoellrigl -- couple of questions on the setup:
- When you require more space, do you have another node with additional disks.
- Also say you are using replica count of 3, do you add nodes in multiples of 3.

[2019-08-01 03:16] hdnebat opened #2692 "backup documentation doesn't reflect current version"
below section is obsolete, we are v1.0.

Roadmap
OpenEBS ARK storage plugin

The above backup and restore procedure is done using Restic, where the entire data is copied and restored in a bulk manner. More efficient backup and restore possible through incremental data snapshots using the OpenEBS ARK storage plugin which is planned for OpenEBS 0.9 release

[2019-08-01 03:22] ranjithwingrider commented on #2692
Thanks @hdnebat for reporting the problem.
Can you provide the corresponding doc link, please?   We can change it if it is pointing in the latest doc.

[2019-08-01 03:47] hdnebat commented on #2692
the topic doesn't exist in latest docs.
latest docs have it is 0.8.2:
https://docs.openebs.io/v082/backup.html

[2019-08-01 04:17] ranjithwingrider commented on #2692
Previous OpenEBS versions are accessed generally by https://docs.openebs.io/<version_representation>/<page.html>

Latest doc has come up with restructured contents and arranged in such a way that End user will get all User guide info of each OpenEBS engine from one page. The following page has the description of backup and restore for different OpenEBS engines.
1. https://docs.openebs.io/docs/next

[2019-08-01 05:38] siegfriedhoellrigl commented on #2673
At the moment there are only 7 Servers with a 2TB Disk and 7 Servers with a 200GB SSD.
Maybe more will follow in the future. But these will have different disks.
For most workloads an external ceph cluster is used.
But we would like to make sure, that nobody can create openebs volumes that require more disk space than availiable.

[2019-08-01 06:47] kmova commented on #2690
Thank you @obeyler for helping with the PR for this one.
The fix is now available both for 1.0(https://github.com/helm/charts/pull/16000)  and 1.1(https://github.com/helm/charts/pull/16011)

[2019-08-01 06:47] #2690 closed

[2019-08-01 06:53] kmova commented on #2686
https://github.com/rancher/k3os/issues/151 is tracking the enhancement for supporting udev in K3Os

[2019-08-01 07:08] kmova commented on #2665
As part of 1.1, we have the ability to disable the installation/management of default storage configuration. Keeping this issue open, to be able to collect a few more details on the kind of parameters that users would like to customize and add them into the software.

Here are some of the options that can be already configured:
- default storage path for jiva and local pv volumes
- enable/disable

[2019-08-01 07:30] shubham14bajpai commented on #2659
Thanks for reporting this. The fixes are available in master #2663  . Please verify the changes.

[2019-08-01 07:41] #2659 closed

[2019-08-01 07:42] #2602 closed

[2019-08-01 07:46] kmova commented on #2621
As part of migrating the Jiva provisioner to CSI, there are plans of converting the hostPath used by Jiva into a Local PV (hostpath). And of the enhancements planned for Local PV is to make use of multiple hostpaths with capacity based scheduling and so forth.

[2019-08-01 08:00] #2542 closed

[2019-08-01 08:03] sonasingh46 commented on #2548
@nsathyaseelan Can you please attach the logs of maya-apiserver pods.

[2019-08-01 08:09] akhilerm commented on #2619
Fixed in [NDM](https://github.com/openebs/node-disk-manager/pull/265)

[2019-08-01 08:10] utkarshmani1997 commented on #2512
close via openebs/jiva#216

[2019-08-01 08:19] AmitKumarDas commented on #2618
This has been fixed as part of 1.0 release.

Related PRs:
- https://github.com/openebs/maya/pull/1260
- https://github.com/openebs/maya/pull/1256

[2019-08-01 15:06] obeyler opened #2693 "invalid bdc number"
## Description
K8S with 3 master and 6 workers
6 nodes / 5 bdc

kubectl get bdc -n openebs
NAME                                       BLOCKDEVICENAME                           PHASE   AGE
bdc-4bb6b256-b460-11e9-99c4-fa163eca0551   sparse-c8b3baa69d1955b36718880ecd03e9bb   Bound   7m41s
bdc-4bc8d9eb-b460-11e9-a2c5-fa163e358428   sparse-fea47bbdeb1564149603515af1103da4   Bound   7m40s
bdc-4cb17b70-b

[2019-08-01 15:07] obeyler commented on #2693
@kmova

[2019-08-01 15:53] obeyler opened #2694 "Internal error during deletion of PVC"
## Description
Try to delete a PVC witch use `openebs_cstor_sparse` storageclass
=> Internal error occurred: failed calling webhook "admission-webhook.openebs.io": Post https://admission-server-svc.openebs.svc:443/validate?timeout=30s: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "admissio

[2019-08-02 17:03] obeyler opened #2695 "nodeAffinity when storageClass is "openebs-hostpath" based on kubernetes.io/hostname label is not always satisfied"
## Description
`nodeAffinity` set when use storageClass: `openebs-hostpath` is based on `kubernetes.io/hostname` label can lead to a no node selection in case of kubernetes.io/hostname != nodename
(and this is the case on CFCR - 34 (K8S 1.14.1) )

## Expected Behavior

[code]
[code]
## Current Behavior
no PV are created as no node can be found

## Your Environment
* Install tools: bosh for K8S 1.1

[2019-08-02 17:34] nsathyaseelan opened #2697 "Provisioning cstor pool without specifying block device [auto provisioning] creates multiple csp on the same node"
## Description
- Enabled Default cStor sparse pool as true and tried to create cStor pools in openebs operator and it creates multiple CSPs in the same node.
[code]
maya log
[maya-1-11.log](https://github.com/openebs/openebs/files/3462345/maya-1-11.log)

## Environment
Packet cluster kubernetes version 1.11.9

[2019-08-02 18:28] vishnuitta commented on #2697
This issue happens only with auto-provisioning as mentioned in the bug title.
If this issue happens, please perform below steps to recover from situation:
- Delete CSP CR which is in Offline state
- Delete pool deployment related to above CSP

With the output given in bug description, below are the commands need to be run:
- kubectl delete csp cstor-sparse-pool-45rf
- kubectl delete csp cstor-spar

[2019-08-02 19:29] mittachaitu commented on #2696
If this issue happens, please perform below steps to recover cvr from invalid to Healthy state:
1. Get cvrs which are in invalid state due to above issue
[code]
sample output:
[code]
2. Edit the status of cstorvolumereplica(cvr) to `Offline`
[code]
3. Watch on the edited cvr by doing
[code]
After few seconds cvr will be Healthy or Degraded state depends on rebuilding
sample output of healthy cvr
[

[2019-08-03 14:49] kmova commented on #2695
The same issue exists on Jiva Volumes as well as the Jiva Replica deployments are patched with nodeAffinity with `kubernetes.io/hostname`

[2019-08-06 14:26] akhilerm opened #2698 "Cleanup jobs remain in pending state in Openshift cluster"
## Description

Installed OpenEBS 1.0.0 from the `openebs-operator.yaml` on an openshift 3.10 cluster.
1. Created an SPC, the pool was created and everything was working fine.
2. Deleted the SPC, the BDCs got deleted, but the BlockDevices were remaining in `Released` state.

When checked it was found that the cleanup jobs were in `Pending` state because the job pod, which requires privileged acces

[2019-08-08 08:23] muratkars opened #2699 "Status section on README.md is outdated"
Project status and public tracking links need to be updated.

[2019-08-09 02:54] zzzuzik opened #2701 "Ability to provide PV as a list to the m-upgrade job with "--pv-name" param"
The current upgrade flow requires creation of individual jobs for all PVs:
https://github.com/openebs/openebs/tree/master/k8s/upgrades/1.0.0-1.1.0
It would save considerable amount of time if a list of PVs (from output of `kubectl get pv`) could be provided to the `--pv-name` param

[2019-08-09 10:34] DeanHao commented on #1295
yaml files https://raw.githubusercontent.com/muratkars/openebs/lepotato-arm64/k8s/openebs-operator-arm64.yaml & https://raw.githubusercontent.com/muratkars/openebs/lepotato-arm64/k8s/openebs-storageclasses.yaml no longer appear to be present. Is there any update on the arm64 builds?

[2019-08-09 10:44] DeanHao opened #2702 "Is there any arm64 builds?"
## Description

## Context

## Possible Solution

## Screenshots

[2019-08-10 08:02] wilf1rst opened #2703 "Pods stuck in ContainerCreating state using openebs-hostpath on centos kubernetes hosts"
I followed the documentation and installed openebs 1.1.1 on a kubernetes cluster (installed via rke and deployed a rancher cluster v2.2.6).
My kubernetes hosts are CentOS 7.6.1810 VMs.

## Description
Right after the openebs deployment I tried the `demo-percona-mysql-pvc.yaml` as described in the [documentation](https://docs.openebs.io/docs/next/uglocalpv.html#Provision-OpenEBS-Local-PV-based-on-h

[2019-08-11 05:52] AmitKumarDas opened #2704 "Unable to discover proxmox disks"
This issue captures the slack conversations w.r.t inability of NDM to discover certain disks.

:question: Hello all,
I continue my journey to understand openebs storage.
Reading the documentation regarding the cStor I added 8 * 32G disks to each nodes in my cluster. Actually there's 3 nodes in my cluster so I assume that I will seen 8 * 3 = 24 blockdevices in my clusters. But there's only 8:

[cod

[2019-08-11 05:54] AmitKumarDas commented on #2704
cc @vishnuitta @ranjithwingrider @akhilerm @wilf1rst

[2019-08-12 14:18] #2698 closed

[2019-08-13 21:29] muratkars opened #2706 "Operator yaml example to deploy localpv provisioner only"
This feature has been requested in the community.
Some of the OpenEBS users use OpenEBS orchestration, NDM and localpv provisioner only and would like to limit the number of components installed.

We need a limited version of the operator `openebs-operator-1.1.0.yaml` file with bare-minimum localpv requirements that deploys only the below four components:

openebs/provisioner-localpv
openebs/node-

[2019-08-14 03:02] akhilerm commented on #2706
For the `node-disk-manager`

[2019-08-14 07:05] #2624 closed

[2019-08-14 14:53] kmova commented on #2706
Sample YAMLs to just install the components required for Local PV are available here:

- https://openebs.github.io/charts/openebs-operator-lite.yaml
- https://openebs.github.io/charts/openebs-lite-sc.yam

If using helm, an example values.yaml is:
- https://openebs.github.io/charts/openebs-lite-helm-values.yaml

[2019-08-15 17:23] vishnuitta commented on #2706
does this mean - our upgrade compatibility matrix grows, i.e., whether user used lite or complete yaml?
and what if user wants to make the complete install later (or) vice versa? can he follow different paths for each one?
And, will we support various other lite versions as well?
(or) would it be possible to document to scale down to zero if user doesn't need any particular engines?

[2019-08-16 05:24] ksatchit opened #2711 "Include Kubernetes metrics support in OpenEBS observability manifests"
## Description

- This feature request calls for inclusion of support for kubernetes metrics via prometheus/grafana.
- This includes:
   - Include kube-state-metrics & cAdvisor based metrics as part of collectors
   - Include scrape job configuration for kubernetes metrics
   - Add grafana dashboards for kubernetes metrics
   - Add alerts for standard kubernetes components.

[2019-08-16 09:29] kmova commented on #2706
yes @vishnuitta -- as part of upgrades - we will have to maintain and test this lite version of yamls.

the yamls and helm values are designed in such a way that they can be converted to full install later. since these are local PVs, the upgrades are only associated with control plane upgrades which are managed by users.

[2019-08-16 10:19] vishnuitta commented on #2693
PR is merged and fix is available in 1.2. Hence, closing the issue

[2019-08-16 10:19] #2693 closed

[2019-08-16 10:34] AmitKumarDas commented on #2702
@DeanHao I guess you have been provided with separate makefile & dockerfile. It will be great if you can come back with your results.

[2019-08-16 10:36] AmitKumarDas commented on #2701
@zzzuzik This will be taken up in upcoming releases.
cc @shubham14bajpai

[2019-08-16 10:58] harshvkarn commented on #2702
for now, you can use this until openebs comes up with official ARM support, which I believe is in progress.
bare minimum OpenEBS for arm64 images
[code]

[2019-08-16 11:01] AmitKumarDas commented on #2702
Closing this issue based on @harshvkarn comments. This can be reopened or new issue can be created based on new facts.

[2019-08-16 11:01] #2702 closed

[2019-08-16 11:44] harshvkarn opened #2712 "livenessProbe, pgrep failing for localpv-provisioner in ARM64"
## Description
LivenessProbe, command `pgrep ".*localpv"` is failing for localpv-provisioner in ARM64 kubernetes cluster.

**openebs-operator.yaml**
_deployment:openebs-localpv-provisioner_
[code]

## Expected Behavior
pgrep should return success, i.e. `1`. And livelinessProbe should pass

## Current Behavior
pgrep is failing and so does livelinessProbe for arm64

## Possible Solution
Upon little

[2019-08-16 11:44] harshvkarn commented on #2712
/assign harshvkarn

[2019-08-16 15:52] zzzuzik commented on #2701
@AmitKumarDas thank you

[2019-08-19 04:15] AmitKumarDas commented on #2665
There were some discussions around keeping user changes on these default resources intact. Following is the Minutes of Meeting
- maya api server should avoid reapplying resources that has been modified by user via kubectl
- maya api server should avoid reapplying spc resource that has been modified by its controller
- maya api server will have a list of annotations, which when set against any reso

[2019-08-20 09:00] obeyler commented on #2694
@prateekpandey14  @kmova may a good idea could be to let user define or change the certificate.

[2019-08-20 09:18] #2711 closed

[2019-08-21 19:59] yevgenypats opened #2717 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-22 02:29] kmova commented on #2717
Thanks @yevgenypats .. Definitely interested in integrating. There are several go repos under the openebs org that might benefit from this. Will give it a shot by looking at the examples.

[2019-08-22 07:56] yevgenypats commented on #2717
@kmova Cool, keep me posted:)

Also, I need to mention that we have a [reward program](https://fuzzit.dev/2019/08/12/announcing-rewards-for-go-rust-oss-projects/) in case you have time/want to implement this yourself I would be happy to reward you as well as get unbiased feedback on how smooth the integration was. Let me know what you prefer.

[2019-08-22 10:03] ytsarev opened #2718 "Automatically move replica from the failing node"
## Description
Currently in case of long term node failure jiva replicas have to be moved manually. It would be great if some automation(operator?) would detect node failure and move replica to the healthy node.

## Context
From time to time we experience node failures where jiva replicas do reside.
In that case we have to options - either recover the node or move replica to the healthy one.
In se

[2019-08-22 10:12] utkarshmani1997 commented on #2718
Thanks @ytsarev for filing this feature request, we are targeting this feature in upcoming release.

[2019-08-22 13:07] akhilerm opened #2719 "Update ADOPTERS.md with OpenEBS usage details"
OpenEBS Community is working towards becoming a [CNCF incubating project](https://github.com/cncf/toc/pull/506). One of the requirements is to add an ADOPTERS.md. The purpose of this issue is to get a list of organizations/individuals who are using OpenEBS to power their persistent storage workloads in Kubernetes.

The idea is to use the information provided in this issue to create the ADOPTERS.md

[2019-08-22 22:00] Goobaii opened #2721 "Cstor-disk pod enters CrashLoopBackoff"
## Description
I have a 6 node Ubuntu 16.04 bare metal Rancher Kubernetes cluster. I deployed OpenEBS by following the Quickstart Guide. The cstor-disk on server4 enters a CrashLoopBackoff.

## Expected Behavior
The cstor-disk pods should be deployed on all 6 servers .

## Current Behavior
The cstor-disk pod on server4 enters a CrashLoopBackoff.

## Possible Solution
The only config that seems to

[2019-08-23 02:52] ranjithwingrider commented on #2721
Thanks, @Goobaii for reporting the issue. Can we get the `lsblk` output from server4?
Also, can you share the output of the following command as well?
1. `kubectl get pod -n openebs`
2. `kubectl get bd -n openebs`
3. `kubectl get cscp`
4. StoragePoolClaim YAML spec which used to deploy cStor pool.

[2019-08-23 14:51] Goobaii commented on #2721
* `lsblk`:

[code]

* `kubectl get pod`:

[code]

* `kubectl get bd`:

[code]

* `kubectl get csp`:

[code]

[2019-08-24 03:42] vharsh commented on #644
There seems to be a lot of shiny new stuff at GitHub marketplace besides actions. I'll update this post with things I find useful.

## Free solutions for GitHub issue management
1. Issue label bot labels issues as `bug` or `feature`. It might be really helpful as it doesn't seem to require a lot of configs. It does support label aliases.
It might not be very helpful because we have separate issue

[2019-08-24 04:03] ranjithwingrider commented on #2721
Thank you for sharing the output. So you are using sparse disks for creating the pool.
can you get me the following output as well?
`kubectl get bdc -n openebs`
Also logs of cstor-pool pod on the server4 where you can get the `cstor-pool` container specific log.

[2019-08-24 18:06] Goobaii commented on #2721
When I started getting the CrashLoopBackoff, I initially tried draining and redeploying the cstor-disk pod on `server4`, but it just started up and did a CrashLoopBackoff again. That's when I drained and cordoned off `server4`, which then forced the ctor-disk pod to deploy on a different node.

I kept `server4` cordoned off to continue with some other testing that I was doing.

[2019-08-26 04:25] kmova commented on #2719
Some references on Adopters.md from other CNCF projects:

https://github.com/containerd/containerd/blob/master/ADOPTERS.md
https://github.com/tikv/tikv/blob/master/docs/adopters.md
https://github.com/cortexproject/cortex/blob/master/ADOPTERS.md

[2019-08-26 11:52] vielmetti commented on #1295
@harshvkarn is there an update on this? Thanks!

[2019-08-26 12:16] ranjithwingrider commented on #2721
cc @mittachaitu

[2019-08-26 15:02] harshvkarn commented on #1295
@vielmetti
We were able to build the bare minimum OpenEBS w/ Jiva. I will commit for the official build process very soon.
These are the images for now if you want to test it.
[code]

[2019-08-26 18:37] Goobaii opened #2723 "iscsiadm: Could not login to"
## Description

Deployed Kafka Bitnami helm chart on a 6 node Rancher Kubernetes bare metal cluster. It was working fine for 18 days then yesterday it started throwing errors about "failed to attach disk" "iscsiadm: Could not login to".

## Expected Behavior

kafka-zookeeper-0 should be able to run and stay running.

## Current Behavior

* `Events from kafka-zookeeper-0`:

[code]

## Steps to Repr

[2019-08-27 03:51] utkarshmani1997 commented on #2723
@Goobaii yes

[2019-08-27 09:01] omitrowski opened #2724 "Add toleration for daemonset-ndm.yaml"
k8s/charts/openebs/templates/daemonset-ndm.yaml

## Description
currently the daemon-set ndm does support nodeSelector, but does not support toleration, where all other components do.

## Context
In k8s taints and nodeSelector are the key management features to restrict nodes to some functionality. We are using different node types of different power and setup. So essential for us is to mark node

[2019-08-27 09:38] utkarshmani1997 commented on #2723
@Goobaii Please have a look at https://docs.openebs.io/docs/next/prerequisites.html#rancher and check whether all the prerequisite are met.

[2019-08-28 03:36] kmova commented on #2723
@Goobaii - would you like to join the slack to get help.

https://slack.openebs.io

[2019-08-28 03:40] kmova commented on #2723
The following details will help:

`kubectl get cstorvolume -n openebs -o yaml`
`kubectl get cvr -n openebs -o yaml`
`kubectl get csp -n openebs -o yaml`

In case of cstorvolume and cvr, you can select to only look into the PVC that has the issue.