[2018-10-02 11:07] RajatVaryani commented on #1502
@ashishranjan738 Are you working in this issue? If not, I would love to contribute.

[2018-10-02 11:56] Akash4927 commented on #1951
@wiktor-k Please get the issue assigned before raising PR.

[2018-10-02 12:09] wiktor-k commented on #1951
Ok, could you assign me this issue?

[2018-10-02 12:12] Akash4927 commented on #1951
You already raised the PR. It's ok now.
But make sure from next time you get assigned for an issue and then raise the PR.

[2018-10-02 12:15] wiktor-k commented on #1951
Got it! Thanks for the explanation.

[2018-10-02 12:27] RajatVaryani commented on #786
@kmova Can you please assign it to me?

[2018-10-02 13:49] #1969 closed

[2018-10-02 14:07] albertogviana commented on #1955
Hi,

I fixed the https://github.com/openebs/maya/pull/585 issue, and in the time that I was waiting for the build, I also fixed this issue. However I pushed my code to my fork and when I realized my code was running together with the 585 issue. So this issue was fixed with the 585 issue, I am sorry for the inconvenience.

[2018-10-02 14:19] #1952 closed

[2018-10-02 14:20] #1950 closed

[2018-10-02 14:32] #1968 closed

[2018-10-02 14:33] #1965 closed

[2018-10-02 14:34] #1954 closed

[2018-10-02 14:37] #1962 closed

[2018-10-02 14:39] cpanato commented on #1582
i will try this one

[2018-10-02 14:42] RajatVaryani commented on #1915
@nawedx Are you working on this?

[2018-10-02 14:44] RajatVaryani commented on #1583
@sonasingh46 I am working on this.

[2018-10-02 14:45] #1927 closed

[2018-10-02 14:46] #1929 closed

[2018-10-02 14:46] arshadkazmi42 commented on #1939
@sonasingh46 How to enter in this?
https://openebs.io/hackfests/hacktoberfest-2018

Is there some form I need to fill for this?

[2018-10-02 17:27] Akash4927 commented on #1585
Join **hacktoberfest2018** channel on our [slack workspace](https://openebs-community.slack.com/) for more information and help on this.

[2018-10-02 18:34] farhaanbukhsh commented on #1243
hey sorry to stall so long I will give it a look :)

[2018-10-03 05:27] utkarshmani1997 opened #1970 "Add missing stats in istgt"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

**What happened**:
 Currently we don't have all the stats from istgt such as :
 - r/w latency
 - uptime

**What you expected to happen**:
 - `istgtcontrol iostats` should show the above stats

**How to reproduce it (as minimally and precisely as possible)**:
- run `istgtcontrol iostats` and you will be able to get available stats.

**An

[2018-10-03 06:10] #1949 closed

[2018-10-03 07:11] ashishranjan738 commented on #1583
sure @RajatVaryani go ahead.

[2018-10-03 09:31] rahulkumaran opened #1971 "Update year in license"
The year in the license is currently 2016.
It would be better if that's updated once as 2016 - present

Would like to take this this issue up and send a PR for the same.

[2018-10-03 11:15] #1964 closed

[2018-10-03 12:44] nawedx commented on #1915
Yes. @RajatVaryani  I am working on this. If I can't make any significant progress by Oct 7, I will leave this issue.

[2018-10-03 12:58] sourabh1031 commented on #1946
@amiteshenoy i would like to take this up

[2018-10-03 14:29] RajatVaryani commented on #1583
Update: I have raised https://github.com/openebs/maya/pull/593 to get early feedback.

[2018-10-03 16:26] RajatVaryani opened #1973 "Format storagepool_template_engine.go file."
## Is this a BUG REPORT or FEATURE REQUEST?
Formatting change.

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
The formatting is not correct in pkg/storagepool/storagepool_template_engine.go of maya repository.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Run make format.

**Anything else we need to know?**:

[2018-10-04 04:01] halcyon commented on #1688
I just built a new cluster and had these exact same iscsiadm errors. On my system I had set my default storage class to use xfs. My new node however did not have xfsprogs installed, so it failed to create the filesystem - which then failed to mount. The crucial clue for my situation appeared in my node's dmesg.

[code]

[2018-10-04 04:30] halcyon commented on #1688
I just built a new cluster and had exactly the same iscsiadm errors in my pods. On my system I had set my default storage class to use xfs. It turned out that my new node did not have xfsprogs installed, so it failed to create the filesystem - which then failed to mount. The crucial clue for my situation appeared in my node's dmesg. It might be worth looking to see if you have anything similar in

[2018-10-04 05:42] Pensu commented on #1973
I can send a PR if it's still available.

[2018-10-04 07:07] RajatVaryani commented on #1973
@Pensu Go ahead!

[2018-10-04 07:51] ashishranjan738 commented on #1638
@farhaanbukhsh sure go ahead

[2018-10-04 07:58] princerachit commented on #1914
This issue is available again. Please comment to get assigned.

[2018-10-04 09:02] princerachit commented on #1914
@sourabh1031 this issue has following functions that are required to be tested.
`NewOpenEBSCASProvisioner` -> knowledge of kubernetes would be helpful, but not strictly required.
`GetAccessModes`
`Setlink`

See if this link helps with first function https://medium.com/@e_frogers/unit-testing-with-kubernetes-client-go-283b11aaa7db

[2018-10-04 09:02] princerachit commented on #1914
Would you like to take it?
@sourabh1031

[2018-10-04 09:08] sourabh1031 commented on #1914
I am ready to work

[2018-10-04 09:09] princerachit commented on #1914
Sure go ahead. And let us know if you face problems. Also make sure you read contributors guide and DCO sign off your PR.

[2018-10-04 13:41] kmova opened #1977 "self healing of jiva volumes after a K8s node/cluster failure"
FEATURE REQUEST?

It is possible that K8s multiple worker nodes get into a faulty state due to disk-storage, memory or cpu pressure etc., depending on the application deployed. When cluster admin takes the corrective action, for example like adding additional disk space or deleting a pod that was causing memory/cpu hogging, the openebs pv backend pods should auto-recover.

With 0.6, the replica po

[2018-10-05 05:06] princerachit commented on #1916
@swetax are you still working on this?

[2018-10-05 07:57] ashishranjan738 opened #1980 "Mayactl volume list should show the capacity of the openebs volumes"
FEATURE REQUEST
Currently mayactl volume list command has only four fields namespace,name,status and CAS type. Can a one more field of capacity can be added to this which can provide details of the capacity of the volume.
Current Format:
[code]
Expected Format:
[code]
Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volumes_list.go
-> Countributers g

[2018-10-05 08:18] pratik97 commented on #1980
I would like to take this one

[2018-10-05 08:40] ashishranjan738 commented on #1980
sure go ahead @pratik97

[2018-10-05 10:23] ashishranjan738 opened #1981 "Mayactl volume list should show the storageclass to which the volume is pointing to"
FEATURE REQUEST
Currently mayactl volume list command has only four fields namespace,name,status and CAS type. Can one more field of storageclass can be added to this which can provide details of the volume size.
Current Format:
[code]
Expected Format:
[code]
Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volumes_list.go
-> Countributers guide: htt

[2018-10-05 10:30] khushbuparakh commented on #1977
If it's not closed. I would like to take this feature request up.

[2018-10-05 10:37] #1960 closed

[2018-10-05 10:37] #1959 closed

[2018-10-05 10:38] #1957 closed

[2018-10-05 10:38] #1956 closed

[2018-10-05 10:39] #1955 closed

[2018-10-05 12:02] utkarshmani1997 commented on #1977
@khushbuparakh thanks for showing interest in this issue. Please go ahead and let us know if you need any help.

Join us at [slack](https://openebs-community.slack.com/messages/C3NPGQ6G3) for more queries

[2018-10-05 13:33] pratik97 commented on #1980
Hi @ashishranjan738, My PR [https://github.com/openebs/maya/pull/605] is failing because of the DCO sign-off but I already signed my commit so, can you please help me understand why it is failing?

[2018-10-05 15:41] swetax commented on #1916
@princerachit No. I gave up this issue along with the assigned one to me .

[2018-10-05 16:38] princerachit opened #1985 "Add integration test to check successful creation,mount and deletion of a cstor volume"
*NOTE: BEFORE YOU PROCEED WITH THIS ISSUE PLEASE MAKE SURE THE CITF ISSUES ARE FIXED. The following issues are needed to be fixed: https://github.com/openebs/CITF/issues/38 , https://github.com/openebs/CITF/issues/37 , https://github.com/openebs/CITF/issues/36 , https://github.com/openebs/CITF/issues/35 , https://github.com/openebs/CITF/issues/34*

**Please comment if you want to work on this issu

[2018-10-05 17:02] krishnakarthik1309 opened #1986 "Broken link in CONTRIBUTING.md"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
I was looking into how to contribute to this project and while doing so found a broken link under the section [Sign your work](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md#sign-your-work). The hyperlink for `developer-certificate-of-origin` is giving `Error 404` when trying to open it.

**What you expecte

[2018-10-05 22:48] ashishranjan738 opened #1987 "Mayactl cli should have bash auto completion"
FEATURE REQUEST
Currently there is no bash auto completion in mayactl cli. It would be a great enhancement if bash auto completion can be added.

Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Medium

[2018-10-05 22:57] ashishranjan738 opened #1988 "Mayactl volume list should show the bound state of volumes"
FEATURE REQUEST
Currently mayactl volume list command has only four fields namespace,name,status and CAS type. Can one more field of bound state can be added to this which can provide details of the volume bound state.
Current Format:
[code]
Expected Format:
[code]
Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volumes_list.go
-> Countributers guid

[2018-10-05 22:58] payes commented on #1688
Thanks @halcyon for sharing the update.
@alexanderzimmer @rtnpro We have started working on this issue and will update you with the analysis and fix ASAP.

[2018-10-05 23:01] ashishranjan738 opened #1989 "Mayactl volume list should show the version of volume running"
FEATURE REQUEST
Currently mayactl volume list command has only four fields namespace,name,status and CAS type. Can one more field of version can be added to this which can provide version of the volume.
Current Format:
[code]
Expected Format:
[code]
Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volumes_list.go
-> Countributers guide: https://githu

[2018-10-05 23:07] ashishranjan738 opened #1990 "Mayactl volume info command should be changed to mayactl volume describe"
FEATURE REQUEST
Currently, mayactl has command name volume info that has to be changed to mayactl describe. This command is used for getting volume related information.
Example:
```mayactl volume describe --volname <volume name>```

Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTIN

[2018-10-05 23:14] ashishranjan738 opened #1991 "Mayactl info error message should be improved"
FEATURE REQUEST
Currently the mayactl volume info command gives error message something like this ```--volname is missing. Please specify a unique volumename``` can this be changed to ```error: --volname not specified.```.
Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volume_info.go
-> Countributers guide: https://github.com/openebs/openebs/blob/m

[2018-10-05 23:16] ashishranjan738 opened #1992 "Mayactl stats error message should be improved"
FEATURE REQUEST
Currently the mayactl volume stats command gives error message something like this ```--volname is missing. Please specify a unique volumename``` can this be changed to ```error: --volname not specified.```.
Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volume_stats.go
-> Countributers guide: https://github.com/openebs/openebs/blob

[2018-10-05 23:30] ashishranjan738 opened #1993 "Mayactl volume info should show the pod name to which it is bounded to"
FEATURE REQUEST
Mayactl volume info should provide the pod name to which the volume is bounded.

Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volume_info.go
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Hard

[2018-10-05 23:49] ashishranjan738 opened #1994 "Mayactl volume list should show the Access Mode of the volumes"
FEATURE REQUEST
Currently mayactl volume list command has only four fields namespace,name,status and CAS type. Can one more field of Access Mode can be added to this which can provide access mode of the volume.
Current Format:
[code]
Expected Format:
[code]
Resources:
-> File location: https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volumes_list.go
-> Countributers guide: https

[2018-10-06 02:42] NerdyPepper commented on #1987
### Suggestion

Since the program is completely written in Go, we can use https://github.com/posener/complete and make maya a self completing program.

[Here's](https://github.com/posener/complete/blob/master/example/self/main.go) a small example to go by.

[2018-10-06 02:49] vishnuitta opened #1996 "Fix cstyle error in src/assert.h"
Repo: openebs/istgt
Branch: replication
File: src/assert.h
Steps to compile in: README.md
PR subject should be like: `fmt(cstyle): cstyle fixes in <filename>`

[code]

[2018-10-06 03:23] princerachit opened #1997 "Remove passing resp http.ResponseWriter, req *http.Request objects"
**Please comment if you want to work on this issue**
<hr>

The file [snapshot_endpoint_v1alpha1.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/app/server/snapshot_endpoint_v1alpha1.go) uses `func (s *HTTPServer) snapshotRequest(resp http.ResponseWriter, req *http.Request) (interface{}, error)` as an http handler.

This method creates an object of `snapshotAPIOps`
[code]

It the

[2018-10-06 03:39] princerachit opened #1998 "Wrap errors in run methods of cstorSnapshotCreate struct"
Address the review comment `https://github.com/openebs/maya/pull/527#discussion_r223025137`
[File to be changed](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/cstor_snapshot_create.go)

**Please comment if you want to work on this issue**
<hr>

**Links to important resources**
* [Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
* [hacktoberfest201

[2018-10-06 03:46] avnish98 commented on #1996
I would like to work on this one

[2018-10-06 03:46] princerachit opened #1999 "Unset enviroment variables after every test"
Address the review comment `https://github.com/openebs/maya/pull/527#discussion_r223043760` and `https://github.com/openebs/maya/pull/527#discussion_r223043928`

Use ```defer env.Unset("xxx")```
[File to be changed](https://github.com/openebs/maya/blob/master/pkg/snapshot/v1alpha1/snapshot_test.go)

**Please comment if you want to work on this issue**
<hr>

**Links to important resources**
* [Cont

[2018-10-06 03:57] rudbast commented on #1999
Hi, i'd like to take this up if possible, some questions regarding the issue,
do we want to just unset the env var (as empty ?), or re-set the original value from before test started ?

[2018-10-06 04:10] princerachit opened #2000 "Change method name from getSnapshotObj() to casSnapshot()"
Address comment https://github.com/openebs/maya/pull/527#discussion_r223024336

[File to be modified](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/cstor_snapshot_command.go)
**Please comment if you want to work on this issue**
<hr>

**Links to important resources**
* [Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
* [hacktoberfest2018](https://

[2018-10-06 04:13] princerachit commented on #1999
@rudbast you can work on this issue. Reset env to empty

[2018-10-06 04:30] cfilby commented on #1997
Hey, I'm potentially interested in resolving this issue and wanted to make sure I understood it.

It sounds like a PR to resolve this issue would:

* Remove use of req/resp from the list, create, get and delete methods.
* Update invocations of those functions to remove the req/resp responses.

Is that correct? Thanks!

[2018-10-06 04:46] ashishranjan738 opened #2001 "Fix cstyle error in src/replication_log.h"
Repo: openebs/istgt
Branch: replication
File: src/replication_log.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/replication_log.h: 38: missing space between keyword and paren
./src/replication_log.h: 38: missing space after right brace
./src/replication_log.h: 40: #define followed by space instead of tab
./src/replication_log.h: 46: #def

[2018-10-06 04:52] ashishranjan738 opened #2002 "Fix cstyle error in src/build.h"
Repo: openebs/istgt
Branch: replication
File: src/build.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/build.h: 29: #define followed by space instead of tab
./src/build.h: 31: #define followed by space instead of tab
./src/build.h: 32: #define followed by space instead of tab
./src/build.h: 33: #define followed by space instead of tab

Re

[2018-10-06 04:58] ashishranjan738 opened #2003 "fix cstyle error in src/replication_test.c"
Repo: openebs/istgt
Branch: replication
File: src/replication_test.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 05:02] ashishranjan738 opened #2004 "fix cstyle error in src/istgt_log.c"
Repo: openebs/istgt
Branch: replication
File: src/istgt_log.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 05:05] divyanshkul commented on #2003
Working on this

[2018-10-06 05:13] divyanshkul commented on #2003
Hey! You there? @ashishranjan738 needed some help

[2018-10-06 05:32] #1986 closed

[2018-10-06 06:03] khushbuparakh commented on #1977
@utkarshmani1997 possible to get an invite for slack?

[2018-10-06 06:06] Techievena commented on #2002
Please assign me to this issue.

[2018-10-06 06:08] divyanshkul commented on #2001
Working on this

[2018-10-06 06:15] vishnuitta commented on #1996
Thanks for showing interest, and, please go ahead @avnish98

[2018-10-06 06:33] RajatVaryani commented on #2004
Please assign it to me.

[2018-10-06 06:35] pleum commented on #1997
I would like to work on this.

[2018-10-06 06:49] rishabhp99 commented on #2000
I would like to work on it.

[2018-10-06 06:52] RajatVaryani commented on #1989
@ashishranjan738 I can take this up. What would be the easiest way to communicate when I have a doubt or concern?

[2018-10-06 06:52] #2001 closed

[2018-10-06 06:57] princerachit commented on #1998
assigned to offline contributor

[2018-10-06 07:02] ashishranjan738 commented on #2003
Hey @ashishranjan738  go ahead.

[2018-10-06 07:03] Shishuii commented on #2004
Hi , Can i start working on it ?

[2018-10-06 07:05] ferozbaig96 commented on #1971
Please assign this issue to me

[2018-10-06 07:05] arghyaiitb commented on #1994
I would like to take this up

[2018-10-06 07:05] dreamerHarshit commented on #2000
can i work on this?

[2018-10-06 07:06] princerachit commented on #2000
Yes please go ahead. @dreamerHarshit

[2018-10-06 07:06] aswathkk commented on #1987
I would like to work on this issue.

[2018-10-06 07:07] mukeshmk commented on #1992
I would like to work on this.

[2018-10-06 07:10] AdityaMisra commented on #1991
Hi, Can I work on this issue?

[2018-10-06 07:10] princerachit commented on #1987
@aswathkk sure go ahead.

[2018-10-06 07:12] ashishranjan738 commented on #2004
ya sure @Shishuii go ahead.

[2018-10-06 07:15] bharathpgp commented on #1993
I want to work on this

[2018-10-06 07:15] payes opened #2005 "Ability to change Reader/Writer worker threads(luworkers) in istgt on the fly"
### **Is this a BUG REPORT or FEATURE REQUEST?**
FEATURE REQUEST

**What happened:**
Currently luworkers can only be increased/decreased when there are no iscsi initiators connected.

**What you expected to happen:**
After following the procedure to increase luworkers, below command should show the updated value of luworkers.
`istgtcontrol -a dump`

**How to reproduce it (as minimally and precisel

[2018-10-06 07:20] ashishranjan738 opened #2006 "fix cstyle error in src/istgtcontrol.c"
Repo: openebs/istgt
Branch: replication
File: src/istgtcontrol.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:28] ashishranjan738 opened #2007 "fix cstyle error in src/replication.h"
Repo: openebs/istgt
Branch: replication
File: src/replication.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:32] ashishranjan738 opened #2008 "fix cstyle error in src/istgt_iscsi.c"
Repo: openebs/istgt
Branch: replication
File: src/istgt_iscsi.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:34] kmjayadeep commented on #2007
can i take this up?

[2018-10-06 07:34] aswathkk commented on #2008
I would like to work on this issue.

[2018-10-06 07:36] ashishranjan738 opened #2009 "fix cstyle error in src/config.h"
Repo: openebs/istgt
Branch: replication
File: src/config.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:36] ashishranjan738 commented on #2007
sure @kmjayadeep go ahead

[2018-10-06 07:39] ashishranjan738 opened #2010 "fix cstyle error in src/istgt_iscsi.h"
Repo: openebs/istgt
Branch: replication
File: src/istgt_iscsi.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:40] ashishranjan738 commented on #2008
sure @aswathkk go ahead

[2018-10-06 07:42] ashishranjan738 opened #2011 "fix cstyle error src/istgt_conf.h"
Repo: openebs/istgt
Branch: replication
File: src/istgt_conf.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_conf.h: 29: #define followed by space instead of tab

Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:44] ashishranjan738 opened #2012 "fix cstyle error in src/istgt_lu_disk_vbox.c"
Repo: openebs/istgt
Branch: replication
File: src/istgt_lu_disk_vbox.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:46] ashishranjan738 opened #2013 "fix cstyle error in src/istgt_conf.c"
Repo: openebs/istgt
Branch: replication
File: src/istgt_conf.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:48] ashishranjan738 opened #2014 "fix cstyle error in src/istgt_misc.h"
Repo: openebs/istgt
Branch: replication
File: src/istgt_misc.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:50] ashishranjan738 opened #2015 "fix cstyle error in src/istgt.h"
Repo: openebs/istgt
Branch: replication
File: src/istgt.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:52] ashishranjan738 opened #2016 "fix cstyle error for src/istgt_iscsi_xcopy.h"
Repo: openebs/istgt
Branch: replication
File: src/istgt_iscsi_xcopy.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:53] ashishranjan738 opened #2017 "fix cstyle error ./src/istgt_queue.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_queue.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:55] ashishranjan738 opened #2018 "fix cstyle error in ./src/istgt_integration.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_queue.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 07:56] bharathpgp commented on #2016
Assign to me

[2018-10-06 07:58] ashishranjan738 opened #2019 "fix cstyle error in ./src/ring_mempool.c"
Repo: openebs/istgt
Branch: replication
File: ./src/ring_mempool.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/ring_mempool.c: 16: line > 80 characters
./src/ring_mempool.c: 44: missing space between keyword and paren
./src/ring_mempool.c: 58: line > 80 characters
./src/ring_mempool.c: 68: unparenthesized return expression
./src/ring_mem

[2018-10-06 07:59] ashishranjan738 opened #2020 "fix cstyle error in ./src/replication.c"
Repo: openebs/istgt
Branch: replication
File: ./src/replication.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 08:00] ashishranjan738 commented on #2016
sure @bharathpgp go ahead

[2018-10-06 08:01] bharathpgp commented on #2016
wstarted Working on it

[2018-10-06 08:02] ashishranjan738 opened #2021 "fix cstyle error in ./src/mock_errored_replica.c"
Repo: openebs/istgt
Branch: replication
File: ./src/mock_errored_replica.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 08:04] ashishranjan738 opened #2022 "fix cstyle issue in ./src/istgt_lu.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_lu.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 08:05] NerdyPepper opened #2023 "Styling and Typographical errors"
## Adhere to Bash style guides in maya buildscripts

#### Avoid backtick ``` `` ```  substitution. Use `$( )` substitution instead
This permits easier nesting of commands.

#### qefs - Quote every f***ing substitution
This preserves the inner value of all characters.

#### Fix major typographical errors.
line 17 of `buildscripts/mayactl/build.sh`: `GIT_CIMMIT` -> `GIT_COMMIT`

[2018-10-06 08:06] aswathkk commented on #2019
I would like to work on this one.

[2018-10-06 08:06] NerdyPepper commented on #2023
I'm taking up this issue.

[2018-10-06 08:06] ferozbaig96 commented on #2013
Hey, Can you please assign it to me?

[2018-10-06 08:06] ashishranjan738 opened #2024 "fix cstyle issues in ./src/istgt_iscsi_param.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_iscsi_param.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 08:07] hari4125862 commented on #2019
i would like to work on this issue

[2018-10-06 08:08] RajatVaryani commented on #2024
@ashishranjan738 I am working on it.

[2018-10-06 08:09] ashishranjan738 commented on #2024
sure @RajatVaryani go ahead

[2018-10-06 08:10] cbanupama commented on #2014
I would like to work on this

[2018-10-06 08:12] ashishranjan738 commented on #2023
sure @NerdyPepper go ahead

[2018-10-06 08:13] ashishranjan738 opened #2025 "fix cstyle error in ./src/istgt_queue.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_queue.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_queue.h: 29: #define followed by space instead of tab
./src/istgt_queue.h: 42: #define followed by space instead of tab
./src/istgt_queue.h: 46: line > 80 characters
./src/istgt_queue.h: 46: #define followed by space instea

[2018-10-06 08:14] ashishranjan738 commented on #2014
sure @cbanupama go ahead

[2018-10-06 08:15] SiddhantD commented on #2012
I would like to solve this issue.

[2018-10-06 08:16] ashishranjan738 commented on #2013
ya sure go ahead

[2018-10-06 08:16] vk2810 commented on #2011
I would like to work on this issue

[2018-10-06 08:17] ashishranjan738 commented on #2012
sure @SiddhantD go ahead

[2018-10-06 08:18] ashishranjan738 commented on #2011
sure @vk2810 go ahead

[2018-10-06 08:23] ashishranjan738 opened #2026 "Fix cstyle error in ./src/istgt_md5.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_md5.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_md5.c: 47: unparenthesized return expression
./src/istgt_md5.c: 49: unparenthesized return expression
./src/istgt_md5.c: 58: unparenthesized return expression
./src/istgt_md5.c: 60: unparenthesized return expression
./src/ist

[2018-10-06 08:27] ashishranjan738 commented on #2026
sure @sushma-priyadharssini go ahead

[2018-10-06 08:28] ashishranjan738 opened #2027 "fix cstyle error in ./src/replication_misc.c"
Repo: openebs/istgt
Branch: replication
File: ./src/replication_misc.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 08:30] ashishranjan738 opened #2028 "fix cstyle in ./src/data_conn.c:"
Repo: openebs/istgt
Branch: replication
File: ./src/data_conn.c:
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 08:32] tom-vthptvh commented on #2025
Hi @ashishranjan738, may I take this for Hacktoberfest?

[2018-10-06 08:32] ashishranjan738 opened #2029 "fix cstyle issue in ./src/istgt_md5.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_md5.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_md5.h: 29: #define followed by space instead of tab
./src/istgt_md5.h: 39: #define followed by space instead of tab

Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexit

[2018-10-06 08:33] ashishranjan738 commented on #2025
ya sure @tom-vthptvh go ahead

[2018-10-06 08:33] ashishranjan738 commented on #1993
sure @bharathpgp go ahead

[2018-10-06 08:35] swapagarwal commented on #436
Can you point me to the codebase where the slack notifications are being sent? 😇

[2018-10-06 08:37] ashishranjan738 opened #2030 "fix cstyle error in ./src/mempool_test.c"
Repo: openebs/istgt
Branch: replication
File: ./src/mempool_test.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/mempool_test.c: 9: comma or semicolon preceded by blank
./src/mempool_test.c: 31: extra space between function name and left paren
./src/mempool_test.c: 31: space after cast
./src/mempool_test.c: 60: extra space between function

[2018-10-06 08:39] #2002 closed

[2018-10-06 08:40] ashishranjan738 opened #2031 "fix cstyle error in ./src/istgt_proto.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_proto.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_proto.h: 29: #define followed by space instead of tab
./src/istgt_proto.h: 60: #define followed by space instead of tab
./src/istgt_proto.h: 63: comma or semicolon followed by non-blank
./src/istgt_proto.h: 63: #define foll

[2018-10-06 08:41] hari4125862 commented on #2015
./src/istgt.h: 127: extra space between function name and left paren
we have to add extra spaces or remove extra spaces if any?

[2018-10-06 08:42] ashishranjan738 opened #2032 "fix cstyle error in ./src/assert.h"
Repo: openebs/istgt
Branch: replication
File: ./src/assert.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-06 08:43] aswathkk commented on #2030
I'm working on this

[2018-10-06 08:44] ashishranjan738 commented on #2030
sure @aswathkk go ahead. Let me know if you need any help.

[2018-10-06 08:44] cbanupama commented on #2028
I would like to work on this

[2018-10-06 08:45] dreamerHarshit commented on #2000
thanks @princerachit . Raised PR for this - https://github.com/openebs/maya/pull/621

[2018-10-06 08:46] ashishranjan738 opened #2033 "fix cstyle error in ./src/ring_mempool.h"
Repo: openebs/istgt
Branch: replication
File: ./src/ring_mempool.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/ring_mempool.h: 20: line > 80 characters
./src/ring_mempool.h: 21: line > 80 characters
./src/ring_mempool.h: 38: #define followed by space instead of tab

Resources:
-> Countributers guide: https://github.com/openebs/openebs/bl

[2018-10-06 08:50] ashishranjan738 opened #2034 "fix cstyle error in ./src/istgt_ser_table.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_ser_table.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_ser_table.c: 1: improper first line of block comment
./src/istgt_ser_table.c: 1: missing blank after open comment
./src/istgt_ser_table.c: 2: extra space between function name and left paren
./src/istgt_ser_table.c: 23:

[2018-10-06 08:51] aswathkk commented on #2030
@ashishranjan738
Here's my PR: https://github.com/openebs/istgt/pull/94

[2018-10-06 08:51] ashishranjan738 opened #2035 "fix cstyle error in ./src/istgt_integration_test.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_integration_test.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_integration_test.c: 27: indent by spaces instead of tabs
./src/istgt_integration_test.c: 28: indent by spaces instead of tabs
./src/istgt_integration_test.c: 29: indent by spaces instead of tabs
./src/istgt_integ

[2018-10-06 08:52] sushma-priyadharssini commented on #2034
I would like to fix these.

[2018-10-06 08:52] ashishranjan738 commented on #2030
hey @aswathkk can you reference this issue in your PR

[2018-10-06 08:52] kkarth1k commented on #2033
Please assign it to me

[2018-10-06 08:55] ashishranjan738 commented on #2034
sure @sushma-priyadharssini go ahead. Let me know if need any help.

[2018-10-06 08:55] ashishranjan738 commented on #2033
sure @kkarth1k go ahead. Let me know if you need any help.

[2018-10-06 08:57] ashishranjan738 opened #2036 "fix cstyle error for ./src/istgt_scsi.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_scsi.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_scsi.h: 29: #define followed by space instead of tab
./src/istgt_scsi.h: 47: missing space around assignment operator
./src/istgt_scsi.h: 66: missing blank after start comment
./src/istgt_scsi.h: 80: missing blank after star

[2018-10-06 08:57] aswathkk commented on #2030
Just need to mention the issue number in the comment. Right?

[2018-10-06 08:59] ashishranjan738 opened #2037 "fix cstyle error in ./src/istgt_iscsi_param.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_iscsi_param.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_iscsi_param.c: 67: unparenthesized return expression
./src/istgt_iscsi_param.c: 70: improper boolean continuation
./src/istgt_iscsi_param.c: 70: continuation should be indented 4 spaces
./src/istgt_iscsi_param.c: 71:

[2018-10-06 09:00] StanForever opened #2038 "Correct the typo error "shhould""
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT
 Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

**What happened**:
There was a typo error in README file on 2nd line at (https://github.com/openebs/maya/tree/master/hack/cstor-pool-test).

**What you expected to happen**:
The correction should be "should" instead of "shhould".

**How to reproduce it (as minimally and precisely as possi

[2018-10-06 09:01] #2019 closed

[2018-10-06 09:06] ashishranjan738 opened #2039 "fix cstyle error in ./src/istgt_iscsi_param.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_iscsi_param.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_iscsi_param.c: 67: unparenthesized return expression
./src/istgt_iscsi_param.c: 70: improper boolean continuation
./src/istgt_iscsi_param.c: 70: continuation should be indented 4 spaces
./src/istgt_iscsi_param.c: 71:

[2018-10-06 09:07] ashishranjan738 commented on #2030
yes

[2018-10-06 09:07] ashishranjan738 commented on #2015
i think you have to remove space

[2018-10-06 09:09] cbanupama commented on #2035
I would like to work on it

[2018-10-06 09:09] ashishranjan738 opened #2040 "fix cstyle error in ./src/mock_client.c"
Repo: openebs/istgt
Branch: replication
File: ./src/mock_client.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/mock_client.c: 34: line > 80 characters
./src/mock_client.c: 48: missing space between keyword and paren
./src/mock_client.c: 77: return type of function not on separate line
./src/mock_client.c: 82: unneeded return at end of fun

[2018-10-06 09:09] ashishranjan738 commented on #2035
sure @cbanupama go ahead. Let me know if you need any help.

[2018-10-06 09:11] ferozbaig96 commented on #2013
Here is the PR for this issue:

https://github.com/openebs/istgt/pull/98

[2018-10-06 09:12] vk2810 commented on #2011
Here is the PR for this : https://github.com/openebs/istgt/pull/97

[2018-10-06 09:14] khushbuparakh commented on #535
Hi I am picking up this isseu.

[2018-10-06 09:15] ashishranjan738 opened #2041 "fix cstyle error in ./src/istgt_log.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_log.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_log.h: 29: #define followed by space instead of tab
./src/istgt_log.h: 37: #define followed by space instead of tab
./src/istgt_log.h: 41: #define followed by space instead of tab
./src/istgt_log.h: 44: #define followed by sp

[2018-10-06 09:17] dreamerHarshit commented on #1990
@ashishranjan738 can i work on this?

[2018-10-06 09:23] #2026 closed, assigned to nobody

[2018-10-06 09:28] princerachit commented on #1990
@dreamerHarshit please go ahead!

[2018-10-06 09:31] bharathpgp commented on #2033
Assign to me if possible

[2018-10-06 09:33] kn-neelalohitha commented on #2037
I would like to take up this issue.

[2018-10-06 09:37] kmjayadeep commented on #2041
i will take this up

[2018-10-06 09:37] ashishranjan738 commented on #2037
@kn-neelalohitha go ahead. Let me know if you want any help.

[2018-10-06 09:38] ashishranjan738 commented on #2041
sure @kmjayadeep go ahead. Let me know if you need any help.

[2018-10-06 09:39] cbanupama commented on #2027
I would like to work on it

[2018-10-06 09:40] ashishranjan738 commented on #2033
I have removed the upforgrab label it means you are already assigned.

[2018-10-06 09:45] NerdyPepper commented on #2040
I will take up this issue.

[2018-10-06 09:52] bharathpgp commented on #2039
Assign to me

[2018-10-06 09:53] #2011 closed

[2018-10-06 09:53] tom-vthptvh commented on #2025
Hi @ashishranjan738 ,
For "line > 80 characters" style errors, do you prefer simple multi-line macro style or "do { } while(0)" style?

- Simple multi-line macro
[code]
- do{} while(0)
[code]
How about function declaration? Is it good to you?
[code]

[2018-10-06 10:02] SiddhantD commented on #2029
I would like to solve this.

[2018-10-06 10:03] cbanupama commented on #2022
I would like to work on it

[2018-10-06 10:09] princerachit commented on #2040
@NerdyPepper please go ahead!

[2018-10-06 10:11] trinity0091 commented on #2032
let me take this?

[2018-10-06 10:12] princerachit commented on #2032
Sure @trinity0091
go ahead!

[2018-10-06 10:16] princerachit commented on #2027
@cbanupama go ahead !!

[2018-10-06 10:16] ashishranjan738 commented on #2039
sure @bharathpgp go ahead . Let me know if you need any help.

[2018-10-06 10:17] ashishranjan738 commented on #2029
sure @SiddhantD go ahead. Let me know if need some help.

[2018-10-06 10:18] ashishranjan738 commented on #2022
sure @cbanupama go ahead. Let me know if you need some help.

[2018-10-06 10:19] ashishranjan738 commented on #1994
sure @arghyaiitb go ahead. Let me know if you need help.

[2018-10-06 10:27] cbanupama commented on #2031
I would like to work on this

[2018-10-06 10:33] hari4125862 commented on #2010
can i take up this issue?

[2018-10-06 10:39] tom-vthptvh commented on #2025
Hi @ashishranjan738 ,

I tried to build https://github.com/openebs/istgt/commit/355516c0370313859639b0e28908d3e00c96d988
But I got build breaks related to 'stderr'.
Are there any problems with the build?
[code]
[code]
I have also attached the build log below
[buildlog_181006_355516c.txt](https://github.com/openebs/openebs/files/2452965/buildlog_181006_355516c.txt)

[2018-10-06 10:51] NerdyPepper opened #2042 "Use Github's recommended .gitignore files"
## Suggestion

Use [GitHub's `.gitignore` file templates](https://github.com/github/gitignore) instead of manually writing `.gitignore` files. They are more complete and serve as a good starting point for new projects.

### Golang's `.gitignore`
[code]

[2018-10-06 11:06] RajatVaryani commented on #2024
Please un-assign me. @ashishranjan738 Won't be able to make changes.

[2018-10-06 12:06] mukeshmk commented on #1992
I have fixed this issue with the PR [maya/pull/620](https://github.com/openebs/maya/pull/620).

[2018-10-06 13:35] danimart1991 commented on #2024
I'll do it.

[2018-10-06 13:36] danimart1991 commented on #2021
I got this if you want. 😉

[2018-10-06 13:52] michizhou commented on #2036
Hi @ashishranjan738 I would like to work on this issue

[2018-10-06 14:09] avnish98 commented on #1996
@avnish98 Okay, I will open a work in progress pull request

[2018-10-06 14:36] danimart1991 commented on #2024
PR: https://github.com/openebs/istgt/pull/113

[2018-10-06 15:28] danimart1991 commented on #2009
I take this. 😊

[2018-10-06 15:30] avnish98 commented on #2008
@ashishranjan738 I would like to work on this one

[2018-10-06 17:39] #2038 closed

[2018-10-06 17:40] sonasingh46 commented on #2038
Fixed as a part of PR
https://github.com/openebs/maya/pull/624/files
Thanks @StanForever

[2018-10-06 18:07] marcoandredinis commented on #2009
I'm not sure we should _fix_ the style in this file, as it is auto-generated.

The error `#define followed by space instead of tab` comes from the script `./configure` @ line 6216
`print prefix "define", macro P[macro] D[macro]`
If we replace this line with `print prefix "define\t" macro P[macro] D[macro]` we get rid of those errors.
However, this file (`configure`) is also auto-generated.
I did n

[2018-10-06 19:39] dreamerHarshit commented on #2000
@princerachit PR of this issue is already merged, can we close this issue now?

[2018-10-06 19:42] dreamerHarshit commented on #1994
@ashishranjan738 can i pick this issue?

[2018-10-06 19:44] dreamerHarshit commented on #1989
@ashishranjan738 can i work on this issue?

[2018-10-06 19:46] dreamerHarshit commented on #1981
@ashishranjan738 i want try this issue

[2018-10-07 02:59] michizhou commented on #2036
@ashishranjan738 I fixed all the style errors in the referenced header files above which should properly address the issue (openebs/istgt#117)

[2018-10-07 03:19] farhaanbukhsh commented on #1988
Hey @ashishranjan738 I would like to take this up :)

[2018-10-07 05:51] nawedx commented on #1915
Hi @princerachit !. I am not able to make any significant progress on this issue. So, I am leaving this issue.
@RajatVaryani you can take it up if you want.

[2018-10-07 06:33] #2000 closed

[2018-10-07 06:37] #1999 closed

[2018-10-07 06:57] SiddhantD commented on #2012
@ashishranjan738 I had submitted the pr for this yesterday it needs a review for approval

[2018-10-07 06:58] #1997 closed

[2018-10-07 07:00] kmova opened #2045 "Refactor build.sh in openebs/maya"
There are multiple components (or go binaries) being built from https://github.com/openebs/maya. Each of these component have their own build scripts located under:

[code]

Much of the build.sh code is similar except for binary names and the main-go file.

It will be good to have a refactored single build.sh file with the binary specific values pass as parameters to the script. A common build.sh

[2018-10-07 07:18] arshadkazmi42 commented on #2021
working on this

[2018-10-07 12:17] salonirk11 commented on #2045
I would like to take this one up :D

[2018-10-07 12:34] ashishranjan738 opened #2047 "fix cstyle error in ./src/istgt_lu_disk.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_lu_disk.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:35] ashishranjan738 opened #2048 "fix cstyle error in ./src/istgt.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:37] ashishranjan738 commented on #2045
sure @salonirk11 go ahead. Let me know if you need any help.

[2018-10-07 12:39] Sagar2366 commented on #2048
I would like to work on this issue

[2018-10-07 12:40] ashishranjan738 opened #2049 "Fix cstyle error in ./src/istgt_lu_ctl.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_lu_ctl.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:41] ashishranjan738 commented on #2048
sure @Sagar2366 go ahead.

[2018-10-07 12:42] ashishranjan738 opened #2050 "fix cstyle error in ./src/istgt_log.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_log.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:45] ashishranjan738 opened #2051 "Fix cstyle issue in ./src/istgt_lu.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_lu.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]

Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:48] ashishranjan738 opened #2052 "fix cstyle error in ./src/istgt_lu_disk_xcopy.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_lu_disk_xcopy.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:49] ashishranjan738 opened #2053 "fix cstyle error in ./src/istgt_misc.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_misc.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:51] ashishranjan738 opened #2054 "Fix cstyle error in ./src/istgt_crc32c.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_crc32c.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

./src/istgt_crc32c.c: 48: spaces instead of tabs
./src/istgt_crc32c.c: 62: unparenthesized return expression
./src/istgt_crc32c.c: 67: unparenthesized return expression
./src/istgt_crc32c.c: 130: unparenthesized return expression
./sr

[2018-10-07 12:53] ashishranjan738 opened #2055 "Fix cstyle error in ./src/istgt_sock.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_sock.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>
[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:55] ashishranjan738 opened #2056 "Fix cstyle error in ./src/istgt_cmd_table.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_cmd_table.c
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

[code]
Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 12:56] ashishranjan738 opened #2057 "Fix cstyle error in ./src/istgt_crc32c.h"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_crc32c.h
Steps to compile in: README.md
PR subject should be like: fmt(cstyle): cstyle fixes in <filename>

[code]

Resources:
-> Countributers guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-07 13:00] Pensu commented on #2057
I will take this up.

[2018-10-07 13:03] ashishranjan738 commented on #2057
sure @Pensu go ahead. Let me know if you need any help.

[2018-10-07 13:10] sourabh1031 commented on #1914
@princerachit can you please give me more time as i have learnt about basics of  k8s and OpenEBS by now.

[2018-10-07 13:13] princerachit commented on #1914
Sure @saurabh1031

[2018-10-07 13:18] Pensu commented on #2057
@ashishranjan738 Sure, how do you suggest shortening the line from 80 characters? Shall I break it and add ```\```, like we do in shell scripts?

[2018-10-07 13:44] ashishranjan738 commented on #2057
ya you can try.

[2018-10-07 13:50] ashishranjan738 commented on #2031
sure @cbanupama go ahead. Let me know if you need any help.

[2018-10-07 13:53] ashishranjan738 commented on #2024
good job @danimart1991

[2018-10-07 13:54] ashishranjan738 commented on #2021
sure @arshadkazmi42 go ahead.

[2018-10-07 13:54] ashishranjan738 commented on #2020
sure @nityanandagohain go ahead

[2018-10-07 13:55] ashishranjan738 commented on #2018
sure @kkarth1k go ahead

[2018-10-07 13:55] ashishranjan738 commented on #2017
sure @md-yaseen go ahead. Let me know if you need any help

[2018-10-07 13:57] ashishranjan738 commented on #2013
cool

[2018-10-07 13:57] ashishranjan738 commented on #2010
sure @hari4125862 go ahead.

[2018-10-07 13:59] ashishranjan738 commented on #2008
sure @avnish98 go ahead.

[2018-10-07 14:58] #2039 closed

[2018-10-07 14:58] #2037 closed

[2018-10-07 15:02] vishnuitta commented on #2033
@kkarth1k sorry that this issue is fixed with PR#100 itself. Hence, closing your PR.

[2018-10-07 15:02] #2033 closed

[2018-10-07 15:35] agarwal-akash commented on #2054
PR: [#123](https://github.com/openebs/istgt/pull/123)

[2018-10-07 16:05] krishnakarthik1309 commented on #2056
I'm working on it.

[2018-10-07 16:54] krishnakarthik1309 commented on #2056
@ashishranjan738 submitted a PR

[2018-10-07 17:05] gupta2140 commented on #2055
@ashishranjan738  Hey, I'd like to work on this.

[2018-10-07 17:06] nfayazov commented on #2051
@ashishranjan738 Can I take this one?

[2018-10-07 17:08] geekysrm commented on #2052
Hey @ashishranjan738 . I want to work on this. :)

[2018-10-07 17:36] #2050 closed

[2018-10-07 17:36] #2041 closed

[2018-10-07 18:06] Pensu commented on #2053
Will send a PR for this.

[2018-10-07 18:15] #2040 closed

[2018-10-07 19:44] nfayazov commented on #2054
@ashishranjan738 Can I take this one?

[2018-10-07 19:49] gupta2140 commented on #2054
@ashishranjan738 I'd like to do this task :)

[2018-10-07 20:00] abhaygupta97 commented on #2055
Hi! I would like to work on this issue for Hacktoberfest.

[2018-10-07 20:05] geekysrm commented on #2042
I'd like to work on this.

[2018-10-07 20:08] agarwal-akash commented on #2054
@nfayazov @gupta2140 hey guys, this one has already been done, maybe you could try finding a similar one.

[2018-10-07 20:17] geekysrm opened #2059 "Broken link for label of issues in CONTRIBUTING.md"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
I was reading through the CONTRIBUTING.md file as I wanted to contribute. Then, I came across a broken link for "labels/tags of issues" under "[Contributing to Source Code and Bug Fixes](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md#contributing-to-source-code-and-bug-fixes)" section. The link 404's when o

[2018-10-07 20:18] geekysrm commented on #2059
Made PR for this: https://github.com/openebs/openebs/pull/2058

[2018-10-08 01:37] fristonio commented on #2051
Hey @ashishranjan738 I am seeing a lot of issues similar to this in `istgt`. In istgt we are using `cstyle.pl` to check for the style which does not confirm to `Bill Joy Normal form`(Which is one of the oldest unix ways to style C code). I think we can make use of GNUs `indent`(https://www.gnu.org/software/indent) and stick to a more modern style format somewhat like what is followed in the Linux

[2018-10-08 02:13] edawine commented on #2047
I would like to take this issue.

[2018-10-08 04:31] kojole commented on #2049
I'd like to work no this issue.

[2018-10-08 04:32] princerachit commented on #2049
@kojole thank you for showing interest. Please go ahead. Let us know if you need any help.

[2018-10-08 05:48] #2006 closed

[2018-10-08 05:49] #2034 closed

[2018-10-08 05:49] #2007 closed

[2018-10-08 05:59] #2024 closed

[2018-10-08 07:24] dargasudarshan opened #2062 "Application redeployment post cleanup on cstor remains in `ContainerCreating` state forever."
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT
 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
- Deployed percona  application on cstor sparse disk successfully.
- Deleted the application deployment successfully.
- Deployed jenkins application on cstor sparse disk, observed that application pod remains in `ContainerCreating` state.

[code]
[code]
**What you expected to happ

[2018-10-08 07:39] vishnuitta commented on #2062
Please provide
- application node messages file
- pool and target pod logs

[2018-10-08 08:30] ashishranjan738 commented on #2056
cool

[2018-10-08 08:31] ashishranjan738 commented on #2055
sure @abhaygupta97 go ahead. Let me know if you need any help.

[2018-10-08 08:33] ashishranjan738 commented on #2053
sure @ashishranjan738 go ahead. Let me know if you need any help.

[2018-10-08 08:34] ashishranjan738 commented on #2047
sure @edawine go ahead. Let me know if you need any help.

[2018-10-08 08:35] ashishranjan738 commented on #2036
Thanxx @michizhou for the PR

[2018-10-08 09:05] dargasudarshan commented on #2062
Attaching istgt logs of the target associated with application under test.
[istgt.log](https://github.com/openebs/openebs/files/2455315/istgt.log)

[2018-10-08 09:52] dargasudarshan commented on #2062
Removed all the stale iscsi sessions on all the nodes, then tried deploying the application. Still seeing this issue.

[code]
[code]

[2018-10-08 10:39] vishnuitta commented on #2062
application node logs also required @dargasudarshan

[2018-10-08 11:10] dargasudarshan commented on #2062
Shared on slack channel.

[2018-10-08 11:43] dargasudarshan commented on #2062
@vishnuitta Please find the attachment for istgt.conf of cstor target.
[istgt.conf.txt](https://github.com/openebs/openebs/files/2455750/istgt.conf.txt)

[2018-10-08 12:20] Pensu commented on #2053
Hi @ashishranjan738 so the problem here is with 80 characters limit. There are lot of lines in that particular file which are greater than 80 characters and they are deep inside the indentation. Now a tab is also counted as characters, so if I break a line can I put in the beginning? Let me explain if there is a line like:

[code]

Can this be put as:

[code]

Because if I put tabs in front of the

[2018-10-08 13:06] salonirk11 commented on #2045
How do I test the refactored build.sh? I am unable to find commands in the installation guide which call the three different scripts.

[2018-10-08 13:52] prateekpandey14 commented on #2045
@salonirk11  there is `GNUMakefile` targets which triggers individual buils.sh. You can run
`make all` to run all of them in single shot or run single component using
`make apiserver` to build Maya-Apiserver
 `make exporter` to build Maya volume exporter etc..

[2018-10-08 14:17] #1583 closed

[2018-10-08 16:00] #2009 closed

[2018-10-08 17:20] PeterGrace commented on #1276
I've had this same issue happen for me twice; the first time I figured it was due to disk pressure and using sparse images, but this time around it happened without any disk pressure, and indeed, even without any input from me as far as I can tell.  One of the three pods of my elasticsearch cluster decided to die, and when it has come back up, the node can't mount the pvc filesystem.

The fact tha

[2018-10-08 18:25] mukeshmk commented on #1981
@ashishranjan738 I want to work on this.

[2018-10-08 18:37] mukeshmk commented on #1981
@ashishranjan738  raised a [PR #637](https://github.com/openebs/maya/pull/637) fixing this issue.

[2018-10-08 18:39] #1992 closed

[2018-10-08 21:09] tom-vthptvh commented on #2025
Used gcc-6 instead of gcc-5. The build is good as gold now :).
PR:  https://github.com/openebs/istgt/pull/134

[2018-10-09 00:11] mptap commented on #1988
@ashishranjan738 Have raised PR for this: https://github.com/openebs/maya/pull/638

[2018-10-09 03:54] farhaanbukhsh commented on #1988
I thought I was working on it 😅

[2018-10-09 06:00] #2032 closed

[2018-10-09 06:14] ashishranjan738 commented on #2052
go ahead @geekysrm

[2018-10-09 06:38] ashishranjan738 commented on #1994
@dreamerHarshit  i think @arghyaiitb is already working on it.

[2018-10-09 06:39] ashishranjan738 commented on #1989
@RajatVaryani you can communicate over slack.

[2018-10-09 07:32] #2004 closed

[2018-10-09 08:20] #2057 closed

[2018-10-09 08:43] #2055 closed

[2018-10-10 06:15] #1943 closed

[2018-10-10 15:46] gupta2140 commented on #2054
@ashishranjan738 hi, is this task still open to do?

[2018-10-10 16:51] sourabh1031 commented on #1914
@princerachit it will be better if someone can hack this issue because i am learning golang it will take me little time so if any just pings here you can assign this and sorry for my failure

[2018-10-10 20:15] shubhambhattar commented on #2010
@ashishranjan738 Raised a PR for this: https://github.com/openebs/istgt/pull/137

[2018-10-10 21:41] ashishranjan738 commented on #2010
COOL @shubhambhattar . Thanks for the PR.

[2018-10-11 06:13] salonirk11 commented on #2045
Please review PR [#643](https://github.com/openebs/maya/pull/643) for https://github.com/openebs/maya

[2018-10-11 10:33] armudgal commented on #1971
According to the US laws, mentioning copyright year is optional, hence even if we mention `2016` as the copyright year, I don't think it classifies as an issue, let's wait for the maintainers to comment on this.

[2018-10-11 10:38] armudgal commented on #1916
Hi, I would like to take a look on this :)

[2018-10-11 10:49] #2049 closed

[2018-10-11 16:57] flowkraD commented on #2051
I would love to claim this issue.
May take a tad bit long time to receive the PR given the volume of changes. Will try my level best to do as early as possible

[2018-10-11 20:42] nfayazov commented on #2054
@ashishranjan738 just saw your comment, I submitted a pull request a couple days ago https://github.com/openebs/istgt/pull/128, but it looks like someone already beat me to it :)

[2018-10-11 20:44] nfayazov commented on #2054
@ashishranjan738 I see now that the other pr got cancelled. Yes, I will finish this up.

[2018-10-12 02:18] diegous commented on #2051
Hey, can I take this up?

[2018-10-12 02:30] ashishranjan738 commented on #2051
sure @diegous go ahead

[2018-10-12 02:31] ashishranjan738 commented on #2054
cool @nfayazov

[2018-10-12 03:16] nfayazov commented on #2054
PR: https://github.com/openebs/istgt/pull/128

[2018-10-12 04:16] princerachit commented on #1916
@armudgal thank you for showing interest. Please go ahead. If you face any difficulty reach to us on slack.

[2018-10-12 05:56] #1961 closed

[2018-10-12 10:56] nsathyaseelan opened #2078 "MongoDB Application Deployment fails upon using xfs as fstype in packet"
BUG REPORT
**What happened**:
-Tried to deploy MongoDB statefulset with 3 replicas.
-Application pods remains in container creating state upon using XFS as fstype in packet cloud.
(Used openebs-mongodb as a storageclass which has xfs as FStype)

**Application pod description:**
[code]

Controller Logs:-
[code]
Replica Pod logs:-
[code]
**Anything else we need to know?**:
Packet cloud - t1.small.x8

[2018-10-12 19:18] armudgal commented on #1916
Hi, I looked into the test and the docs you references, it's gonna take some time for me to get familiar with golang, so if this is a high-prioirity issue you can give to someone else, otherwise I might take couple of days :)

[2018-10-13 03:01] payes opened #2083 "Refactor duplicate code segments in in istgt_lu_ctl.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_lu_ctl.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Remove duplicate code segments in <filename>

Refactor following lines of code which are duplicated in the file istgt_lu_ctl.c:

([1](https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_lu_ctl.c#L466-L494), [2](https://gith

[2018-10-13 03:10] payes opened #2084 "Refactor duplicate code in istgtcontrol.c"
Repo: openebs/istgt
Branch: replication
File: ./src/istgt_lu_ctl.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Remove duplicate code segments in <filename>
control.c

Refactor following lines of code which are duplicated in the file istgtcontrol.c:
 ([1](https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgtcontrol.c#L1323-L1354), [2](

[2018-10-13 03:56] ashishranjan738 opened #2085 "Fix go lint in issue in maya/pkg/apis/openebs.io/v1alpha1/register.go"
File: [register.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/register.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 03:57] satyamz opened #2086 "Fix golint issue in register.go"
Following file has a lint issue:
[ maya/pkg/apis/openebs.io/register.go ](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/register.go#L4)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 03:58] ashishranjan738 opened #2087 "Fix golint issue in maya/types/v1/profile/doc.go"
File: [maya/types/v1/profile/doc.go](https://github.com/openebs/maya/blob/master/types/v1/profile/doc.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 03:59] ashishranjan738 opened #2088 "Fix golint issue in maya/pkg/task/patch.go"
File: [maya/pkg/task/patch.go](https://github.com/openebs/maya/blob/master/pkg/task/patch.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 03:59] satyamz opened #2089 "Fix golint issues in k8s/v1/doc.go"
Following file has a lint issue:
[maya/orchprovider/k8s/v1/doc.go](https://github.com/openebs/maya/blob/master/orchprovider/k8s/v1/doc.go#L1)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:00] ashishranjan738 opened #2090 "Fix golint issue in maya/pkg/task/runner.go"
File: [maya/pkg/task/runner.go](https://github.com/openebs/maya/blob/master/pkg/task/runner.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:01] satyamz opened #2091 "Fix golint issues in signal.go"
Following file has a lint issue:
[maya/pkg/signals/signal.go](https://github.com/openebs/maya/blob/master/pkg/signals/signal.go#L1)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:02] satyamz opened #2092 "Fix golint issues in select_disk.go"
Following file has a lint issue:
[ maya/cmd/maya-apiserver/spc-watcher/select_disk.go ](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/select_disk.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:03] ashishranjan738 opened #2093 "Fix goling issues in maya/pkg/apis/openebs.io/v1alpha1/disk.go"
File: [maya/pkg/apis/openebs.io/v1alpha1/disk.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/disk.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:04] ashishranjan738 opened #2094 "Fix golint issues in maya/orchprovider/nomad/v1/doc.go"
File: [maya/orchprovider/nomad/v1/doc.go](https://github.com/openebs/maya/blob/master/orchprovider/nomad/v1/doc.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:11] payes opened #2095 "Modularise istgt_lu_disk_execute(CONN_Ptr, ISTGT_LU_CMD_Ptr)"
Repo: openebs/istgt
Branch: replication
File: src/istgt_lu_disk.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Refactor <function_name>

The following function istgt_lu_disk_execute(CONN_Ptr, ISTGT_LU_CMD_Ptr)
https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_lu_disk.c#L9072-L10923
can be refactored, which is a unit of **1537** lin

[2018-10-13 04:20] payes opened #2096 "Modularise istgt_lu_add_unit(ISTGT_Ptr, CF_SECTION)"
Repo: openebs/istgt
Branch: replication
File: src/istgt_lu.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Refactor <function_name>

The following function istgt_lu_add_unit(ISTGT_Ptr, CF_SECTION)
https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_lu.c#L1372-L2285
can be refactored, which is a unit of **836** lines of code and **234*

[2018-10-13 04:20] satyamz opened #2097 "Fix lint issue in spc-watcher/handler.go"
Following file has a lint issue:
[maya/cmd/maya-apiserver/spc-watcher/handler.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/handler.go#L1)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:21] satyamz opened #2098 "Fix go lint issues in amount.go"
Following file has a lint issue:
[ maya/types/v1/amount.go ](https://github.com/openebs/maya/blob/master/types/v1/amount.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:23] satyamz opened #2099 "Fix lint issues in identity.go"
Following file has a lint issue:
[ maya/pkg/task/identity.go ](https://github.com/openebs/maya/blob/master/pkg/task/identity.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:23] ashishranjan738 opened #2100 "Fix golint issues in maya/pkg/version/version.go"
File: [maya/pkg/version/version.go](https://github.com/openebs/maya/blob/master/pkg/version/version.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:24] ashishranjan738 opened #2101 "Fix go lint issues in maya/cmd/cstor-pool-mgmt/controller/pool-controller/run_pool_controller.go"
File: [maya/cmd/cstor-pool-mgmt/controller/pool-controller/run_pool_controller.go](https://github.com/openebs/maya/blob/master/cmd/cstor-pool-mgmt/controller/pool-controller/run_pool_controller.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:24] satyamz opened #2102 "Fix go lint issues in query.go"
Following file has a lint issue:
[maya/pkg/template/query.go](https://github.com/openebs/maya/blob/master/pkg/template/query.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:25] satyamz opened #2103 "Fix go lint issues policy_jiva_k8s.go"
Following file has a lint issue:
[maya/volume/policies/v1/policy_jiva_k8s.go](https://github.com/openebs/maya/blob/master/volume/policies/v1/policy_jiva_k8s.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:25] ashishranjan738 opened #2104 "Fix golint issue in maya/pkg/install/v1alpha1/env_setter.go"
File: [maya/pkg/install/v1alpha1/env_setter.go](https://github.com/openebs/maya/blob/master/pkg/install/v1alpha1/env_setter.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:26] ashishranjan738 opened #2105 "Fix golint issue in maya/pkg/task/v1alpha1/runtask_command.go"
File: [maya/pkg/task/v1alpha1/runtask_command.go](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/runtask_command.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:26] satyamz opened #2106 "Fix go lint issues in policy.go"
Following file has a lint issue:
[ maya/volume/policies/v1/policy.go ](https://github.com/openebs/maya/blob/master/volume/policies/v1/policy.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:27] payes opened #2107 "Modularise istgt_lu_disk_scsi_persistent_reserve_out(ISTGT_LU_DISK*, CONN_Ptr, ISTGT_LU_CMD_Ptr, int, int, int, uint8_t*, int, int)"
Repo: openebs/istgt
Branch: replication
File: src/istgt_lu_disk.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Refactor <function_name>

The following function istgt_lu_disk_scsi_persistent_reserve_out(ISTGT_LU_DISK*, CONN_Ptr, ISTGT_LU_CMD_Ptr, int, int, int, uint8_t*, int, int)
https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_lu

[2018-10-13 04:27] ashishranjan738 opened #2108 "Fix golint issues in maya/cmd/maya-agent/app/command/device-format.go"
File: [maya/cmd/maya-agent/app/command/device-format.go](https://github.com/openebs/maya/blob/master/cmd/maya-agent/app/command/device-format.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:27] satyamz opened #2109 "Fix go lint issues in storagepool_delete.go"
Following file has a lint issue:
[ maya/cmd/maya-apiserver/spc-watcher/storagepool_delete.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/storagepool_delete.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:28] ashishranjan738 opened #2110 "Fix golint issues in maya/orchprovider/k8s/v1/util.go"
File: [maya/orchprovider/k8s/v1/util.go](https://github.com/openebs/maya/blob/master/orchprovider/k8s/v1/util.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:29] satyamz opened #2111 "Fix go lint issues in k8s.go"
Following file has a lint issue:
[ maya/pkg/client/k8s/k8s.go ](https://github.com/openebs/maya/blob/master/pkg/client/k8s/k8s.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:29] ashishranjan738 opened #2112 "Fix golint issues in maya/types/v1/profile/orchestrator/profile.go"
File: [maya/types/v1/profile/orchestrator/profile.go](https://github.com/openebs/maya/blob/master/types/v1/profile/orchestrator/profile.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:30] payes opened #2113 "Modularise istgt_iscsi_op_login(CONN_Ptr, ISCSI_PDU_Ptr)"
Repo: openebs/istgt
Branch: replication
File: src/istgt_iscsi.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Refactor <function_name>

The following function istgt_iscsi_op_login(CONN_Ptr, ISCSI_PDU_Ptr):
https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_iscsi.c#L1751-L2478
can be refactored, which is a unit of **617** lines of cod

[2018-10-13 04:30] satyamz opened #2114 "Fix golint issues in util.go"
Following file has a lint issue:
[ maya/types/v1/util.go ](https://github.com/openebs/maya/blob/master/types/v1/util.go)

The lint  issue is :
[code]

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-10-13 04:31] ashishranjan738 opened #2115 "Fix golint issues in maya/volume/policies/v1/doc.go"
File: [maya/volume/policies/v1/doc.go](https://github.com/openebs/maya/blob/master/volume/policies/v1/doc.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:32] ashishranjan738 opened #2116 "Fix golint issues in maya/volume/provisioners/jiva/util.go"
File: [maya/volume/provisioners/jiva/util.go](https://github.com/openebs/maya/blob/master/volume/provisioners/jiva/util.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:33] ashishranjan738 opened #2117 "Fix golint issues in maya/cmd/cstor-pool-mgmt/pool/pool.go"
File: [maya/cmd/cstor-pool-mgmt/pool/pool.go](https://github.com/openebs/maya/blob/master/cmd/cstor-pool-mgmt/pool/pool.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:34] payes opened #2118 "Modularise istgt_lu_update_unit(ISTGT_LU_Ptr, CF_SECTION*)"
Repo: openebs/istgt
Branch: replication
File: src/istgt_lu.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Refactor <function_name>

The following function istgt_lu_update_unit(ISTGT_LU_Ptr, CF_SECTION*)
https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_lu.c#L2329-L2858
can be refactored, which is a unit of **485** lines of code and

[2018-10-13 04:34] ashishranjan738 opened #2119 "Fix golint issues in maya/orchprovider/nomad/v1/api.go"
File: [maya/orchprovider/nomad/v1/api.go](https://github.com/openebs/maya/blob/master/orchprovider/nomad/v1/api.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:35] ashishranjan738 opened #2120 "Fix golint issues in maya/cmd/maya-apiserver/app/server/metadata_endpoint.go"
File: [maya/cmd/maya-apiserver/app/server/metadata_endpoint.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/app/server/metadata_endpoint.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:36] ashishranjan738 opened #2121 "Fix golint issues in maya/types/v1/meta.go"
File: [maya/types/v1/meta.go](https://github.com/openebs/maya/blob/master/types/v1/meta.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:37] ashishranjan738 opened #2122 "Fix golint issues in maya/cmd/maya-agent/types/v1/block_device_info.go"
File: [maya/cmd/maya-agent/types/v1/block_device_info.go](https://github.com/openebs/maya/blob/master/cmd/maya-agent/types/v1/block_device_info.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:37] ashishranjan738 opened #2123 "Fix golint issues in maya/volume/provisioners/registry.go"
File: [maya/volume/provisioners/registry.go](https://github.com/openebs/maya/blob/master/volume/provisioners/registry.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:38] ashishranjan738 opened #2124 "Fix golint issues in maya/types/v1/scale_int.go"
File: [maya/types/v1/scale_int.go](https://github.com/openebs/maya/blob/master/types/v1/scale_int.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:39] ashishranjan738 opened #2125 "Fix golint issues in maya/pkg/nethelper/ipcalc.go"
File: [maya/pkg/nethelper/ipcalc.go](https://github.com/openebs/maya/blob/master/pkg/nethelper/ipcalc.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:40] ashishranjan738 opened #2126 "Fix golint issues in maya/orchprovider/nomad/v1/nomad_plug.go"
File: [maya/orchprovider/nomad/v1/nomad_plug.go](https://github.com/openebs/maya/blob/master/orchprovider/nomad/v1/nomad_plug.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:41] ashishranjan738 opened #2127 "Fix golint issues in maya/volume/policies/v1/util.go"
File: [maya/volume/policies/v1/util.go](https://github.com/openebs/maya/blob/master/volume/policies/v1/util.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:42] payes opened #2128 "Refactor istgt_uctl_cmd_maxtime(UCTL_Ptr)"
The following function istgt_uctl_cmd_maxtime(UCTL_Ptr):
https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_lu_ctl.c#L2360-L2797
has a lot of duplicate code which needs to be optimized.
Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Simple Units of Code** guideline rating!
Here's the

[2018-10-13 04:42] ashishranjan738 opened #2129 "Fix golint issues in maya/orchprovider/registry.go"
File: [maya/orchprovider/registry.go](https://github.com/openebs/maya/blob/master/orchprovider/registry.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:43] ashishranjan738 opened #2130 "Fix golint issues in maya/pkg/client/k8s/v1alpha1/clientset.go"
File: [maya/pkg/client/k8s/v1alpha1/clientset.go](https://github.com/openebs/maya/blob/master/pkg/client/k8s/v1alpha1/clientset.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:44] ashishranjan738 opened #2131 "Fix golint issues in maya/pkg/msg/v1alpha1/msg.go"
File: [maya/pkg/msg/v1alpha1/msg.go](https://github.com/openebs/maya/blob/master/pkg/msg/v1alpha1/msg.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:45] ashishranjan738 opened #2132 "Fix golint issues in maya/pkg/jsonpath/v1alpha1/json_path.go"
File: [maya/pkg/jsonpath/v1alpha1/json_path.go](https://github.com/openebs/maya/blob/master/pkg/jsonpath/v1alpha1/json_path.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:46] ashishranjan738 opened #2133 "Fix golint issues in maya/types/profiles/v1/profiles.go"
File: [maya/types/profiles/v1/profiles.go](https://github.com/openebs/maya/blob/master/types/profiles/v1/profiles.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:46] payes opened #2134 "Modularise worker(void*)"
Repo: openebs/istgt
Branch: replication
File: src/istgt_iscsi.c
Steps to compile in: README.md
PR subject should be like: fmt(Refactor): Refactor <function_name>

The following function worker(void*):
https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_iscsi.c#L5825-L6270
can be refactored, which is a unit of **321** lines of code and **65** branch points. Addr

[2018-10-13 04:47] ashishranjan738 opened #2135 "Fix golint issues in maya/pkg/util/unstructured.go"
File: [maya/pkg/util/unstructured.go](https://github.com/openebs/maya/blob/master/pkg/util/unstructured.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:48] ashishranjan738 opened #2136 "Fix golint issues in maya/types/v1/suffix.go"
File: [maya/types/v1/suffix.go](https://github.com/openebs/maya/blob/master/types/v1/suffix.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:49] ashishranjan738 opened #2137 "Fix golint issues in maya/pkg/client/http/v1alpha1/http_client.go"
File: [maya/pkg/client/http/v1alpha1/http_client.go](https://github.com/openebs/maya/blob/master/pkg/client/http/v1alpha1/http_client.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:50] ashishranjan738 opened #2138 "Fix golint issues in maya/types/v1/labels.go"
File: [maya/types/v1/labels.go](https://github.com/openebs/maya/blob/master/types/v1/labels.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:54] Pensu commented on #2122
Will send the PR for this one.

[2018-10-13 04:57] ashishranjan738 opened #2139 "Fix golint issues in maya/cmd/maya-apiserver/app/command/start.go"
File: [maya/cmd/maya-apiserver/app/command/start.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/app/command/start.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:57] ashishranjan738 opened #2140 "Fix golint issues in maya/cmd/maya-apiserver/app/server/server.go"
File: [maya/cmd/maya-apiserver/app/server/server.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/app/server/server.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 04:59] ashishranjan738 opened #2141 "Fix golint issues in maya/types/v1/types.go"
File: [maya/types/v1/types.go](https://github.com/openebs/maya/blob/master/types/v1/types.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:00] ashishranjan738 opened #2142 "Fix golint issues in maya/cmd/maya-apiserver/app/server/http.go"
File: [maya/cmd/maya-apiserver/app/server/http.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/app/server/http.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:00] ashishranjan738 opened #2143 "Fix golint issues in maya/cmd/maya-apiserver/spc-watcher/start.go"
File: [maya/cmd/maya-apiserver/spc-watcher/start.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/start.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:01] ashishranjan738 opened #2144 "Fix golint issues in maya/pkg/install/v1alpha1/config.go"
File: [maya/pkg/install/v1alpha1/config.go](https://github.com/openebs/maya/blob/master/pkg/install/v1alpha1/config.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:02] ashishranjan738 opened #2145 "Fix golint issues maya/types/profiles/v1/doc.go"
File: [maya/types/profiles/v1/doc.go](https://github.com/openebs/maya/blob/master/types/profiles/v1/doc.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:02] pandyamarut commented on #2133
@ashishranjan738  please assign this issue to me.

[2018-10-13 05:03] ashishranjan738 opened #2146 "Fix golint issues in maya/types/v1/metrics.go"
File: [maya/types/v1/metrics.go](https://github.com/openebs/maya/blob/master/types/v1/metrics.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:04] ashishranjan738 opened #2147 "Fix golint issues in maya/types/v1/quantity.go"
File: [maya/types/v1/quantity.go](https://github.com/openebs/maya/blob/master/types/v1/quantity.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:05] rneha725 commented on #2134
I can work on this

[2018-10-13 05:06] ashishranjan738 opened #2148 "Fix golint issues in maya/cmd/maya-agent/types/doc.go"
File: [maya/cmd/maya-agent/types/doc.go](https://github.com/openebs/maya/blob/master/cmd/maya-agent/types/doc.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:06] ashishranjan738 opened #2149 "Fix golint issues in maya/pkg/apis/openebs.io/v1alpha1/cas_template_keys.go"
File: [maya/pkg/apis/openebs.io/v1alpha1/cas_template_keys.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/cas_template_keys.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:07] ashishranjan738 opened #2150 "Fix golint issues in maya/pkg/env/v1alpha1/env.go"
File: [maya/pkg/env/v1alpha1/env.go](https://github.com/openebs/maya/blob/master/pkg/env/v1alpha1/env.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:07] Pensu commented on #2127
Will send a PR.

[2018-10-13 05:08] ashishranjan738 opened #2151 "Fix golint issues in maya/pkg/client/jiva/model.go"
File: [maya/pkg/client/jiva/model.go](https://github.com/openebs/maya/blob/master/pkg/client/jiva/model.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:09] ashishranjan738 opened #2152 "Fix golint issues in maya/pkg/k8s/from_yaml.go"
File: [maya/pkg/k8s/from_yaml.go](https://github.com/openebs/maya/blob/master/pkg/k8s/from_yaml.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:10] ashishranjan738 opened #2153 "Fix golint issues in maya/pkg/task/v1alpha1/store_command.go"
File: [maya/pkg/task/v1alpha1/store_command.go](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/store_command.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:11] ashishranjan738 opened #2154 "Fix golint issues in maya/pkg/template/template.go"
File: [maya/pkg/template/template.go](https://github.com/openebs/maya/blob/master/pkg/template/template.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:12] ashishranjan738 opened #2155 "Fix golint issues in maya/types/v1/policies.go"
File: [maya/types/v1/policies.go](https://github.com/openebs/maya/blob/master/types/v1/policies.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:14] ashishranjan738 opened #2156 "Fix golint issues in maya/orchprovider/orchestration.go"
File: [maya/orchprovider/orchestration.go](https://github.com/openebs/maya/blob/master/orchprovider/orchestration.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:15] m-nikhil commented on #2123
Will work on this.

[2018-10-13 05:16] ashishranjan738 opened #2157 "Fix golint issues in maya/pkg/client/k8s/v1alpha1/unstructured.go"
File: [maya/pkg/client/k8s/v1alpha1/unstructured.go](https://github.com/openebs/maya/blob/master/pkg/client/k8s/v1alpha1/unstructured.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:16] ashishranjan738 opened #2158 "Fix golint issues in maya/cmd/maya-apiserver/spc-watcher/runner.go"
File: [maya/cmd/maya-apiserver/spc-watcher/runner.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/runner.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:17] ashishranjan738 opened #2159 "Fix golint issues in maya/volume/policies/v1/policy_jiva.go"
File: [maya/volume/policies/v1/policy_jiva.go](https://github.com/openebs/maya/blob/master/volume/policies/v1/policy_jiva.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:18] ashishranjan738 opened #2160 "Fix golint issues in maya/pkg/task/fetch.go"
File: [maya/pkg/task/fetch.go](https://github.com/openebs/maya/blob/master/pkg/task/fetch.go)

[code]
Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Easy

[2018-10-13 05:21] ABHIYANSHU commented on #2156
I am interested in this issue.

[2018-10-13 05:21] ashishranjan738 commented on #2134
@rneha725 go ahead. Let me know if you need any help.

[2018-10-13 05:30] ashishranjan738 commented on #2133
I think something that describes the constant will help

[2018-10-13 05:30] princerachit opened #2161 "Add step to install missing autoreconf"
While following steps in building istgt this error was encountered:
./autogen.sh
[code]
`autoconf` must be installed before building the project.

Add this step `https://askubuntu.com/a/490839` in the README file.

[2018-10-13 05:31] princerachit commented on #2161
Assigned offline to Neha

[2018-10-13 05:32] Pensu commented on #2130
Will send a PR for this one.

[2018-10-13 05:34] ashishranjan738 commented on #2130
@Pensu  go ahead. Let me know if you need any help.

[2018-10-13 05:34] princerachit commented on #2130
Sure @Pensu happy to see your enthusiasm! Let us know if you need any help.

[2018-10-13 05:41] abhishek-19 commented on #2141
I going to work on this.

[2018-10-13 05:41] ashishranjan738 commented on #2141
@abhishek-19  go ahead. Let me know if you need any help.

[2018-10-13 05:42] Pensu commented on #2130
@princerachit Thanks. You guys have been very welcoming :)

[2018-10-13 05:48] Pensu commented on #2115
Sending a PR

[2018-10-13 05:49] ashishranjan738 commented on #2115
@Pensu  go ahead. Let me know if you need any help.

[2018-10-13 05:55] shaunak-gupta commented on #2155
I'll take this.

[2018-10-13 05:56] shahbazahmed1269 commented on #2156
@ABHIYANSHU, @ashishranjan738 Sorry for not informing, but I have already made required changes, making a PR in a bit.

[2018-10-13 05:57] Pensu commented on #2109
Sending a PR.

[2018-10-13 05:57] ashishranjan738 commented on #2155
@shaunak-gupta  go ahead. Let me know if you need any help.

[2018-10-13 05:58] ashishranjan738 commented on #2109
@Pensu  go ahead. Let me know if you need any help.

[2018-10-13 06:00] infiniteoverflow commented on #2160
I would like to work on this

[2018-10-13 06:01] ABHIYANSHU commented on #2156
I have committed the changes in the fix-docs branch

[2018-10-13 06:01] ashishranjan738 commented on #2160
@infiniteoverflow  go ahead. Let me know if you need any help.

[2018-10-13 06:07] karthikramesh18 commented on #2146
I would like to fix this one

[2018-10-13 06:08] vardhanapoorv commented on #2159
I would like to work on this

[2018-10-13 06:09] AishwaryaVarma commented on #2158
i would like to work on this

[2018-10-13 06:12] diehard-coder commented on #2157
I am working on this issue

[2018-10-13 06:13] ashishranjan738 commented on #2159
@vardhanapoorv  go ahead. Let me know if you need any help.

[2018-10-13 06:13] ashishranjan738 commented on #2158
@AishwaryaVarma  go ahead. Let me know if you need any help.

[2018-10-13 06:13] ashishranjan738 commented on #2146
@karthikramesh18  go ahead. Let me know if you need any help.

[2018-10-13 06:14] Pensu commented on #2108
Sending a PR.

[2018-10-13 06:14] ashishranjan738 commented on #2157
@diehard-coder  go ahead. Let me know if you need any help.

[2018-10-13 06:14] md-yaseen commented on #2149
I would like work on this issue.

[2018-10-13 06:15] ashishranjan738 commented on #2108
@Pensu  go ahead. Let me know if you need any help.

[2018-10-13 06:15] kunal2604 commented on #2151
I want to work on this issue.

[2018-10-13 06:15] ashishranjan738 commented on #2149
@md-yaseen  go ahead. Let me know if you need any help.

[2018-10-13 06:16] ashishranjan738 commented on #2151
@kunal2604  go ahead. Let me know if you need any help.

[2018-10-13 06:18] kaustumbh7 commented on #2154
I would like to this issue

[2018-10-13 06:30] shaunak-gupta commented on #2155
Done.

[2018-10-13 06:31] Pensu commented on #2097
Sending a PR.

[2018-10-13 06:34] #2156 closed

[2018-10-13 06:37] bharath-acchu commented on #2148
I would try this

[2018-10-13 06:38] ksatchit opened #2162 "Create unit tests for bootstrapper.py"
## Is this a BUG REPORT or FEATURE REQUEST?
  FEATURE REQUEST

**What happened**:

- Create unit tests for https://github.com/openebs/openebs/blob/master/e2e/ansible/files/bootstrapper.py

**Anything else we need to know?**:

- Refer: http://docs.gurock.com/testrail-api2/start

[2018-10-13 06:39] Pensu commented on #2094
Sending a PR.

[2018-10-13 06:41] #2115 closed

[2018-10-13 06:41] ksatchit opened #2163 "Create unit tests for testrail.py"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Create unit tests for https://github.com/openebs/openebs/blob/master/e2e/ansible/files/testrail.py

**Anything else we need to know?**:

- Refer: https://github.com/openebs/openebs/blob/master/e2e/ansible/files/testrail.py

[2018-10-13 06:42] ksatchit opened #2164 "Create unit tests for updater.py"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

- Create unit tests for https://github.com/openebs/openebs/blob/master/e2e/ansible/files/updater.py

**Anything else we need to know?**:

- Refer http://docs.gurock.com/testrail-api2/start

[2018-10-13 06:44] ABHIYANSHU commented on #774
Hi I am working on the same, forgot to comment earlier.

[2018-10-13 06:45] ABHIYANSHU commented on #2164
I am interested in this issue.

[2018-10-13 06:45] diehard-coder commented on #2125
I am working on this issue

[2018-10-13 06:45] ABHIYANSHU commented on #2163
I am interested in this issue.

[2018-10-13 06:46] ABHIYANSHU commented on #2162
I am interested in this issue.

[2018-10-13 06:47] ABHIYANSHU commented on #2160
@infiniteoverflow I am also working on this. Please tell me if you have already completed it.

[2018-10-13 06:47] ABHIYANSHU commented on #2159
@vardhanapoorv I am also working on this. Please let me know if you have already completed this.

[2018-10-13 06:50] Pensu commented on #2087
Sending a PR.

[2018-10-13 06:54] Pensu commented on #2089
Sending a PR.

[2018-10-13 06:56] diehard-coder commented on #2145
I am working on this issue

[2018-10-13 07:04] AishwaryaVarma commented on #2152
i would like to work on this

[2018-10-13 07:07] diehard-coder commented on #2119
I am working on this issue

[2018-10-13 07:14] pandyamarut commented on #2147
I would like to work on this issue.

[2018-10-13 07:29] bharath-acchu commented on #2148
im not doing this

[2018-10-13 07:30] AishwaryaVarma commented on #2148
i would like to work on it

[2018-10-13 08:15] bilal-mk commented on #2142
I would like to work on this

[2018-10-13 08:28] infiniteoverflow commented on #2160
Sorry i was about to finish it

[2018-10-13 08:28] bharath-acchu commented on #2143
I would try this

[2018-10-13 08:42] ABHIYANSHU commented on #2158
Is anybody working on this.

[2018-10-13 08:42] vardhanapoorv commented on #2084
I would like to work on this

[2018-10-13 08:43] kn-neelalohitha commented on #2096
I would like to take up this issue.

[2018-10-13 08:43] manjusm commented on #2084
I have done changes and compiled too.

[2018-10-13 08:45] mittachaitu commented on #2095
I would like to work on this issue.

[2018-10-13 08:45] diehard-coder commented on #2124
I would like to try this issue

[2018-10-13 08:46] ABHIYANSHU commented on #2152
Is anyone still working on this issue.

[2018-10-13 08:47] md-yaseen commented on #2149
This is already fixed

[2018-10-13 08:49] vardhanapoorv commented on #2083
i would like to work on this

[2018-10-13 08:50] md-yaseen commented on #2140
I would like to solve this issue.

[2018-10-13 08:58] ABHIYANSHU commented on #2160
Is this finished ?

[2018-10-13 08:59] ABHIYANSHU commented on #2137
I am doing this

[2018-10-13 09:02] infiniteoverflow commented on #2160
Sorry no...u can do it

[2018-10-13 09:02] infiniteoverflow commented on #2160
I am leaving this

[2018-10-13 09:02] m-nikhil commented on #2123
Hey, What should I comment for this warning - Line 15: warning: exported type VolumeProvisionerFactory should have comment or be unexported (golint)

[2018-10-13 09:31] karthikramesh18 commented on #2146
i competed this one.

[2018-10-13 09:37] karthikramesh18 commented on #2116
i will try this one

[2018-10-13 09:46] ABHIYANSHU commented on #2160
I have completed this

[2018-10-13 09:49] ABHIYANSHU commented on #2138
I am interested in this

[2018-10-13 09:50] abhishek-19 commented on #2117
I am doing this.

[2018-10-13 10:13] bharath-acchu commented on #2136
I would try this

[2018-10-13 10:17] #2154 closed

[2018-10-13 10:29] bilal-mk commented on #2093
I am working on this

[2018-10-13 10:31] #2084 closed

[2018-10-13 10:38] Tushcr7 commented on #2152
Resolved the issue

[2018-10-13 10:39] bilal-mk commented on #2091
I am working on this

[2018-10-13 10:53] bilal-mk commented on #2086
I am working on this

[2018-10-13 11:02] bilal-mk commented on #2126
I am working on this

[2018-10-13 11:41] sourabh1031 commented on #2135
@ashishranjan738 i would work on this. i know basics of go is this sufficient to hack this issue ?

[2018-10-13 12:29] egurnov commented on #2158
Fixed the issue, and a couple more linter problems.

[2018-10-13 12:33] egurnov commented on #2160
@ABHIYANSHU please provide a link back to this issue in your PR as openebs/openebs
#2160, this will reference the issue across repositories.

[2018-10-13 14:02] MrWako commented on #2114
I'll take a look at this one

[2018-10-13 14:46] MrWako commented on #2100
I'll have a go at this one

[2018-10-13 15:51] ashishranjan738 commented on #2135
Ya sure man you can start

[2018-10-13 16:27] ashishranjan738 commented on #2150
sure @shaunak-gupta let me know if you need any help.

[2018-10-13 16:33] ashishranjan738 commented on #2148
cool @AishwaryaVarma go ahead as @bharath-acchu backed of. let me know if you need any help.

[2018-10-13 16:36] ashishranjan738 commented on #2147
sure @pandyamarut go ahead. let me know if you need any help on [slack](slack.openebs.io).

[2018-10-13 16:37] ashishranjan738 commented on #2145
sure @DhairyaPatel7  go ahead. let me know if you need any help on [slack](http://slack.openebs.io).

[2018-10-13 16:38] ashishranjan738 commented on #2144
sure @kaustumbh7  go ahead. let me know if you need any help on [slack](http://slack.openebs.io).

[2018-10-13 16:39] ashishranjan738 commented on #2111
sure @MrWako  go ahead. let me know if you need any help on [slack](http://slack.openebs.io).

[2018-10-13 16:40] ashishranjan738 commented on #2114
sure @MrWako  go ahead. let me know if you need any help on [slack](http://slack.openebs.io).

[2018-10-13 17:55] Axle7XStriker commented on #2125
I would like to work on this one.

[2018-10-13 19:28] #2130 closed

[2018-10-13 20:08] #2157 closed

[2018-10-14 00:34] nemaniarjun commented on #2101
Taking this up!

[2018-10-14 00:49] bharath-acchu commented on #2136
I'm leaving this

[2018-10-14 09:30] #2101 closed

[2018-10-14 09:50] ashishranjan738 commented on #2143
@bharath-acchu go ahead..let me know if you need any help

[2018-10-14 10:11] ashishranjan738 commented on #2140
go ahea @md-yaseen . let me know if you need any help.

[2018-10-14 10:12] ashishranjan738 commented on #2142
Hey @bilal-mk go ahead. let me know if you need any help.

[2018-10-14 10:14] ashishranjan738 commented on #2138
hey @ABHIYANSHU go ahead. let me know if you need help.

[2018-10-14 10:15] ashishranjan738 commented on #2137
Hey @ABHIYANSHU go ahead. let me know if you need any help.

[2018-10-14 10:15] ashishranjan738 commented on #2136
cool

[2018-10-14 10:16] ashishranjan738 commented on #2132
Hey @bharath-acchu go ahead. Let me know if you  need any help.

[2018-10-14 10:16] ashishranjan738 commented on #2131
go ahead @AndreaM16 . Let me know if you need any help.

[2018-10-14 10:17] ashishranjan738 commented on #2126
go ahead @bilal-mk . let me know if you need any help.

[2018-10-14 10:18] ashishranjan738 commented on #2125
Hey @Axle7XStriker go ahead. Let me know if you need any help.

[2018-10-14 10:28] ashishranjan738 commented on #2091
go ahead @bilal-mk . Let me know if you need any help.

[2018-10-14 10:28] ashishranjan738 commented on #2089
go ahead @Pensu . Let me know if you need any help.

[2018-10-14 10:29] ashishranjan738 commented on #2087
go ahead @Pensu . Let me know if you need any help.

[2018-10-14 10:29] ashishranjan738 commented on #2086
go ahead @bilal-mk . Let me know if you need any help.

[2018-10-14 10:30] ashishranjan738 commented on #2083
go ahead @vardhanapoorv . Let me know if you need any help.

[2018-10-14 10:31] ashishranjan738 commented on #1582
go ahead @cpanato . Let me know if you need any help.

[2018-10-14 10:33] ashishranjan738 commented on #535
go ahead @khushbuparakh . Let me know if you need any help.

[2018-10-14 10:34] ashishranjan738 commented on #2094
go ahead @Pensu . Let me know if you need any help.

[2018-10-14 10:48] ashishranjan738 opened #2165 "Add chaos test for istgt in ci/cstor_test.sh"
Currently the test_cstor.sh test the working of istgt with docker images.It would be good to have some chaos tests like restarting the controller/replica in this script.

File: https://github.com/openebs/cstor/blob/master/ci/test_cstor.sh

Resources:
-> Contributors guide: https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md

Complexity: Medium

[2018-10-14 12:39] utkarshmani1997 opened #2167 "Keep Unit Interfaces Small"
In openebs/jiva lot's of the unit interfaces such as parameters to the functions are more in the numbers. We can move the parameters into the proper structures and keep the unit interfaces smaller.
Guidelines (souce: Better code hub):
- Keeping the number of parameters low makes units easier to understand and reuse.
- Limit the number of parameters per unit to at most 4.
- The number of parameters

[2018-10-14 12:44] utkarshmani1997 opened #2168 "Refactor 21 lines occurring 3 times in process.go"
I've selected for refactoring 21 lines of code which are duplicated in 1 file(s) ([1](https://github.com/openebs/jiva/blob/d57598c2c2506e79d6dbed410cae2a02fffde5ad/sync/agent/process.go#L338-L366), [2](https://github.com/openebs/jiva/blob/d57598c2c2506e79d6dbed410cae2a02fffde5ad/sync/agent/process.go#L373-L401), [3](https://github.com/openebs/jiva/blob/d57598c2c2506e79d6dbed410cae2a02fffde5ad/sync

[2018-10-14 12:47] utkarshmani1997 opened #2169 "Refactor 12 lines occurring 5 times in client.go"
I've selected for refactoring 12 lines of code which are duplicated in 1 file(s) ([1](https://github.com/openebs/jiva/blob/d57598c2c2506e79d6dbed410cae2a02fffde5ad/replica/client/client.go#L261-L275), [2](https://github.com/openebs/jiva/blob/d57598c2c2506e79d6dbed410cae2a02fffde5ad/replica/client/client.go#L371-L385), [3](https://github.com/openebs/jiva/blob/d57598c2c2506e79d6dbed410cae2a02fffde5a

[2018-10-14 12:47] arijitAD commented on #2102
I will take this.

[2018-10-14 12:47] #2144 closed

[2018-10-14 13:56] S4KH commented on #2168
What I am thinking is to extract a function and put the logic that is duplicate.

[2018-10-14 15:04] swetax commented on #1487
@Swarnalatha-K I went through https://docs.openebs.io/docs/next/installation.html and found some typos apart from the one mentioned here. Can you please assign this to me ?

[2018-10-14 15:08] codegagan commented on #2169
will try to do

[2018-10-14 15:16] codegagan commented on #2169
Why is the issue on openebs project and not jiva ?

[2018-10-14 16:00] kmjayadeep commented on #2167
I would like to work on this

[2018-10-14 16:37] kmjayadeep commented on #2167
@utkarshmani1997 I will work on replica construct method first
The current header is :
[code]
I can think of two approaches,
- Changing the entire parameters list to a new struct, ReplicaInfo
- Utilize the existing struct `Info` to change the function header to:
[code]
In this case only 4 params will be used from `Info` struct.

[2018-10-14 17:34] #2102 closed

[2018-10-14 17:35] kmjayadeep commented on #2167
I've changed the construct method to take only one param, `dir` and it returns a replica object with dir and some empty params set. readOnly and replicaType are set from the caller functions `New` and `NewReadonly`
Remaining actions are moved to seperate struct method `Initialize`. I'm not sure this is a good practice or not. I've raised a pr anyway. Please review https://github.com/openebs/jiva/p

[2018-10-14 17:38] #2111 closed

[2018-10-14 17:42] #2119 closed

[2018-10-14 17:52] #2114 closed

[2018-10-14 19:24] egurnov opened #2172 "Fix govet issues in maya/cmd/maya-apiserver/spc-watcher/"
File: [openebs/maya/tree/master/cmd/maya-apiserver/spc-watcher](https://github.com/openebs/maya/tree/master/cmd/maya-apiserver/spc-watcher)

Fix the followinng govet issues:
[code]

As requested by @princerachit in openebs/maya#680

[2018-10-15 04:43] utkarshmani1997 commented on #2167
@kmjayadeep this is very quick. Really appreciate it.

[2018-10-15 05:16] utkarshmani1997 commented on #2169
Thanks @codegagan for picking up this issue. You can go ahead and let us know for any help.
We create the issues here to organise and manage the whole control and data plane from one place.

[2018-10-15 05:29] kmjayadeep commented on #2167
Working on refactoring controller_client.Register

[2018-10-15 06:18] ashishranjan738 commented on #2106
cool go ahead @arunvelsriram . Let me know if you need any help.

[2018-10-15 06:18] ashishranjan738 commented on #2088
go ahead @galihmelon . Let me know if you need any help.

[2018-10-15 15:14] Tushcr7 commented on #2151
I have made the changes and made a pull request #679. Please check. I didn't add any description to each comment in the code because I wasn't too sure myself, hence avoided any confusion over it.

[2018-10-15 16:12] vishnuitta opened #2175 "Secure the communication between istgt and zrepl in cStor"
Currently, cStor target (istgt) and cStor volume replica (zrepl) communicates by making a TCP connection, and read/writes data over this connection in plain text by following a protocol format.

This issue is to enable cStor target (istgt) to have secure communication between zrepl and itself.

[2018-10-15 19:48] damsehgal commented on #2092
I am unable to fix the sign-off should I create another pull request?

[2018-10-16 03:46] ABHIYANSHU commented on #2160
Completed #703

[2018-10-16 03:53] ABHIYANSHU commented on #2145
Fixed linting issue at #704

[2018-10-16 07:32] cpanato commented on #1582
@ashishranjan738 i will drop this one, no time :(

[2018-10-16 08:48] egurnov commented on #2160
I think you meant `openebs/maya#703` : openebs/maya#703

[2018-10-16 15:36] prateekpandey14 commented on #1988
Closing this as state of the volume comes from the kubectl , which can not be extracted using mayactl.

[2018-10-16 18:12] muratkars commented on #1393
Closing this since it is addressed in [#50](https://github.com/IBM/charts/pull/50) under IBM Charts repo and merged. IBM Community Chart [here](https://github.com/IBM/charts/tree/master/community/openebs)

[2018-10-16 18:12] #1393 closed

[2018-10-16 18:19] muratkars opened #2178 "Update OpenEBS charts under Rancher Catalog to 0.7"
OpenEBS is part of the [Rancher Catalog](https://github.com/rancher/charts) where a currated collection of Rancher 2.0 enhanced Helm charts are stored.
Different from the Helm/Stable charts, a Rancher chart has two additional files an app-readme.md file that provides a high-level overview display in the Rancher 2.0 UI and a questions.yml file defining questions to prompt the user with.

Current ch

[2018-10-16 19:12] farhaanbukhsh commented on #2175
@vishnuitta can you define secure connection? Do you want to encrypt the messages?

[2018-10-16 19:16] farhaanbukhsh commented on #2165
Hey @ashishranjan738 I would like to take this up, can you guide me how do I take it further?

[2018-10-16 20:40] mhutter commented on #2085
Actually `golint ./cmd/... ./pkg/...` lists 168 problems, is there a reason this issue targets this file specifically?

[2018-10-16 20:52] galihmelon commented on #2098
I'd like to look into this

[2018-10-17 05:01] abilash13 commented on #2090
I would like to grab this.

[2018-10-17 05:03] kmova commented on #1045
The change will be required in the provisioner code when creating the PV object at https://github.com/openebs/external-storage/blob/release/openebs/pkg/provisioner/cas_provision.go#L139

[2018-10-17 05:49] ashishranjan738 commented on #2165
go ahead @farhaanbukhsh. Let me know if you need any help.

[2018-10-17 05:50] ashishranjan738 commented on #2098
Thanxx @galihmelon for raising the PR.

[2018-10-17 05:51] ashishranjan738 commented on #2090
Thanxx @abilash13 for raising the PR.

[2018-10-17 05:52] ashishranjan738 commented on #2085
These are easy first PR ones.

[2018-10-17 07:19] farhaanbukhsh commented on #2165
what is meant by chaos testing?

[2018-10-17 08:40] #1987 closed

[2018-10-17 08:53] ABHIYANSHU commented on #2152
Fixing linting issues. #716

[2018-10-17 10:40] vishnuitta commented on #2175
Yes, we want to encrypt and decrypt the messages and the key management.

[2018-10-17 10:45] ABHIYANSHU commented on #2158
Fixed linting issues on package. #717

[2018-10-17 10:48] ABHIYANSHU commented on #2132
Is this issue complete ?

[2018-10-17 11:06] ABHIYANSHU commented on #2132
Fixing linting issues. #718

[2018-10-17 12:36] bharath-acchu commented on #2132
I'm quiting this

[2018-10-17 12:44] vijayscsa commented on #1045
Tested

[2018-10-17 18:53] #2091 closed

[2018-10-17 18:53] #2093 closed

[2018-10-17 18:53] #2142 closed

[2018-10-17 18:53] #2086 closed

[2018-10-17 18:53] #2126 closed

[2018-10-17 18:55] #2100 closed

[2018-10-17 19:01] #2106 closed

[2018-10-17 19:34] #2112 closed

[2018-10-17 21:39] egurnov commented on #2158
@ABHIYANSHU Please pay attention to the links you post, your posts are misleading and create confusion between repositories. You may notice, that issues and actual development (and thus PRs) are located in different repos. This requires you to use cross-repository links. They need to include organization name, repo name and issue number in that repo.

You last post should have been `openebs/maya#7

[2018-10-18 05:11] ayan-b commented on #2136
I would like to work on this issue if this is still available.

[2018-10-18 06:29] ashishranjan738 commented on #2136
go ahead @ayan-b . Let me know if you need any help.

[2018-10-18 06:51] #2125 closed

[2018-10-18 06:53] #2120 closed

[2018-10-18 08:06] ayan-b commented on #2136
Please review: https://github.com/openebs/maya/pull/720 .

[2018-10-18 12:44] #2136 closed

[2018-10-18 15:54] kmova commented on #1045
Fixed in 0.7.1 via https://github.com/openebs/external-storage/pull/78

[2018-10-18 17:48] vishnuitta opened #2181 "Design for less-performance impact deduplication in ZFS"
De-deduplication provides storage savings, more than compression, in certain workloads/scenarios. At the same time, enabling de-duplication will have performance impact in ZFS.

ZFS does inline deduplication. It also stores the deduplication table as ZAP objects on the disk. Walking through on-disk multi-level hash table will be very time consuming.

This issue is created to have, a design for les

[2018-10-18 18:04] pandyamarut commented on #2172
please assign.

[2018-10-18 20:28] richardelling commented on #2181
The historical reasons for slow ZFS dedup performance are:

- sha256 checksums instead of the less-CPU-intensive fletcher4
- HDD pools have poor IOPS

In the current 0.8-rc ZoL the response time of HDD problem is largely solved by special metadata classes. Also, faster checksum algorithms are available.

However, those will not reduce the problem of the number of objects possible in PB-sized pools

[2018-10-19 01:02] PululuK commented on #32
These are the steps to remove existing vagrant installation:

1. sudo apt-get remove --auto-remove vagrant
2. rm -r ~/.vagrant.d

These are the steps to install vagrant X.X.X:

1.Download your version here : https://releases.hashicorp.com/vagrant/
or `wget https://releases.hashicorp.com/vagrant/X.X.X/vagrant_X.X.X_x86_64.deb`
2. sudo dpkg -i vagrant_X.X.X_x86_64.deb
3. vagrant version

Ref Link :

[2018-10-19 07:08] egurnov commented on #2172
I don't have permissions, could someone please assign this issue to me?

[2018-10-19 07:29] AmitKumarDas commented on #2172
@pandyamarut I have assigned to @egurnov mostly because @egurnov was not able to assign it while raising the issue.

[2018-10-19 07:30] egurnov commented on #2105
taking

[2018-10-19 07:40] egurnov commented on #2104
taking

[2018-10-19 08:16] egurnov commented on #2172
@AmitKumarDas This issue is already fixed and merged. I created it as requested by @princerachit to document changes introduced by openebs/maya#680 which were not covered by openebs/openebs#2158.

This issue can be closed now.

[2018-10-19 09:14] kn-neelalohitha commented on #2096
@ashishranjan738 @vishnuitta  I need some help  regarding these lines `1855 to 2206` [here](https://github.com/openebs/istgt/blob/62d20a1ae272b4604359d47af06c1ff701f65033/src/istgt_lu.c#L1372-L2285).Is it just updating and validating Logical Unit Numbers `(lu->lun)`details or doing something else enitirely different?
Thank you in advance!

[2018-10-19 10:31] #2172 closed

[2018-10-19 11:22] vishnuitta opened #2182 "sync zfs repo to zfs-0.7.11 of upstream"
Currently, openebs zfs repo is on 0.7.9 of upstream.
This issue is to keep openebs zfs repo in sync with latest 0.7.x of upstream.

[2018-10-19 14:01] kn-neelalohitha commented on #2096
@vishnuitta @payes Submitted PR:[#149](https://github.com/openebs/istgt/pull/149).
Please review and give feedback.

[2018-10-19 15:50] tardich opened #2183 "Extend filters for cStor dynamic pool provisioning"
FEATURE REQUEST

cStor dynamic provisioning should be more flexible on filters for disk selection, as we may have many drives on an environment dedicated to different tasks. Such filters should include:

- Disk size
- device selection regex (like sd[e-n])
- disk labelling

that kind of thing, so subsequent disk addition would make cStor to assign the disk to the right pool

[2018-10-19 16:15] vishnuitta commented on #2181
Thanks @richardelling for sharing your thoughts.
Link you shared makes totally sense. Thanks.

[2018-10-19 18:08] satyamz commented on #2092
#707 fixed this!

[2018-10-19 18:08] #2092 closed

[2018-10-19 18:09] satyamz commented on #2092
https://github.com/openebs/maya/pull/707 Fixes this!

[2018-10-20 06:07] bharathpgp commented on #2182
Want to work on this

[2018-10-20 06:14] ulshell commented on #2182
I want to work on it

[2018-10-20 06:31] rsiva911 commented on #2052
Hi can I take this up if it is still open?

[2018-10-20 06:43] payes commented on #2182
@bharathpgp .. please go ahead.

[2018-10-20 06:45] rsiva911 commented on #2164
Can I take this up if this is open?

[2018-10-20 06:46] princerachit opened #2184 "Add integration test to Test to check if the volume creation fails when the requested replicas are more than available pools."
*NOTE: BEFORE YOU PROCEED WITH THIS ISSUE PLEASE MAKE SURE THE CITF ISSUES ARE FIXED. The following issues are needed to be fixed: https://github.com/openebs/CITF/issues/38 , https://github.com/openebs/CITF/issues/37 , https://github.com/openebs/CITF/issues/36 , https://github.com/openebs/CITF/issues/35 , https://github.com/openebs/CITF/issues/34*

**Please comment if you want to work on this issu

[2018-10-20 06:50] princerachit opened #2185 "Write Integration test to check if volume is writeable when all the replica pools are restarted."
*NOTE: BEFORE YOU PROCEED WITH THIS ISSUE PLEASE MAKE SURE THE CITF ISSUES ARE FIXED. The following issues are needed to be fixed: https://github.com/openebs/CITF/issues/38 , https://github.com/openebs/CITF/issues/37 , https://github.com/openebs/CITF/issues/36 , https://github.com/openebs/CITF/issues/35 , https://github.com/openebs/CITF/issues/34*

**Please comment if you want to work on this issu

[2018-10-20 06:50] rsiva911 commented on #2118
Hi, can I take this up?

[2018-10-20 06:55] jayrajput commented on #2128
I would like to work on it..Working as part of the hacktoberfest - Oct 20.

[2018-10-20 06:56] sonapraneeth-a commented on #2103
Can I take up this issue? Also, it would be great if you could tell what this "NewJivaK8sPolicies" does
so that I can add the appropriate comment

[2018-10-20 06:58] princerachit opened #2186 "Write Integration test to check if the volume is writeable when the target pod is restarted."
*NOTE: BEFORE YOU PROCEED WITH THIS ISSUE PLEASE MAKE SURE THE CITF ISSUES ARE FIXED. The following issues are needed to be fixed: https://github.com/openebs/CITF/issues/38 , https://github.com/openebs/CITF/issues/37 , https://github.com/openebs/CITF/issues/36 , https://github.com/openebs/CITF/issues/35 , https://github.com/openebs/CITF/issues/34*

**Please comment if you want to work on this issu

[2018-10-20 07:07] ashishranjan738 commented on #1991
Thanks for the PR @AdityaMisra

[2018-10-20 07:13] sonasingh46 opened #2187 "Write integration test for cstor pool for sparse-mirrored-auto(dynamic) spc with maxpool count 3"
The SPC configuration is following for the test case:( Application of this spc is to be tested)
https://github.com/openebs/maya/blob/master/hack/cstor-pool-test/mirrored-sparse_spc_test_cases/case1/sparse-claim-auto.yaml

Following is the existing IT cases:
https://github.com/openebs/maya/blob/master/integration-tests/cstor-pool/cstor_integration_test.go
Following is the bash script where test cas

[2018-10-20 07:19] mukeshmk commented on #2184
I would like to work on this.

[2018-10-20 07:26] rockydcoder opened #2188 "Fix golint issues in maya/types/v1/meta.go"
File: [maya/blob/master/types/v1/meta.go](https://github.com/openebs/maya/blob/master/types/v1/meta.go)

`Line 222: warning: exported type Labels should have comment or be unexported (golint)`
`Line 278: warning: exported const LabelSelectorOpNotIn should have comment (or a comment on this block) or be unexported (golint)`

[2018-10-20 07:28] sonasingh46 opened #2189 "Write integration test for cstor pool for sparse-mirrored-auto(dynamic) spc with maxpool count 1"
The SPC configuration is following for the test case:( Application of this spc is to be tested)
https://github.com/openebs/maya/blob/master/hack/cstor-pool-test/mirrored-sparse_spc_test_cases/case3/sparse-claim-auto.yaml

Following is the existing IT cases:
https://github.com/openebs/maya/blob/master/integration-tests/cstor-pool/cstor_integration_test.go
Following is the bash script where test cas

[2018-10-20 07:35] sonasingh46 opened #2190 "Write integration test for cstor pool for sparse-mirrored-auto(dynamic) spc with maxpool count 0"
The SPC configuration is following for the test case:( Application of this spc is to be tested)
https://github.com/openebs/maya/blob/master/hack/cstor-pool-test/mirrored-sparse_spc_test_cases/case2/sparse-claim-auto.yaml

Following is the existing IT cases:
https://github.com/openebs/maya/blob/master/integration-tests/cstor-pool/cstor_integration_test.go
Following is the bash script where test cas

[2018-10-20 07:37] MuthukumarHelios commented on #2186
I would like to work on this Issue

[2018-10-20 07:37] a4abhishek opened #2191 "Write integration test for cstor pool for sparse-mirrored-auto(dynamic) spc with maxpool count 5"
The SPC configuration is following for the test case:( Application of this spc is to be tested)
https://github.com/openebs/maya/blob/master/hack/cstor-pool-test/mirrored-sparse_spc_test_cases/case4/sparse-claim-auto.yaml

Following is the existing IT cases:
https://github.com/openebs/maya/blob/master/integration-tests/cstor-pool/cstor_integration_test.go
Following is the bash script where test cas

[2018-10-20 07:38] surajkumarr12 commented on #2163
I like to work on this.

[2018-10-20 07:39] aswathkk commented on #2190
I would like to work on this.

[2018-10-20 07:42] sonasingh46 commented on #2190
Sure!

[2018-10-20 07:43] rsiva911 commented on #2056
Hi can I take this up if it's still open?

[2018-10-20 07:45] Akash4927 commented on #2186
Ok! Go ahead thanks @MuthukumarHelios

[2018-10-20 07:49] sonasingh46 commented on #2184
Sure, go ahead.

[2018-10-20 07:49] Akash4927 opened #2192 "Add comment in the function and fix linting issue"
## FEATURE REQUEST?

**What you expected to happen**:

Add comments in the file and fix linting issue

Reference:- https://github.com/openebs/openebs/blob/master/e2e/ansible/files/bootstrapper.py

**Anything else we need to know?**:

[2018-10-20 07:50] sonasingh46 commented on #2128
Sure!

[2018-10-20 07:50] AdityaMisra commented on #2192
I'll work on this.

[2018-10-20 07:53] sonasingh46 commented on #2118
Sure. Go ahead!

[2018-10-20 07:54] rsiva911 commented on #2035
Hi, I would like to work on this if it is still open.

[2018-10-20 07:55] qiell opened #2193 "Add proper comment and fix linting issue"
## FEATURE REQUEST?

**What happened**:

-  Add comments and fix linting issue

https://github.com/openebs/openebs/blob/master/e2e/ansible/files/updater.py

**Anything else we need to know?**:

[2018-10-20 07:56] utkarshmani1997 opened #2194 "Refactor infoSnapshot(c *cli.Context)"
I've selected [**infoSnapshot(c *cli.Context)**](https://github.com/openebs/jiva/blob/a3c24b8889f9ddd8b75fa1b3665e36b124d38d58/app/snapshot.go#L195-L280) for refactoring, which is a unit of **76** lines of code and **16** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Simple Units of Code** guideline rating

[2018-10-20 07:58] m-nikhil commented on #2169
@codegagan, hey are you working on this? if not, can I proceed with this issue.

[2018-10-20 07:58] nivedithapatil commented on #2193
i would like to work on it .

[2018-10-20 08:08] geekysrm commented on #2052
Yes, @rsiva911 , you can try.

[2018-10-20 08:09] utkarshmani1997 opened #2195 "Refactor Controller.Start(addresses...string)"
I've selected [**Controller.Start(addresses...string)**](https://github.com/openebs/jiva/blob/a3c24b8889f9ddd8b75fa1b3665e36b124d38d58/controller/control.go#L713-L795) for refactoring, which is a unit of **74** lines of code and **17** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Simple Units of Code** gu

[2018-10-20 08:12] utkarshmani1997 opened #2196 "Refactor NewReplica(context *api.ApiContext, state replica.State, info replica.Info, rep *replica.Replica)"
I've selected [**NewReplica(context *api.ApiContext, state replica.State, info replica.Info, rep *replica.Replica)**](https://github.com/openebs/jiva/blob/a3c24b8889f9ddd8b75fa1b3665e36b124d38d58/replica/rest/model.go#L117-L206) for refactoring, which is a unit of **84** lines of code and **8** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](ht

[2018-10-20 08:22] rockydcoder opened #2197 "Fix golint issues in maya/cmd/cstor-pool-mgmt/pool/pool.go"
File: [maya/cmd/cstor-pool-mgmt/pool/pool.go](https://github.com/openebs/maya/blob/master/cmd/cstor-pool-mgmt/pool/pool.go)

`Line 38: warning: exported type PoolNamePrefix should have comment or be unexported (golint)`
`Line 41: warning: exported const PoolPrefix should have comment (or a comment on this block) or be unexported (golint)`
`Line 44: warning: exported var RunnerVar should have comme

[2018-10-20 08:28] prateekpandey14 commented on #2021
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:29] prateekpandey14 commented on #2028
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:29] prateekpandey14 commented on #2017
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:30] prateekpandey14 commented on #2018
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:31] prateekpandey14 commented on #2020
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:31] prateekpandey14 commented on #2016
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:32] prateekpandey14 commented on #2015
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:34] #2013 closed

[2018-10-20 08:35] prateekpandey14 commented on #2014
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:36] layog commented on #2191
I'll take this one

[2018-10-20 08:37] geekyd commented on #2194
I'll give this a GO :shipit:  :)

[2018-10-20 08:39] aswathkk commented on #2187
I'm working on this !

[2018-10-20 08:41] disc opened #2198 "Simplify condition in maya/types/v1/math.go"
## Code-style improvement

This condition could be rewritten in the simplest way using increment and decrement
`maya/types/v1/math.go:195-201`
[code]

[2018-10-20 08:41] disc commented on #2198
I will take it for fix

[2018-10-20 08:42] prateekpandey14 commented on #1996
As there is not activity related to this issue , making it `UpForGrabs` for other contributors

[2018-10-20 08:44] #2016 closed

[2018-10-20 08:45] #1996 closed

[2018-10-20 08:46] SiddhantD commented on #2029
I think I merged that changed in some other pr by mistake, will send a commit once again @prateekpandey14

[2018-10-20 08:46] bharathpgp commented on #2016
Already done and merged see [PR](https://github.com/openebs/istgt/pull/100)

[2018-10-20 08:52] prateekpandey14 commented on #2016
Cool. thanks please make sure to add the reference issue no with PR

[2018-10-20 08:54] md-yaseen commented on #2017
Hey I am still working on this issue.

[2018-10-20 09:10] rockydcoder opened #2199 "Fix golint issues in maya/pkg/task/identity.go"
File: [maya/pkg/task/identity.go](https://github.com/openebs/maya/blob/master/pkg/task/identity.go)

Issue:
`Line 29: warning: exported const CommandKind should have comment (or a comment on this block) or be unexported (golint)`

[2018-10-20 09:10] rockydcoder commented on #2199
I am working on this

[2018-10-20 09:14] aswathkk commented on #2189
I'm working on this.

[2018-10-20 09:19] sonapraneeth-a commented on #2103
Fixed the issue in PR [#740](https://github.com/openebs/maya/pull/740)

[2018-10-20 09:31] ulshell commented on #2182
Where I will be getting this repo zfs

[2018-10-20 09:35] rockydcoder opened #2200 "Fix golint issues in maya/pkg/apis/openebs.io/v1alpha1/cstor_volume_replica.go"
File: [maya/pkg/apis/openebs.io/v1alpha1/cstor_volume_replica.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/cstor_volume_replica.go)

Issue:
`Line 23: warning: exported type CVRKey should have comment or be unexported (golint)`

[2018-10-20 09:36] rockydcoder commented on #2200
I am working on this

[2018-10-20 09:43] md-yaseen commented on #2017
Created PR #153. Please review.

[2018-10-20 09:47] rockydcoder opened #2201 "Fix golint issues in maya/pkg/snapshot/v1alpha1/snapshot_template_engine.go"
File: [maya/pkg/snapshot/v1alpha1/snapshot_template_engine.go](https://github.com/openebs/maya/blob/master/pkg/snapshot/v1alpha1/snapshot_template_engine.go)

Issue:
`Line 17: warning: package comment should be of the form "Package snapshot ..." (golint)`

[2018-10-20 09:54] droidcafe commented on #2201
I am working on this

[2018-10-20 09:55] rockydcoder commented on #2201
Sorry, @droidcafe . I have already created a PR on this. You can find it [here](https://github.com/openebs/maya/pull/747)

[2018-10-20 09:58] aswathkk commented on #2201
@rockydcoder Please link your PR with this issue.

[2018-10-20 10:01] rockydcoder commented on #2201
@aswathkk, the PR has been raised on a different repo, how do I link it. I have provided the link in my preceding comment.

[2018-10-20 10:02] codegagan commented on #2169
@m-nikhil I already have the PR for this.

[2018-10-20 10:51] bharathpgp commented on #2182
openebs/zfs

[2018-10-20 11:03] layog opened #2204 "Fix make build fail for darwin"
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

**What happened**: `make` in Maya fails on Mac OS

**What you expected to happen**: `make` ideally should have installed all the requirements

**How to reproduce it (as minimally and precisely as possible)**: Run `make` on Mac

[2018-10-20 12:56] bharathpgp commented on #2016
Sure 👍

[2018-10-20 13:55] flaixman commented on #2194
Currently practicing GO.

I will also try to make it :dancer:

[2018-10-21 03:32] #2200 closed

[2018-10-21 07:45] storymode7 commented on #2031
Hey, if nobody's working on it now, I'd like to take this up.

[2018-10-21 11:42] jayrajput commented on #2128
@payes and @sonasingh46 ...I am giving up on this one. I understand that we want to reduce the branch points and so I did tried to refactor the code into multiple functions. The end result did not looked good to me. The existing code looks better to me. And so the reason to not pursue breaking into multiple functions. The function has some lengthy sprintf which I also tried to break into multiple

[2018-10-21 14:52] Sagar2366 opened #2207 "Hyperlink redirecting to github"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: FEATURE REQUEST

Clicking on here in Note section at https://docs.openebs.io/docs/next/supportedplatforms.html, it is redirecting to github link, please create another html page explaining same thing.

[2018-10-21 14:53] Sagar2366 commented on #2207
Signed-off-by: Sagar Utekar sagarutekar2366@gmail.com

[2018-10-21 15:13] farhaanbukhsh commented on #2207
Can you please elaborate on it?

[2018-10-21 16:53] Sagar2366 commented on #2207
Yes. You can see  [here](https://docs.openebs.io/docs/next/supportedplatforms.html) hyperlink on this page is redirecting to (github [link)](https://github.com/openebs/openebs-docs/blob/v0.5.3/docs/on_premise_solutions.md). Instead we can create another html page explaining all the steps mentioned in that doc which will looks good.

[2018-10-21 16:58] Sagar2366 commented on #2192
Is this issue still open ?

[2018-10-21 17:00] Sagar2366 commented on #2139
Is this issue still open ?

[2018-10-21 17:01] Sagar2366 commented on #2121
Is this issue still open ?

[2018-10-21 17:05] Sagar2366 commented on #2015
Is this issue still open ?

[2018-10-22 09:36] barthr commented on #2194
Already have someone working on this? If not I could pick this up.

[2018-10-23 06:13] #2099 closed

[2018-10-23 06:13] #2104 closed

[2018-10-23 06:13] #2105 closed

[2018-10-23 06:24] princerachit opened #2208 "Add design to extract cas config using dedicated methods"
This is not a code task. This is a design task. Once the design is accepted the same has to be implemented. The below description lacks complete design, some thought is required to come up with a solution.

A single CASConfig, a list of CASConfig should be treated as first-class citizens.
e.g.
pkg/casconfig/v1alpha1/casconfig.go
can have below
[code]
Each above function
I assume all of the below a

[2018-10-23 06:33] #1045 closed

[2018-10-23 12:32] cartinez commented on #2085
I'd like to work on this.

[2018-10-23 20:10] berry120 commented on #2018
@prateekpandey14 @ashishranjan738 I'll work on this one.

[2018-10-24 05:12] #2160 closed

[2018-10-24 05:12] #2145 closed

[2018-10-24 05:12] #2153 closed

[2018-10-24 05:44] #2103 closed

[2018-10-24 06:36] #1585 closed

[2018-10-25 04:58] kmova commented on #1450
Related Issue:
- https://github.com/rancher/docs/issues/796
- https://github.com/rancher/rancher/issues/15118

[2018-10-25 12:48] utkarshmani1997 opened #2214 "Fix typo in json tag"
I have picked a structure which has typo and used at several places in all the three projects:
- [maya](https://github.com/openebs/maya/blob/master/types/v1/metrics.go#L41)
- [jiva](https://github.com/openebs/jiva/blob/master/controller/rest/model.go#L72)
- [exporter](https://github.com/openebs/maya/blob/master/cmd/maya-exporter/app/collector/cstorcollector_test.go#L22)

So fix the typo and also r

[2018-10-25 15:12] luantranminh commented on #2214
Is there any conventions for tag or some special additional tag ?

[2018-10-25 15:17] luantranminh commented on #2214
https://github.com/fatih/gomodifytags
You can use this tool to prevent typo mistakes.

[2018-10-25 20:00] jamesa commented on #1958
Is this still being worked on? If not I'd like to take it.

[2018-10-25 22:07] #2121 closed

[2018-10-26 05:41] feysalikbal commented on #2214
A PR for this fix was also created :)
https://github.com/openebs/istgt/pull/161

[2018-10-26 05:52] HemangiS commented on #2214
@feysalikbal Please try to reference issue in your PR. :)

[2018-10-26 08:36] tkivisik commented on #1953
Hi, should this issue be closed?

[2018-10-26 10:39] #2204 closed

[2018-10-26 15:19] Akash4927 commented on #1958
Sorry @jamesa, PR is already merged for this. Feel free to pick another issue.

[2018-10-26 15:19] #1958 closed

[2018-10-27 03:45] sonapraneeth-a commented on #2193
Is it fixed by any chance Or else I would take it up?

[2018-10-27 03:57] carolkng opened #2221 "Add build instructions for OS X"
## Is this a BUG REPORT or FEATURE REQUEST?

  FEATURE REQUEST

**What happened**:
istgt does not build "out of the box" for OS X for a number of possible reasons:
- `apt-get` command doesn't exist, and the package names (ie. `docker.io` --> `docker`, `libssl-dev` --> `openssl`) are slightly different
- `autoconf` might not be installed, causing `autogen.sh` to error out
- `mkdep` is also not inst

[2018-10-27 03:57] carolkng opened #2499 "Add build instructions for OS X"
## Is this a BUG REPORT or FEATURE REQUEST?

  FEATURE REQUEST

**What happened**:
istgt does not build "out of the box" for OS X for a number of possible reasons:
- `apt-get` command doesn't exist, and the package names (ie. `docker.io` --> `docker`, `libssl-dev` --> `openssl`) are slightly different
- `autoconf` might not be installed, causing `autogen.sh` to error out
- `mkdep` is also not inst

[2018-10-27 05:11] nivedithapatil commented on #2193
No we are not working on it , you can go on with it

[2018-10-27 08:14] #2190 closed

[2018-10-27 08:16] #2187 closed

[2018-10-27 08:38] geekyd opened #2225 "Add integration tests for striped sparse case 6"
The SPC configuration is following for the test case:( Application of this spc is to be tested)
https://github.com/openebs/maya/blob/master/hack/cstor-pool-test/mirrored-sparse_spc_test_cases/case6/sparse-claim-auto.yaml

Following is the existing IT cases:
https://github.com/openebs/maya/blob/master/integration-tests/cstor-pool/cstor_integration_test.go
Following is the bash script where test cas

[2018-10-27 08:38] geekyd commented on #2225
Working on this :)

[2018-10-27 09:00] geekyd commented on #1985
I'm working on this :)

[2018-10-27 09:17] geekyd commented on #1985
PR https://github.com/openebs/maya/pull/765 :)

[2018-10-27 09:53] #2051 closed

[2018-10-27 13:49] RajatVaryani commented on #2195
I can work on it.

[2018-10-27 15:58] #2207 closed

[2018-10-28 02:48] aswathkk commented on #2185
I would like to work on this issue.

[2018-10-28 06:31] cfreksen commented on #2164
There did not seem to be any recent activity on this issue so I went ahead and tried to solve it in #2231

[2018-10-28 16:50] saravanakumarrajendran opened #2234 "Unable to mount volumes for pod "nginx-flex-smb_default(0f5a661e-da24-11e8-95ec-42010a8e0 008)": timeout expired waiting for volumes to attach or mount for pod "default"/"nginx-flex-smb". list of unmounted volumes=[flexvol-mount]. list of unattached volu mes=[flexvol-mount default-token-ktz22]"
we are using the Windows SMB as a PV backend and kubernetes is running on linux, which is working if i mount the smb on linux machine and take that as a local mount point pv but not working if create pv directly using smb share.

getting below error

Events:
  Type     Reason       Age                    From                        Message
  ----     ------       ----                   ----

[2018-10-28 18:31] sarnava1 commented on #1953
@Akash4927 I want to work on this. Please assign this issue to me.

[2018-10-28 18:43] sarnava1 commented on #1953
@Akash4927 I want to work on this. Please assign this issue to me.

[2018-10-28 22:03] loxy commented on #1450
It's more or less related to ranger itself:
https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/volumes-and-storage/#iscsi-volumes-with-rancher-launched-kubernetes-clusters

So closing now...

[2018-10-28 22:03] #1450 closed

[2018-10-29 14:07] kmjayadeep commented on #2184
@mukeshmk Are you still working on this?

[2018-10-30 12:18] #1953 closed

[2018-10-30 13:17] mhutter commented on #671
This issue was resolved #714 #714

[2018-10-30 19:13] rhugga opened #2242 "Pods timing out mounting volumes."
##

 BUG REPORT

**What happened**:
Pods unable to mount volumes.

**What you expected to happen**:
Pods to mount volumes.

**How to reproduce it (as minimally and precisely as possible)**:
Have a pod try and mount a volume.

**Anything else we need to know?**:
[code]

**Environment**:
[code]

[code]

[code]

[code]

[code]

[code]

- OS (e.g. from /etc/os-release):
[code]

- Kernel:
[code]

[2018-10-30 19:48] gbates101 opened #2243 "rancher kubelet iscsiadm fails to mount volumes to pods"
## Is this a BUG REPORT or FEATURE REQUEST? Bug Report

**What happened**:
I've installed OpenEBS into my cluster (three nodes total, all running centos), and created a PVC for jenkins. Originally the mount would fail due to timeout, which is when I discovered these instructions:
https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/volumes-and-storage/#iscsi-volumes-with-rancher-launched-kubern

[2018-10-31 01:39] PeterGrace commented on #1276
I am having this issue occurring consistently in my deployments.  It seems to happen when the storage fails to honor an eviction request during a `kubectl drain` scenario.  The problem is that whatever is provisioning the disk is using a newer version of ext4 that is not supported by CentOS 7.

I tried jumping into the replica pod to scan the filesystem on /openebs/volume-head-000.img, but the fsc

[2018-10-31 05:31] #2191 closed

[2018-10-31 05:40] #2198 closed

[2018-10-31 06:17] valerianpereira commented on #2214
Close this issue. This is done already

[2018-10-31 06:59] #1966 closed

[2018-10-31 07:00] #2192 closed

[2018-10-31 07:20] #671 closed

[2018-10-31 07:32] #2169 closed

[2018-10-31 08:59] #2161 closed

[2018-10-31 10:40] #2164 closed

[2018-10-31 10:43] #2042 closed

[2018-10-31 10:57] geekyd opened #2250 "Add more integration tests for case 10 sparse-mirrored-auto-spc"
The SPC configuration is following for the test case:( Application of this spc is to be tested)
https://github.com/openebs/maya/blob/master/hack/cstor-pool-test/mirrored-sparse_spc_test_cases/

Following is the existing IT cases:
https://github.com/openebs/maya/blob/master/integration-tests/cstor-pool/cstor_integration_test.go
Following is the bash script where test case has already been written:

[2018-10-31 10:58] geekyd commented on #2250
Working on this

[2018-10-31 12:00] #2027 closed

[2018-10-31 13:58] #2053 closed

[2018-10-31 14:34] #2017 closed

[2018-11-01 02:24] #1550 closed, assigned to nobody

[2018-11-01 02:40] kmova commented on #1886
Merged into 0.7.1 branch.

[2018-11-01 02:40] #1886 closed

[2018-11-02 14:59] kmova commented on #288
The flow for making the release 0.7.x is as follows:

Generate RC release tag (example : v0.2.0-RC1)  on openebs/node-disk-manager
- Update the openebs-operator.yaml in openebs/openebs repo with the new ndm tag

Generate RC release tag (example: 0.7.1-RC1) on the following repo ( either from stable branch (0.7.x) or from master):
 - Release tag - openebs/zfs
 - Release tag - openebs/istgt
 - Relea

[2018-11-02 15:32] jamesgeorge007 opened #2254 "Duplicate license badges"
As per now there are two license badges present within the ```README``` file.

[2018-11-02 15:33] jamesgeorge007 commented on #2254
#2253 Is a fix for this :+1:

[2018-11-02 15:42] #2254 closed

[2018-11-04 09:42] #2035 closed

[2018-11-04 10:13] #2008 closed

[2018-11-05 10:39] vharsh opened #2257 "Collection of anonymized usage data to understand OpenEBS usage"
## Description:
- Collection of non user-identifying data to help OpenEBS core-developers understand cloud native storage usage patterns.
- OpenEBS version, k8s version, node arch, could be helpful in finding issues and building better feedback loops.
- This should be a voluntary feature for users.
- The data should be sent over a secure connection.

## Possible Solution
- Google Analytics should

[2018-11-06 14:41] jacquelotjeff opened #2258 "Update the storagePoolClaim to add/remove disks"
## Description

Currently we can create a custom storagePoolClaim (https://docs.openebs.io/docs/next/deploycstor.html) to use custom disks for a pool. In production environment, a disk can be down (so have to be removed) or we need to add new disks to our pool.

## Context

I add the storage pool (3 disks) with : `kubectl apply -f openebs-config.yaml`

If I run `kubectl get sp` I have my 3 disks :

[2018-11-08 13:00] damlub commented on #1276
I am facing the same problems. The Pod event states to run fsck manually, but the elasticsearch Pod does not start at all, and I see no other way than entering a running container to run a fsck on that device. Whenever I define a new deployment (e.g., plain busybox) and the PV to be used, it has to be mounted, but the mount fails because of the faulty FS.

[2018-11-08 13:44] Timer opened #2260 "Reboots caused orphaned(?) or broken(?) cstor sparse pool"
## Description

After scheduled host upgrades, a cstor-sparse-pool didn't successfully recover. It appears to be looking for an old secret/be bound to an old service account, while all other pools are now looking at the new secret/new service account.

## Expected Behavior

Host reboots should not break a cstor-sparse-pool.

## Current Behavior

![image](https://user-images.githubusercontent.com/6

[2018-11-08 13:54] Timer commented on #2260
Recreating the replica set of the identical deployment fixed this. Not sure if this should be classified a Kubernetes bug or a race condition in OpenEBS.

[2018-11-08 14:07] kmova commented on #2260
Thank you @Timer! Great find and details in this issue! The sparse-pool is created with a node selector, which could be one of the reasons for it to no re-apply with new secret.

[2018-11-09 05:55] #2250 closed

[2018-11-09 08:01] dargasudarshan opened #2262 "liveness check for cstor-pool with respect to serving IOs"
## Description

- Application deployed on cstor(disk) went to Read-Only mode on performing a simulated node eviction(disk-pressure) post volume rebuild.

## Expected Behavior

- Volume should not go to Read-Only state when 2 pools are available.

## Current Behavior

- Volume went to read-only state.
## Possible Solution

## Steps to Reproduce

Steps Performed:
1. On a 3 node GKE cluster, deployed

[2018-11-09 10:50] vishnuitta commented on #2262
Pool in which disk has been removed hadn't got recovered. It is stuck on some zios to get executed. One way to recover from this is - to restart the pool after disk is attached.

[2018-11-09 14:47] kmova commented on #1276
@damlub - which OS are you using?

@PeterGrace - The FSType was being ignored in 0.7.0. Fixed it in 0.7.1, the FSType needs to be mentioned under cas.openebs.io/config as shown below:
[code]

[2018-11-09 15:14] damlub commented on #1276
@kmova My systems are CentOS 7.5

So far I figured out that the containers of openEBS use a newer version of ext4 - especially the e2fsck - than CentOS. Not sure if this is related.
If it would help, I can go with Ubuntu 16.04 or 18.04, too.

[2018-11-09 15:44] kmova commented on #1276
Thanks @damlub - Could you try with Ubuntu 16.04, while we check on the CentOS 7.5?

[2018-11-10 09:16] ahmedohadi commented on #71
Any new solutions for this issue in the end of 2018?

[2018-11-10 09:16] ahmedohadi commented on #71
I'm using vagrant on EC2 and getting same error above!

[2018-11-10 19:01] JannikZed commented on #2243
For me it seems like just one volume per node seems to work - the moment a second pod wants to bind-mount a persistent volume on this host gets a `failed to get any path for iscsi disk, last err seen: Could not attach disk: Timeout after 10s`- anybody facing the same issue?

[2018-11-12 06:06] dargasudarshan opened #2264 "Application went to RO state on performing node shutdown where cstor target pod is running."
## Description

Application went to RO state on performing node shutdown where cstor target pod is running.

## Expected Behavior

Application should not go to RO state during node-failure

## Current Behavior
Application went to RO state on performing node shutdown

## Possible Solution

## Steps to Reproduce

1. Deployed percona application with sql loadgen and liveness running.
2. Once the appl

[2018-11-12 06:31] sachinmukherjee commented on #2137
@ashishranjan738 anyone working on this issue?

[2018-11-12 06:32] sachinmukherjee commented on #2116
@ashishranjan738 anyone working on this issue?

[2018-11-12 10:04] dargasudarshan opened #2265 "(cstor) Rescheduled application pod stuck in 'ContainerCreating' state, when node kubelet service is stopped."
## Description

Application pod stuck in 'ContainerCreating' state, when node kubelet service is stopped.

## Expected Behavior

- When the kubelet service is stopped on the node where application pod is running, the application pod should be re-scheduled on other node and should start running.

## Current Behavior

- Application pod stuck in 'ContainerCreating' state, when node kubelet service is

[2018-11-12 11:32] mittachaitu opened #2266 "Application(cStor sparse) rescheduled due to memory constraint remains in container creating state"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT
Choose one: BUG REPORT or FEATURE REQUEST
[memleak_logs.txt](https://github.com/openebs/openebs/files/2571702/memleak_logs.txt)

## Description

Application pod remains in container creating state forever.
## Expected Behavior

Application should deploy successfully.
## Current Behavior

Application remains in container creating state forever.

[2018-11-13 07:20] dargasudarshan opened #2269 "cstor-pool-mgmt crashed when other node is evicted due to memory pressure"
## Description

- cstor-pool-mgmt crashed when other node is evicted due to memory pressure

## Expected Behavior

- cstor-pool-mgmt container should not crash when other node is evicted.

## Current Behavior

- cstor-pool-mgmt crashed when other node is evicted due to memory pressure

## Possible Solution

## Steps to Reproduce

## Screenshots

- Deployed Jenkins application on cstor-sparse-pool.

[2018-11-13 07:56] mittachaitu opened #2270 "Application went into RO state on performing a docker daemon crash on Node where cstor target pod is running."
## Description

Application went into RO state on performing a docker daemon crash where the target pod is running.
[code]
## Expected Behavior

Application should remain in RW state during docker crash on the node where the target pod is scheduled.
## Current Behavior

Application went into Read-Only state.
## Steps to Reproduce

- Deploy the Cassandra application and perform write IO's on the ru

[2018-11-13 09:29] dargasudarshan commented on #2269
[crash.log](https://github.com/openebs/openebs/files/2575518/crash.log)

[2018-11-13 10:35] nsathyaseelan opened #2271 "(cStor-sparse) App stuck in containerCreating state on node recovery after multi-node failure (ephemeral disk-based pool registration)"
## Description
Application is seen to remain in containerCreating state due to inconsistencies in the cstor volume target, which was caused as a result of multiple failures on the cluster.

## Expected Behavior
System/Cluster recovers from failures (such as service crashes, node reboots) etc., and application pod can be rescheduled with data written prior to failures still available.

## Steps to

[2018-11-13 10:57] dargasudarshan commented on #2269
[cstor-pool-mgmt-crash.log.log](https://github.com/openebs/openebs/files/2575901/cstor-pool-mgmt-crash.log.log)

[2018-11-13 15:33] mittachaitu commented on #2265
Facing the simmilar issue when the Docker daemon crash on Node where the application pod is scheduled for a long time(30+ min) application pod remains in terminating state.
[code]

* `kubectl get pods -n openebs -o wide`:
[code]
## Environment
[kubelet.txt](https://github.com/openebs/openebs/files/2576894/kubelet.txt)

Cluster: AWS(3 worker nodes and 1 master node)

[2018-11-13 19:03] atulabhi opened #2272 "Support for cStor on LVM formatted disks."
## Description

The mysql statefulset has been deployed with openebs v0.7.0(cstor) on gpd attached to nodes . when the nodes in cluster has been upgraded the pool pod and target pod came in running state but mysql pod struct in init state when checked  csp the status there is online as well but when exec inside the pool pod and run zpool list it showed no pool available .
output of csp
`
{
    "ap

[2018-11-14 06:47] mittachaitu commented on #2266
@vishnuitta logs are attached
[memory_constraint_app_pod.txt](https://github.com/openebs/openebs/files/2579501/memory_constraint_app_pod.txt)
[memory_constraint_app_pod_bak.txt](https://github.com/openebs/openebs/files/2579502/memory_constraint_app_pod_bak.txt)

[2018-11-14 08:40] aaahrens commented on #2243
I am getting this as well

[2018-11-14 10:02] mittachaitu commented on #2270
[docker_daemon_crash_target_bak.txt](https://github.com/openebs/openebs/files/2580169/docker_daemon_crash_target_bak.txt)
[docker_daemon_crash_target.txt](https://github.com/openebs/openebs/files/2580170/docker_daemon_crash_target.txt)

[2018-11-14 11:03] pawanpraka1 commented on #2269
fixed https://github.com/openebs/zfs/pull/150.

[2018-11-14 11:03] #2269 closed

[2018-11-14 13:07] mittachaitu commented on #2270
Below logs are collected by renaming the docker binary and restarting service will result in crashing the docker service.
[docker_daemon_crash_rename_on_target_bak.txt](https://github.com/openebs/openebs/files/2580830/docker_daemon_crash_rename_on_target_bak.txt)
[docker_daemon_crash_rename_on_target.txt](https://github.com/openebs/openebs/files/2580831/docker_daemon_crash_rename_on_target.txt)

[2018-11-15 10:26] mittachaitu opened #2279 "cStor pool pod stuck in pending state upon node failure and recovering the node with different name"
## Description

Node failure on the node where cStor pool pod present without target and application pods and brought up with different name results cStor-pool-pod in pending state.

## Expected Behavior

The cStor-pool pod should be in running state after recovery of the node.
## Current Behavior

cStor-pool pod remains in pending state after node failure and recovering the node with a different

[2018-11-15 13:40] mittachaitu opened #2281 "Rescheduled application pod stuck in 'ContainerCreating state', upon node failure and recovering the node with different name"
## Description

Application pod stuck in 'Container Creating' state when node failure and brought up the node with a different name.

## Expected Behavior

When node failure happens to the node where the application pod is running should be able to reschedule the application pod on other node and should start running.
## Current Behavior

Application pod stuck in 'ContainerCreating' state and cSto

[2018-11-15 14:19] mittachaitu opened #2282 "(cStor sparse) Rescheduled application pod stuck in 'ContainerCreating' state when application pod is deleted"
## Description

Application pod stuck in 'ContainerCreating' state when application pod is deleted while performing write operations on mount point of application.

## Expected Behavior

When the application pod is deleted then application pod should reschedule on any of the nodes which are available.

## Current Behavior

Application pod stuck in 'ContainerCreating' state, when the application po

[2018-11-17 16:37] #2116 closed

[2018-11-19 09:48] dargasudarshan commented on #1896
@kmova Is there any plan for this issue to be fixed?
I am still facing this issue on OpenEBS 0.7.1 on GKE cluster.

[2018-11-19 15:03] iamShantanu101 opened #2284 "Unable to provision pvc on openebs installed on bare-metal kubernetes cluster created with RKE."
## Description
Unable to provision pvc on openebs installed on bare-metal kubernetes cluster created with RKE.

`demo-pvc.yml`

[code]

## Expected Behavior
PVC's should be provisioned without issues.

## Current Behavior
PVC is stuck on provisioning:
[code]

And no PV is provisioned (not even in pending state).

## Steps to Reproduce
1. Install openebs with helm.
2. Create a pvc with storage clas

[2018-11-19 19:05] runningman84 opened #2286 "Minimum amount of nodes"
Is it possible to run openebs on a arm64 master node without any big disks and two amd64 nodes with local disks? The goal would be to withstand a single node outage.

Right know it is quite difficult to understand what the hard requirements are.

[2018-11-20 06:21] kmova commented on #2258
This document provides CLI commands for expanding a cStor pool (type=striped) with additional disks.

An SPC can result in one or more cStor pools depending on the disks provided to SPC spec. A cStor Pool comprises of:
- Storage Pool CR (SP) - used for specifying the Disk CRs used by the pool.
- cStor Storage Pool CR (CSP) - used for specifying the unique disk path used by the pool.
- cStor Storag

[2018-11-20 09:16] JoeyX-u opened #2287 "Error: failed to start container "openebs-ndm": Error response from daemon: OCI runtime create failed"
# helm install stable/openebs --name openebs --namespace openebs
[root@master1 openebs]# kubectl get pods -n openebs
NAME                                        READY   STATUS              RESTARTS   AGE
openebs-apiserver-b6b946f85-v5fnn           1/1     Running             0          10s
openebs-ndm-5pscb                                     0/1     RunContainerError   1          10s
openebs-ndm-

[2018-11-20 10:13] dargasudarshan opened #2288 "(Openebs/CI) Deprovisioning application does not remove the pv."
## Description

- Deprovisioning application does not remove the pv.
This issue is observed on openebs ci pipeline https://gitlab.openebs.ci/openebs/e2e-gke/pipelines/4761.

## Expected Behavior

- Deprovisioning the application should delete its associated pv.

## Current Behavior

- Deprovisioning application does not remove the pv.
## Possible Solution

## Steps to Reproduce

1. Deploy any appl

[2018-11-20 12:19] kmova commented on #2287
@JoeyX-u - are you running on CentOS? Is selinux turned on?

[2018-11-20 18:08] stpabhi commented on #2258
@kmova How will it work with dynamic provisioning? I have added new storage nodes and doesn't have csp for that nodes to patch.

[2018-11-20 19:01] muratkars commented on #2286
Hi @runningman84 - to be able have HA quorum you would need minimum 3 nodes. You can run OpenEBS  with local disks or even on sparse files on the SD card.

[2018-11-20 20:58] runningman84 commented on #2286
But does the quorum needs the same size? For example my two amd64 nodes provide 100gb sad storage do I need the same size in my arm64 raspberry master?

[2018-11-21 01:16] JoeyX-u commented on #2287
Yeah, it’s alright, thank you, I look so stupid.

[2018-11-21 01:16] #2287 closed

[2018-11-21 01:21] JoeyX-u commented on #2287
You are right, thank you, I look so stupid.

[2018-11-21 06:44] runningman84 commented on #2286
Which means all three nodes have to have the same storage space if you want to use all available space. It would be cool if the quorum would not need the same space. I don't think that every use case needs the whole data replicated three times.

[2018-11-21 08:48] dargasudarshan commented on #2288
This issue is not observed in the latest ci pipeline. Hence closing this issue now. Will re-open if we face this issue again.

[2018-11-21 08:48] #2288 closed

[2018-11-21 10:38] sonasingh46 opened #2290 "Add volume rebalance/distribution feature in case of scaling up cstor pool nodes."
For a given SPC, we can increase the pool count by increasing the `maxPools` field on SPC.
After we increase the `maxPool` field and add a capable node that satisfies the constraints to create the pool, pool will be created on the node.

But currently, volume re-balancing is not supported to utilise the added capacity.

The roadmap is to support this feature for CSPC based pools.

More context her

[2018-11-21 13:31] till commented on #1121
Since this took a while to figure out, I can add some notes here.

 We have to do the following on each worker node (via cloud-init):

[code]

This works — and it doesn't matter if Kubelet runs in Ubuntu or not. :)

[2018-11-21 13:32] till commented on #1111
@mhemrg @utkarshmani1997 Did this effort go anywhere? I am interested in this as well.

[2018-11-21 14:55] chtardif commented on #2258
I can confirm it works. That being said, there must be, sooner than later, a simpler way to implement that, ideally by just editing the SPC

[2018-11-21 16:19] kmova commented on #2258
Absolutely @chtardif - Marking this for 0.9.

@stpabhi - For dynamic provisioning, changing the number of maxpools in the SPC spec, will create a new pool on the newly added Storage Node. However, I think to effectively use the storage on this new pool, we will also need to make sure we have the volume replica's balanced on the available pools. ( #2290 )

[2018-11-22 06:52] mittachaitu commented on #2266
* Kernel (from `uname -a`): Linux ip-10-0-1-134 4.4.0-1061-aws #70-Ubuntu SMP Fri May 25 21:47:34 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Application pod remains in the same state(ContainerCreating) with ubuntu host OS.
* `Logs:`
[mem_consumption.txt_bak.txt](https://github.com/openebs/openebs/files/2606837/mem_consumption.txt_bak.txt)
[mem_consumption.txt](https://github.com/openebs/openebs/files

[2018-11-22 09:55] utkarshmani1997 commented on #1111
Hi @till thanks for showing interest. This issue is still open for grab.

[2018-11-23 12:05] pawanpraka1 commented on #2282
IOs are slow on sparse disk as we have 3 filesystem in this case (client side fs(ext4) ---> zrepl side fs (zfs) ----> sparse file (ext4)). IOs are taking time in case of cstor-sparse pool so unmount is taking time.

[2018-11-26 05:41] mittachaitu opened #2293 "cStor-pool crashed when reattaching the disk(striped) and restarting the cstor-pool-pod(2 disks on each node)"
## Description

cstor-pool is crashed upon reattaching the disk(mirrored type) and restarting the cstor-pool-pod.
## Expected Behavior

cstor-pool-pod should be in running state.

## Current Behavior

cstor-pool-pod is in CrashLoopBackOff

## Steps to Reproduce

- Deploy the percona application on cstor-disk-pool.
- Write ~4gb of data on the volume.
- While write IOs are performing detach any one

[2018-11-26 15:13] iMartyn opened #2294 "Add ephemeralStorage request to -ctrl- pods"
## Description
If a cluster is running low on space and supports ephemeral storage requests, because the -ctrl pods currently don't request any and output a log file, they become candidates for eviction.  K8s has some high limits for this by default (15%) and so this can be unexpected.

Example event :
[code]

## Context
By adding requests of ephemeralStorage to the deployment for the -ctrl pods,

[2018-11-27 06:56] AmitKumarDas commented on #2294
This PR https://github.com/openebs/maya/pull/835 exposes installed Kubernetes Version as an option in cast config.
NOTE: Further changes will be required at CASTemplate's default config & RunTask's go templating to solve this issue.

[2018-11-27 07:18] BalaBalaYi commented on #2243
Same issue:
![image](https://user-images.githubusercontent.com/23303886/49065017-ad65b300-f257-11e8-8671-da818522357b.png)

[2018-11-27 07:20] BalaBalaYi commented on #1688
Same issue:
![image](https://user-images.githubusercontent.com/23303886/49065074-e00fab80-f257-11e8-83fe-33e48b1717b7.png)

Is there any workaround?

[2018-11-27 07:55] BalaBalaYi commented on #2243
Good to me after setting these params under cluster yaml.
I wonder whether this issue is due to:
![image](https://user-images.githubusercontent.com/23303886/49066639-c329a700-f25c-11e8-91cc-cbc64e6bd2f6.png)

[2018-11-27 09:30] gprasath opened #2297 "CVR selects stale CSP upon scaling down the cluster and scaling it up again."
## Description
 Upon scaling down the cluster completely and scaling it up again, new disk CRs gets created. Here the SPC was overwritten apiserver removing its online phase which causes the creation of redundant pool resources.

## Expected Behavior
All the CVRs should be healthy.

## Current Behavior
Post application deployment, the status of one of the CVRs was empty.

## Steps to Reproduce
- D

[2018-11-27 12:02] mittachaitu opened #2298 "cstor-disk-pool replicas got disconected from cstor target upon consumption of storage pool capacity to ~97%"
## Description

Two cstor-disk-pool replicas got disconnected from cstor-target upon consumption of ~97% of pool size.
## Expected Behavior

Replicas should be in connected state to cstor-target.

## Current Behavior

Two replicas are in dissconnected state with cstor target upon consumption of pool capacity to ~97%.

## Steps to Reproduce

- Deploy percona application on cstor disk pool.
- Consum

[2018-11-27 16:58] PeterGrace opened #2299 "Rancher v2.0 proposed openebs deployment uses v0.6.0 helm template"
I'm not sure if this belongs here or in github.com/rancher/rancher, but while I was working on my rancher cluster I noticed these filesystem items in my backup (pasted below.)

I mentioned it to @kmova and he asked if I'd put in an issue about this to keep it top-of-mind that the Rancher integration with OpenEBS should be updated to the latest version.

[code]

[2018-11-28 07:17] mittachaitu opened #2301 "Unable to create mirrored pool with RAID type as mirrored"
## Description

After deploying below yaml with pool type as mirrored, expected that pool type will be mirrored.
[code]
but striped pool is created.
## Expected Behavior

The pool must be created with a defined pool type(yaml).
## Current Behavior

The striped pool is created instead of mirrored type.
## Possible Solution

## Steps to Reproduce

- Deploy above-mentioned yaml after deploying openeb

[2018-11-28 07:46] ranjithwingrider commented on #1204
I have also observed the same problem once I upgrade from 0.6.0 to 0.7.2. I have created the Jupyter application by applying "https://raw.githubusercontent.com/openebs/openebs/0.6.0/k8s/demo/jupyter/demo-jupyter-openebs.yaml". Once application is running, I went ahead with upgradation to 0.7.2.
First I have upgraded operator yaml with default values and then upgraded the PV and everything went fin

[2018-11-28 10:47] princerachit opened #2302 "Openebs should support point in time snapshot"
When a volumesnapshot is created for a volume and the first snapshot attempt fails, the controller retries snapshotting with a backoff.
This is not expected if we are doing a PIT snapshot.

If the snapshotting fails in the first attempt no retries should happen and the `status.condition.status` of volumesnapshot should go into error.

[2018-11-29 04:04] kmova commented on #1322
A lot can be improved w.r.t displaying proper messages. However, with 0.7.2 this cryptic message doesn't appear any more. m-apiserver doesn't start its http end-point, when it can't communicate with K8s. The provisioner logs the following message:

[code]

[2018-11-29 04:04] #1322 closed

[2018-11-29 06:30] shashank855 opened #2305 "Volumes are not created when pool-claim is smaller than storage-class replica"
## Description
Volume does not get created for application when number of pools created is smaller than the number of replicas in storageclass.

## Steps to reproduce
- Use three noded openshift cluster with 1 master and 2 compute nodes.(i.e; master is not schedulable)
- Apply openebs operator yaml from master branch of repo openebs/openebs.
-  Deploy percona application using openebs-cstor-sparce

[2018-11-29 08:37] #2305 closed

[2018-11-29 09:39] dargasudarshan opened #2308 "Memory consumption of jiva controller is increasing rapidly > 1G memory on Packet and GCP platforms"
## Description

- Memory consumption of jiva controller is increasing rapidly > 1G memory on Packet and GCP platforms.
This behavior is observed on openebs.ci pipeline running on Packet
https://gitlab.openebs.ci/openebs/e2e-packet/pipelines/5176

Kibana logs:

https://e2elogs.openebs.ci/app/kibana#/discover?_g=(refreshInterval:('$$hashKey':'object:2232',display:'10%20seconds',pause:!f,section:1,va

[2018-11-30 14:22] #2301 closed

[2018-12-01 05:07] slpcat opened #2309 "add support for kernel mode zfs"
zfs is should be installed on host, and zfs.ko ,zfs, zpool,zrepl are always avilable on all hosts

cstor can run with uzfs or zfs.ko,but not the both.

[2018-12-03 07:22] utkarshmani1997 opened #2311 "Replica fails to open after restart"
## Description

If we write the data randomly over > 2G, replica fails to open upon restart and controller get timeout intermittently.

## Expected Behavior

Replica should be opened after registration instantly

## Current Behavior

Replica failed to open on request from controller after restart.

## Possible Solution

This issue is arising due to PreloadLunMap function which generate offsets aft

[2018-12-03 11:43] dargasudarshan opened #2312 "(DU): Rescheduled application is taking > 300 sec to come to running state."
## Description

- Rescheduled application is taking > 300 sec to running and start taking IO's.

## Expected Behavior

-  Rescheduled application should be up and running in less than 120 seconds.

-  More time it takes causes data unavailability to the end user.

## Possible Solution

## Steps to Reproduce

- Deploy percona application on cStor engine.
- Taint node on which application is running

[2018-12-03 11:46] dargasudarshan commented on #2312
[issue.log](https://github.com/openebs/openebs/files/2639293/issue.log)
Please find the attached logs

[2018-12-03 23:00] muratkars opened #2313 "Update EFK stack demo with the latest changes"
## Description
In the current example, when [fluentd-ds.yaml](https://github.com/muratkars/openebs/blob/muratk-efkpatch/k8s/demo/efk/fluentd/fluentd-ds.yaml) is applied the pods gets into crashlooping due to read-only ConfigMap file.

Kubernetes team making ConfigMaps read only by default.
In response to kubernetes/kubernetes#60814, they have pushed kubernetes/kubernetes#58720. This was patched in

[2018-12-03 23:22] joshuacox commented on #2313
@muratkars the [solution](https://gist.github.com/joshuacox/5ad88cacf44ddc10fae1c3cb74a6f336) you posted in the slack worked for me.

[2018-12-04 09:42] gila commented on #2309
In order for us to do that, we need to make some changes to our target implementation such that it writes to the ZVOL layer. Right now we directly use the DMU API.

[2018-12-05 14:12] ChandanSagar opened #2315 "Pod crashes after sometime after running loadgen on MongoDb with xfs file system."
## Description
I am trying to run MongoDb on cstor-sparse-pool with xfs file system. After applying the statefulset yaml all 3 mongo pods(3 app level replica) are running. Once I run the loadgen it completes successfully. After
20 -25 min to mongo went to CrashLoopBackOff . I had tried earlier the same 1st loadgen ran successfully after the 2nd loadgen completed successfully all the 3 mongo pod we

[2018-12-05 16:51] ksatchit commented on #2262
Updating the title based on above comments

[2018-12-05 17:13] ksatchit commented on #2297
It is possible that stale pools are selected for scheduling the volume replicas - which can lead to apps not getting created.

[2018-12-06 06:48] dargasudarshan opened #2316 "Parent cStor volume consisting of snapshot and clone is getting deleted"
## Description

- Parent cStor volume consisting of snapshot and clone is getting deleted.

## Expected Behavior

- Parent volume should not be deleted until the child(snapshot/clone) is deleted.

## Current Behavior

- Parent cStor volume consisting of snapshot and clone is getting deleted without using any force option.

## Possible Solution

## Steps to Reproduce

- Deploy an application on cst

[2018-12-06 08:00] mittachaitu commented on #2262
Performed I/O on the pool with a degraded ZFS mirror group (single disk failure in a pool) and reattached the disk, It's status shown as FAULTED in zpool status. The Latest data is not available on the reattached disk.
[code]
[mirrored_pool_disk_detection.txt](https://github.com/openebs/openebs/files/2652167/mirrored_pool_disk_detection.txt)

[2018-12-06 13:08] inyee786 opened #2317 "invalid namespaces for cstor cas volume via mayaapi-server"
## Description

I deplyed openebs with cstor volume  in namespaces.
when i do curl request to list the cstor volume via mayaapi-server, in namespaces the value in `<novalue>`

here is the output
[code]

## Expected Behavior

in place of <no vaule> it should show the namepaces

## Current Behavior

in namespaces it showing me <no value>
## Possible Solution

## Steps to Reproduce

do curl request t

[2018-12-06 17:03] kmova commented on #440
With 0.8, snapshot and clone operations are supported for cStor Volumes. Sample YAMLs are provided at https://github.com/openebs/openebs/tree/master/k8s/ci/maya/snapshot/cstor

[2018-12-06 17:03] #440 closed

[2018-12-06 17:06] kmova commented on #1246
After jiva based PVC is deleted, the replica folders are cleared. The completed jobs need to be cleared till the K8s support auto deletion of the completed jobs. The jobs can be cleared using the following commands:
`kubectl delete jobs -l openebs.io/cas-type=jiva -n <pvc-namespace>`

[2018-12-06 17:06] #1246 closed

[2018-12-06 17:19] kmova commented on #1284
Only manual upgrade will be supported for 0.8.0 #2314

[2018-12-06 17:23] kmova commented on #2257
Basic implementation of collecting anonymous statistics is available. The details of the events and data sent in the events can be seen here:
https://docs.google.com/document/d/1LrZH5HfTJ8IKl5I7abL5Y9b925DNeB3hjXoAAjKSm1M/edit?usp=sharing

[2018-12-06 17:23] #2257 closed

[2018-12-07 05:54] nsathyaseelan opened #2318 "Update node taint tolerations on cStor target deployments to facilitate faster reschedule"
## Description

- cStor deployments continue to have the default toleration seconds (300) for reschedule upon certain conditions/node states (such as NotReady, Unreachable). This needs to be updated (0 sec) in order to  ensure that the target is back - up quickly in case they undergo forced reschedule in order to maintain the iSCSI sessions with the host/client applications. Currently, such a prov

[2018-12-07 05:57] nsathyaseelan commented on #2318
As per the latest (app) target pod affinity flow, the target's scheduling is dependent on app's. So, will the above changes, if made, be redundant if the app is not configured w/ the same toleration settings ?

[2018-12-07 06:51] nsathyaseelan opened #2319 "[cStor] Application went to RO state on performing target container (istgt) kill with gke"
## Description
Application went to RO state on performing Target container (istgt) kill in gke.

## Expected Behavior
Application should not go to RO state during Target container kill

## Current Behavior
Application went to RO state on performing target pod delete
## Steps to Reproduce
- Deploy Percona application with liveness Running.
- Once the applicatiion is up and running with active IO's.

[2018-12-07 07:02] kmova commented on #1612
Have not observed this issue in 0.7 and 0.8 testing, after the jiva has been refactored around usage of locks and also using a fixed ubuntu image instead of getting the latest ubuntu image. Will re-open this issue if we hit this again.

[2018-12-07 07:34] kmova commented on #2279
Related to #2281

[2018-12-07 07:34] #2279 closed

[2018-12-07 12:53] vharsh opened #2320 "Set imagePullPolicy to Never for Travis and other CI platforms which build images during PR merges"
## Description
- Everytime a PR is sent in any of OpenEBS repositories, there are continuous integration platforms which run tests, unit tests, integration tests, etc.

Some of them are,
- [Travis](https://travis-ci.org/openebs/maya/)
- [OpenEBS.ci](https://openebs.ci/)

## Expected Behavior

1. When code is being build against a particular commit hash, the same version should be tested. That's to

[2018-12-07 15:03] shturman opened #2321 "Support StatefulSet with >1 replicas and Pod/Target pod affinity"
## Description

We have a setup (6 nodes with ephemeral SSD connected in GKE k8s 1.10) and application `StatefulSet` with 6 replicas.
The plan is to map 1 to 1 application pod to a node and use `target affinity` to keep jiva target pods on the same node as the application pod.
Data replication/redundancy solved at an application layer so we need the only 1 replica setup for storage class.

Would b

[2018-12-07 15:12] sonasingh46 opened #2322 "CVR status is not updated once the status goes to 'Invalid' phase"
## Description
The CVR status ( status.phase field of CVR object) was `Invalid` .
Running `zfs stats` command for the volume corresponding to the CVR in the pool pod gave a `Healthy` status.
## Expected Behavior
The status on CVR should be `Healthy`.
Whatever is the status of zfs volumes -- the state should be updated on the corresponding CVR or a corresponding mapped status( possible zfs statuses

[2018-12-10 08:20] BalaBalaYi opened #2323 "Does openebs support volume expansion?"
## Description

For now the storage class which used by openebs is (AllowVolumeExpansion is unset):
[code]

[2018-12-10 14:46] vishnuitta commented on #2315
Sparse pool adds more layers to the IO path.
Can this be tried with disk pools? @ChandanSagar

[2018-12-11 08:38] ChandanSagar commented on #2315
I have deployed mongo with xfs on cStor disk pool and ran loadgen once. It got completed successfully and pods haven't crashed and it's been 1 hour. I will run loadgen once again and will monitor for some more time. @vishnuitta

[2018-12-12 14:51] PaulRitzkat opened #2324 "Deploy cstor pods on nodes with taints"
## Description

There is no way of deploying cstor pods to tainted nodes.

https://blog.openebs.io/how-do-i-configure-openebs-to-use-storage-on-specific-kubernetes-nodes-361e3e842a78
(Setting the DEFAULT_REPLICA_NODE_TAINT_TOLERATION env variable for maya-apiserver doesn't apply tolerations to cstor-sparse-pool pods. (I talked to Ashutosh on slack, its deprecated/not used for storage))

## Expecte

[2018-12-13 17:55] runningman84 opened #2325 "cstor invalid bearer token, Token has been invalidated"
I get a lot of error message from the kube api server caused by the cstor-spare-pool pods:

[code]

Maybe the current helm chart does not create the correct rbac rules or this is some general bug?

## Steps to Reproduce
[code]

## Your Environment

[code]

* OS (from `/etc/os-release`):
phil@cubi001:~$ cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian

[2018-12-13 18:21] runningman84 opened #2326 "target-affinity issues"
The release notes of 0.8 state that the target-affinity is a feature of cstor. But the link example is still based on jiva:
https://github.com/openebs/openebs/blob/master/k8s/demo/fio/demo-fio-jiva-taa.yaml

I tried to use the target-affinity with a statefulset. There you normally use volumeClaimTemplates instead of a fixed PersistentVolumeClaim. My statefulset looks like this:
[code]
But the corr

[2018-12-14 07:40] AmitKumarDas commented on #2324
@PaulRitzkat I have updated the blog as it is no longer applicable for newer versions of OpenEBS namely 0.8.0 and onwards.

@sonasingh46 has provided the customisation that can solve your current needs. Please refer to PR https://github.com/openebs/community/pull/20 & let us know if it worked?

[2018-12-14 15:13] fgimenezm commented on #1661
was this implemented? I couldn't find any other reference to this setting other than this issue.
I'm also interested in this capability so I can have a shared cluster with more restrictive pod security policies for the users (eg: not allowing hostpath).
If I block hostPath on the user's namespaces then the openebs replicas can't map /var/openebs/.
But if I could run those replicas on a different n

[2018-12-14 17:31] muratkars opened #2328 "Fix OpenEBS logo aspect ratio used in the Helm chart"
**Issue:**
Helm chart sharing interfaces built in to the products or others like Helm Hub expect a square image (1:1 ratio) of the chart, otherwise image is resized.

**Solution:** Change the canvas size of the image to 1:1 aspect ratio (if using the current image then 1318x1318) [repo location](https://github.com/openebs/chitrakala/blob/master/OpenEBS%20logo/openebs%20logos-03.png)

[2018-12-14 18:10] muratkars commented on #2328
Correct location for the square logo is [here](https://raw.githubusercontent.com/openebs/chitrakala/master/OpenEBS%20logo/logo-square.png)

[2018-12-17 15:12] rhugga opened #2329 "Rancher 2.1.3 + K8s 1.11.5 + Openebs 0.8: iscsiadm: Could not log into all portals"
## Description
Container failing to mount iscsi volume:

[code]

## Current Behavior
iscsiadm fails to login.

## Your Environment
[code]

Kubelet is running with this config:
[code]

The iscsi_tcp module is loaded on the bare metal nodes:

[code]

Container using iscsiadm from bare metal node:
[code]

[2018-12-17 16:10] rhugga commented on #1688
Anyone have a fix for this?  I am having this *exact* same errors using Rancher 2.13, K8s 1.11.5, Docker 18.6 and Openebs 0.8.

[code]

[2018-12-17 20:05] runningman84 commented on #2325
@prateekpandey14 @kmova do you need any additional info?

[2018-12-19 06:58] mittachaitu opened #2330 "Data errors are seen on fio read after filling the cStor volume capacity"
## Description

Filling the cStor volume capacity to 90% using fio (readwrite mode) and verifying using fio(read mode) shows data errors.

## Expected Behavior

fio read job should not give any data errors.
## Current Behavior

Fio read job giving data errors

## Steps to Reproduce

- Deploy fio write job(readwrite mode) to fill the cStor volume.
- After completing the fio write job deploy fio rea

[2018-12-19 06:58] utkarshmani1997 commented on #1688
Hi @rhugga here is the [blog](https://blog.openebs.io/running-openebs-on-custom-rancher-cluster-98ecd52b5961) for setting up openebs on custom rancher cluster and let us know if it is helping you. Most probably docker version seems to be a problem, since rancher only support following version of docker
* 1.11.2 to 1.13.1
* 17.03.x

[2018-12-19 11:49] mittachaitu commented on #2330
Seems fio write with readwrite mode having a problem.(not filling upto specified size)

[2018-12-19 11:49] #2330 closed

[2018-12-19 17:03] rhugga commented on #2329
Here is a close as I have gotten this to work. It throws an error but eventually does start the container with the volume mounted. But I have yet to get this to fail over to another node. (just using the percona spec and rebooting a node)

[code]

[2018-12-20 00:31] muratkars commented on #1688
Hi @rhugga, @BalaBalaYi, @halcyon, @rtnpro i was able to reproduce this in my lab. And here is what i have done to fix it with the help from @sonasingh46 @shan.
First my environment:
k8s: 1.11.5
rke: 2.1.3
kernel: 4.14.35-1844.0.7.el7uek.x86_64
docker: 18.06.1-ce
openebs: 0.8
os: OracleLinux 7.6

Kubelet is running with this config:

[code]
iscsi-initiator-utils installed on all nodes using the co

[2018-12-20 13:55] rhugga commented on #1688
I was using CAS..... what is the correct storage class for cstor pool?

[code]

[2018-12-20 14:10] rhugga commented on #1688
Can you please give more detail on your environment because I'm still seeing the exact same issues.
[code]

[2018-12-22 01:59] #2322 closed

[2018-12-23 14:02] utkarshmani1997 commented on #1276
@damlub i deployed openebs on CentOS 7.0 successfully, no issues so far. I'm also trying to setup CentOS 7.5 using vagrant but i'm having some issues with it, will keep you posted about the progress.I have used following [Vagrantfile](https://raw.githubusercontent.com/openebs/openebs/master/k8s/vagrant/1.10.0/centos/Vagrantfile) to brought up kubernetes cluster.

[2018-12-24 15:14] utkarshmani1997 commented on #1276
@damlub i am having issues in bringing up setup (CentOS 7.5) using vagrant or kops. I would like to discuss about the same in details, please join us at openebs-community.slack.com and would you like to provide your handle if joined already.

[2018-12-25 20:02] vishnuitta commented on #2319
synretry count is usually 6, which takes > 2 minutes.
kernel retries syn at 1, 2, 4, 8, 16, 32 and 64 seconds.
Due to some reason, even if listener at tgt is available,
until these retransmissions are complete and start new connect
call, connection is not getting established, and this is causing
volume to get into RO state.
By reducing synretries to 3, next connect call is made in less
than 20 sec

[2018-12-25 20:52] segator opened #2333 "failed to find extents, error: invalid argument"
storage class jiva on a zfs path  does not work

the replica container fails with **"failed to find extents, error: invalid argument"**

I deployed openebs
[code]
and
[code]
Yes I have  all nodes with /zfs-pool/ebs path, xattr are enabled

[2018-12-26 06:47] kmova commented on #2312
@dargasudarshan - is this the same behaviour or K8s 1.12+ clusters?

[2018-12-27 03:33] dargasudarshan commented on #2312
@kmova Did not verify this on k8s 1.12+ clusters, will check and update here. Thanks

[2018-12-27 11:30] nsathyaseelan opened #2335 "[cStor] Cloned PV is not in sync with all replicas when one replica is in rebuild process."
## Description
 - Clone a snapshot when one replica is in rebuild status. Cloned PV's not sync with all the three replicas even after the replica rebuild is success

## Expected Behavior
- Cloned volumes will have to sync with all the three replicas

## Steps to Reproduce
  - Deployed percona application with sql loadgen and liveness running.
  - Once the applicatiion is up and running with active

[2018-12-29 16:49] vishnuitta commented on #2319
This fix is available with PR: https://github.com/openebs/zfs/pull/173

[2018-12-29 16:49] #2319 closed

[2018-12-29 16:55] vishnuitta opened #2336 "Disk detach and subsequent re-attach not seen to trigger rebuild operation on cstor volume"
This issue is related to mirror usecase mentioned towards end of the issue : https://github.com/openebs/openebs/issues/2262#issuecomment-444781894 - Disk detach and subsequent re-attach not seen to trigger rebuild operation on cstor volume

So, this issue will be used to track - Disk resilvering that should happen when a disk is reattached in the mirror group

[2018-12-29 16:59] vishnuitta commented on #2336
Marked this as 0.8.1, as this is created from 2262 which is in 0.8.1. This need to be scrubbed

[2019-01-02 23:39] #312 closed

[2019-01-03 05:14] kmova opened #2337 "ElastiSearch on cStor volumes with XFS went to Read-Only."
This issue was reported by @davidkarlsen in OpenEBS Slack.

## Description

Running ElasticSearch on OpenEBS 0.8 - on cStor Volumes. The StorageClass is set to use XFS. The volumes seem to quickly get into Read-Only.

[code]

The following logs were also seen on the node:
[code]

## Expected Behavior

The Volumes should not have gone into read-only.  In case the volume did go into read-only due to

[2019-01-03 16:33] muratkars commented on #159
This solution will be same as #158

[2019-01-03 16:33] #159 closed

[2019-01-03 16:34] #165 closed

[2019-01-03 16:35] #167 closed

[2019-01-03 16:36] #203 closed

[2019-01-03 16:37] #204 closed

[2019-01-03 16:38] muratkars commented on #256
Addressed

[2019-01-03 16:38] #256 closed

[2019-01-03 16:40] muratkars commented on #5
It's continuously improving, but we have better and enough documentation to address this issue. https://docs.openebs.io/docs/next/prerequisites.html

[2019-01-03 16:40] #5 closed

[2019-01-03 16:44] vishnuitta commented on #2262
`zpool set io.openebs:liveness_timestamp=value poolname` can be used as liveness check to verify that cstor-pool can serve IOs

[2019-01-03 16:49] muratkars commented on #177
Not exactly an issue here to address.
Support for a storage policy that can disable the Jiva Volume Space reclaim. You can specify the jiva volume space reclaim feature setting using the value for RetainReplicaData property. In the following example, the jiva volume space reclaim feature is enabled as true. Hence, retain the volume data post PVC deletion.

[code]

[2019-01-03 16:49] #177 closed

[2019-01-03 16:53] muratkars commented on #223
Addressed in the documentation:
https://docs.openebs.io/docs/next/onpremise.html#openebs-installation-hyperconverged-mode

[2019-01-03 16:53] #223 closed

[2019-01-03 16:55] #224 closed

[2019-01-03 16:58] muratkars commented on #241
It seems like this was addressed [here](https://docs.openebs.io/docs/next/onpremise.html#using-ansible) in the documentation.

[2019-01-03 16:58] #241 closed

[2019-01-03 17:00] muratkars commented on #246
See [openebs.ci](https://www.openebs.ci/)

[2019-01-03 17:00] #246 closed

[2019-01-03 17:04] muratkars commented on #280
NDM now runs as daemon set and installed with Helm charts. Reference [OpenEBS Helm charts](https://github.com/openebs/openebs/blob/master/k8s/charts/openebs/templates/daemonset-ndm.yaml)

[2019-01-03 17:04] #280 closed

[2019-01-03 17:15] muratkars commented on #406
See [m-exporter](https://github.com/openebs/maya/tree/master/cmd/maya-exporter) and [docs](https://docs.openebs.io/architecture.html#maya-volume-exporter) for details.

[2019-01-03 17:15] #406 closed

[2019-01-04 08:36] vharsh opened #2338 "Propose consistent labels for openebs components"
## Description

The labels on Kubernetes objects should be same irrespective of the installation method i.e. using `kubectl` or `helm`.

## Context

According the the OpenEBS user documentation, there are [two ways](https://docs.openebs.io/docs/next/quickstartguide.html) of setting up OpenEBS on a Kubernetes cluster.
1. with the operator spec (i.e. The YAML way via `kubectl`)
2. with the OpenEBS h

[2019-01-04 14:32] vishnuitta commented on #2315
As noticed from cstor-pool container logs, zfs is taking time in serving IOs, and IOs are also getting errored out at zfs. Below are logs to that with sparse file:
[code]
So, tried with single luworker in istgt to reduce load on zfs. With this, mongo pods are in running state even after running loadgen multiple times.
Also, left the test to run for more time to observe any issues.

[2019-01-04 16:51] vishnuitta commented on #1460
Steps as below seems to be working fine:
- Unmount k8s filesystem
- Mount the disk to a new directory
- Unmount the disk
- xfs_repair <device>
This fixes if any issues. Mount in step 2 is required to replay any pending logs.
One issue noticed is:
With step 1, application pod uses local directory of the node as mount point and gets into running state.
To make application pod to use the iSCSI disk,

[2019-01-06 12:41] vishnuitta commented on #2315
Couple of observations:
- Pile up of IOs is NOT happening which is ending up in disconnection.
- Single IO is waiting for a long time. In above logs, zio_delay gives the time (in ns) taken by an IO to get executed. Above logs shows that IO took (0x22af569acb nanoseconds), which is, 148 seconds. And, if an IO takes more than 30 seconds, above kind of logs will be reported.
When issue happened, it i

[2019-01-07 05:46] AmitKumarDas commented on #365
This is too generic. Closing this.

[2019-01-07 05:46] #365 closed

[2019-01-07 05:48] AmitKumarDas commented on #368
@ashishranjan738 @sonasingh46 @prateekpandey14 I have assigned this to all of us.
As part of Idiomatic Maya implementation, lets make sure to write UT for every feature that we introduce.

[2019-01-07 12:33] prateekpandey14 commented on #2316
Currently cstor-volume delete operation run  `zfs destroy -R  pool/volume-name` command where ` R --> Recursively destroy all dependents, including cloned file systems outside the target hierarchy`. So its recursively delete the volume , snapshot and dependent clone volumes.

New Design:
1. Check for the snapshot for each volume delete request
2. if there is NO snapshot,  delete volume using `zfs

[2019-01-08 04:30] #1988 closed

[2019-01-08 04:41] AmitKumarDas commented on #2316
@prateekpandey14 can you explain more by providing different scenarios. Each scenario can talk about the native & custom resources available/created.

[code]

Similarly list down few other use cases. Then probably you can write down on possible solutions.

[2019-01-08 16:03] prateekpandey14 commented on #2316
#### When we create a volume `cstor-vol1-1r-claim` , take a snapshot  `snapshot-demo-cstor` and then create a new clone volume `demo-snap-vol-claim-cstor ` , following resources will be created
[code]
#### Case 1( 0.8 release ):  When we delete the source PVC  `cstor-vol1-1r-claim` it will delete the pvc  and then respected objects pv, cvr, cv, svc including it will delete the zfs volume from the

[2019-01-09 05:24] kmova opened #2340 "Add OpenEBS addon to typhoon"
## Description

https://github.com/poseidon/typhoon provides a minimal kubernetes distribution that can be setup on different environments using terraform scripts. It will good to install OpenEBS also as an add-on, like Prometheus.

## Context

In CI/CD use cases, the K8s clusters are deployed, run for 10/15 mins and destroyed. Most of these use cases involve using automated solutions like Typhoon

[2019-01-09 06:57] dargasudarshan opened #2341 "(cstor-target): maya-volume-exporter container experiencing `panic: runtime error: invalid memory address or nil pointer dereference`"
## Description

- maya-volume-exporter container experiencing panic `panic: runtime error: invalid memory address or nil pointer dereference`

## Expected Behavior

- Container should run seamlessly without any panics.

## Current Behavior

- maya-volume-exporter container experiencing panic `panic: runtime error: invalid memory address or nil pointer dereference`

## Possible Solution

## Steps t

[2019-01-09 07:00] dargasudarshan commented on #2341
Attaching logs:
[maya-volume-exporter.log](https://github.com/openebs/openebs/files/2739703/maya-volume-exporter.log)

[2019-01-09 09:10] ksatchit commented on #2272
The expectation is that pool pods do not come up if the disk devices are not physically attached any more. Thereby setting the right status of the CSP & in turn enabling better debug of unmounted OpenEBS volumes.

[2019-01-09 09:14] AmitKumarDas commented on #1195
@ashishranjan738 Do have a look at https://kubernetes.io/docs/tasks/run-application/configure-pdb/

[2019-01-09 13:41] rgembalik commented on #2323
This is a great question! I'd love to see some official response to it. It would help me greatly to manage OpenEBS volumes with `allowVolumeExpansion`.

Anyone?

[2019-01-09 15:16] #114 closed

[2019-01-09 15:19] #175 closed

[2019-01-09 15:20] #195 closed

[2019-01-09 15:22] ksatchit commented on #1460
Thanks @vishnuitta . Confirmed the above steps with few more trials. A few points to note:

- The device unmount on the node may be need to be performed at multiple locations `/var/lib/kubelet/plugin/kubernetes.io/iscsi/<..> & /var/lib/kubelet/pods/<pod_id>/volumes/kubernetes.io~iscsi/<pvc-id>` (and sometimes, duplicate mounts of these. Check /proc/mounts for a list of all volume mount points).

[2019-01-09 16:13] #94 closed

[2019-01-09 16:14] #96 closed

[2019-01-09 16:15] #117 closed

[2019-01-09 16:18] prateekpandey14 commented on #316
We have added the contributor docs for better commit message.. so closing this

[2019-01-09 16:18] #316 closed

[2019-01-09 16:20] #258 closed

[2019-01-09 16:23] prateekpandey14 commented on #358
No longer needed .. closing now

[2019-01-09 16:23] #358 closed

[2019-01-09 16:31] #109 closed

[2019-01-09 16:33] #158 closed

[2019-01-09 16:35] #164 closed

[2019-01-09 16:35] #173 closed

[2019-01-09 16:36] prateekpandey14 commented on #753
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:36] #753 closed

[2019-01-09 16:36] #186 closed

[2019-01-09 16:37] prateekpandey14 commented on #752
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:37] #752 closed

[2019-01-09 16:37] prateekpandey14 commented on #751
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:37] #751 closed

[2019-01-09 16:37] prateekpandey14 commented on #749
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:37] #749 closed

[2019-01-09 16:37] #188 closed

[2019-01-09 16:39] #250 closed

[2019-01-09 16:39] #263 closed

[2019-01-09 16:41] prateekpandey14 commented on #812
This issue has been fixed as part of mayactl enhancements.. closing now

[2019-01-09 16:41] #812 closed

[2019-01-09 16:41] muratkars commented on #279
There is an EFK stack example [here](https://github.com/openebs/openebs/tree/master/k8s/demo/efk).

[2019-01-09 16:41] #279 closed

[2019-01-09 16:42] #297 closed

[2019-01-09 16:42] #301 closed

[2019-01-09 16:43] #308 closed

[2019-01-09 16:45] prateekpandey14 commented on #798
Code has been refactored ..and has been fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:45] #798 closed

[2019-01-09 16:45] prateekpandey14 commented on #797
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:45] #797 closed

[2019-01-09 16:45] prateekpandey14 commented on #796
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:45] #796 closed

[2019-01-09 16:46] prateekpandey14 commented on #795
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:46] #795 closed

[2019-01-09 16:46] prateekpandey14 commented on #793
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:46] #793 closed

[2019-01-09 16:46] #363 closed

[2019-01-09 16:46] prateekpandey14 commented on #794
fixed in https://github.com/openebs/maya/pull/812 and https://github.com/openebs/maya/pull/807

[2019-01-09 16:46] #794 closed

[2019-01-09 16:47] #375 closed

[2019-01-09 16:48] #391 closed

[2019-01-09 16:48] muratkars commented on #404
Resolved

[2019-01-09 16:48] #404 closed

[2019-01-09 16:49] prateekpandey14 commented on #1644
has been fixed as part of mayactl refactor and enhancements

[2019-01-09 16:49] #1644 closed