[2018-03-13 10:32] #1329 closed

[2018-03-13 10:32] #1330 closed

[2018-03-13 10:54] andrea-zanetti commented on #928
Hi! Still seeing the same problem unfortunately.

Started minikube with

`minikube start \
--extra-config=controller-manager.ClusterSigningCertFile="/var/lib/localkube/certs/ca.crt" \
--extra-config=controller-manager.ClusterSigningKeyFile="/var/lib/localkube/certs/ca.key" \
--extra-config=apiserver.Admission.PluginNames=NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultSt

[2018-03-13 13:52] gprasath commented on #1334
hi @joshuacox , we are attempting to bring up the cluster using kubash.  And, we observe from your pods output that one container in the pod ``` kube-dns-6f4fd4bdf-2zkf7``` is not running.  Can you please check and describe.

[2018-03-13 14:13] gkGaneshR opened #1337 "Name change for cstor-sidecar to cstor-repl-ctrl"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
It is not advisable to use design pattern name "sidecar" for app name.

**What you expected to happen**:
The name needs to be changed to cstor-repl-ctrl.

**How to reproduce it (as minimally and precisely as possible)**:
cstorReplCtrl start command needs to be used to start t

[2018-03-13 14:16] joshuacox commented on #1334
yes indeed the kube-dns pod is having issues:

[code]

closing this issue, I'll reopen if indeed it's something on openEBS's end, but I'm certain I probably broke kube-dns somehow, let me investigate.

[2018-03-13 14:16] #1334 closed

[2018-03-13 14:21] gkGaneshR opened #1338 "Change design of cstor-crd autogen to cstorPool and cstorReplica"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
cstor pool and cstor replica should not be present in same crd.

**What you expected to happen**:
cstorPool and cstorReplica should be available as separate crd.

[2018-03-13 14:23] gkGaneshR opened #1339 "Remove namespace parameter in cstorPool and cstorReplica crd"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
Autogenerated crds are having namespace parameter w.r.t cstor.

**What you expected to happen**:
They should support cluster scope.

**Anything else we need to know?**:

[2018-03-13 14:28] gprasath commented on #928
Hi @andrea-zanetti ,
Referring to ```https://github.com/kubernetes/minikube/issues/1648``` , Can you please try the same with sudo.

[2018-03-13 18:01] gkGaneshR opened #1340 "Upload cstor related crd and pod yaml"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

cstorpool and cstorReplica crd and resource yaml files and the pod
yaml that runs main and side containers are uploaded.

[2018-03-13 22:14] joshuacox commented on #1334
as an addendum it is calico that I appear to be having issues with, after switching to flannel things seem to be working again, and all is well with openebs too!

[2018-03-14 03:25] gprasath commented on #1334
Thanks @joshuacox

[2018-03-14 11:10] dargasudarshan opened #1342 "Add a CI e2e test to perform a memory check on openebs volume."
## Is this a BUG REPORT or FEATURE REQUEST?
 Verify fix for this issue https://github.com/openebs/openebs/issues/1298
 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-03-14 13:54] #1283 closed

[2018-03-14 15:33] kmova commented on #1215
The above details are added to the documentation.

https://docs.openebs.io/docs/namespace.html

[2018-03-14 15:33] #1215 closed

[2018-03-14 19:08] kmova opened #1345 "mayactl volume stats errors out when there are 3 replicas"
BUG REPORT

When the volume are configured with 3 replicas, the mayactl volume stats errors out with outofbounds error. The error is related to the hardcoding that expects only 2 replicas are present.
https://github.com/openebs/maya/blob/v0.5.0/command/volume_stats.go#L111

This issue has been fixed in 0.6 (https://github.com/openebs/openebs/issues/1211)

[2018-03-14 19:47] qmnonic opened #1346 "openebs.readthedocs.io/en/latest/ - broken"
documentation is missing on readthedocs.io .

[2018-03-14 20:18] kmova commented on #1346
Hi @qmnonic, the docs have moved to docs.openebs.io

[2018-03-15 02:49] ksatchit commented on #1222
Refer to #1050

[2018-03-15 02:52] qmnonic commented on #1346
Great.

Google and github ( https://github.com/openebs/openebs/tree/master/documentation ) reference openebs.readthedocs.io, so it's impossible to find that new link.

[2018-03-15 04:44] AmitKumarDas commented on #1310
### High Level Design:
- Make use of VolumePolicy workflow
- Deploy the replica as a K8s deployment (no change)
- Patch the replica with nodeSelector

### Risks:
- nodeSelector continues to work as usual, but will eventually be deprecated, as node affinity can express everything that nodeSelector can express.

[2018-03-15 04:52] ksatchit commented on #1048
Here is the analysis after evaluation efforts of potential (opensource) fault-injection/resiliency tools for e2e.

## Powerfulseal

- Pros
  - Install via pip, runs as binary on master/node
  - Has both interactive/autonomous mode of operation (long weekend runs)
  - Can kill pods by specifying matches for namespace, deployment, labels, with various filters (state, IP, regex, injection period etc.

[2018-03-15 05:59] AmitKumarDas commented on #1336
### Estimates
- volume policy template changes & UT
- feature demo

[2018-03-15 07:10] #1257 closed

[2018-03-15 08:16] AmitKumarDas opened #1347 "VolumePolicy should support apps/v1beta1 as apiversion for Deployment Kind"
The current support for Deployment Kind is with its apiversion as `extensions/v1beta1`.
Kubernetes has recently started supporting Deployment kind with apiversion as `apps/v1beta1`.

Since volume controller & replica are deployed as Deployment Kinds, this change is required.

[2018-03-15 08:17] AmitKumarDas commented on #1347
This will be implemented as part of https://github.com/openebs/openebs/issues/1310

[2018-03-15 08:25] AmitKumarDas commented on #1294
@gprasath I would like below info:

- `kubectl get po -o wide` before the test
- `kubectl get nodes` before the test
- `kubectl get po -o wide` after the test
- `kubectl get nodes` after the test
- The time taken for controller to be in Running state after the test
  - assuming the controller got rescheduled
- `kubectl get events` before the test
- `kubectl get events` after the test

[2018-03-15 08:30] AmitKumarDas commented on #1266
PR - https://github.com/openebs/maya/pull/266/ fixes this issue

[2018-03-15 08:35] gkGaneshR opened #1348 "Add vendor dependency for cstor-crd"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
There is a transitional vendor dependency for k8s crd related operations.

**What you expected to happen**:
Package github.com/golang/groupcache needs to be included under vendor and need to be written onto Gopkg.lock

**How to reproduce it (as minimally and precisely as poss

[2018-03-15 09:48] #1323 closed

[2018-03-15 09:58] gkGaneshR opened #1349 "Buildscripts for cstor-repl-ctrl"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
cstor-repl-ctrl needs to be built, containerized in docker image and pushed to openebs docker hub.

**What you expected to happen**:
The go buildscript, dockerfile and push script for cstor-repl-ctrl needs to be updated.

**How to reproduce it (as minimally and precisely as p

[2018-03-15 11:10] dargasudarshan opened #1350 "Track memory consumption by grabbing process memory."
Enhance the existing memory consumption test by monitoring process memory.
https://github.com/openebs/openebs/pull/1343

[2018-03-15 16:33] kmova commented on #453
iSCSI compliance tests are included into the CI https://github.com/openebs/jiva/pull/41

setting the milestone to 0.7 for including functionality testing.

[2018-03-15 19:31] mhemrg opened #1352 "What a volume really is in OpenEBS"
I just wanna know what a volume really is in OpenEBS? And how OpenEBS defines the volume size? I think the jiva creates a file and truncates it to the specified length.
Am I right? Will it have any performance issues is a normal stateful application?

[2018-03-15 19:48] kmova commented on #1352
@mhemrg Your understanding is absolutely correct in terms of the IO path. It might interesting also to watch out for the cStor based OpenEBS volumes , which will directly write onto the block. I have just prepared the following slide-deck (https://docs.google.com/presentation/d/1GsI0Sw9sekOkeOhq25rtMFMQdXJ6fIuhMhNKLBUCHEY/edit?usp=sharing )to present in the contributors meeting, that explains the

[2018-03-15 20:02] mhemrg commented on #1352
Thanks for your quick response, @kmova.
I'm trying to understand the source code located at `github.com/openebs/jiva/replica`. Sorry, if I ask, but I don't understand how it would be possible to use a truncated file as a volume. Is it possible to do it with some shell commands, as an example?

[2018-03-16 08:21] #1346 closed

[2018-03-16 08:34] payes commented on #1352
Hi @mhemrg, iSCSI protocol does the trick.  gotgt([https://github.com/openebs/gotgt](url)), an iSCSI target implementation) acts as the frontend to jiva. It exposes the truncated sparse file as a block device.

[2018-03-16 10:51] gkGaneshR opened #1354 "Change cstor-main image name to cstor-pool under openebs/cstor"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
 The container that runs zrepl should not have legacy name: cstor-repl-ctrl.

**What you expected to happen**:
Since the latest architecture is proposed to have name : cstor-pool, it should be renamed.
https://github.com/openebs/openebs/pull/1297/commits

[2018-03-16 11:01] AmitKumarDas commented on #1308
refer - https://github.com/openebs/community/tree/master/feature-demos/volumepolicies/ctrl-pinning

[2018-03-16 12:17] gkGaneshR opened #1355 "Change name from cstor-repl-ctrl to cstor-pool-mgmt"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
 FEATURE REQUEST

**What happened**:
The container that watches for crd should not have legacy name: cstor-repl-ctrl

**What you expected to happen**:
Since the latest architecture is proposed to have name : cstor-pool-mgmt, it should be renamed.
https://github.com/openebs/openebs/pull/1297/commits

[2018-03-17 07:54] kmova commented on #1335
Need to find a way to automate installing the iscsi initiator on the kubelet container. The following steps were followed to manually install:

- SSH into the Kubernetes Nodes
- Identify the docker container running the kubelet using `sudo docker ps`.
- Enter the kubelet container shell
[code]
- Install open-iscsi.
[code]

[2018-03-17 08:00] AmitKumarDas commented on #1335
@kmova @yudaykiran Just thinking aloud here.
1/ Can we patch the kubelet pod with some kubelet image that has all these?
The patch operator will do the justice of finding the exact kubelet image & replace that with iscsi-kubelet image.

2/ Can we check if pod probes can do the apt-get install stuff

All these to avoid plumbing code around ssh & thinking from docker perspective.

[2018-03-17 08:09] AmitKumarDas opened #1356 "VolumePolicy should support use of nodeAffinity to dedicate nodes for openebs pods"
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

[2018-03-17 08:11] AmitKumarDas commented on #1356
This will be implemented as part of #1310

[2018-03-17 08:54] yudaykiran commented on #1335
@AmitKumarDas kubelet is not deployed as a pod, rather, the kubelet service is run inside a hyperkube container. i don't think this can be fixed from the Kubernetes end. It is more of a cloud-init that brings the VM and has some configuration for running the kubelet service inside this container. This is similar to how coreos runs all its services inside containers.

[2018-03-17 09:00] AmitKumarDas commented on #1335
@yudaykiran These are more unknowns. I dont understand these ;) ... Hopefully you will explain each of them in some forms... BTW Is hyperkube same as `virtual kubelet` that azure guys are involved into?

[2018-03-17 09:30] yudaykiran commented on #1335
@AmitKumarDas hyperkube and virtual kubelet are two different concepts.

[2018-03-18 00:25] joshuacox commented on #1334
I'm inviting you both to kubash, I'd love to have either of you review or just point out where it blew up on you if you tried kubash

[2018-03-19 02:28] ksatchit opened #1357 "Document HA Scenarios for OpenEBS volume"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:

We need to add more cases wrt OpenEBS volume HA and improve the current section on HA in the documentation. This will benefit users with questions on replica rescheduling, data recovery, nature of replication etc..,

**What you expected to happen**:

Some of these behaviours are discussed are in the openebs-users sla

[2018-03-19 03:26] #1342 closed

[2018-03-19 06:40] kmova commented on #591
- mayactl should be containerized to run as a pod within kubernetes
  - mayactl can be installed using pre-built binaries for different platforms
  - mayactl can be built and used via go get

[2018-03-19 06:49] kmova opened #1358 "mayactl should list application pods using openebs volumes"
FEATURE REQUEST

Refer #1248

mayactl should be able to provide an end-to-end view into stateful applications. This requires mayactl to communicate with Kubernetes cluster via kube-config or using in-cluster(when running as a Pod within the cluster) and fetch the details from kubernetes api.

mayactl apps
mayactl apps <app-name>

[2018-03-19 06:52] kmova opened #1359 "mayactl should be able to provide node/disk used by openebs volumes"
FEATURE REQUEST

Related: #1358

- mayactl should include openebs volume details like node(s) where the volume pods are running
- mayactl should include openebs volume details like storage pool (disk or directory) where the volume pods are running

The above information can be added to the mayactl volume info command. See https://github.com/openebs/maya/pull/288

[2018-03-19 07:02] kmova commented on #1211
This issue is fixed as part of moving the cli to COBRA. Fix will be available in 0.6.

[2018-03-19 07:12] utkarshmani1997 opened #1360 "maya should be replaced with mayactl in the --help/usage texts"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT

**What happened**:
* Tried to run `mayactl --help` and it's other subcommands, the usage has text `maya`.
* User may be confused with the help texts.
**What you expected to happen**:
* Usage should have `mayactl` instead of maya
**How to reproduce it (as minimally and precisely as possible)**:
* Run `mayactl --help` or any other subcommands

[2018-03-19 08:19] kmova commented on #13
The documentation has moved to https://github.com/openebs/openebs-docs and doesn't uses readthedocs anymore.

[2018-03-19 08:19] #13 closed

[2018-03-19 08:25] kmova commented on #27
As of 0.5.x release, k8s clusters are being created using kubeadm/kops. Also openebs doesn't mandate a certain way of creating the k8s clusters.

Closing this issue in favor of tracking the requirement under openebs/openebs#28

[2018-03-19 08:25] #27 closed

[2018-03-19 08:33] kmova commented on #24
openebs intendes to use kube-dashboard for managing its own configuration. There is no separate UI currently planned for openebs project.

[2018-03-19 08:33] #24 closed

[2018-03-19 08:34] #34 closed

[2018-03-19 08:39] kmova commented on #39
Closing due to inactivity for over an year. The documentation for the examples is now part of https://docs.openebs.io Please raise a new issue if the documentation doesn't help explain the setup files.

[2018-03-19 08:39] #39 closed

[2018-03-19 08:40] kmova commented on #40
The latest vagrant images package the required system containers like kube-proxy.

[2018-03-19 08:40] #40 closed

[2018-03-19 08:42] kmova commented on #43
Not enough information in the issue to go on. Please raise the issue after trying with the latest vagrant images.

[2018-03-19 08:42] #43 closed

[2018-03-19 08:56] kmova commented on #54
Please reopen if the issue is still seen. Closing due to inactivity.

[2018-03-19 08:56] #54 closed

[2018-03-19 09:14] kmova commented on #87
The following convetions have evolved organically over the past one year and these needs to be documented under the Concepts/Glossary of docs.openebs.io

- "openebs.io" namespace is used for all openebs related parameters and objects.
- OpenEBS Volume is mapped to a Persistent Volume
- OpenEBS Volume comprises of VolumeController and Volume Replicas. Volume Controller acts as the target to which t

[2018-03-19 09:16] kmova commented on #91
This issue is related to the embedded video which has been completely removed now.

[2018-03-19 09:16] #91 closed

[2018-03-19 09:24] kmova commented on #98
Yes @joshuacox Making this work with any S3 interface including minio sounds like the right approach.

[2018-03-19 09:30] kmova commented on #114
while the initial issue was raised against dedicated mode with flex-volume plugin, the same holds true for the hyper-converged as well. As of today, there are no restrictions on creating a volume - even when there is only one replica can be scheduled.

[2018-03-19 09:30] kmova commented on #115
This code has been deprecated.

[2018-03-19 09:30] #115 closed

[2018-03-19 09:33] kmova commented on #117
Verify if the same issue is present on the latest version of mayactl with : maya volume create option.

[2018-03-19 09:34] kmova commented on #118
This code has been deprecated. And with the latest changes which includes using Kubernetes, the volume delete, clears all the required objects.

[2018-03-19 09:34] #118 closed

[2018-03-19 09:35] kmova commented on #132
The above sequence has been implemented into openebs 0.4

[2018-03-19 09:35] #132 closed

[2018-03-19 09:50] ksatchit commented on #104
The basic ansible based e2e framework for now available at :  https://github.com/openebs/openebs/tree/master/e2e

A brief description and contributing guidelines are here: https://github.com/openebs/openebs/blob/master/contribute/CONTRIBUTING-TO-CI-AND-E2E.md

[2018-03-19 09:50] #104 closed

[2018-03-19 11:10] kmova commented on #169
Nomad based provisioning has been deprecated.

[2018-03-19 11:10] #169 closed

[2018-03-19 11:11] kmova commented on #170
omm and osh have been deprecated.

[2018-03-19 11:11] #170 closed

[2018-03-19 11:12] kmova commented on #172
setup-omm and setup-osh are deprecated

[2018-03-19 11:12] #172 closed

[2018-03-19 11:15] kmova commented on #176
The issue was resolved in 0.4.0 with https://github.com/openebs/jiva/commit/6c914d62e7f3755f826db88e3d82fb17e9b2b4c2

[2018-03-19 11:15] #176 closed

[2018-03-19 11:20] kmova commented on #177
The default retention is the same used by the K8s.
Delete.

[2018-03-19 11:33] kmova commented on #185
This issue of orphaned iSCSI sessions seem to come from error during detach process (from kubelet) which are fixes in the later version of K8s. https://github.com/openebs/openebs/issues/1278 has more details in terms of debugging such issues and possible work-arounds.

[2018-03-19 11:33] #185 closed

[2018-03-19 11:38] kmova commented on #189
The above PR https://github.com/kubernetes-incubator/external-storage/pull/357 explains  the intention behind the prefix of "pvc-" as a way of house-keeping by the dynamic provisioners to not create duplicate PVs for same PVCs etc,.

[2018-03-19 11:38] #189 closed

[2018-03-19 12:20] gkganesh126 opened #1361 "Version number for cstor-base image"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
cstor-base image is created with "ci" tag. When the release is made for 0.7, the tag ci used in openebs/maya/buildscripts/cstor-pool-mgmt/Dockerfile should be changed.

[2018-03-19 12:20] gkGaneshR commented on #1361
0.7 tracking

[2018-03-19 12:21] kmova commented on #190
It is safer to keep a named (stable) release in the operator.yaml as a default value. Users can modify it with latest or hot-fix image values on need basis.

[2018-03-19 12:21] #190 closed

[2018-03-19 12:24] kmova commented on #194
The functionality has moved to openebs/node-disk-manager. The naming conventions referred to in this issue have also changed. Please refer to https://github.com/openebs/node-disk-manager/pull/1

[2018-03-19 12:24] #194 closed

[2018-03-19 15:26] joshuacox commented on #98
I'd certainly like to pitch in and make this a reality.  I have another project where I've come to rely on openEBS.

[Kugash](https://kubash.org/)

As some future steps there I'd like to setup minio and then get backups running in a kubernetes [cronjob](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/)

[2018-03-19 16:14] #1349 closed

[2018-03-19 16:14] #1355 closed

[2018-03-19 16:38] yudaykiran commented on #198
Fixed as part of the merge for PR #199

[2018-03-19 16:38] #198 closed

[2018-03-19 16:53] kmova commented on #216
Not enough information in the issue to go on. Re-open if the issue is seen with the recent releases.

[2018-03-19 16:53] #216 closed

[2018-03-19 16:55] kmova commented on #223
We will need to clear up some of these internal (initial) guides in favor of the documents at docs.openebs.io

[2018-03-19 17:00] kmova commented on #234
This is currently tracked under : https://github.com/openebs/openebs/issues/1335

[2018-03-19 17:00] #234 closed

[2018-03-19 17:05] kmova commented on #240
This is tracked under https://github.com/openebs/openebs/issues/1322

[2018-03-19 17:05] #240 closed

[2018-03-19 17:08] kmova commented on #247
https://github.com/openebs/openebs/blob/master/contribute/CONTRIBUTING-TO-CI-AND-E2E.md

[2018-03-19 17:08] #247 closed

[2018-03-19 17:17] kmova commented on #274
https://github.com/openebs/openebs/blob/master/k8s/openebs-monitoring-pg.yaml

[2018-03-19 17:17] #274 closed

[2018-03-19 17:18] kmova commented on #276
The docs are moved to github.com/openebs/openebs-docs in markdown format.

[2018-03-19 17:18] #276 closed

[2018-03-19 17:26] #285 closed

[2018-03-19 18:02] #291 closed

[2018-03-19 18:03] #299 closed

[2018-03-19 18:05] kmova commented on #305
Moved to docusaurus. https://github.com/openebs/openebs-docs

[2018-03-19 18:05] #305 closed

[2018-03-19 18:07] kmova commented on #310
https://github.com/openebs/openebs/blob/master/k8s/openebs-monitoring-pg.yaml

[2018-03-19 18:07] #310 closed

[2018-03-19 18:08] #313 closed

[2018-03-19 18:08] #314 closed

[2018-03-19 18:10] #318 closed

[2018-03-19 18:12] kmova commented on #321
some items to be included:
https://github.com/openebs/openebs/labels/status%2Fhacked-fix

[2018-03-19 18:12] kmova commented on #325
This is outdated. the docs have moved to docusaurus https://github.com/openebs/openebs-docs

[2018-03-19 18:12] #325 closed

[2018-03-19 18:24] kmova commented on #369
The general direction of K8s is to move towards CSI and away from in-tree.

[2018-03-19 18:24] #369 closed

[2018-03-19 18:25] kmova commented on #377
The docs have moved to https://github.com/openebs/openebs-docs in .md format.

[2018-03-19 18:25] #377 closed

[2018-03-19 19:05] kmova commented on #482
This fixed in the latest docs:
https://docs.openebs.io/

[2018-03-19 19:05] #482 closed

[2018-03-19 19:10] kmova commented on #483
The new documentation uses https://github.com/openebs/openebs-docs which is dependent on the npm install steps.

[2018-03-19 19:10] #483 closed

[2018-03-19 19:12] #486 closed

[2018-03-19 19:12] #491 closed

[2018-03-20 04:52] #1293 closed

[2018-03-20 05:25] kmova commented on #507
Please re-open this issue or raise a new issue with specific page that needs enhancements. The docs are now moved to https://github.com/openebs/openebs-docs

[2018-03-20 05:25] #507 closed

[2018-03-20 05:33] kmova commented on #533
Resolved in the recent releases.

[2018-03-20 05:33] #533 closed

[2018-03-20 05:35] kmova commented on #535
related to : https://github.com/openebs/openebs/issues/98

[2018-03-20 05:46] kmova commented on #554
No further refinements are planned for Jiva image at the moment.

[2018-03-20 05:46] #554 closed

[2018-03-20 05:51] kmova commented on #582
This issue doesn't exist any more. related to readthedocs.

[2018-03-20 05:51] #582 closed

[2018-03-20 05:59] #642 closed

[2018-03-20 06:13] kmova commented on #705
The current approach is to put the openebs specific objects into K8s by extending the schema using CRDs under the openebs.io qualifier. K8s api-server will be used to access/query as well the maya-apiserver or other components will also implement controllers that watch for the CRs.

[2018-03-20 06:13] #705 closed

[2018-03-20 06:14] kmova commented on #705
As an example refer : https://github.com/openebs/openebs/pull/1297

[2018-03-20 06:17] #707 closed

[2018-03-20 06:58] #765 closed

[2018-03-20 06:58] #766 closed

[2018-03-20 06:58] #769 closed

[2018-03-20 06:59] #771 closed

[2018-03-20 06:59] #776 closed

[2018-03-20 07:00] #790 closed

[2018-03-20 07:05] AmitKumarDas commented on #721
VolumePolicy has been implemented to justify this feature. In other words, an operator will make use of VolumePolicy & set it in one or more StorageClasses. OpenEBS provisioner will comply to this VolumePolicy during volume provisioning.

refer - https://github.com/openebs/openebs/issues/1010

[2018-03-20 07:05] #721 closed

[2018-03-20 08:24] kmova commented on #846
https://github.com/openebs/openebs/tree/master/community

[2018-03-20 08:24] #846 closed

[2018-03-20 08:28] kmova commented on #865
This is not being moved to node-disk-manager along with refactored changes from https://github.com/openebs/maya/pull/224

Thank you @gkGaneshR for your efforts on this one.

[2018-03-20 08:28] #865 closed

[2018-03-20 08:29] kmova commented on #866
Covered by https://github.com/openebs/node-disk-manager/pull/1

[2018-03-20 08:29] #866 closed

[2018-03-20 08:46] #869 closed

[2018-03-20 08:49] kmova commented on #876
Need to cover this as part of the https://github.com/openebs/node-disk-manager/pull/1

[2018-03-20 08:49] #876 closed

[2018-03-20 08:58] kmova commented on #898
This is deprecated. this will be take care in the node-disk-manager

[2018-03-20 08:58] #898 closed

[2018-03-20 09:26] kmova commented on #966
This is deprecated now. The node-bot is further changed to node-disk-manager

[2018-03-20 09:26] #966 closed

[2018-03-20 09:27] kmova commented on #1004
This will be now implemented as part of node-disk-manager.

[2018-03-20 09:27] #1004 closed

[2018-03-20 09:28] #1006 closed

[2018-03-20 09:46] #1027 closed

[2018-03-20 09:49] kmova commented on #1030
https://newstaging-docs.openebs.io/
https://github.com/openebs/openebs-docs/tree/newstaging

[2018-03-20 09:49] #1030 closed

[2018-03-20 10:00] #1237 closed

[2018-03-20 10:08] #1065 closed

[2018-03-20 10:08] #1068 closed

[2018-03-20 10:08] #1069 closed

[2018-03-20 10:10] kmova commented on #1070
This scenario need to be covered by node-disk-manager (https://github.com/openebs/node-disk-manager/pulls/1)

[2018-03-20 10:10] #1071 closed

[2018-03-20 10:10] #1072 closed

[2018-03-20 10:10] #1073 closed

[2018-03-20 10:10] #1074 closed

[2018-03-20 10:11] kmova commented on #1077
Add to the implementation details for https://github.com/openebs/node-disk-manager/pull/1

[2018-03-20 10:12] kmova commented on #1078
Use the label kubernetes.io/hostname assigned to the node.
https://github.com/openebs/node-disk-manager/pull/1

[2018-03-20 10:13] kmova commented on #1079
Related to : https://github.com/openebs/node-disk-manager/pull/1

[2018-03-20 10:14] kmova commented on #1080
This has been deprecated. node-disk-manager will cover this.

[2018-03-20 10:14] #1080 closed

[2018-03-20 10:37] #1350 closed

[2018-03-20 11:21] #1153 closed

[2018-03-20 11:26] nsathyaseelan commented on #1154
Tested the Document in https://docs.openebs.io/docs/Jupyter.html and the document steps mentioned for Jupyter usecase are LGTM

[2018-03-20 11:26] #1154 closed

[2018-03-20 11:28] nsathyaseelan commented on #1157
Tested the Document in https://docs.openebs.io/docs/CrunchyPostgres.html and the document steps mentioned for CrunchyPostgres usecase are LGTM

[2018-03-20 11:28] #1157 closed

[2018-03-20 12:29] #1331 closed

[2018-03-20 12:29] #1324 closed

[2018-03-20 12:30] #1348 closed

[2018-03-20 12:30] #1338 closed

[2018-03-20 12:32] gkGaneshR opened #1363 "CStor autogenerated CRD code"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
The autogenerated crd spec needs to be uploaded.

**What you expected to happen**:
pkg/apis...will have the struct type definition and pkg/client should have clientset, informer and lister autogenerated.

[2018-03-20 13:51] kmova commented on #1223
Not enough details, please re-open the issue with more specific details.

[2018-03-20 13:51] #1223 closed

[2018-03-20 13:55] kmova commented on #1241
This should be added to https://github.com/openebs/node-disk-manager/pull/1

[2018-03-20 16:12] kmova commented on #1322
@clkao - Just a thought.. would you like to raise a PR to fix this issue?

[2018-03-20 21:01] yudaykiran commented on #1282
Fixed with merge of PR #1327

[2018-03-20 21:01] #1282 closed

[2018-03-21 04:37] #1337 closed

[2018-03-21 04:37] #1354 closed

[2018-03-21 05:29] #1180 closed

[2018-03-21 06:30] kmova opened #1364 "Automated spec or document generation of supported API and CLI"
FEATURE REQUEST

As more functionality is getting added into OpenEBS in term of number of components as well as the functionality of each component, it will be nice to have automated generation of documentation about the supported API and CLI commands from the source code. The automation tools should also take into account  showing changes across multiple releases.

[2018-03-21 06:35] #415 closed

[2018-03-21 08:03] kmova opened #1365 "openebs should use node-disk-manager for disk management"
FEATURE REQUEST

Refer: openebs/node-disk-manager#1

[node-disk-manager](https://github.com/openebs/node-disk-manager) provides disk management capabilities - like inventory management, error handling etc., OpenEBS (maya-apiserver) should interface with **_ndm_** for help with:
- Creating Storage Pools for jiva and cstor engines, by either directly interacting with
- Receive notifications from nod

[2018-03-21 09:52] kmova commented on #1321
PVC objects themself are user created, we may not have an option to modify those. However, using the storageclass associated with the PVC we can determine if they belong to OpenEBS.

PVC Pods and other K8s objects need to be labelled. This will be implemented as part of the issue
https://github.com/openebs/openebs/issues/203

[2018-03-21 09:52] #1321 closed

[2018-03-21 09:58] kmova commented on #204
This is currently achieved if openebs is installed via helm charts or if the openebs components are installed within a namespace for openebs.

If installed via kubectl, it makes sense to include some custom label.

[2018-03-21 11:34] #1340 closed

[2018-03-21 13:00] #1363 closed

[2018-03-21 13:22] gkGaneshR opened #1366 "Add support for creating a cstor pool and volume replicas on it"
FEATURE REQUEST

This issue tracks in implementation of cstor-pool-mgmt, which will be deployed along side cstor-pool container. Refer:  [cStor based pools and volumes orchestration design](https://github.com/openebs/openebs/issues/1296)

The functionality of the cStor based Storage Pool is containerized into cstor-pool containers. The cstor-pool container supports the following operations via CLI

[2018-03-21 13:28] kmova commented on #284
this is covered by the node-disk-manager issue 16.

[2018-03-21 13:28] #284 closed

[2018-03-21 13:34] kmova commented on #286
This will be handled by the node-disk-manager - issue 17.

[2018-03-21 13:34] #286 closed

[2018-03-21 18:26] #1266 closed

[2018-03-21 18:31] kmova commented on #1234
Changes are merged to master with https://github.com/openebs/openebs/pull/1269

[2018-03-21 18:31] #1234 closed

[2018-03-21 18:57] kmova commented on #236
m-apiserver support API to fetch volume information via /latest/volumes/info/\<volname>.

[2018-03-21 18:57] #236 closed

[2018-03-22 06:01] utkarshmani1997 commented on #173
* Two approaches are available which has been used by most of the devops
  - https://github.com/pires/kubernetes-elasticsearch-cluster
  - https://github.com/upmc-enterprises/elasticsearch-operator
* 1st one seems promising and 2nd one is built on top of the first one and currently provides limited support to gke.

[2018-03-22 07:27] AmitKumarDas commented on #1347
Some parts of this will be checked-in via #1310 .
However, user can not use apps/v1beta1 unless `VolumeDeletePolicy` is implemented.

NOTES:
- Currently, user makes use of VolumePolicy to provision a volume
- Deletion can be invoked by issuing API call to maya apiserver
  - Maya apiserver makes use of old deletion logic to delete
- VolumePolicy & older provisioning logic both make use of extension

[2018-03-22 11:05] #38 closed

[2018-03-22 16:10] gprasath opened #1373 "Referring current doc in openebs helm chart"
## Is this a BUG REPORT or FEATURE REQUEST?
 Still refers to readthedocs link.

**What happened**:
Installed OpenEBS using helm. After successful installation, below message gets displayed.
[code]
**What you expected to happen**:
Should refer to docs.openebs.io

[2018-03-23 08:40] #1133 closed

[2018-03-23 10:59] ajeshbaby commented on #50
Environment -- Vagrant.

[2018-03-23 11:48] ksatchit commented on #833
- The steps for this are available here: http://containerized.me/how-to-install-openebs-on-ibm-cloud-private/

- The same needs to be added to this section in openebs docs: https://docs.openebs.io/docs/cloudsolutions.html

[2018-03-23 11:56] ksatchit commented on #838
OpenEBS installation/setup tutorials for the following categories are available here: https://docs.openebs.io/docs/ - these contain the pre-requisites for the setup along with the actual procedures/steps.

- Developer solutions (Minikube)
- On-premise solutions (Vagrant-based, ansible-based for baremetal)
- Different-platforms (OpenShift)
- Cloud (AWS, GKE, IBM private cloud)

@nsathyaseelan , can

[2018-03-23 11:59] ksatchit commented on #843
All these are available here:  https://docs.openebs.io/docs/overview.html

[2018-03-23 12:31] yudaykiran commented on #485
The Docs have been updated to provide the steps or links to the user, to install Vagrant and Virtualbox. The link to the documentation is: https://docs.openebs.io/docs/onpremise.html

[2018-03-23 12:38] ksatchit commented on #841
Duplicate of https://github.com/openebs/openebs/issues/839

[2018-03-23 12:51] ksatchit commented on #1144
This PR provides the OpenShift templates to install OpenEBS : https://github.com/openebs/openebs/pull/1145

[2018-03-23 13:01] ksatchit commented on #1155
The jenkins setup with openebs PV described here : https://github.com/openebs/openebs/blob/master/k8s/demo/jenkins/README.md is seen to work with OpenEBS version 0.5.1 (verified by CI)

[2018-03-23 13:03] yudaykiran commented on #492
The Docs for Minikube are now available at: https://docs.openebs.io/docs/devsolutions.html
The docs have to be updated in a way that the end user is able to understand.

[2018-03-23 13:04] ksatchit commented on #1245
OpenEBS doesn't yet support RWM access mode for the PV. Please deploy with ReadWriteOnce in the PVC spec.

[2018-03-23 13:09] ksatchit commented on #1335
Solution guide to setup OpenEBS in Azure : https://github.com/openebs/openebs-docs/blob/master/docs/openebs_azure.md

[2018-03-23 13:32] ksatchit commented on #880
@a4abhishek , here is the analysis :

- There has been a network loss for a period greater than 60s between the controller and replica pods which has lead to the iscsi target being stopped.
- This has led to the volume bring re-mounted as RO on the application node (i.e., node where percona app has been scheduled).
- Subsequent failed DB writes on this mount has caused the application crash. Every

[2018-03-23 13:32] yudaykiran commented on #601
From the recent tests that have been performed, it has been identified that 1GB of RAM for the Minions might not be enough to run the pods. It might result in pods getting evicted and getting restarted. The minimum configuration for the Minions has been updated to 2 GB now for all the new Vagrantfiles. It is recommended to increase the Minion RAM size to 2GB and above in the Vagrantfile in order f

[2018-03-23 13:38] ksatchit commented on #1156
The cockroachDB setup with OpenEBS PV described here https://github.com/openebs/openebs/tree/master/k8s/demo/cockroachDB has been tested with OpenEBS vers. 0.5.1

[2018-03-23 14:42] ksatchit commented on #1101
@nsathyaseelan , can you please share the logs of the application, volume controller & replica pods ? Also, how many nodes did the vagrant-based cluster have ?

Please check the following:

- If the vagrant has a minimum of 2G of memory on the nodes
- If there were any network loss/delays observed between the pods (app-ctrl, ctrl-rep)

In all probability, the volume have been remounted as RO, caus

[2018-03-23 18:14] ksatchit commented on #1011
@nsathyaseelan , can you point to the vagrantfile where this issue was seen? This seems to be an issue with the pod network.

Refer:
- https://github.com/kubernetes/kubernetes/issues/50356
- https://github.com/kubernetes/kubernetes/issues/44298

[2018-03-24 03:58] ksatchit opened #1376 "Enhance the oebs_update.sh script to support more usecases"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- Today, the oebs_update.sh (which upgrades the data plane OR OpenEBS volume) takes the PV name as argument and patches the controller & replica deployments corresponding to it. However, this works only in the default namespace.

- Also, there are a couple of manual steps needed before executing this script :
   - Deployin

[2018-03-24 04:03] ksatchit commented on #1376
Please consider the above with this issue : https://github.com/openebs/openebs/issues/1222

[2018-03-24 05:39] AmitKumarDas commented on #1356
https://github.com/openebs/maya/pull/285

[2018-03-24 06:08] AmitKumarDas commented on #1376
@ksatchit Will it be good to have a script or .go program to patch a volume deployment with something below:
[code]

Care needs to be taken that ensure existing nodeAffinity is present in not modified.
So the patch has to merge above options.

Above modularity ensures that the update script can be done via kubectl update/kubectl patch

[2018-03-24 06:40] #1310 closed

[2018-03-24 06:46] AmitKumarDas commented on #1356
Will be fixed as part of https://github.com/openebs/openebs/issues/1318

[2018-03-24 06:56] AmitKumarDas commented on #1196
fixed in #1310

[2018-03-24 06:56] #1196 closed

[2018-03-24 06:59] ksatchit commented on #1376
Thanks for the comments @amitd. Using the method we are using in 0.6 to maintain replica nodeaffinity here is a good idea. It will remove the need to do cordon steps.

[2018-03-24 07:04] ksatchit commented on #1376
Thanks for the comments @AmitKumarDas. Using the method we are using in 0.6 to maintain nodeaffinity in this script is a good idea. It will remove the need to do cordon steps.

[2018-03-24 08:57] yudaykiran commented on #56
This was an earlier implementation of vagrant where kubeadm init was pulling the kubernetes images from google repos, with the new implementation of vagrant, we are using customized boxes which are pre-packaged with all the kubernetes images and the failure of vagrant up during these image pulls is taken care of.

[2018-03-25 23:58] #1132 closed

[2018-03-25 23:58] #1219 closed

[2018-03-26 00:11] ksatchit commented on #64
Here are some steps to resize an existing hard drive:

- https://medium.com/@phirschybar/resize-your-vagrant-virtualbox-disk-3c0fbc607817

Here are steps to add an additional *persistent* disk to the vagrant VM:

- https://github.com/kusnier/vagrant-persistent-storage

[2018-03-26 00:32] ksatchit commented on #158
FYI: The Vagrantfiles here https://github.com/openebs/openebs/tree/master/k8s/vagrant bring up the K8s cluster of desired version. The OpenEBS CI applies the operator on this cluster using kubectl or helm using these ansible roles:

- https://github.com/openebs/openebs/tree/master/e2e/ansible/roles/k8s-openebs-operator
- https://github.com/openebs/openebs/tree/master/e2e/ansible/roles/k8s-openebs-

[2018-03-26 00:53] ksatchit commented on #218
Couple of observations:

- This seems to have been fixed by https://github.com/kubernetes/kubernetes/pull/48480. So please try with later version of the vagrantfiles (1.8.2>)

- All the vagrantfiles have a 2GB memory for master & 1GB memory for nodes. It is commonly observed that the bring-up OR subsequent deployments/load fails with this configuration. The minimum memory allocated for the nodes s

[2018-03-26 00:58] ksatchit commented on #243
A sample ansible test where an application is deployed with openebs storage and a simple I/O-test is performed on it is available here:

- https://github.com/openebs/openebs/tree/master/e2e/ansible/playbooks/hyperconverged/test-k8s-percona-mysql-pod

The cassandra loadgen job is available here:
- https://github.com/openebs/openebs/blob/master/k8s/demo/cassandra/cassandra-loadgen.yaml

[2018-03-26 01:07] ksatchit commented on #279
The EFK (which definitely seems the more popular solution for kubernetes) specifications are available here:

- https://github.com/openebs/openebs/tree/master/k8s/demo/efk

However, there are some users still interested in Logstash. The following content should help with bringing this up:
- https://crondev.com/elk-stack-kubernetes/

[2018-03-26 01:15] ksatchit commented on #282
Reference : https://linode.com/docs/applications/containers/deploy-minio-on-kubernetes-using-kubespray-and-ansible/

[2018-03-26 01:24] ksatchit commented on #308
The vagrantfile should consist of triggers to check if the cluster is in proper condition, i.e., required services are running and all nodes are in READY state.

[2018-03-26 01:37] ksatchit commented on #537
The Wordpress + MySQL YAML spec references are available here : https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

[2018-03-26 01:44] ksatchit commented on #602
A troubleshooting section has to be added with these details here: https://docs.openebs.io/docs/devsolutions.html

[2018-03-26 01:54] ksatchit commented on #834
References : https://github.com/kahkhang/kube-linode

[2018-03-26 02:16] ksatchit commented on #1014
The document asks to launch an **interactive** cockroachdb instance & invoke the sql client (**sql --insecure**)

[code]

This doesn't need any update IMO. Please let us know if you feel otherwise.

[2018-03-26 02:24] ksatchit commented on #1127
These steps have to be added into both the k8s-masters & k8s-hosts bring up procedure.

[2018-03-26 02:27] #880 closed

[2018-03-26 02:27] #1101 closed

[2018-03-26 02:28] #1144 closed

[2018-03-26 02:41] ksatchit commented on #1301
This content needs to be added to the troubleshooting section in : https://docs.openebs.io/docs/onpremise.html

[2018-03-26 06:26] #544 closed

[2018-03-26 10:02] #1135 closed

[2018-03-26 11:11] #282 closed

[2018-03-26 13:41] kmova opened #1379 "Rename the maya-volume-exporter to maya-exporter"
The volume statistics are currently exported to prometheus via docker image *openebs/m-exporter*. The source code for this is located in https://github.com/openebs/maya/tree/master/cmd/maya-volume-exporter.

The functionality for m-exporter is being enhanced to export metrics related to storage-pool and in the future it could be extended to other components of CAS solutions.

This issue tracks the

[2018-03-26 17:09] muratkars opened #1380 "[FOSSA] review maya license policy flags"
@muratkars commented on [Fri Mar 23 2018](https://github.com/openebs/maya/issues/286)

[FOSSA](http://fossa.io) has found issues in this repo:

 - **POLICY_FLAG:** gem+racc$1.4.14
 - **POLICY_FLAG:** gem+mime-types$1.25.1
 - **POLICY_FLAG:** gem+hpricot$0.8.6
 - **POLICY_FLAG:** gem+rdoc$4.3.0
 - **POLICY_FLAG:** git+github.com/spf13/cobra$a1f051bc3eba734da4772d60e2d677f47cf93ef4

Generated by [FO

[2018-03-26 17:11] muratkars opened #1381 "[FOSSA] Review jiva license policy flag"
@muratkars commented on [Mon Mar 26 2018](https://github.com/openebs/jiva/issues/43)

[FOSSA](http://fossa.io) has found issues in this repo:

 - **POLICY_FLAG:** pip+directio$1.2

Generated by [FOSSA](http://fossa.io) on 03/26/2018

Reported by FOSSA user: muratkars

---

@muratkars commented on [Mon Mar 26 2018](https://github.com/openebs/jiva/issues/43#issuecomment-376233120)

This dependency i

[2018-03-27 11:13] ksatchit opened #1383 "Jiva volume is mounted as RO upon replica restart in a single replica configuration"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

A jiva volume replica restart caused by a chaos tool (chaoskube) resulted in the volume being remounted as RO at the client - on a single-replica setup, i.e., the PV consisted of a controller and one replica pod.

The replica was seen to be restarted with 60s and was also scheduled back on the same node (the other node in

[2018-03-27 19:15] #459 closed

[2018-03-27 20:35] ksatchit opened #1387 "OpenEBS jiva volume continues to accept reads even after disk loss (simulated)"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

A disk failure/loss was simulated on a single-replica OpenEBS volume by performing a truncate command on the sparse file (volume-head-000.img) in the node where the replica was scheduled. Reads (via dd from the *client* node) on the volume were seen to continue on the iSCSI target - though the Controller logs showed that t

[2018-03-27 22:46] agustinvinao commented on #1245
Do you have any plans to support ReadwriteMany? some timeline?

[2018-03-28 03:11] gkGaneshR opened #1388 "Setup cstor-pool unit testing in pod"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened:**
Unit tests for cstor-pool-mgmt required zfs, zpool binaries.

**What you expected to happen:**
Run unit tests inside pod, by copying openebs/maya with the latest commit, install golang on top of cstor-base image(containing zpool, zfs binaries).

**Anything else we need to kno

[2018-03-28 05:12] kmova commented on #134
This is fixed in K8s 1.10:
- https://github.com/kubernetes/features/issues/498
- https://github.com/kubernetes/features/issues/499

[2018-03-28 05:12] #134 closed

[2018-03-28 06:20] kmova opened #1389 "Enhance OpenEBS Volumes to include volume topology constraints"
The Volume Topology feature in K8s helps with scheduling the Pods on the nodes where the Volume is provisioned. The PVs can be set with nodeAffinity that describe the set of nodes or racks or fault zones from which the Volume can be accessed.

In K8s 1.10 - the support is for local PVs, where local PVs are manually created and are assigned the nodeAffinity values. When Pods are created, with a PVC

[2018-03-28 09:31] #243 closed

[2018-03-28 11:40] dargasudarshan opened #1390 "Enhance CentOS vagrant file to enable ssh during vagrant up."
## Is this a BUG REPORT or FEATURE REQUEST?
- Modify CentOS vagrant file so as to enable ssh during vagrant up.
- This is required for ansible test framework, which does ssh to nodes to perform test tasks.
- This task is currently being done as a manual step before kick starting ansible framework.

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**

[2018-03-28 21:03] muratkars opened #1393 "Submit a PR to IBM Cloud Charts Helm Repository for OpenEBS chart"
This step is requested by IBM.

Submission should include values-metadata file.
IBM Cloud Charts Helm Repository uses additional metadata (values-metadata.yaml). This metadata is used to augment the value.yaml to drive ICP UI for configuration of the Helm chart installation

[2018-03-28 21:06] muratkars commented on #1393
IBM Cloud Charts Helm Repository is [here](https://github.com/IBM/charts/blob/master/stable). And an example of [values-metadata](https://github.com/IBM/charts/blob/master/stable/ibm-jenkins-dev/values-metadata.yaml) .

[2018-03-29 07:36] yudaykiran opened #1394 "Create Vagrant Boxes for Ubuntu running Kubernetes 1.10.x Cluster."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
Currently, the integration test suite (app,functional e2e) triggered by jenkins as part of the OpenEBS CI only includes kubernetes clusters for 1.9.
**What you expected to happen**:
The test bed has to include Ubuntu kubernetes 1.10 clusters as well (the tests should preferably as a parallel

[2018-03-29 07:40] yudaykiran opened #1395 "Create Vagrant Boxes for CentOS running Kubernetes 1.10.x Cluster."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
Currently, the integration test suite (app,functional e2e) triggered by jenkins as part of the OpenEBS CI only includes kubernetes clusters for 1.9.
**What you expected to happen**:
The test bed has to include CentOS kubernetes 1.10 clusters as well (the tests should preferably as a parallel

[2018-03-29 08:55] utkarshmani1997 opened #1397 "mayactl volume stats displays incorrect data"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG

**What happened**:
`mayactl volume stats --volname <volname>` displays incorrect data about the replicas.
[code]
**What you expected to happen**:
It should show correct information
**How to reproduce it (as minimally and precisely as possible)**:
- Create volume with three replicas
- Run the command `mayactl volume stats --volname <vol>`

**Anythin

[2018-03-29 16:45] muratkars commented on #1295
Quick update for arm64 enthusiasts:
Made some progress here fixing dependencies and building deps for arm64 architecture. Instead of RPi 3 I've used a little bit more powerful SoC called [Le Potato](https://libre.computer/products/boards/aml-s905x-cc/) from Libre Computer.
Need more testing, and integration with OpenEBS build setup before I can send a PR, but in the meantime if you want to play wi

[2018-04-02 10:55] ksatchit commented on #1383
Fixed by https://github.com/openebs/jiva/pull/45

[2018-04-02 17:23] #1397 closed

[2018-04-02 23:59] #1264 closed

[2018-04-03 06:41] gkGaneshR opened #1401 "Create cstor-basetest-image for unit testing"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
Unit testing cstor-kubernetes interface requires cstor binaries and libraries.

**What you expected to happen**:
A new image that copies the required cstor binaries and libraries from /usr/local/bin and /usr/lib to the shared location, which can be picked by the host for unit

[2018-04-03 13:35] ksatchit commented on #1048
Pumba network delay :

[code]

[2018-04-03 15:41] #1401 closed

[2018-04-04 04:47] AmitKumarDas opened #1403 "Provide documentation for maya task workflow concepts via usecases"
This issue will provide documentation w.r.t maya task workflow concepts.

### To Be Filled With Details

[2018-04-04 05:00] AmitKumarDas opened #1404 "explore human understood e2e scripting - 'mysql resiliency test on openebs volume'"
[code]

[2018-04-04 06:53] prateekpandey14 opened #1406 "Update the openebs-operator with the openebs-snapshot-controller deployment"
1 .Add snapshot-operator yaml specs which are needed to deploy snapshot-controller and snapshot-provisioner as deployment.
2. Add snapshot yamls for creating snapshot, storage class, and new snapshot_claim

[2018-04-04 07:06] gkGaneshR opened #1407 "Unit testing for cstor-pool-mgmt"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
Unit testing for cstor-pool-mgmt needs to be done.

[2018-04-04 07:48] gkGaneshR opened #1409 "Separate cstor operations into new package"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
cstor-pool-mgmt should not keep cstor operations in controller.

**What you expected to happen**:
It must be separated.

[2018-04-04 10:38] dargasudarshan opened #1410 "Inducing a network delay of 20s leads File System to RO mode."
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT
 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
1. Deployed Percona application with Liveness probe with the probe performing continuous writes on the volume (In this case, DB writes are performed on percona).
2. Induced network delay of 2000ms(20s) on the controller pod using pumba network emulation tool.

3. Then observed tha

[2018-04-04 11:24] ksatchit commented on #1360
Fixed by https://github.com/openebs/maya/pull/295

[2018-04-04 11:24] #1360 closed

[2018-04-04 15:58] zarez opened #1414 "InfluxDB StatefulSet that will use OpenEBS as its persistent storage"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:
It will be nice to get yaml for InfluxDB

[2018-04-05 07:40] elangovanshanthi commented on #32
These are the steps to remove existing vagrant installation:
[code]
These are the steps to install vagrant 2.0.3:
[code]
**Ref Link :** https://www.vagrantup.com/downloads.html

[2018-04-05 12:02] dargasudarshan commented on #1204
This is seen to occur even when there are application restarts OR volume pod restarts as well.

[2018-04-05 13:09] kmova opened #1416 "using mayactl to perform snapshot operations doesn't update snap metadata in k8s"
FEATURE REQUEST

The mayactl snapshot operations went through a quite a churn.
- With 0.5.x  mayactl directly interacts with openebs volume controller/replica to perform the snapshot operations.
- With 0.6, the mayactl code changed to use the maya-apiserver to issues the snapshot commands to opeenbs volume controller/replica.

However, now the kubernetes itself provides the snapshot api and users

[2018-04-05 13:54] ksatchit opened #1417 "Enhance the e2e cleanup routines to check for volume pod deletion"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT

**What happened**:

- The current cleanup routines in e2e ansible playbooks delete the application specs (some check that the pvc are deleted). We need to mandate the check for pvc **and** corresponding pod deletions (there are possibilities that the pods might continue to exist even after pvc delete - refer issue #1204 )

**What you expecte

[2018-04-05 14:38] ksatchit opened #1418 "Create OpenEBS volume on Azure File storage backend"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

Azure Files offers fully managed file shares in the cloud that are accessible via the industry standard Server Message Block (SMB) protocol (also known as Common Internet File System or CIFS). Azure File shares can be mounted concurrently by cloud or on-premises deployments of Windows, Linux, and macOS.

OpenEBS volum

[2018-04-05 14:40] ksatchit commented on #1418
cc: @jay-wilson

[2018-04-05 15:31] gprasath opened #1419 "Create an e2e case to verify if the replica pod sticks with the scheduled node."
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

This will do the automated verification of node affinity applied to openebs replica deployment

[2018-04-06 08:27] gprasath opened #1421 "Create ansible role to delete openebs using helm chart"
## Is this a BUG REPORT or FEATURE REQUEST?

Feature request:
  It will be good to have openebs uninstall role using helm that can be reused in playbooks.

  In the cases wherever we use helm chart for deploying openebs, we can employ this role to uninstall it.

[2018-04-06 22:16] muratkars commented on #1295
My request to get a CI setup hw from WorksOnArm Project is approved.
https://github.com/WorksOnArm/cluster/issues/54

Next week I am hoping to spend some time with OpenEBS build team to unify amd64 and arm64 builds and get official builds started.

[2018-04-09 01:14] #1394 closed

[2018-04-09 01:14] #1395 closed

[2018-04-09 06:06] #277 closed

[2018-04-09 08:41] #1263 closed

[2018-04-10 04:33] AmitKumarDas opened #1424 "volume policy should enable user to delete data after corresponding volume is deleted"
Volume Policy should enable user to mark a volume to be purged of its data once the PV is deleted.

Above is a discussion at sig-storage.

[2018-04-10 05:34] AmitKumarDas commented on #1424
Kubernetes PR that tries to solve this via a Job:
- https://github.com/kubernetes-incubator/external-storage/pull/711/

[2018-04-10 12:56] AmitKumarDas commented on #1301
Upgrading the Vagrant & VirtualBox helped along with enabling BIOS settings on my laptop
- https://github.com/openebs/openebs/issues/30
- https://github.com/openebs/openebs/issues/32

[2018-04-10 12:56] #1301 closed

[2018-04-10 18:03] michalzxc opened #1426 "Add the way to restore persistent volumes from backup/copy"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - Assuming I have backup of  /var/openebs/ from nodes I would like to be able to restore persistent volumes after kubernetes cluster redeployment making sure at the same time that existing PVs will be claimed by pods in new cluster

On slack @kiranmova suggested using uuid:
 'the usecase for "If I

[2018-04-10 23:55] jpoon commented on #1335
(just passing by)

To elaborate on @yudaykiran's comment. hyperkube and virtual kubelet are two different things.

* hyperkube is the all-encompassing container that includes all of the k8s system services (kube-apiserver, kube-proxy, etc.) ref: https://github.com/kubernetes/kubernetes/tree/master/cluster/images/hyperkube
* virtual kubelet let's you use different runtimes (Azure Container Instance

[2018-04-11 03:07] #1419 closed

[2018-04-11 06:55] #1421 closed

[2018-04-11 07:03] umamukkara commented on #56
Closing based on the comment above

[2018-04-11 07:03] #56 closed

[2018-04-11 07:36] kiltum commented on #928
I meet the same error with minikube version: v0.25.2 and vmwarefusion driver

[2018-04-11 08:59] #1417 closed

[2018-04-11 10:11] umamukkara commented on #838
Prerequisites are documented now. Closing.

[2018-04-11 10:11] #838 closed

[2018-04-11 10:12] umamukkara commented on #843
Closing as per the above comment.

[2018-04-11 10:12] #843 closed

[2018-04-11 16:35] gkGaneshR opened #1428 "Add support for deleted event handler for cstor-pool-mgmt"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

In case of cstorpool or cstorVolumeReplica deletion, cstor-pool-mgmt should delete the corresponding pool/volume.

Reference:
https://github.com/openebs/openebs/issues/1366
https://docs.google.com/presentation/d/14pvUbfLG4wE8_NFI7uWOo8rdkqpt5eBh1N3djtASln0/edit#slide=id.p

[2018-04-11 16:47] gkganesh126 opened #1429 "Store imported pool-volume names locally"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

The pool/volume imported should need to be stored in CStorPool controller and checked if a volumereplica event comes. This is to differentiate imported pool-vol and user trying to create a volume that is already present(duplication).

Reference:
#1366
https://docs.google.com/presentation/d/14pv

[2018-04-11 16:51] gkganesh126 opened #1430 "Handle delay during pod termination and recreation"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

When a pod is terminated and recreated by deployment of cstor-pool, sufficient delay must be specified to avoid getting error - " pool already available"

Reference:
#1366
https://docs.google.com/presentation/d/14pvUbfLG4wE8_NFI7uWOo8rdkqpt5eBh1N3djtASln0/edit#slide=id.p

[2018-04-13 11:34] AmitKumarDas commented on #1426
Similar stuff in Kubernetes storage:
- https://github.com/kubernetes/kubernetes/issues/48677

[2018-04-16 02:04] ksatchit opened #1432 "OpenEBS volume controller crashes due to error in maya-volume-exporter sidecar"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- The Jiva controller crashes due to the following error in maya-volume-exporter sidecar

[code]
[code]
**What you expected to happen**:

- The volume should be created successfully

**How to reproduce it (as minimally and precisely as possible)**:

- Create volume with CI tag for all images (including maya-volume-exporter

[2018-04-16 05:23] eBeyond opened #1433 "Try to mount /dev/sdb which is not available."
BUG REPORT

**What happened**:
When I run the deployment of consul (stateful-set with PVCs) only 2 of three PVCs are created.

The failing one shows this error:
[code]
After waiting a while the following messeage is shown:
[code]
Within the logs I see:
[code]

I've installed openebs as described here: https://github.com/openebs/openebs
[code]
Then I've configured openebs-config.yaml:
[code]

The /

[2018-04-16 06:25] ksatchit commented on #283
While ansible-docgen is a promising tool, there are some limitations such as:

- https://github.com/starboarder2001/ansible-docgen/issues/32
- https://github.com/starboarder2001/ansible-docgen/issues/33

[2018-04-17 10:18] ksatchit opened #1435 "Provide mayactl CLI command to resize iSCSI volume"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- The iSCSI volume resize is supported from the Jiva storage engine (though resize of an iSCSI PV from Kubernetes is yet to be implemented. Refer: https://github.com/kubernetes/kubernetes/issues/59040)

- The following is an example ReST call to achieve this : `curl -H "Content-Type: application/json" -X POST -d '{"na

[2018-04-17 10:55] mahebbar opened #1436 "Deleting OpenEBS "PV" and "PVC" did not change the size of node available disk."
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
Deleting OpenEBS "PV" and "PVC" did not change the disk size of the node available .

**What you expected to happen**:
Disk size of the node should change.

**Anything else we need to know?**: (https://openebs-community.slack.com/archives/C3NPGQ6G3/p1523957315000195)

Hi @Pierre, currently, the disk files are retained on t

[2018-04-18 10:41] dpoison opened #1437 "couchbase stays in ContainerCreating state with openebs"
We have k8s 1.9.0 running cluster.

Trying to deploy couchbase with openebs.

Here is the status of pods.
[code]
openebs-operator.yaml
[code]
openebs-config.yaml

[code]
openebs-storageclasses.yaml
[code]
couchbase-statefulset.yaml
[code]
couchbase-service.yaml
[code]
While **kubectl get svc** out put is
[code]
**kubectl get sc**
[code]
**kubectl get pv**
[code]
**kubectl get pvc**
[code]
**kubect

[2018-04-18 11:51] ksatchit commented on #1437
Is the iSCSI initiator packages available on the nodes ?

[2018-04-18 12:04] dpoison commented on #1437
Yes @ksatchit   , iSCSI initiator package is available and in running state.

[2018-04-18 13:33] farhaanbukhsh commented on #1243
Hey, if no one is working on this issue I would like to take it up? Can some one guide me with this?

[2018-04-18 13:50] AmitKumarDas commented on #1243
Please check the existing doc and run through it. You may send a PR if you feel changes need to be done.

[2018-04-19 13:38] ksatchit commented on #1433
@eBeyond , the logs indicate that a device /dev/sdb is detected after iscsi discovery, but the subsequent fs format and mount fail with errors on the device.

Using a shared volume (such as a CIFS share mounted on all nodes in the /data path) might generally not be a good idea as each replica (on each node) will create a hostdir of the same name (PV Name) on that mount path - leading to overwrite.

[2018-04-19 13:50] ksatchit commented on #1437
@dpoison , how has the Kubernetes cluster been setup, is the kubelet running in a container ? Also, can you try using the logger here to collect the pod & system logs ? (https://github.com/openebs/litmus/tree/master/logger)

[2018-04-20 13:51] ronakpandya7 commented on #1437
Hello @ksatchit,
Thanks for the reply.

When we execute couchbase-0 describe :

[code]

maya apiserver  logs

[code]

openebs-provisioner logs

[code]

[2018-04-20 14:35] ksatchit commented on #1437
The maya-apiserver & provisioner logs look OK. Which is why the PV is created successfully.  Typically, this points to an inability to find the iSCSI initiator (is the iscsiadm available in $PATH ?)

`MountVolume.WaitForAttach failed for volume "pvc-b8b8f133-449f-11e8-9e0e-9c8e992d4ab8" : executable file not found in $PATH`

[2018-04-20 14:52] ronakpandya7 commented on #1437
But which path you are talking about for iSCSI initiator?
What is $PATH indicates for?

[2018-04-20 17:01] jaykhengar commented on #1437
Thanks for the explaination @ksatchit
Out K8s is running on CoreOS

echo $PATH output:
[code]

which iscsiadm output:

[code]

I have executed this commands on our hosts.
What should be ideal place of it? On host or in container? Actually we are not sure about it.
Please check the outputs.

[2018-04-23 22:09] muratkars commented on #1410
@dargasudarshan Did #1415 solve this issue? If yes, can we close this one?

[2018-04-24 08:00] ronakpandya7 commented on #1437
Hello All,

The issue is solved now :)

Thanks for the support

[2018-04-24 11:11] gkGaneshR commented on #1287
Use this cmd in mongo statefulset to access/create db:
       - "--bind_ip_all"
Do a curl of pod:mongo-0 ip:27017 and check if u can get mongo response.
Always use mongo-0 coz., it is primary pod and has both read/write access.
For this issue, https://github.com/openebs/openebs/issues/1287
install libmongoc from below step,
http://mongoc.org/libmongoc/current/installing.html#building-on-unix
use t

[2018-04-24 11:33] ChandanSagar opened #1443 "Installing OpenEBS using helm fails."
## Is this a BUG REPORT or FEATURE REQUEST?
 Bug report

If this is a BUG REPORT, please:
  - While installing OpenEBS using helm, installation fails. Once Helm configured and OpenEBS chart added, when we execute the command
helm install openebs-charts/openebs --name openebs --namespace openebs

we getting the error
Error: release openebs failed: namespaces "openebs" is forbidden: User "system:ser

[2018-04-24 11:51] ksatchit commented on #1437
Great, thanks for the update @ronakpandya7 !

The steps for coreos has to go into this doc : https://docs.openebs.io/docs/next/prerequisites.html#steps-for-configuring-and-verifying-open-iscsi

@mahebbar

[2018-04-25 22:10] zicklag commented on #1117
I ***really, really*** want this for Docker Swarm. :grinning:

[2018-04-26 08:42] mahebbar commented on #492
The updated
prerequisites are here https://docs.openebs.io/docs/next/prerequisites.html
minikube - https://docs.openebs.io/docs/next/supportedplatforms.html#native-kubernetes-and-minikube

[2018-04-26 08:43] #492 closed

[2018-04-26 08:53] mahebbar commented on #732
No mention of kubeminion in the new documentation.

[2018-04-26 08:53] #732 closed

[2018-04-26 09:39] mahebbar commented on #1032
Helm installation is now working.

[2018-04-26 09:39] #1032 closed

[2018-04-26 09:41] mahebbar commented on #1134
The steps are available at https://docs.openebs.io/docs/next/openshift.html

[2018-04-26 09:58] prateekpandey14 opened #1444 "Write Unit Test for Maya snapshot-API in external-storage"
FEATURE REQUEST

**What happened**:
Add unit test for Maya snapshot API used in external-storage to perform snapshot related CRUD operations against snapshot-feature [PR](https://github.com/openebs/external-storage/pull/37)

[2018-04-27 04:19] kmova opened #1445 "Update openebs helm installation configurable parameters"
OpenEBS helm documentation is a bit out of date from the openebs charts from kubernetes/stable in terms of the parameters that can configured.

openebs helm documentation:
https://docs.openebs.io/docs/next/installation.html#helm

kubernetes/stable openebs charts documentation
https://github.com/kubernetes/charts/tree/master/stable/openebs

Also review this document for typos -- like "stable" is sp

[2018-04-28 16:55] umamukkara opened #1446 "User request: Include an example for MongDB with XFS"
## Is this a BUG REPORT or FEATURE REQUEST?
Documentation enhancement
FEATURE REQUEST

User (Jezek Jan) is looking for an example documentation for using OpenEBS for MongoDB where the filesystem used is XFS.

The issue is being opened to request addition of one more example documentation covering the above scenario

[2018-05-02 07:29] gprasath opened #1448 "Application pod results in error/crashloopbackoff state after resizing the volume."
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

The sequence of steps followed to resize the volume is as follows:

1. Deploy OpenEBS
2. Create label for a node.
3. Deploy percona with node selector applied.
4. Obtain iSCSI target details.
5. Unmount the file system
6. Logout the iscsi target
7. Get the id of the volume
8. Modify the volume size
9. Restart the replicas
10. Expand the fil

[2018-05-02 13:12] ChandanSagar commented on #1446
To use MongoDB with XFS please follow the below steps.

Install openebs.
Attach disk to the node.
Follow the below commands to attach the disk.
[code]

Add the below entries to operator.yaml
[code]

Also make the below changes  in image section openebs-provisioner.
[code]

In openebs-storageclasses.yaml update the below entries in the openebs-mongodb section.
[code]

Follow the below commands to s

[2018-05-05 13:30] exocode commented on #1446
@chandankumar4 is it necessary to use the `prateek14/openebs-k8s-provisioner:ci` image? I dont like black boxes in my production env.

I try to combine your suggested setup to merge it with the nginx example here:

http://stytex.de/blog/2018/01/29/deploy-kubernetes-hetzner-cloud-openebs/

I extracted the commands from the nginx example here:
https://gist.github.com/exocode/111891053d4cd9a546d6a96f

[2018-05-05 15:38] exocode commented on #1446
by the way, maybe the openebs storageclass example (https://github.com/openebs/openebs/blob/master/k8s/openebs-storageclasses.yaml) should be updated, because, mongodb HIGHLY SUGGESTS to run mongodb on XFS.

https://docs.mongodb.com/manual/administration/production-notes/

[2018-05-05 15:40] loxy opened #1450 "Use OpenEBS with Rancher 2 and PostgreSQL"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT (not sure)

**What happened**:
I wanted to use openebs in rancher 2.0 to provision a PV for postgresql. The cluster is running fine. I installed openebs though the operator. This works. If I install postgresql (through helm, used a storage class of openebs-standard) the postgres container won't start remaining in status ContainerCreating.

Th

[2018-05-06 04:49] prateekpandey14 commented on #1446
@exocode PR has been raised for this issue [here](https://github.com/openebs/external-storage/pull/38), which is in review process.
The image @ChandanSagar mentioned above is built from the code changes in PR for our initial test purpose, once the changes got merged there will be new release for provisioner.

[2018-05-07 07:54] prateekpandey14 opened #1454 "Enhance openebs-provisioner to support file-system other then Ext4"
FEATURE REQUEST

**What happened**:
Openebs provisioner supports ext4 as default fstype for provisioning  openebs volume.
But for some application for example MongoDB, they strongly recommended to run on XFS.
https://docs.mongodb.com/manual/administration/production-notes/#mongodb-on-linux

**What you expected to happen**:
SystemAdmin should be able to change the supported fstype and benchmark it.

[2018-05-08 15:47] ksatchit opened #1459 "(XFS) Application restart post snapshot revert results in failed volume mounts"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- An application restart performed post a snapshot revert operation (using mayactl) on the openebs volume is seen to result in the application pod not running/stuck in ContainerCreating state due to an inability to mount the volume upon getting scheduled. In the current example :

  - Application: MySQL
  - fsType: XFS

-

[2018-05-08 15:57] ksatchit opened #1460 "Application data recovery steps from troubleshooting guide fails with XFS-based volumes"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- Node failures on a multi-node cluster caused applications using xfs-formatted openebs volumes to enter error states (CrashLoopBackOff)

- The troubleshooting steps (available here: https://docs.openebs.io/docs/next/tsgpvs.html#CrashLoopBackOff) were attempted, but failed with following logs on the node (Step 6), leading

[2018-05-08 16:09] ksatchit opened #1461 "Applications pods using xfs formatted volumes stuck in "Terminating" stage post delete"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

Application pods (formatted with xfs), especially ones which have undergone restarts OR are in error states (ErrImagePull, CrashLoopBackOff, RunContainerErrors) due to failed liveness probes OR lost volumes are stuck in "Terminating" state upon deletion of the deployments, with following logs observed:

[code]
[code]

**Wh

[2018-05-09 06:08] ksatchit opened #1463 "mayactl should be available as a CLI command outside the m-apiserver pod"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Currently, the mayactl CLI is only available inside the m-apiserver pod. However, consider these following issues/feature requests:

   - https://github.com/openebs/openebs/issues/1209 (Provide volume replica mode details in mayactl)
   - https://github.com/openebs/openebs/issues/1300 (mayactl should show if volume

[2018-05-09 18:29] kmova commented on #760
Hi @kiryteo, yes, the code was refactored to use COBRA based CLI and the new link is at https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volumes_list.go

If you are looking at helping with fixing the linting issues, use the latest report here: https://goreportcard.com/report/github.com/openebs/maya

[2018-05-09 19:31] kiryteo commented on #760
@kmova Thanks.!

[2018-05-10 10:17] utkarshmani1997 opened #1465 "Enhance the maya-exporter to expose the metrics from the cstor"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

**What happened**:
Currently maya-exporter only exposes the metrics from the Jiva (storage engine). It does not exposes the metrics from the cstor (other storage engine)
**What you expected to happen**:
maya-exporter should also expose the metrics from cstor.
**Anything else we need to know?**:
no

[2018-05-10 12:14] aniket2098 commented on #847
How do I go about solving this?

[2018-05-10 13:10] nsathyaseelan commented on #847
@aniket2098 The information to execute this operator is available here:
https://docs.openebs.io/#using-openebs-operator

This file is a collection of Kubernetes objects. Applying some of the objects like ClusterRole etc., require admin context. It will be great if some information is provided running this operator.yaml in different RBAC contexts. Also notes on the type of Kubernetes objects used a

[2018-05-10 14:34] sourabh1031 commented on #1146
Hello i would like to work on this issue.Can you please provide little more explanation that what is expected from me like which file i need to track and what i should do

[2018-05-11 11:18] utkarshmani1997 opened #1466 "Add flag in maya-exporter to use cstor as storage engine."
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:
maya-exporter does not support cstor as of now.
**What you expected to happen**:
maya-exporter should have options to select the storage engines according to their choice from command line.
- `./maya-exporter -e=cstor`
**How to reproduce it (as minimally and precisely as possible)**:
* `./maya-exporter --help`

**Anyt

[2018-05-11 22:13] xiafan68 commented on #1334
maybe you need to check the setting of you calico. In my case, the default value of property CALICO_IPV4POOL_CIDR happens to be the subnet of my host network.

[2018-05-13 04:35] itaditya commented on #378
@vharsh I'll work on this one

[2018-05-13 05:14] itaditya commented on #378
the hooks are placed in `.git/hooks` directory but this directory is not managed by git, means it's not sent to github so how do you suggest to share these hooks to others.

[This](https://www.viget.com/articles/two-ways-to-share-git-hooks-with-your-team/) looks like a good way

[2018-05-13 05:42] ksatchit commented on #1460
Potential alternate recovery steps include :+1:
- Unmount filesystem
- Perform `xfs_repair <filesystem_location` on the SCSI device where fs is located
- If errors are fixed/no more errors are found, remount fs and restart application

[2018-05-13 06:01] sachinmukherjee opened #1468 "Typo in README file"
Under the <b>License</b> section of README file, there is a missing space between open source.
Current scenario `opensource` it should be changed to `open source`.

[2018-05-13 15:44] vipulgupta2048 commented on #312
I have some experience using Vagrant and Vagrant files. I am taking this up. Will report on the same.
Confirming details
Indent - 4 spaces right
Tabs or spaces. My editor can fix that too, if you like.

[2018-05-13 19:48] vipulgupta2048 opened #1474 "Fix Mix-Indent"
## BUG REPORT: Fix mix-indentation in openebs/k8s/lib/vagrant/test/k8s/1.6/Vagrantfile
**What happened**:
Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs/k8s/lib/vagrant/test/k8s/1.6/Vagrantfile, as part of #summerhack contribution.

**What you expected to happen:**
I will review the file and standardize indentation to 2 tabs.

**How to reproduce i

[2018-05-14 05:06] dinukadesilva opened #1476 "Fix mix-indent in openebs/k8s/vagrant/1.6/Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs/k8s/vagrant/1.6/Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent: openebs/k

[2018-05-14 06:22] Danfeng-Wang opened #1478 "When deleting the pvc, I found that 4 new pods are created. And there is some err information in these new pods log!"
**When deleting the pvc, I found that 4 new pods are created. And there is some err information in these new pods log!**
@kmova
**issue describe:**
1、 I created a pvc like this:

_- 1. kind: PersistentVolumeClaim
- 2. apiVersion: v1
- 3. metadata:
- 4.   name: openebstest-claim
- 5.   annotations:
- 6.     volume.beta.kubernetes.io/storage-class: openebs-standard
- 7. spec:
- 8.   accessModes:
- 9

[2018-05-14 06:32] Danfeng-Wang commented on #1478
Sorry, the pvc yaml is here:

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: openebstest-claim
  annotations:
    volume.beta.kubernetes.io/storage-class: openebs-standard
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20G

[2018-05-14 06:47] gkGaneshR opened #1479 "cstor-pool struct definition and autogen"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

CStorPool custom resource spec, containing cstor spec and status must be defined.

Reference: https://docs.google.com/document/d/1Q5W3uHktHa-vOm8oGp-3kpAQ3V1tvyk5AYmxxtf57Rg/edit?usp=sharing

[2018-05-14 06:47] Danfeng-Wang commented on #1478
@amitd
 [root@localhost openebs]# kubectl describe pod registry-pd
Error from server (NotFound): pods "registry-pd" not found
[root@localhost openebs]# kubectl describe pod registry-pd -n wangdanfeng5
Name:         registry-pd
Namespace:    wangdanfeng5
Node:         10.196.36.164/10.196.36.164
Start Time:   Mon, 14 May 2018 14:43:14 +0800
Labels:       <none>
Annotations:  <none>
Status:       Ru

[2018-05-14 07:26] AmitKumarDas commented on #1478
These are the additional info from @Danfeng-Wang env:

[code]
[code]
These pods are created after the pvc is deleted.

[2018-05-14 07:29] dinukadesilva opened #1480 "Fix mix-indent in openebs/k8s/vagrant/1.7/Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs/k8s/vagrant/1.7/Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent: openebs/k

[2018-05-14 07:33] Danfeng-Wang commented on #1478
maya api server logs:
461a462,473

[2018-05-14 08:05] utkarshmani1997 opened #1481 "Add support for exporting metrics from cstor"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

**What happened**:
maya-exporter does not support exporting metrics from cstor.
**What you expected to happen**:
maya-exporter should export metrics from the cstor too.
**Anything else we need to know?**:
Design docs: https://docs.google.com/document/d/129WTzCtHz5bYBDUa8QVJFFwa2YMn2jJhWYnWcJJNPiQ/edit

[2018-05-14 08:11] utkarshmani1997 opened #1482 "Add command iostats in istgtcontrol to fetch the volume metrics"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

**What happened**:
istgtcontrol does not have any commands to display performance and capacity stats and other details.
**What you expected to happen**:
istgtcontrol should display the volume metrics
**How to reproduce it (as minimally and precisely as possible)**:
you can run the `istgtcontrol --help`

**Anything else we need to know?*

[2018-05-14 08:18] utkarshmani1997 commented on #1481
Duplicate issue, so closing it. ref : #1465

[2018-05-14 08:18] #1481 closed

[2018-05-14 11:36] ksatchit commented on #1454
Fixed via https://github.com/openebs/external-storage/pull/38

[2018-05-14 11:36] #1454 closed

[2018-05-14 11:38] ksatchit commented on #1446
Fixed via https://github.com/openebs/external-storage/pull/38 & https://github.com/openebs/openebs/pull/1457

[2018-05-14 11:38] #1446 closed

[2018-05-14 11:48] Swarnalatha-K opened #1487 "Typo in install openebs using helm charts document."
**What happened**:
Instead of stable/openebs table/openebs is specified in the below command in openebs helm installation document.
helm install -f values.yaml table/openebs --name openebs --namespace openebs

**What you expected to happen**:
specify stable in helm install command.
helm install -f values.yaml stable/openebs --name openebs --namespace openebs

https://docs.openebs.io/docs/next/inst

[2018-05-14 15:19] sachinmukherjee opened #1488 "Typo in NOTICE file"
BUG REPORT

**What happened**: missing space between `Open Source` in NOTICE.md file. Current scenario it is written like this `OpenSource`.

**What you expected to happen**: It should be changed to this `Open Source`.

[2018-05-14 15:20] #1468 closed

[2018-05-14 15:42] Raghav17 commented on #1488
Doing It.

[2018-05-14 16:06] sachinmukherjee commented on #1488
@utkarshmani1997 Please review it.

[2018-05-14 20:28] sayak119 commented on #312
Hi I am taking up 1.7.5 indentation. Will submit a PR soon.

[2018-05-14 22:12] sayak119 opened #1491 "Fix mix indentation in openebs/k8s/lib/vagrant/test/k8s/1.7.5/Vagrantfile"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:

With respect to Issue #312 , the indentation in openebs/k8s/lib/vagrant/test/k8s/1.7.5/Vagrantfile is mixed and it should be standardized.

**What you expected to happen**:

Standardize the indentation.

**How to reproduce it (as minimally and precisely as possible)**:

openebs/k8s/lib/vagrant/test/k8s/1.7.5/Vagrantfile h

[2018-05-15 04:09] Danfeng-Wang commented on #1478
For your information, amit!

Neo!

2018-05-14 15:26 GMT+08:00 Amit Kumar Das <notifications@github.com>:

[2018-05-15 09:11] ranjithwingrider opened #1494 "Change the image name in operator yaml under charts to 0.5.4 from 0.5.3"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG

 If this is a BUG REPORT, please:
Since 0.5.4 is released, whenever user is applying openebs-operator.yaml, it should fetch new release(0.5.4) . Currently  "https://openebs.github.io/charts/openebs-operator.yaml" is showing 0.5.3 image.

**What happened**:
while applying https://openebs.github.io/charts/openebs-operator.yaml , it is showing 0.5.3 I

[2018-05-15 11:16] ranjithwingrider opened #1495 "Add "openebs.io/fstype:ext4" as default entry in storage class"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG

If this is a BUG REPORT, please:
From 0.5.4 onwards, introduced xfs  also a supported fstype. By default it is ext4. So we should now put "openebs.io/fstype:ext4" in the storage class yaml  as a default entry. And put the supported fstypes in the documentation also.

**What happened**:
Since we are supporting multiple fstype in OpenEBS, we should ma

[2018-05-15 18:03] Rupeshiya commented on #1249
@utkarshmani1997  what you are expecting from contributors to do in issue #1249 ?.
Please explain it cleraly.

[2018-05-15 18:28] Rupeshiya opened #1496 "Update CONTRIBUTING.md"
## FEATURE REQUEST
In CONTRIBUTING.md instead of "Open Source" ,it is written like "OpenSource".

**What happened**:
In CONTRIBUTING.md ,"Open Source" is written like "OpenSource".

**What you expected to happen**:
It should be like "Open Source".
**How to reproduce it (as minimally and precisely as possible)**:
Just updation  is required.

[2018-05-15 18:53] Rupeshiya commented on #685
@kmova  What you are expecting from contributors to fix this issue?

[2018-05-15 20:35] Rupeshiya commented on #242
@kmova  can not find VSM ,can you please explain what does it stands for?

[2018-05-15 21:04] Rupeshiya commented on #346
@kmova  what types of terms should be there in glosaary ?
Is it like control plane ,Data plane ,CI workflow , and overview ?
Or something else ?

[2018-05-15 23:54] #1480 closed

[2018-05-16 02:28] sachinmukherjee opened #1498 "Typing errors in CONTRIBUTING-TO-DEVELOPER-DOC.md file"
BUG REPORT

**What happened**: There are some tying error in CONTRIBUTING-TO-DEVELOPER-DOC.md file which resides inside the directory contribute. Few periods are missing at the end of the sentences and some unecessary periods are given in the heading section.

**What you expected to happen**: Remove those which are unecessary and add those which are required.

[2018-05-16 02:47] #1488 closed

[2018-05-16 03:53] AmitKumarDas commented on #187
@Rupeshiya Kubernetes resources are installed by applying the specifications mentioned in each directory at https://github.com/openebs/openebs/tree/master/k8s/demo. Each directory showcases a demo i.e. launching an application using openebs on a kubernetes cluster.

A contributor needs to update the README on the steps to uninstall the application and other resources that were applied as part of t

[2018-05-16 05:44] mahebbar commented on #237
@Rupeshiya You can add it under Setup - Installation section -"Installing OpenEBS on Bare Metal"

[2018-05-16 05:51] Rupeshiya commented on #1496
@utkarshmani1997  Please review #1497

[2018-05-16 06:10] Rupeshiya commented on #242
@NisantaSahoo  Please close this issue since VSM is not there in the provided link

[2018-05-16 07:10] Rupeshiya commented on #187
@hammadmashkoor  resources means here pods, replicasets....?

[2018-05-16 07:59] Rupeshiya commented on #1496
@NisantaSahoo  please review this #1497

[2018-05-16 08:44] utkarshmani1997 commented on #1249
@Rupeshiya you need to edit [this](https://github.com/openebs/openebs/blob/master/k8s/openebs-monitoring/README.md) file and provide the details to how to deploy kube-stat-metrics.

[2018-05-16 10:14] AmitKumarDas commented on #187
Yes... @Rupeshiya These are known as Kubernetes resources (otherwise known as Kind).

[2018-05-16 10:48] #1494 closed

[2018-05-16 10:52] #1491 closed

[2018-05-16 11:30] gkGaneshR opened #1501 "Add cStorPool and cStorVolumeReplica commands"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

cStorPool and cStorVolumeReplica (zpool, zfs) commands which are being used in cstor-pool-mgmt sidecar must be available on github, as ready-to-use commands for open-source community/debugging.

[2018-05-16 13:57] Rupeshiya commented on #559
@kmova should i update slack badge with 1/821 users ?.
help please @utkarshmani1997 .

[2018-05-16 14:35] yudaykiran opened #1502 "Remove the dependency of vagrant-triggers plugin for the Vagrantfiles"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
ENHANCEMENT

The current Vagrantfiles rely on the vagrant-triggers plugin to perform some operations during the bootup of the VM instances. As of version 2.1.0 and above of vagrant, the triggers feature is integrated into the core of vagrant. The enhancement would be update the code to work with vagrant core tr

[2018-05-16 19:55] RajatGarg97 commented on #1498
Hi guys
I am on this issue.

[2018-05-17 02:43] sachinmukherjee commented on #1474
Is this issue is open?

[2018-05-17 03:36] sachinmukherjee commented on #1502
@yudaykiran please tell me which file i have to change and what changes should I make?

[2018-05-17 06:02] utkarshmani1997 commented on #1209
@ksatchit this feature is merged in this PR, so close this issue.

[2018-05-17 09:32] Satvik08 commented on #1177
I would like to work on this @NisantaSahoo will this be OK?

[2018-05-17 09:50] NisantaSahoo commented on #1177
Yes, @Satvik08 please go ahead !

[2018-05-17 10:08] #1476 closed

[2018-05-17 11:00] gkGaneshR opened #1509 "Fix travis-CI failure across master, v0.5, cstor-feature-integration branches"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

**What happened**:
Travis CI fails for openebs/maya repo for branches - master and cstor-feature-integration now and then.
Following is the error,
[code]

**What you expected to happen**:
Travis fix applied for v0.5 branch https://github.com/openebs/maya/pull/303 needs to be analyzed and applied acr

[2018-05-17 11:25] vijaysinghrawat1 opened #1510 "Unable to create volume snapshot using mayactl, when the application is deployed in its own namespace."
**What happened**:

Even though volume is present, Unable to create snapshot

[code]
[code]
- kubectl get nodes

[code]

- kubectl get pods --all-namespaces

[code]

- kubectl get services
[code]

- kubectl get sc
[code]
- kubectl get pvc
[code]
- kubectl get pvc
[code]

[2018-05-17 17:14] vipulgupta2048 commented on #1474
@sachinmukherjee No, as you the PR related to them have already been merged. Closing it.

[2018-05-17 17:14] #1474 closed

[2018-05-17 17:29] vipulgupta2048 commented on #685
@NisantaSahoo I am taking this up seems simple enough. I have worked on improving documentation before.

[2018-05-17 18:05] vipulgupta2048 commented on #685
**Need Clarification**
In the contribute directory
1. Design - <still working on that>
2. General - A .gitkeep file is for empty directories, this directory isn't empty and I don't why is a pdf there.
3. Hack - I don't get the use of these shell scripts, a person contributing should know how to git, at least or should learn to while contributing why have shell scripts to do it.

[2018-05-17 18:28] palash16 commented on #312
Hi I want to work on 1.8.2 indentation standardization

[2018-05-17 18:39] Kanav-7 commented on #312
I would like to work on 1.8.8 indentation.

[2018-05-17 19:05] palash16 opened #1512 "Is this a BUG REPORT or FEATURE REQUEST?"
## BUG REPORT

 BUG REPORT

**What happened**:

With respect to Issue #312 , the indentation in openebs/k8s/lib/vagrant/test/k8s/1.8.2/Vagrantfile is mixed and it should be standardized.

**What you expected to happen**:

Standardize the indentation.

**How to reproduce it (as minimally and precisely as possible)**:

openebs/k8s/lib/vagrant/test/k8s/1.8.2/Vagrantfile has mixed indentation and its

[2018-05-17 19:14] garuna-m6 opened #1513 "BUG REPORT : Partial solution for issue #312"
##  BUG REPORT

A BUG REPORT

**What happened**:
With respect to Issue #312 , the indentation in openebs/k8s/lib/vagrant/test/k8s/1.9.4/ubuntu/Vagarantfile is mixed and it should be standardized.

**What you expected to happen**:
Better Indentation

**How to reproduce it (as minimally and precisely as possible)**:
openebs/k8s/lib/vagrant/test/k8s/1.9.4/ubuntu/Vagarantfile is not as per proper inde

[2018-05-18 01:13] sachinmukherjee opened #1516 "typing error in gokit.md file"
BUG REPORT

**What happened**:
Some typing error in gokit.md file which resides under the directory `/documentation/techbits/gokit.md`. Current scenario `maya-apiserver` should be changed to `maya-api-server`.

**What you expected to happen**:
Add missing hyphens between `api` and `server`.

[2018-05-18 01:54] sachinmukherjee opened #1518 "typing error in quick-start-with-vim-go.md file"
BUG REPORT

**What happened**:
- Inappropriate heading tags in quick-start-with-vim-go.md file which resides inside the directory `documentation/techbits/`. Current scenario most of the heading tags are `##` it should be changes to `###` to maintain the flow.

**What you expected to happen**:
Replace the`##` with `###` heading tags.

[2018-05-18 03:26] sachinmukherjee commented on #1518
@utkarshmani1997 please review

[2018-05-18 05:46] vipulgupta2048 commented on #1498
@NisantaSahoo @utkarshmani1997 I have fixed this issue and many other issues in relation to the contribution docs in my PR #1511

[2018-05-18 05:47] vipulgupta2048 commented on #1496
@NisantaSahoo @utkarshmani1997 I have fixed this issue and many other issues in relation to the contribution docs in my PR #1511

[2018-05-18 09:20] gkGaneshR commented on #1509
Even after making the changes to helm-tiller of m-apiserve,r independent of minikube and k8s version, travis fails with following error:
[code]

[2018-05-18 11:22] gkGaneshR opened #1521 "Docker image tags in cstor-feature-integration must be different"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
When all branches of openebs/maya use same image tag there is a chance of clash between docker images in docker hub.

**What you expected to happen**:
Need to have separate ci images for each branches. This fix should be generic fix across branches, that should auto-pick bran

[2018-05-18 12:27] ajeshbaby commented on #1446
The release has been made available. (0.5.4)
Details -- [Changelog](https://docs.openebs.io/docs/next/changelog.html)

[2018-05-18 18:09] dinukadesilva opened #1523 "Fix mix-indent in openebs/k8s/vagrant/1.10.0/centos/Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs/k8s/vagrant/1.10.0/centos/Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent:

[2018-05-18 18:09] dinukadesilva opened #1524 "Fix mix-indent in openebs/k8s/vagrant/1.10.0/ubuntu/Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs/k8s/vagrant/1.10.0/ubuntu/Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent:

[2018-05-18 18:39] vipulgupta2048 commented on #685
@prateekpandey14 @utkarshmani1997  please assign me to this issue and answer the questions.

[2018-05-18 18:53] dinukadesilva opened #1528 "Fix mix-indent in openebs/k8s/vagrant/1.9.4/ubuntu/Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs/k8s/vagrant/1.9.4/ubuntu/Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent:

[2018-05-18 18:53] dinukadesilva opened #1529 "Fix mix-indent in openebs/k8s/vagrant/1.9.4/centos/Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs/k8s/vagrant/1.9.4/centos/Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent:

[2018-05-19 08:51] vipulgupta2048 commented on #449
@kmova I am not sure, I get you. What kind of reference spec do we need here. A tutorial? or some blog-post.

[2018-05-19 08:53] vipulgupta2048 commented on #666
@kmova  @NisantaSahoo  I am taking this up. Please assign me to this issue.

[2018-05-19 08:57] vipulgupta2048 commented on #666
Should I edit this instead - https://github.com/openebs/openebs-docs/blob/newstaging/docs/quickstartguide.md

[2018-05-19 09:00] prateekpandey14 commented on #666
Yes @vipulgupta2048.

[2018-05-19 09:11] vipulgupta2048 commented on #666
Thanks @prateekpandey14  I am on it.

[2018-05-19 09:35] kmova commented on #666
@vipulgupta2048, We are deprecating the openebs charts. https://github.com/openebs/openebs/pull/1532

The instructions should now be modified to include instructions from https://github.com/kubernetes/charts/tree/master/stable/openebs.

Please check if the below doc fixes the issue.
https://docs.openebs.io/docs/next/installation.html#helm

[2018-05-19 13:10] vipulgupta2048 commented on #666
@kmova  From what I understand if the charts have been depreciated, by #1532 then the instruction given here are wrong, https://docs.openebs.io/docs/next/installation.html#helm and hence needs to be changed by replacing them with https://github.com/kubernetes/charts/tree/master/stable/openebs.

Correct me if I am wrong.

[2018-05-19 14:08] devshiva619 commented on #1495
@ranjithwingrider Hey I would like work on this.

[2018-05-19 15:34] kmova commented on #666
You are right. Let us update with the instructions provided in https://github.com/kubernetes/charts/tree/master/stable/openebs

[2018-05-19 17:16] kmova commented on #1516
The software component is called - maya-apiserver or m-apiserver. This is not a typo.

[2018-05-19 17:16] #1516 closed

[2018-05-19 17:29] kmova commented on #1518
@sachinmukherjee - can you please verify and close this issue if #1511 has made the expected changes.

[2018-05-19 19:50] vipulgupta2048 commented on #666
@kmova Please review the https://github.com/openebs/openebs-docs/pull/208

[2018-05-20 13:31] #685 closed

[2018-05-20 15:48] utkarshmani1997 commented on #1432
@ksatchit @AmitKumarDas we have changed the name from maya-volume-exporter to maya-exporter. So this might be the reason for the failure. This issue can be resolved by changing "maya-volume-exporter" to "maya-exporter" in command field in exporter.yaml file which gets created by maya-apiserver.

[2018-05-21 11:55] vipulgupta2048 commented on #1103
@kmova I'll be taking this up. I have some experience with CentOs. I am looking to go for a little distro-hopping and documentation clean-up along the way.
Do clarify what GCE is?

[2018-05-21 13:10] gkGaneshR opened #1539 "Upload yaml files for cstor-pool"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

The deployment yaml and custom resource yaml files for cstorpool  need to updated.

[2018-05-21 13:50] kmova commented on #1103
The intent here is to get a Kubernetes Cluster up and running on Google Cloud Platform (GCP) using Cent OS Google Compute Engine (GCE) instances. After K8s is running, install OpenEBS via helm and demonstrate launching one of the Stateful Pods.

[2018-05-21 21:28] vipulgupta2048 commented on #1103
That's a mouthful to be very honest, I will be referring to a lot of googling and the documentation that I just fixed to see how to accomplish the above sentence. Will report back on it.

[2018-05-22 07:13] Swarnalatha-K opened #1541 "Scheduling OpenEBS volume using the "taint-toleration" CAS policy results in pending replicas"
BUG REPORT

**What happened**:
Replicas are going pending state in volume taint and toleartion policy.
- Tainted 2 nodes with key and value.
- Deployed openebs operator with openebs namespace.
- Added tolrations in the volume-policy and deployed volume-policy yaml.
- Modified storage class name in test-pvc yaml and deployed.
- Replica pods are going to pending state.

**What you expected to happen

[2018-05-22 07:15] Swarnalatha-K commented on #1541
[code]

[2018-05-22 07:16] Swarnalatha-K commented on #1541
**Describe pod logs:**
[code]

[2018-05-22 10:44] #1529 closed

[2018-05-22 10:45] #1524 closed

[2018-05-22 10:47] #1523 closed

[2018-05-22 17:45] #1513 closed

[2018-05-22 19:01] sonasingh46 commented on #1463
What I can understand from the above issue is :
1. If mayactl needs to be available somewhere outside the maya api server pod then there must be a middleware live on that somewhere context that can really understand the mayactl and forward the request to maya server.
I dont think writing any code for maya server would help that.
Or
2. Do we want mayactl to be understood by k8s itself so as to forw

[2018-05-22 19:27] prateekpandey14 commented on #1463
@sonasingh46 best option : add the `apiserver` flag which will have maya-apiserver address  for example `mayactl --apiserver=http://apiserverIP:5656 <cmd>`

[2018-05-22 20:48] sonasingh46 commented on #1463
@prateekpandey14
But how does mayactl execute...
For example to use kubectl CLI  we should have the kubectl binary which then in turns communicates to the API.
We will be needing mayactl binary to execute, right?

[2018-05-23 07:00] sch00lb0y commented on #1358
`mayactl` has to show stateful sets running on `openebs.io/provisioner-iscsi` right ?
`

[2018-05-23 08:00] #1512 closed

[2018-05-23 09:30] gkGaneshR opened #1543 "Add support reading and writing status from cStorPool and cStorVolumeReplica CRs"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

The cStorPool and cStorVolumeReplica CRs need to have a status field and the corresponding operations of pool and volume should have to be taken care by the cstor-pool-mgmt sidecar.
Reference: https://github.com/openebs/openebs/issues/1366
Design doc:
https://docs.google.com/document/d/1Q5W3uHk

[2018-05-23 09:33] yudaykiran commented on #1502
@sachinmukherjee , it is applicable to all the vagrant files under https://github.com/openebs/openebs/tree/master/k8s/vagrant directory. If you can make it work for one file then you can reuse the same changes for the other files too.

[2018-05-23 13:41] gkGaneshR opened #1545 "Update cStorVolumeReplica autogen code with latest design spec"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

The cStorVolumeReplica spec and autogen code needs to be updated with latest design spec which includes status.

Reference: https://docs.google.com/document/d/1Q5W3uHktHa-vOm8oGp-3kpAQ3V1tvyk5AYmxxtf57Rg/edit?usp=sharing
openebs/openebs#1543

[2018-05-23 14:01] gprasath opened #1546 "Ansible playbook for OpenEBS installation using stable helm chart."
FEATURE REQUEST

Rather than using kubectl to install OpenEBS components, use openebs stable helm charts. Use the stable openebs chart from K8s page to install OpenEBS.

https://github.com/kubernetes/charts/tree/master/stable/openebs

[2018-05-25 10:57] prabhatkumarthakur commented on #928
The same issue had been reported in kubernetes/minikube which is not yet closed.
https://github.com/kubernetes/minikube/issues/1990

[2018-05-25 12:50] #791 closed

[2018-05-25 18:22] vipulgupta2048 commented on #312
@kmova Pretty sure, there is no vagrant file left to be fixed now. Do consider the issue for closing.

[2018-05-25 20:21] surana-mudit commented on #1502
@yudaykiran, I want to work on this issue and I think that by removing "vagrant-triggers" from the following line, the issue will be resolved. Am i right? Should I go ahead with this.

required_plugins = %w(vagrant-cachier vagrant-triggers)

[2018-05-26 05:22] kmova opened #1550 "Provide a descriptive error message when replica can't access the underlying filesystem"
A couple of issues have been reported recently related to Volume Replica going into CrashLoopBackOff state when the mounted directory (/openebs) doesn't have write permissions. The error message looks like:

time="2018-05-25T09:35:16Z" level=fatal msg="Error running start replica command: open /openebs/revision.counter: invalid argument"

Related Issues:
- https://github.com/openebs/jiva/issues/52

[2018-05-26 05:57] kmova commented on #631
A details design for creating snapshots and clone of OpenEBS (Jiva) Volumes is available at: https://docs.google.com/document/d/1okB86blZsFhrCkJQXnpN40UH6bucc6nDbtkv-ejyxAE/edit#

[2018-05-26 06:00] #631 closed

[2018-05-26 12:27] kmova commented on #1162
As per the recent proposals, when the Snapshot API is implemented as a CSI plugin - there will be support for determining the right plugin.

[2018-05-27 14:04] yudaykiran commented on #1502
@surana-mudit , I am not sure if removing just:

required_plugins = %w(vagrant-cachier vagrant-triggers)

will fix the problem, but you can go ahead and try it out, but make sure the code works the same way before and after removing dependency. Untested code will not be accepted.

[2018-05-28 05:17] ashishranjan738 commented on #1463
mayactl should automatically get the mapi address if running anywhere inside the cluster . I want to work n that .
cc: @kmova @prateekpandey14 @AmitKumarDas .

[2018-05-28 05:50] ashishranjan738 commented on #117
@kmova I want to work on this issue . Can you give me more details how to achieve this ?

[2018-05-28 07:07] #1496 closed

[2018-05-28 11:54] utkarsh2102 commented on #1518
Is it still open?
@kmova, can I take this up?

[2018-05-28 18:03] sch00lb0y commented on #857
I'll work on this. :)

[2018-05-29 04:49] kmova commented on #857
@sch00lb0y -- there is some ongoing work of refactoring the way objects are provisioned with templates. The early design for this is available at: https://docs.google.com/document/d/1SC2U1Xwn0wKQAhwmQNa7QIZjyWICGl_dgxu63ASndUI/edit

Please check if your work is inline with this approach.

cc: @AmitKumarDas

[2018-05-29 05:55] #1443 closed

[2018-05-29 07:44] yudaykiran commented on #1146
@sourabh1031 , The intention is get a Kubernetes Cluster up and running on Rancher OS and deploy OpenEBS on that cluster. Verify that OpenEBS is properly deployed and document the steps followed to achieve the same. It could initially start of with raising a PR for a README.md file containing the steps.

[2018-05-29 09:09] ksatchit opened #1555 "Maya travis builds should push branch specific "ci" images"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- Currently, the travis builds for the `openebs/maya` repository push images (m-apiserver, m-exporter etc.,) with "ci" tag from all branches (mainly v0.5 & master - which are the functional branches).

**What you expected to happen**:

- We need to push branch-specific ci images. `image:ci` should be dedicated for the mast

[2018-05-29 10:34] #1546 closed

[2018-05-29 17:35] JohnnyQQQQ opened #1557 "PV in RO mode after 1/3 Fails"
## Is this a BUG REPORT

**What happened**:
If a node fails and 2/3 of the replicas are still there, the pv gets into read-only mode

**What you expected to happen**:
If more than 51% of the replicas are online, the pv should not go into read-only mode

**How to reproduce it (as minimally and precisely as possible)**:
Create a statefulset with a pvc using openebs with 3 replicas in a 3 node cluste

[2018-05-30 06:02] debck opened #1559 "Wrong URL address to contibuting.md"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT

**What happened**:
 The Link to contributing to openEBS( here: https://github.com/openebs/openebs/tree/master/community)
is wrong.
**What you expected to happen**:
The link should follow  proper URL address.
**How to reproduce it (as minimally and precisely as possible)**:
just updation.

[2018-05-30 06:24] gprasath opened #1561 "ctrl svc not getting deleted during volume deletion if one of the replicas is in pending state."
BUG REPORT.

Deleting the volume should clear the associated controller service. In 3 node cluster, tried to create volume with 4 replicas.

[code]

[code]

[code]

Deleted the volume by,

[code]

Even after volume deletion, the associated ctrl svc could be seen.

[code]

Note: This is seen with 0.5.3 image.

[2018-05-30 09:06] dargasudarshan opened #1563 "Percona application pod goes to 'CrashLoopBackOff' on failing one replica out of 3 replica's."
## Is this a BUG REPORT or FEATURE REQUEST?
BUG Report

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
1. I have k8s setup with 1 master and 3 minions (Version 1.8.8)
2. Deployed percona application with Liveness probe check.
3. Percona application created with 3 replicas and running.
4. Then delete one of the replica to check the quorum condition reliability i.e >51% of replica's

[2018-05-30 11:30] dargasudarshan commented on #1563
[replica_quorum_failure_test.log](https://github.com/openebs/openebs/files/2053683/replica_quorum_failure_test.log)
Attaching the stern logs.

[2018-05-30 12:39] JohnnyQQQQ commented on #1563
Seems to be the same as #1557

[2018-05-31 10:49] dargasudarshan commented on #1510
Unable to create volume snapshot using mayactl, when the application is deployed in its own namespace.

[code]
[code]
maya api-server logs:
[code]

[2018-05-31 11:55] prabhatkumarthakur opened #1565 "File system created on jiva volume corrupted after resizing."
File system is seen to be having errors after resizing it. The steps followed are as follows:
1) Deploy OpenEBS
2) Deploy percona application.
3) Obtain iSCSI target details.
4) Unmount the file system
5) Logout the iscsi target
6) Get the id of the volume by using the below command.
[code]
7) Modify the volume size by using the below command.
[code]
8) Restart the replicas
9) Login to the target

[2018-05-31 12:05] prabhatkumarthakur commented on #1565
Adding the controller and replica logs:
**Ctrl logs**:
[code]
**Rep logs:**
[code]

[2018-05-31 12:17] prabhatkumarthakur commented on #1565
**Environment**:
- kubectl get nodes
[code]

- kubectl get pods --all-namespaces
[code]

- kubectl get services
[code]
- kubectl get sc
[code]

- kubectl get pv
[code]

- kubectl get pvc
[code]
- OS (e.g. from /etc/os-release):
[code]

- Kernel (e.g. `uname -a`):
[code]
- Install tools:
[code]

[2018-05-31 12:28] gprasath opened #1566 "Ansible role to deploy openebs using helm chart fails, if tiller clusterrolebinding and service account already exists in the cluster"
**What happened**:
If tiller service account and the clusterrolebinding already exists in the k8s cluster, ansible role to install openebs fails.

**What you expected to happen**:
Install openebs successfully using the ansible playbook

Need to check if those resources are already existing in the cluster. If it is, need to skip the creation tasks and proceed further to deploy openebs.

[2018-05-31 16:32] gprasath opened #1569 "Implement ansible role to uninstall openebs using helm chart."
- Create the ansible role to uninstall openebs using helm chart.
- Include that role in a playbook .
- Delete the resources created before deploying openebs
- verify successful deletion

[2018-06-01 03:28] #1528 closed

[2018-06-01 03:49] dinukadesilva commented on #837
@NisantaSahoo could you help me to understand this issue a bit more.

1) i cannot find where the API exist and how should i get it up

[2018-06-01 03:57] omi10859 commented on #563
Not found with error docs not found
http://openebs.readthedocs.io/en/latest/

[2018-06-01 04:56] prateekpandey14 commented on #837
@dinukadesilva sorry, my bad. Updated the issue description with code reference details.

[2018-06-01 05:13] dargasudarshan commented on #1383
@payes @ksatchit This issue is seen again in CI E2e run. Jiva volume is going to Read-Only State upon restart of single replica.

[code]

[2018-06-01 05:37] dargasudarshan commented on #1383
[single_replica_failure_test.log](https://github.com/openebs/openebs/files/2061127/single_replica_failure_test.log)
Attaching Stern logs

[2018-06-01 06:14] ashishranjan738 opened #1570 "Remove hardcoding of status in volume_stats and volume_info file in mayactl cli"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:Till now the status of the volume is hardcoded to either online or offline .

**What you expected to happen**:The status should give real status of the pod .

[2018-06-01 06:15] ashishranjan738 commented on #1570
I am working on this

[2018-06-01 07:57] ashishranjan738 commented on #472
i want to work on this issue

[2018-06-01 11:06] #1570 closed

[2018-06-01 12:25] debck opened #1571 "CI overview diagram doesn't show"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT

**What happened**:
  The openebs CI overview workflow image ( here : https://github.com/openebs/openebs/blob/master/contribute/CONTRIBUTING-TO-CI-AND-E2E.md ) does not open.
**What you expected to happen**:
It should show the proper image.
**How to reproduce it (as minimally and precisely as possible)**:
Just updation of URL.

*

[2018-06-01 14:01] ashishranjan738 commented on #1248
I want to work on this issue

[2018-06-01 15:34] kmova opened #1573 "migration path for moving from openebs/charts to kubernetes/stable chart"
OpenEBS can now be installed with kubernetes stable/openebs helm charts. In near future, we would like to deprecate the openebs/charts repository and just make use of the stable/openebs helm chart. During this deprecation, there has to be a clear documented migration steps for user to move towards stable/openebs charts.

[2018-06-01 16:26] kmova opened #1574 "mayactl volume info - output is a bit messed up when one replica is down."
When a volume is running with 3 replicas and one of the replica's is down - the output of the mayactl info shows the status of the offline against a incorrect replica.

This happens if the this offline replica happens to be the one that is listed as a center pod in kubectl get pods like below:
[code]

For the above case, the mayactl volume info shows the following output.
[code]

[2018-06-01 16:41] kmova opened #1575 "Add integration tests to helm charts"
Add automated tests to the helm charts that can be run within the CI systems.

Currently when there are changes to the helm charts, a set of manual tests have to be executed by the developer to verify that installation went through smoothly. Or will have to depend on the e2e tests to catch the errors.

[2018-06-01 17:07] prateekpandey14 commented on #472
Yes its already fixed. Closing now

[2018-06-01 17:07] #472 closed

[2018-06-01 18:50] #1406 closed

[2018-06-01 22:06] utkarsh2102 commented on #1249
@kmova, I'd like to take up the issue.
If inferred correctly, I'll have to add deployment metric table to the README.md file.
I'll do the needful, if so?
CC: @NisantaSahoo

[2018-06-01 22:07] utkarsh2102 commented on #1518
@NisantaSahoo @kmova, is the issue still open?
If yes, can I take up the task?

[2018-06-01 22:45] utkarsh2102 commented on #1445
Hi @kmova,
Even though the PR for this issue has been duly submitted and merged, the [openebs helm documentation](https://docs.openebs.io/docs/next/installation.html#helm) still seems to have some periods missing and the position of the chart seems to be incorrect when viewed.
How about I make the required changes by editing the changes in the above document?
CC: @NisantaSahoo

[2018-06-02 04:26] kmova commented on #1445
sounds good @utkarsh2102, please feel free to go ahead and make the improvements.

[2018-06-02 04:29] kmova commented on #1249
@utkarsh2102 : this is more of exploring the installation and monitoring of openebs components with kube-metrics server.

[2018-06-02 04:30] kmova commented on #1518
@utkarsh2102 .. Can you post on the above PR requesting to take this up. You can wait for a day for them to respond and take it up.

[2018-06-02 04:31] kmova commented on #563
Thanks @omi10859 Would be great to have your help in cleaning up the files. The new documentation is available at https://docs.openebs.io

[2018-06-02 07:35] utkarsh2102 commented on #1518
Sure, would do as asked :)

[2018-06-02 07:36] utkarsh2102 commented on #1445
Sure. Would submit a PR by EOD :)

[2018-06-02 07:48] omi10859 commented on #563
https://github.com/openebs/openebs/pull/1576

[2018-06-02 08:15] ashubly25 commented on #352
@NisantaSahoo please elaborate all the contents

[2018-06-02 08:24] omi10859 opened #1577 "Moving documentation from openebs/k8s to openebs/Documentation"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

**What happened**: Moving documentation from openebs/k8s to openebs/Documentation the commit made to this folder are picked up by readthedocs and hosted https://docs.openebs.io

**Anything else we need to know?**: more information: https://github.com/openebs/openebs/issues/563

**Files needed to be moved**: I will keep commenting on thi

[2018-06-02 16:05] utkarsh2102 opened #1578 "Broken link in the README.md file."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT.

**What happened**: Broken link in ../community/README.md in the last line, i.e. "Contributing to OpenEBS".

**What you expected to happen**: The expected behaviour was to be redirected to the CONTRIBUTION.md file. However because of the wrong path added in the source file, the page shows a 404 error, instead.

**How to reproduc

[2018-06-02 16:06] utkarsh2102 commented on #1578
I'd like to take this issue as is opened by me.
Kindly assign the same to me.
CC: @kmova; @NisantaSahoo.

[2018-06-03 19:54] utkarsh2102 commented on #1445
@kmova,
A PR has been made for the issue discussed above.
Kindly check the same.

[2018-06-03 20:17] utkarsh2102 opened #1580 "Broken link in git-cheatsheet.md"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT

**What happened**: Broken link in ../contribute/git-cheatsheet.md in the last line, i.e. "Contributing to OpenEBS".

**What you expected to happen**: The expected behaviour was to be redirected to the CONTRIBUTION.md file. However because of the wrong path added in the source file, the page shows a 404 error, instead.

**How to

[2018-06-03 20:32] utkarsh2102 commented on #1580
@kmova,
Please review the same.
I've made a PR as discussed.

[2018-06-04 05:07] #1578 closed

[2018-06-04 05:10] #1580 closed

[2018-06-04 05:15] #1559 closed

[2018-06-04 06:30] prateekpandey14 opened #1582 "[UT] - pkg/task/fetch_test.go"
Write Go Unit test for methods/functions in https://github.com/openebs/maya/blob/master/pkg/task/fetch.go file.

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference on how we write UT](https://

[2018-06-04 06:33] prateekpandey14 opened #1583 "[UT] - pkg/task/identity_test.go"
Write Go Unit test for methods/functions in https://github.com/openebs/maya/blob/master/pkg/task/identity.go file

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference on how we write UT](https:

[2018-06-04 08:22] prateekpandey14 opened #1585 "UT - pkg/task/meta_test.go"
Write Go Unit test for methods/functions in https://github.com/openebs/maya/blob/master/pkg/task/meta.go file
Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference on how we write UT](https://git

[2018-06-04 08:23] prateekpandey14 opened #1586 "UT - pkg/task/patch_test.go"
Write Go Unit test for methods/functions in https://github.com/openebs/maya/blob/master/pkg/task/patch.go file

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference on how we write UT](https://g

[2018-06-04 11:16] ashishranjan738 commented on #1300
i am working on this

[2018-06-04 12:05] gprasath opened #1587 "Remove snapshot-operator and storage class deployment tasks in kubectl_snapshot playbook."
The snapshot-controller pod and snapshot-promoter storage class are created as part of openebs-operator deployment in 0.6. Need to modify the playbook https://github.com/openebs/openebs/blob/master/e2e/ansible/playbooks/feature/snapshots/kubectl_snapshot/test-kubectl-snapshot.yml according to this.

[2018-06-04 12:10] utkarsh2102 commented on #774
Hi @kmova @NisantaSahoo,
Is this issue open?
If yes, I'd like to take the same.

[2018-06-04 14:00] atulabhi opened #1589 "pvc-replica not able to register with controller."
## Is this a BUG REPORT or FEATURE REQUEST?

 **BUG REPORT**

**What happened**:
 I have upgraded  openebs from 0.5.1 to 0.5.4. And the monitoring is not enabled in my storage class so
 I was trying to enable it by using the following patch yaml.
[code]
 After applying the yaml I got a new controller and my old controller was also running .
![image](https://user-images.githubusercontent.com/300147

[2018-06-04 17:06] kmova commented on #1306
This issue is being tracked under #1318

[2018-06-04 17:06] #1306 closed

[2018-06-04 17:10] kmova commented on #1311
Tracked under #1318

[2018-06-04 17:10] #1311 closed

[2018-06-04 17:26] kmova commented on #1167
The maya-apiserver has been updated to use a feature gate flag to switch between using CAS Templates vs legacy provisioning. There is no need to change the provisioner. https://github.com/openebs/maya/pull/346

[2018-06-04 17:26] #1167 closed

[2018-06-04 17:31] kmova commented on #820
An early version of the devstats for openebs is available at https://devstats.openebs.io

[2018-06-04 17:31] #820 closed

[2018-06-04 17:37] kmova commented on #1305
Fixed in master by:
https://github.com/openebs/maya/pull/299
https://github.com/openebs/maya/pull/311

[2018-06-04 17:37] #1305 closed

[2018-06-04 19:11] ashishranjan738 commented on #1502
I want to work on this issue

[2018-06-05 06:55] yudaykiran commented on #1502
@ashishranjan738 , sure you can take it up. Please raise a PR.

[2018-06-05 15:15] #1518 closed

[2018-06-06 09:20] #1209 closed

[2018-06-06 09:37] slalwani97 opened #1597 "Enhance volume stats"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
Feature Request

**What happened**:
* volume_stats file uses tabwriter to display volume stats.

**What you expected to happen**:
* volume_stats file should use template along with tabwriter to display volume stats.

[2018-06-06 09:49] kmova commented on #28
The initial prototype was done with nomad till 0.3 and post 0.4, the containers are orchestrated with Kubernetes. The upgrade strategies follow the rolling-upgrade in most cases.

[2018-06-06 09:49] #28 closed

[2018-06-06 15:09] #1539 closed

[2018-06-07 05:48] jmreicha commented on #1295
Any update on this?  I'm working on an ARM cluster for my home lab and would love to get a storage solution like OpenEBS working.

[2018-06-07 06:04] prateekpandey14 opened #1600 "Mayactl volume/snaposhot operation across the namespaces"
With current scenario mayactl volume and snapshot operations doesn't work if the openebs volume is in application namespace error out `volume not found`, because maya-apiserver looks in default namespace whenever we request for volume-info.

To fix this we have to inform Apiserver to look into that particular namespace and can be done via passing  the namespace info from mayactl with http request.

[2018-06-07 06:31] #1046 closed

[2018-06-07 06:33] kmova commented on #440
In 0.6, jiva now supports a copy based clone feature using the following commits:
https://github.com/openebs/jiva/pull/49

[2018-06-07 06:33] kmova commented on #440
Keeping this issue open to track the reference based snapshots (in cStor) that are efficient with space consumption.

[2018-06-07 06:37] #1345 closed

[2018-06-07 06:38] #1211 closed

[2018-06-07 08:47] #1289 closed

[2018-06-07 09:02] #1566 closed

[2018-06-07 18:51] kmova commented on #1373
Fixed by https://github.com/openebs/openebs/pull/1532

[2018-06-07 18:51] #1373 closed

[2018-06-08 11:51] #1545 closed

[2018-06-08 12:54] sambhav2612 commented on #1498
Refer #1598

[2018-06-11 08:00] #1510 closed

[2018-06-11 08:00] #1600 closed

[2018-06-11 12:32] vijaysinghrawat1 commented on #1510
👍

[2018-06-12 07:21] slalwani97 opened #1604 "Enhance volume snapshot list"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
Feature Request

* Add template to list snapshot details.
* Add Parent and Children details as new columns in snapshot list
* Add unit test cases in snapshot_test file

**Anything else we need to know?**:

[2018-06-12 07:50] gkGaneshR opened #1605 "Upload yaml files for cStorVolumeReplica"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST
The custom resouce yaml for cStorVolumeReplica(cvr) needs to be updated.

[2018-06-13 04:14] #1574 closed

[2018-06-13 10:08] gkGaneshR opened #1609 "Change entrypoint for cstor-pool container."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST
zrepl logs need not be written onto log file. It can be printed
on console and syslog package is also not required.

Reference: https://docs.google.com/document/d/1Q5W3uHktHa-vOm8oGp-3kpAQ3V1tvyk5AYmxxtf57Rg/edit?usp=sharing

[2018-06-13 13:59] gprasath opened #1610 "Snapshot creation failed when the volume is created in the non default namespace."
BUG REPORT

- Created volume in non default namespace and tried to created kubectl snapshot..
-The snapshot creation failed.

maya-apiserver looking for default namespace during snapshot creation rather than the specified volume namespace.

[code]

[2018-06-13 14:07] prateekpandey14 commented on #1610
Before creating snapshot , maya-apiserver get the desiredvolume info in default namespace if no namespace provided in request.
We have to add the namespace as per of snapshot-create request .

[2018-06-13 14:36] rgembalik opened #1611 "Replica not registering with controller after sudden node restart"
## BUG REPORT

**What happened**:
After sudden node resteart some of my pvc replicas cannot connect to controller.
One case (I left it for scientific purposes) won't listen on 3260 on controller. No errors are shown as of why that's the case. Replica has mounted `hostPath` and it is running on the same node.

**What you expected to happen**:
After such restart replica should recover, or I should b

[2018-06-13 15:09] kmova commented on #1611
@rgembalik - You must be hitting this issue https://github.com/openebs/jiva/pull/45

[2018-06-13 15:34] ksatchit opened #1612 "Node failures cause jiva replica on non-impacted nodes to crash"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- Node failures on a kubernetes cluster running OpenEBS volume is seen to cause  restart (crash) of jiva replicas on *other*, i.e., non-impacted nodes. Provided below is the panic received :

[code]

- Typically (most cases using the recommended 3-replica storage classes), this leads to *quorum violation* as, replica resch

[2018-06-13 15:51] ksatchit commented on #1612
[Replica.log](https://github.com/openebs/openebs/files/2098919/pprepl.log)

[2018-06-13 17:28] rgembalik commented on #1611
@kmova Maybe, but:
* For me restart of a controller (or replica for that matter) didn't do anything
* Controller's 3260 port isn't even listening
* Controller's API responds with an empty array when asked about replicas.

[2018-06-13 17:36] kmova commented on #1611
3260 gets opened only after a replica register's itself with the controller.

I agree when a replica is restarted, if we can get logs about replica attempting to connect with controller and its status would be good. ( cc @payes )

Just to eliminate the usuals: Can you check the kubectl describe pod <replica pod> to see if its ENV (clusterIP) is pointing to the corresponding kubectl get svc <pvc-..

[2018-06-13 19:19] rgembalik commented on #1611
@kmova There are repeating `POST /v1/register` calls on the controller - I'd assume that this is some sort of sign, that the replica tries to call the controller (please correct me if I am wrong). However, I am not sure why this call does not carry through to actually registering the replica.

And yes, the IP is the same in arguments and it points to the ClusterIP of the service, that seats in fro

[2018-06-14 03:55] dinukadesilva opened #1613 "Fix mix-indent in openebs\k8s\lib\vagrant\Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs\k8s\lib\vagrant\Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent: openebs\k

[2018-06-14 03:55] dinukadesilva opened #1614 "Fix mix-indent in openebs\k8s\lib\vagrant\test\Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs\k8s\lib\vagrant\test\Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent: open

[2018-06-14 03:55] dinukadesilva opened #1615 "Fix mix-indent in openebs\k8s\lib\vagrant\test\k8s\Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs\k8s\lib\vagrant\test\k8s\Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent:

[2018-06-14 03:55] dinukadesilva opened #1616 "Fix mix-indent in openebs\k8s\lib\vagrant\test\k8s\1.6\Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs\k8s\lib\vagrant\test\k8s\1.6\Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix inde

[2018-06-14 09:51] #1610 closed

[2018-06-14 10:46] dinukadesilva opened #1621 "Fix mix-indent in openebs\k8s\lib\vagrant\patch\Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs\k8s\lib\vagrant\patch\Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
I will review the file and standardize indentation to 2 spaces

**How to reproduce it (as minimally and precisely as possible)**:
Current file with mix indent: ope

[2018-06-14 12:09] #1615 closed

[2018-06-14 12:11] #1614 closed

[2018-06-14 12:12] #1613 closed

[2018-06-14 12:13] #1616 closed

[2018-06-14 12:19] #1621 closed

[2018-06-14 12:28] dinukadesilva opened #1623 "Fix mix-indent in openebs\k8s\demo\Vagrantfile"
## BUG REPORT

**What happened**:

Refer to open issue #312 , this is a branch issue to fix mix indentation specifically for openebs\k8s\demo\Vagrantfile, as part of #hackfest contribution.

**What you expected to happen**:
- Use two spaces per indentation level (aka soft tabs). No hard tabs.
- Align the parameters of a method call if they span more than one line. When aligning parameters is not a

[2018-06-14 12:42] #1587 closed

[2018-06-14 16:55] #1623 closed

[2018-06-14 17:36] kmova commented on #50
Closing this issue due to inactivity.

[2018-06-14 17:36] #50 closed

[2018-06-14 17:45] kmova commented on #52
The docs have been updated by the following PRs:
https://github.com/openebs/openebs/pull/1511
https://github.com/openebs/maya/pull/287

[2018-06-14 17:45] #52 closed

[2018-06-15 03:10] #792 closed

[2018-06-15 06:04] yudaykiran opened #1625 "Dynamic inventory generation for ansible hosts must include the ansible parameter "ansible_ssh_private_key_file" for hosts with key authentication."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
For hosts with private key authentication there should be a way to provide the path to the actual private key file to the hosts.
**What you expected to happen**:
The dynamic inventory generation code must include the ansible_ssh_private_key_file, in the hosts file as a way to provide the pat

[2018-06-16 08:03] yudaykiran commented on #1335
The kubernetes clusters being provisioned in AKS are now running the kubelet as a service by default. OpenEBS will get deployed without any issues w.r.t ISCSI connections. Hence closing this issue.

[2018-06-16 16:14] #1244 closed

[2018-06-16 17:01] #1604 closed

[2018-06-16 17:06] #1597 closed

[2018-06-18 08:33] #1409 closed

[2018-06-19 03:35] kmova commented on #1015
the implementation is tracked here; https://github.com/openebs/maya/tree/cstor-feature-integration

[2018-06-19 03:35] #1015 closed

[2018-06-19 03:40] kmova commented on #184
Taints and tolerations work without feature gate flags.

[2018-06-19 03:40] #184 closed

[2018-06-19 04:49] dargasudarshan commented on #1410
@payes Attaching the latest logs with 0.6.0-RC2.
[network_failure_test.log](https://github.com/openebs/openebs/files/2113847/network_failure_test.log)

[2018-06-19 09:03] dargasudarshan opened #1633 "PVC creation from the snapshot failed when application is deployed in different namespace."
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG Report
 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
 PVC creation from the snapshot failed when application is deployed in different namespace.
**What you expected to happen**:
 PVC creation from the snapshot should be successful when application is deployed in different namespace.
**How to reproduce it (as minimally and precisely

[2018-06-19 09:20] ksatchit commented on #143
Refer https://github.com/ansible/ansible/issues/30591

Closing this as all playbooks are now running with privilege escalation currently.

[2018-06-19 09:20] #143 closed

[2018-06-19 09:40] ksatchit commented on #1589
This is a duplicate of  https://github.com/openebs/openebs/issues/1084

[2018-06-19 09:42] prateekpandey14 commented on #1633
Change required b/c 'PersistentVolumeRef.Namespace contains' nil value which was used earlier to pass the namespace.

[code]
Retrieves the volume namespace from its VolumeSnapshotRef.Name, instead of PersistentVolumeRef.Namespace.

[2018-06-19 09:51] #1589 closed

[2018-06-20 13:00] vielmetti commented on #1295
Hi @muratkars @jmreicha I'm hopeful that there's an update here - let me know if there's anything I can do to help from the arm64 cluster side at Packet.

[2018-06-20 14:24] muratkars commented on #1295
Hi @vielmetti @jmreicha - Team is working on this. Currently, build and instructions provided [here](https://blog.openebs.io/arming-kubernetes-with-openebs-1-b450f41e0c1f) seems to be functional.
Once the 0.6 release is out, a new arm64 build will be released and we will focus back on getting it into CI run on packet and adding few more validation steps for arm64.

[2018-06-20 14:59] vielmetti commented on #1295
Thanks @muratkars ! Remind me what your CI infrastructure looks like? I want to make sure we have the right sort of resources ready.

[2018-06-21 03:20] AmitKumarDas commented on #1336
Further reference - https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

[2018-06-22 09:10] #1501 closed

[2018-06-22 16:38] kmova commented on #1450
Hit a similar issue with mongo db. The issues was with kubelet and node having different versions of open-iscsi.

Analysis Steps:
- the iscsiadm command error displays - kernel module not loaded, however -- lsmod from node and kubelet show that libiscsi_tcp module is loaded.
- iscsiadm command to login was failing from within kubelet but passing from node. jiva logs showed that, when logging in fr

[2018-06-24 13:42] harshvkarn commented on #308
facing same issue
Vagrant setup using  https://github.com/openebs/openebs/tree/master/k8s/vagrant/1.10.0
[code]

[2018-06-25 06:54] mahebbar commented on #508
Please check the generalized page at  https://v05-docs.openebs.io/docs/next/installation.html.

[2018-06-25 06:54] #508 closed

[2018-06-25 09:05] mayavuser opened #1638 "update github doc with different vagrant versions installations"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one:  FEATURE REQUEST

If this is a FEATURE REQUEST, please:
Currently it is installing vagrant version 1.6 . In github repo, we have several vagrant version files are included. Also some of latest OpenEBS features will work from 1.9.1 vagrant version. So we need to include the Vagrant file for 1.9.1 versions also.

**What happened**:
Update vag

[2018-06-26 11:13] mahebbar commented on #248
Closing this as this has been addressed.

[2018-06-26 11:13] #248 closed

[2018-06-26 11:14] #254 closed

[2018-06-26 11:18] #373 closed

[2018-06-26 11:20] #251 closed

[2018-06-26 13:17] kmova commented on #1312
this issue is fixed by https://github.com/openebs/maya/pull/343 which will be in 0.7 release.

[2018-06-26 23:25] DipanshKhandelwal opened #1642 "Improve formatting in README"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT

**What happened**: Formatting is not correct in some parts of [README](https://github.com/openebs/openebs/blob/master/README.md)

**What you expected to happen**: Formatting can be improved in [README](https://github.com/openebs/openebs/blob/master/README.md)

[2018-06-27 04:44] #242 closed

[2018-06-27 09:19] mahebbar commented on #602
Documentation available at https://staging-docs.openebs.io/docs/next/tsg_install.html#MinikubeStartError

[2018-06-27 09:19] #602 closed

[2018-06-27 09:25] slalwani97 opened #1644 "Update unit test cases of volume info file"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

* Update unit test cases of volume info file in volume_info_test.go file

[2018-06-27 09:31] ChandanSagar commented on #713
This has been updated in documents in the link below.
https://docs.openebs.io/docs/next/prerequisites.html#gke

[2018-06-27 09:34] #713 closed

[2018-06-27 10:40] mahebbar commented on #218
Documented at https://staging-docs.openebs.io/docs/next/tsg_install.html#KubeminionError

[2018-06-27 10:40] #218 closed

[2018-06-27 10:43] mahebbar commented on #321
Documented both issues in https://github.com/openebs/openebs/labels/status%2Fhacked-fix at the following doc URLs:

https://staging-docs.openebs.io/docs/next/tsg_install.html#MinikubeStartError
https://staging-docs.openebs.io/docs/next/tsg_install.html#KubeminionError

[2018-06-27 10:43] #321 closed

[2018-06-27 15:40] ev4ern commented on #1262
I got the same problem

[code]

[2018-06-27 15:52] ev4ern commented on #1262
[code]

[2018-06-28 01:59] ksatchit commented on #1134
Re-opening this issue as the referenced steps are for baremetal service-based/package install of openshift. There may be minor changes/additions in case of containerized openshift clusters. This still needs dev docs - which is what the issue intends to track.

[2018-06-28 04:46] prateekpandey14 commented on #1262
@ev4ern this issue is fixed in upstream with 0.6.0-RC2 release.
You have to pass the `namespace` flag if the volume is not in `default` namespace

[2018-06-28 05:30] Swarnalatha-K commented on #1262
@prateekpandey14  Bit confused in this case. When we run mayactl volume list command, it is listing all the volumes but when we want to check  particular volume info we should include namespace argument. then does it make sense to list volumes with namespace argument? and restrict "mayactl volume list" command to list volumes only default namespace.

[2018-06-28 05:47] prateekpandey14 commented on #1262
@Swarnalatha-K IMO it will be better to add the namespace info of volume with `volume list` command,
which will helps user to get other info related to volume using `volume info` command

[2018-06-28 05:58] prateekpandey14 opened #1645 "Add namespace details with volume list command"
With current code `volume list` command list all the openebs volumes and with there status, it will be helpful if we add namespace info with the same command, which can be used to get the specific info of volume using  `volume info` cmd

[2018-06-28 08:44] ksatchit commented on #1437
Closing this issue based on the updates by @ronakpandya7

[2018-06-28 08:44] #1437 closed

[2018-06-29 08:11] dargasudarshan opened #1647 "A break in connectivity during volume replica sync process causes failure to mount volume."
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:
Steps Performed:
- Deployed percona application with liveness check probe.
- Controller and replica pod came up and running, but application pod remains in 'ContainerCreating' state.
- After sometime application came to running state and liveness probe started.
- Observed controll

[2018-06-29 10:54] utkarshmani1997 commented on #1174
Closed via https://github.com/openebs/maya/pull/251

[2018-06-29 10:54] #1174 closed

[2018-06-29 10:55] ksatchit commented on #596
The dev docs now includes curl package to be added into list of pre-requisites. Closing this issue

[2018-06-29 10:55] #596 closed

[2018-06-29 11:46] gprasath commented on #1230
Closing this issue, as this is not seen now.

[2018-06-29 11:46] #1230 closed

[2018-06-29 13:33] gprasath commented on #1150
PR: https://github.com/openebs/openebs/pull/1547

[2018-06-29 13:33] #1150 closed

[2018-06-29 15:56] #1625 closed

[2018-06-29 22:08] batarian71 opened #1650 "Logo"
Hello. I am a graphic designer. I want to volunteer support for open source projects. If you want, I can design a logo for you. What do you say? Also tell me if you want something. I can design.

[2018-07-05 09:20] gkGaneshR opened #1653 "CStorVolumeReplica resource must be namespace scoped."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
Right now, cvr is cluster scoped. It should be similar to pvc/pv and must be namespace scoped.

**What you expected to happen**:
cstor-pool-mgmt sidecar should be able to watch cvr of other namespaces also and update back the status.

[2018-07-05 12:53] Astha2111 commented on #1650
Hello,
Can you make something for the logo using the mule or with the existing OpenEBS logo? Your choice. Thanks.

[2018-07-05 12:55] batarian71 commented on #1650
Of course sir.

[2018-07-11 06:11] #1388 closed

[2018-07-13 11:04] mahebbar commented on #237
@Rupeshiya When will you be able to work on this?

[2018-07-15 02:52] kmova opened #1661 "Deploy OpenEBS Jiva volume related pods in a user specified namespace"
As a DevOps Architect, I would like to setup my cluster using OpenShift and designate some of the nodes (node-type=infra-storage) where the Replica pods have to be scheduled. Also another standard configuration in OpenShift is to create namespaces and grant access to some users to create pods in that namespace. The pods launched in the namespaces are scheduled to a specific set of nodes ( node-typ

[2018-07-17 11:08] dargasudarshan opened #1663 "mayactl volume info returns 'Unable to fetch volume details, Volume controller's status is 'Running,Running''"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

**What happened**:
- Deployed percona application with liveness check
- Failed one of the node on which only replica pod was scheduled.
- At this point, exec into maya-apiserver to check the access mode of the other replica pods.
[code]
**What you expected to happen**:
mayactl volume info should ret

[2018-07-17 11:13] mahebbar commented on #260
All documents have been moved.

[2018-07-17 11:13] #260 closed

[2018-07-18 14:09] utkarshmani1997 commented on #736
Closed via #1658

[2018-07-18 14:09] #736 closed

[2018-07-18 14:47] kmova commented on #1661
The following configuration parameter is being added in 0.6.1 that can be used for environments that prefer to tie a namespace with nodes.
[code]

[2018-07-19 12:26] ksatchit opened #1673 "OpenEBS operator fails to deploy jiva controller with image specified in the storageclass parameter "openebs.io/jiva-replica-image""
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

**What happened**:

- A percona application was deployed using an openebs storage class with the following specification, with the openebs control plane (maya-apiserver & provisioner) at image version 0.6.0-RC4.

[code]

**What you expected to happen**:

- Expected creation of the jiva controller and replica deployments with openebs/jiva:0.5.

[2018-07-20 04:30] kmova commented on #1246
Update: Though deletion/purge was thought of as a cluster administrator activity. It can become an overhead on the admin in dev/test environments for example... when workloads are short-lived and people want to keep a low admin overhead.

One of the ways to solve this would be to add an option/parameter under storage-class.
[code]

Which will create the pods with option to remove the data director

[2018-07-20 06:34] mahebbar commented on #493
The following note has been added. Since we are specifying Kubernetes availability as a prerequisite, it comes with Docker already.

 Note: Container runtime such as Docker must be installed/available.

[2018-07-20 06:34] #493 closed

[2018-07-20 13:11] payes commented on #1084
https://github.com/openebs/jiva/commit/59b33519b68a85ee573a094d1056367d4bc87130

[2018-07-20 17:30] ksatchit commented on #1202
With the upgrade to latest release 0.6.0 (from 0.5.4), it is observed that the application doesn't crash as early as seen in previous upgrades (*0.4.0/0.5.x - 0.5.y - Here other I/O handling issues in Jiva triggered a volume RO state earlier than the disk timeout, causing a crash*).

This is on account of the controller sending a "Busy" signal from the target side to the client/host - causing it t

[2018-07-23 12:30] #1084 closed

[2018-07-23 12:32] xpowerman opened #1680 "Mayactl show node status running even if physicaly removing files from /var/openebs"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
I have openebs pvc with replicas on 3 nodes. Mayactl stats show that all replicas of pvc running. After that I physicaly remove files from /var/openebs path on one of nodes for testing purposes. But mayactl stats still show that pvc replica on this pod is running with no errors.
**What you expected to happen**:
Mayactl sta

[2018-07-23 12:45] vipulgupta2048 commented on #666
@kmova Great, I think we should close this as well -  https://github.com/openebs/openebs-docs/pull/208
Since it's finished and not needed anymore. We this issue in the finished section of Documentation clean-up

[2018-07-24 05:03] ksatchit opened #1684 "Simplify the executor (bulk/suite run of litmus jobs) by performing ENV setup via a "Install container""
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

**What happened**:

- Currently, the execution of litmus jobs in the "suite" mode involves setting up ansible on the control node with inventory file to access the cluster nodes.

- This is an anti-pattern wrt Litmus, which is supposed to simplify the process of testing stateful workloads.

- This can be resolved by running a "setup" con

[2018-07-24 08:19] ToroNZ commented on #1246
+1

[2018-07-24 08:31] mahebbar commented on #580
Drop down is available for the latest (0.6) and the older version 0.5. When you click on 0.5 it goes to https://v05-docs.openebs.io/ and when you click on Latest it goes to https://docs.openebs.io/

[2018-07-24 08:31] #580 closed

[2018-07-24 08:51] mahebbar commented on #346
@brihijoshi are you still going to work on this?
@Rupeshiya it can be anything from naming conventions (volume vs persistent volume), abbreviations (CAS, SAS...), storage pools, volume replicas and so on with a one line description.

I have created a new https://github.com/openebs/openebs-docs/tree/staging/docs/glossary.md file (work in progress). We can add to the list of existing terms/descripti

[2018-07-25 06:32] mahebbar commented on #496
Closing this issue as README.md: Enhanced #27 is closed.

[2018-07-25 06:32] #496 closed

[2018-07-25 07:12] rtnpro opened #1688 "Pod is not able to mount openebs PVC"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:

During deployment of a pod with RWO PVC from openebs storageclass, it got stuck in `ContainerCreating` stage for ever, because it cannot mount openebs volume.

[code]

Please note that `10.233.27.8` is IP of a service:
[code]
I am able to access `10.233.27.8:3260` from my `k8s` worker nodes:

[code]

[code]

**What you ex

[2018-07-25 09:00] mahebbar commented on #1328
Closing based on Updates to troubleshooting steps for clusters configured with containerized kubelet #77 which is closed.
https://docs.openebs.io/docs/next/tsgpvs.html#CrashLoopBackOff

[2018-07-25 09:00] #1328 closed

[2018-07-25 11:40] rtnpro commented on #1688
@kmova Here you go:

[code]

However, kubespray runs `kubelet` binary instead of in a container.

[code]

Here's the container running on the node:
[code]

[2018-07-25 11:49] kmova commented on #1688
This shows that iscsiadm is able to login from node0 and kubelet is running directly on the node.

Couple of more trouble shooting steps from `node-0`.

[code]

[2018-07-25 11:59] rtnpro commented on #1688
@kmova Here you go:

**[root@node0 ~]# iscsiadm -m node session**

[code]
**[root@node0 ~]# iscsiadm -m node -l**

[code]

**[root@node0 ~]# iscsiadm -m node session**

[code]

**[root@node0 ~]# iscsiadm -m node -u**

[code]

**[root@node0 ~]# iscsiadm -m node session**

[code]

**kubectl logs -f -n redis pvc-a036d681-8fd4-11e8-ad96-de1a202c9007-ctrl-6c77c545d9-zsl9v pvc-a036d681-8fd4-11e8-ad96-de

[2018-07-25 12:53] rtnpro commented on #1688
@kmova I will try out version `0.6` and get back to you.

[2018-07-25 16:11] rtnpro commented on #1688
@kmova I updated the openebs setup to `0.6.0` tag, cleaned up my redis setup and deployed it afresh. Still redis-master pod is failing to mount openebs volume as mentioned above.

[code]

**kubectl describe storageclass openebs-db**

[code]

[2018-07-26 05:18] kmova commented on #1688
```executable file not found in $PATH``` does indicate issue with the initiator. Can you share the output of this command please. `lsmod`

I may have to setup this locally to further debug. I will use the gist you provided above.

[2018-07-26 13:02] rtnpro commented on #1688
@kmova Here's the output for `lsmod` on `nod0`:

[code]

[2018-07-27 08:08] gkGaneshR opened #1698 "Use cstorvolume name instead of uids and modify error log"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

**What happened**:
cstorvolume uid is being used for zfs volume name.

**What you expected to happen**:
cstorvolume name needs to be used for zfs volumes. Also log messages for checkForCrd needs to be modified to include actual error from k8s.
Reference: https://docs.google.com/document/d/1Q5W3

[2018-07-30 07:06] rtnpro commented on #1688
@kmova @payes Any update on this?

[2018-07-31 17:06] indranarayan12 opened #1708 "on a virtual machine the first line in the installation section needs to be preceded by ```sudo``` and the terminal doesn't give a dialog to use it."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-07-31 19:00] inyee786 opened #1709 "[Google cloud] No nodes are available that match all of the predicates: MatchInterPodAffinity (2)."
Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
pvc is not created, Status of pvc replica is `pending state`

**What you expected to happen**:
it must be in running state

**Anything else we need to know?**:
i have created  `namespace=test-mongo`, where i had applied the sc and i am running demo mongo

**Environment**:
[code]

[2018-08-01 05:10] kmova commented on #1709
@inyee786 -- how many nodes are there in your cluster? How is the resource usage?

[2018-08-01 07:33] inyee786 commented on #1709
i have two nodes in my cluster

[2018-08-01 12:55] #1709 closed

[2018-08-01 13:06] #1479 closed

[2018-08-01 13:06] #1366 closed

[2018-08-01 13:06] #1543 closed

[2018-08-01 13:06] #1653 closed

[2018-08-01 13:06] #1698 closed

[2018-08-06 12:48] gkGaneshR opened #1730 "Handle two CR events by suppression approach"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: FEATURE REQUEST
When two consecutive events are received, sidecar cannot completely ignore the second event, instead can prevent from getting propagated to CRs.

[2018-08-12 17:42] prateekpandey14 opened #1761 "Extend mayactl CLI to work with CAS based volume provisioning"
FEATURE REQUEST

**What happened**:
Mayactl command needs enhancement to work with CAS template based volume provisioning.
There are some new API changes which are needed a change in client side implementation of mayactl

[2018-08-26 15:39] #1761 closed

[2018-08-30 06:18] nsathyaseelan opened #1874 "Mayactl command fails intermittently"
## Is this a BUG REPORT or FEATURE REQUEST?

`mayactl volume list` command fails to fetch the volumes list.

Command executed:
kubectl exec -it maya-apiserver-b4ffc578d-jf6v5 -n openebs -- mayactl volume list
Error seen:
Unable to use a TTY - input is not a terminal or the right kind of file\nServer status error: Internal Server Error\ncommand terminated with exit code 1", "stderr_lines": ["Unable

[2018-08-30 07:13] nsathyaseelan commented on #1874
Here is the log collected through stren.
[replica_quorum_failure_test.log](https://github.com/openebs/openebs/files/2334919/replica_quorum_failure_test.log)

[2018-08-30 07:34] dargasudarshan commented on #1874
[maya.log](https://github.com/openebs/openebs/files/2335098/maya.log)
@prateekpandey14 Please find the attached maya-server logs

[2018-09-06 10:20] princerachit opened #1886 "Cstor volume target deployment stuck in Terminating state"
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

**What happened**:
- Deleted a PVC of openebs. Volume type is CStor.
- The target deployment is stuck in terminating phase.
- All other resources corresponding to that volume.

**What you expected to happen**:
- Target deployment gets deleted successfully

**How to reproduce it (as minimally and precisely as possible)**:
- Create a cstor vo

[2018-09-07 02:41] #1730 closed

[2018-09-10 06:09] dargasudarshan opened #1896 "kubectl delete -f openebs-operator.yaml is not deleting the SPC's, CSP's and SP's."
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

**What happened**:
- kubectl delete -f openebs-operator.yaml is not deleting the SPC's, CSP's and SP's.

**What you expected to happen**:
- The spc's csp's and sp's should be deleted on deleting the openebs-operator.yaml
- This is causing the next set of cstor sparse pool pods to remain in pending s

[2018-09-10 06:11] dargasudarshan commented on #1896
Possible Workaround:

Manually delete the spc's csp's and sp's

``` kubectl delete spc,csp,sp --all ```

[2018-09-10 11:14] ronakpandya7 opened #1899 "Support for ReadOnlyMany Access mode in openebs-iSCSI provisioner"
Hello,

We are using openebs(version 0.6) with  provisioner `iSCSI` and deployed it in kubernetes version 1.10.5.

We created one pvc with access mode "ReadWriteOnce", and it is working fine.
Now we want to read data from the same PVC that we created earlier, so we come to know under this [link](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) from the table of content

[2018-09-11 05:36] dargasudarshan opened #1901 "OpenEBS Namespace remains in 'Terminating' state intermittently due to stale cStor Volume Replicas (CVR)"
## Is this a BUG REPORT or FEATURE REQUEST?

 Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

**What happened**:
- During un-installation of OpenEBS, observed that OpenEBS Namespace remains in 'Terminating' state due to stale cStor Volume Replicas (CVR).
Note: This issue is seen intermittently.

**What you expected to happen**:
- OpenEBS un-installation should be seamless all the stale cvr's

[2018-09-14 03:31] sachinmukherjee commented on #796
Is this issue open?

[2018-09-14 03:32] sachinmukherjee commented on #794
Is this issue open?

[2018-09-14 17:40] alexanderzimmer commented on #1688
@kmova @payes I'm facing the same issue.

[2018-09-16 06:11] vitalka200 opened #1907 "PV not provisioned with "xfs" filesystem."
Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

**What happened**:
PV not provisioned with "xfs" filesystem.

**What you expected to happen**:
PV provisioned with an "xfs" filesystem

**How to reproduce it (as minimally and precisely as possible)**:
Deploy latest openebs-operator (0.7.0) from "openebs-operator.yaml".
Deploy StorageClass with
[code]
Provision volume with newly created storage

[2018-09-17 05:07] kmova commented on #1907
Thank you @vitalka200 for finding this issue. There was indeed an issue with maya-apiserver fetching the value of FSType from storage class.

maya-apiserver expected the FSType was expected to be available as volume (controller) pod annotation, but it was being set only as annotation on volume (controller) deployment. The fix will be to update the annotation in the correct place and will be taken

[2018-09-17 05:30] vitalka200 commented on #1907
Thank you @kmova. Working as expected. Is there any date when to expect the 0.7.1 release to be available?

[2018-09-17 05:33] kmova commented on #1907
Thank you for the quick confirmation  @vitalka200! 0.7.1 planned for end of this week.

[2018-09-17 05:43] vitalka200 commented on #1907
Great. Thank you again.
Closing issue

[2018-09-17 05:43] #1907 closed

[2018-09-18 12:01] #1312 closed

[2018-09-18 12:05] kmova commented on #1271
Fixed in 0.6: https://github.com/openebs/maya/pull/381

[2018-09-18 12:05] #1271 closed

[2018-09-18 12:09] kmova commented on #1309
https://github.com/openebs/maya/pull/460: added EvictionTolerations policy that default to above tolerations.

[2018-09-18 12:09] #1309 closed

[2018-09-18 12:11] kmova commented on #1285
https://github.com/openebs/maya/pull/496 : added Replica and Target ResourceRequest and ResourceLimit related policies

[2018-09-18 12:11] #1285 closed

[2018-09-18 12:13] kmova commented on #1307
https://github.com/openebs/maya/pull/509 : adds required CRDs as part of openebs installation.

[2018-09-18 12:13] #1307 closed

[2018-09-18 12:16] kmova commented on #1318
https://github.com/openebs/maya/pull/509 : adds required CRDs as part of openebs installation.
https://github.com/openebs/maya/pull/496 : adds the runtasks (configmaps) related to cas templates

[2018-09-18 12:16] #1318 closed

[2018-09-18 12:46] kmova commented on #613
The changes made to openebs/dashboard have been upstreamed. There is no need to work on this issue anymore.

[2018-09-18 12:46] #613 closed

[2018-09-18 13:54] kmova commented on #1308
Need to look at the volume topology related changes to see if the scheduled node of the pod details can be obtained and passed as a policy to schedule the target pod onto the same node.

[2018-09-18 14:45] kmova commented on #1356
With 0.7, ReplicNodeSelector and TargetNodeSelector policies are supported.

[2018-09-18 14:45] #1356 closed

[2018-09-18 15:02] kmova commented on #1246
Added the API to perform the delete in jiva ( https://github.com/openebs/jiva/pull/114 ). Need to work on the related workflow through storage policy.

[2018-09-18 15:05] kmova commented on #1246
An alternative approach to purging this data could be to launch a job post the PV delete like: kubernetes-incubator/external-storage#711

[2018-09-18 15:06] kmova commented on #1424
Covered as part of https://github.com/openebs/openebs/issues/1246

[2018-09-18 15:06] #1424 closed

[2018-09-18 15:14] kmova commented on #811
Till 1.0 of openebs, we go with the assumption that both maya-apiserver and provisioner are in the same version.

[2018-09-18 15:14] #811 closed

[2018-09-18 15:19] kmova commented on #810
As part of 0.7 refactoring to use CAS based provisioning, capacity is sent using the types structured shared between -- maya-apiserver and provisioner.

[2018-09-18 15:19] #810 closed

[2018-09-18 15:31] kmova commented on #1177
https://github.com/openebs/maya/pull/437 upgrades to v8.0.0

[2018-09-18 15:36] kmova commented on #1165
The RunTasks of the CAS Template engine in 0.7 now support saving the results.

[2018-09-18 15:36] #1165 closed

[2018-09-18 15:41] kmova commented on #867
ReplicaNodeSelector introduced in 0.7,  can be used to specify the nodes on which replicas will be scheduled.

[2018-09-18 15:41] #867 closed

[2018-09-18 15:43] kmova commented on #612
changes in openebs/dashboard have been merged upstream and no local changes are planned.

[2018-09-18 15:43] #612 closed

[2018-09-18 15:49] kmova commented on #453
Further resiliency related tests have been included as part of 0.6 and 0.7.

Keeping this issue open to track the breaking down of the tests into different files (modularizing)

[2018-09-19 04:46] dargasudarshan commented on #1410
This issue is resolved in 0.7.0

[2018-09-19 04:46] #1410 closed

[2018-09-19 04:46] dargasudarshan commented on #1563
This issue is fixed in 0.7.0

[2018-09-19 04:46] #1563 closed

[2018-09-19 04:49] dargasudarshan commented on #1561
This issue is resolved in 0.7.0

[2018-09-19 04:49] #1561 closed

[2018-09-19 04:50] dargasudarshan commented on #1383
This issue is fixed in 0.7.0

[2018-09-19 04:50] #1383 closed

[2018-09-19 04:58] nsathyaseelan commented on #1874
This issue will not be seen in 0.7.0.

[2018-09-19 04:58] #1874 closed

[2018-09-20 15:06] kmova opened #1910 "cStor pool creation failing when there are partitions on the disk."
cStor pool creation failing with the following error message:
[code]
sdb and sdc are used for pool.

[code]

[2018-09-20 17:20] Pencerval commented on #1910
I was able to fix this issue.
Previous state on sdb:
[code]
After running:
`(parted) mklabel gpt`

[code]

On sdc:
[code]
After rebooting the node, I can create a pool on those disk.

Thanks for the support.

[2018-09-21 06:40] rgembalik opened #1911 "Bigger snapshot should not be allowed to restore into smaller PVC."
## This is a BUG REPORT
**What happened**:
Following this guide: https://docs.openebs.io/docs/next/snapshots.html
I created volumesnapshot of PVC that which had 10Gi. Once data was available I restored it into a 5Gi PVC (simply by mistake). The data on the PVC was in total no more than 1Gb.
The PVC was created, but it didn't sync well and my test pod that tried to mount it was stuck in Creating st

[2018-09-21 12:30] Pencerval commented on #1910
I've faced the same issue in other node.
The approach and solution was different:

[code]
Cleaning those entries fixes the problem!
Thanks!

[2018-09-24 06:41] Akash4927 opened #1912 ""system:serviceaccount:openebs:openebs-maya-operator" cannot update customresourcedefinitions.apiextensions.k8s.io at the cluster scope"
## Is this a BUG REPORT or FEATURE REQUEST?

## BUG REPORT

**What happened**:
[code]
**What you expected to happen**:
`maya-api-server` should be in  running state

**How to reproduce it (as minimally and precisely as possible)**:
I observed that on resizing the GKE cluster, `maya-api-server` goes into `CrashLoopBackOff` state.
**Anything else we need to know?**:
Output of `kubectl logs -f maya-a

[2018-09-24 06:45] kmova commented on #1912
@Akash4927 - how was openebs installed? Check the version is it 0.7-RC builds or 0.7?

[2018-09-24 06:58] Akash4927 commented on #1912
I applied `openebs-operator.yaml` and `openebs-storageclasses.yaml` from master branch using `admin-context` of my cluster.

[code]

[code]

[2018-09-29 04:08] princerachit commented on #1886
@kmova This issue has been resolved with https://github.com/openebs/maya/pull/512 PR. Shall we close this issue?

[2018-09-29 04:16] princerachit commented on #1911
If the size of snapshot is less than pvc, shouldn't restoring be supported? @vishnuitta @kmova.

Alternative approach would be to error out as the user says.

[2018-09-29 04:44] princerachit opened #1914 "Write unit test for openebs/pkg/provisioner/cas_provision.go"
Write UT for [cas_provision.go](https://github.com/openebs/external-storage/blob/release/openebs/pkg/provisioner/cas_provision.go).

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference on how w

[2018-09-29 04:58] rgembalik commented on #1911
@princerachit If you are referring to the data size on the PVC, then yes, I think that would be ideal. To be honest I kind of was hoping for it once I recognized my error.

[2018-09-29 05:00] princerachit opened #1915 "Write unit test for openebs/pkg/volume/v1alpha1/volume.go"
Write UT for [volume.go](https://github.com/openebs/external-storage/blob/release/openebs/pkg/volume/v1alpha1/volume.go).

If you find it difficult to write ut for this file let us know. We will create another issue to refactor the file to make it testable.

Please comment if you want to be assigned for this issue.

Help links:
[contributors guide](https://github.com/openebs/openebs/blob/master/CO

[2018-09-29 05:23] princerachit opened #1916 "Write UT for openebs/types/v1/env.go"
Write UT for [env.go](https://github.com/openebs/external-storage/blob/release/openebs/types/v1/env.go).

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference on how we write UT](https://github.

[2018-09-29 05:50] princerachit opened #1917 "Add more unit tests in cmd/cstor-pool-mgmt/controller/replica-controller/handler_test.go"
Add missing UT for functions/methods in [handler.go](https://github.com/openebs/maya/blob/master/cmd/cstor-pool-mgmt/controller/replica-controller/handler.go).

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit

[2018-09-29 05:53] princerachit opened #1918 "Add more unit tests in cmd/cstor-pool-mgmt/controller/replica-controller/run_replica_controller_test.go"
Add missing UT for functions/methods in [run_replica_controller.go](https://github.com/openebs/maya/blob/master/cmd/cstor-pool-mgmt/controller/replica-controller/run_replica_controller.go).

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.al

[2018-09-29 06:03] princerachit opened #1919 "Add more unit tests in cmd/cstor-pool-mgmt/controller/replica-controller/new_replica_controller_test.go"
Add missing UT for functions/methods in [new_replica_controller.go](https://github.com/openebs/maya/blob/master/cmd/cstor-pool-mgmt/controller/replica-controller/new_replica_controller.go).

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.al

[2018-09-29 07:02] ashishranjan738 opened #1920 "Add mayactl verify command to verify to verify openebs components"
Mayactl should have a verify command which can be used as a health check for all openebs components.This command can be used to debug failures in openebs components like apiserver, provisioner, ndm, ndm and snapshot-operator and provide some useful information to fix unit.

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openeb

[2018-09-29 08:18] sonasingh46 commented on #1920
@ashishranjan738
Can you provide some more details regarding the issue with a possible example.
cc @satyamz @AmitKumarDas @kmova

[2018-09-29 08:42] sonasingh46 opened #1921 "Fix typo in volume_info.go"
Following is the go file which contains a typo :

[volume_info.go](https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volume_info.go).
"received" is misspelt as "recieved"
Help Links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-29 10:49] cTxplorer commented on #1921
Can you assign this issue to me?

[2018-09-29 12:54] sonasingh46 commented on #1921
Great! You can go ahead and do it. @cTxplorer

[2018-09-29 18:17] swetax commented on #1916
@princerachit Can you please assign this to me ?

[2018-09-30 03:50] princerachit commented on #1914
@swetax go ahead!

[2018-09-30 04:01] farhaanbukhsh commented on #1919
Hey I would like to work on it how can I get started? Also it would be great if you can assign it to me.

[2018-09-30 04:55] ulshell commented on #1921
Please assign me the task to fix this issue

[2018-09-30 06:37] #1498 closed

[2018-09-30 06:49] #1428 closed

[2018-09-30 06:49] #1407 closed

[2018-09-30 06:50] #1339 closed

[2018-09-30 06:52] princerachit commented on #1247
What is the status of this issue @meghna-singh ?

[2018-09-30 07:04] ksatchit commented on #1252
The ansible playbooks to create GKE clusters is now available in Litmus here: https://github.com/openebs/litmus/tree/master/k8s/gke/k8s-installer

Also, there are terraform templates to do this: https://github.com/openebs/openebs/tree/master/e2e/terraform/gke

[2018-09-30 07:04] #1252 closed

[2018-09-30 07:28] ksatchit commented on #1194
- This is available here: https://openebs.ci/ (The dashboard is under development & may see features added)
- In addition to the above, there is a centralized dashboard with links to individual dashboards showing status of  popular workloads running with OpenEBS storage. These workloads are updated with the latest stable versions of OpenEBS when available as part of a Continuous Deployment pipelin

[2018-09-30 07:28] #1194 closed

[2018-09-30 07:30] ksatchit commented on #1053
This is available here: https://github.com/openebs/openebs/tree/master/e2e/ansible/playbooks/hyperconverged/test-resize-jiva-volume

[2018-09-30 07:30] #1053 closed

[2018-09-30 07:46] ksatchit commented on #466
The OpenEBS CI is transitioning towards a gitlab-based framework, with the tests run as litmus jobs. While the jenkins-based CI (running on gke) will continue for the near future until the gitlab-based CI becomes stable, any planned enhancements will take place in the latter.

With the gitlab CI, a separate gitlab runner pod runs the test with jobs being scheduled parallely in any given stage.

Cl

[2018-09-30 07:46] #466 closed

[2018-09-30 07:51] ksatchit commented on #436
cc: @dargasudarshan @yudaykiran for guidance ! (added Hacktoberfest tag!)

[2018-09-30 08:00] sachinmukherjee commented on #1917
I would like to work in this issue.

[2018-09-30 08:34] princerachit commented on #1917
Sure @sachinmukherjee you can work on this issue. Also do join slack channel(in description) for any help.

[2018-09-30 08:35] ashishranjan738 opened #1922 "Add UT for method Version(version string) version"
Add missing UT for  [method Version(version string) version
](https://github.com/openebs/maya/blob/master/pkg/install/v1alpha1/version.go).

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference

[2018-09-30 08:38] ashishranjan738 opened #1923 "Add UT for volume_list.go in mayactl"
Add missing UT for  [volume_list.go](https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volumes_list.go).

Please comment if you want to be assigned for this issue.

Help links:
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)
[Guide to write unit tests in golang](https://blog.alexellis.io/golang-writing-unit-tests/)
[Reference on how we write U

[2018-09-30 09:42] sonasingh46 opened #1924 "Fix lint for constant.go file"
Following file has a lint issue:
[maya/types/v1/constant.go](https://github.com/openebs/maya/blob/master/types/v1/constant.go#L22)

The lint  issue is :
comment on exported const InfoAPI should be of the form "InfoAPI ..."

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:04] sonasingh46 opened #1925 "Fix go lint in iscsi.go"
Following file has a lint issue:
[maya/cmd/maya-agent/app/command/iscsi.go](https://github.com/openebs/maya/blob/master/cmd/maya-agent/app/command/iscsi.go#L7)
The lint  issue is :
 comment on exported function NewCmdIscsi should be of the form "NewCmdIscsi ..."

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:07] sonasingh46 opened #1926 "Fix go lint in storagepool_template_engine.go"
Following file has a lint issue:
[maya/pkg/storagepool/storagepool_template_engine.go](https://github.com/openebs/maya/blob/master/pkg/storagepool/storagepool_template_engine.go#L17)

The lint  issue is :
package comment should be of the form "Package storagepool ..."
Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:10] sonasingh46 opened #1927 "Fix go lint in jiva.go"
Following file has a lint issue:
[maya/volume/provisioners/jiva/jiva.go](https://github.com/openebs/maya/blob/master/volume/provisioners/jiva/jiva.go#L1)

The lint  issue is :
package comment should be of the form "Package jiva ..."

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:20] sonasingh46 opened #1928 "Fix golint from util.go"
Following is the file with line numbers having lint error:
[maya/pkg/util/util.go](https://github.com/openebs/maya/blob/master/pkg/util/util.go)
[Line 32](https://github.com/openebs/maya/blob/master/pkg/util/util.go#L32):  error var MAPIADDRNotSet should have name of the form ErrFoo
[Line 33](https://github.com/openebs/maya/blob/master/pkg/util/util.go#L33): error var InternalServerError should ha

[2018-09-30 10:23] sonasingh46 opened #1929 "Fix golint in exporter.go"
Following is the link to file where lint error is present :
[maya/cmd/maya-exporter/app/command/exporter.go](https://github.com/openebs/maya/blob/master/cmd/maya-exporter/app/command/exporter.go#L1)

Lint Issue :
package comment should be of the form "Package command ..."

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:27] sonasingh46 opened #1930 "Fix golint in cas_template_engine.go"
Following are lint issues :
[Line 279](https://github.com/openebs/maya/blob/master/pkg/engine/cas_template_engine.go#L279): comment on exported method CASEngine.Create should be of the form "Create ..."
[Line 289](https://github.com/openebs/maya/blob/master/pkg/engine/cas_template_engine.go#L289):  comment on exported method CASEngine.Delete should be of the form "Delete ..."
[Line 294](https://gi

[2018-09-30 10:33] sonasingh46 opened #1931 "Fix golint in from_yaml.go"
Following lint issues should be fixed :
[Line 17](https://github.com/openebs/maya/blob/master/pkg/k8s/from_yaml.go#L17): package comment should be of the form "Package k8s ..."
[Line 38](https://github.com/openebs/maya/blob/master/pkg/k8s/from_yaml.go#L38):  exported function NewDeploymentYml should have comment or be unexported
[Line 81](https://github.com/openebs/maya/blob/master/pkg/k8s/from_ya

[2018-09-30 10:37] sonasingh46 opened #1932 "Fix typo in cstor_volume_0.7.0.go"
Following is the typo error in file :
[Line 554](https://github.com/openebs/maya/blob/master/pkg/install/v1alpha1/cstor_volume_0.7.0.go#L554): "preceeding" is a misspelling of "preceding" (misspell)

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:39] sonasingh46 opened #1933 "Fix typo in jiva_volume_delete.go"
Following is the typo error in file :
[Line 78](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/jiva_volume_delete.go#L78): "occured" is a misspelling of "occurred" (misspell)

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:41] sonasingh46 opened #1934 "Fix typo in runtask_command.go"
Following is the tyhttps://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/runtask_command.go#L407po error in file :
[Line 171](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/runtask_command.go#L171): "occured" is a misspelling of "occurred" (misspell)
[Line 407](url):  "occured" is a misspelling of "occurred" (misspell)

Help Links :
[Contributors guide](https://github.com/op

[2018-09-30 10:45] sonasingh46 opened #1935 "Fix typo in template.go"
Following is the typo error:
[Line 558](https://github.com/openebs/maya/blob/master/pkg/template/template.go#L558):  "overriden" is a misspelling of "overridden" (misspell)

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:55] sonasingh46 opened #1936 "Fix typo in template_test.go"
Following typo error should be fixed:
[Line 2136](https://github.com/openebs/maya/blob/master/pkg/template/template_test.go#L2136):  "seperator" is a misspelling of "separator" (misspell)
[Line 2141](https://github.com/openebs/maya/blob/master/pkg/template/template_test.go#L2141): "seperator" is a misspelling of "separator" (misspell)
[Line 2161](https://github.com/openebs/maya/blob/master/pkg/tem

[2018-09-30 10:57] gunjan01 commented on #1932
@sonasingh46 Can i take this up ? Please assign the issue to me.

[2018-09-30 10:58] sonasingh46 opened #1937 "Fix typo in handler_test.go"
Following typo error should be fixed:
[Line 224](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/handler_test.go#L224):"beacuse" is a misspelling of "because" (misspell)

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 10:59] sonasingh46 commented on #1932
@gunjan01
Sure... Please go ahead.

[2018-09-30 11:00] sonasingh46 commented on #1921
@cTxplorer If you are taking up this issue, please give a heads up!
@ulshell Can you please take up another issue.

[2018-09-30 11:04] sonasingh46 opened #1938 "Fix typo in jiva_volume_0.7.0.go"
Following typo error should be fixed
[Line 150](https://github.com/openebs/maya/blob/master/pkg/install/v1alpha1/jiva_volume_0.7.0.go#L150):"anythign" is a misspelling of "anything" (misspell)

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md)

[2018-09-30 11:07] sonasingh46 opened #1939 "Fix typo in util.go"
Following typo error should be fixed :
[Line 1301](https://github.com/openebs/maya/blob/master/types/v1/util.go#L1301): "substracted" is a misspelling of "subtracted" (misspell)
[Line 1320](https://github.com/openebs/maya/blob/master/types/v1/util.go#L1320): "substraction" is a misspelling of "subtraction" (misspell)

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob/master

[2018-09-30 11:09] sonasingh46 opened #1940 "Fix typo in volume_info.go"
Following typo error should be fixed:
[Line 109](https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volume_info.go#L109):  "recieved" is a misspelling of "received" (misspell)
[Line 259](https://github.com/openebs/maya/blob/master/cmd/mayactl/app/command/volume_info.go#L259):  "avaiable" is a misspelling of "available" (misspell)

Help Links :
[Contributors guide](https://github.c

[2018-09-30 11:11] sonasingh46 opened #1941 "Fix typo in util.go"
Following typo error should be fixed:
[Line 458](https://github.com/openebs/maya/blob/master/orchprovider/k8s/v1/util.go#L458): "targetted" is a misspelling of "targeted" (misspell)
[Line 462](https://github.com/openebs/maya/blob/master/orchprovider/k8s/v1/util.go#L462): "targetted" is a misspelling of "targeted" (misspell)

Help Links :
[Contributors guide](https://github.com/openebs/openebs/blob

[2018-09-30 11:17] sonasingh46 opened #1942 "Fix golint in json_path.go"
Following lint error should be fixed:
[Line 23](https://github.com/openebs/maya/blob/master/pkg/jsonpath/v1alpha1/json_path.go#L23): should not use dot imports (golint)
[Line 36](https://github.com/openebs/maya/blob/master/pkg/jsonpath/v1alpha1/json_path.go#L36): exported function Selection should have comment or be unexported (golint)
[Line 65](https://github.com/openebs/maya/blob/master/pkg/json

[2018-09-30 11:23] sonasingh46 opened #1943 "Fix golint in runtask_command.go"
Following lint errors should be fixed:
[Line 22](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/runtask_command.go#L22): should not use dot imports (golint)
[Line 31](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/runtask_command.go#L31): exported const DeleteCommandAction should have comment (or a comment on this block) or be unexported (golint)
[Line 46](https://git

[2018-09-30 11:27] cTxplorer commented on #1921
@sonasingh46, generally speaking, +1 to the comment works? Or am I supposed to write thumbs up comment?

[2018-09-30 11:28] cTxplorer commented on #1921
I would make PR by tonight or latest by tomorrow morning :)

[2018-09-30 11:29] sonasingh46 commented on #1921
A confirmation comment would be great.
Thanks @cTxplorer

[2018-09-30 11:32] Atul9 commented on #1941
@sonasingh46 I have opened up a PR for this - https://github.com/openebs/maya/pull/533

[2018-09-30 14:29] sonasingh46 commented on #1940
You need to raise PR against upstream. @ulshell

[2018-09-30 15:36] fdmarcin commented on #1936
Hi, I would like to fix this.

[2018-09-30 15:37] fdmarcin commented on #1935
Hi, I would like to fix this.

[2018-09-30 15:37] fdmarcin commented on #1937
Hi, I would like to fix this.

[2018-09-30 15:39] sonasingh46 commented on #1937
@fdmarcin
Sure. Please go ahead.

[2018-09-30 15:51] sonasingh46 commented on #1935
@fdmarcin
Thank you.
You can raise PR for one of the issue that we assigned to you and then you can take this up.

[2018-09-30 15:53] sonasingh46 commented on #1936
@fdmarcin
Thank you.
You can raise PR for one of the issue assigned to you and then you can take this up.

[2018-09-30 15:53] sonasingh46 commented on #1941
Thank you @Atul9
Reviewers will be on your PR soon.

[2018-09-30 16:18] arshadkazmi42 commented on #1939
@sonasingh46 Taking this up. Will submit a PR in sometime.

[2018-09-30 16:19] sonasingh46 commented on #1939
Thank you @arshadkazmi42
Go ahead.

[2018-09-30 18:17] sark01 commented on #1934
Taking up this issue.

[2018-09-30 18:53] arshadkazmi42 commented on #1939
Created a PR at [openebs/maya#539](https://github.com/openebs/maya/pull/539)

[2018-09-30 19:08] sonasingh46 commented on #1934
@sark01
Sure! Please go ahead.

[2018-09-30 19:41] moogacs commented on #1941
I have add the fixes without signed off , are that is ok ?

[2018-09-30 19:50] NaveenBellary commented on #1930
@sonasingh46, I'll be taking this up. Will raise a PR in sometime

[2018-09-30 19:55] Akash4927 commented on #1930
@NaveenBellary Thanks for the PR

[2018-09-30 19:59] ramitsawhney27 commented on #1938
@sonasingh46 Hi, I'd like to take this issue up.

[2018-09-30 20:11] sonasingh46 commented on #1938
@ramitsawhney27
Sure. Please go ahead.

[2018-09-30 20:14] NaveenBellary commented on #1929
@sonasingh46, Can you provide more info as to what the command package does so that I can include it in the package comment?

[2018-09-30 20:40] NaveenBellary commented on #1928
@sonasingh46, I'll take this up

[2018-09-30 20:45] knrt10 commented on #1943
I would like to work on this issue

[2018-09-30 20:52] Akash4927 commented on #1943
@knrt10
Sure, please go ahead.

[2018-09-30 20:52] NaveenBellary commented on #1924
@sonasingh46, I'll take this up

[2018-09-30 21:32] rafa-acioly commented on #1942
can i take this one @sonasingh46 ?

[2018-09-30 22:58] yo-ga commented on #1925
@sonasingh46 I would like to fix it.

[2018-09-30 23:39] sonasingh46 commented on #1925
@yo-ga
Sure!Go ahead.

[2018-09-30 23:40] sonasingh46 commented on #1942
@rafa-acioly
That would be great. Go ahead.

[2018-10-01 00:32] shindakun commented on #1927
I'll grab this one.

[2018-10-01 01:08] benkim0414 commented on #1926
DCO was failed in [openebs/maya#549](https://github.com/openebs/maya/pull/549) because of my wrong configuration.
I reopened a pull request [openebs/maya#550](https://github.com/openebs/maya/pull/550) to fix this issue.

Cheers!

[2018-10-01 01:09] rbo13 commented on #1931
@sonasingh46, can I take this issue buddy?

[2018-10-01 01:09] ashishranjan738 commented on #1941
No @moocgas sign-off is required

[2018-10-01 01:12] ashishranjan738 commented on #1931
Ya sure @rbo13 go ahead.

[2018-10-01 01:16] rbo13 commented on #1931
Thanks :)

[2018-10-01 01:44] rbo13 commented on #1931
Created a PR for this issue: https://github.com/openebs/maya/pull/551

[2018-10-01 02:18] theramis commented on #1935
Hi,
I would like to fix this

[2018-10-01 02:45] Akash4927 commented on #1927
@shindakun Thanks for the PR

[2018-10-01 03:57] sccalabr commented on #1586
I'll take this.

[2018-10-01 05:36] #1941 closed

[2018-10-01 05:41] #1938 closed

[2018-10-01 05:42] #1939 closed

[2018-10-01 05:43] #1933 closed

[2018-10-01 05:50] #1935 closed

[2018-10-01 05:56] #1930 closed

[2018-10-01 06:31] Pensu commented on #1922
@ashishranjan738 I can take this up, will send  a PR. One clarification, there is already a version_test.go, so I will just add the TestVersion() to that file only, right?

[2018-10-01 06:36] princerachit commented on #1922
@Pensu you can take up this issue. You only have to add test function in the existing `_test` file.

[2018-10-01 07:15] #1925 closed

[2018-10-01 07:42] glatteis commented on #1929
Well, If I'm correct on this the comment is just wrong... It should just say "Package command" instead of "Package exporter", as the package is command and the file is called exporter.

[2018-10-01 09:28] Akash4927 commented on #1923
@knrt10 Sure, please go ahead

[2018-10-01 09:35] #1934 closed

[2018-10-01 09:35] #1936 closed

[2018-10-01 09:37] #1924 closed

[2018-10-01 10:02] NaveenBellary commented on #1929
I thought the same. But then wondered if the comment was written for exporter and package was added by mistake. Wanted to check if that was the case. Nevertheless, raised [#562](https://github.com/openebs/maya/pull/562)

[2018-10-01 10:39] princerachit commented on #1915
@nawedx You can start working on this issue. And don't forget to join #hacktoberfest2018 channel on openebs slack for any help or discussions.

[2018-10-01 13:10] cTxplorer commented on #1940
@sonasingh46 How can I sign-off DOC from the website itself? Or do I need to do it from console itself?

[2018-10-01 13:21] rafa-acioly commented on #1942
done @sonasingh46 https://github.com/openebs/maya/pull/563

[2018-10-01 13:30] achiv opened #1944 "Fix typo in handler_test.go"
Following typo errors should be fixed:
[Line 33](https://github.com/openebs/maya/blob/8db9da45ef236603fcd20672329f6f702f54d247/cmd/maya-apiserver/spc-watcher/handler_test.go#L33) : "wether" is a misspelling of "whether" (misspell)
[Line 48](https://github.com/openebs/maya/blob/8db9da45ef236603fcd20672329f6f702f54d247/cmd/maya-apiserver/spc-watcher/handler_test.go#L48) : "storagepoolcalim" is a mis

[2018-10-01 13:43] #1937 closed

[2018-10-01 14:46] kochurovro commented on #1944
Kindly Check it https://github.com/openebs/maya/pull/567

[2018-10-01 14:54] #1921 closed

[2018-10-01 14:54] #1940 closed

[2018-10-01 15:45] codevbus commented on #1918
I'd like to take this one @princerachit

[2018-10-01 15:46] sonasingh46 commented on #1918
@codevbus
Great! Go ahead.

[2018-10-01 15:47] sonasingh46 commented on #1918
Also, you can join #hacktoberfest2018 channel on openebs slack for any help or discussions. @codevbus

[2018-10-01 16:45] jmreicha commented on #1295
@muratkars Can you point me in the right direction for how/where builds happen?  I'd like to take see if I can take a stab at this as part of Octoberfest.

[2018-10-01 17:59] amiteshenoy opened #1946 "Fix grammatical issues in documentation of gokit.md"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

**What happened**:
A few grammatical issues were found in gokit.md

**What you expected to happen**:
Grammatical issues to be fixed

**How to reproduce it (as minimally and precisely as possible)**:
openebs/contribute/general/gokit.md

**Anything else we need to know?**:

[2018-10-01 17:59] amiteshenoy commented on #1946
Fixing this issue

[2018-10-02 06:04] Akash4927 opened #1948 "Fix golint issue in controller_client.go"
File: [controller_client.go](https://github.com/openebs/maya/blob/master/pkg/client/jiva/controller_client.go)

[code]

[2018-10-02 06:06] Akash4927 opened #1949 "Fix golint issue in replica_client.go"
File: [replica_client.go](https://github.com/openebs/maya/blob/master/pkg/client/jiva/replica_client.go)

[code]

[2018-10-02 06:08] Akash4927 opened #1950 "Fix golint issue in storagebackend.go"
File: [storagebackend.go](https://github.com/openebs/maya/blob/master/cmd/maya-agent/types/v1/storagebackend.go)

[code]

[2018-10-02 06:10] Akash4927 opened #1951 "Fix golint issue in k8s.go"
File: [k8s.go](https://github.com/openebs/maya/blob/master/orchprovider/k8s/v1/k8s.go)

[code]

[2018-10-02 06:12] Akash4927 opened #1952 "Fix golint in math.go"
File: [math.go](https://github.com/openebs/maya/blob/master/types/v1/math.go)

[code]

[2018-10-02 06:13] Akash4927 opened #1953 "Fix golint issues in pool.go"
File: [pool.go](https://github.com/openebs/maya/blob/master/cmd/cstor-pool-mgmt/pool/pool.go)

[code]

[2018-10-02 06:15] Akash4927 opened #1954 "Fix golint issue in template_values.go"
File: [template_values.go](https://github.com/openebs/maya/blob/master/pkg/install/v1alpha1/template_values.go)

[code]

[2018-10-02 06:17] Akash4927 opened #1955 "Fix golint issue in volume.go"
File: [volume.go](https://github.com/openebs/maya/blob/master/pkg/volume/volume.go)

[code]

[2018-10-02 06:17] farhaanbukhsh commented on #1919
Okay so I figured out the file I am just looking into how can write the test for the function.

[2018-10-02 06:18] debck commented on #1953
I would like to work on this

[2018-10-02 06:19] Akash4927 opened #1956 "Fix golint issue in cas_pool.go"
File:  [cas_volume.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/cas_pool.go)

[code]

[2018-10-02 06:21] Akash4927 opened #1957 "Fix golint issue in resource.go"
File: [resource.go](https://github.com/openebs/maya/blob/master/pkg/client/k8s/v1alpha1/resource.go)

[code]

[2018-10-02 06:23] Akash4927 opened #1958 "Fix golint issue in env_setter.go"
File: [env_setter.go](https://github.com/openebs/maya/blob/master/pkg/install/v1alpha1/env_setter.go)

[code]

[2018-10-02 06:24] Akash4927 opened #1959 "Fix golint issue in handler.go"
File: [handler.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/handler.go)

[code]

[2018-10-02 06:25] Akash4927 opened #1960 "Fix golint issue in storagepool_create.go"
File: [storage_pool.go](https://github.com/openebs/maya/blob/master/cmd/maya-apiserver/spc-watcher/storagepool_create.go)

[code]

[2018-10-02 06:26] Akash4927 opened #1961 "Fix golint issue in cas_template_key.go"
File: [cas_template_key.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/cas_template_keys.go)

[code]

[2018-10-02 06:28] Akash4927 opened #1962 "Fix golint issue in env.go"
File: [envs.go](https://github.com/openebs/maya/blob/master/types/v1/envs.go)

[code]

[2018-10-02 06:29] Akash4927 commented on #1953
Thanks @debck for picking the issue.

[2018-10-02 06:30] Akash4927 commented on #1956
Awesome @bombsimon :+1:

[2018-10-02 06:30] Akash4927 commented on #1958
thanks @nhulongctk35 :+1:

[2018-10-02 06:31] Akash4927 commented on #1959
thanks @sark01 :+1:

[2018-10-02 06:32] Akash4927 opened #1963 "Fix golint issue in from_yaml.go"
File: [from_yaml.go](https://github.com/openebs/maya/blob/master/pkg/k8s/from_yaml.go)

[code]

[2018-10-02 06:33] cTxplorer commented on #1952
Sorry, @Akash4927, I forgot to ask fot assignment of the issue. Will make sure to confirm the same in future.

[2018-10-02 06:34] Akash4927 opened #1964 "Fix golint issue in signal_posix.go"
File: [signal_posix.go](https://github.com/openebs/maya/blob/master/pkg/signals/signal_posix.go)

[code]

[2018-10-02 06:36] Akash4927 opened #1965 "Fix golint issue in doc.go"
File: [doc.go](https://github.com/openebs/maya/blob/master/types/doc.go)

[code]

[2018-10-02 06:37] Akash4927 commented on #1952
It's ok, but make sure from next time you ask to assign the issue.

[2018-10-02 06:37] ChrsMark commented on #1964
I would like to fix this please.

[2018-10-02 06:38] Akash4927 commented on #1964
@ChrsMark Thanks, please go ahead

[2018-10-02 06:39] bombsimon commented on #1956
The file you're linking to is in [openebs/maya](https://github.com/openebs/maya) so the PR is to that repository obviously. Also, your link was to [cas_pool.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/cas_pool.go) but the link said [cas_volume.go](#) - assume it was just a typo since the output is from `cas_pool`. You can find the PR [here](https://github.com/opene

[2018-10-02 06:40] Akash4927 opened #1966 "Fix golint issue in volume_template_engine.go"
File: [volume_template_engine.go](https://github.com/openebs/maya/blob/master/pkg/volume/volume_template_engine.go)

[code]

[2018-10-02 06:40] cTxplorer commented on #1950
@Akash4927 Can you assign this issue to me?

[2018-10-02 06:41] Akash4927 commented on #1950
Sure @cTxplorer

[2018-10-02 06:42] gunjan01 commented on #1932
@sonasingh46  PTAL "https://github.com/openebs/maya/pull/569"

[2018-10-02 06:44] qiell opened #1967 "Fix golint issue in jiva_volume_delete.go"
File: [jiva_volume_delete.go](https://github.com/openebs/maya/blob/master/pkg/task/v1alpha1/jiva_volume_delete.go)

[code]

[2018-10-02 06:48] Akash4927 opened #1968 "Fix golint issue in cstor_pool.go"
File: [cstor_pool.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/cstor_pool.go)

[code]

[2018-10-02 06:52] Akash4927 opened #1969 "Fix golint issue in storage_pool_claim.go"
File: [storage_pool_claim.go](https://github.com/openebs/maya/blob/master/pkg/apis/openebs.io/v1alpha1/storage_pool_claim.go)

[code]

[2018-10-02 07:07] Akash4927 commented on #1948
@benkim0414 Please get issue assigned before raising PR.
I am accepting this for now but please make sure from next time you follow the procedure.

[2018-10-02 07:14] Akash4927 commented on #1963
Duplicate of https://github.com/openebs/openebs/issues/1931

[2018-10-02 07:14] #1963 closed

[2018-10-02 07:16] benkim0414 commented on #1948
@Akash4927
Oh sorry. I will definitely do it next time.

[2018-10-02 07:35] RajuKalidindi commented on #1969
@Akash4927  I would like to work on this issue

[2018-10-02 07:36] Akash4927 commented on #1969
@RajuKalidindi Sure, please go ahead

[2018-10-02 07:41] knrt10 commented on #1967
@Akash4927 fixed via [#546](https://github.com/openebs/maya/pull/546)

[2018-10-02 07:48] #1922 closed

[2018-10-02 07:48] namreg commented on #1960
@Akash4927 I would like to work on this issue

[2018-10-02 08:01] Akash4927 commented on #1960
@namreg Please go ahead.

[2018-10-02 08:09] Akash4927 commented on #1966
@lologarithm Please get the issue assigned before raising PR.
I am accepting this for now but please make sure you follow the procedure from next time.

[2018-10-02 08:18] RajuKalidindi commented on #1961
@Akash4927  i would like to work on this

[2018-10-02 08:20] Akash4927 commented on #1961
@RajuKalidindi Please go ahead

[2018-10-02 08:30] cpanato commented on #1965
I will take this one, is that ok @Akash4927 ?

[2018-10-02 08:36] cpanato commented on #1965
PR: https://github.com/openebs/maya/pull/580

[2018-10-02 08:38] lologarithm commented on #1966
Sorry about that -- ill make sure to do that next time.

[2018-10-02 08:42] cpanato commented on #1962
i will take this one as well

[2018-10-02 08:45] cpanato commented on #1962
pr: https://github.com/openebs/maya/pull/582

[2018-10-02 08:57] Akash4927 commented on #1965
Thanks for the PR @cpanato

[2018-10-02 08:57] Akash4927 commented on #1962
Thanks @cpanato

[2018-10-02 09:10] cpanato commented on #1949
I can take this one as well

[2018-10-02 09:12] Akash4927 commented on #1949
@cpanato Sure, please go ahead

[2018-10-02 09:28] albertogviana commented on #1957
Sorry for the two pull requests, but I did not have the sign-off enabled before.

[2018-10-02 09:29] albertogviana commented on #1955
I will take this one.

[2018-10-02 09:38] Akash4927 commented on #1957
@albertogviana thanks for the PR, but please get issue assigned before raising PR

[2018-10-02 09:51] RajatVaryani commented on #1954
@Akash4927 I am working on this.

[2018-10-02 10:14] ashishranjan738 commented on #1954
sure @RajatVaryani u go ahead

[2018-10-02 10:15] ashishranjan738 commented on #1955
sure @albertogviana go ahead

[2018-10-02 10:35] #1948 closed